{{#each .}}
    <div class="search__results__all-results__item">
        <a class="search__results__all-results__item--title h4 link-animation--header js-result-header" href="{{url}}">
            {{title}}
        </a>
        <p class="search__results__all-results__item--description js-result-description">{{excerpt}}</p>
        <a class="search__results__all-results__item--link" href="{{url}}">{{url}}</a>
    </div>
{{/each}}

