{{#each .}}
    <div class="search__results__featured-results__item">
        <a class="search__results__featured-results__item--title h4 link-animation--header" href="{{url}}">
            {{title}}
        </a>
        <a class="search__results__featured-results__item--link d-block" href="{{url}}">{{url}}</a>
    </div>
{{/each}}
