<div data-sly-test="${wcmmode.edit && !wcmmode.preview}" class="aem-helper configure__container">[ ${"Enter Product Data" @ i18n} ]</div>
<sly data-sly-use.productModel="com.juniper.aem.models.ProductModel">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <h2 class="m-4">Juniper Product</h2>
                <div class="card p-4">
                    <h5 class="card-title">Product Name - Long</h5>
                    <p class="card-text">${productModel.title}</p>
                </div>
                <div class="card p-4">
                    <h5 class="card-title">Product Name - Short</h5>
                    <p class="card-text">${productModel.productNameShort}</p>
                </div>
                <div class="card p-4">
                    <h5 class="card-title">Primary Product Category</h5>
                    <p class="card-text">${productModel.productCategory}</p>
                </div>
                <div class="card p-4">
                    <h5 class="card-title">Secondary Product Category</h5>
                    <p class="card-text">${productModel.secondaryProductCategory}</p>
                </div>
                <div class="card p-4">
                    <h5 class="card-title">Product Family</h5>
                    <p class="card-text">${productModel.productFamily}</p>
                </div>
                <div class="card p-4">
                    <h5 class="card-title">Eyebrow</h5>
                    <p class="card-text">${productModel.eyebrow}</p>
                </div>
                <div class="card p-4 rte-content">
                    <h5 class="card-title">Short Description</h5>
                    <p class="card-text">${productModel.shortDescription @context='html'}</p>
                </div>
                <div class="card p-4">
                    <h5 class="card-title">Full Description</h5>
                    <p class="card-text">${productModel.description @context='html'}</p>
                </div>
                <div class="card p-4">
                    <h5 class="card-title">Asset Tags</h5>
                    <p class="card-text">${productModel.tags}</p>
                </div>
                <div class="card p-4">
                    <h5 class="card-title">Feature Tags</h5>
                    <p class="card-text">${productModel.featureTags}</p>
                </div>
                <div class="card p-4">
                    <h5 class="card-title">Primary Datasheet Path</h5>
                    <p class="card-text">${productModel.primaryDataSheet}</p>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="card p-4 my-2">
                    <h5 class="card-title">Primary Product Image</h5>
                    <img class="card-img-top" src="${productModel.imagePath}">
                    <div class="card-body">
                        <h5 class="card-title">Primary Product Image alt text</h5>
                        <p class="card-text">${productModel.altText}</p>
                    </div>
                </div>

                <div class="card p-4 my-2">
                    <h5 class="card-title">Assets</h5>
                    <ul class="list-group" data-sly-list.asset="${productModel.assets}">
                        <li class="list-group-item">
                            <img style="max-width: 40%;" src="${asset.fileReference}">
                            <div class="card-body">
                                <h5 class="card-title">Image alt text</h5>
                                <p class="card-text">${asset.altText}</p>
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="card p-4 my-2">
                    <h5 class="card-title">Key Features</h5>
                    <ul class="list-group" data-sly-list.feature="${productModel.features}">
                        <li class="list-group-item">
                            <div class="card-body">
                                <h4 class="card-title">${feature.title}</h4>
                                <div class="card-text">${feature.value @context='html'}</div>
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="card p-4 my-2">
                    <h5 class="card-title">Benefits</h5>
                    <ul class="list-group" data-sly-list.benefit="${productModel.benefits}">
                        <li class="list-group-item">
                            <div class="card-body">
                                <h4 class="card-title">${benefit.title}</h4>
                                <h5 class="card-title">Short Description:</h5>
                                <div class="card-text my-2 rte-content">${benefit.shortDescription @context='html'}</div>
                                <h5 class="card-title">Long Description:</h5>
                                <div class="card-text my-2 rte-content">${benefit.longDescription @ context='html'}</div>
                                <h5 class="card-title">Benefits Image:</h5>
                                <img style="max-width: 40%;" src="${benefit.imagePath}">
                                <h5 class="card-title">Image Link</h5>
                                <div class="card-text my-2">${benefit.imageLink}</div>
                                <h5 class="card-title">Image alt text</h5>
                                <div class="card-text my-2">${benefit.altText}</div>
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="card p-4 my-2 rte-content">
                    <div class="card-header h5">
                        Specifications
                    </div>
                    <ul class="list-group list-group-flush" data-sly-list.spec="${productModel.specs}">
                        <li class="list-group-item"><span class="h5" style="text-transform: none !important">${spec.productSpecs} : </span>${spec.productSpecsValue @ context='html'}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</sly>
