<sw-toolbar>
  <span sw-dialog-title *ngIf="title" [innerHTML]="title"></span>
  <span class="sw-toolbar-fill-remaining"></span>
  <button sw-icon-button cdkFocusInitial [sw-dialog-close]="result">
    <sw-icon>close</sw-icon>
  </button>
</sw-toolbar>
<sw-dialog-content>
  <ng-content></ng-content>
</sw-dialog-content>
