<sly data-sly-use.formFieldElementAttribute="com.juniper.aem.models.form.FormFieldElementAttributeModel">

<div data-sly-test="${wcmmode.edit && !wcmmode.preview}"
    class="aem-helper configure__container">
    [ Configure ${component.title} ] - ${formFieldElementAttribute.name}
   
</div>

<div class="hidden">
<input class="" value="${formFieldElementAttribute.value}"
    name="${formFieldElementAttribute.name}"
    value="${formFieldElementAttribute.value}" type="hidden"
    id="${formFieldElementAttribute.id}" /> </div>
    
</sly>