<div class="configure__container" data-sly-test="${wcmmode.edit}">[
    Configure ${component.title} Component ]</div>
<div
    class="cmp-editorial grid ${properties.theme ? properties.theme : ''} ${properties.theme ? 'top-margin' : ''}">
    <sly data-sly-list.childNodes="${resource.getChildren}"> <sly
        data-sly-test="${childNodes.name == 'content'}"> <sly
        data-sly-list.content="${childNodes.getChildren}">
    <div class="text-header__title">
        <sly data-sly-test="${content.heading}"> <sly
            data-sly-test="${content.headingSize == 'h1'}">
        <h1 class="h1">${content.heading}</h1>
        </sly> <sly data-sly-test="${content.headingSize == 'h2'}">
        <h2 class="h2 ${content.headingTopPadding=='true' ? 'heading-top-padding' : ''} ${content.headingBottomPadding=='true' ? 'heading-bottom-padding' : ''}">${content.heading @ context='html'}</h2>
        </sly> <sly data-sly-test="${content.headingSize == 'h3'}">
        <h3 class="h3">${content.heading}</h3>
        </sly> <sly data-sly-test="${content.headingSize == 'h4'}">
        <h4 class="h4">${content.heading @ context='html'}</h4>
        </sly> <sly data-sly-test="${content.headingSize == 'h5'}">
        <h5 class="h5">${content.heading}</h5>
        </sly> <sly data-sly-test="${content.headingSize == 'h6'}">
        <h6 class="h6">${content.heading}</h6>
        </sly> </sly>
    </div>
    <div class="large textdesc rte-content no-table-list"
        data-sly-test="${content.description}">
        ${content.description @ context='html'}</div>
    <div class="large textdesc"
        data-sly-test="${content.customtags}">
        ${content.customtags @ context='html'}</div>
    <div class="large table-wrapper rte-content no-table-list ${content.tableTopPadding=='true' ? 'table-top-padding' : ''} ${content.tableBottomPadding=='true' ? 'table-bottom-padding' : ''}"
        data-sly-test="${content.tableContent}"
        variant="${content.variant}">
        <div class="full-width-title" data-sly-test="${content.title}">${content.title}</div>
        ${content.tableContent @ context='html'}
    </div>
    <div class="footernote-section rte-content no-table-list"
        data-sly-test="${content.footnote}">
        ${content.footnote @ context='html'}
    </div>
    </sly> </sly> </sly>
</div>
