<div data-sly-test="${wcmmode.edit && !wcmmode.preview}" class="aem-helper configure__container">
   [ Configure ${component.title} Component ]
</div>

<sly data-sly-use.directorymodel="com.juniper.aem.models.ExpandableDirectoryModel"></sly>
<div class="cmp-expand-directory ${directorymodel.backgroundColor}" data-mod="expandable-directory">
        <div class="heading"><h2>${directorymodel.heading}</h2></div>
        <div class="exp-dir-cards-wrapper">
            <sly data-sly-list.cards="${directorymodel.cards}">
                <div class="exp-dir-cards-container">
                <div class="exp-dir-cards">
                    <div class="eyebrow">${cards.eyebrow}</div>
                    <div class="cards-image"><img alt="${cards.altText}" class="lazy" src="" data-src="${cards.imagePath}" /></div>
                    <div class="title"><h2>${cards.name}</h2></div>
                    <div class="short-desc">${cards.title @context='html'}</div>
                    <div class="long-desc">${cards.longDescription @context='html'}</div>
                </div>
                <div class="exp-dir-cards-details" index="${cardsList.index}">
                    <div class="eyebrow">${cards.eyebrow}</div>
                    <div class="cards-image"><img alt="${cards.altText}" class="lazy" src="" data-src="${cards.imagePath}" /></div>
                    <div class="title"><h2>${cards.name}</h2></div>
                    <div class="short-desc">${cards.title @context='html'}</div>
                    <div class="long-desc rte-content">${cards.longDescription @context='html'}</div>
                    <div class="exp-dir-scial-links">
                        <div class="social-share">
                            <ul data-sly-list.sociallinks="${cards.socialmediaLinks}">
                                <li data-sly-test="${sociallinks.linkUrl}">
                                    <a class="social"  href="${sociallinks.linkUrl}"    title="${sociallinks.altText}" target="_blank">
                                        <span class="juniper-icon icon-${sociallinks.icon}"></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div><span class="juniper-icon icon-close"></span></div>
                    </div>
                </div>
                </div>
            </sly>
        </div>
    </div>
</sly>