<div class="decision-main">

  <div class="decision-label" [ngClass]="{expanded:expanded}">
    <div class="decision-question-wrapper">
      <div class="decision-question">
        <span class="decision-question-label" [innerHTML]="label"></span>
        <span class="decision-question-label-small" [innerHTML]="description"></span>
        <button sw-icon-button color="primary" class="tooltip-trigger" [disabled]="!expanded" *ngIf="toolTip"
          (click)="toggleTooltip()">
          <sw-icon size="xs">info</sw-icon>
        </button>
      </div>
    </div>
    <div class="decision-tooltip" *ngIf="tooltipDisplay" [innerHTML]="toolTip"></div>
  </div>

  <div class="decision-selection">
    <button sw-button class="decision-pill" *ngIf="selectedId" [disabled]="!_decisionIsEditable"
      (click)="_decisionIsEditable && toggleExpand()">
      <span [innerHTML]="_selectedDecisionOptionName"></span>
    </button>
    <button sw-icon-button color="primary" class="edit-trigger" *ngIf="selectedId && _decisionIsEditable"
      (click)="toggleExpand()">
      <sw-icon size="xs">mode_edit</sw-icon>
    </button>
  </div>

</div>

<div class="decision-options-wrapper" [@expandState]="_boolToStr(expanded)"
  *ngIf="inputType !== 'range' && inputType !== 'list'">
  <ul class="decision-options">
    <li *ngFor="let op of options | swObjKeys">
      <button sw-button type="button" (click)="continue(op)" [disabled]="op == selectedId">
        {{ options[op].optionName }}
      </button>
    </li>
  </ul>
</div>

<div class="decision-options-wrapper" [@expandState]="true" *ngIf="inputType === 'range'">
  <div class="range-options">
    <mat-slider class="cdk-focused cdk-mouse-focused append-min global" [max]="portSlider.max" [min]="portSlider.min"
      [step]="portSlider.step" [thumbLabel]="portSlider.thumbLabel" [displayWith]="formatPortLabel(options)"
      (input)="onInputChange($event)">
    </mat-slider>
    <span class="slider-info" [innerHTML]="sliderInput"></span>
    <!-- <div class="range">
        <input type="range" min="1" [max]="_optionsLength" steps="1" value="1" (change)="triggerContinue($event)">
    </div>
    <ul class="range-labels">
      <ng-container *ngFor="let op of options | swObjKeys; let i = index">
        <li>
          <button sw-button type="button" (click)="continue(op)" [disabled]="op == selectedId">
            {{ options[op].optionName }}
          </button>
        </li>
      </ng-container>
    </ul> -->
  </div>
</div>

<div class="decision-options-wrapper" [@expandState]="_boolToStr(expanded)" *ngIf="inputType === 'list'">
  <div class="card-wrapper">
    <ng-container *ngFor="let optionList of options | swObjKeys">
      <ng-container *ngFor="let option of options[optionList] | swObjKeys">
        <mat-card *ngIf="option !== 'optionName'">
          <mat-card-header>
            <mat-card-title>
              <h3>{{ options[optionList][option]['label'] }}</h3>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <img *ngIf="options[optionList][option]['imageUrl']" [src]="options[optionList][option]['imageUrl']" />
            <ul>
              <ng-container *ngFor="let op of options[optionList][option] | swObjKeys">
                <li *ngIf="op !== 'imageUrl' && op !== 'label' && op !== 'scl' && op !== 'Notes'"
                  [innerHTML]="(op | titlecase) + ': &nbsp;' + options[optionList][option][op]">

                </li>
                <li *ngIf="op === 'Notes' && options[optionList][option][op] !== 'NA'"
                  [innerHTML]="(op | titlecase) + ': &nbsp;' + options[optionList][option][op]">

                </li>
              </ng-container>
            </ul>

          </mat-card-content>
        </mat-card>
      </ng-container>
    </ng-container>
  </div>
</div>