@import '../../styles/core/core-bundle';
@import '../../styles/button-vars';

$sw-prod-selector-spacing: 1rem;
$sw-prod-selector-decision-brkp: md;

@mixin rangeThumb {
  width: 18px;
  height: 18px;
  margin: -8px 0 0;
  border-radius: 50%;
  background: #37adbf;
  cursor: pointer;
  border: 0 !important;
}

@mixin rangeTrack {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: #b2b2b2;
}

:host{
  margin-bottom: 4px;

  h3 {
    @include type-head4();
    color: $c-grey-20;
    display: inline-block;
    transition: color $sw-swift-ease-in-out-duration $sw-swift-ease-in-out-timing-function;
  }
}

:host,
.decision-options-wrapper {
  display: block;
  overflow: hidden;

  .card-wrapper {
    @include media-width-up (map-get($breakpoint-map, md)) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }

    background: #fff;
    margin-top: 2px;

    @include media-high-contrast () {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
  }
}

.decision-question-label {
  @include type-head4();
  color: $dark-primary-text;
  display: inline-block;
}

.decision-question-label-small {
  font-family: "lato", Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.4;
  color: rgba(0, 0, 0, 0.84);
  display: block;
  ::ng-deep ul{
    padding-left: 24px;
  }
}

.expanded .decision-question-label {
  color: $c-txt-headline-on-light;
}

.decision-main {
  padding: $sw-prod-selector-spacing * 1.5;
  background: white;

  @include media-width-up(map-get($breakpoint-map, $sw-prod-selector-decision-brkp)) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.decision-question-wrapper,
.decision-selection {
  &>* {
    display: inline-block;
    vertical-align: middle;
  }
}

.decision-label {
  flex-grow: 1;
  margin-right: 20px;
}

.decision-question {
  @include type-head4();
}

.decision-tooltip {
  @include type-small;
  color: $c-txt-body-on-light;
  max-width: 66em;
  margin-top: 0.5rem;
}

.decision-selection {
  flex-grow: 0;
  flex-shrink: 0;
  text-align: right;

  @include media-width-down(map-get($breakpoint-map, $sw-prod-selector-decision-brkp)) {
    margin-top: 1rem;
  }
}

.decision-pill {
  padding: ($sw-button-padding-vertical * 0.5) $sw-button-padding-lateral;
  min-width: $sw-button-min-width * 1.5;
  border-radius: $sw-prod-selector-spacing * 3;
  background: $c-grey-05;
  text-overflow: ellipsis;

  @include media-respond-property(max-width,
    root, calc(100% - #{$sw-icon-button-size * 1.1}),
    $sw-prod-selector-decision-brkp, 20em)
}

.tooltip-trigger,
.edit-trigger {
  margin: ((-1em / $base--line-height-normal) + em) 0;
}

.tooltip-trigger {
  margin-left: -0.5em;
}

.slider-info {
  display: block;
  padding-top: 10px;
}

.decision-options {
  list-style: none;
  padding: 0;
  margin: 0;

  &>* {
    border-top: 2px solid transparent;
  }

  @include media-width-up(map-get($breakpoint-map, sm)) {
    display: flex;
    flex-wrap: wrap;

    &>* {
      flex: 1 0 percentage(1/7);

      &:not(:last-of-type) {
        border-right: 2px solid transparent;
      }
    }
  }

  button {
    @include type-head4();
    color: $c-light-blue-600;
    padding: 0.5rem 1.5rem;
    min-height: 4.5rem;
    height: 100%;
    width: 100%;
    word-wrap: break-word;
    white-space: normal;
    background: white;

    &:hover {
      color: $c-light-blue-800;
    }

    &:disabled,
    &:disabled:hover {
      background: $c-light-blue-600;
      border-color: $c-light-blue-600;
      color: white;
    }
  }
}

/* Mat Slider styles*/
.range-options {
  background: #fff;
  color: #000;
  opacity: 0.6;
  padding: 24px 24px 24px 42px;
  margin-top: 2px;
  overflow: hidden;
}

:host ::ng-deep {
  .mat-slider-horizontal {
    width: 95%;
  }

  .mat-slider-horizontal .mat-slider-wrapper {
    background-color: #e4e4e4 !important;
  }

  .mat-slider-track-background {
    background-color: rgba(0, 0, 0, .26);
  }

  .mat-slider.mat-slider-horizontal .mat-slider-wrapper {
    top: 18px;
  }

  .mat-slider.mat-slider-horizontal .mat-slider-track-wrapper {
    height: 12px;
    border-radius: 10px
  }

  .mat-slider.mat-slider-horizontal .mat-slider-track-background,
  .mat-slider.mat-slider-horizontal .mat-slider-track-fill {
    height: 100%;
  }

  .mat-slider.mat-slider-horizontal .mat-slider-track-fill {
    background-color: #0096A4;
  }

  .mat-accent .mat-slider-thumb {
    height: 30px;
    width: 30px;
    background-color: white;
    border: solid 2px gray;
    bottom: -30px;
    right: -20px;
  }

  .mat-slider-min-value:not(.mat-slider-thumb-label-showing) .mat-slider-thumb {
    background-color: white;
  }

  .mat-slider-thumb {
    position: absolute;
    right: -10px;
    bottom: -10px;
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    border: 3px solid transparent;
    border-radius: 50%;
    transform: scale(.7);
    transition: transform .4s cubic-bezier(.25, .8, .25, 1), background-color .4s cubic-bezier(.25, .8, .25, 1), border-color .4s cubic-bezier(.25, .8, .25, 1);
  }

  .mat-slider:not(.mat-slider-disabled).cdk-focused.mat-slider-thumb-label-showing .mat-slider-thumb {
    transform: scale(.7);
  }

  .mat-slider-thumb-label-text {
    height: 36px;
    width: 56px;
    display: grid;
  }

  .mat-slider-ticks-container {
    transform: translateX(-6.5%);
  }

  .mat-slider-ticks {
    background-size: 13% 2px;
    transform: translateZ(0px) translateX(6.5%);
  }

  .mat-slider-horizontal .mat-slider-ticks {
    background-image: repeating-linear-gradient(to right, rgba(0, 0, 0, .7), rgba(0, 0, 0, .7) 2px, transparent 0, transparent);
  }

  .mat-slider-ticks {
    background-repeat: repeat;
    background-clip: content-box;
    box-sizing: border-box;
    opacity: 0;
    transition: opacity .4s cubic-bezier(.25, .8, .25, 1);
  }

  .mat-slider:not(.mat-slider-disabled) .mat-slider-thumb,
  .mat-slider:not(.mat-slider-disabled) .mat-slider-thumb-label {
    cursor: -webkit-grab;
    cursor: grab;
    height: 53px;
    width: 135px;
    border-radius: 5%;
    right: -80px;
  }

  .mat-slider-horizontal .mat-slider-thumb-label {
    right: -84px;
    top: -24px;
    transform: translateY(26px) scale(.01) rotate(45deg);
  }

  .mat-slider-thumb-label {
    width: 56px;
  }

  .mat-slider-thumb-label-text:after {
    content: " ports";
    margin-top: -5px;
    color: #2A9FD8 !important;
    font-size: 12px;
  }

  .inputs .mat-slider-thumb-label-text:before {
    content: "$" !important;
    top: 0;
    color: #2A9FD8 !important;
  }

  .mat-slider-thumb-label-text {
    color: #2A9FD8;
    text-align: center;
  }

  .mat-slider-thumb {
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: white;
  }

  .mat-slider-thumb:after {
    content: '\e409';
    font-family: swmaterialicon !important;
    color: #626769;
    font-size: 32px;
    margin-left: 62px;
    background-repeat: no-repeat;
    width: auto;
    font-weight: 300;
    top: 4px;
  }

  .mat-slider-thumb:before {
    content: '\e408';
    font-family: swmaterialicon !important;
    color: #626769;
    font-size: 32px;
    background-repeat: no-repeat;
    width: auto;
    font-weight: 300;
    top: 4px;
  }

  .mat-slider-thumb-label {
    transform: rotate(45deg) !important;
    border-radius: 50% 50% 0 !important;
  }

  .mat-slider-thumb {
    transform: scale(0.7) !important;
  }

  .mat-slider-thumb-label-text {
    opacity: 1 !important;
  }

  .mat-card-title h3 {
    color: #000;
  }

  .mat-card-content {
    display: grid;
    grid-template-rows: 1fr 1fr;
    height: 100%;
  }

  .mat-card-content:first-child {
    align-items: center;
  }

  .mat-card-content>img {
    object-fit: cover;
    width: 100%;
    max-height: 100%;
  }

  .mat-card-content>ul {
    padding-top: 24px;
    padding-left: 24px;

    & li {
      padding-bottom: 6px;
    }
  }
}

@include media-high-contrast () {
  .mat-card {
    width: calc(100%/3);

    & .mat-card-content {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
    }
  }
}
