<div class="wrapper" *ngIf="displayInitial; then initialState else surveyState"></div>

<ng-template #initialState>
  <div class="marquee-container" [swBackgroundImage]="introBackgroundImage">
    <div class="marquee-innercontainer">
      <h2 class="heading">{{introHeadline}}</h2>
      <p class="description">{{introBody}}</p>

      <button jnpr-primary-cta [color]="ctaDetails.colorTheme" (click)="commenceSurvey()"
        [innerHTML]="ctaDetails.label"></button>
    </div>
  </div>
</ng-template>

<ng-template #surveyState>
  <div class="survey-wrapper" #surveyRef @slideAnimation (@slideAnimation.done)="scrollTo(surveyRef)">
    <sw-toolbar class="survey-header">
      <span sw-dialog-title *ngIf="_l10n.survey_title" [innerHTML]="_l10n.survey_title"></span>
      <span class="sw-toolbar-fill-remaining"></span>
      <ng-container *ngFor="let i of introLinks; last as l">
        <a class="intro__links" [class.hideonMobile]="!i.showonMobile" [href]="i.url" [target]="i.target"
          [swEval]="i.onclick" [innerHTML]="i.label">
        </a>
        <span class="hideonMobile" *ngIf="!l">|</span>
      </ng-container>
      <button sw-icon-button color="invert" *ngIf="displayResults" (click)="toggleSurveyDisplay()">
        <sw-icon size="md">{{ surveyHeaderIcon }}</sw-icon>
      </button>
    </sw-toolbar>
    <div class="survey-content-container" [@expandState]="_boolToStr(displaySurvey)"
      (@expandState.done)="scrollTo(surveyRef, displayResults && !displaySurvey)">
      <div class="survey-content">
        <div class="survey-content-inner">
          <strong class="decision-state-msg" *ngIf="decisionState" [innerHTML]="decisionState"></strong>
          <ng-container *ngIf="firstDecision && firstDecision.selectedId">
            <ng-container *ngTemplateOutlet="supportingToolbar"></ng-container>
          </ng-container>
          <ng-container *ngTemplateOutlet="surveyContentDecisions"></ng-container>
        </div>
      </div>
    </div>
  </div>

  <div class="product_list" *ngIf="displayResults" @slowSlideAnimation
    (@slowSlideAnimation.start)="scrollTo(surveyRef, displayResults || displaySurvey)">
    <div class="product_list-wrapper">
      <strong class="result-state-msg" *ngIf="resultState" [innerHTML]="resultState"></strong>

      <ng-container *ngIf="!resultState && firstDecision && firstDecision.selectedId">
        <ng-container *ngTemplateOutlet="supportingToolbar"></ng-container>
      </ng-container>

      <div class="product_list-content">
        <ng-container *ngFor="let r of results">
          <div class="result-wrapper">
            <h3>{{ r.label }}</h3>
            <div class="result-product-image" [swBackgroundImage]="r.imageUrl"></div>

            <div class="result-options">
              <a sw-button color="primary" *ngIf="r.overviewUrl" [href]="r.overviewUrl">
                <span [innerHTML]="r.overviewLabel"></span>
                <sw-icon>navigate_next</sw-icon>
              </a>
              <a sw-button color="primary" *ngIf="r.dataSheetUrl" [href]="r.dataSheetUrl" target="_blank">
                <span [innerHTML]="r.datasheetLabel"></span>
                <sw-icon>navigate_next</sw-icon>
              </a>
            </div>
            <div class="result-options">
              <a sw-button color="primary" *ngIf="r.freetrialUrl" [href]="r.freetrialUrl">
                <span [innerHTML]="r.freetrialLabel"></span>
                <sw-icon>navigate_next</sw-icon>
              </a>
            </div>
          </div>
        </ng-container>
      </div>

    </div>
  </div>
</ng-template>

<ng-template #supportingToolbar let-label="label">
  <sw-toolbar class="supporting-toolbar">
    <span sw-dialog-title *ngIf="label" [innerHTML]="label"></span>
    <span class="sw-toolbar-fill-remaining"></span>
    <button sw-button color="primary" *ngIf="decisions.length > 1" (click)="resetSurvey()"
      [innerHTML]="_l10n.reset_action"></button>
  </sw-toolbar>
</ng-template>

<ng-template #surveyContentDecisions>
  <div class="decisions-wrapper">
    <ng-container *ngFor="let d of decisions; trackBy: trackByDecision">
      <jnpr-dc-selector-decision *ngIf="d" @slideAnimation [expanded]="d.expanded" [toolTip]="d.toolTip"
        [label]="d.label" [description]="d.description" [decisionId]="d.decisionId" [selectedId]="d.selectedId"
        [inputType]="d.inputType" [sliderInput]="d.sliderInput" [options]="d.options"
        (onToggle)="toggleDecisionDisplay(d)" (onContinue)="continueSurvey(d, $event)"></jnpr-dc-selector-decision>
    </ng-container>
  </div>
</ng-template>

<ng-template #resetDialog>
  <div class="reset-dialog-wrapper">
    <div sw-dialog-title class="reset-question" [innerHTML]="_l10n.reset_prompt"></div>
    <div sw-dialog-actions align="center">
      <button sw-raised-button color="accent" (click)="_resetDialogRef.close(true)">{{_l10n.reset_accept}}</button>
      <button sw-raised-button color="primary" (click)="_resetDialogRef.close()">{{_l10n.reset_decline}}</button>
    </div>
  </div>
</ng-template>