@import '../../styles/core/core-bundle';
@import '../../styles/component/base/base-component';
@import '../../styles/button-vars';

// Icon-specific functions (from button.component.scss)
@function button-icon-padding-adjust($padding: $sw-fab-padding, $icon-size: $sw-default-icon-size) {
  @return (-($padding - (($icon-size - $sw-default-icon-size) / 2)));
}

$sw-prod-selector-spacing: sw-spacing(2);
$sw-prod-selector-decision-brkp: md;

:host{
  @include base-component-spacing;
  max-width: $brkp-large-desktop;
  margin-top: 0px;
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-column-start: 1;
  grid-column-end: 12;
  grid-gap: 32px;

  @include media-width-down (map-get($breakpoint-map, md)) {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 16px;
  }

  & .marquee-container {
    display: grid;
    background-repeat: no-repeat;
    background-size: cover;
    grid-template-columns: repeat(11, 1fr);
    grid-column: 1/12;
    padding-top: 173px;

    @include media-width-down (map-get($breakpoint-map, md)) {
      padding-top: 80px;
      grid-column: 1/5;
    }

    @include media-width-down (map-get($breakpoint-map, md)) {
      grid-template-columns: repeat(4, 1fr);
      grid-column: 1/5;
      margin-right: -5px;
    }

    color: #fff;

    & .marquee-innercontainer {
      grid-column: 2/13;
      margin: 0 32px;

      @include media-width-down (map-get($breakpoint-map, md)) {
        grid-column: 1/5;
      }

      & .heading {
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        color: #fff;
        margin: 0;

        @include media-width-up (map-get($breakpoint-map, mdl)) {
          line-height: 1.05;
          letter-spacing: -1.38px;
        }

        @include media-width-up (map-get($breakpoint-map, xl)) {
          @include get-font-lineheight($XLarge, "h2");
          letter-spacing: -1.5px;
        }

        @include media-width-down (map-get($breakpoint-map, md)) {
          font-size: 46px;
          line-height: 1.04;
          letter-spacing: -1.38px;
        }
      }

      & p {
        margin: 0;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.4;
        letter-spacing: -0.4px;
        font-size: 1.25rem;


        @include media-width-up (map-get($breakpoint-map, mdl)) {
          width: 558px;
          padding: 28px 0 53px;
        }

        @include media-width-up (map-get($breakpoint-map, xl)) {
          width: 744px;
          padding: 28px 0 81px;
        }

        @include media-width-down (map-get($breakpoint-map, md)) {
          padding: 16px 0 32px;
          line-height: 1.4;
          letter-spacing: -0.4px;
        }
      }

      & button {
        margin-bottom: 117px;

        @include media-width-down (map-get($breakpoint-map, md)) {
          margin-bottom: 143px;
        }
      }
    }
  }
}

.survey-header {
  @include type-head3();
  background-color: $c-custom-dark-mute-blue;
  color: $c-txt-on-dark;
  padding: ($sw-prod-selector-spacing * 0.5) ($sw-prod-selector-spacing * 2);
  & .intro__links {
    margin: 0 24px;
    font-size: 18px;
    font-weight: 600;
  }

  @include media-width-down(map-get($breakpoint-map, sm)) {
    & .hideonMobile {
      display: none;
    }

    & .intro__links {
      margin: 0;
    }
  }
}

.survey-content-container {
  overflow: hidden;
}

.survey-content,
.product_list-wrapper {
  background-color: $c-grey-10;
  padding: ($sw-prod-selector-spacing * 2);

  @include media-respond-property(padding,
    root, 20px,
    xs, 20px sw-spacing(3),
    md, ($sw-prod-selector-spacing * 3) sw-spacing(6),
    lg, ($sw-prod-selector-spacing * 3) sw-spacing(12))
}

.survey-content-inner {
  display: block;
  margin: 0 auto;
  position: relative;
}

.supporting-toolbar {
  @include type-body($line-height: $base--line-height-normal);
  min-height: 0;
  padding: 0;
  background: transparent;

  & ::ng-deep sw-toolbar-row {
    height: initial;
  }

  button {
    @include type-small;
    text-transform: uppercase;
    padding: $sw-button-padding-vertical;
    margin-right: -$sw-button-padding-vertical;
    flex-shrink: 0;
  }
}

.survey-wrapper {
  margin-bottom: $sw-prod-selector-spacing * 1.5;
  grid-column: 1/13;
}

.product_list {
  overflow: hidden
}

.product_list-content {
  max-width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-flow: row wrap;
  align-items: stretch;
}

.product_list-promo>* {
  margin: 0
}

.result-wrapper {
  background: white;
  padding: $sw-prod-selector-spacing;
  margin-bottom: 20px;
  width: 100%;

  @include media-respond-property(flex,
    root, 0 1 100%,
    sm, 0 1 calc(#{percentage(1/2)} - #{20px/2}),
    md, 0 1 calc(#{percentage(1/3)} - #{20px * (2/3)}));
  @include media-respond-property(max-width,
    sm, calc(#{percentage(1/2)} - #{20px/2}),
    md, calc(#{percentage(1/3)} - #{20px * (2/3)}));

  @include media-width-up(map-get($breakpoint-map, sm)) {
    margin-left: 20px;
  }

  @include media-width-between(map-get($breakpoint-map, sm), map-get($breakpoint-map, md)) {
    &:nth-child(2n+1) {
      margin-left: 0
    }
  }

  @include media-width-up(map-get($breakpoint-map, md)) {
    &:nth-child(3n+1) {
      margin-left: 0
    }
  }

  h3 {
    @include type-head4();
    color: $c-txt-blue-headline-on-light;
    margin-bottom: $sw-prod-selector-spacing;
    text-align: center;
  }

  img {
    display: block;
    max-width: 80%;
    margin: 0 auto $sw-prod-selector-spacing;

    @include media-width-up(map-get($breakpoint-map, lg)) {
      left: 50%;
      position: absolute;
      transform: translate(-50%, -50%);
      top: 50%;
    }
  }

  div.result-options {
    a {
      display: inline-block;
      padding-top: $sw-button-padding-vertical * 0.5;
      padding-bottom: $sw-button-padding-vertical * 0.5;
    }
  }
}

.result-product-image {
  height: 210px;
  max-width: 350px;
  margin: sw-spacing(2) auto;
  background-repeat: no-repeat;
  background-size: contain;

  &::before {
    content: '';
    position: relative;
    display: block;
    padding-top: percentage(9/16);
    width: 100%;
  }
}

.reset-dialog-wrapper {
  @include type-body;
  box-sizing: content-box;
  max-width: 350px;
  text-align: center;
  padding: sw-spacing(3);

  .sw-dialog-title {
    @include type-head4();
    color: $c-txt-body-on-light;
    text-align: left;
    white-space: normal;
  }

  .sw-dialog-actions {
    margin-top: sw-spacing(1);

    button+button {
      margin-left: sw-spacing(1);
    }
  }
}

.decision-state-msg,
.result-state-msg {
  @include type-head4();
  display: block;
  margin: 0 auto;
  max-width: 560px;
  padding: sw-spacing(1);
  text-align: center;
  color: $c-txt-blue-headline-on-light;
}

@mixin rangeThumb {
  width: 18px;
  height: 18px;
  margin: -8px 0 0;
  border-radius: 50%;
  background: #37adbf;
  cursor: pointer;
  border: 0 !important;
}

@mixin rangeTrack {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: #b2b2b2;
}

.range {
  position: relative;
  width: auto;
  height: 5px;
}

.range input {
  width: 100%;
  position: absolute;
  top: 2px;
  height: 0;
  -webkit-appearance: none;

  // Thumb
  &::-webkit-slider-thumb {
    -webkit-appearance: none; // needed again for Chrome & Safari
    @include rangeThumb;
  }

  &::-moz-range-thumb {
    @include rangeThumb;
  }

  &::-ms-thumb {
    @include rangeThumb;
  }

  // Track
  &::-webkit-slider-runnable-track {
    @include rangeTrack;
  }

  &::-moz-range-track {
    @include rangeTrack;
  }

  &::-ms-track {
    @include rangeTrack;
  }

  &:focus {
    // override outline/background on focus
    background: none;
    outline: none;
  }

  &::-ms-track {
    // A little somethin' somethin' for IE
    width: 100%;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
}
