<div data-sly-test="${wcmmode.edit && !wcmmode.preview}" class="aem-helper configure__container">[ Configure
    ${component.title} Component ]</div>
<div data-sly-use.resourcecentermodel="com.juniper.aem.models.ResouceCenterModel"></div>
<div class="cmp-resource-center resource-center resource-wrapper ${properties.removeglobalspacing == 'true' ? 'no-spacing-bottom' : ''}">
    <div class="resource-center__container grid">
        <div class="resource-center__container__title heading">

            <h1>${properties.resourcecenterheading @context="text"}</h1>
        </div>

        <div class="resource-center__left-column">
            <div class="resource-center__left-column__details"
                data-sly-call="${category @ heading=properties.practicalresourceheading, list=resourcecentermodel.practicalresources}"></div>
            <div class="resource-center__left-column__details"
                data-sly-call="${category @ heading=properties.supportheading, list=resourcecentermodel.support}"></div>
            <div class="resource-center__left-column__details"
                data-sly-call="${category @ heading=properties.trainingandcommunityheading, list=resourcecentermodel.trainingandcommunity}"></div>
            <div class="resource-center__left-column__details"
                data-sly-call="${category @ heading=properties.bginformationheading, list=resourcecentermodel.bginformation}"></div>
            <div class="resource-center__left-column__details"
                data-sly-call="${category @ heading=properties.learnmoreheading, list=resourcecentermodel.learnmore}"></div>
        </div>
        <div class="resource-center__right-column">
            <div class="bgvariant bg-${properties.bgcircleColor @ context='text'}"></div>
            <div class="resource-center__right-column__background-variant">
                <div class="resource-center__right-column__datasheet-title">
                    <h1>${properties.datasheetheading @context="text"}</h1>
                </div>
                <div class="resource-datasheets" data-sly-list.resourcedetails="${resourcecentermodel.datasheet}">
                    <div class="resource-datasheets__datasheet-subheadline mb-3">
                    <sly data-sly-test.elq="${'http:' in resourcedetails.link || 'https:' in resourcedetails.link ? ['_elq.trackEvent(\u0027', resourcedetails.link, '\u0027)'] : ['_elq.trackEvent(\u0027', request.getScheme,'://',request.getServerName, resourcedetails.link, '\u0027)'] @ join = '' }"/>
                        <a href="${resourcedetails.link @context='uri'}"
                            target="${'.html' in resourcedetails.link ? resourcedetails.target : '_blank'  @context='html' }" 
                            class="sw-button-hover"
                            onclick="${'.pdf' in resourcedetails.link || '.doc' in resourcedetails.link || '.xls' in resourcedetails.link ? elq : ''  @ context='attribute'}" >
                            <span
                            class="sw-button-wrapper align-items-center"><span
                                class="resource-datasheets__datasheet-subheadline--sec-link-text pb-2">${resourcedetails.label@context="text"}</span>
                                <span class="juniper-icon icon-arrow ml-2"></span> </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
<template data-sly-template.category="${@ heading, list}">
    <div class="resource-center__left-column__details__category h3" data-sly-test="${heading}">${heading
        @context='text'}</div>
    <div class="resource-container" data-sly-repeat.category="${list}">
        <div class="resource-container__sub-category h5" data-sly-test="${category.subHeading}">
            <p>${category.subHeading@context='text'}</p>
        </div>
        <sly data-sly-list.resourcedetail="${category.documents}">
        <div class="resource-container__item" data-sly-test="${resourcedetail.label}">
        <sly data-sly-test.elq="${'http:' in resourcedetail.link || 'https:' in resourcedetail.link ? ['_elq.trackEvent(\u0027', resourcedetail.link, '\u0027)'] : ['_elq.trackEvent(\u0027', request.getScheme,'://',request.getServerName, resourcedetail.link, '\u0027)'] @ join = '' }"/>
            <a href="${resourcedetail.link @ context='uri'}" 
            target="${'.html' in resourcedetail.link ? resourcedetail.target : '_blank'  @context='html'}"
            onclick="${'.pdf' in resourcedetail.link || '.doc' in resourcedetail.link || '.xls' in resourcedetail.link ? elq : ''  @ context='attribute'}">${resourcedetail.label
                @context='text'}</a>
        </div>
        </sly>
    </div>
</template>
