.textheader{
    background-color: $black;
    color: $white;
    display: grid;
    grid-gap: 32px;
    padding: 0 32px;
    overflow: auto;
    h1{
        @include media-breakpoint-down(md) {
            grid-column: 1 / 5;
            margin: 4.5rem 1.375rem 0;
        }
        @include media-breakpoint-up(md) {
            margin: 4.5rem auto;
            grid-column: 1/10;
        }
        @include media-breakpoint-up(lg) {
            grid-column: 2/10;
        }
       
    }
    @include media-breakpoint-down(md) {
        grid-template-columns: repeat(4, 1fr);
    }
    @include media-breakpoint-up(md) {
        grid-template-columns: repeat(9, 1fr);
    }
    @include media-breakpoint-up(lg) {
        grid-template-columns: repeat(11, 1fr);
    }
    &.inverse{
        color: $black;
        background-color: $white;
    }
    &__title{
        @include media-breakpoint-down(md) {
            grid-column: 1/5;
        }
        @include media-breakpoint-up(md) {
            grid-column: 2/8;
        }
        @include media-breakpoint-up(lg) {
            grid-column: 2/9;
        }
        a{
            color: $black;
        }
        h1{
            @extend .h2;
            color:inherit;
            margin-bottom: 0;
        }
    }
    &.bg__circle{
        @include color-theme($theme-colors) {
            @include media-breakpoint-down(md) {
                background: radial-gradient(circle at 44% 44%, #{$value} 0%, #{$value} 40%, $white 40%, $white);
            }
            @include media-breakpoint-up(md) {
                background: radial-gradient(circle at 24% 50%, #{$value} 0%, #{$value} 22%, $white 22%, $white);
            }
            @include media-breakpoint-up(lg) {
                background: radial-gradient(circle at 22% 52%, #{$value} 0%, #{$value} 16%, $white 16%, $white);
            }
        }
        h1{
            margin: 10rem auto;
            @include media-breakpoint-up(xl) {
                margin: 15rem auto;
            }
        }
    }

    &.textdescription{
        & > div {
            @extend .content-grid-11;
            p{
                padding-top:0px;
                &:last-child{
                    padding-bottom: 0rem;
                }
            }
        }
    }
}
