<div data-sly-test="${wcmmode.edit && !wcmmode.preview}"
    class="aem-helper edit__formfieldcontainer">[ Configure
    ${component.title} Component ]</div>


<div class="cmp-formfieldcontainer ${properties.theme}"
    data-mod="formfieldcontainer"
    data-sly-use.formContainerAttribute="com.juniper.aem.models.form.FormFieldContainerModel">

    <form class="jnpr-form" action="${formContainerAttribute.eloquaURL}"
        target="_top" id="${formContainerAttribute.formName}"
        method="post" name="${formContainerAttribute.formName}"
        novalidate>
        <sly data-sly-unwrap
            data-sly-resource="${'formFields' @ resourceType='wcm/foundation/components/parsys'}" />
    </form>

</div>