:host {
  position: relative;
  display: block;
  height: 100%;
}

sw-toolbar-dialog {
  display: flex;
  flex-direction: column;
  height: 100%;

  & ::ng-deep .sw-dialog-content {
    flex: 0 1 auto;
  }
}
