<div data-sly-test="${wcmmode.edit && !wcmmode.preview}"
    class="aem-helper configure__container">[ Configure
    ${component.title} Component ]</div>

<div class="select"
    data-sly-use.formFieldElementAttribute="com.juniper.aem.models.form.FormFieldElementAttributeModel">
<div class="${formFieldElementAttribute.name}">
    <div class="label">
        ${formFieldElementAttribute.label}<sly data-sly-test="${formFieldElementAttribute.isRequired}">*</sly>
    </div>
    <select
        data-sly-test="${formFieldElementAttribute.overridingErrorMessage}"
        data-sly-attribute.required="${formFieldElementAttribute.isRequired == 'true'}"
        name="${formFieldElementAttribute.name}"
        id="${formFieldElementAttribute.id}"
        data-error-label="${formFieldElementAttribute.overridingErrorMessage}">
        <sly
            data-sly-list.items="${formFieldElementAttribute.formSelectOptionsContainer}">
        <sly data-sly-test="${items.value}"><option value="${items.value}">${items.name}</option></sly>
        <sly data-sly-test="${!items.value}"><option value="">${items.name}</option></sly>
        </sly>
    </select> <select
        data-sly-test="${!formFieldElementAttribute.overridingErrorMessage}"
        data-sly-attribute.required="${formFieldElementAttribute.isRequired == 'true'}"
        name="${formFieldElementAttribute.name}"
        id="${formFieldElementAttribute.id}"
        data-error-label="${formFieldElementAttribute.label} ${formFieldElementAttribute.errorMessage}">
        <sly
            data-sly-list.items="${formFieldElementAttribute.formSelectOptionsContainer}">
        <sly data-sly-test="${items.value}"><option value="${items.value}">${items.name}</option></sly>
        <sly data-sly-test="${!items.value}"><option value="">${items.name}</option></sly>
        </sly>
    </select>
</div>

</div>