.cmp-prod-comp-matrix {
    @extend .component-bottom-spacing;
    margin-left: -2pc;
    margin-right: -2pc;
  //  margin-top: 7vw;

    .pcm-container {

        max-width: 100%;

        .wrapper {

            .table-box {

                grid-column: 1 / span 4;

                @include media-breakpoint-up(md) {
                    grid-column: 1 / span 9;
                }

                @include media-breakpoint-up(lg) {
                    grid-column: 2 / span 9;
                }

                table {

                    border-collapse: collapse;

                    @-moz-document url-prefix() {
                        border-collapse: initial;
                    }

                    width: 100%;
                    table-layout: fixed;

                    thead {
                        tr {
                            th {
                                text-align: left;

                                &:nth-child(1) {
                                    display: none;

                                    @include media-breakpoint-up(md) {
                                        display: block;
                                    }
                                }

                                img {
                                    filter: grayscale(100%);
                                    padding: 1vw 1.5vw;
                                    height: 8vw;
                                    object-fit: contain;
                                    width: 100%;
                                    vertical-align: middle;

                                    @include media-breakpoint-up(md) {
                                        height: 50px;
                                        width: auto;
                                    }

                                    @include media-breakpoint-up(lg) {
                                        height: 64px;
                                    }
                                }

                                &.green-bg {

                                    img {
                                        background-color: #8eae4a;
                                        filter: none;
                                    }
                                }
                            }
                        }
                    }

                    .section {

                        &.spacer {
                            &::before {
                                height: 7.5vw;
                                display: table-row;
                                content: '';

                                @include media-breakpoint-up(md) {
                                    height: 5.5vw;
                                }

                                @include media-breakpoint-up(lg) {
                                    height: 64px;
                                }
                            }
                        }

                        .head {

                            background-color: $gray-dark;
                            color: $white;

                            .title {
                                
                                padding: 5px 0 5px 1.5vw;
                                height: 24px;
                                @include font-size(10);
                                font-weight: normal;
                                font-stretch: normal;
                                font-style: normal;
                                line-height: 1.4;
                                letter-spacing: normal;

                                @include media-breakpoint-up(md) {
                                    @include font-size(12);
                                    font-weight: bold;
                                    font-stretch: normal;
                                    font-style: normal;
                                    line-height: 1.33;
                                    letter-spacing: -0.24px;
                                    height: 40px;
                                    padding-top: 12px;
                                    padding-bottom: 12px;
                                }

                                @include media-breakpoint-up(lg) {
                                    @include font-size(14);
                                    line-height: 1.64;
                                    letter-spacing: -0.28px;
                                    height: 47px; 
                                }
                            }
                        }

                        .isExpandable {
                            .clickopen {

                                &:before {
                                    content: "\25BA";
                                    padding-right: 1.5vw;
                                    margin-left: -1.5vw;
                                    height: 12px;
                                    width: 0.5vw;
                                    display: inline-block;
                                    position: absolute;
                                    top: 50%;
                                    -ms-transform: translateY(-50%);
                                    transform: translateY(-50%);
                                }

                                &.open {
                                    @include media-breakpoint-up(md) {
                                        &:before {
                                            transform: rotate(90deg);
                                            padding-right: 20px;
                                        }
                                    }
                                }
                            }
                        }

                        .content {

                            &.isExpandable {

                                &:hover {
                                    background-color: $gray-16;
                                    cursor: pointer;

                                    .clickopen {
                                        color: #84b135;
                                    }
                                }
                            }

                            td {
                                color: $black;
                                padding: 1vw 0 1vw 1.5vw;

                                @include font-size(10);
                                font-weight: normal;
                                font-stretch: normal;
                                font-style: normal;
                                line-height: 1.3;
                                letter-spacing: -0.2px;

                                @include media-breakpoint-up(sm) {
                                    padding-top: 8px;
                                }

                                @include media-breakpoint-up(md) {
                                    @include font-size(12);
                                    line-height: 1.33;
                                    letter-spacing: -0.24px;
                                    padding: 1vw 0 1vw 1.5vw;
                                }

                                @include media-breakpoint-up(lg) {
                                    @include font-size(14);
                                    line-height: 1.14;
                                    letter-spacing: -0.28px;
                                }
                            }

                            .icon-link-video {
                                @include font-size(16);
                                background-color: $black;
                            }

                            &.mobile {
                                display: table-row;

                                @include media-breakpoint-up(md) {
                                    display: none;
                                }
                            }

                            
                            .clickopen {
                                display: none;

                                @include media-breakpoint-up(md) {
                                    display: table-cell;
                                }
                            }
                            

                            &.add-border {

                                td {
                                    border-bottom: 1px solid black !important;
                                }
                            }

                            &.expanded {
                                background-color: $gray-16;
                                display: none;

                                .text-block {
                                    width: 9.2vw;
                                    color: $black;

                                    p {

                                        @include font-size(10);
                                        font-weight: normal;
                                        font-stretch: normal;
                                        font-style: normal;
                                        line-height: 1.3;
                                        letter-spacing: -0.2px;

                                        @include media-breakpoint-up(lg) {
                                            @include font-size(12);
                                            line-height: 1.33;
                                            letter-spacing: -0.24px;
                                        }
                                    }


                                    a {
                                        color: $black;
                                        @include font-size(12);
                                        font-weight: bold;
                                        font-stretch: normal;
                                        font-style: normal;
                                        line-height: 1.8;
                                        letter-spacing: -0.12px;

                                        @include media-breakpoint-up(lg) {
                                            @include font-size(16);
                                            font-weight: bold;
                                            line-height: 2.06;
                                            letter-spacing: -0.16px;
                                        }
                                    }

                                    .icon-arrow {
                                        @include font-size(11);
                                        padding-left: 7px;
                                    }

                                    .player {

                                        .play-icon {
                                            z-index: 999;
                                            @include font-size(40);
                                            line-height: 1;

                                            .juniper-icon {
                                                background-color: $white;
                                                border-radius: 50%;
                                                position: relative;

                                                span:nth-child(1) {

                                                    &:before {
                                                        position: absolute;
                                                    }
                                                }

                                                span:nth-child(2) {

                                                    &:before {
                                                        margin-left: -59%;
                                                        position: absolute;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }

                            &.graybg {
                                background-color: $gray-16;
                            }

                            .dot {
                                height: 6px;
                                width: 6px;
                                border: solid 1.3px $grey-border;
                                background-color: $silver;
                                border-radius: 50%;
                                display: grid;
                                margin: 0 auto;

                                @include media-breakpoint-up(md) {
                                    display: inline-block;
                                    height: 8px;
                                    width: 8px;
                                }
                            }

                            .add-margin {

                                margin-top: 3px;
                                margin-left: none;

                                @include media-breakpoint-up(md) {
                                    margin-left: 6px;
                                    margin-top: none;
                                }

                                @include media-breakpoint-up(lg) {
                                    margin-left: 9px;
                                    margin-top: none;
                                }
                            }

                            .dot-black {
                                border: none;
                                background-color: #4f4f4f;
                            }

                            .dot-green {
                                border: none;
                                background-color: #84b135;
                            }
                        }
                    }
                }
                // table ends
            }
        }
    }
}