<div data-sly-test="${wcmmode.edit && !wcmmode.preview}" class="">[ Configure ${component.title} Component ]</div>
<sly data-sly-use.textProps="com.juniper.aem.models.form.FormTextModel" />

<div class="cmp-thankyou ${properties.theme}">

    <!--/* Image With Square Background */-->
    <sly data-sly-test="${textProps.layoutType == 'imagewithsquarebackground'}">
    <div class="thankyou-form-wrapper ${textProps.layoutType}">
        <div class="thankyou-form-image ${properties.theme}">
            <sly
                data-sly-use.imageHelper="${'com.juniper.aem.helpers.ImageHelper' @ fileReference = textProps.imagewithsquarebackground.fileReference}"></sly>
            <img src="${imageHelper.imageRenditionPath}"
                alt="${textProps.imagewithsquarebackground.altText ? textProps.imagewithsquarebackground.altText : imageHelper.altText}" />
        </div>
        <div class="thankyou-form-content">
            <div class="eyebrow">
                <sly data-sly-test="${textProps.imagewithsquarebackground.eyebrowDescriptor}">${textProps.imagewithsquarebackground.eyebrowDescriptor}</sly>
            </div>
            <h1 data-sly-test="${textProps.imagewithsquarebackground.headerTextTitle}">${textProps.imagewithsquarebackground.headerTextTitle}</h1>
            <div class="large rte-content" data-sly-test="${textProps.imagewithsquarebackground.intro @context='html'}">
                ${textProps.imagewithsquarebackground.intro @ context='html'}</div>
            <div class="d-flex align-items-center"
                data-sly-test="${textProps.imagewithsquarebackground.ctaText && textProps.imagewithsquarebackground.ctaLink}">
                <sly data-sly-use.model="com.juniper.aem.models.FlexibleCTAModel"> <a
                    data-sly-test="${model.isLinkOrButton == 'button'}" class="cta-button"
                    href="${textProps.imagewithsquarebackground.ctaLink}"
                    target="${textProps.imagewithsquarebackground.target == 'true' ? '_blank' :'_self'}">
                    <button class="juniper-btn ${textProps.imagewithsquarebackground.ctaColor}">${textProps.imagewithsquarebackground.ctaText}</button>
                </a> <a
                    data-sly-test="${model.isLinkOrButton == 'link' && textProps.imagewithsquarebackground.ctaText != ''}"
                    href="${textProps.imagewithsquarebackground.ctaLink}"
                    target="${textProps.imagewithsquarebackground.target == 'true' ? '_blank' :'_self'}">
                    ${textProps.imagewithsquarebackground.ctaText @ context='html'} </a> </sly>
            </div>
        </div>
    </div>
    </sly>

    <!--/* No Image With Circle Background */-->
    <sly data-sly-test="${textProps.layoutType == 'noimagewithcirclebackground'}">

    <div class="thankyou-form-wrapper ${textProps.layoutType}">
        <div class="thankyou-form-circle ${properties.theme}">
            <h2 data-sly-test="${textProps.noimagewithcirclebackground.headerTextTitle}">${textProps.noimagewithcirclebackground.headerTextTitle}</h2>
        </div>
        <div class="thankyou-form-circle-content">
            <div class="eyebrow">
                <sly data-sly-test="${textProps.noimagewithcirclebackground.eyebrowDescriptor}">${textProps.noimagewithcirclebackground.eyebrowDescriptor}</sly>
            </div>
            <div class="h3 rte-content" data-sly-test="${textProps.noimagewithcirclebackground.intro @context='html'}">
                ${textProps.noimagewithcirclebackground.intro @ context='html'}</div>
            <div class="d-flex align-items-center"
                data-sly-test="${textProps.noimagewithcirclebackground.ctaText && textProps.noimagewithcirclebackground.ctaLink}">
                <sly data-sly-use.model="com.juniper.aem.models.FlexibleCTAModel">
                <a
                    data-sly-test="${model.isLinkOrButton == 'button'}"
                    href="${textProps.noimagewithcirclebackground.ctaLink}"
                    target="${textProps.noimagewithcirclebackground.target == 'true' ? '_blank' :'_self'}">
                    <button class="juniper-btn ${textProps.noimagewithcirclebackground.ctaColor}">${textProps.noimagewithcirclebackground.ctaText}</button>
                </a> <a
                    data-sly-test="${model.isLinkOrButton == 'link' && textProps.noimagewithcirclebackground.ctaText != ''}"
                    href="${textProps.noimagewithcirclebackground.ctaLink}"
                    target="${textProps.noimagewithcirclebackground.target == 'true' ? '_blank' :'_self'}">
                    ${textProps.noimagewithcirclebackground.ctaText @ context='html'} </a> </sly>
            </div>
        </div>

    </div>

    </sly>
</div>
