<div data-sly-test="${wcmmode.edit && !wcmmode.preview}"
    class="aem-helper configure__container">[ Configure
    ${component.title} ]</div>
    
<div class="html-code"
    data-sly-use.formFieldElementAttribute="com.juniper.aem.models.form.FormFieldElementAttributeModel">
    ${formFieldElementAttribute.htmlcode @context='unsafe' }</div>