<div data-sly-test="${wcmmode.edit && !wcmmode.preview}" class="configure__container">[
    Configure ${component.title} Component ]
</div>
<sly data-sly-use.imageCmp="com.juniper.aem.models.ImageModel"></sly>
<div class="cmp-image ${properties.removeglobalspacing == 'true' ? 'no-spacing-bottom' : ''} ${properties.theme ? properties.theme : ''} ${pageProperties.cq:template=='/conf/juniper/settings/wcm/templates/datasheet-page' ? 'datasheet-image': ''} ${properties.padding=='false' ? 'no-padding' : ''}">
    <div class="image-component ">
        <div
            class="image-component__container">
            <div class="image-component__container__image text-center">
                <sly
                    data-sly-use.imageHelper="${'com.juniper.aem.helpers.ImageHelper' @ fileReference = imageCmp.imagePath}">
                </sly>
                <img src="${imageCmp.imagePath}" alt="${imageCmp.altText || imageHelper.altText }"
                    class="${imageCmp.originalSize ? 'original-size' : 'w-100'} h-auto" />
            </div>
            <sly data-sly-test="${imageCmp.description}">
                <div
                    class="image-component__container__caption ${imageCmp.descriptionAlignment} extra-small rte-content ${pageProperties.cq:template=='/conf/juniper/settings/wcm/templates/datasheet-page' ? 'pb-5': ''}">
                    ${imageCmp.description @ context='html'}
                </div>
            </sly>
        </div>
    </div>
</div>
