@import '../core/theming/palette';
@import '../core/theming/theming';


@mixin _sw-toolbar-color($palette) {
  background: md-color($palette);
  color: md-color($palette, default-contrast);
}

@mixin sw-toolbar-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  sw-toolbar {
    background: md-color($background, app-bar);


    &.md-primary {
      @include _sw-toolbar-color($primary);
    }

    &.md-accent {
      @include _sw-toolbar-color($accent);
    }

    &.md-warn {
      @include _sw-toolbar-color($warn);
    }
  }
}
