@import '../../../styles/core/core-bundle';

$sw-toolbar-variable-height: true !default;

$sw-toolbar-height-desktop: 64px !default;
$sw-toolbar-height-mobile-portrait: 56px !default;
$sw-toolbar-height-mobile-landscape: 48px !default;

$sw-toolbar-min-height: $sw-toolbar-height-desktop !default;
$sw-toolbar-font-size: 20px !default;
$sw-toolbar-padding: 16px !default;

@mixin sw-toolbar-height($height) {
  :host{
    min-height: $height;
  }
  sw-toolbar-row {
    height: $height;
  }
}

:host{
  @include type-head4();
  @include base--font-family-base();
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background: $c-grey-05;
  color: $c-txt-body-on-light;
  width: 100%;
  padding: 0 $sw-toolbar-padding;

  & ::ng-deep .sw-toolbar-fill-remaining {
    flex: 1 1 auto;
  }
}

sw-toolbar-row {
  display: flex;
  box-sizing: border-box;

  width: 100%;

  // Flexbox Vertical Alignment
  flex-direction: row;
  align-items: center;

  & ::ng-deep > * {
    display: inline-block;
  }
}

// Set the default height for the toolbar.
@include sw-toolbar-height($sw-toolbar-height-desktop);

@if ($sw-toolbar-variable-height) {
  // Specific height for mobile devices
  @include media-width-down( map-get($breakpoint-map, sm) ) {
    @include sw-toolbar-height($sw-toolbar-height-mobile-portrait);
  }
}
