@import '../../../../styles/core/core-bundle';

sw-list {
  max-width: 40rem;
  padding-left: 1rem;
  padding-right: 1rem;

  @include media-width-up( map-get($breakpoint-map, sm) ) {
    min-width: 30rem;
  }
}
