.cmp-glance {
    @extend .component-bottom-spacing;
    .statistics-container{
        @extend .grid;
        grid-template-rows: repeat(3, auto);
        .glance-border-top {
            @extend .content-grid-11;
            grid-row: 1/3;
            padding-top: 0px;
            border-top: 1px solid $grey-border;
            opacity: 0.5;
            @include media-breakpoint-up(md) {
                padding-top: 46px;
                grid-column: 1/10;
            }
            @include media-breakpoint-up(lg){
                padding-top: 80px;
                grid-column: 2/11;
            }
            @include media-breakpoint-up(xl) {
                padding-top: 100px;
            }
        }
        .glance-label {
            grid-row: 2/3;
            grid-column: 1/4;
            margin-top: 50px;
            margin-bottom: 20px;
            font-size: 11px;
            font-weight: bold;

            @include media-breakpoint-up(md) {
                grid-column: 1/4;
                margin-top: 7px;
                line-height: 1.27;
                letter-spacing: 1.98px;
                font-size: 11px;
                grid-row: auto;
            }
            @include media-breakpoint-up(lg) {
                grid-column: 2/5;
                font-size: 13px;
                line-height: 1.23;
                letter-spacing: 2.34px;
            }

        }
        .statistics-wrapper{
                grid-row: 3/3;
                grid-column: 1/4;
                display: grid;
                grid-template-rows: repeat(2, auto);
                grid-template-columns: auto;

            @include media-breakpoint-up(md) {
                grid-column: 4/10;
                grid-template-columns: repeat(6, 1fr);
                grid-gap: 24px;
                grid-row: auto;
            }
            @include media-breakpoint-up(lg) {
                display: grid;
                grid-column: 5/11;
                grid-template-columns: repeat(6, 1fr);
                grid-gap: 32px;
                grid-row: auto;

            }

            .statistics-data-container{
                grid-area: auto/ span 2;
                display: inline;
                span{
                    font-size: 1.625rem;
                    @include media-breakpoint-up(md) {
                        margin-bottom: 24px;
                    }
                    @include media-breakpoint-up(lg) {
                        font-size: 2.5rem;
                        margin-bottom: 24px;
                    }
                    @include media-breakpoint-up(xl) {
                        font-size: 2.5rem;
                        margin-bottom: 24px;
                    }

                    h3 {
                        display: inline;
                        font-size: 3.25rem;
                        line-height: 1.15;
                        letter-spacing: -0.52px;
                        color: $black;

                        &.text-white{
                            color: $white !important;
                        }
                        &.text-black{
                            color: $black !important;
                        }
                        &.c-gray-dark{
                            color: $gray-dark !important;
                        }
                        &.dark-green{
                            color: $dark-green !important;
                        }
                        

                        @include media-breakpoint-up(lg) {
                            font-size: 4.375rem;
                        }
                        @include media-breakpoint-up(xl) {
                            line-height: 1.05;
                            letter-spacing: -1.26px;
                            font-size: 5rem;
                        }
                    }
                }
                .statistics-desc {
                    border-top: 1px solid $grey-border;
                    line-height: 1.25;
                    letter-spacing: normal;
                    font-size: .75rem;
                    padding-top: 10px;
                    margin-bottom: 20px;
                    color: $gray-dark;
                    @include media-breakpoint-up(xl) {
                        font-size: 1.125rem;
                        letter-spacing: -0.36px
                    }
                    @include media-breakpoint-up(lg) {
                        padding-top: 8px;
                        font-size: 1rem;
                        line-height: 1.44;
                        letter-spacing: -0.32px;
                    }

                }
            }

        }

    }
}