<div data-sly-test="${wcmmode.edit && !wcmmode.preview}"
    class="aem-helper configure__container">[ Configure
    ${component.title}]</div>

<div class="checkbox"
    data-sly-use.formFieldElementAttribute="com.juniper.aem.models.form.FormFieldElementAttributeModel">

<div class="checkboxLabel">${formFieldElementAttribute.heading}</div>

<sly
    data-sly-list.checkboxItem="${formFieldElementAttribute.checkboxItemsContainer}">
<div class="checkItem">
    <span>${checkboxItem.label ? checkboxItem.label : checkboxItem.value}</span> <input type="checkbox"
        id="${checkboxItem.id}" name="${checkboxItem.name}" value="${checkboxItem.value}"> <label
        class="checkLabel" for="${checkboxItem.id}">&#10003;</label>
</div>
</sly> </div>