.cmp-resource-center {
  @extend .component-bottom-spacing;
  .resource-center {
    &__container {
      overflow: hidden;
      background-color: $white;

      &__title {
        color: $black;
        margin-top: 20px;
        padding-bottom: 32px;
        grid-column: 1/5;
        color: $gray-black;
        @include font-size(36);
        line-height: 40px;

        @include media-breakpoint-up(md) {
          padding-bottom: 6px;
        }

        @include media-breakpoint-up(lg) {
          padding-bottom: 0;
          grid-column: 2/6;
        }

        @include media-breakpoint-up(xl) {
          grid-column: 2/6;
        }

        & h1 {
          color: $black;
          line-height: 1.11;
          @include media-breakpoint-up(md) {
            @include font-size(36);
            line-height: 40px;
          }
          @include media-breakpoint-up(lg) {
            line-height: 1.09;
          }

          @include media-breakpoint-up(xl) {
            line-height: 1;
          }
        }

        .heading {
          margin-bottom: 16px;

          @include media-breakpoint-up(md) {
            margin-bottom: 6px;
              @include font-size(36);
            line-height: 40px;
            color: $gray-black;
          }

          @include media-breakpoint-up(lg) {
            margin-bottom: 7px;
          }

          @include media-breakpoint-up(xl) {
            margin-bottom: 7px;
          }

          & h1 {
            color: $gray-black !important;
            @include media-breakpoint-up(md) {
              line-height: 1.09;
            }
          }
        }
      }
    }

    &__left-column {
      vertical-align: top;
      order: 2;
      grid-column: 1/5;

      @include media-breakpoint-up(md) {
        order: inherit;
      }

      @include media-breakpoint-up(lg) {
        grid-column: 2/6;
      }

      &__details {
        &__category {
          color: $black;
          margin-top: 48px;

          @include media-breakpoint-up(md) {
            margin-top: 48px;
            font-size: 22px;
            line-height: 24px;
          }

          @include media-breakpoint-up(lg) {
            margin-top: 64px;
            font-size: 26px;
            line-height: 1.15;
          }

          @include media-breakpoint-up(xl) {
            margin-top: 64px;
            font-size: 36px;
            line-height: 1;
            list-style: 1;
          }
        }

        .resource-container {
          &__sub-category {
            margin-top: 24px;
            color: $black;
            font-weight: 900;
            font-size: 12px;
            line-height: 1.25;

            @include media-breakpoint-up(md) {
              margin-top: 24px;
            }

            @include media-breakpoint-up(lg) {
              margin-top: 28px;
              font-size: 14px;
              line-height: 1.21;
            }

            @include media-breakpoint-up(xl) {
              margin-top: 24px;
            }
          }

          &__item {
            color: $gray-dark;
            @include font-size(14);
            width: 83%;
            margin-top: 8px;

            @include media-breakpoint-up(md) {
              width: 100%;
              @include font-size(14);
              margin-top: 8px;
            }

            @include media-breakpoint-up(lg) {
              width: 75%;
              @include font-size(16);
              margin-top: 8px;
            }

            @include media-breakpoint-up(xl) {
              width: 75%;
              @include font-size(16);
              margin-top: 16px;
            }

            & a {
              color: $gray-dark;
              cursor: pointer;
              margin-right: 10px;
              border-bottom: 2px solid $white;
              text-decoration: none;
              background-image: linear-gradient($gray-dark, $gray-dark);
              background-position: 0% 100%;
              background-repeat: no-repeat;
              background-size: 0% 1px;
              transition: background-size cubic-bezier(0, 0.5, 0, 1) 0.3s;
            }

            & a:hover {
              text-decoration: none;
              color: $black;
              background-size: 100% 1px;
            }
          }
        }
      }
    }

    &__right-column {
      color: $black;
      position: relative;
      margin-left: 0;
      align-self: flex-start;
      min-height: 288px;
      grid-column: 1/5;

      @include media-breakpoint-up(md) {
        margin-top: 65px;
        grid-column: 6/11;
        height: 18rem;
      }

      @include media-breakpoint-up(lg) {
        margin-top: 51px;
        grid-column: 7/12;
        height: 35rem;
      }

      @include media-breakpoint-up(xl) {
        margin-top: 64px;
      }

      .bgvariant {
        @include media-breakpoint-up(sm) {
          position: absolute;
          border-radius: 50%;
          width: 18rem;
          height: 18rem;
          opacity: 1;
        }

        @include media-breakpoint-up(md) {
          border-radius: 50%;
          width: 18rem;
          height: 18rem;
          opacity: 1;
        }

        @include media-breakpoint-up(lg) {
          border-radius: 50%;
          width: 35rem;
          height: 35rem;
          opacity: 1;
          left: 0;
        }

        @include media-breakpoint-up(xl) {
          left: 10%;
        }
      }

      &__background-variant {
        height: auto;
        margin-top: 0px;
      }

      &__datasheet-title {
        height: auto;
        padding-top: 32px;
        margin-left: 0px;
        margin-bottom: 16px;
        position: relative;
        color: $gray-black;

        @include media-breakpoint-up(md) {
          color: $gray-black;
          padding-top: 32px;
          margin-bottom: 16px;
        }

        @include media-breakpoint-up(lg) {
          color: $black;
          padding-top: 95px;
          margin-bottom: 40px;
        }

        @include media-breakpoint-up(xl) {
          color: $black;
          padding-top: 95px;
          margin-bottom: 40px;
        }

        & h1 {
          color: $black;
          font-size: 30px;
          line-height: 1.1;
          color: $gray-black;
          @include media-breakpoint-up(md) {
            @include font-size(30);
            line-height: 33px;
            color: $gray-black ;
          }
          @include media-breakpoint-up(lg) {
            color: $black;
            font-size: 58px;
            line-height: 1.09;
          }
          @include media-breakpoint-up(xl) {
            color: $black;
            font-size: 76px;
            line-height: 1;
          }
        }
      }

      .resource-datasheets {
        position: relative;

        &__datasheet-subheadline {
          margin-left: 0px;

          & a {
            display: inline-block;
            @include font-size(16);
            line-height: 2.06;
            @include media-breakpoint-up(lg) {
              margin-left: 0px;
              @include font-size(20);
              line-height: 33px;
            }

            @include media-breakpoint-up(xl) {
              margin-left: 0px;
              @include font-size(20);
            }

            color: $black;
          }

          &--sec-link-text {
            text-decoration: none;
            background-image: linear-gradient($gray-dark, $gray-dark);
            background-position: 0% 100%;
            background-repeat: no-repeat;
            background-size: 0% 1px;
            transition: background-size cubic-bezier(0, 0.5, 0, 1) 0.3s;
            font-weight: 700;
            color: $black;

            &:hover {
              text-decoration: none;
              color: $black;
              background-size: 100% 2px;
            }
          }
        }
      }
    }
  }
}