.cmp-accordion {
	.accordion {
		&__item {
			padding-top: 34px;
			padding-bottom: 34px;

			&:first-child{
				border-top: 1px solid $gray-light;
			}
			border-bottom: 1px solid $gray-light;

			&__title{
				$title: &;
				cursor: pointer;
				&.collapsed{
					.accordion__item__title--icons{
						.icon-plus{
							display: block;
						}
						.icon-minus{
							display: none;
						}
					}
				}
				&--title{
					h3.h3{
						@include font-size(18);
						@include media-breakpoint-up(md) {
							@include font-size(20);
							line-height:  1.09;
							letter-spacing: -0.66px;
						}
						@include media-breakpoint-up(lg) {
							@include font-size(26);
							line-height: 1.15;
							letter-spacing: -0.52px;
						}
						@include media-breakpoint-up(xl) {
							@include font-size(36);
							line-height: 1;
							letter-spacing: -0.72px;
					}
					&.disabled{
						cursor: none;
					}

					}

				}
				&--icons{
					.juniper-icon{
						@include font-size(24);

						@include media-breakpoint-up(lg) {
							@include font-size(36);
						}

					}
					.icon-plus{
						display: none;
					}
					.icon-minus{
						display: block;
					}
				}
			}
			&__description{

			}
		}

	}
}


