<div class="configure__container" data-sly-test="${wcmmode.edit}">[
    Configure ${component.title} Component ]</div>

<div class="cmp-product-comparison ${productcompare.theme}"
    data-sly-use.productcompare="com.juniper.aem.models.ProductComparisonModel" data-mod="productcomparison">
    <div class="product-comparison-wrapper">
        <div class="top-banner grid">
            <h1 class="section-heading"
                data-sly-test="${productcompare.heading}">${productcompare.heading
                @context='html'}</h1>
            <div class="product-compare">
                <div class="compare-heading"
                    data-sly-test="${productcompare.compareText}">${productcompare.compareText
                    @context='html'}</div>
                <div class=""
                    data-sly-test="${productcompare.compareCtaLabel}">
                    <a href="${productcompare.comparePagePath}"
                        target="${productcompare.comparectaTarget}"
                        class="sw-button-hover">
                        <button class="juniper-btn juniper-btn--black compare-btn">${productcompare.compareCtaLabel}</button>
                    </a>
                </div>
            </div>
        </div>
        <div class="product-section grid">
            <div class="product-items"
                data-sly-list.item="${productcompare.productModelList}">
                <div class="product-item">
                    <div class="img-container ${productcompare.theme}">
                        <img data-sly-test="${item.imagePath}"
                            src="${item.imagePath}"
                            alt="${item.altText}">
                    </div>
                    <div class="tech-details">
                        <div class="prod-info">
                            <div class="product-name"
                                data-sly-test="${itemList.first}">
                                <span class="h2">${item.productNameShort}</span>
                            </div>
                            <a class="product-name"
                                data-sly-test="${itemList.index == 1}"
                                href="${productcompare.product1DataPath @ extension = 'html'}"
                                target="_Self"> <span class="product-title">${item.productNameShort}</span>
                            </a> <a class="product-name"
                                data-sly-test="${itemList.index == 2}"
                                href="${productcompare.product2DataPath @ extension = 'html'}"
                                target="_Self"> <span class="product-title">${item.productNameShort}</span>
                            </a>
                            <div class="description rte-content no-para">${item.shortDescription
                                @context='html'}</div>
                        </div>
                        <table class="technical-features">
                            <thead class="">
                                <tr>
                                    <td colspan="2">${'Technical Features' @ i18n}</td>
                                </tr>
                            </thead>
                            <tbody class=""
                                data-sly-list.features="${item.features}">
                                <tr class="">
                                <sly data-sly-test="${features.title}">
                                    <td class=""><sly data-sly-call="${locale @ key=features.title}"/></td>
                                    <td class="right-align ">${features.Value
                                        @context='html'}</td>
                                 </sly>
                                 <sly data-sly-test="${!features.title}">
                                    <td class="left-align">${features.Value
                                        @context='html'}</td>
                                 </sly>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="viewing-pane">
                        <div class=""
                            data-sly-test="${itemList.first}"><span>${inheritedPageProperties.currentViewLabel}</span></div>
                        <div class=""
                            data-sly-test="${itemList.index == 1}">
                            <a
                                href="${productcompare.product1DataPath @ extension = 'html'}">
                                <button type="button"
                                    class="juniper-btn juniper-btn--link">
                                    ${inheritedPageProperties.viewDetailsLabel} <span
                                        class="juniper-icon icon-arrow"></span>
                                </button>
                            </a>
                        </div>
                        <div class=""
                            data-sly-test="${itemList.index == 2}">
                            <a
                                href="${productcompare.product2DataPath @ extension = 'html'}">
                                <button type="button"
                                    class="juniper-btn juniper-btn--link">
                                    ${inheritedPageProperties.viewDetailsLabel} <span
                                        class="juniper-icon icon-arrow"></span>
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="show-series grid"
            data-sly-test="${productcompare.viewAllProductsText && productcompare.viewAllCtaLabel}">
            <div class="show-all-heading h3">${productcompare.viewAllProductsText}</div>
            <div class="show-all-btn">
                <a href="${productcompare.allProductsPagePath}"
                    target="${productcompare.viewAllTarget}"
                    class="sw-button-hover">
                    <button class="juniper-btn juniper-btn--black">${productcompare.viewAllCtaLabel}</button>
                </a>
            </div>
        </div>
    </div>
</div>
<template data-sly-template.locale="${@ key}">
    ${key @ i18n}
</template>