<div data-sly-test="${wcmmode.edit && !wcmmode.preview}"
  class="aem-helper configure__container">[ Configure
  ${component.title} Component ]</div>
<sly
  data-sly-use.model="com.juniper.aem.models.ProductSpecsComparisonModel" />
<sw-product-compare properties='

${model.compareJson}

 '></sw-product-compare>
