//JDA title alignment
h2[embeddedService-chatHeader_chatHeader]::after{
    top: 0!important;
}
// Yes or No button alignment
.embeddedServiceLiveAgentStateChatButtonMessage .embeddedServiceLiveAgentStateChatButtonItem span.label{
    padding: 0 8px !important;
}
/* Global Chat Styling */
.embeddedServiceHelpButton *,
.embeddedServiceSidebar .dockableContainer *,
.embeddedServiceLiveAgentStateChatMessage .uiOutputRichText {
	font-family: lato-regular !important;
	text-transform: none !important;
}
/* Snap in UI fixes */
span.help.x-small.embeddedServiceIcon{
    margin-right: -110px !important;
}
.startButtonWrapper button span.label{
    font-size: 14px;
}
.embeddedServiceSidebarMinimizedDefaultUI .minimizedText>.message{
    font-size: 0px;
}
button.sidebarHeader.minimizedContainer.newMessage.embeddedServiceSidebarMinimizedDefaultUI {
    width: 215px !important;
}
.embeddedServiceSidebarMinimizedDefaultUI .content::before{
    background: url(../img/cta-icon.png) 2px 0 no-repeat !important;
    color: transparent !important;
    background-size: 21px !important;
    padding: 4px !important;
    margin-left: 4px;
    margin-right: -2px;
    content: "__";
}
.embeddedServiceSidebarMinimizedDefaultUI .minimizedText>.message::before{
    font-family: Lato !important;
    text-transform: none !important;
    font-size: 12px !important;
}
.loadingBallContainer.tiny.animated.embeddedServiceLoadingBalls {
    display: none !important;
}
.embeddedServiceHelpButton .helpButton button.uiButton,
.embeddedServiceSidebar .embeddedServiceSidebarMinimizedDefaultUI {
	background-color: #0096A4 !important;
    border-color: #0096A4 !important;
    width: 160px !important;
    border-radius: 17.5px !important;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.16);
    min-height: 35px;
    height: 35px;
    min-width: auto !important;
    text-decoration: none !important;
    bottom: 20px !important;
    max-width: initial;
    right: 32px !important;
}
.prechatUI.cLivechatPrechat2_0_component, .prechatUI.cLivecchatPrechat2_0{
    padding:24px;
}
.embeddedServiceLiveAgentStateWaiting .loadingBall, .cLivechatPrechat2_0_component .startButton {
    background-color: #0096A4 !important;
}
.cLivecchatPrechat2_0 button.uiButton--default {
    background: none;
    background-color: #84b135!important;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    text-shadow: none;
    font-weight: normal;
    box-shadow: none;
    width: 100%;
}
button.slds-button.slds-button_neutral, button.slds-button.slds-button_neutral:focus{
    height: 30px;
    width: 202px;
    font-size: 16px;
    background-color: #0096a4 !important;
    border-radius: 24px;
    color: white;
}
.embeddedServiceLiveAgentStateChatItem.chatMessage button.slds-button.slds-button_neutral:hover{
    background-color: #00626B !important;
}
.slds-form-element__control.slds-grow input::placeholder{
    font-family: Lato;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: italic;
    line-height: 1.27;
    letter-spacing: normal;
    color: #b8b8b8;
}
div.slds-form-element__help {
    color: red;
    padding-top: 2px !important;
}
abbr.slds-required {
    text-decoration: none !important;
    color: red !important;
    padding: 1px;
}
h1.slds-page-header__title.slds-truncate.slds-align-middle{
    font-size: 16px !important;
}
svg.slds-icon.slds-icon_small {
    width: 15px;
    height: 15px;
    display:none;
}
span.slds-assistive-text{
    display: none;
}
.form-card {
    background-color: white !important;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 2.5rem !important;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.06)
}
.messageContent .embeddedServiceIcon.x-small svg{
    display: none !important;
}
button.minimizeButton.headerItem::after {
    display: none !important;
}
button.minimizeButton.headerItem::before {
    display: none !important;
}
.headerButton:before, .headerButton:after{
   display: none !important;
}
.embeddedServiceSidebar .embeddedServiceSidebarHeader .headerText {
	height: 50px !important;
}
.embeddedServiceSidebarHeader .shortHeader {
	background-color: #0096A4 !important;
}
button.minimizeButton:hover, button.closeButton:hover{
    position: unset;
}
.embeddedServiceSidebar .embeddedServiceSidebarButton {
	background-color: #0096A4;
	font-size: 14px;
	height: 35px;
}
.embeddedServiceSidebar .embeddedServiceSidebarButton:focus {
	box-shadow: none;
	text-decoration: none;
}
.embeddedServiceSidebar .embeddedServiceSidebarButton:not(:disabled):hover,
.embeddedServiceSidebar .embeddedServiceSidebarButton:not(:disabled):focus {
	background-color: #0096A4;
}

.embeddedServiceSidebar .embeddedServiceSidebarButton.uiButton--inverse:not(:disabled):focus,
.embeddedServiceSidebar .embeddedServiceSidebarButton.uiButton--inverse:not(:disabled):hover {
	background-color: #0096A4;
	text-decoration-color: #fff;
}
.embeddedServiceSidebar .embeddedServiceSidebarButton.uiButton--inverse:not(:disabled):focus .label,
.embeddedServiceSidebar .embeddedServiceSidebarButton.uiButton--inverse:not(:disabled):hover .label {
	color: #fff;
}
.embeddedServiceHelpButton .helpButton button.uiButton::before{
    border-radius: 17.5px !important;
    opacity: 0 !important;
}
.embeddedServiceHelpButton .helpButton button.uiButton:hover{
    background-color: #1B7B86 !important;
}

.embeddedServiceHelpButton .uiButton .helpButtonLabel .message::before{
    font-family: Lato !important;
    text-transform: none !important;
    font-size: 12px !important;
    overflow: hidden;
    white-space: nowrap;
}
