#mcxHeading,
#mcxText1,
#noLater {
	padding: 0;
	margin: 0;
	font-family: 'Lato', sans-serif
}

#mcxInfo2 {
	width: 550px;
	padding: 0 0 20px 0;
	background-color: rgb(255, 255, 255);
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 50px;
	border-style: solid;
	border-color: #84B135
}

div#mcxLogos {
	padding: 20px 0
}

#mcxLogos img {
	width: 42%;
	height: auto
}

#mcxText1 {
	padding-top: 12px;
	width: 100%;
	font-size: 15px;
	color: #4D5259;
	text-align: center;
	line-height: 28px
}

#mcxText2 {
	color: #4D5259
}

#mcxHeading {
	padding: 0 32px 0 32px;
	max-width: 100%;
	font-size: 19px;
	color: #4D5259;
	font-weight: 700;
	text-align: center;
	width: 100%
}

#mcxYesButton {
	background: #84B135;
	border: 1px solid #84B135;
	padding: 15px 40px;
	margin: 10px;
	width: 60%;
	display: inline-block
}

#mcxYesButton button {
	color: #fff
}

#mcxYes,
#mcxYes:hover,
#mcxYes:active {
	background: none;
	border: 0;
	color: #fff;
	font-size: 26px;
	text-align: center;
	text-transform: capitalize;
	width: 100%;
	padding: 0;
	font-family: Lato, "sans-serif"
}

#mcxNoButton {
	height: auto;
	position: absolute;
	right: 0;
	z-index: 99999
}

#mcxNo,
#mcxNo:hover,
#mcxNo:active {
	background: none;
	border: 0;
	float: right;
	background-size: 15px auto;
	padding: 24px 42px 15px 0;
	font-size: 13px;
	width: 30px;
	height: 30px;
	color: #6890A8
}

@media only screen and (max-width:480px) {
	#mcxNo,
	#mcxNo:hover,
	#mcxNo:active {
		background: none;
		border: 0;
		float: right;
		background-size: 15px auto;
		padding: 12px 6px 10px 0;
		font-size: 13px;
		width: 30px;
		height: 30px;
		color: #6890A8
	}
}

#noLater {
	background: none;
	border: 0;
	font-size: 15px;
	color: #4D5259;
	cursor: pointer
}

#mcxYes:hover,
#mcxYesButton:hover,
#mcxNo:hover {
	cursor: pointer
}

#mcxInvitationModal {
	background: rgba(0, 0, 0, .5);
	z-index: 99999;
	height: 100%;
	width: 100%;
	position: fixed;
	display: none;
	top: 0;
	left: 0;
	overflow: hidden;
	text-align: center;
	border: 0;
	font-size: 100%!important;
	font: inherit;
	vertical-align: baseline;
	cursor: default;
	margin: 0;
	padding: 0;
	font-weight: 400;
	font-family: 'Lato', sans-serif!important;
	text-indent: 0;
	float: none!important;
	text-shadow: none
}

#mcxFloating {
	position: absolute;
	top: 50%;
	left: 43%;
	margin: -150px 0 0 -150px;
	display: inline-block;
	background: rgba(0, 0, 0, 0)
}

#mcxSurveyDialog {
	position: fixed;
	z-index: 1051;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .5)
}

#mcxSurveyWrapper {
	position: fixed;
	top: 15%;
	left: 33%;
	padding: 0;
	background: #fff;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 0 -1px 14px 0 rgba(207, 207, 207, .5);
	-moz-box-shadow: 0 -1px 14px 0 rgba(207, 207, 207, .5);
	box-shadow: 0 -1px 14px 0 rgba(207, 207, 207, .5);
	width: 550px;
	height: 75%;
	-webkit-overflow-scrolling: touch;
	overflow-y: scroll;
	overflow: auto!important
}

#mcxSurveyClose {
	width: 20px;
	text-align: center;
	padding: 10px 0;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;
	background-color: #fff;
	color: #005b82;
	cursor: pointer;
	float: right;
	right: 20px;
	background-image: url(https://junipernetworks.allegiancetech.com/surveys/images/MRVCXM/closeblue.png?cacheToken=20190516090903);
	background-size: 100%;
	margin-top: 8px
}

#mcxSurveyWrapper iframe {
	float: left;
	width: 100%;
	height: 95%
}

@media only screen and (max-width :815px) {
	#mcxSurveyWrapper {
		left: 16%
	}
	#mcxFloating {
		left: 47%
	}
}

@media only screen and (max-width :570px) {
	#mcxSurveyWrapper {
		left: 2%
	}
}

@media only screen and (max-width :480px) {
	html {
		width: 100%;
		height: 100%
	}
	#mcxInvitationModal {
		background: rgba(0, 0, 0, .3);
		height: 100%;
		width: 100%;
		position: fixed
	}
	#mcxInfo2 {
		position: fixed;
        max-height: 310px;
        top: 25% !important;
        margin: 10%;
        left: 0% !important;
        max-width: 80vw !important;
        border: 1px solid #ccc;
        background-color: #FFF;
        -webkit-box-shadow: 5px -2px 5px 0 rgba(0, 0, 0, .1);
        -moz-box-shadow: 5px -2px 5px 0 rgba(0, 0, 0, .1);
        box-shadow: 5px -2px 5px 0 rgba(0, 0, 0, .1);
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px
	}
	#mcxLogos {
		background-size: 50% auto;
		background-repeat: no-repeat;
		width: 100%;
		height: 30px;
		float: left;
		background-position: top center;
		padding: 20px 0 45px
	}
	#mcxText1 {
		width: 95%;
		margin: 0 auto
	}
	#mcxText2 {
		color: #4D5259
	}
	#mcxHeading {
		padding: 0;
		margin-top: 60px
	}
	#mcxYes,
	#mcxYes:hover,
	#mcxYes:active {
		margin: 0 auto;
		width: 100%;
		text-align: center;
		-webkit-border-radius: 50px;
		-moz-border-radius: 50px;
		border-radius: 50px;
		padding: 10px 0
	}
	#mcxYesButton {
		padding: 0;
		margin-top: 30px;
		width: 75%;
		float: none
	}
	#mcxSurveyWrapper {
		width: 320px!important;
		margin-top: 0%;
		top: 0;
		margin-left: 15px;
		top: 0%;
		left: 3%;
		padding: 3px;
		height: 100%!important
	}
	#mcxSurveyWrapper iframe {
		float: left;
		width: 100%;
		height: 300px!important
	}
	textarea {
		width: 93%
	}
}

@media only screen and (max-device-width :815px) {
	#mcxFloating {
		left: 32%!important;
		top: 48%!important
	}
}

@media only screen and (max-device-width :415px) {
	#mcxSurveyWrapper {
		width: 380px!important;
		margin-top: 0%;
		margin-left: 17px;
		top: 0%;
		left: 6%;
		padding: 3px
	}
	#mcxSurveyWrapper iframe {
		float: left;
		width: 100%;
		height: 730px!important
	}
}

@media only screen and (max-device-width :375px) {
	#mcxSurveyWrapper {
		width: 370px!important;
		margin-top: 0%;
		margin-left: 2px;
		top: 0%;
		left: 6%;
		padding: 3px
	}
	#mcxSurveyWrapper iframe {
		float: left;
		width: 100%;
		height: 660px!important
	}
}

@media only screen and (max-device-width :320px) {
	#mcxSurveyWrapper {
		width: 320px!important;
		margin-top: 0%;
		margin-left: 0%;
		top: 0%;
		left: 6%;
		padding: 3px
	}
	#mcxSurveyWrapper iframe {
		float: left;
		width: 100%;
		height: 560px!important
	}
}

@media only screen and (min-device-width :768px) and (max-device-width :900px) {
	#mcxSurveyWrapper {
		position: unset;
		margin: 5% auto;
		Left: 17%;
		-webkit-overflow-scrolling: touch;
		overflow-y: scroll;
		overflow: auto!important
	}
	#mcxFloating {
		Left: 35%
	}
}

@media only screen and (min-device-width :900px) and (max-device-width :1024px) {
	#mcxSurveyWrapper {
		position: unset;
		margin: 5% auto;
		Left: 25%;
		-webkit-overflow-scrolling: touch;
		overflow-y: scroll;
		overflow: auto!important
	}
	#mcxFloating {
		Left: 38%
	}
} //iPAd Mini 4 @media only screen and (min-device-width :1023px) and (max-device-width :1025px) and (max-device-height:699px){#mcxSurveyWrapper{position:unset;margin:5% auto;Left:28%!important;top:13%!important;-webkit-overflow-scrolling:touch;overflow-y:scroll;overflow:auto!important}#mcxFloating{Left:38%}}#mcxSurveyWrapper iframe{overflow:scroll}