{{#if title}}
	<div class="row product-overview--section product-overview__info__title">
		<div class="col-12">
			<h1 class="h1">{{title}}</h1>
		</div>
	</div>
{{/if}}
{{#if description}}
	<div class="row product-overview--section product-overview__info__description">
		<div class="col-12">
			{{{description}}}
		</div>
	</div>
{{/if}}
{{#if features}}
	<div class="row product-overview--section product-overview__info__technical-features mb-5">
		<div class="col-12">
			<div class="header">
				<p class="small">{{i18n "Key Features"}}</p>
			</div>
			<hr class="hr">
			<div class="table_features">
				{{#each features}}
					<div class="table_features_item d-flex mb-3">
						<div class="table_features_item_title">{{title}}</div>
						<div class="table_features_item_description">{{strip-scripts value}}</div>
					</div>
				{{/each}}
			</div>
		</div>
	</div>
{{/if}}

<div class="row product-overview--section product-overview__info__datasheet mb-5">
	<div class="col-12 datasheet">
		<div class="datasheet_header">
			<p class="small">{{i18n "Datasheets"}}</p>
		</div>
		<hr class="hr">
		<div class="datasheet__links">
			<div class="datasheet__links--item">
				<div class="d-flex align-items-center">
					<button type="button" class="juniper-btn datasheet__links--link juniper-btn--link mr-2">MX Series 5G
						Routing
						Platforms
					</button>
					<div class="juniper-icon icon-arrow"></div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row product-overview--section product-overview__info__buttons pb-5">
	<div class="col-12">
		<button type="button" class="juniper-btn juniper-btn--green mr-2 mr-md-4 mb-3">{{i18n "How to buy"}}</button>
		<button type="button" class="juniper-btn juniper-btn--black mb-3">{{i18n "Compare"}}</button>
	</div>
</div>
{{#if benefits}}
	<div class="row product-overview--section product-overview__info__features-benefits cmp-accordion mt-5 mb-5">
		<div class="col-12">
			<div class="product-overview__info__features-benefits__title mb-8">
				<h2 class="h2">{{i18n "Features + Benefits"}}</h2>
			</div>
			<div class="accordion__overview accordion" id="accordion__overview">
				{{#each benefits}}
					<div class="accordion__item d-flex flex-column">
						<div class="accordion__item__header_container">
							{{#ifCond longDescription '||' imagePath}}
								<div class="mb-0 d-flex justify-content-between accordion__item__title {{#unless @first}}collapsed{{/unless}}"
								     data-toggle="collapse"
								     data-target="#benefits{{@index}}"
								     aria-controls="collapse{{@index}}">
									<div class="accordion__item__title--title juniper-btn juniper-btn--link">
										<h3 class="h3">{{title}}</h3>
									</div>

									<div class="accordion__item__title--icons">
										<span class="juniper-icon icon-plus"></span>
										<span class="juniper-icon icon-minus"></span>
									</div>

								</div>
							{{else}}
								<div class="mb-0 d-flex justify-content-between accordion__item__title">
									<div class="accordion__item__title--title juniper-btn juniper-btn--link">
										<h3 class="h3">{{title}}</h3>
									</div>

									<div class="accordion__item__title--icons">
										<span class="juniper-icon icon-plus disabled d-block"></span>
									</div>

								</div>
							{{/ifCond}}
							{{#if shortDescription}}
								<div class="accordion__item__short-description pr-3 pr-lg-6">
									<div class="large">{{{shortDescription}}}</div>
								</div>
							{{/if}}
						</div>
						{{#ifCond longDescription '||' imagePath}}
							<div id="benefits{{@index}}" class="collapse {{#if @first}}show{{/if}} accordion__item__description pr-3 pr-lg-6"
							     aria-labelledby="{{title}}"
							     data-parent="#accordion__overview">
								{{#if longDescription}}
									<div class="accordion__item__description--text mt-3">
										<div class="large">{{{longDescription}}}</div>
									</div>
								{{/if}}
								{{#if imagePath}}
									<div class="accordion__item__description--image full-width mt-5">
										<img src="{{imagePath}}" alt="{{ternary altText altText 'benefits image alt'}}"
										     class="full-width"/>
									</div>
								{{/if}}
							</div>
						{{/ifCond}}
					</div>
				{{/each}}
			</div>
		</div>
	</div>
{{/if}}