<div data-sly-test="${wcmmode.edit && !wcmmode.preview}" class="configure__container">
    [ Configure ${component.title} Component ]
</div>
<sly data-sly-use.model="com.juniper.aem.models.CaseStudyModel"
     data-sly-use.utilityModel="${'com.juniper.aem.models.UtilityModel'}"
     data-sly-set.compId="caseStudyHomepage${utilityModel.uniqueId}">
</sly>
<div class="cmp-case-study-homepage" data-mod="case-study-homepage">
    <div class="case-study grid">
        <!--/* Left side (Image) */-->
        <div class="case-study__image">
            <div class="img-container-ht">
                <sly data-sly-use.imageHelper="${'com.juniper.aem.helpers.ImageHelper' @ fileReference = model.image}"></sly>
                <img class="case-study__image__img d-block w-100 object-fit--cover lazyload h-in" alt="${model.imageAltText || imageHelper.altText }" data-src="${model.image}">
                <span data-sly-test="${model.videoURL}" class="case-study__image__icon juniper-icon icon-play-btn js-play-video-btn"
                      data-video-modal-id="${compId}VideoModal">
                    <span class="path1"></span><span class="path2"></span>
                </span>
            </div>
        </div>
        <!--/* ./Left side (Image) */-->
        <!--/* Right side (Content) */-->
        <div class="case-study__content">
            <div class="case-study__content__wrapper">
                <div class="case-study__content__wrapper__logo">
                    <img alt="${model.logoAltText}" src="${model.logo}"/>
                </div>
                <div data-sly-test="${model.quoteText}" class="case-study__content__wrapper__text">
                    <h2 class="case-study__content__wrapper__text--h2">&ldquo;${model.quoteText}&rdquo;</h2>
                </div>
                <div data-sly-test="${model.quoteAuthorInfo}" class="case-study__content__wrapper__author">
                    <span class="case-study__content__wrapper__author--span">${model.quoteAuthorInfo}</span>
                </div>
                <div data-sly-test="${properties.ctaLabel}" class="case-study__content__wrapper__cta">
                    <a class="primary-cta-btn" href="${properties.ctaPageLink @ extension = 'html'}">
                        <button class="juniper-btn ${properties.ctaStyle ? properties.ctaStyle : 'juniper-btn--black'}">${properties.ctaLabel}</button>
                    </a>
                </div>
            </div>
        </div>
        <!--/* ./Right side (Content) */-->
        <!--/* Modal Video */-->
        <sly data-sly-test="${model.videoURL}"
             data-sly-use.modalTemplate="/apps/juniper/components/htl-templates/video-overlay.html"
             data-sly-set.videoModalId="${compId}VideoModal"
             data-sly-set.videoSrc="${model.videoURL @ context='uri'}">
            <sly data-sly-call="${modalTemplate.modal @ modalId = videoModalId, videoUrl = videoSrc}"></sly>
        </sly>
        <!--/* ./Modal Video */-->
    </div>
</div>
