.solutionslist {
    @extend .component-bottom-spacing;
    .cmp-solutions-list {
        @include color-theme($theme-colors) {
            @include media-breakpoint-down(sm) {
                background: radial-gradient(circle at 35% 17%, #{$value} 0%, #{$value} 18%, $white 18%, $white);
                min-height: 264px;
            }

            @include media-breakpoint-up(md) {
                background: radial-gradient(circle at 25% 27%, #{$value} 0%, #{$value} 19%, $white 19%, $white);
                min-height: 327px;
            }

            @include media-breakpoint-up(lg) {
                background: radial-gradient(circle at 25% 50%, #{$value} 0%, #{$value} 20%, $white 20%, $white);
                min-height: 436px;
            }

            @include media-breakpoint-up(xl) {
                background: radial-gradient(circle at 24% 50%, #{$value} 0%, #{$value} 19%, $white 19%, $white);
                min-height: 580px;
            }
        }

        .solutions-list__container {
            padding: 0 32px 0 33px;

            @include media-breakpoint-up(md) {
                padding: 0 32px;
            }
        }

        .solutions-list-wrapper {
            @include media-breakpoint-up(md) {
                display: grid;
                grid-template-columns: repeat(9, 1fr);
                column-gap: 24px;
            }

            @include media-breakpoint-up(lg) {
                grid-template-columns: repeat(11, 1fr);
                column-gap: 32px;

            }

            .solutions-list-intro {
                display: grid;
                column-gap: 32px;

                @include media-breakpoint-up(md) {

                    grid-column: 1/5;
                }

                @include media-breakpoint-up(lg) {
                    grid-template-columns: repeat(11, 1fr);
                    grid-column: 2/12;
                }

                .solutions-list-heading {
                    padding-bottom: 48px;

                    @include media-breakpoint-down(md) {
                        grid-column: 1/4;
                        padding-top: 13%;
                        @include font-size(30);
                        line-height: 33px;
                        color: #212121 !important;
                    }
                    @include media-breakpoint-up(md) {
                        padding-top: 20%;
                        @include font-size(36);
                        line-height: 40px;
                    }
                    @include media-breakpoint-up(lg) {
                        padding-bottom: 18px;
                        padding-top: 110px;
                        @include font-size(58);
                        line-height: 1.09;
                    }

                    @include media-breakpoint-up(xl) {
                        padding-bottom: 58px;
                        padding-top: 140px;
                    }
                }

                .solutions-list-heading {
                    grid-column: 1/9;
                }
            }

            .solutions-list-card-items {
                display: block;
                a{
                    color: $black;
                }
                @include media-breakpoint-up(md) {
                    grid-column: 6/10;
                    display: grid;
                    column-gap: 24px;
                }

                @include media-breakpoint-up(lg) {
                    grid-column: 2/11;
                    grid-template-columns: repeat(3, 1fr);
                    column-gap: 32px;
                    grid-row: 2/3;
                }

                .solutions-list-card-item {
                    color: $black;

                    display: block;

                    @include media-breakpoint-up(md) {}

                    @include media-breakpoint-down(sm) {
                        padding-bottom: 40px;
                    }

                    @include media-breakpoint-up(xl) {
                        grid-template-rows: 1fr 1.5fr .5fr;
                    }

                    .solution-name {
                        line-height: 1.09;
                        letter-spacing: -0.66px;
                        @include font-size(22);

                        @include media-breakpoint-up(md) {
                            line-height: 1.15;
                            letter-spacing: -0.78px;
                            @include font-size(30);
                        }

                        @include media-breakpoint-up(lg) {
                            line-height: 1.15;
                            letter-spacing: -0.52px;
                            @include font-size(26);
                        }

                        @include media-breakpoint-up(xl) {
                            line-height: 1;
                            letter-spacing: -0.72px;
                            @include font-size(36);
                        }
                    }

                    .title {
                        display: block;
                        padding-bottom: 0px;

                        @include media-breakpoint-up(md) {
                            @include font-size(30);
                            line-height: 33px;
                        }
                        @include media-breakpoint-up(lg) {
                            @include font-size(26);
                            line-height: 30px;
                        }

                        .h3 {
                            margin: 0;
                            text-align: left;
                            @include font-size(22);
                            font-weight: 400;
                            line-height: 1.09;
                            letter-spacing: -.56px;
                            margin-bottom: 10px;
                            color: $black;

                            @include media-breakpoint-up(md) {
                                line-height: 1.1;
                                // margin-bottom: 30px;
                            }

                            @include media-breakpoint-up(lg) {
                                @include font-size(26);
                                line-height: 1.4;
                                margin-bottom: 0px;
                            }

                            @include media-breakpoint-up(xl) {
                                @include font-size(36);
                                line-height: 1;
                                margin-bottom: 0px;
                            }


                        }
                    }

                    .solution-description {
                        line-height: 1.43;
                        letter-spacing: -0.14px;
                        @include font-size(16);

                        @include media-breakpoint-up(sm) {
                            padding-top: 12px;
                        }

                        @include media-breakpoint-up(md) {
                            line-height: 1.4;
                            letter-spacing: -0.3px;
                            @include font-size(16);
                        }

                        @include media-breakpoint-up(lg) {
                            line-height: 1.44;
                            letter-spacing: -0.32px;
                            @include font-size(18);
                            padding-top: 10px;
                        }

                        @include media-breakpoint-up(xl) {
                            line-height: 1.38;
                            letter-spacing: -0.16px;
                            padding-top: 0;

                        }

                        @media all and (-ms-high-contrast: none),
                        (-ms-high-contrast: active) {
                            padding-bottom: 120px;
                        }
                    }

                    

                    .links {
                        display: flex;
                        height: fit-content;
                        color: inherit;

                        .readmore-link {
                            justify-self: start;
                            display: flex;
                            align-self: baseline;
                            padding-right: 10px;
                            font-weight: bold
                        }

                        span {
                            padding-top: 8px;
                        }
                    }
                    .product-title {
                        color: $black;
                        letter-spacing: -0.9px;
                        font-weight: 400;
                        @include font-size(30);
                        line-height: 33px;

                        background-image: linear-gradient(black, #000);
                        background-position: 0 100%;
                        background-repeat: no-repeat;
                        background-size: 0 2px;
                        transition: background-size 0.3s;
       
                        &:hover {
                          background-size: 100% 2px;
                        }  

                        @include media-breakpoint-up(md) {
                            @include font-size(36);
                            line-height: 36px;
                        }
                        @include media-breakpoint-up(lg) {
                            @include font-size(46);
                            line-height: 48px;
                        }
                        @include media-breakpoint-up(xl) {
                            @include font-size(50);
                            line-height: 50px;
                        }
                    }
                }

            }
        }
    }
}