<div class="configure__container" data-sly-test="${wcmmode.edit}">[ Configure ${component.title} Component ]</div>
<div data-sly-test="${properties.enableBanner || wcmmode.edit}" class="cmp-emergency-alert-banner"
    data-mod="emergency-alert-banner">
    <div class="emergency-alert-banner grid ${properties.themeColor}">
        <div class="emergency-alert-banner__text text-md-center rte-content ${properties.textColor}">${properties.emergencyNotification
            @context='html'}</div>
        <div class="close js-close">
            <span class="juniper-icon icon-close"></span>
        </div>
    </div>
</div>