@import '../../../styles/core/core-bundle';
@import '../../../styles/component/base/base-component';
@import './logo-bar-vars';

:host{
  @include base-component-block($margin: null);
  max-width: $base--page-max-width;
}

a.logo {
  position: relative;
  display: inline-block;
  height: $logo-height-desktop;
  padding: $logo-vertical-padding 0;
  cursor: pointer;

  @include media-width-down( map-get($breakpoint-map, $logo-breakpoint-key) ) {
    height: $logo-height-mobile;
  }

  img {
    height: 100%
  }
}
