// The default animation curves used by material design.
$sw-linear-out-slow-in-timing-function: cubic-bezier(0, 0, 0.2, 0.1) !default;
$sw-fast-out-slow-in-timing-function: cubic-bezier(0.4, 0, 0.2, 1) !default;
$sw-fast-out-linear-in-timing-function: cubic-bezier(0.4, 0, 1, 1) !default;

$sw-ease-in-out-curve-function: cubic-bezier(0.35, 0, 0.25, 1) !default;

$sw-swift-ease-out-duration: 400ms !default;
$sw-swift-ease-out-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1) !default;
$sw-swift-ease-out: all $sw-swift-ease-out-duration $sw-swift-ease-out-timing-function !default;

$sw-swift-ease-in-duration: 300ms !default;
$sw-swift-ease-in-timing-function: cubic-bezier(0.55, 0, 0.55, 0.2) !default;
$sw-swift-ease-in: all $sw-swift-ease-in-duration $sw-swift-ease-in-timing-function !default;

$sw-swift-ease-in-out-duration: 500ms !default;
$sw-swift-ease-in-out-timing-function: $sw-ease-in-out-curve-function !default;
$sw-swift-ease-in-out: all $sw-swift-ease-in-out-duration $sw-swift-ease-in-out-timing-function !default;

$sw-swift-linear-duration: 80ms !default;
$sw-swift-linear-timing-function: linear !default;
$sw-swift-linear: all $sw-swift-linear-duration $sw-swift-linear-timing-function !default;
