// Variables Breakpoints

// XSMALL
// Small handset screen
$brkp-handset: 360px;
// Larger handset screen
$brkp-handset-lg: 400px;

// SMALL
// Marks the transition point between mobile and tablet
$brkp-mobile-trans: 640px;
// Tablet portrait
$brkp-tablet: 720px;

// MEDIUM
// Marks the transition point between tablet and laptop
$brkp-tablet-trans: 960px;
// Tablet landscape
$brkp-tablet-land: 1024px;

// LARGE
// Laptop
$brkp-laptop: 1280px;
// Desktop
$brkp-desktop: 1440px;

$brkp-large-desktop:1920px;

// PAGE CAPS
// Max page cap
$base--page-max-width: $brkp-desktop;
// Min page cap ~iPhone 5S
$base--page-min-width: 320px;

$breakpoint-map: (
  xs: $brkp-handset,
  sm: $brkp-mobile-trans,
  md: $brkp-tablet-trans,
  mdl: $brkp-tablet-land,
  lg: $brkp-laptop,
  xl: $brkp-desktop,
  xxl: $brkp-large-desktop
);
