// Variables — Colors

// BRAND
$c-brand-green-base: #84b135;
$c-brand-green-light: #9dca4d;
$c-brand-green-dark: #6b991a;
$c-brand-green-darkest: #3b6a00;
$jnpr-green: #448500;
// GRAYSCALE
$c-black: black;
$c-grey-lightest: darken(white, 2.5%);
$c-grey-05: darken(white, 5%);
$c-grey-10: darken(white, 10%);
$c-grey-20: darken(white, 20%);
$c-grey-30: darken(white, 30%);
$c-grey-40: darken(white, 40%);
$c-grey-60: darken(white, 60%);
$c-grey-65: darken(white, 65%);
$c-grey-70: darken(white, 70%);
$c-grey-80: darken(white, 80%);
// 85% gray is used for dark global navigation backgrounds, e.g., footer.
$c-grey-85: darken(white, 85%);
// The darkest gray should *only* be used for utility purposes such as backdrops
$c-grey-darkest: darken(white, 90%);

// LIGHT BLUES
$c-light-blue-900: #01579b;
$c-light-blue-800: #0277bd;
$c-light-blue-700: #0288d1;
$c-light-blue-600: #039be5;
$c-light-blue-500: #03a9f4;
$c-light-blue-a400: #00b0ff;

// GREEN
$c-green-900: #1b5e20;
$c-green-800: #2e7d32;
$c-green-700: #388e3c;
$c-green-600: #43a047;
$c-green-500: #4caf50;
$c-green-a400: #00e676;

// ORANGE
$c-orange-900: #e65100;
$c-orange-800: #ef6c00;
$c-orange-700: #f57c00;
$c-orange-600: #fb8c00;
$c-orange-500: #ff9800;
$c-orange-a400: #ffa726;

// CUSTOM
$c-custom-dark-mute-blue: #324257;

// TEXT
$c-txt-headline-on-light: $c-grey-80;
$c-txt-blue-headline-on-light: $c-custom-dark-mute-blue;
$c-txt-body-on-light: $c-grey-65;
$c-txt-on-dark: white;

// ACTIVE
$c-active-bg-static: $c-light-blue-600;
$c-active-bg-hover: $c-light-blue-800;
$c-active-txtonlight-static: $c-light-blue-700;
$c-active-txtonlight-hover: $c-light-blue-800;
$c-active-txtondark-static: white;
$c-active-txtondark-hover: $c-light-blue-500;

// NEW Home Page

$light-primary-text: white;
$dark-primary-text: rgba(black, 0.87);
$dark-secondary-text: rgba(black, 0.54);
$light-secondary-text: rgba(white, 0.7);

// Primary Brand Colors

$c-greenbase: #84b135;
$c-bluebase: #037dba;
$c-aloebase: #cedd44;
$c-tealbase: #0096a4;
$c-darkgreenbase: #44b178;
$c-darktealbase: #0a5169;

// Secondary Brand Colors

$c-goldbase: #ffa41b;
$c-redbase: #d52744;

$c-jadebase: #009f77;
$c-purplebase: #4b3b67;
$c-orangebase: #e36b00;

// Neutral Colors
$c-graybackground: #f0f3f5;
$c-grayborder: #b5b8b9;
$c-graydisabled: #888d90;
$c-graybodytext: #4d5259;

//Extented Colors
$c-greenextend: #2d6a00;
$c-blueextend: #005d8c;
$c-tealextend: #086770;
$c-jadeextend: #006c51;
$c-purpleextend: #4b3b67;
$c-orangeextend: #934600;

//product background primary colors
$c-orangetint: #fcf0e5;
$c-purpletint: #e4e1e8;
$c-bluetint: #e5f2f8;
$c-greentint: #f2f7eb;

//product background secondary colors
$c-jadetint: #e5f5f1;

//product background cta colors
$c-darkgreencta: #448500;

// #448500

// Homepage Phase 2 variables
$theme-colors-map: (
    "greenBase": (
        "dark": $c-greenbase,
        "light": $light-primary-text,
        "hover": $c-greenextend,
    ),
    "blueBase": (
        "dark": $c-bluebase,
        "light": $light-primary-text,
        "hover": $c-blueextend,
    ),
    "tealBase": (
        "dark": $c-tealbase,
        "light": $light-primary-text,
        "hover": $c-tealextend,
    ),
    "jadeBase": (
        "dark": $c-jadebase,
        "light": $light-primary-text,
        "hover": $c-jadeextend,
    ),
    "purpleBase": (
        "dark": $c-purplebase,
        "light": $light-primary-text,
        "hover": $c-purpleextend,
    ),
    "orangeBase": (
        "dark": $c-orangebase,
        "light": $light-primary-text,
        "hover": $c-orangeextend,
    ),
    "White": (
        "dark": $c-active-txtondark-static,
        "light": $dark-primary-text,
        "hover": $dark-secondary-text,
    ),
    "grayBackground": (
        "dark": $c-graybackground,
        "light": $dark-primary-text,
        "hover": $dark-secondary-text,
    ),
    "grayBorder": (
        "dark": $c-grayborder,
        "light": $dark-primary-text,
        "hover": $dark-secondary-text,
    ),
    "grayDisabled": (
        "dark": $c-graydisabled,
        "light": $dark-primary-text,
        "hover": $dark-secondary-text,
    ),
    "grayBodyText": (
        "dark": $c-graybodytext,
        "light": $light-primary-text,
        "hover": $dark-secondary-text,
    ),
    "Black": (
        "dark": $c-black,
        "light": $light-primary-text,
        "hover": $dark-secondary-text,
    ),
    "lightgray": (
        "dark": $c-graybackground,
        "light": $light-primary-text,
        "hover": $c-grayborder,
    ),
    "green": (
        "dark": $c-greenbase,
        "light": $light-primary-text,
        "hover": $c-greenextend,
    ),
    "darkgrayoutlined": (
        "dark": $c-graydisabled,
        "light": $dark-primary-text,
        "hover": $c-graybodytext,
    ),
    "darkgrayraised": (
        "dark": $c-graybackground,
        "light": $dark-primary-text,
        "hover": $c-graydisabled,
    ),
    // button themes
        // 1st variant
        "jnprGreenBase":
        (
            "dark": $jnpr-green,
            "light": $light-primary-text,
            "hover": $c-black,
            "border": $jnpr-green,
            "hoverText": $light-primary-text,
            "hoverBorder": $c-black
        ),
    //2nd variant
        "jnprBlackBase":
        (
            "dark": $c-black,
            "light": $light-primary-text,
            "hover": $jnpr-green,
            "border":  $c-black,
            "hoverText": $light-primary-text,
            "hoverBorder": $jnpr-green
        ),
    // 3rd variant
        "jnprWhiteGreen":
        (
            "dark": $c-active-txtondark-static,
            "light": $dark-primary-text,
            "hover": $jnpr-green,
            "border": $c-active-txtondark-static,
            "hoverText": $c-txt-on-dark,
            "hoverBorder": $jnpr-green,
        ),
    // 4th variant
        "jnprFilterGray":
        (
            "dark": $c-active-txtondark-static,
            "light": $c-graydisabled,
            "hover": $c-active-txtondark-static,
            "border": $c-grayborder,
            "hoverText": $c-black,
            "hoverBorder": $c-black,
        ),
);

$theme-colors: "greenBase", "blueBase", "tealBase", "jadeBase", "purpleBase", "orangeBase", "White", "grayBackground",
    "grayBorder", "grayDisabled", "grayBodyText", "Black", "lightgray", "green", "darkgrayraised", "darkgrayoutlined",
    "jnprGreenBase", "jnprBlackBase", "jnprWhiteGreen", "jnprFilterGray";

$product-secondary-color-map: (
    "$c-dark": $dark-primary-text,
    "$c-grey": $c-graybodytext,
    "$c-light-grey": $c-graydisabled,
    "$c-silver": $c-graybackground,
    "$c-white": white,
    "$c-secondary-jadebg": $c-jadetint,
    "$c-secondary-tealbg": $c-tealbase,
    "$c-cta": $c-darkgreencta,
);
$product-color-map: (
    "orangetint":
        map-merge(
            (
                "$c-primary-bg": $c-orangetint,
            ),
            $product-secondary-color-map
        ),
    "purpletint":
        map-merge(
            (
                "$c-primary-bg": $c-purpletint,
            ),
            $product-secondary-color-map
        ),
    "bluetint":
        map-merge(
            (
                "$c-primary-bg": $c-bluetint,
            ),
            $product-secondary-color-map
        ),
    "greentint":
        map-merge(
            (
                "$c-primary-bg": $c-greentint,
            ),
            $product-secondary-color-map
        ),
);

$product-theme-colors: "orangetint", "purpletint", "bluetint", "greentint";
