// Variables Type

// Note: also referenced in the font-family stylesheet
// to centralize the reference here
$base--font-family: 'lato',
Arial,
Helvetica,
sans-serif;
$base--font-size-small: 14px;
$base--font-size-body: 16px;
$base--font-size-large: 20px;

$base--line-height-consensed: 1.2;
$base--line-height-normal: 1.4;
$base--line-height-loose: 1.8;

$base--font-weight-light: 300;
$base--font-weight-base: 500;
$base--font-weight-bold: 700;
$base--font-weight-bolder: 800;

$base--page-lateral-padding: 20px;
$base--component-spacing: 20px;
$base--spacing-base-unit: 8px;
$base--border-hairline-width: 2px;

// Page width minus 40px padding on each side,
// and then 10 cols out of a 12 col grid
$base--content-column-max-width: round(($base--page-max-width - ($base--spacing-base-unit * 10)) * (10/12));

$base--zindex-dropdown-backdrop: 990 !default;
$base--zindex-dropdown: 1000 !default;
$base--zindex-navbar: 1020 !default;
$base--zindex-navbar-fixed: 1030 !default;
$base--zindex-navbar-sticky: 1030 !default;
$base--zindex-modal-backdrop: 1040 !default;
$base--zindex-modal: 1050 !default;
$base--zindex-popover: 1060 !default;
$base--zindex-tooltip: 1070 !default;

// new branding styles
$base-heading1: 32px;
$base-heading2: 28px;
$base-heading3: 24px;
$base-heading4: 22px;
$base-heading5: 18px;

$base-body1: 16px;
$base-body2: 14px;


// beyond branding styles

$XLarge : ("h1": ("font-size":76, "line-height":76),
    "h2": ("font-size":50, "line-height":50),
    "h3": ("font-size":36, "line-height":36),
    "h4": ("font-size":28, "line-height":34),
    "h5": ("font-size":14, "line-height":17),
    "LinkLarge": ("font-size":20, "line-height":26),
    "LinkSmall": ("font-size":16, "line-height":23),
    "eyebrow": ("font-size":13, "line-height":16),
    "tag": ("font-size":10, "line-height":13));

$Large : ("h1": ("font-size":58, "line-height":70),
    "h2": ("font-size":42, "line-height":48),
    "h3": ("font-size":26, "line-height":35),
    "h4": ("font-size":22, "line-height":30),
    "h5": ("font-size":14, "line-height":17),
    "LinkLarge": ("font-size":18, "line-height":28),
    "LinkSmall": ("font-size":16, "line-height":23),
    "eyebrow": ("font-size":13, "line-height":16),
    "tag": ("font-size":10, "line-height":13));

$Medium : ("h1": ("font-size":42, "line-height":42),
    "h2": ("font-size":36, "line-height":36),
    "h3": ("font-size":24, "line-height":30),
    "h4": ("font-size":20, "line-height":25),
    "h5": ("font-size":14, "line-height":17),
    "LinkLarge": ("font-size":17, "line-height":24),
    "LinkSmall": ("font-size":15, "line-height":23),
    "eyebrow": ("font-size":11, "line-height":14),
    "tag": ("font-size":10, "line-height":13));

$Small : ("h1": ("font-size":38, "line-height":42),
    "h2": ("font-size":30, "line-height":33),
    "h3": ("font-size":22, "line-height":24),
    "h4": ("font-size":18, "line-height":24),
    "h5": ("font-size":14, "line-height":17),
    "LinkLarge": ("font-size":16, "line-height":23),
    "LinkSmall": ("font-size":14, "line-height":20),
    "eyebrow": ("font-size":11, "line-height":14),
    "tag": ("font-size":10, "line-height":13));