// Flat and raised button
$sw-button-padding-vertical: 16px;
$sw-button-padding-lateral: 24px;
$sw-button-line-height: 18px;
$sw-button-icon-vertical-align: middle;
$sw-button-icon-vertical-offset: -0.05em;

// Raised button
$sw-raised-button-background: white;

// Button color themes
$sw-button-theme-primary-static-text: $c-light-blue-600 !default;
$sw-button-theme-primary-static-background: $c-light-blue-600 !default;
$sw-button-theme-primary-focus-text: $c-light-blue-800 !default;
$sw-button-theme-primary-focus-background: $c-light-blue-800 !default;

$sw-button-theme-accent-static-text: $c-green-600 !default;
$sw-button-theme-accent-static-background: $c-green-600 !default;
$sw-button-theme-accent-focus-text: $c-green-800 !default;
$sw-button-theme-accent-focus-background: $c-green-800 !default;

$sw-button-theme-warn-static-text: $c-orange-700 !default;
$sw-button-theme-warn-static-background: $c-orange-700 !default;
$sw-button-theme-warn-focus-text: $c-orange-900 !default;
$sw-button-theme-warn-focus-background: $c-orange-900 !default;

$sw-button-theme-invert-static-text: $c-active-txtondark-static !default;
$sw-button-theme-invert-static-background: transparent !default;
$sw-button-theme-invert-focus-text: $c-active-txtondark-hover !default;
$sw-button-theme-invert-focus-background: $c-active-txtondark-hover !default;

$sw-button-theme-regular-static-text: $c-txt-body-on-light !default;
$sw-button-theme-regular-static-background: transparent !default;
$sw-button-theme-regular-focus-text: $c-light-blue-800 !default;
$sw-button-theme-regular-focus-background: $c-active-txtondark-hover !default;

$sw-button-theme-disabled-button-background: $c-grey-10;
$sw-button-theme-disabled-button-txt: $c-grey-30;

// Icon
$sw-xs-icon-size: 18px !default;
$sw-sm-icon-size: 24px !default;
$sw-md-icon-size: 36px !default;
$sw-lg-icon-size: 48px !default;
$sw-xl-icon-size: 64px !default;
$sw-default-icon-size: $sw-sm-icon-size !default;
$sw-icon-size-attr: 'sw-icon-size' !default;

// Overlay
$sw-z-index-overlay-container: $base--zindex-modal;
$sw-z-index-overlay: $base--zindex-modal;
$sw-z-index-overlay-backdrop: $base--zindex-modal-backdrop;

// Dialog
$sw-toolbar-variable-height: false;
$sw-toolbar-height-desktop: 54px;
