<div data-sly-test="${wcmmode.edit && !wcmmode.preview}"
    class="aem-helper configure__container">[ Configure ${component.title} Component ]</div>
    
<sly data-sly-use.model="com.juniper.aem.models.ProductComparisonMatrixModel"></sly>

<sly data-sly-use.utilityModel="${'com.juniper.aem.models.UtilityModel'}"
    data-sly-set.compId="pcmatrix${utilityModel.uniqueId}"></sly>

<div class="cmp-prod-comp-matrix" data-mod="prod-comp-matrix">
    <div class="container pcm-container">
        <div class="wrapper grid">
        <div class="table-box">
            <table >
            <thead>
                <tr>
                    <th></th> 
                    <sly data-sly-list.logo="${model.tableHeaders}">
                        <th class="${logoList.count == 1 ? 'green-bg' : ''}"><img src="${logo.fileReference @context='text'}" alt="${logo.altText}" title="${logo.altText}"/></th>
                    </sly>
                </tr>
             </thead>
             
             <sly data-sly-list.content="${model.tableContent}">
             
             <tbody class="${contentList.count == 1 ? 'section' : 'section spacer'}">
                
                 <tr class="head">
                    <td><div class="title">${content.sectionHeader @context="text"}</div></td>
                </tr>
                
                    <sly data-sly-list.row="${content.rows}">
                         <tr class="content mobile">
                            <td>${row.feature @context="text"}</td>
                         </tr>

                         <tr class="${row.isExpandable == 'true' ? 'content visiblerow add-border isExpandable' : 'content visiblerow add-border'}">
                            <td class="clickopen">${row.feature}</td>

                            <sly data-sly-list.column="${row.columns}">
                                <td data-rating="${column.rating @ context='text'}" class="add-rating"></td>   
                            </sly>                            
                        </tr>
                        
                        <tr class="content expanded add-border">
                             <td></td>
                            <sly data-sly-list.column="${row.columns}">
                                <td><div class="text-block rte-content">
                                <p data-sly-test="${column.description}">${column.description @context='html'}</p>
                               
                                    <sly data-sly-list.cta="${column.cta}">
                                        <a data-sly-test="${cta.ctaLink}" href="${cta.ctaLink}" target="${cta.target @context='text'}">${cta.ctaText @context='text'}</a>
                                         <span data-sly-test="${cta.ctaLink}" class="juniper-icon icon-arrow default"></span><br/>                                       
                                    </sly>
                                    <div class="player">
                                    <a class="overlay-video"
                                            data-sly-test="${column.videoPath}"
                                            href="#"
                                            data-video-modal-id="${compId}PCMatrix-${rowList.index}-${columnList.index}">${column.videoAltText
                                            @context='text'}</a> <span
                                            data-sly-test="${column.videoPath}"
                                            class="juniper-icon icon-arrow default"></span>

                                        <!--a data-sly-test="${column.videoPath}" class="play-icon" href="#" title="${column.videoAltText @ i18n}" data-video-modal-id="${compId}PCMatrix-${rowList.index}-${columnList.index}">                     
                                             <span class="${column.playIconColor == 'grey' ? 'juniper-icon icon-play-btn-hover' : 'juniper-icon icon-play-btn'}">                      
                                                 <span class="path1"></span>
                                                 <span class="path2"></span>
                                            </span>
                                        </a-->
                                        
                                         <!--/* Modal Video */-->
                                        <sly
                                            data-sly-test="${column.videoPath}"
                                            data-sly-use.modalTemplate="/apps/juniper/components/htl-templates/video-overlay.html"
                                            data-sly-set.videoModalId="${compId}PCMatrix-${rowList.index}-${columnList.index}"
                                            data-sly-set.videoSrc="${column.videoPath}">
                                            <sly data-sly-call="${modalTemplate.modal @ modalId = videoModalId, videoUrl = column.videoPath}"></sly>
                                        </sly>
                                    </div>
                                </div></td> 
                            </sly>                            
                        </tr>                        
                    </sly>                
             </tbody>
             
             </sly>
            </table>
        </div>
        </div>
    </div>    
</div>