.casestudycards, .cs-cards {

    .cmp-cs-cards {

        margin-left: -2pc;
        margin-right: -2pc;

        @extend .component-bottom-spacing;
        .csc-container {

            max-width: 100%;

            .wrapper {

                display: grid;
                background-color: $jade;
                padding: 64px 32px;

                @include color-theme($theme-colors) {
                    background-color: $value !important;
                    .searchfield {
                        background-color: $value !important;
                    }
                }

                grid-template-columns: repeat(4, 1fr);
                grid-gap: 16px;

                @include media-breakpoint-up(md) {
                    grid-template-columns: repeat(9, 1fr);
                    grid-gap: 24px;
                    padding: 64px 32px;
                }

                @include media-breakpoint-up(lg) {
                    grid-template-columns: repeat(11, 1fr);
                    grid-gap: 32px;
                    padding: 80px 32px;
                }

                .title {
                    grid-column: 1 / span 4;
                    font-size: 30px;
                    font-weight: normal;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.1;
                    letter-spacing: -0.9px;
                    color: $black;

                    @include media-breakpoint-up(md) {
                        grid-column: 1 / span 6;
                        font-size: 36px;
                        line-height: 1;
                        letter-spacing: -1.08px;
                    }

                    @include media-breakpoint-up(lg) {
                        grid-column: 2 / span 7;
                        font-size: 42px;
                        line-height: 1.05;
                        letter-spacing: -1.26px;
                    }
                }



                .cards {

                    grid-column: 1 / span 4;

                    display: grid;
                    grid-template-columns: repeat(1, 1fr);
                    grid-auto-rows: auto;
                    grid-gap: 32px;
                    padding-top: 0;
                    padding-bottom: 0;
                    @include media-breakpoint-up(md) {
                        grid-column: 1 / span 9;
                        grid-template-columns: repeat(2, 1fr);
                        grid-auto-rows: auto;
                        grid-gap: 24px;
                    }

                    @include media-breakpoint-up(lg) {
                        grid-column: 5 / span 6;
                        grid-template-columns: repeat(2, 1fr);
                    }


                    .card {

                        padding-left: 1.44rem;
                        border-radius: 6px;
                        background-color: $white;
                        cursor: pointer;
                        padding-bottom: 119px;

                        &__content {
                            &__top {
                                display: flex;
                                justify-content: space-between;

                                .card-image {
                                    .img-wrapper {

                                        display: flex;
                                        align-items: flex-end;
                                        justify-content: flex-end;

                                        img {
                                            height: 9rem;
                                            width: 9rem;
                                            border-top-right-radius: 6px;

                                            @include media-breakpoint-up(md) {
                                                height: 10rem;
                                                width: 10rem;
                                            }
                                            @include media-breakpoint-up(lg) {
                                                height: 11rem;
                                                width: 11rem;
                                            }
                                            @include media-breakpoint-up(xl) {
                                                height: 14rem;
                                                width: 14rem;
                                            }
                                        }
                                    }
                                }
                                .eyebrow-list{

                                    width: 45%;

                                    @include media-breakpoint-up(lg) {
                                        width: 42%;
                                    }

                                    .eyebrow {

                                        font-size: 11px;
                                        font-weight: bold;
                                        font-stretch: normal;
                                        font-style: normal;
                                        line-height: 1.27;
                                        letter-spacing: 1.98px;
                                        color: $black;
                                        top: 2.25rem;

                                        @include media-breakpoint-up(lg) {
                                            font-size: 13px;
                                            line-height: 1.23;
                                            letter-spacing: 2.34px;
                                        }

                                        &:after {
                                            content: '/';
                                            margin: 10px 0;

                                        }

                                        &:last-child{

                                                &:after{
                                                    display: none;
                                                }

                                        }
                                    }
                                }

                            }

                            &__bottom {

                            }
                        }


                        .cardtitle {
                            padding-right: 1.44rem;
                            margin-top: 1.5rem;
                            @include media-breakpoint-up(xl) {

                            }

                            h2 {
                                font-size: 30px;
                                font-weight: normal;
                                font-stretch: normal;
                                font-style: normal;
                                line-height: 1.1;
                                letter-spacing: -0.9px;
                                color: $black;

                                @include media-breakpoint-up(md) {
                                    font-size: 36px;
                                    line-height: 1;
                                    letter-spacing: -1.08px;
                                }

                                @include media-breakpoint-up(lg) {
                                    font-size: 42px;
                                    line-height: 1.05;
                                    letter-spacing: -1.26px;
                                }
                            }

                            .cardsubtitle {

                                font-size: 14px;
                                font-weight: normal;
                                font-stretch: normal;
                                font-style: normal;
                                line-height: 1.43;
                                letter-spacing: -0.14px;
                                color: $gray-dark;

                                margin-top: 1.5rem;

                                @include media-breakpoint-up(md) {
                                    font-size: 15px;
                                    line-height: 1.4;
                                    letter-spacing: -0.3px;
                                }

                                @include media-breakpoint-up(lg) {
                                    font-size: 16px;
                                    line-height: 1.44;
                                    letter-spacing: -0.32px;
                                }
                            }
                        }
                    }

                }

                //filters
                &.filteradd {




                    .filters-section {

                        grid-column: 1 / span 4;
                        display: block;


                        @include media-breakpoint-up(md) {
                            grid-column: 1 / -1;
                            padding: 0;
                            margin: 0;
                        }

                        @include media-breakpoint-up(lg) {
                            grid-column: 1 / span 4;
                            padding: 0;
                            margin-left: -32px;
                            background-color: white;                            
                        }
                        @include media-breakpoint-up(xl) {
                            grid-column: 1/span 4;
                            margin-left: -2rem;
                            margin-right: 0;                           
                        }

                    }

                    .cmp-filters{ 

                        .filters__container{
                            @include media-breakpoint-up(lg){
                                grid-template-columns:repeat(4,1fr);
                            }
                        }
                        .filters__container__wrapper {
                            @include media-breakpoint-up(lg){
                                
                                grid-column: 2/4;
                                margin-left: 0pc;
                                margin-right: -2pc;
                            }
                            @include media-breakpoint-up(xl){
                                margin-left: 2pc;
                            }
                        }
                        .filters__container__filters-wrapper .filters__categories .list-items__group__items--item{
                            @include media-breakpoint-down(md){
                                width: 49%;
                                margin-right: 0;
                                display: inline-block;
                            }
                        }
                    }
                }
            }
        }
    }
}