<div data-sly-test="${wcmmode.edit && !wcmmode.preview}" class="aem-helper configure__container">[ Configure ${component.title} Component ]</div>
<div class="cmp-faq-container ${properties.backgroundColor} ${properties.removeglobalspacing == 'true' ? 'no-spacing-bottom' : ''}">
    <div class="faq-heading">
        <h2>${properties.heading}</h2>
    </div>
     <div class="faq-introduction rte-content">${properties.introduction @context='html'}</div>
    <sly data-sly-list.childNodes="${resource.getChildren}"> 
        <sly data-sly-test="${childNodes.name == 'faqs'}">
        <div class="faq-list-container">
        <sly data-sly-list.faq="${childNodes.getChildren}">
            <h3>${faq.title}</h3>
            <div class="faq-description rte-content">${faq.description @context='html'}</div>
        </sly>
        </div>
        </sly>
    </sly>
</div>
