<div data-sly-test="${wcmmode.edit && !wcmmode.preview}"
    class="aem-helper configure__container">[ Configure
    ${component.title} Component ]</div>
<sly
    data-sly-use.explainerdata="com.juniper.aem.models.ExplainerDataModel">
<div class="cmp-explainer explainer explainer-wrapper full-width">

    <div class="heading">
        <h2>${explainerdata.heading @context='text'}</h2>
    </div>
    <div data-sly-test="${explainerdata.description}"
        class="large description rte-content">
        ${explainerdata.description @context='html'}</div>

    <div
        class="bgvariant bg-color-${explainerdata.bgShadowColor @ context='text'} w-100">
        <div class="explainer__container">
            <sly data-sly-list.cards="${explainerdata.cards}">
            <div class="no-margin content-wrapper">
                <div class="explainer__container__image">
                    <sly data-sly-test="${cards.imagePath}"> <sly
                        data-sly-use.imageHelper="${'com.juniper.aem.helpers.ImageHelper' @fileReference=cards.imagePath}" />
                    <img
                        src="${imageHelper.imageRenditionPath @context='uri'}"
                        alt="${cards.altText @context='text' || imageHelper.altText}" />
                    </sly>
                </div>
                <div class="explainer__container__details">
                    <div class="title" data-sly-test="${cards.title}">
                        <h2 class="title">
                            <a data-sly-unwrap="${!cards.titleLink}"
                                href="${cards.titleLink}"
                                target="${cards.titleTarget @context='text'}"
                                class="heading--link"> ${cards.title
                                @context='text'} </a>
                        </h2>
                    </div>
                    <div class="large shortdescription rte-content">
                        ${cards.description @context='html'}</div>
                    <sly data-sly-test="${cards.ctaLink}">
                    <div class="viewmore-pane mr-2">
                        <a href="${cards.ctaLink}"
                            class="juniper-btn juniper-btn--link readmore-link"
                            target="${cards.ctaTarget @context='uri'}">
                            ${cards.ctaText @context='text'} </a> <span
                            class="juniper-icon icon-arrow"></span>
                    </div>
                    </sly>
                </div>
            </div>
            </sly>
        </div>
    </div>
</div>
</sly>
