<div class="configure__container" data-sly-test="${wcmmode.edit}">[ Configure ${component.title} Component ]</div>
<sly data-sly-use.contentProps="com.juniper.aem.models.ContentModel" />
<sly data-sly-use.templates="template/variations.html"></sly>

<!--/* Content Header with Text */-->
<sly data-sly-test="${contentProps.layoutType == 'chwt'}"> 
    <div class="cmp-content-header-text">
        <sly data-sly-call="${templates.version1 @ data=contentProps.chwt}"></sly>
    </div>
</sly>

<!--/* Content Header With Image */-->

<sly data-sly-test="${contentProps.layoutType == 'chwi'}">
    <div class="cmp-content-header">
    	<sly data-sly-call="${templates.version2 @ data=contentProps.chwi}"></sly>
    </div>
</sly>

<!--/* Landing Header With Image */-->
<sly data-sly-test="${contentProps.layoutType == 'clhwi'}">
    <div class="cmp-content-header">
    	<sly data-sly-call="${templates.version3 @ data=contentProps.clhwi}"></sly>
    </div>
</sly>

