.cmp-global-search {
    min-height: 100px;
    .search {
        margin-bottom: 50px;
        margin-top: 50px;
        overflow: visible;
        &__search-box {
            grid-column: 1/5;
            margin-bottom: 1rem;
            text-align: left;
            @include media-breakpoint-up(md) {
                grid-column: 1/10;
            }
            @include media-breakpoint-up(lg) {
                grid-column: 5/11;
                margin-bottom: 2rem;
            }
            &__input {
                display: inline;
                padding-right: 4rem;
                width: calc(100% - 2rem);
                @include media-breakpoint-up(lg) {
                    display: block;
                    padding-right: 5rem;
                    width: 100%;
                }
                &:focus {
                    &~.icon-search {
                        color: $black;
                    }
                }
                &.invalid {
                    border: 2px solid $red;
                }
            }
            &__icon {
                color: $gray-light;
                cursor: pointer;
                position: absolute;
                top: 25%;
                &.icon-close {
                    display: none;
                    right: 5rem;
                    @include media-breakpoint-up(lg) {
                        right: 3rem;
                    }
                }
                &.icon-search {
                    right: 3rem;
                    @include media-breakpoint-up(lg) {
                        right: 1rem;
                    }
                }
            }
            &__filters-toggle {
                left: 0.5rem;
                text-decoration: none;
                @include media-breakpoint-up(lg) {
                    display: none;
                }
                &:hover {
                    text-decoration: none;
                }
            }
            .suggestions-wrapper {
                background-color: $white;
                position: absolute;
                top: 100%;
                z-index: 1;
                width: calc(100% - 2rem);
                @include media-breakpoint-up(lg) {
                    width: 100%;
                }
                .suggestions {
                    border: 1px solid $border-color;
                    list-style: none;
                    padding-left: 0;
                    li {
                        padding-left: 0.75rem;
                        &.active {
                            background-color: $jade;
                        }
                        a {
                            cursor: pointer;
                            text-decoration: none;
                            &:hover {
                                color: $black;
                                text-decoration: none;
                            }
                        }
                    }
                }
            }
        }
        &__filters {
            grid-column: 1/5;
            @include media-breakpoint-up(md) {
                grid-column: 1/10;
            }
            @include media-breakpoint-up(lg) {
                border-right: 1px solid rgba($gray-light, 0.25);
                display: block;
                grid-column: 2/5;
                padding-right: 1rem;
            }
            &__section-header {
                margin-bottom: 1rem;
                .icon-close {
                    cursor: pointer;
                    display: none;
                }
                &__expander {
                    cursor:  pointer;
                    display: inline;
                    font-size: .75em;
                    position: absolute;
                    right: 0;
                    top: 0;
                    @include media-breakpoint-up(lg) {
                        display: none;
                    }
                    &--collapse {
                        display: none;
                    }
                }
            }
            &__site-section, &__product, &__format, &__language {
                margin-bottom: 1rem;
                @include media-breakpoint-up(lg) {
                    margin-bottom: 2rem;
                }
                &__container {
                    @include media-breakpoint-up(lg) {
                        display: block;
                    }
                }
                // We need to refactor this once Forms work is ready.
                .custom-checkbox {
                    margin-bottom: 0.5rem;
                    .custom-control-input {
                        &:checked, &:indeterminate {
                            &~.custom-control-label:before {
                                border-color: $gray-light;;
                                background-color: $gray-light;;
                            }
                        }
                        &~.custom-control-label:before {
                            border-radius: 2px;
                            border: 2px solid $gray-light;
                        }
                    }
                }
                // We need to refactor this once Forms work is ready.
                .custom-radio {
                    margin-bottom: 0.5rem;
                    .custom-control-input {
                        &:checked {
                            &~.custom-control-label:before {
                                border-color: $gray-light;;
                                background-color: $gray-light;;
                            }
                        }
                        &~.custom-control-label:before {
                            border: 2px solid $gray-light;
                        }
                    }
                }
            }
            &__header {
                margin-bottom: 2rem;
                @include media-breakpoint-up(lg) {
                    margin-bottom: 3rem;
                }
                &__reset-button {
                    color: $gray-dark;
                    display: none;
                    text-decoration: underline;
                    &:hover {
                        color: $gray-dark;
                        text-decoration: underline;
                    }
                }
            }
            &__button {
                cursor: pointer;
                .custom-control-label {
                    cursor: pointer;
                    margin-right: 1rem;
                    @include media-breakpoint-up(lg) {
                        margin-right: 2rem;
                    }
                }
            }
            &__expander {
                cursor: pointer;
                font-size: .75em;
                position: absolute;
                right: 0;
                top: 0;
                &--collapse {
                    display: none;
                }
            }
        }
        &__overlay {
            background-color: $modal-backdrop-bg;
            height: 100%;
            opacity: 0;
            position: absolute;
            right: 0;
            top: 0;
            transition: opacity 1s ease-out 0s;
            width: 100%;
            z-index: -1;
            &.show {
                transition: opacity 1s ease-out 0s;
                opacity: $modal-backdrop-opacity;
                z-index: 1;
            }
            &__loader {
                display: none;
                grid-column: 1/5;
                @include media-breakpoint-up(md) {
                    grid-column: 1/10;
                }
                @include media-breakpoint-up(lg) {
                    grid-column: 7/9;
                }
                &__wrapper {
                    margin: 6rem auto;
                    width: 120px;
                    .circle {
                        border-radius: 50%;
                        background-color: $teal;
                        margin: 2rem auto;
                        width: 120px;
                        height: 120px;
                        position: absolute;
                        &--breath {
                            animation: breathing 4s linear infinite normal;
                            opacity: 1;
                        }
                        &--expand {
                            animation: scaleIn 2s infinite ease-out;
                            opacity: 0;
                        }
                        &--exterior {
                            width: 116px;
                            height: 116px;
                            border: 2px dashed $teal;
                            background-color: unset;
                            opacity: 0;
                            animation: scaleInExterior 2s infinite linear;
                            animation-delay: 0.5s;
                        }
                    }
                }
            }
        }
        &__results {
            grid-column: 1/5;
            @include media-breakpoint-up(md) {
                grid-column: 1/10;
            }
            @include media-breakpoint-up(lg) {
                grid-column: 5/11;
            }
            &__summary {
                display: none;
                margin-bottom: 1rem;
                @include media-breakpoint-up(lg) {
                    font-size: 2rem;
                    margin-bottom: 2rem;
                }
            }
            &__links {
                margin-bottom: 1rem;
                @include media-breakpoint-up(lg) {
                    margin-bottom: 2rem;
                }
                &--public, &--secure {
                    display: none;
                }
            }
            &__featured-results {
                border: 1px solid $grey-border;
                display: none;
                margin-bottom: 1rem;
                padding: 0.5rem;
                @include media-breakpoint-up(lg) {
                    margin-bottom: 2rem;
                    padding: 1rem;
                }
                &__header {
                    margin-bottom: 1rem;
                    @include media-breakpoint-up(lg) {
                        margin-bottom: 2rem;
                    }
                }
                &__item {
                    margin-bottom: 0.5rem;
                    @include media-breakpoint-up(lg) {
                        margin-bottom: 1rem;
                    }
                }
            }
            &__all-results {
                display: none;
                &__item {
                    margin-bottom: 1rem;
                    @include media-breakpoint-up(lg) {
                        margin-bottom: 2rem;
                    }
                    &--title {
                        text-decoration: none;
                        &:hover {
                            text-decoration: none;
                            color: $black;
                        }
                        mark {
                            font-weight: bolder;
                            background-color: inherit;
                            color: inherit;
                            padding: 0;
                        }
                    }
                    &--description {
                        color: $gray-dark;
                        margin-bottom: 0.5rem;
                        margin-top: 0.5rem;
                        @include media-breakpoint-up(lg) {
                            margin-bottom: 0;
                            margin-top: 0;
                        }
                        mark {
                            font-weight: bolder;
                            background-color: inherit;
                            color: inherit;
                            padding: 0;
                        }
                    }
                    &--link {
                        word-break: break-all;
                    }
                }
            }
            &__pagination {
                display: none;
                .page-link {
                    border: 1px solid $grey-border;
                    font-size: 0.75rem;
                    line-height: 0.75rem;
                    text-decoration: none;
                    padding: 0.25rem 0.375rem;
                    @include media-breakpoint-up(md) {
                        font-size: 1rem;
                        line-height: 1rem;
                        padding: 0.5rem 0.75rem;
                    }
                    &:hover {
                        background-color: $jade;
                        color: $black;
                        text-decoration: none;
                    }
                    &.active {
                        background-color: $teal;
                        color: $white;
                    }
                }
            }
        }
        &__error {
            display: none;
        }
    }
    a {
        color: $black;
        text-decoration: underline;
        &:hover{
            color: $dark-green;
            text-decoration: underline;
        }
        .juniper-icon {
            color: inherit;
        }
    }

    // Animation helpers
    @keyframes breathing {
        0% {
            transform: scale(0.75);
        }
        25% {
            transform: scale(1);
        }
        50% {
            transform: scale(0.75);
        }
        75% {
            transform: scale(1);
        }
        100% {
            transform: scale(0.75);
        }
    }
    @keyframes scaleIn {
        from {
            transform: scale(.5, .5);
            opacity: .5;
        }
        to {
            transform: scale(2, 2);
            opacity: 0;
        }
    }
    @keyframes scaleInExterior {
        0% {
            transform: scale(1, 1);
            opacity: 0;
        }
        25% {
            transform: scale(2, 2);
            opacity: 0.25;
        }
        50% {
            transform: scale(2.5, 2.5);
            opacity: 0.5;
        }
        75% {
            transform: scale(2.75, 2.75);
            opacity: 0.75;
        }
        100% {
            transform: scale(3, 3);
            opacity: 0;
        }
    }
}