$circle-sm-size: 288px;
$circle-md-size: 288px;
$circle-lg-size: 436px;
$circle-xl-size: 580px;
.cmp-stacked-paragraphs {
    @extend .component-bottom-spacing;
    
    .paragraphs {
        &.include-decorative-circle {
            min-height: $circle-sm-size;
            @include media-breakpoint-up(md) {
                min-height: $circle-md-size;
            }
            @include media-breakpoint-up(lg) {
                min-height: $circle-lg-size;
            }
            @include media-breakpoint-up(xl) {
                min-height: $circle-xl-size;
            }
            .paragraphs__text__header {
                margin-top: calc(#{$circle-sm-size} / 4);
                @include media-breakpoint-up(md) {
                    margin-top: calc(#{$circle-md-size} / 4);
                }
                @include media-breakpoint-up(lg) {
                    margin-top: calc(#{$circle-lg-size} / 4);
                }
                @include media-breakpoint-up(xl) {
                    margin-top: calc(#{$circle-xl-size} / 4);
                }
            }
        }
        &__text {
            grid-column: 1/5;
            @include media-breakpoint-up(md) {
                grid-column: 1/5;
                margin-bottom: 0;
            }
            @include media-breakpoint-up(lg) {
                grid-column: 2/5;
            }
            &__decorative-circle {
                background-color: rgba($green, 0.6);
                border-radius: 50%;
                height: $circle-sm-size;
                position: absolute;
                width: $circle-sm-size;
                @include media-breakpoint-up(lg) {
                    background-color: rgba($jade, 0.6);
                    height: $circle-lg-size;
                    margin-left: calc(#{map-get($custom-grid-column-gap, lg)} * -1);
                    width: $circle-lg-size;
                }
                @include media-breakpoint-up(xl) {
                    height: $circle-xl-size;
                    width: $circle-xl-size;
                }
                @include color-theme($theme-colors) {
                    background-color: $value;
                }
            }
            &__header {
                margin-bottom: 60px;
                @include media-breakpoint-up(md) {
                    margin-bottom: 0;
                }
                &--h1 {
                    color: $black;
                    font-size: 36px;
                    line-height: 1;
                    letter-spacing: -1.08px;
                    @include media-breakpoint-up(lg) {
                       font-size: 58px;
                        line-height: 1.09;
                        letter-spacing: -2.32px;
                    }
                    @include media-breakpoint-up(xl) {
                        font-size: 76px;
                        line-height: 1;
                        letter-spacing: -3.04px;
                    }
                }
            }
        }
        &__container {
            grid-column: 1/5;
            @include media-breakpoint-up(md) {
                grid-column: 6/10;
            }
            @include media-breakpoint-up(lg) {
                grid-column: 7/11;
            }
            &__paragraph {
                display: grid;
                grid-auto-rows: min-content;
                grid-column-gap: map-get($custom-grid-column-gap, sm);
                grid-template-columns: repeat(4, 1fr);
                @include media-breakpoint-up(md) {
                    grid-column-gap: map-get($custom-grid-column-gap, md);
                }
                @include media-breakpoint-up(lg) {
                    grid-column-gap: map-get($custom-grid-column-gap, lg);
                }
                @include media-breakpoint-up(xl) {
                    grid-column-gap: map-get($custom-grid-column-gap, xl);
                }
                &:not(:last-child) {
                    margin-bottom: 56px;
                    @include media-breakpoint-up(md) {
                        margin-bottom: 43px;
                    }
                    @include media-breakpoint-up(lg) {
                        margin-bottom: 100px;
                    }
                    @include media-breakpoint-up(xl) {
                        margin-bottom: 144px;
                    }
                }
                &__eyebrow {
                    font-size: 11px;
                    font-weight: bold;
                    font-stretch: normal;
                    font-style: normal;
                    grid-column: 1/5;
                    margin-bottom: 22px;
                    line-height: 1.27;
                    letter-spacing: 1.98px;
                    @include media-breakpoint-up(lg) {
                        font-size: 13px;
                        line-height: 1.23;
                        letter-spacing: 2.34px;
                        margin-bottom: 30px;
                    }
                }
                &__headline {
                    grid-column: 1/5;
                    margin-bottom: 16px;
                    @include media-breakpoint-up(md) {
                        margin-bottom: 18px;
                    }
                    @include media-breakpoint-up(lg) {
                        margin-bottom: 24px;
                    }
                    @include media-breakpoint-up(xl) {
                        grid-column: 1/4;
                    }
                    &--text {
                        font-size: 22px;
                        line-height: 1.09;
                        letter-spacing: -0.66px;
                        color: $black;
                        @include media-breakpoint-up(md) {
                            font-size: 26px;
                            line-height: 1.15;
                            letter-spacing: -0.78px;
                        }
                        @include media-breakpoint-up(lg) {
                            font-size: 42px;
                            line-height: 1.05;
                            letter-spacing: -1.26px;
                        }
                        @include media-breakpoint-up(xl) {
                            font-size: 50px;
                            line-height: 1;
                            letter-spacing: -1.5px;
                        }
                    }
                }
                &__text {
                    color: $gray-dark;
                    font-size: 16px;
                    grid-column: 1/5;
                    line-height: 1.44;
                    letter-spacing: -0.32px;
                    margin-bottom: 24px;
                    @include media-breakpoint-up(md) {
                        font-size: 17px;
                        line-height: 1.41;
                        letter-spacing: -0.34px;
                    }
                    @include media-breakpoint-up(lg) {
                        font-size: 18px;
                        line-height: 1.44;
                        letter-spacing: -0.36px;
                        margin-bottom: 36px;
                    }
                    @include media-breakpoint-up(xl) {
                        margin-bottom: 50px;
                    }
                }
                &__cta {
                    grid-column: 1/5;
                    @include media-breakpoint-down(md){
                        line-height: 30px;
                    }
                    &--link {
                        color: $black;
                        font-size: 16px;
                        font-weight: bold;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: 2.06;
                        letter-spacing: -0.16px;
                        @include media-breakpoint-up(lg) {
                            font-size: 20px;
                            line-height: 1.65;
                            letter-spacing: -0.2px;
                        }
                        &:after {
                            background-color: $black;
                        }
                        .icon-arrow {
                            font-size: 12px;
                            @include media-breakpoint-up(lg) {
                                font-size: 16px;
                            }
                        }
                    }
                }
            }
        }
    }
}