<!--/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  ~ Copyright 2017 Adobe
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/-->
<nav class="cmp-breadcrumb " aria-label="${'Breadcrumb' @ i18n}"
    data-sly-use.breadcrumb="com.juniper.aem.models.BreadcrumbModel"
    data-sly-test="${breadcrumb.pageList.size > 0}">
    <ol class="cmp-breadcrumb__list d-flex" data-sly-list.navItem="${breadcrumb.pageList}">
        <li
            class="cmp-breadcrumb__item d-flex align-items-center">
            <a href="${navItem.path @ extension = 'html'}" class="cmp-breadcrumb__item-link" > <span>${navItem.pageTitle || navItem.title}</span>
        </a> <span class="juniper-icon icon-right" data-sly-test="${!navItemList.last}"></span>
        </li>
    </ol>
</nav>