<template data-sly-template.breadcrumb="${@ seoModel}">
{
    "@context": "https://schema.org",
    "@type": "BreadcrumbList",
    "itemListElement": [
    <sly data-sly-list.navItem="${seoModel.breadcrumbSchemalist}">
        {
            "@type": "ListItem",
            "position": ${navItemList.count},
            "name": "${navItem.title}",
            "item": "${navItem.path @ extension='html'}"
        }<sly data-sly-test="${!navItemList.last}">,</sly>
    </sly>
    ]
}
</template>