.cmp-secondarynav {
    .wrapper {
        padding-top: 14px;
        padding-bottom: 25px;

        @include media-breakpoint-up(md) {
            padding-top: 24px;
            padding-bottom: 25px;
        }

        font-size: 14px;
        font-family: Lato,
        serif,
        sans-serif;

        @include color-theme($theme-colors) {
            background-color: $value;
        }

        .secnav-container {
            display: none;
            background-color: inherit;
            line-height: 17px;
            height: 17px;

            @include media-breakpoint-up(md) {
                display: block;
            }

            ul {
                font-size: 0;
            }

            li {
                line-height: 17px !important;
                font-size: 14px;

                a,
                .juniper-icon {
                    cursor: pointer;
                }
            }

            .secnav {
                display: inline-block;
                background-color: inherit;
                padding-left: 0;
                margin-bottom: 0;

                li {
                    display: inline-block;
                    background-color: inherit;
                    //margin-right: 24px;
                    padding-right: 24px;
                    display: inline-flex;
                    position: relative;

                    &.level1-item {
                        color: #4d5259;
                        padding-left: 2rem;

                        @include media-breakpoint-up(md) {
                            padding-right: 33px;
                        }

                        @include media-breakpoint-up(lg) {
                            padding-right: 101px;
                        }
                    }

                    &:last-child {
                        padding-right: 0;
                    }

                    .page {
                        &.active {
                            &:before {
                                content: '';
                                background: #0096a4;
                                border-radius: 50%;
                                width: 11px;
                                height: 11px;
                                display: inline-block;
                                margin: 0 5px 0 0;
                            }
                        }
                    }

                    a {
                        color: inherit;
                        line-height: 17px;
                    }

                    .juniper-icon {
                        font-size: x-small;
                        padding-left: 5px;
                        line-height: 17px;
                        width: 24px;
                        display: inline-block;
                        height: 16px;

                        &.icon-arrow-up:before {
                            margin-left: 14px;
                        }
                    }

                    .next-level {
                        display: none;
                        position: absolute;
                        width: 100%;
                        top: 40px;
                        left: -10px;
                        padding: 0 10px;
                        z-index: $zindex-secondary-nav;
                        background-color: inherit;

                        &.show {
                            display: block;
                            transition: height 1s ease;
                        }

                        li {
                            display: block;
                            margin-right: 0;
                            width: 100%;
                            padding-bottom: 14px;
                        }
                    }
                }
            }

            .more {
                display: none;
                width: 0;
                background-color: inherit;
                list-style: none;
                padding-left: 0;

                &.show {
                    display: inline-block;
                    width: auto;
                }

                li {
                    background-color: inherit;

                    .juniper-icon {
                        font-size: x-small;
                        padding-left: 5px;
                        line-height: 17px;
                        width: 24px;
                        display: inline-block;
                        height: 14px;

                        &.icon-arrow-up:before {
                            margin-left: 14px;
                        }
                    }

                    .more-l2 {
                        display: none;
                        list-style: none;
                        position: absolute;
                        width: auto;
                        top: 40px;
                        padding: 0 10px;
                        background-color: inherit;
                        z-index: $zindex-secondary-nav;
                        left: -10px;

                        &.show {
                            display: inline-block;
                            transition: height 1s ease;
                        }

                        li {
                            display: block;
                            width: 100%;
                            padding-bottom: 14px;

                            .juniper-icon {
                                font-size: x-small;
                                padding-left: 5px;
                                line-height: 17px;
                                width: 24px;
                                display: inline-block;
                                height: 14px;

                                &.icon-arrow-up:before {
                                    margin-left: 14px;
                                }
                            }

                            a {
                                color: inherit;
                                line-height: 17px;
                            }

                            .next-level {
                                display: none;
                                position: relative;
                                width: auto;
                                padding-top: 14px;
                                padding-left: 10px;
                                z-index: $zindex-secondary-nav;
                                background-color: inherit;

                                &.show {
                                    display: block;
                                    transition: height 1s ease;
                                }

                                li {
                                    display: block;
                                    margin-right: 0;
                                
                                    &:last-child {
                                        padding-bottom: 0 !important;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            &.mobile {
                display: block;
                width: 100%;
                height: auto;

                @include media-breakpoint-up(md) {
                    display: none;
                }

                .secnav-mob {
                    width: 100%;
                    padding-left: 0;
                    background-color: inherit;
                    z-index: $zindex-secondary-nav;

                    li {
                        display: block;
                        padding-left: 2rem;
                        list-style: none;
                        padding-bottom: 14px;

                        &.level1-item {
                            color: #4d5259;
                            font-size: 10px;
                            line-height: 13px !important;
                            letter-spacing: .5px;
                        }

                        a {
                            color: inherit;
                            line-height: 17px;
                        }

                        &.level2-item-active {
                            display: block;

                            .level2-extra {
                                display: none;

                                &.show {
                                    display: block;
                                }
                            }

                            .juniper-icon {
                                font-size: x-small;
                                padding-left: 5px;
                                line-height: 17px;
                                width: 24px;
                                display: inline-block;
                                height: 14px;

                                &.icon-arrow-up:before {
                                    margin-left: 14px;
                                }
                            }

                            .level2-extra {
                                padding-left: 0;
                                padding-right: 1.5rem;

                                li {
                                    padding-left: 0;

                                    &.hr {
                                        line-height: 1px !important;
                                        padding-bottom: 0;
                                    }

                                    hr {
                                        padding-right: 1.5rem;
                                        margin-top: 15px;
                                        margin-bottom: 14px;
                                    }
                                }

                                .level3-list {
                                    display: none;
                                    position: relative;
                                    width: auto;
                                    padding: 10px;
                                    z-index: $zindex-secondary-nav;
                                    background-color: inherit;

                                    &.show {
                                        display: block;
                                        transition: height 1s ease;
                                    }

                                    li {
                                        display: block;
                                        margin-right: 0;
                                        width: max-content;
                                    }
                                }
                            }

                            .level3-mob {
                                display: none;
                                padding-right: 1.5rem;

                                hr {
                                    padding-right: 1.5rem;
                                    margin-top: 15px;
                                    margin-bottom: 14px;
                                }

                                .back-level2 {
                                    cursor: pointer;
                                    padding-bottom: .5rem;
                                    font-size: 10px;
                                    line-height: 13px;

                                    .text {
                                        padding-left: 0;
                                        line-height: inherit;
                                    }
                                }

                                &.show {
                                    display: block;
                                    transition: height 1s ease;
                                }

                                .juniper-icon {
                                    &.icon-arrow-left {
                                        font-size: xx-small;
                                        padding-left: 5px;
                                        line-height: 10px;
                                        width: 20px;
                                        height: 10px;

                                        &:before {
                                            top: -3px;
                                            left: 0;
                                        }
                                    }
                                }

                                .text {
                                    padding-left: 1.5rem;
                                    line-height: 1.5rem;
                                }

                                ul,
                                li {
                                    padding-left: 0;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}