.textdescription{
    @extend .grid;
    .eyebrow {
         @include font-size(11);
         line-height: 14px;
         letter-spacing: 1.98px;
         padding-bottom: 2rem;
         display: block;
         @include media-breakpoint-up(lg) {
             @include font-size(13);
             line-height: 16px;
             letter-spacing: 2.34px;
         }
    }
    h1{
         @extend .content-grid-9;
         padding-bottom: 1rem;
         @include media-breakpoint-up(md) {
         width: 70%; 
         }
         @include media-breakpoint-up(lg) {
         width: 100%; 
         }
     }
    & > div {
         @extend .content-grid-11;
         
        p{
            color: $gray-dark;
            padding-top: 24px;
            @include media-breakpoint-up(md) {
             width: 70%; 
            }
            @include media-breakpoint-up(lg) {
             width: 80%; 
            }
            &:last-child{
                padding-bottom: 1.5rem;
            }
        }
        .logo{
             @extend .content-grid-11;
             padding: 1rem 0 0;
             img{
                 width: 140px;
                 padding-right: 18px;
                 padding-bottom: 18px;
                 vertical-align: middle;
                 @include media-breakpoint-up(md){
                     width: 140px;
                 }
                 @include media-breakpoint-up(lg){
                     width: 135px;
                 }
                 @include media-breakpoint-up(xl){
                    width: 160px;
                }
                 
                 @include media-breakpoint-down(sm) {

                    padding-bottom: 24px;

                     &:nth-child(odd){
                         padding-left: 0;
                     }
                 }
             }
        }
    }
    .button__wrapper{
        margin-top: 48px;
    }
    
    .rte-content li{
        color: $gray-dark;
    }
 }