<div class="configure__container" data-sly-test="${wcmmode.edit}">[ Configure ${component.title} Component ]</div>

<div data-sly-use.utilityModel="${'com.juniper.aem.models.UtilityModel'}"
    data-sly-set.compId="clientTestimonial${utilityModel.uniqueId}"></div>

<sly data-sly-use.clientTestimonial="com.juniper.aem.models.ClientTestimonialModel">
<div class="cmp-client-testimonial container-fluid ${clientTestimonial.backgroundColor}" data-mod="clienttestimonial">
    <div class="client-testimonial__container">
        <div class="client-testimonial_body">
            <!--If image option selected-->
            <sly data-sly-test="${clientTestimonial.imageOrVideo == 'image'}" data-sly-use.imageHelper="${'com.juniper.aem.helpers.ImageHelper' @fileReference=clientTestimonial.imagePath}"/>
            <img data-sly-test="${clientTestimonial.imageOrVideo == 'image'}" class="image img-container-ht" alt="${clientTestimonial.imageAltText || imageHelper.altText}" src="${clientTestimonial.imagePath}" />
            <!--If video option selected-->
            <div data-sly-test="${clientTestimonial.imageOrVideo == 'video'}" class="client-testimonial_video vid-container-ht"
                data-attr-videoPath="${clientTestimonial.videoPath}">
                <img alt="${clientTestimonial.videoAltText}" src="${clientTestimonial.videoPath}" />
                <a class="play-icon" href="#" title="${'Play Video' @ i18n}" data-sly-test="${clientTestimonial.videoURL}" data-video-modal-id="${compId}VideoModal">
                    <span class="juniper-icon icon-play-btn">
                        <span class="path1"></span>
                        <span class="path2"></span>
                    </span>
                </a>
            </div>

            <div class="client-testimonial-quote ${clientTestimonial.imageOrVideo}-variant">
                <!-- If link provided-->
                <a class="h2" data-sly-test="${clientTestimonial.link}" href="${clientTestimonial.link}" target="${clientTestimonial.linkTarget}">
                    <span data-sly-text="${clientTestimonial.testimony}"></span>
                </a>
                <!-- If link not provided-->
                <span class="h2" data-sly-test="${!clientTestimonial.link}" data-sly-text="${clientTestimonial.testimony}"></span>

                <div class="client-testimonial_info">
                    <span class="client-name small" data-sly-text="${clientTestimonial.clientName}"></span>
                    <span class="client-role small" data-sly-text="${clientTestimonial.clientRole}"></span>
                </div>
            </div>
        </div>

    </div>
    <!-- Modal Video -->
    <sly data-sly-test="${clientTestimonial.videoURL}"
        data-sly-use.modalTemplate="/apps/juniper/components/htl-templates/video-overlay.html"
        data-sly-set.videoModalId="${compId}VideoModal" data-sly-set.videoSrc="${clientTestimonial.videoURL @ context='uri'}">
        <sly data-sly-call="${modalTemplate.modal@modalId=videoModalId,videoUrl=videoSrc}"></sly>
    </sly>
</div>
</sly>