
/**
 * Removes units from a number
 * @param {number} $number - A number with units
 * @returns {number} A number without units
 */
@function strip-unit($number) {
  @if type-of($number) == 'number' and not unitless($number) {
    @return $number / ($number * 0 + 1);
  }

  @return $number;
}

@function compute-ems($em-value: 1em, $base-value: null) {
  @if (type_of($base-value) != number) {
    @error '`computeEms` requires an argument for $base-value';
  }
  @return (strip-unit($em-value) * strip-unit($base-value)) + 0px;
}
