<div data-sly-test="${wcmmode.edit && !wcmmode.preview}"
    class="aem-helper configure__container">[ Configure
    ${component.title} ]</div>


<div class="label"
    data-sly-use.formFieldElementAttribute="com.juniper.aem.models.form.FormFieldElementAttributeModel">

<div class="label rte-content">
    ${formFieldElementAttribute.label @context='html'}
</div>

</div>