.demand-overlay {
    @include color-theme($theme-colors) {
        background: $value !important;
        .demand-overlay__top__title {
            @if $theme == 'black' {
                border-bottom: 1px solid rgba(#fff, 0.20);
            } @else {
                border-bottom: 1px solid rgba(#000000, 0.25);
            }
        }
        .demand-overlay__items__carousel__items--item {
            @include media-breakpoint-up(md) {
                @if $theme == 'black' {
                    border-right: 1px solid rgba(#fff, 0.20);
                } @else {
                    border-right: 1px solid rgba(#000000, 0.25);
                }
            }
        }
    }
    position: fixed;
    bottom: 0;
    z-index: $zindex-sticky+1;

    &__top {
        &__title {
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            padding-top: 14px;
            padding-bottom: 14px;

            p {
                @include font-size(16);
                line-height: 23px;
                letter-spacing: -0.32px;
                @include media-breakpoint-up(md) {
                    @include large;
                }
                margin-bottom: 0;
            }

            .icon-arrow-up {
                margin: 0 0 1rem 2rem;
                color: inherit;

                &:before {
                    color: inherit;
                    transform: rotate(180deg) translateX(1rem);
                    width: 1.5rem;
                }
            }

            &.show {
                .icon-arrow-up {
                    transform: rotate(180deg) translateX(.5rem);
                    margin: 1.2rem 0 0 2rem;

                }
            }
        }

    }

    &__items {
        @extend .grid;

        &__carousel {
            @extend .content-grid-11;
            position: relative;
            overflow: hidden;
            &__items {
                @include media-breakpoint-up(md) {
                    padding-right: 2.15rem ;
                    padding-left: 2.15rem;
                }
                &--item {
                    display: flex !important;
                    padding: 16px 0 56px;
                    margin-bottom: 16px;
                    @include media-breakpoint-up(md) {
                        padding: 31px 45px;
                    }
                    @include media-breakpoint-up(lg) {
                        padding: 31px;
                    }

                    &:focus {
                        outline: none;
                    }

                    .item {
                        position: relative;

                        &__link {
                            position: absolute;
                            left: 0;
                            top: 0;
                            right: 0;
                            bottom: 0;
                            cursor: pointer;

                            &:focus{
                                outline: 0;
                                border: none;
                                -moz-outline-style: none;
                            }
                        }

                        &__head {
                            &__title {
                                color: inherit;
                                margin-left: 10px;
                            }
                        }

                        &__text {
                            margin-top: 10px;

                            p {
                                @include lato-regular;
                                @include font-size(16);
                                line-height: 23px;
                                letter-spacing: -0.32px;
                                margin-bottom: 0;
                                @include media-breakpoint-up(md) {
                                    @include font-size(15);
                                    line-height: 21px;
                                    letter-spacing: -0.3px;
                                }
                                @include media-breakpoint-up(lg) {
                                    @include font-size(16);
                                    line-height: 23px;
                                    letter-spacing: -0.32px;
                                }
                            }
                        }

                    }
                }
            }

            &__custom-nav{
                position: absolute;
                bottom: 24px;
            }
        }
    }

    .slick-track {
        display: flex !important;
    }

    .slick-slide {
        height: auto;

        & > div {
            display: flex;
            height: 100%;
        }
    }

    .slick-prev, .slick-next {
        position: absolute;
        top: 50%;
        font-size: 0;
        background: transparent;
        color: inherit;
        border: none;
        outline: none;

        &:before {
            @extend .juniper-icon;
            @include font-size(20);
            color: inherit;
        }

        &:hover {
            &:before {
                color: inherit;
            }
        }
    }

    .slick-prev {
        left: 0;

        &:before {
            @extend .icon-left;
        }
    }

    .slick-next {
        right: 0;

        &:before {
            @extend .icon-right;
        }
    }
    .slick-dots{
        display: flex!important;
        padding: 0;
        li{
            color: $white;
            &:before{
                width: 6px;
                height: 6px;
                border: 1.3px solid $white;
                color: $white;
            }
            &:hover{
                &:before{
                    background: $white;
                }
            }

            &.slick-active{
                &:before{
                    background: $white;
                }
            }
        }
    }
}