// Applies styles to fab and mini-fab button types only
@mixin sw-fab($size, $padding) {
  @extend %sw-raised-button;

  min-width: 0;
  border-radius: $sw-fab-border-radius;
  width: $size;
  height: $size;
  padding: 0;
  flex-shrink: 0;

  background-color: $sw-button-theme-primary-static-background;
  color: white;
}
