// Applies styles to buttons with backgrounds: raised, fab, and mini-fab
%sw-raised-button {
  @extend %sw-button-base;

  @include sw-elevation(1);

  // Force hardware acceleration.
  transform: translate3d(0, 0, 0);

  // Animation.
  transition: background $sw-swift-ease-out-duration $sw-swift-ease-out-timing-function,
              sw-elevation-transition-property-value();

  &:active {
    @include sw-elevation(3);
  }

  &[disabled] {
    box-shadow: none;
  }
}
