// Applies a focus style to an sw-button element.
@mixin sw-button-focus {
  &::after {
    // The button spec calls for focus on raised buttons (and FABs) to be indicated with a
    // black, 12% opacity shade over the normal color (for both light and dark themes).
    // We do this by placing an :after pseudo-element with the appropriate shade over the button.
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    content: '';
    background-color: rgba(black, 0.08);
    border-radius: inherit;
    pointer-events: none;
  }
}
