// Applies styles to buttons with backgrounds: raised, fab, and mini-fab
%jnpr-raised-button {
    @extend %sw-button-base;
  
    @include sw-elevation(1);
  
    // Force hardware acceleration.
    transform: translate3d(0, 0, 0);
     
    font-size: 17px;

    &:active {
      @include sw-elevation(3);
    }

    &:hover {
        background-position: left bottom;
      }
  
    &[disabled] {
      box-shadow: none;
    }

  // common font properties for jnpr primary and secondary ctas

  line-height: 19px;
  font-weight: bold;

  }
  