// Theme
$sw-button-theme-attr: 'sw-theme' !default;

$sw-button-theme-primary-static-text: $c-light-blue-600 !default;
$sw-button-theme-primary-static-background: $c-light-blue-600 !default;
$sw-button-theme-primary-focus-text: $c-light-blue-800 !default;
$sw-button-theme-primary-focus-background: $c-light-blue-800 !default;

$sw-button-theme-accent-static-text: $c-green-600 !default;
$sw-button-theme-accent-static-background: $c-green-600 !default;
$sw-button-theme-accent-focus-text: $c-green-800 !default;
$sw-button-theme-accent-focus-background: $c-green-800 !default;

$sw-button-theme-warn-static-text: $c-orange-700 !default;
$sw-button-theme-warn-static-background: $c-orange-700 !default;
$sw-button-theme-warn-focus-text: $c-orange-900 !default;
$sw-button-theme-warn-focus-background: $c-orange-900 !default;

$sw-button-theme-invert-static-text: $c-active-txtondark-static !default;
$sw-button-theme-invert-static-background: transparent !default;
$sw-button-theme-invert-focus-text: $c-active-txtondark-hover !default;
$sw-button-theme-invert-focus-background: $c-active-txtondark-hover !default;

$sw-button-theme-regular-static-text: $c-txt-body-on-light !default;
$sw-button-theme-regular-static-background: transparent !default;
$sw-button-theme-regular-focus-text: $c-light-blue-800 !default;
$sw-button-theme-regular-focus-background: $c-active-txtondark-hover !default;

$sw-button-theme-disabled-button-background: $c-grey-10 !default;
$sw-button-theme-disabled-button-txt: $c-grey-30 !default;

// Flat and raised button
$sw-button-font-size: 1rem;
$sw-button-padding-vertical: 0 !default;
$sw-button-padding-lateral: 16px !default;
$sw-button-min-width: 80px !default;
$sw-button-margin: 0 !default;
$sw-button-line-height: 36px !default;
$sw-button-border-radius: 0 !default;
$sw-button-icon-vertical-align: middle !default;
$sw-button-icon-vertical-offset: 0 !default;
$sw-button-background: transparent !default;

// Raised button
$sw-raised-button-background: transparent !default;

// Icon Button
$sw-icon-button-size: 40px !default;
$sw-icon-button-border-radius: 50% !default;
$sw-icon-button-line-height: 24px !default;

// Fab
$sw-fab-border-radius: 50% !default;
$sw-fab-size: 56px !default;
$sw-fab-padding: 16px !default;

$sw-mini-fab-size: 40px !default;
$sw-mini-fab-padding: 8px !default;
