// Applies base styles to all button types.
%sw-button-base {
  box-sizing: border-box;
  position: relative;
  background: transparent;

  // Reset browser <button> styles.
  @include sw-button-reset();

  // Make anchors render like buttons.
  display: inline-block;
  white-space: nowrap;
  text-decoration: none;
  vertical-align: baseline;

  // Typography.
  font-size: $sw-button-font-size;
  font-family: $base--font-family;
  font-weight: $base--font-weight-bold;
  text-align: center;

  // Sizing.
  margin: $sw-button-margin;
  min-width: $sw-button-min-width;
  line-height: $sw-button-line-height;
  padding: $sw-button-padding-vertical $sw-button-padding-lateral;
  border-radius: $sw-button-border-radius;

  &[disabled] {
    cursor: default;
  }

  // &.sw-button-focus {
  //   @include sw-button-focus();
  // }
}
