<div class="configure__container" data-sly-test="${wcmmode.edit}">[ Configure ${component.title} Component ]</div>
<sly data-sly-use.textProps="com.juniper.aem.models.TextModel"/>
<sly data-sly-use.templates="template/variations.html"></sly>

<!--/* Text header direct color */-->
<sly data-sly-test="${textProps.layoutType == 'header'}">
    <div class="text-family-wrapper ${properties.removeglobalspacing == 'true' ? 'no-spacing-bottom' : ''}">
        <sly data-sly-call="${templates.version1 @ data=textProps.header}"></sly>
    </div>
</sly>

<!--/* Text image without background color */-->

<sly data-sly-test="${textProps.layoutType == 'twdaif'}">
    <div class="text-family-wrapper ${properties.removeglobalspacing == 'true' ? 'no-spacing-bottom' : ''}">
        <sly data-sly-call="${templates.version2 @ data=textProps.twdaif}"></sly>
    </div>
</sly>

<!--/* Text with Descriptor and Small Image */-->
<sly data-sly-test="${textProps.layoutType == 'twdasi'}">
    <div class="text-family-wrapper ${properties.removeglobalspacing == 'true' ? 'no-spacing-bottom' : ''}">
        <sly data-sly-call="${templates.version3 @ data=textProps.twdasi}"></sly>
    </div>
</sly>

<!--/* Text with Small Image */-->
<sly data-sly-test="${textProps.layoutType == 'twsi'}">
    <div class="text-family-wrapper ${properties.removeglobalspacing == 'true' ? 'no-spacing-bottom' : ''}">
        <sly data-sly-call="${templates.version4 @ data=textProps.twsi}"></sly>
    </div>
</sly>

<!--/* Text with Item List + Image  */-->
<sly data-sly-test="${textProps.layoutType == 'twili'}">
    <div class="text-family-wrapper ${properties.removeglobalspacing == 'true' ? 'no-spacing-bottom' : ''}">
        <sly data-sly-call="${templates.version5 @ data=textProps.twili}"></sly>
    </div>
</sly>

<!--/* Text header direct color = BREAK TEXT VERSION */-->
<sly data-sly-test="${textProps.layoutType == 'bt'}">
    <div class="text-family-wrapper ${properties.removeglobalspacing == 'true' ? 'no-spacing-bottom' : ''}">
        <sly data-sly-call="${templates.version6 @ data=textProps.bt}"></sly>
    </div>
</sly>

<!--/* Text with Item List */-->
<sly data-sly-test="${textProps.layoutType == 'twil'}">
    <div class="text-family-wrapper ${properties.removeglobalspacing == 'true' ? 'no-spacing-bottom' : ''}">
        <sly data-sly-call="${templates.version7 @ data=textProps.twil}"></sly>
    </div>
</sly>

<!--/* Text with Multiple Image/Icons */-->
<sly data-sly-test="${textProps.layoutType == 'twmii'}">
    <div class="text-family-wrapper ${properties.removeglobalspacing == 'true' ? 'no-spacing-bottom' : ''}">
        <sly data-sly-call="${templates.version8 @ data=textProps.twmii}"></sly>
    </div>
</sly>

<!--/* Text with item block */-->
<sly data-sly-test="${textProps.layoutType == 'twib'}">
    <div class="text-family-wrapper ${properties.removeglobalspacing == 'true' ? 'no-spacing-bottom' : ''}">
        <sly data-sly-call="${templates.version9 @ data=textProps.twib}"></sly>
    </div>
</sly>

<!--/* Text with item block logo */-->
<sly data-sly-test="${textProps.layoutType == 'twibl'}">
    <div class="text-family-wrapper ${properties.removeglobalspacing == 'true' ? 'no-spacing-bottom' : ''}">
        <sly data-sly-call="${templates.version10 @ data=textProps.twibl}"></sly>
    </div>
</sly>

<!--/* Text */-->
<sly data-sly-test="${textProps.layoutType == 'text'}">
    <div class="text-family-wrapper ${textProps.text.backgroundColor} ${properties.removeglobalspacing == 'true' ? 'no-spacing-bottom' : ''}">
        <sly data-sly-call="${templates.version11 @ data=textProps.text}"></sly>
    </div>
</sly>

<!--/* Split Text component with background image - v1 */-->
<sly data-sly-test="${textProps.layoutType == 'st' && textProps.splitTextType == 'stwi'}">
    <div class="text-family-wrapper ${properties.removeglobalspacing == 'true' ? 'no-spacing-bottom' : ''}">
        <sly data-sly-call="${templates.version12 @ data=textProps.stwi}"></sly>
    </div>
</sly>

<!--/* Split Text component without background image - v2 */-->
<sly data-sly-test="${textProps.layoutType == 'st' && textProps.splitTextType == 'stwoi'}">
    <div class="text-family-wrapper ${properties.removeglobalspacing == 'true' ? 'no-spacing-bottom' : ''}">
        <sly data-sly-call="${templates.version13 @ data=textProps.stwoi}"></sly>
    </div>
</sly>

<!--/* Split Text with out image */-->
<sly data-sly-test="${textProps.layoutType == 'stawi'}">
    <div class="text-family-wrapper ${properties.removeglobalspacing == 'true' ? 'no-spacing-bottom' : ''}">
        <sly data-sly-call="${templates.version14 @ data=textProps.stawi}"></sly>
    </div>
</sly>

<!--/* Split Text Impact Messaging 1 */-->
<sly data-sly-test="${textProps.layoutType == 'st' && textProps.splitTextType == 'stfim1'}">
    <div class="text-family-wrapper ${properties.removeglobalspacing == 'true' ? 'no-spacing-bottom' : ''}">
        <sly data-sly-call="${templates.version16 @ data=textProps.stfim1}"></sly>
    </div>
</sly>

<!--/* Split Text Impact Messaging 2 */-->
<sly data-sly-test="${textProps.layoutType == 'st' && textProps.splitTextType == 'stfim2'}">
    <div class="text-family-wrapper ${properties.removeglobalspacing == 'true' ? 'no-spacing-bottom' : ''}">
        <sly data-sly-call="${templates.version17 @ data=textProps.stfim2}"></sly>
    </div>
</sly>

<!--/* Expandable Text */-->
<sly data-sly-test="${textProps.layoutType == 'et'}">
    <div class="text-family-wrapper ${properties.removeglobalspacing == 'true' ? 'no-spacing-bottom' : ''}">
        <sly data-sly-call="${templates.version15 @ data=textProps.et}"></sly>
    </div>
</sly>

<!--/* Expandable Text with Columns  */-->
<sly data-sly-test="${textProps.layoutType == 'etwc'}"> 
    <div class="text-family-wrapper ${properties.removeglobalspacing == 'true' ? 'no-spacing-bottom' : ''}">
        <sly data-sly-call="${templates.version18 @ data=textProps.etwc}"></sly>
    </div>
</sly>
