<div data-sly-test="${wcmmode.edit && !wcmmode.preview}"
    class="aem-helper configure__container">[ Configure
    ${component.title}]</div>


<div class="radiobutton"
    data-sly-use.formFieldElementAttribute="com.juniper.aem.models.form.FormFieldElementAttributeModel">

    <div>${formFieldElementAttribute.heading}</div>

    <sly
        data-sly-list.radioItem="${formFieldElementAttribute.radioItemsContainer}">
    <label class="container">${radioItem.value} <input
        type="radio" checked="checked"
        name="${formFieldElementAttribute.name}" id="${radioItem.id}" value="${radioItem.value}">
        <span class="checkmark"></span>
    </label> </sly>
</div>