@import '../../styles/core/core-bundle';
@import '../../styles/component/base/base-component';

$scrolling-button-size: 50px;
$scrolling-button-size-mobile: $scrolling-button-size * (5/6);

:host() {
  @include base-component-spacing;
  max-width: $base--page-max-width;
}

.header {
  background-color: $c-grey-05;
  padding: sw-spacing(2) sw-spacing(3);

  button {
    padding: $sw-button-padding-vertical;

    &.back {
      min-width: 0;
      margin-left: -1.5 * $sw-button-padding-vertical;
    }
  }
}

.compare__toggles button[sw-raised-button] {
  box-shadow: none;
  margin-right: 2px;
  margin-bottom: 2px;
}

h1 {
  @include type-head1();
  margin: sw-spacing(2) 0 sw-spacing(2);
}

h2 {
  @include type-head3();
  margin: 22px 0;
}

td:last-of-type() {
  border-right: 1px solid $c-grey-10;
}

tr {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

th,
td {
  flex: none;
  align-self: stretch;
  display: block;
}

table {
  width: calc( 100% - #{$scrolling-button-size} );
  table-layout: fixed;
  overflow: hidden;
  z-index: 1;
  grid-column: 1/12;

  [sw-mobile] & {
    width: 100%;
  }
}

tbody tr:last-of-type() > * {
  border-bottom: 1px solid $c-grey-10;
}

thead th.cell--category-header {
  padding: 0;
}

.wrapper {
  position: relative;
  display: block;
}

.grid__table {
  position: relative;
  background-color: white;
}

.grid__cell {
  text-align: left;
  border-top: 1px solid $c-grey-10;
  border-left: 1px solid $c-grey-10;
  background-color: white;
  vertical-align: top;

  &.cell--product-header {
    background-color: black;
    color: white;
    text-align: center;
    vertical-align: middle;
  }

  &.pinned {
    background-color: $c-grey-05;
  }
}

.grid__cell .cell__content {
  @include media-respond-property (
    padding,
    root, sw-spacing(1),
    sm, sw-spacing(2)
  )
}

.grid__cell.cell--product-header .cell__content {
  padding-top: 4px;
  padding-bottom: 4px;
}

.cell__content {
  overflow: hidden;

  .grid__cell.cell--product-header & {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    @include media-width-down( map-get($breakpoint-map, sm) ) {
      .sw-invert {
        width: auto;
      }
    }
  }

  .grid__cell.cell--product-img & {
    padding-bottom: 0;
    text-align: center;
  }
}

.cell--category-header {
  font-weight: $base--font-weight-bold;

  .cell__content {
    display: inline-block;
  }
}

.img-wrapper {
  width: calc( 100% - #{sw-spacing(3)} );
  margin: sw-spacing(2);
  padding-top: percentage(9/16);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.img-content ::ng-deep [sw-button] {
  white-space: normal;
}

[sw-mini-fab] {
  border-radius: 0 !important;
  width: $scrolling-button-size !important;
  height: $scrolling-button-size !important;
  box-shadow: none;

  [sw-mobile] & {
    width: $scrolling-button-size-mobile;
  }
}

.action--pin {
  left: sw-spacing(1) * -1;
}
.action--remove {
  right: sw-spacing(1) * -1;

  @include media-width-down( map-get($breakpoint-map, sm) ) {
    visibility: hidden;
  }
}

.action--prev, .action--next {
  float: right;
}

.scroll-control {
  display: block;
  width: 100%;
  position: absolute;
  top: 0%;
  margin: 1px;

  [sw-mobile] & {
    margin: 0;
  }
}

.hidden {
  visibility: hidden;
}

[sw-mobile][colsinview="2"] {
  .grid__cell {
    width: calc( #{percentage(1)} - #{$scrolling-button-size-mobile} );
    &.cell--category-header {
      width: $scrolling-button-size-mobile;
    }
  }
}
[sw-mobile][colsinview="3"] {
  .grid__cell {
    width: calc( #{percentage(1/2)} - #{$scrolling-button-size-mobile/2} );
    &.cell--category-header {
      width: $scrolling-button-size-mobile;
    }
  }
}
[colsinview="3"] .grid__cell { width: percentage(1/3); }
[colsinview="4"] .grid__cell { width: percentage(1/4); }
[colsinview="5"] .grid__cell { width: percentage(1/5); }

.label{
  line-height: 1.15;
}

.floating-label {
  @include type-body();
  @include sw-elevation(2);
  background-color: $c-grey-lightest;
  color: $c-active-txtonlight-static;
  max-width: 210px;
  padding: sw-spacing(2);
}

[label-hide] {
  @include sw-ally-visually-hidden;
}
