<div class="wrapper" [attr.colsinview]="columnsInView" [attr.sw-mobile]="mobileView">
  <div class="header">
    <div>
      <button class="back" sw-button color="primary" *ngIf="l10n?.back?.length > 0" (click)="goBack()">
        <sw-icon>navigate_before</sw-icon><span [innerHTML]="l10n.back"></span></button>
      <h1 *ngIf="title" [innerHTML]="title"></h1>
    </div>
    <section class="selector">
      <h2 *ngIf="selectorLabel" [innerHTML]="selectorLabel"></h2>
      <div class="compare__toggles" role="group" *rxContext="let disableClose on disableClose$">
        <button sw-raised-button *ngFor="let i of allItems$|async; trackBy:trackById"
          [attr.aria-pressed]="i.isEnabled"
          [color]="i.isEnabled ? 'primary' : 'invert'"
          [disabled]="i.isEnabled && disableClose"
          (click)="toggle('show', i)">
          <span [innerHTML]="i.name"></span>
        </button>
        <button sw-button *ngIf="addAllLabel" color="primary" (click)="addAll()">
          <span [innerHTML]="addAllLabel"></span>
        </button>
      </div>
    </section>
  </div>

  <section class="grid__table" *rxContext="let displayItems on displayItems$">
    <table>
      <thead>
        <tr>
          <th class="grid__cell cell--category-header">
            <button sw-mini-fab class="action--prev" [disabled]="isNavPrevDisabled$|async" (click)="prev()">
              <sw-icon size="md">navigate_before</sw-icon></button>
          </th>
          <th *ngFor="let i of displayItems; trackBy:trackById"
              [@itemAnimationState]="i.state"
              (@itemAnimationState.start)="onItemAnimStart(i.id)"
              (@itemAnimationState.done)="onItemAnimDone(i.id)"
              [attr.data-key]="i.id"
              class="grid__cell cell--product-header">
            <div class="cell__content">
              <button sw-icon-button color="invert" class="action--pin" (click)="toggle('pin', i)" [disabled]="!i.isPinned && (disablePin$|async)">
                <sw-icon [alt]="getPinIconAlt(i)">{{getPinIcon(i)}}</sw-icon></button>
              <div class="label" [innerHTML]="i.name"></div>
              <button sw-icon-button color="invert" class="action--remove" (click)="toggle('show', i)" [disabled]="!i.isPinned &&(disableClose$|async)">
                <sw-icon>close</sw-icon></button>
            </div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th class="grid__cell cell--category-header">
            <div class="scroll-control">
              <button [attr.label-hide]="mobileView ? null : true" [disabled]="isNavNextDisabled$|async" sw-mini-fab class="action--next" (click)="next()">
                <sw-icon size="md">navigate_next</sw-icon></button>
            </div>
          </th>
          <td *ngFor="let i of displayItems; trackBy:trackById"
              [@itemAnimationState]="i.state"
              [attr.data-key]="i.id"
              class="grid__cell cell--product-img" [ngClass]="{ pinned: i.isPinned }">
            <div class="cell__content img-content">
              <div class="img-wrapper" [swBackgroundImage]="i.details?.image"></div>
              <a sw-button color="primary" [href]="i.details?.page">
                <i [outerHTML]="ctaLabel"></i><sw-icon>navigate_next</sw-icon>
              </a>
            </div>
          </td>
        </tr>
        <tr *ngFor="let c of compareSpecs$|async">
          <th class="grid__cell cell--category-header">
            <button sw-icon-button color="primary"
                cdkOverlayOrigin #origin="cdkOverlayOrigin"
                [attr.label-hide]="mobileView ? null : true"
                (click)="openLabel(origin, c.label)">
              <sw-icon>more_horiz</sw-icon>
            </button>
            <div class="cell__content" *ngIf="!mobileView" [innerHTML]="c.label"></div>
          </th>
          <td *ngFor="let i of displayItems; trackBy:trackById"
              [@itemAnimationState]="i.state"
              [attr.data-key]="i.id"
              class="grid__cell" [ngClass]="{ pinned: i.isPinned }">
            <div class="cell__content" [innerHTML]="i.specs[c.id]"></div>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="scroll-control">
      <button [attr.label-hide]="mobileView ? true : null" [disabled]="isNavNextDisabled$|async" sw-mini-fab class="action--next" (click)="next()">
        <sw-icon size="md">navigate_next</sw-icon>
      </button>
    </div>
  </section>
</div>

<ng-template #labelOverlay>
  <div class="floating-label">
    {{currentLabel}}
  </div>
</ng-template>
