<sly data-sly-use.model="com.juniper.aem.models.ProductFamilyOverviewModel"
    data-sly-use.utilityModel="${'com.juniper.aem.models.UtilityModel'}"
    data-sly-set.compId="productFamilyOverview${utilityModel.uniqueId}">
</sly>

<div class="configure__container" data-sly-test="${wcmmode.edit}">[
    Configure ${component.title} Component ]</div>

<div class="cmp-product-family-overview" data-video-modal-id="${compId}Modal" data-mod="product-family-overview"
    data-path="${properties.pagePath}">
    <div class="pfh-container ${properties.imageType == 'landscape' ? 'variant-prdt-hw':''}">
        <div class="left ">
            <div data-sly-test="${properties.heading}" class="title">

                <a data-sly-test="${properties.headingLink}" x-cq-linkchecker="valid" href="${model.finalHeadingLink}"
                    target="${properties.headingLinkTarget}">
                    <h1>${properties.heading}</h1>
                </a>
                <h1 data-sly-test="${!properties.headingLink}">${properties.heading}</h1>

            </div>

            <div data-sly-test="${properties.subheading}" class=" subheading">
                <h4>${properties.subheading}</h4>
            </div>

            <div data-sly-test="${properties.desc}" class="desc">
                <div class="rte-content">
                    <p>${properties.desc @ context='html'}</p>
                </div>
            </div>

            <div class="button-link" data-sly-test="${properties.buttonLabel || properties.button2Label}">
                <a class="button-link--item" href="${model.finalButtonLink}" target="${properties.buttonTarget}"
                    data-sly-test="${properties.buttonLabel}">
                    <button class="juniper-btn ${properties.buttonColor}">${properties.buttonLabel
                        @i18n}
                    </button>
                </a>
                <a class="button-link--item" data-sly-test="${properties.button2Label}" href="${model.finalButton2Link}"
                    target="${properties.button2Target}">
                    <button class="juniper-btn ${properties.button2Color}">${properties.button2Label
                        @i18n}
                    </button>
                </a>
            </div>
        </div>

        <div data-sly-test="${properties.fileReference}"
            class="right ${properties.imageType == 'landscape' ? 'align-self-center':'align-self-top'}"
            data-expandable="true">
            <div class="media">
                <sly
                    data-sly-use.imageHelper="${'com.juniper.aem.helpers.ImageHelper' @fileReference=properties.fileReference}" />
                <img class="img-vid" src="${imageHelper.imageRenditionPath}"
                    title="${properties.imageAltText || imageHelper.altText}"
                    alt="${properties.imageAltText || imageHelper.altText}">
                <a data-sly-test="${properties.videoUrl}" class="close-icon p-5 p-md-4 inner-close-js" href="#"
                    title="${'Stop Video' @ i18n}"> <span class="juniper-icon icon-close"></span>
                </a>
                <span data-sly-test="${properties.videoUrl}" title="${'Play Video' @ i18n}"
                    class="play-icon juniper-icon ${properties.playIconColor == 'grey' ? 'icon-play-btn-hover' : 'icon-play-btn'}">
                    <span class="path1"></span> <span class="path2"></span>
                </span>



                <div data-sly-test="${properties.videoUrl}" class="video-container"
                    data-video-target="${properties.videoTarget}">

                    <iframe class="vid" id="yt" src="${properties.videoUrl}" frameborder="0" allowfullscreen
                        allow="autoplay"> </iframe>
                </div>
            </div>

        </div>
    </div>

    <!--/* Modal Video */-->
    <sly data-sly-test="${properties.videoTarget == 'overlay'}"
        data-sly-use.modalTemplate="/apps/juniper/components/htl-templates/video-overlay.html"
        data-sly-set.videoModalId="${compId}Modal" data-sly-set.videoSrc="${properties.videoUrl}">
        <sly
            data-sly-call="${modalTemplate.modal @ modalId = videoModalId, containerClassName = 'pfh-player-container', videoUrl = videoSrc}">
        </sly>
    </sly>

</div>
