.overview-video {
    max-height: 263px;

    @include media-breakpoint-up(lg) {
        max-height: 785px;
    }

    .thumbnail {
        max-height: inherit;

        .img {
            max-height: inherit;
            height: 100%;
            width: 100%;
            object-fit: cover;

            @include media-breakpoint-up(md) {
                height: 550px;
            }

            @include media-breakpoint-up(lg) {
                height: 785px;
            }

            @include media-breakpoint-up(xl) {
                height: 785px;
            }
        }

        .play-icon {
            position: absolute;
            bottom: 25px;
            right: 25px;
            font-size: 35px;

            @include media-breakpoint-up(md) {
                font-size: 60px;
            }

            @include media-breakpoint-up(lg) {
                font-size: 70px;
            }
        }
    }

    .video-wrapper {
        display: none;

        .youtube-video {
            width: 100%;
            height: 100%;
            padding: 35px 0px;
            background: #000;

            @include media-breakpoint-up(md) {
                padding: 70px 0px;
                height: 665px;
            }

            @include media-breakpoint-up(lg) {
                padding: 90px 0px;
                height: 845px;
            }

            @include media-breakpoint-up(xl) {
                padding: 90px 0px;
                height: 845px;
            }
        }

        .overview-close-icon {
            position: absolute;
            top: 1%;
            right: 2%;
            font-size: 35px;
            z-index: 10;

            @include media-breakpoint-up(md) {
                font-size: 40px;
            }

            @include media-breakpoint-up(lg) {
                font-size: 50px;
            }

            @include media-breakpoint-up(xl) {
                font-size: 50px;
            }

            &:focus {
                color: #fff !important;
            }

            &:active {
                color: #fff !important;
            }
        }
    }
}