<div data-sly-test="${wcmmode.edit && !wcmmode.preview}" class="aem-helper configure__container">[ Configure
    ${component.title} Component ]
</div>
<sly data-sly-use.cards="com.juniper.aem.models.ProductCardsModel"/>
<sly data-sly-use.templates="templates.html"/>
<div class="cmp-results-cards" data-mod="resultscards">
    <div class="results-cards">
        <div class="cards__container">
            <div class="cards-row">
                <section class="product-cards">
                    <sly data-sly-set.filterClass="filter-section ${cards.theme}"/>
                    <div class="${cards.enableFilters == 'true' ? filterClass : 'no-filter'}"
                         data-theme="${cards.theme}">
                        <div data-sticky-wrap
                             data-sly-resource="${'filter' @ resourceType='/apps/juniper/components/filter'}"></div>
                    </div>
                    <div class="${cards.enableFilters == 'true' ? 'products-section with-filter' : 'products-section without-filter'}">

                        <div class="primary-cta"
                             data-sly-test="${cards.enableCompare == 'true'}">
                            <a class="primary-cta-btn js-compare-button" href="${cards.compareCtaLink @ extension = 'html'}"
                               target="${cards.compareCtaTarget}">
                                <button class="juniper-btn juniper-btn--black">${cards.compareCtaLabel}</button>
                            </a>
                        </div>
                        <div class="product-section js-product-section" data-sly-list.item="${cards.productList}">
                            <div class="product-item js-product-item">
                                <sly data-sly-call="${templates.card @ data=item, card=cards}"></sly>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
