<template data-sly-template.card="${ @ data, card}">
    <div class="img-wrapper">
        <a href="${data.pagePath @ extension = 'html'}" target="_self">
            <div class="img-container">
                <sly data-sly-use.imageHelper="${'com.juniper.aem.helpers.ImageHelper' @fileReference=data.imagePath}"/>
                <img data-sly-test="${data.imagePath}" src="${data.imagePath}" alt="${data.altText || imageHelper.altText}">
            </div>
        </a>
    </div>
    <div class="tech-details">
        <div class="prod-info">
            <div data-sly-list.featureTag="${data.featureTags}" class="tag-wrapper">
                <sly data-sly-use.tagHelper="${'com.juniper.aem.helpers.TagHelper' @tagId=featureTag}"/>
                <div class="prod-tag-wrapper ${card.tagsTheme || card.theme}">
                    <span class="prod-tag">${tagHelper.tagTitle}</span>
                </div>
            </div>
            <div class="invisible" data-sly-list.tag="${data.filterTags}">
                <div class="js-tag-filter" data-tag="${tag}"></div>
            </div>
            <a class="product-name-wrapper js-title" href="${data.pagePath @ extension = 'html'}"
               target="_self">
                <button class="juniper-btn juniper-btn--link h3">${data.productNameShort}</button>
            </a>
            <div class="description js-description">${data.shortDescription @context='html'}</div>
        </div>

        <table class="technical-features">
            <tbody class="" data-sly-list.features="${data.features}">
            <tr class="">
                <sly data-sly-test="${features.title}">
                    <td class=""><sly data-sly-call="${locale @ key=features.title}"/></td>
                </sly>
                <td class="${features.title ? 'right-align' : 'no-title'}">${features.Value @context='html' }</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="viewing-pane">
        <div class="viewing-container">
        <sly data-sly-test="${data.primaryDataSheet}">
        <sly data-sly-test.elq="${'http:' in data.primaryDataSheet || 'https:' in data.primaryDataSheet ? ['_elq.trackEvent(\u0027', data.primaryDataSheet, '\u0027)'] : ['_elq.trackEvent(\u0027', request.getScheme,'://',request.getServerName, data.primaryDataSheet, '\u0027)'] @ join = '' }">
            <a class="view-datasheet" 
               href="${data.primaryDataSheet @ context='uri'}"
               target="${'.pdf' in data.primaryDataSheet ? '_blank' : '_self'}"
               onclick="${'.pdf' in data.primaryDataSheet ? elq : '' @ context='attribute'}">${'Datasheets' @ i18n}</a>
        </sly>
        </sly>
            <a class="view-product" href="${data.pagePath @ extension = 'html'}" target="_self">
                <button class="juniper-btn juniper-btn--link">${'View Product' @ i18n}</button>
                <span class="juniper-icon icon-arrow"></span>
            </a>
        </div>
    </div>
</template>
<template data-sly-template.locale="${@ key}">
    ${key @ i18n}
</template>