<div data-sly-test="${wcmmode.edit && !wcmmode.preview}" class="aem-helper configure__container">[ Configure
    ${component.title} Component ]</div>

<sly data-sly-use.utilityModel="${'com.juniper.aem.models.UtilityModel'}"
    data-sly-set.compId="latestNews${utilityModel.uniqueId}"
    data-sly-use.model="com.juniper.aem.models.LatestNewsModel"></sly>

<div class="cmp-latest-news" data-mod="latest-news">

    <div class="container ln-container">
        <div class="wrapper ${model.themeColor}">

            <div class="eyebrow" data-sly-test="${properties.eyebrowText}">${properties.eyebrowText}</div>
            <div class="title" data-sly-test="${properties.titleText}">
                <h1>${properties.titleText}</h1>
            </div>

            <div class="featured" data-featured-link="${model.featured.ctaLink}"
                data-featured-link-location="${model.featured.openInNewTab}">
                <div class="text-info">
                    <div class="eyebrow" data-sly-test="${model.featured.eyebrowText}">${model.featured.eyebrowText}
                    </div>

                    <div class="title" data-sly-test="${model.featured.titleText}">
                        <h3>${model.featured.titleText}</h3>
                    </div>
                    <div class="desc rte-content" data-sly-test="${model.featured.introduction}">${model.featured.introduction
                        @ context='html'}</div>
                </div>

                <div class="image">
                    <sly
                        data-sly-use.imageHelper="${'com.juniper.aem.helpers.ImageHelper' @fileReference=model.featured.imagePath}" />
                    <img src="${model.featured.imagePath}" title="${model.featured.imageAltText}"
                        alt="${model.featured.imageAltText || imageHelper.altText}" />
                    <div data-sly-test="${model.featured.videoPath}" data-sly-unwrap="${model.featured.videoPath}">

                    </div>
                    <a class="play-icon" href="#" title="${'Play Video' @ i18n}"
                        data-sly-test="${model.featured.videoPath}" data-video-modal-id="${compId}VideoModal"
                        target="${model.featured.openInNewTab}">
                        <span
                            class="${model.featured.playIconColor == 'grey' ? 'juniper-icon icon-play-btn-hover grey' : 'juniper-icon icon-play-btn'}">
                            <span class="path1"></span>
                            <span class="path2"></span>
                        </span>
                    </a>
                </div>
            </div>

            <div class="secondary" data-sly-test="${model.items}" data-sly-list.item="${model.items}">

                <div class="card" data-card-link="${item.ctaLink}" data-card-link-location="${item.openInNewTab}">

                    <div class="eyebrow" data-sly-test="${item.eyebrowText}">${item.eyebrowText}</div>

                    <div class="title" data-sly-test="${item.titleText}">
                        <h3>${item.titleText}</h3>
                    </div>

                    <div class="desc rte-content" data-sly-test="${item.introduction}">${item.introduction
                        @ context='html'}</div>
                </div>

            </div>
        </div>

    </div>

    <!--/* Modal Video */-->
    <sly data-sly-test="${model.featured.videoPath}"
        data-sly-use.modalTemplate="/apps/juniper/components/htl-templates/video-overlay.html"
        data-sly-set.videoModalId="${compId}VideoModal"
        data-sly-set.videoSrc="${model.featured.videoPath @ context='uri'}">
        <sly data-sly-call="${modalTemplate.modal @ modalId = videoModalId, videoUrl = videoSrc}"></sly>
    </sly>

</div>
