<div class="configure__container" data-sly-test="${wcmmode.edit}">[
	Configure ${component.title} Component ]</div>

<sly data-sly-use.model="com.juniper.aem.models.FlexibleCTAModel"></sly>

<div data-sly-test="${properties.ctaLabel}" class="cmp-flexible-cta" data-mod="flexible-cta">
<div class="container">
<div class="row">

    <a data-sly-test="${model.isLinkOrButton == 'button'}" href="${model.finalCtaLink}" target="${properties.ctaTarget}">
    	<button class="juniper-btn ${properties.ctaColor}">${properties.ctaLabel}</button>
    </a>

    <a data-sly-test="${model.isLinkOrButton == 'link' && model.linkhtml != ''}" href="${model.finalCtaLink}" target="${properties.ctaTarget}">
    ${model.linkhtml @ context='html'}
    </a>

</div>
</div>
</div>