<div class="configure__container" data-sly-test="${wcmmode.edit}">[ Configure
    ${component.title} Component ]</div>
<sly data-sly-use.secondarynav="com.juniper.aem.models.SecondaryNavModel"></sly>
<div class="cmp-secondarynav" data-mod="secondary-nav" data-sly-test="${secondarynav.secondaryNavPageModel}">
    <div class="wrapper ${properties.themeColor}">
        <div class="secnav-container">
            <ul id="secnav" class="secnav">
                <li class="level1-item" secondary-navid="${secondarynav.secondaryNavPageModel.pageTitle}">
                    ${secondarynav.secondaryNavPageModel.pageTitle}
                </li>
                <sly data-sly-list.level2="${secondarynav.secondaryNavPageModel.levelTwoPageList}">
                    <li>
                        <a class="l2" secondary-navid="${level2.pageTitle}" href="${level2.pagePath}" target="_self">
                            <span class="page"></span>
                            ${level2.pageTitle}
                        </a>
                        <span data-sly-test="${level2.levelThreePageList.size > 0}"
                            class="toggle-level3 juniper-icon icon-arrow-down"></span>
                        <sly data-sly-test="${level2.levelThreePageList.size > 0}">
                            <ul class="next-level">
                                <sly data-sly-list.level3="${level2.levelThreePageList}">
                                    <li> <a class="l3" secondary-navid="${level2.pageTitle} > ${level3.pageTitle}" href="${level3.pagePath}" target="_self">${level3.pageTitle} </a>
                                    </li>
                                </sly>
                            </ul>
                        </sly>
                    </li>
                </sly>

            </ul>
            <ul class="more ">
                <li class="more-l2-container">
                    more <span class="toggle-level2-more juniper-icon icon-arrow-down"></span>
                    <ul class="more-l2 next-level">
                    </ul>
                </li>
            </ul>
        </div>
        <!-- Mobile Navigation start -->
        <div class="secnav-container mobile">
            <ul class="secnav-mob">
                <li class="level1-item" secondary-navid="${secondarynav.secondaryNavPageModel.pageTitle}">${secondarynav.secondaryNavPageModel.pageTitle}</li>
                <li class="level2-item-active">
                    <div>
                        <span class="active-level2">
                            <sly data-sly-list.item="${secondarynav.secondaryNavPageModel.levelTwoPageList}">
                                <sly data-sly-test="${itemList.index == 0}">${item.pageTitle}</sly>
                            </sly>
                        </span>
                        <span data-sly-test="${secondarynav.secondaryNavPageModel.levelTwoPageList.size > 0}"
                            class="toggle-more-mobile juniper-icon icon-arrow-down">

                        </span>
                    </div>
                    <ul class="level2-extra">
                        <li class="hr">
                            <hr>
                        </li>
                        <sly data-sly-list.level2="${secondarynav.secondaryNavPageModel.levelTwoPageList}">
                            <li>
                                <a class="l2" secondary-navid="${level2.pageTitle}" href="${level2.pagePath}" target="_self">
                                    <span class="page"></span>
                                    ${level2.pageTitle}
                                </a>
                                <span data-sly-test="${level2.levelThreePageList.size > 0}"
                                    class="toggle-level3-mob juniper-icon icon-arrow-down"></span>
                                <sly data-sly-test="${level2.levelThreePageList.size > 0}">
                                    <ul class="level3-list">
                                        <sly data-sly-list.level3="${level2.levelThreePageList}">
                                            <li> <a class="l3" secondary-navid="${level2.pageTitle} > ${level3.pageTitle}" href="${level3.pagePath}"
                                                    target="_self">${level3.pageTitle}
                                                </a>
                                            </li>
                                        </sly>
                                    </ul>
                                </sly>
                            </li>
                        </sly>
                    </ul>
                    <div class="level3-mob">
                        <hr>
                        <div class="back-level2">
                            <span class=" juniper-icon icon-arrow-left"></span>
                            <span class="text">See All</span>
                        </div>
                        <div class="level3-list-mob">
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
