<sly data-sly-test.empty="${wcmmode.edit && !properties.columnOpts}" />
<sly data-sly-use.filterModel="com.juniper.aem.models.FilterModel"></sly>
<div class="configure__container" data-sly-test="${empty}">[ Configure ${component.title} Component ]</div>
<div class="cmp-filters">
    <div class="filters" data-mod="filters">
        <div class="filters__container">
            <div
                class="filters__container__show-filters d-md-inline-flex d-inline-block w-100 d-lg-none  justify-content-end">
                <div class="juniper-btn juniper-btn--grey-border js-show-filters text-center">
                    <span class="juniper-icon icon-filter mr-2"></span> <span class="js-text">${'Show filters' @
                        i18n}</span>
                </div>
            </div>
            <div class="filters__container__wrapper mt-lg-7 mb-lg-8 p-5 p-lg-0 js-filters-container">

                <div class="close-wrapper w-100 d-inline-flex d-lg-none justify-content-end mb-5">
                    <div class="close js-close">
                        <div class="juniper-icon icon-close"></div>
                    </div>
                </div>

                <div class="filters__container__header d-flex justify-content-between">
                    <div class="filters__container__header__title">${filterModel.filterTitle}</div>
                    <div class="filters__container__header__clear js-clear disabled link-small">${filterModel.clearAll}
                    </div>
                </div>

                <div class="filters__container__tags js-tags-container tags d-flex flex-wrap hidden"
                    data-theme="tag${filterModel.theme}">

                </div>

                <div class="filters__container__filters-wrapper" id="filters">
                    <div data-sly-test.categoryMap="${filterModel.filterMap}" class="filters__categories ">
                        <div data-sly-list.category="${categoryMap}" class="list-items js-items-expandable">
                            <div class="list-items__group js-item-expandable">
                                <div class="list-items__group__label pointer d-none d-lg-flex justify-content-between align-items-center js-list-items js-item-trigger"
                                    aria-haspopup="true">
                                    <div>
                                        <p>${category}</p>
                                    </div>
                                    <div class="juniper-icon icon-arrow-down c-black d-none d-lg-inline-block"></div>
                                </div>
                                <div
                                    class="list-items__group__label d-flex d-lg-none justify-content-between align-items-center">
                                    <div>
                                        <p>${category}</p>
                                    </div>
                                </div>
                                <div class="list-items__group__items js-expandable-target collapse"
                                    data-sly-test.childMap="${categoryMap[category]}" id="category${categoryList.index}"
                                    aria-labelledby="${col.navLabel}" data-sly-list.KeyName="${childMap}">
                                    <div class="list-items__group__items--item justify-content-between mb-2 js-item-filter"
                                        data-value="${childMap[KeyName].tagId}" data-title="${KeyName}"
                                        data-count="${childMap[KeyName].count}"
                                        data-sly-test="${childMap[KeyName].count > 0}">
                                        <div class="item--title-container">
                                            <span class="item-title">${KeyName @ context='html'}</span>
                                        </div>
                                        <span class="item-count js-item-count">${childMap[KeyName].count}</span>
                                        <span class="item-remove js-item-remove">
                                            <span class="juniper-icon icon-close"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="filters__container__compare-content"
                    data-sly-test="${properties.compareLabel || properties.compareCtaLabel}">
                    <span data-sly-test="${properties.compareLabel}"
                        class="compare-label">${properties.compareLabel}</span>
                    <div data-sly-test="${properties.compareCtaLabel}">
                        <a class="primary-cta-btn" href="${properties.compareCtaLink @ extension = 'html'}"
                            target="${properties.compareCtaTarget}">
                            <button class="juniper-btn juniper-btn--black">${properties.compareCtaLabel}</button>
                        </a>
                    </div>
                </div>
                <div class="apply-filters d-inline-block d-lg-none mt-6 js-apply-filters">
                    <button class="juniper-btn juniper-btn--black">
                        ${'Apply Filters' @ i18n}
                    </button>
                </div>
            </div>

            <div class="filters__container__header filters__container__header--mobile justify-content-between mt-4 js-title-mobile"
                style="display: none;" data-sly-test="${!wcmmode.edit}">
                <div class="filters__container__header__title">${filterModel.filterTitle}</div>
            </div>
            <div class="filters__container__tags filters__container__tags--mobile js-tags-container-mobile tags d-flex d-lg-none flex-wrap"
                data-theme="tag${filterModel.theme}">

            </div>
        </div>
    </div>
</div>
