.cmp-case-study-homepage {
  // added this

  @extend .component-bottom-spacing;

  .h-in {
    height: inherit;
  }

  .case-study {
    &__image {
      grid-column: 1/5;
      margin-bottom: 40px;
      @include media-breakpoint-up(md) {
        grid-column: 1/6;
        margin-bottom: 0;
        padding-right: calc(#{get-column-width(md)} / 2);
      }
      @include media-breakpoint-up(lg) {
        grid-column: 2/7;
        padding-right: calc(#{get-column-width(lg)} / 2);
      }
      @include media-breakpoint-up(xl) {
        padding-right: calc(#{get-column-width(xl)} / 2);
      }
      &__icon {
        bottom: 24px;
        cursor: pointer;
        left: 24px;
        font-size: 40px;
        position: absolute;
        @include media-breakpoint-up(md) {
          left: unset;
          right: calc((#{get-column-width(md)} / 2) + 24px);
        }
        @include media-breakpoint-up(lg) {
          bottom: 38px;
          font-size: 70px;
          right: calc((#{get-column-width(lg)} / 2) + 38px);
        }
        @include media-breakpoint-up(xl) {
          bottom: 43px;
          right: calc((#{get-column-width(xl)} / 2) + 42px);
        }
      }

      //  added this

      & .img-container-ht {
        height: 331px;
        @include media-breakpoint-up(md) {
          height: 370px;
        }
        @include media-breakpoint-up(lg) {
          height: 562px;
        }
        @include media-breakpoint-up(xl) {
          height: 756px;
        }
      }
    }
    &__content {
      grid-column: 1/5;
      @include media-breakpoint-up(md) {
        grid-column: 6/10;
      }
      @include media-breakpoint-up(lg) {
        grid-column: 7/11;
      }
      @include media-breakpoint-up(xl) {
        grid-column: 7/11;
      }
      &__wrapper {
        display: grid;
        grid-auto-rows: min-content;
        grid-column-gap: map-get($custom-grid-column-gap, sm);
        grid-template-columns: repeat(4, 1fr);
        @include media-breakpoint-up(md) {
          grid-column-gap: map-get($custom-grid-column-gap, md);
        }
        @include media-breakpoint-up(lg) {
          grid-column-gap: map-get($custom-grid-column-gap, lg);
        }
        @include media-breakpoint-up(xl) {
          grid-column-gap: map-get($custom-grid-column-gap, xl);
        }
        &__logo {
          grid-column: 1/2;
          margin-bottom: 26px;
          @include media-breakpoint-up(md) {
            grid-column: 1/3;
            margin-bottom: 21px;
            padding-right: calc(#{get-column-width(md)});
          }
          @include media-breakpoint-up(lg) {
            grid-column: 1/2;
            margin-bottom: 45px;
            padding-right: 0;
          }
          @include media-breakpoint-up(xl) {
            margin-bottom: 40px;
          }
        }
        &__text {
          grid-column: 1/5;
          margin-bottom: 15px;
          @include media-breakpoint-up(md) {
            margin-bottom: 25px;
          }
          @include media-breakpoint-up(lg) {
            margin-bottom: 45px;
          }
          @include media-breakpoint-up(xl) {
            grid-column: 1/4;
            margin-bottom: 40px;
          }
          &--h2 {
            color: $black;
            font-size: 22px;
            line-height: 1.09;
            letter-spacing: -0.66px;
            white-space: pre-wrap;
            @include media-breakpoint-up(md) {
              font-size: 26px;
              line-height: 1.15;
              letter-spacing: -0.78px;
            }
            @include media-breakpoint-up(lg) {
              font-size: 36px;
              line-height: 1;
              letter-spacing: -1.08px;
            }
            @include media-breakpoint-up(xl) {
              font-size: 50px;
              line-height: 1;
              letter-spacing: -1.5px;
            }
          }
        }
        &__author {
          grid-column: 1/5;
          margin-bottom: 50px;
          @include media-breakpoint-up(lg) {
            grid-column: 1/4;
            margin-bottom: 90px;
          }
          @include media-breakpoint-up(xl) {
            margin-bottom: 98px;
          }
          &--multiline {
            white-space: pre-wrap;
          }
          &--span {
            color: $black;
            font-size: 14px;
            line-height: 1.43;
            letter-spacing: -0.14px;
            white-space: pre-wrap;
            @include media-breakpoint-up(md) {
              color: $gray-dark;
              font-size: 15px;
              line-height: 1.4;
              letter-spacing: -0.3px;
            }
            @include media-breakpoint-up(lg) {
              font-size: 16px;
              line-height: 1.44;
              letter-spacing: -0.32px;
            }
          }
        }
        &__cta {
          grid-column: 1/5;
        }
      }
    }
  }
}
