<template data-sly-template.icon="${@ data}">
<div>
    <sly data-sly-test="${data.eyebrowImage == 'icon-challenge'}">
    <span class="juniper-icon icon-challenge icon-size-4"></span></sly>
    <sly data-sly-test="${data.eyebrowImage == 'icon-solution'}">
    <span class="juniper-icon icon-solution icon-size-4"> <span
        class="path1"></span> <span class="path2"></span> <span
        class="path3"></span>
    </span></sly>
    <sly data-sly-test="${data.eyebrowImage == 'icon-promo'}"> <span
        class="juniper-icon icon-promo icon-size-4"> <span
        class="path1"></span> <span class="path2"></span>
    </span></sly>
    <sly data-sly-test="${data.eyebrowImage == 'icon-outcome'}"> <span
        class="juniper-icon icon-outcome icon-size-4"></span></sly>
</div>
</template>

<template data-sly-template.version1="${@ data}">
<div class="header-title text-family-v1 ${data.inverse == 'true' ? 'inverse' : ''}"
    role="header" data-mod="header">
    <h1>${data.headerTextTitle @context='html'}</h1>
</div>
</template>

<template data-sly-template.version2="${@ data}">
<div
    class="textimage text-family-v2 image-variant-v1 ${data.imageLocation == 'left' ? '' : 'inverse'} textimage__without__bgcolor"
    role="textimage" data-mod="textimage">
    <div class="textimage__wrapper">
        <div class="textimage__col textimage__desc">
            <div class="eyebrow">
                <sly data-sly-call="${icon @ data=data}"
                    data-sly-test="${data.eyebrowImage}"></sly>
                <sly data-sly-test="${data.eyebrowDescriptor}">${data.eyebrowDescriptor}</sly>
            </div>
            <h2 data-sly-test="${data.headerTextTitle}">${data.headerTextTitle}</h2>
            <div class="large rte-content"
                data-sly-test="${data.intro @context='html'}">
                ${data.intro @ context='html'}</div>
            <div class="cta-introduction rte-content">${data.ctaIntro @
                context='html'}</div>
            <div data-sly-test="${data.ctaText && data.ctaLink}"
                class="primary-cta">
                <a class="primary-cta-btn" href="${data.ctaLink}"
                    target="${data.target == 'true' ? '_blank' :'_self'}">
                    <button
                        class="juniper-btn ${data.ctaStyle ? data.ctaStyle : 'juniper-btn--black'}">${data.ctaText}</button>
                </a>
            </div>
        </div>
        <sly
            data-sly-use.imageHelper="${'com.juniper.aem.helpers.ImageHelper' @fileReference=data.fileReference}" />
        <div class="textimage__col textimage__img"
            data-sly-test="${data.fileReference}">
            <img src="${imageHelper.imageRenditionPath}"
                alt="${data.altText || imageHelper.altText}" />
        </div>
    </div>
</div>
</template>

<template data-sly-template.version3="${@ data}">
<div
    class="textimage text-family-v3 image-variant-v3 ${data.imageLocation == 'left' ? '' : 'inverse'} textimage__without__bgcolor"
    role="textimage" data-mod="textimage">
    <div class="textimage__wrapper">
        <div
            class="textimage__col textimage__img ${data.imageLocation == 'left' ? 'textimage__bgcolor__bottom__left' : 'textimage__bgcolor__bottom__right'}"
            data-sly-test="${data.fileReference}">
            <sly
                data-sly-use.imageHelper="${'com.juniper.aem.helpers.ImageHelper' @fileReference=data.fileReference}" />
            <img src="${imageHelper.imageRenditionPath}"
                alt="${data.altText ? data.altText : imageHelper.altText}"
                class="${data.imageLocation == 'left' ? 'textimage__img__top__right' : 'textimage__img__top_left'}" />
        </div>
        <div class="textimage__col textimage__desc">
            <div class="eyebrow">
                <sly data-sly-call="${icon @ data=data}"
                    data-sly-test="${data.eyebrowImage}"></sly>
                <sly data-sly-test="${data.eyebrowDescriptor}">${data.eyebrowDescriptor}</sly>
            </div>
            <h2 data-sly-test="${data.headerTextTitle}">${data.headerTextTitle}</h2>
            <div class="large rte-content"
                data-sly-test="${data.intro @context='html'}">
                ${data.intro @ context='html'}</div>
            <div class="d-flex align-items-center"
                data-sly-test="${data.ctaText && data.ctaLink}">
                <a data-sly-test="${data.ctaText && data.ctaLink}"
                    href="${data.ctaLink}"
                    target="${data.target == 'true' ? '_blank' :'_self'}"
                    class="juniper-btn ${data.ctaStyle == 'Select Cta Color' ? 'juniper-btn--link' : data.ctaStyle}">${data.ctaText}
                    <sly
                        data-sly-test="${data.ctaStyle=='juniper-btn--link' || data.ctaStyle=='Select Cta Color'}">
                    <span
                        class="juniper-icon icon-arrow icon-size-3 ml-2"></span></sly>
                </a>
            </div>
        </div>
    </div>
</div>
</template>

<template data-sly-template.version4="${@ data}">
<div
    class="textimage text-family-v4 image-variant-v4 ${data.imageLocation == 'left' ? '' : 'inverse'} textimage__with__bgcolor small-image"
    role="textimage" data-mod="textimage">
    <div class="textimage__wrapper">
        <div class="textimage__col textimage__desc">
            <div class="eyebrow">
                <sly data-sly-call="${icon @ data=data}"
                    data-sly-test="${data.eyebrowImage}"></sly>
                <sly data-sly-test="${data.eyebrowDescriptor}">${data.eyebrowDescriptor}</sly>
            </div>
            <h2 data-sly-test="${data.headerTextTitle}">${data.headerTextTitle}</h2>
            <div class="large rte-content"
                data-sly-test="${data.intro @context='html'}">
                ${data.intro @ context='html'}</div>
            <div class="d-flex align-items-center"
                data-sly-test="${data.ctaText && data.ctaLink}">
                <a data-sly-test="${data.ctaText && data.ctaLink}"
                    href="${data.ctaLink}"
                    target="${data.target == 'true' ? '_blank' :'_self'}"
                    class="juniper-btn ${data.ctaStyle == 'Select Cta Color' ? 'juniper-btn--link' : data.ctaStyle}">${data.ctaText}
                    <sly
                        data-sly-test="${data.ctaStyle=='juniper-btn--link' || data.ctaStyle=='Select Cta Color'}">
                    <span
                        class="juniper-icon icon-arrow icon-size-3 ml-2"></span></sly>
                </a>
            </div>
        </div>
        <div
            class="textimage__col textimage__img ${data.imageLocation == 'left' ? 'textimage__bgcolor__bottom__left' : 'textimage__bgcolor__bottom__right'}  ${data.showBackgroundSquare ? data.backgroundColor : ''}"
            data-sly-test="${data.fileReference}">
            <sly
                data-sly-use.imageHelper="${'com.juniper.aem.helpers.ImageHelper' @fileReference=data.fileReference}" />
            <img src="${imageHelper.imageRenditionPath}"
                alt="${data.altText ? data.altText : imageHelper.altText}"
                class="${data.imageLocation == 'left' ? 'textimage__img__top__right' : 'textimage__img__top_left'}" />
        </div>
    </div>
</div>
</template>

<template data-sly-template.version5="${@ data}">
<div
    class="textimage text-family-v5 image-variant-v5 ${data.imageLocation == 'left' ? '' : 'inverse'} textimage__without__bgcolor small-image"
    role="textimage" data-mod="textimage">
    <div class="textimage__wrapper">
        <div class="textimage__col textimage__desc">
            <div class="eyebrow">
                <sly data-sly-call="${icon @ data=data}"
                    data-sly-test="${data.eyebrowImage}"></sly>
                <sly data-sly-test="${data.eyebrowDescriptor}">${data.eyebrowDescriptor}</sly>
            </div>
            <h2 data-sly-test="${data.headerTextTitle}">${data.headerTextTitle}</h2>
            <div class="large rte-content no-table-list"
                data-sly-test="${data.intro @context='html'}">
                ${data.intro @ context='html'}</div>
            <div class="d-flex align-items-center"
                data-sly-test="${data.ctaText && data.ctaLink}">
                <a data-sly-test="${data.ctaText && data.ctaLink}"
                    href="${data.ctaLink}"
                    target="${data.target == 'true' ? '_blank' :'_self'}"
                    class="juniper-btn ${data.ctaStyle == 'Select Cta Color' ? 'juniper-btn--link' : data.ctaStyle}">${data.ctaText}
                    <sly
                        data-sly-test="${data.ctaStyle=='juniper-btn--link' || data.ctaStyle=='Select Cta Color'}">
                    <span
                        class="juniper-icon icon-arrow icon-size-3 ml-2"></span></sly>
                </a>
            </div>
        </div>
        <div
            class="textimage__col textimage__img ${data.imageLocation == 'left' ? 'textimage__bgcolor__bottom__left' : 'textimage__bgcolor__bottom__right'}  ${data.showBackgroundSquare ? data.backgroundColor : ''}"
            data-sly-test="${data.fileReference}">
            <sly
                data-sly-use.imageHelper="${'com.juniper.aem.helpers.ImageHelper' @fileReference=data.fileReference}" />
            <img src="${imageHelper.imageRenditionPath}"
                alt="${data.altText ? data.altText : imageHelper.altText}"
                class="${data.imageLocation == 'left' ? 'textimage__img__top__right' : 'textimage__img__top_left'}" />
        </div>
    </div>
</div>
</template>

<template data-sly-template.version6="${@ data}">
<div
    class="textheader text-family-v6 inverse ${data.showBackgroundCircle ? 'bg__circle' : ''} ${data.backgroundColor}"
    role="textheader" data-mod="textheader">
    <h1>${data.headerTextTitle @context='html'}</h1>
</div>
</template>

<!--/* Text with Item List */-->
<template data-sly-template.version7="${@ data}">
<div class="textitemlist text-family-v7" role="textitemlist" data-mod="textitemlist">
    <div class="intro-section">
        <h2 data-sly-test="${data.headerTextTitle}">${data.headerTextTitle
            @context='html'}</h2>
        <div class="large rte-content" data-sly-test="${data.intro @context='html'}">
            ${data.intro @ context='html'}</div>
        <a data-sly-test="${data.ctaText && data.ctaLink}"
            href="${data.ctaLink}"
            target="${data.target == 'true' ? '_blank' :'_self'}"
            class="juniper-btn ${data.ctaStyle == 'Select Cta Color' ? 'juniper-btn--link' : data.ctaStyle}">${data.ctaText}
            <sly
                data-sly-test="${data.ctaStyle=='juniper-btn--link' || data.ctaStyle=='Select Cta Color'}">
            <span class="juniper-icon icon-arrow icon-size-3 ml-2"></span></sly>
        </a>
    </div>
    <div class="list-section">
        <ul data-sly-list="${data.listItems}">
            <li><sly
                    data-sly-use.imageHelper="${'com.juniper.aem.helpers.ImageHelper' @fileReference=item.fileReference}" />
                <img src="${imageHelper.imageRenditionPath}"
                alt="${item.altText || imageHelper.altText}" />
                ${item.primaryText} <span>${item.secondaryText}</span></li>
        </ul>
    </div>
</div>
</template>

<!--/* Text with Multiple Image/Icons  */-->
<template data-sly-template.version8="${@ data}">
<div class="textdescription text-family-v8" role="textdescription"
    data-mod="textdescription">
    <div>
        <span class="eyebrow"> ${data.eyebrow @context='html'} </span>
        <h1 data-sly-test="${data.headerTextTitle}">${data.headerTextTitle
            @context='html'}</h1>
        <div class="large rte-content" data-sly-test="${data.intro @context='html'}">
            ${data.intro @ context='html'}</div>
        <div class="d-flex align-items-center"
            data-sly-test="${data.ctaText && data.ctaLink}">
            <a href="${data.ctaLink}"
                target="${data.target == 'true' ? '_blank' :'_self'}"
                class="juniper-btn juniper-btn--link">
                ${data.ctaText} </a> <span
                class="juniper-icon icon-arrow icon-size-3 ml-2"></span>
        </div>
        <div class="logo" data-sly-list="${data.images}">
            <sly data-sly-use.imageHelper="${'com.juniper.aem.helpers.ImageHelper' @fileReference=item.fileReference}" />
            <a data-sly-test="${item.imageLink}"
                href="${item.imageLink}"
                target="${item.imageLinkTarget == 'true' ? '_blank' :'_self'}">                
                <img src="${imageHelper.imageRenditionPath}"
                alt="${item.altText || imageHelper.altText}" />
            </a>
            <sly data-sly-test="${!item.imageLink}"> <img
                src="${imageHelper.imageRenditionPath}"
                alt="${item.altText || imageHelper.altText}" /></sly>
        </div>
    </div>
</div>
</template>

<!--/* Text with item block */-->
<template data-sly-template.version9="${@ data}">
<div class="textblocks text-family-v9 block-variant-v1" role="textblocks" data-mod="textblocks">
    <div class="header__block">
        <h2 data-sly-test="${data.headerTextTitle}">${data.headerTextTitle}</h2>
        <div class="large description rte-content"
            data-sly-test="${data.intro @context='html'}">${data.intro
            @ context='html'}</div>
    </div>
    <div class="block" data-sly-list="${data.listItems}">
        <div class="block__item rte-content" data-sly-test="${item.title}">
            <h3  data-sly-test="${item.titleLink}"><a class="heading--link"
                href="${item.titleLink}"
                target="${item.titleLinkTarget == 'true' ? '_blank' :'_self'}">${item.title
                    @context='html'}</a></h3>
            <sly data-sly-test="${!item.titleLink}">
            <h3>${item.title @context='html'}</h3>  
            </sly>
            <sly data-sly-test="${item.intro}">${item.intro @context='html'}</sly>
            <a data-sly-test="${item.ctaText && item.ctaLink}"
                href="${item.ctaLink}"
                target="${item.target == 'true' ? '_blank' :'_self'}"
                class="juniper-btn ${item.ctaStyle == 'Select Cta Color' ? 'juniper-btn--link' : item.ctaStyle}">${item.ctaText}
                <sly
                    data-sly-test="${item.ctaStyle=='juniper-btn--link' || item.ctaStyle=='Select Cta Color'}">
                <span class="juniper-icon icon-arrow icon-size-2 ml-2"></span></sly>
            </a>
        </div>
    </div>
    <div class="button__wrapper"
        data-sly-test="${data.ctaText && data.ctaLink}">
        <a data-sly-test="${data.ctaText && data.ctaLink}"
            href="${data.ctaLink}"
            target="${data.target == 'true' ? '_blank' :'_self'}"
            class="juniper-btn ${data.ctaStyle == 'Select Cta Color' ? 'juniper-btn--link' : data.ctaStyle}">${data.ctaText}
            <sly
                data-sly-test="${data.ctaStyle=='juniper-btn--link' || data.ctaStyle=='Select Cta Color'}">
            <span class="juniper-icon icon-arrow icon-size-3 ml-2"></span></sly>
        </a>
    </div>
</div>
</template>

<!--/* Text with item block logo */-->
<template data-sly-template.version10="${@ data}">
<div class="textblocks text-family-v10 block-variant-v2" role="textblocks" data-mod="textblocks">
    <div class="header__block">
        <h2 data-sly-test="${data.headerTextTitle}">
            <a class="heading--link" data-sly-test="${data.headerTextLink}"
                href="${data.headerTextLink}"
                target="${data.headerTextLinkTarget == 'true' ? '_blank' :'_self'}">
                ${data.headerTextTitle} </a>
            <sly data-sly-test="${!data.headerTextLink}">${data.headerTextTitle}</sly>
        </h2>
        <div class="large description rte-content"
            data-sly-test="${data.intro @context='html'}">${data.intro
            @ context='html'}</div>
        <a data-sly-test="${data.ctaText && data.ctaLink}"
            href="${data.ctaLink}"
            target="${data.target == 'true' ? '_blank' :'_self'}"
            class="juniper-btn ${data.ctaStyle == 'Select Cta Color' ? 'juniper-btn--link' : data.ctaStyle}">${data.ctaText}
            <sly
                data-sly-test="${data.ctaStyle=='juniper-btn--link' || data.ctaStyle=='Select Cta Color'}">
            <span class="juniper-icon icon-arrow icon-size-3 ml-2"></span></sly>
        </a>
    </div>
    <div class="block" data-sly-list="${data.twiblimages}">
        <div class="block__item" data-sly-test="${item.title}">
            <div class="header">
                <h4 data-sly-test="${item.title}">
                    <a class="heading--link" data-sly-unwrap="${!item.title}"
                        href="${item.titleLink}"
                        target="${item.titleLinkTarget == 'true' ? '_blank' :'_self'}">
                        ${item.title} </a>
                </h4>
                <sly
                    data-sly-use.imageHelper="${'com.juniper.aem.helpers.ImageHelper' @fileReference=item.fileReference}" />

                <a data-sly-test="${item.imageLink}"
                    href="${item.imageLink}"
                    target="${item.imageLinkTarget == 'true' ? '_blank' :'_self'}">
                    <img src="${imageHelper.imageRenditionPath}"
                    alt="${item.altText || imageHelper.altText}" />
                </a>
                <sly data-sly-test="${!item.imageLink}"> <img
                    src="${imageHelper.imageRenditionPath}"
                    alt="${item.altText || imageHelper.altText}" /> </sly>
            </div>
            <div class="large rte-content"
                data-sly-test="${item.intro @context='html'}">
                ${item.intro @ context='html'}</div>
            <div class="block__item__ctalink"
                data-sly-test="${item.ctaText && item.ctaLink}">
                <a href="${item.ctaLink}"
                    target="${item.target == 'true' ? '_blank' :'_self'}"
                    class="juniper-btn ${item.ctaStyle == 'Select Cta Color' ? 'juniper-btn--link' : item.ctaStyle}">
                    ${item.ctaText} 
                     <sly
                        data-sly-test="${item.ctaStyle=='juniper-btn--link' || item.ctaStyle=='Select Cta Color'}">
                        <span
                        class="juniper-icon icon-arrow icon-size-3 ml-2"></span>
                    </sly>
                </a>
            </div>
        </div>
    </div>
</div>
</template>

<!--/* Text */-->
<template data-sly-template.version11="${@ data}">
<sly data-sly-set.mt="mt-${data.topMargin}"></sly>
<sly data-sly-set.mb="mb-${data.bottomMargin}"></sly>
<sly data-sly-set.pt="pt-${data.topPadding}"></sly>
<sly data-sly-set.pb="pb-${data.bottomPadding}"></sly>
<div class="textdescription text-family-v11 ${data.topMargin ? mt : ''} ${data.bottomMargin ? mb : ''} ${data.topPadding ? pt : ''} ${data.bottomPadding ? pb : ''}" role="textdescription"
    data-mod="textdescription">
    <div class="textheader__title">
        <a data-sly-test="${data.headerTextLink}"
            href="${data.headerTextLink}"
            target="${data.headerTextLinkTarget == 'true' ? '_blank' :'_self'}">
            <h1>${data.headerTextTitle @context='html'}</h1>
        </a>
        <h1 data-sly-test="${!data.headerTextLink}">${data.headerTextTitle}</h1>
    </div>
    <div class="large rte-content" data-sly-test="${data.intro @context='html'}">
        ${data.intro @ context='html'}</div>
    <div class="button__wrapper"
        data-sly-test="${data.ctaText && data.ctaLink }">
        <a data-sly-test="${data.ctaText && data.ctaLink}"
            href="${data.ctaLink}"
            target="${data.target == 'true' ? '_blank' :'_self'}"
            class="juniper-btn ${data.ctaStyle == 'Select Cta Color' ? 'juniper-btn--link' : data.ctaStyle}">${data.ctaText}
            <sly
                data-sly-test="${data.ctaStyle=='juniper-btn--link' || data.ctaStyle=='Select Cta Color'}">
            <span class="juniper-icon icon-arrow icon-size-3 ml-2"></span></sly>
        </a>
    </div>
</div>
</template>

<!--/* Split Text component with background image - v2 */-->
<template data-sly-template.version12="${@ data}">
<div class="textsplitcolumn text-family-v12 split-variant-v2" role="textsplitcolumn"
    data-mod="textsplitcolumn">
    <div class="block ${data.decorativeCircleColor}">
        <div
            class="block__item bg__circle ${data.decorativeCircleColor}">
            <h4 data-sly-test="${data.headerTextTitle}">${data.headerTextTitle}</h4>
        </div>
        <div class="block__item large">
            <div class="large rte-content" data-sly-test="${data.description}">
                ${data.description @ context='html'}</div>
            <div class="d-flex align-items-center"
                data-sly-test="${data.ctaText && data.ctaLink}">
                <a data-sly-test="${data.ctaText && data.ctaLink}"
                    href="${data.ctaLink}"
                    target="${data.target == 'true' ? '_blank' :'_self'}"
                    class="juniper-btn ${data.ctaStyle == 'Select Cta Color' ? 'juniper-btn--link' : data.ctaStyle}">${data.ctaText}
                    <sly
                        data-sly-test="${data.ctaStyle=='juniper-btn--link' || data.ctaStyle=='Select Cta Color'}">
                    <span
                        class="juniper-icon icon-arrow icon-size-3 ml-2"></span></sly>
                </a>
            </div>
        </div>
    </div>
</div>
</template>

<!--/* Split Text component without background image - v1 */-->
<template data-sly-template.version13="${@ data}">
<div class="textsplitcolumn text-family-v13 split-variant-v1" role="textsplitcolumn"
    data-mod="textsplitcolumn">
    <h2 data-sly-test="${data.headerTextTitle}">${data.headerTextTitle}</h2>
    <div class="block" data-sly-list="${data.stwoiprops}">
        <div class="block__item">
            <h4
                class="${item.horizontalLine=='true' ? 'header-no-border' : 'header'}">${item.subTitle
                @context='html'}</h4>
            <div class="rte-content">${item.intro @context='html'}</div>
            <div class="d-flex align-items-center"
                data-sly-test="${item.ctaText && item.ctaLink}">
                <a data-sly-test="${item.ctaText && item.ctaLink}"
                    href="${item.ctaLink}"
                    target="${item.target == 'true' ? '_blank' :'_self'}"
                    class="juniper-btn ${item.ctaStyle == 'Select Cta Color' ? 'juniper-btn--link' : item.ctaStyle}">${item.ctaText}
                    <sly
                        data-sly-test="${item.ctaStyle=='juniper-btn--link' || item.ctaStyle=='Select Cta Color'}">
                    <span
                        class="juniper-icon icon-arrow icon-size-3 ml-2"></span></sly>
                </a>
            </div>
        </div>

    </div>
</div>
</template>

<template data-sly-template.version14="${@ data}">
<div class="textimage__wrapper textimage text-family-v14 image-variant-v2 ${data.imageLocation == 'right' ? 'inverse' : ''}">
    <div class="textimage__col textimage__desc">
        <h2 data-sly-test="${data.headerTextTitle}"><a class="heading--link" data-sly-unwrap="${!data.headerTextLink}"
                href="${data.headerTextLink}"
                target="${data.headerTextLinkTarget}">${data.headerTextTitle}</a></h2>
        <div data-sly-test="${data.description}"
            class="c-gray-dark rte-content no-list">${data.description @
            context = 'html'}</div>
        <div data-sly-list="${data.stawiprops}">
            <div class="large">
                <h3>${item.title}</h3>
                <div class="rte-content no-list">${item.intro @ context='html'}</div>
                <a data-sly-test="${item.ctaLink && item.ctaText}"
                    href="${item.ctaLink}" target="${item.target}">
                    ${item.ctaText} </a>
            </div>
        </div>
    </div>
    <div class="textimage__col textimage__img">
        <sly
            data-sly-use.imageHelper="${'com.juniper.aem.helpers.ImageHelper' @fileReference=data.fileReference}" />
        <a data-sly-unwrap="${!data.imageLink}"
            href="${data.imageLink @ extension='html'}"
            target="${data.imageLinkTarget}"> <img
            src="${imageHelper.imageRenditionPath}"
            alt="${data.altText ? data.altText : imageHelper.altText}" />
        </a>
    </div>
</div>
</template>

<!--/* Expandable Text */-->
<template data-sly-template.version15="${@ data}">
<div class="text-expandable text-family-v15" data-mod="text-expandable">
    <div class="text-expandable__header">
        <div class="text-expandable__header--grid">
            <div class="text-expandable__header__title">
                <h1 data-sly-test="${data.headerTextTitle}">
                    <a class="heading--link" data-sly-unwrap="${!data.headerTextLink}"
                        href="${data.headerTextLink}"
                        target="${data.headerTextLinkTarget == 'true' ? '_blank' :'_self'}">
                        ${data.headerTextTitle} </a>
                </h1>
            </div>
            <div class="text-expandable__header__description">
                <div class="large description rte-content"
                    data-sly-test="${data.intro @context='html'}">${data.intro
                    @ context='html'}</div>
            </div>
        </div>
    </div>
    <div class="text-expandable__items js-items"
        data-sly-list="${data.etListItems}">
        <div
            data-sly-test="${item.title && item.title && item.intro && item.fullIntro}"
            class="text-expandable__items__item js-item-expandable">
            <div class="text-expandable__items__item--wrapper">
                <sly data-sly-test=${item.fileReference}
                    data-sly-use.imageHelper="${'com.juniper.aem.helpers.ImageHelper' @fileReference=item.fileReference}" />
                <div
                    class="text-expandable__items__item__image text-expandable__items__item--col">
                    <a data-sly-test="${item.imageLink}"
                        href="${item.imageLink}"
                        target="${item.imageLinkTarget == 'true' ? '_blank' :'_self'}">
                        <img data-sly-test=${item.fileReference}
                        src="${imageHelper.imageRenditionPath}"
                        alt="${item.altText || imageHelper.altText}" />
                    </a> <img data-sly-test=${item.fileReference}
                        src="${imageHelper.imageRenditionPath}"
                        alt="${item.altText || imageHelper.altText}"
                        data-sly-test="${!item.imageLink}" />
                </div>
                <div
                    class="text-expandable__items__item__title-subtitle text-expandable__items__item--col">
                    <div
                        class="text-expandable__items__item__title-subtitle--title"
                        data-sly-test="${item.title}">
                        <h4 data-sly-test="${item.title}">
                            <a class="heading--link" data-sly-unwrap="${!item.titleLink}"
                                href="${item.titleLink}"
                                target="${item.titleLinkTarget == 'true' ? '_blank' :'_self'}">${item.title}
                            </a>
                        </h4>
                    </div>
                    <div
                        class="text-expandable__items__item__title-subtitle--subtitle eyebrow"
                        data-sly-test="${item.subTitle}">
                        ${item.subTitle @context='html'}</div>
                </div>
                <div
                    class="text-expandable__items__item__description text-expandable__items__item--col d-none d-md-block">
                    <div
                        class="text-expandable__items__item__description__intro rte-content"
                        data-sly-test="${item.intro}">
                        ${item.intro @context='html'}</div>
                    <div
                        class="text-expandable__items__item__description__fullIntro js-expandable-target collapse rte-content"
                        data-sly-test="${item.intro && item.fullIntro}">
                        ${item.fullIntro @context='html'}</div>
                </div>
                <div
                    class="text-expandable__items__item__icons text-expandable__items__item--col js-icon-expandable">
                    <span class="juniper-icon icon-plus"></span> <span
                        class="juniper-icon icon-minus"
                        data-sly-test="${item.fullIntro}"></span>
                </div>
            </div>
            <div class="text-expandable__items__item--mobile d-md-none">
                <div
                    class="text-expandable__items__item__description text-expandable__items__item--col js-expandable-target collapse">
                    <div
                        class="text-expandable__items__item__description__intro rte-content"
                        data-sly-test="${item.intro}">
                        ${item.intro @context='html'}</div>
                    <div
                        class="text-expandable__items__item__description__fullIntro rte-content"
                        data-sly-test="${item.intro && item.fullIntro}">
                        ${item.fullIntro @context='html'}</div>
                </div>
            </div>
        </div>
    </div>
</div>
</template>

<!--/* Split Text component Impact Messaging 1 */-->
<template data-sly-template.version16="${@ data}">

<div class="textsplitcolumn text-family-v16 split-variant-v4" role="textsplitcolumn"
    data-mod="textsplitcolumn">

    <div class="block ${data.backgroundColor}">
        <div class="eyebrow"
            data-sly-test="${data.eyebrowDescriptor @context='html'}">
            ${data.eyebrowDescriptor @ context='html'}</div>
        <sly data-sly-list="${data.stfim1props}"> <sly
            data-sly-test="${item.subTitle || item.intro}">
        <div class="block__item rte-content">
            <h4 data-sly-test="${item.title}" class="header">
                <a class="heading--link" href="${item.ctaLink}" target="${item.target}"
            data-sly-unwrap="${!item.ctaLink}">${item.title}<span data-sly-test="${item.symbol}">${item.symbol}</span>
            </a></h4>
            <p>${item.intro @context='html'}</p>
        </div>
        </sly> </sly>
    </div>
</div>

</template>

<!--/* Split Text component Impact Messaging 2 */-->
<template data-sly-template.version17="${@ data}">
<div class="textsplitcolumn text-family-v17 split-variant-v3" role="textsplitcolumn"
    data-mod="textsplitcolumn">
    <div class="block ${data.backgroundColor}">
        <div class="eyebrow"
            data-sly-test="${data.eyebrowDescriptor @context='html'}">
            ${data.eyebrowDescriptor @ context='html'}</div>
        <sly data-sly-list="${data.stfim2props}">
        <div class="block__item rte-content">
            <h4 data-sly-test="${item.title}" class="header"><a class="heading--link" href="${item.ctaLink}" target="${item.target}"
                data-sly-unwrap="${!item.ctaLink}">${item.title
                @context='html'}</a></h4>
            <p>${item.intro @context='html'}</p>
        </div>
        </sly>
    </div>
</div>
</template>

<!--/* Expandable Text with Column  */-->
<template data-sly-template.version18="${@ data}">
<div class="text-expandable text-family-v18" data-mod="text-expandable">
    <div class="text-expandable__header">
        <div class="text-expandable__header--grid">
            <div class="text-expandable__header__title">
                <h1 data-sly-test="${data.headerTextTitle}">
                    <a class="heading--link" data-sly-unwrap="${!data.headerTextLink}"
                        href="${data.headerTextLink}"
                        target="${data.headerTextLinkTarget == 'true' ? '_blank' :'_self'}">
                        ${data.headerTextTitle} </a>
                </h1>
            </div>
            <div class="text-expandable__header__description">
                <div class="large description rte-content"
                    data-sly-test="${data.intro @context='html'}">${data.intro
                    @ context='html'}</div>
            </div>
        </div>
    </div>
    <div class="text-expandable__items js-items"
        data-sly-list="${data.etwcListItems}">
        <div data-sly-test="${item.title && item.title && item.intro}"
            class="text-expandable__items__item js-item-expandable">
            <div class="text-expandable__items__item--wrapper">
                <div
                    class="text-expandable__items__item__image text-expandable__items__item--col">
                     <sly
                        data-sly-use.imageHelper="${'com.juniper.aem.helpers.ImageHelper' @fileReference=item.fileReference}" />
                    <a data-sly-test="${item.imageLink}"
                        href="${item.imageLink}"
                        target="${item.imageLinkTarget == 'true' ? '_blank' :'_self'}">
                        <img src="${imageHelper.imageRenditionPath}"
                        alt="${item.altText || imageHelper.altText}" />
                    </a> 
                    <img src="${imageHelper.imageRenditionPath}"
                        alt="${item.altText || imageHelper.altText}"
                        data-sly-test="${!item.imageLink}" />
                </div>
                <div
                    class="text-expandable__items__item__title-subtitle text-expandable__items__item--col">
                    <div
                        class="text-expandable__items__item__title-subtitle--title"
                        data-sly-test="${item.title}">
                        <h4 data-sly-test="${item.title}">
                            <a class="heading--link" data-sly-unwrap="${!item.titleLink}"
                                href="${item.titleLink}"
                                target="${item.titleLinkTarget == 'true' ? '_blank' :'_self'}">${item.title}
                            </a>
                        </h4>
                    </div>
                    <div
                        class="text-expandable__items__item__title-subtitle--subtitle eyebrow"
                        data-sly-test="${item.subTitle}">${item.subTitle
                        @context='html'}</div>
                </div>
                <div
                    class="text-expandable__items__item__description text-expandable__items__item--col d-none d-md-block">
                    <div
                        class="text-expandable__items__item__description__intro rte-content"
                        data-sly-test="${item.intro}">${item.intro
                        @context='html'}</div>
                    <div
                        class="text-expandable__items__item__description__fullIntro js-expandable-target collapse rte-content"
                        data-sly-test="${item.intro && item.fullIntro}">
                        ${item.fullIntro @context='html'}</div>
                </div>
                <div
                        class="text-expandable__items__item__icons text-expandable__items__item--col js-icon-expandable ${ item.fullIntro || item.leftcolumneyebrow || item.rightcolumneyebrow ? '' : 'disable-expand'}">
                    <span class="juniper-icon icon-plus"></span>
                    <span class="juniper-icon icon-minus"></span>
                </div>

            </div>
            <div
                class="text-expandable__items__list js-expandable-target collapse">
                <div class="left">
                    <h4 class="eyebrow"
                        data-sly-test="${item.leftcolumneyebrow}">${item.leftcolumneyebrow}</h4>
                    <ul data-sly-list.items="${item.leftcolumn}">
                        <li>
                            <h5 data-sly-test="${items.title}">
                            <a data-sly-unwrap="${!items.titleLink}"
                                href="${items.titleLink}"
                                target="${items.titleLinkTarget == 'true' ? '_blank' :'_self'}">${items.title}
                            </a>
                            </h5>
                            <div class="rte-content no-para">${items.description @context='html'}</div>
                        </li>
                    </ul>
                </div>
                <div class="right">
                    <h4 class="eyebrow"
                        data-sly-test="${item.rightcolumneyebrow}">${item.rightcolumneyebrow}</h4>
                    <ul data-sly-list.items="${item.rightcolumn}">
                        <li>
                            <h5 data-sly-test="${items.title}">
                            <a data-sly-unwrap="${!items.titleLink}"
                                href="${items.titleLink}"
                                target="${items.titleLinkTarget == 'true' ? '_blank' :'_self'}">${items.title}
                            </a>
                            </h5>
                            <div class="rte-content no-para">${items.description @context='html'}</div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="text-expandable__items__item--mobile d-md-none">
                <div
                    class="text-expandable__items__item__description text-expandable__items__item--col js-expandable-target collapse">
                    <div
                        class="text-expandable__items__item__description__intro rte-content"
                        data-sly-test="${item.intro}">${item.intro
                        @context='html'}</div>
                    <div
                        class="text-expandable__items__item__description__fullIntro rte-content"
                        data-sly-test="${item.intro && item.fullIntro}">
                        ${item.fullIntro @context='html'}</div>
                </div>
            </div>
        </div>
    </div>
</div>
</template>