.cmp-sub-navigation {
    .sub-navigation.v1, .sub-navigation.v2 {

        background-color: $black;
        @include media-breakpoint-up(lg) {
            padding: 45px 10rem;
        }

        .subnav {
            &__wrapper {
                &--title {
                    color: $silver;
                    font-size: 30px;
                    line-height: 1.1;
                    @include media-breakpoint-up(md) {
                        font-size: 30px;
                        line-height: 1;
                    }
                    @include media-breakpoint-up(lg) {
                        font-size: 36px;
                    }
                    @include media-breakpoint-up(xl) {
                        font-size: 50px;
                    }
                }
                &.subnav {
                    &--recommended {
                        padding: 0;
                        @include media-breakpoint-up(lg) {
                            padding: 0 0 0 60px;
                        }
                    }
                }
            }
            &__list {
                padding: 0;
                &--item, &--link {
                    white-space: initial;
                    margin-top: 15px;
                    a:not(.subnav__wrapper--title) {
                        font-size: 18px;
                        line-height: 1.33;
                        color: $silver !important;
                        @include media-breakpoint-up(md) {
                            line-height: 1.47;
                        }
                        @include media-breakpoint-up(lg) {
                            font-size: 22px;
                            line-height: 1.18;
                        }
                        @include media-breakpoint-up(xl) {
                            font-size: 28px;
                            line-height: 1.21;
                        }
                    }

                    &:last-child {
                        @include media-breakpoint-up(md) {
                            margin-bottom: 50px;
                        }
                    }

                    & > div {
                        background-color: $black;

                        & > span.mobile--arrow {
                            display: none;
                        }
                    }
                    &.hidden {
                        display: none;
                    }

                    &.active {
                        &:before {
                            content: "•";
                            font-size: 1.5rem;
                            margin-left: -1.125rem;
                            line-height: 0;
                            color: $white;
                            @include media-breakpoint-up(lg) {
                                margin-left: -1.4125rem;
                                font-size: 2rem;
                            }
                        }
                        & > div {
                            display: block;
                        }
                    }
                    &.inactive > a {
                        color: $gray-dark !important;
                        &:hover {
                            .icon-arrow {
                                &:before {
                                    color: $silver;
                                }
                            }
                        }
                        .icon-arrow {
                            &:before {
                                color: $gray-dark;
                            }
                        }
                    }
                    .icon-arrow {
                        font-size: 12px;
                    }
                }

                &--label {
                    &:not(.subnav__list__category) {
                        margin-top: 12px;
                        @include media-breakpoint-up(md){
                          font-size: 18px;
                          line-height: 26px;
                        }
                        @include media-breakpoint-up(lg) {
                            margin-top: 15px;
                        }
                    }
                    &.no-link {
                        & > a {
                            cursor: default;
                        }
                    }
                    a {
                        font-size: 16px;
                        line-height: 1.44;
                        color: $gray-light;
                        @include media-breakpoint-up(md) {
                            font-size: 15px;
                        }
                        @include media-breakpoint-up(lg) {
                            font-size: 18px;
                        }
                    }
                }
            }
            &--recommended {
                display: none;
                margin-top: 16px;
                @include media-breakpoint-up(lg) {
                    margin-top: 0;
                }
                .recommended {
                    &__title {
                        color: $gray-light;
                        font-size: 16px;
                        margin-bottom: 20px;
                        margin-top: 18px;
                        padding: 0 32px;
                        width: 100%;
                        @include media-breakpoint-up(md) {
                            font-size: 15px;
                            margin-top: 10px;
                        }
                        @include media-breakpoint-up(lg) {
                            font-size: 18px;
                            margin-top: 0;
                        }
                    }
                    &__image {
                        margin-bottom: 20px;
                        @include media-breakpoint-up(md) {
                            margin-bottom: -8px;
                        }
                        @include media-breakpoint-up(lg) {
                            margin-bottom: 20px;
                        }
                        @include media-breakpoint-up(xl) {
                            margin-bottom: 23px;
                        }
                        &--img {
                            height: 120px;
                            width: 164px;
                            @include media-breakpoint-up(md) {
                                height: 140px;
                                width: 100%;
                            }
                            @include media-breakpoint-up(lg) {
                                height: 170px;
                            }
                            @include media-breakpoint-up(xl) {
                                height: 233px;
                            }
                        }
                    }
                    &__list {
                        &__item {
                            &:not(:first-child) {
                                .recommended__list__item--title {
                                    padding-top: 20px;
                                }
                            }
                            &:not(:last-child) {
                                .recommended__list__item--text {
                                    border-bottom: 1px solid #323539;
                                    padding-bottom: 20px;
                                    margin-bottom: 20px;
                                    @include media-breakpoint-up(md) {
                                        padding-bottom: 14px;
                                        margin-bottom: 14px;
                                    }
                                    @include media-breakpoint-up(lg) {
                                        padding-bottom: 28px;
                                        margin-bottom: 22px;
                                    }
                                    @include media-breakpoint-up(xl) {
                                        padding-bottom: 30px;
                                    }
                                }
                            }
                            &--title {
                                color: $silver;
                                font-size: 14px;
                                line-height: 1.43;
                                letter-spacing: -0.14px;
                                @include media-breakpoint-up(md) {
                                    font-size: 12px;
                                    line-height: 1.25;
                                    letter-spacing: normal;
                                }
                                @include media-breakpoint-up(lg) {
                                    font-size: 16px;
                                    line-height: 1.44;
                                    letter-spacing: -0.32px;
                                }
                                .icon-arrow {
                                    font-size: 10px;
                                    @include media-breakpoint-up(md) {
                                        font-size: 8px;
                                    }
                                    @include media-breakpoint-up(lg) {
                                        font-size: 12px;
                                    }
                                }
                            }

                            &--text {
                                color: $gray-light;
                                font-size: 14px;
                                line-height: 1.43;
                                letter-spacing: -0.14px;
                                @include media-breakpoint-up(md) {
                                    font-size: 12px;
                                    line-height: 1.25;
                                    letter-spacing: normal;
                                }
                                @include media-breakpoint-up(lg) {
                                    font-size: 16px;
                                    line-height: 1.44;
                                    letter-spacing: -0.32px;
                                }
                            }
                        }

                    }
                }
            }
            &.hidden {
                visibility: hidden;
            }
        }
        a.link-animation {
            &:after {
               transition: all 0.2s;
            }
        }
        ul {
            list-style: none;
        }
    }

    .sub-navigation.v1 {
        .subnav {
            padding: 0 60px;
            &--col2 {
                .subnav {
                    &__list {
                        &--label>a {
                            @include media-breakpoint-up(lg) {
                                color: $silver;
                                font-size: 22px;
                                line-height: 26px;
                            }
                            @include media-breakpoint-up(xl) {
                                font-size: 28px;
                                line-height: 34px;
                            }
                        }
                    }
                    &__wrapper {

                        &--title{
                            .juniper-icon{
                                vertical-align: middle;
                            }
                        }

                        &__descriptor {
                            &--small {
                                font-size: 12px;
                                @include media-breakpoint-up(md) {
                                    font-size: 15px;
                                }
                                @include media-breakpoint-up(lg) {
                                    font-size: 18px;
                                }
                            }
                            color: $gray-light;
                            font-size: 14px;
                            line-height: 1.4;
                            @include media-breakpoint-up(md) {
                                font-size: 15px;
                            }
                            @include media-breakpoint-up(lg) {
                                font-size: 18px;
                                margin-top: 15px;
                                margin-bottom: 2rem;
                            }
                        }
                    }
                }
            }
            &--col2 {
                border-top: 0;
                padding-left: 0;
                @include media-breakpoint-up(md) {
                    padding-left: 60px;
                    border-left: 1px solid #323539;
                }
            }
            &--col3 {
                border-top: 1px solid #323539;
                @include media-breakpoint-up(lg) {
                    border-top: 0;
                    border-left: 1px solid #323539;
                }
                .recommended__list__item--text {
                    max-width: 100%;
                    white-space: initial;
                }
            }

            @include media-breakpoint-down(sm) {
                &__list {
                    &--item {
                        &.active > div {
                            left: 0;
                            height: 100vh;
                            width: 50vw;

                            & > span.mobile--arrow {
                                content: '\2190';
                                color: $white;
                                font-size: 22px;
                                display: block;
                            }
                        }
                    }
                }
            }
        }
    }

    .sub-navigation.v2 {
        .subnav {
            padding: 0;
            @include media-breakpoint-up(lg) {
                padding: 0 60px;
            }
            &__wrapper {
                &--title {
                    margin-bottom: 20px;
                    @include media-breakpoint-up(lg) {
                        margin-bottom: 0;
                    }
                    .juniper-icon {
                        font-size: 16px;
                        @include media-breakpoint-up(md) {
                            display: none;
                        }
                        &.icon-arrow-up {
                            display: none;
                        }
                    }
                }
                &--descriptor {
                    color: $gray-light;
                    font-size: 14px;
                    line-height: 1.4;
                    @include media-breakpoint-up(md) {
                        font-size: 15px;
                    }
                    @include media-breakpoint-up(lg) {
                        font-size: 18px;
                    }
                    &.descriptor--with-title {
                        margin-top: -10px;
                        margin-bottom: 20px;
                        @include media-breakpoint-up(lg) {
                            margin: 0;
                        }
                    }
                }
                &__category-bucket {
                    @include media-breakpoint-up(md) {
                        display: block;
                    }
                    &.has-title {
                        display: none;
                        @include media-breakpoint-up(md) {
                            display: block;
                        }
                        .subnav__list--label {
                            .juniper-icon {
                                display: none;
                            }
                        }
                    }
                    &:not(.has-title) {
                        &:first-child {
                            @include media-breakpoint-up(lg) {
                                margin-top: 36px;
                            }
                            @include media-breakpoint-up(xl) {
                                margin-top: 50px;
                            }
                        }
                        .subnav__list--label {
                            margin-bottom: 1rem;
                            @include media-breakpoint-up(md) {
                                margin-bottom: 0;
                            }
                            .juniper-icon {
                                font-size: 14px;
                                @include media-breakpoint-up(md) {
                                    display: none;
                                }
                                &.icon-arrow-up {
                                    display: none;
                                }
                            }
                        }
                        .subnav__list--item {
                            display: none;
                            @include media-breakpoint-up(md) {
                                display: list-item;
                            }
                        }
                    }
                    .subnav__list--item {
                        &:last-child {
                            margin-bottom: 1rem;
                        }
                    }
                }
            }
            &--col2, &--col3 {
                border-top: 1px solid #323539;
                @include media-breakpoint-up(lg) {
                    border-top: 0;
                    border-left: 1px solid #323539;
                }
            }
        }
    }
}
