.casestudyoverview {
  margin: 0 32px;

  .cmp-case-study-overview {
    @extend .component-bottom-spacing;

    .content {
      display: grid;
      display: -ms-grid;
      grid-gap: 16px;
      grid-template-columns: repeat(4, 1fr);
      -ms-grid-columns: 1fr 1fr 1fr 1fr;

      @include media-breakpoint-up(md) {
        grid-gap: 24px;
        grid-template-columns: repeat(9, 1fr);
        -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      }

      @include media-breakpoint-up(lg) {
        grid-gap: 32px;
        grid-template-columns: repeat(11, 1fr);
        -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      }

      @include media-breakpoint-up(xl) {
        grid-gap: 32px;
        grid-template-columns: repeat(11, 1fr);
        -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      }

      .left {
        grid-column: 1/5;
        -ms-grid-column: 1;
        -ms-grid-column-span: 4;

        @include media-breakpoint-up(sm) {
          order: 2;
        }

        @include media-breakpoint-up(md) {
          grid-column: 1/5;
          -ms-grid-column: 1;
          -ms-grid-column-span: 4;
        }

        @include media-breakpoint-up(lg) {
          grid-column: 2/6;
          -ms-grid-column: 2;
          -ms-grid-column-span: 4;
        }

        @include media-breakpoint-up(xl) {
          grid-column: 2/6;
          -ms-grid-column: 2;
          -ms-grid-column-span: 4;
        }

        .company-logo {
          height: auto;
          width: 100px;
          margin-top: 24px;
          margin-bottom: 8px;

          & figure {
            align-self: center;
            margin-bottom: 0;
          }

          & img {
            max-width: 100%;
            max-height: 100%;
          }

          @include media-breakpoint-up(md) {
            margin-top: 48px;
            margin-bottom: 8px;
          }

          @include media-breakpoint-up(lg) {
            margin-bottom: 16px;
            margin-top: 65px;
          }
        }

        .eyebrow-casestudy {
          font-weight: bold;
          margin-top: 24px;
          margin-bottom: 32px;

          @include media-breakpoint-up(lg) {
            margin-top: 32px;
          }

          @include media-breakpoint-up(lg) {
            margin-bottom: 48px;
            margin-top: 48px;
          }
        }

        .title {
          display: inline-block;
          margin-bottom: 24px;

          & h1 {
            color: $black;
            font-size:36px;
            line-height: 40px;

            @include media-breakpoint-up(md) {
              font-size: 42px;
              line-height: 42px;
            }

            @include media-breakpoint-up(lg) {
              font-size: 58px;
              line-height: 63px;
            }

            @include media-breakpoint-up(xl) {
              font-size: 76px;
              line-height: 76px;
            }
          }

          @include media-breakpoint-up(md) {
            margin-bottom: 32px;
          }

          @include media-breakpoint-up(lg) {
            margin-bottom: 32px;
          }

          @include media-breakpoint-up(xl) {
            margin-bottom: 48px;
          }
        }

        .heading--link {
          text-decoration: none;
          background-image: linear-gradient($black, $black);
          background-position: 0% 100%;
          background-repeat: no-repeat;
          background-size: 0% 1px;
          transition: background-size cubic-bezier(0, 0.5, 0, 1) 0.3s;
          color: inherit;

          &:hover {
            text-decoration: none;
            background-size: 100% 2px;
            color: $black;
          }
        }

        .desc {
          margin-bottom: 32px;
          color: $gray-dark;

          @include media-breakpoint-up(lg) {
            margin-bottom: 82px;
          }

          @include media-breakpoint-up(xl) {
            margin-bottom: 60px;
          }
        }

        .overview-section {
          @include media-breakpoint-up(md) {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 32px;
            display: -ms-grid;
            -ms-grid-columns: 1fr 1fr 1fr 1fr;
          }

          .details {
            grid-column: 1/4;
            -ms-grid-column: 1;
            -ms-grid-column-span: 3;

            .header {
              font-size: 14px;
              line-height: 20px;

              @include media-breakpoint-up(lg) {
                font-size: 16px;
                line-height: 23px;
              }

              p {
                font-size: inherit;
                line-height: inherit;
              }
            }
          }

          & hr {
            background-color: #f0f3f5;
            border-top: 6px solid #f0f3f5;
            margin-top: 10px;
            margin-bottom: 20px;

            @include media-breakpoint-up(lg) {
              margin-top: 12px;
            }
          }

          .company-details {
            width: 100%;
            border-collapse: collapse;
            table-layout: fixed;

            tbody {
              display: block;

              tr {
                width: 100%;
                display: flex;
                flex-direction: row;
                align-items: stretch;
              }

              td {
                width: 50%;
                padding-top: 0px;
                padding-bottom: 12px;

                @include media-breakpoint-up(lg) {
                  padding-bottom: 11px;
                }
              }

              .products-right {
                padding-bottom: 0px;

                .product-link {
                  line-height: 0;
                }
              }
            }
          }
        }

        .button {
          margin-top: 24px;

          @include media-breakpoint-up(md) {
            margin-top: 18px;
          }
        }
      }

      .right {
        width: 100%;
        height: 100%;
        grid-column: 1/5;
        -ms-grid-column: 1;
        -ms-grid-column-span: 4;

        @include media-breakpoint-up(sm) {
          grid-row: 1;
          order: 1;
          margin-left: -32px;
          margin-right: -32px;
        }

        @include media-breakpoint-up(md) {
          grid-column: 5/10;
          -ms-grid-column: 5;
          -ms-grid-column-span: 5;
          justify-self: end;
          margin-right: -32px;
        }

        @include media-breakpoint-up(lg) {
          grid-column: 6/12;
          -ms-grid-column: 7;
          -ms-grid-column-span: 5;
          justify-self: end;
          margin-right: -32px;
        }

        @include media-breakpoint-up(xl) {
          grid-column: 6/12;
          -ms-grid-column: 7;
          -ms-grid-column-span: 5;
          justify-self: end;
          margin-right: -32px;
        }

        .overview-video {
          max-height: none;

          @include media-breakpoint-up(sm) {
            margin-right: -4pc;
          }

          @include media-breakpoint-up(md) {
            margin-right: 0;
          }

          .thumbnail {
            max-height: none;

            .img {
              width: 100vw;
              object-fit: cover;
              height: 346px;

              @include media-breakpoint-up(md) {
                width: 100%;
                height: 391px;
              }

              @include media-breakpoint-up(lg) {
                height: 784px;
              }

              @include media-breakpoint-up(xl) {
                height: 1069px;
              }
            }

            .play-icon {
              position: absolute;
              font-size: 40px;
              height: 40px;
              width: 40px;

              @include media-breakpoint-up(md) {
                font-size: 40px;
                height: 40px;
                width: 40px;
              }

              @include media-breakpoint-up(lg) {
                font-size: 70px;
                height: 70px;
                width: 70px;
              }

              @include media-breakpoint-up(xl) {
                font-size: 70px;
                height: 70px;
                width: 70px;
              }

              &:hover {
                cursor: pointer;
              }
            }

            .play-icon-left {
              top: auto;
              left: 32px;
              bottom: 32px;

              @include media-breakpoint-up(md) {
                left: 24px;
                bottom: 24px;
                font-size: 40px;
              }

              @include media-breakpoint-up(lg) {
                left: 40px;
                bottom: 40px;
                font-size: 70px;
              }

              @include media-breakpoint-up(xl) {
                left: 40px;
                bottom: 40px;
                font-size: 70px;
              }
            }

            .play-icon-right {
              top: auto;
              right: 32px;
              bottom: 32px;

              @include media-breakpoint-up(md) {
                right: 24px;
                bottom: 24px;
                font-size: 40px;
              }

              @include media-breakpoint-up(lg) {
                right: 8pc;
                bottom: 40px;
                font-size: 70px;
              }

              @include media-breakpoint-up(xl) {
                right: 8pc;
                bottom: 40px;
                font-size: 70px;
              }
            }
          }

          .video-wrapper {
            display: none;
            height: 346px;

            @include media-breakpoint-up(md) {
              margin-right: 4pc;
              height: 391px;
            }

            @include media-breakpoint-up(lg) {
              margin-right: 4pc;
              height: 558px;
            }

            @include media-breakpoint-up(xl) {
              margin-right: 4pc;
              height: 1069px;
            }

            .youtube-video {
              width: 100%;
              height: 100%;
              padding: 0px;
              background: #000;

              @include media-breakpoint-up(md) {
                padding: 0px;
              }

              @include media-breakpoint-up(lg) {
                padding: 0px;
              }

              @include media-breakpoint-up(xl) {
                padding: 0px;
              }
            }

            .overview-close-icon {
              position: absolute;
              top: 5%;
              left: 2%;
              font-size: 35px;
              z-index: 10;
              width: 35px;
              background-color: white;
              border-radius: 50%;

              @include media-breakpoint-up(md) {
                font-size: 40px;
                width: 40px;
              }

              @include media-breakpoint-up(lg) {
                font-size: 50px;
                width: 50px;
              }

              @include media-breakpoint-up(xl) {
                font-size: 50px;
                width: 50px;
              }

              &:focus {
                color: #fff !important;
              }

              &:active {
                color: #fff !important;
              }

              &:hover {
                cursor: pointer;
              }
            }
          }
        }
      }

      // container to play video fullscreen
      .modal {
        .modal-dialog {
          .pfh-player-container {
            .video-container {
              height: 100%;
              max-height: 100%;
              width: 100%;
              max-width: 100%;

              @include media-breakpoint-up(sm) {
                height: 375px;
              }

              @include media-breakpoint-up(md) {
                height: 100%;
              }

              overflow: hidden;
              position: relative;
              width: 100%;

              &:after {
                padding-top: 56.25%;
                display: block;
                content: "";
              }

              iframe {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
              }
            }

            .close-icon {
              z-index: 999;
              @include font-size(40);
              position: absolute;

              @include media-breakpoint-up(lg) {
                @include font-size(70);
              }

              @include media-breakpoint-up(xl) {
                @include font-size(94);
              }
            }

            .juniper-icon {
              background-color: $white;
              border-radius: 50%;

              span:nth-child(2) {
                margin-left: -1.1rem;

                @include media-breakpoint-up(lg) {
                  margin-left: -2rem;
                }

                @include media-breakpoint-up(xl) {
                  margin-left: -2.9rem;
                }
              }
            }
          }
        }
      }

      //modal end
    }

    .jsExpnaded {
      @include media-breakpoint-up(md) {
        grid-template-columns: repeat(5, 2fr) repeat(4, 1fr);
        -ms-grid-columns: 2fr 2fr 2fr 2fr 2fr 1fr 1fr 1fr 1fr;
      }

      @include media-breakpoint-up(lg) {
        grid-template-columns: repeat(6, 2fr) repeat(5, 1fr);
        -ms-grid-columns: 2fr 2fr 2fr 2fr 2fr 2fr 1fr 1fr 1fr 1fr 1fr;
      }

      @include media-breakpoint-up(xl) {
        grid-template-columns: repeat(6, 2fr) repeat(5, 1fr);
        -ms-grid-columns: 2fr 2fr 2fr 2fr 2fr 2fr 1fr 1fr 1fr 1fr 1fr;
      }
    }

    .jsExpnaded-inverse {
      @include media-breakpoint-up(md) {
        grid-template-columns: repeat(4, 1fr) repeat(5, 2fr);
        -ms-grid-columns: 1fr 1fr 1fr 1fr 2fr 2fr 2fr 2fr 2fr;
        margin-right: -4pc;
      }

      @include media-breakpoint-up(lg) {
        grid-template-columns: repeat(5, 1fr) repeat(6, 2fr);
        -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 2fr 2fr 2fr 2fr 2fr 2fr;
        margin-right: -4pc;
      }

      @include media-breakpoint-up(xl) {
        grid-template-columns: repeat(5, 1fr) repeat(6, 2fr);
        -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 2fr 2fr 2fr 2fr 2fr 2fr;
        margin-right: -4pc;
      }
    }

    .inverse {
      .left {
        @include media-breakpoint-up(md) {
          grid-column: 6/10;
          -ms-grid-column: 6;
          -ms-grid-column-span: 4;
        }

        @include media-breakpoint-up(lg) {
          grid-column: 7/11;
          -ms-grid-column: 7;
          -ms-grid-column-span: 4;
        }
      }

      .right {
        justify-self: start;

        @include media-breakpoint-up(md) {
          grid-column: 1/6;
          -ms-grid-column: 1;
          -ms-grid-column-span: 5;
          margin-left: -32px;
          margin-right: 0;
        }

        @include media-breakpoint-up(lg) {
          grid-column: 1/7;
          -ms-grid-column: 1;
          -ms-grid-column-span: 6;
          margin-left: -32px;
          margin-right: 0;
        }
      }
    }
  }
}