<div data-sly-test="${wcmmode.edit && !wcmmode.preview}" class="configure__container">
    [ Configure ${component.title} Component ]
</div>
<sly data-sly-use.model="com.juniper.aem.models.StackedParagraphsModel">
</sly>
<div class="cmp-stacked-paragraphs" data-mod="stacked-paragraphs">
    <div class="paragraphs grid ${model.iconColor ? 'include-decorative-circle' : ''}">
        <div class="paragraphs__text">
            <div data-sly-test="${model.iconColor}" class="paragraphs__text__decorative-circle ${model.iconColor}">
            </div>
            <div class="paragraphs__text__header">
                <h1 class="paragraphs__text__header--h1">${model.title}</h1>
            </div>
        </div>
        <div class="paragraphs__container" data-sly-list.paragraph="${model.paragraphs}">
            <div class="paragraphs__container__paragraph">
                <div data-sly-test="${paragraph.eyebrow}" class="paragraphs__container__paragraph__eyebrow eyebrow">
                    ${paragraph.eyebrow}
                </div>
                <div class="paragraphs__container__paragraph__headline">
                    <h2 class="paragraphs__container__paragraph__headline--text">
                        ${paragraph.headline}
                    </h2>
                </div>
                <div class="paragraphs__container__paragraph__text rte-content">
                    ${paragraph.text @ context='html'}
                </div>
                <div data-sly-test="${paragraph.ctaLink && paragraph.ctaLabel}" class="paragraphs__container__paragraph__cta">
                    <a href="${paragraph.ctaLink @ context = 'uri'}" target="${paragraph.ctaLinkTarget}" x-cq-linkchecker="valid" class="paragraphs__container__paragraph__cta--link link-animation">
                        ${paragraph.ctaLabel} <span class="juniper-icon icon-arrow"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
