.relatedcontent {
    .cmp-related-content {
        @extend .component-bottom-spacing;

        color: #fff;
        padding: 48px 0 82px;

        @include media-breakpoint-up(md) {
            padding: 64px 0 80px;
        }

        @include media-breakpoint-up(lg) {
            padding: 124px 0;
        }

        @include media-breakpoint-up(xl) {
            padding: 144px 0;
        }

        @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
            padding-left: 160px;
            padding-right: 160px;
        }

        .related-content__container {
            padding: 0 32px 0 33px;
            @include media-breakpoint-up(md) {
                padding: 0 32px;
            }
        }

        .related-content-wrapper {

            @include media-breakpoint-up(md) {
                display: grid;
                grid-template-columns: repeat(9, 1fr);
                column-gap: 24px;
            }

            @include media-breakpoint-up(lg) {
                grid-template-columns: repeat(11, 1fr);
                column-gap: 32px;
            }

            .related-content-intro {
                display: grid;
                column-gap: 32px;
                @include media-breakpoint-up(md) {
                    grid-template-columns: repeat(9, 1fr);
                    grid-column: 1/10;
                }

                @include media-breakpoint-up(lg) {
                    grid-template-columns: repeat(11, 1fr);
                    grid-column: 2/12;
                }

                @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
                    margin-bottom: 84px;
                }

                .related-content-heading{
                    padding-bottom: 16px;
                    @include media-breakpoint-up(lg) {
                        padding-bottom: 23px;
                    }
                    @include media-breakpoint-up(xl) {
                        padding-bottom: 16px;
                    }
                    a{
                        color: #fff !important;
                        background-image: linear-gradient(white, #fff);
                        background-position: 0 100%;
                        background-repeat: no-repeat;
                        background-size: 0 2px;
                        transition: background-size 0.3s;
        
                        &:hover{
                            text-decoration: none;
                            background-size: 100% 2px;
                            display: inline;
        
                        }
                    }
                }

                .related-content-heading,
                .related-content-desc {
                    grid-column: 1/8;
                }

                .related-content-desc {
                    padding-bottom: 63px;
                    @include media-breakpoint-up(md) {
                        padding-bottom: 64px;
                    }
                    @include media-breakpoint-up(lg) {
                        padding-bottom: 84px;
                    }
                    @include media-breakpoint-up(xl) {
                        padding-bottom: 84px;
                    }
                }

            }

            .related-content-card-items {
                display: block;
                @include media-breakpoint-up(md) {
                    grid-column: 1/10;
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    column-gap: 24px;
                }

                @include media-breakpoint-up(lg) {
                    grid-column: 2/11;
                    grid-template-columns: repeat(3, 1fr);
                    column-gap: 32px;
                }

                @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
                    display: flex;
                }

                .related-content-card-item {
                    background-color: #fff;
                    color: #000;
                    border-radius: 8.2px;
                    margin-bottom: 36px;
                    padding: 24px 24px 30px;

                    @include media-breakpoint-up(md) {
                        padding: 24px 24px 29px;
                    }

                    @include media-breakpoint-up(xl) {
                        padding: 56px 88px 36px 49px;
                    }

                    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
                        margin-right: 32px;
                    }

                    a {
                        color: #000;
                        display: grid;
                        grid-template-rows: .25fr .2fr 2fr .5fr;
                        grid-gap: 24px;
                        height: 100%;

                        @include media-breakpoint-up(md) {
                            grid-template-rows: .2fr .2fr 1fr .1fr;
                        }

                        @include media-breakpoint-up(lg) {
                            grid-gap: 32px;
                            grid-template-rows: .25fr .25fr 2fr .25fr;
                        }

                        @include media-breakpoint-up(xl) {
                            grid-template-rows: .5fr .25fr 2fr .25fr;
                        }

                        .thumbnail {
                            display: grid;
                            grid-template-columns: 2fr 1fr;
                            @include media-breakpoint-up(md) {
                                grid-gap: 24px;
                            }

                            @include media-breakpoint-down(md) {
                                height: 50px;
                            }

                            @include media-breakpoint-up(lg) {
                                grid-gap: 32px;
                            }

                            @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
                                display: flex;
                                padding-bottom: 64px;
                            }

                            span {
                                line-height: 1.27;
                                letter-spacing: 1.98px;
                                @include font-size(11);
                                font-weight: bold;

                                @include media-breakpoint-up(lg) {
                                    line-height: 1.5;
                                    letter-spacing: 2.16px;
                                    @include font-size(12);
                                }

                                @include media-breakpoint-up(xl) {
                                    letter-spacing: 2.97px;
                                    @include font-size(16.5);
                                }
                            }

                            @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
                                img{
                                    max-width: 100px;
                                    height: 100%;
                                    left:35%;
                                }
                            }
                        }

                        .customer-name {
                            line-height: 1.09;
                            letter-spacing: -0.66px;
                            @include font-size(22);

                            @include media-breakpoint-up(md) {
                                line-height: 1.15;
                                letter-spacing: -0.78px;
                                @include font-size(26);
                            }

                            @include media-breakpoint-up(lg) {
                                letter-spacing: -0.52px;
                            }

                            @include media-breakpoint-up(xl) {
                                line-height: 1;
                                letter-spacing: -0.72px;
                                @include font-size(36);
                            }
                        }

                        .customer-description {
                            line-height: 1.43;
                            letter-spacing: -0.14px;
                            color:$gray-dark;
                            @include font-size(14);

                            @include media-breakpoint-up(md) {
                                line-height: 1.4;
                                letter-spacing: -0.3px;
                                @include font-size(15);
                            }

                            @include media-breakpoint-up(lg) {
                                line-height: 1.44;
                                letter-spacing: -0.32px;
                                @include font-size(16);
                            }

                            @include media-breakpoint-up(xl) {
                                line-height: 1.38;
                                letter-spacing: -0.22px;
                                @include font-size(22);
                            }

                            @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
                                padding-bottom: 120px;
                            }
                        }

                        .tags{
                            span{
                                background-color: $jade;
                                display: inline-block;
                                margin-right: 12px;
                                padding: 0.5rem;
                                margin-bottom: 0.5rem;
                                @include media-breakpoint-up(md) {
                                    line-height: 1.3;
                                    letter-spacing: -0.3px;
                                    @include font-size(10);
                                }

                                @include media-breakpoint-up(lg) {
                                    line-height: 1.3;
                                    letter-spacing: 0.5px;
                                    @include font-size(10);
                                }

                                @include media-breakpoint-up(xl) {
                                    padding: 7.6px 12.2px 7.4px 11px;
                                }
                            }
                            .readmore-link{
                                justify-self: start;
                                div{
                                    display: inline-grid;
                                    @include font-size(14);
                                    padding-left: 11px;
                                }
                            }
                        }
                        .links{
                            display: flex;
                            height: fit-content;
                            .readmore-link{
                                justify-self: start;
                                display: flex;
                                align-self: baseline;
                                padding-right: 10px;
                                font-weight: bold;
                                line-height: 2.06;
                                letter-spacing: -0.16px;
                                @include font-size(16);

                                @include media-breakpoint-up(xl) {
                                    line-height: 1.65;
                                    letter-spacing: -0.2px;
                                    @include font-size(20);
                                }
                            }
                            span{
                                padding-top: 8px; 
                            }
                        }

                    }
                }
            }
        }
    }
}
