.cmp-image {
  @extend .component-bottom-spacing;
  
  @include color-theme($theme-colors) {
    background: linear-gradient($value 50%, transparent 50%) no-repeat;
  }
 
  .image-component {
    &__container {
      @extend .grid;
      &__image {
        grid-column: 1/5;
        @include media-breakpoint-up(md) {
          grid-column: 1/10;
        }
        @include media-breakpoint-up(lg) {
          grid-column: 2/11;
        }

        img{
          max-height: 137px;
          object-fit: cover;
          @include media-breakpoint-up(md){
            max-height:289.2px;
          }

          @include media-breakpoint-up(lg){
            max-height: 493px;
          }

          @include media-breakpoint-up(xl){
            max-height:630px;
          }

          &.original-size{
            max-height: unset !important;
            object-fit:unset;
          }
        }
      }
      &__caption {
        color: $gray-dark;
        margin-top: 24px;
        grid-column: 1/5;
        @include media-breakpoint-up(md) {
          grid-column: 1/8;
        }
        @include media-breakpoint-up(lg) {
          grid-column: 2/ span 5;
        }
        

        &.right {
          @include media-breakpoint-up(md) {
            grid-column: 3/10;
          }
          @include media-breakpoint-up(lg) {
            grid-column: 6/ span 5;
          }
        }
        &.center {
          text-align: center;
          @include media-breakpoint-up(md) {
            grid-column: 2/9;
          }
          @include media-breakpoint-up(lg) {
            grid-column: 4/ span 5;
          }
        }
      }
    }
}
}
.datasheet-image {
  margin-bottom: 0px;
  padding-top: 56px;
  @include media-breakpoint-up(md) {
    padding-top: 56px;
  }
  @include media-breakpoint-up(lg) {
    padding-top: 128px;
  }
}
.no-padding{
    padding:0;
}
