
<script>
    window.jnprData = window.jnprData || {};
</script>

<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html"
    data-sly-call="${clientLib.css @ categories='juniper.base,juniper.site,juniper.angular,juniper.csat'}">
</sly>

<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html"
     data-sly-call="${clientLib.js @ categories='juniper.data'}">
</sly>

<!--/* Include Context Hub */-->
<sly data-sly-call="${clientlib.js @ categories='granite.utils'}"/>
<sly data-sly-resource="${'contexthub' @ resourceType='granite/contexthub/components/contexthub'}"/>

<!--/* Breakpoint check for BS4 */-->
<div class="breakpoint-check d-none">
    <span class="xs d-block d-sm-inline"></span>
    <span class="sm d-sm-block d-md-inline"></span>
    <span class="md d-md-block d-lg-inline"></span>
    <span class="lg d-lg-block d-xl-inline"></span>
    <span class="xl d-xl-block"></span>
</div>
