@import '../../../styles/core/core-bundle';

$sw-dialog-padding: sw-spacing(2) !default;
$sw-dialog-border-radius: 2px !default;

.sw-dialog-container {
  @include sw-elevation(24);

  display: block;
  // padding: $sw-dialog-padding;
  border-radius: $sw-dialog-border-radius;
  box-sizing: border-box;
  overflow: hidden;
  background-color: white;
  outline: 0;

  // The dialog container should completely fill its parent overlay element.
  width: 100%;
  height: 100%;

  // Since the dialog won't stretch to fit the parent, if the height
  // isn't set, we have to inherit the min and max values explicitly.
  min-height: inherit;
  max-height: inherit;
}

.sw-dialog-content {
  display: block;
  // margin: 0 $sw-dialog-padding * -1;
  // padding: 0 $sw-dialog-padding;
  padding: $sw-dialog-padding;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  // Avoid repaints on scroll
  backface-visibility: hidden;
}

.sw-dialog-title {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex: 0 1 auto;
}

.sw-dialog-actions {
  padding: $sw-dialog-padding / 2 0;
  display: flex;
  flex-wrap: wrap;

  &:last-child {
    // If the actions are the last element in a dialog, we need to pull them down
    // over the dialog padding, in order to avoid the action's padding stacking
    // with the dialog's.
    margin-bottom: -$sw-dialog-padding / 2;
  }

  &[align='end'] {
    justify-content: flex-end;
  }

  &[align='center'] {
    justify-content: center;
  }
}
