@import '../../styles/core/core-bundle';

sw-dialog-container {
  @include sw-elevation(24);

  display: block;
  overflow: hidden;
  // padding: $sw-dialog-padding;
  background: white;
  box-sizing: border-box;
  overflow: hidden;

  // The dialog container should completely fill its parent overlay element.
  width: 100%;
  height: 100%;
}
