<div class="configure__container" data-sly-test="${wcmmode.edit}">[ Drop Components to be Sticky ]</div>
<div class="cmp-sticky-row sticky-row" data-mod="sticky-row" data-sticky-wrap>
    <div class="sr-container">
        <div class="left">
            <div data-sly-resource="${'stickyrow1' @ resourceType='wcm/foundation/components/parsys'}"></div>
        </div>
        <div class="right">
            <div data-sly-resource="${'stickyrow2' @ resourceType='wcm/foundation/components/parsys'}"></div>
        </div>
    </div>
</div>