.cmp-top-panel {
    .dropdown-menu.collapsing {
        display: block;
    }

    .top-panel {
        &__container {
            &__nav {
                &__item {
                    align-items: center;
                    cursor: pointer;
                    display: flex;
                    font-size: 12px;
                    line-height: 14px;
                    position: relative;
                    text-transform: uppercase;
                    @include media-breakpoint-up(lg) {
                        font-size: 10px;
                    }
                    &:hover, &__btn.selected {
                        background-color: $black;
                        color: $silver;
                        a {
                            color: $silver;
                        }
                        .juniper-icon {
                            color: $silver;
                        }
                        + .top-panel__container__nav__item {
                            background-color: $black;
                            .top-panel__container__nav__item--separator {
                                border-color: $black;
                            }
                        }
                    }
                    &__btn {
                        align-items: center;
                        display: flex;
                        height: 100%;
                        .login-label {
                            &--username, &--toggle {
                                display: none;
                            }
                        }
                    }
                    &--separator {
                        border-right: 1px solid $border-color;
                        height: 17px;
                    }
                }
                &__backdrop {
                    display: none;
                    @include media-breakpoint-up(lg) {
                        height: 100vh;
                        inset: 40px 0 0;
                        position: absolute;
                        width: 100vw;
                        z-index: $zindex-dropdown - 1;
                    }
                }
            }

            @include media-breakpoint-up(lg) {
                .has-megamenu {
                    position: static;
                    .selected {
                        .juniper-icon {
                            &.icon-arrow-down {
                                transform: rotate(-180deg);
                            }
                        }
                    }
                }
            }
        }

        &__how-to-buy--btn {
            text-transform: none;
            @include font-size(14);
            line-height: 1.43;
            letter-spacing: -0.14px;
            min-height: 40px;
            line-height: 20px;
            padding: 10px 21px;
        }

        &__menu {
            background-color: $black;
            border: 0;
            border-radius: 0;
            cursor:initial;
            left: 0;
            margin-top: 0;
            padding: 0;
            transition: height 1s ease;
            position: fixed;
            top: 40px;
            width: 100vw;
            &__wrapper {
                padding: 45px $grid-side-margin;
                @include media-breakpoint-up(lg) {
                    padding-top: 60px;
                    padding-bottom: 60px;
                }
                @include media-breakpoint-up(xl) {
                    padding-top: 70px;
                    padding-bottom: 70px;
                }
                .close {
                    opacity: 1;
                    text-shadow: none;
                    cursor: pointer;
                    position:absolute;
                    right: 2rem;
                    top: 60px;
                    z-index: 1;
                }
                .juniper-icon {
                    &.icon-close {
                        font-size: 30px;
                    }
                    &:before {
                        color: $white;
                    }
                }
                &__account {
                    display: grid;
                    grid-template-columns: repeat(3, minmax(100px, 1fr));
                    @include media-breakpoint-up(lg) {
                        grid-column: 2/11;
                    }
                    &__header {
                        color: $gray-light;
                        font-size: 18px;
                        grid-column: 1/4;
                        line-height: 1.44;
                        letter-spacing: -0.36px;
                        margin-bottom: 1rem;
                        text-transform: none;
                    }
                    &__links {
                        &:not(:first-child) {
                            padding-left: 30px;
                        }
                        &:not(:last-child) {
                            border-right: 1px solid rgba($gray-light, 0.5);
                            padding-left: 0;
                        }
                        .account-links-list {
                            list-style: none;
                            padding-left: 0;
                            &__item {
                                color: $silver;
                                margin-bottom: 7px;
                                &__link {
                                    color: $silver;
                                    font-size: 22px;
                                    line-height: 1.18;
                                    letter-spacing: -0.44px;
                                    text-transform: none;
                                    @include media-breakpoint-up(xl) {
                                        font-size: 28px;
                                        line-height: 1.21;
                                        letter-spacing: -0.56px;
                                    }
                                    &:hover{
                                        color: $silver;
                                        text-decoration: none;
                                    }
                                }
                            }
                        }
                    }
                }
                &__languages {
                    display: grid;
                    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
                    @include media-breakpoint-up(lg) {
                        grid-column: 2/11;
                    }
                    &__region {
                        text-transform: none;
                        line-height: 1.44;
                        letter-spacing: -0.32px;
                        &:not(:first-child) {
                            padding-left: 30px;
                        }
                        &:not(:last-child) {
                            border-right: 1px solid rgba($gray-light, 0.5);
                        }
                        &--label {
                            color: $gray-light;
                            font-size: 18px;
                            line-height: 1.44;
                            letter-spacing: -0.36px;
                            margin-bottom:18px;
                        }
                        .languages-list {
                            list-style: none;
                            padding-left: 0;
                            &__item {
                                color: $silver;
                                margin-bottom: 7px;
                                &__link {
                                    color: $silver;
                                    font-size: 16px;
                                    line-height: 1.44;
                                    letter-spacing: -0.32px;
                                    text-transform: none;
                                    @include media-breakpoint-up(xl) {
                                        font-size: 18px;
                                        letter-spacing: -0.36px;
                                    }
                                    &:hover{
                                        color: $silver;
                                        text-decoration: none;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .juniper-icon {
            @include font-size(15);
            margin-right: 5px;

            &.icon-arrow-down {
                margin-left: 5px;
                margin-right: 0px;
                @include font-size(9);

                &:before {
                    display: flex;
                    align-items: center;
                    margin-top: 4px;
                }
            }
        }
    }
}
