.secondarypromo {
    .cmp-secpromo {
         @extend .component-bottom-spacing;
        .twoitem.outer-container {
            max-width: 100%;
            overflow: hidden;

            @include media-breakpoint-down(sm) {
                padding-right: 0px;
            }

            .left {
                color: $black;
                background-color: $white;
                padding-top: 80px;
                padding-bottom: 80px;
                grid-column: 1/ span 4;
                column-gap: 16px;
                padding-right: 32px;
                grid-template-columns: repeat(4, 1fr);

                @include media-breakpoint-up(md) {
                    padding-top: 99px;
                    padding-bottom: 110px;
                }

                @include media-breakpoint-up(lg) {
                    padding-top: 150px;
                    padding-bottom: 150px;
                    grid-column: 2/ span 5;
                }

                @include media-breakpoint-up(xl) {
                    padding-top: 208px;
                    padding-bottom: 208px;

                }

                .divider-line {
                    height: 6px;
                    opacity: 0.6;
                    background-color: $silver;

                    @include media-breakpoint-up(xl) {
                        width: 90%;
                    }
                }

                .title {
                    @include font-size(36);
                    line-height: 1.11;
                    letter-spacing: -1.44px;
                    margin-top: 24px;
                    margin-bottom: 17px;
                    grid-column: 1/ span 3;

                    @include media-breakpoint-up(md) {
                        @include font-size(42);
                        line-height: 1;
                        letter-spacing: -1.68px;
                        width: 90%;
                        margin-bottom: 29px;
                        grid-column: 1/ span 4;
                    }

                    @include media-breakpoint-up(lg) {
                        @include font-size(58);
                        line-height: 1.09;
                        letter-spacing: -2.32px;
                        margin-bottom: 24px;
                    }

                    @include media-breakpoint-up(xl) {
                        @include font-size(76);
                        line-height: 1;
                        letter-spacing: -3.04px;
                        width: 85%;
                        margin-bottom: 26px;
                    }
                }

                .desc {
                    @include font-size(16);
                    line-height: 1.44;
                    letter-spacing: -0.32px;
                    margin-bottom: 25px;
                    grid-column: 1/ span 4;

                    @include media-breakpoint-up(md) {
                        @include font-size(17);
                        line-height: 1.41;
                        letter-spacing: -0.34px;
                        width: 80%;
                        margin-bottom: 24px;
                    }

                    @include media-breakpoint-up(lg) {
                        @include font-size(18);
                        line-height: 1.44;
                        letter-spacing: -0.36px;
                        margin-bottom: 32px;
                    }

                    @include media-breakpoint-up(xl) {
                        margin-bottom: 52px;
                        width: 75%;
                    }

                }

                .location {
                    @include font-size(16);
                    font-weight: bold;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.44;
                    letter-spacing: -0.32px;
                    margin-bottom: 32px;
                    grid-column: 1/ span 4;

                    @include media-breakpoint-up(md) {
                        @include font-size(17);
                        line-height: 1.41;
                        letter-spacing: -0.34px;
                        margin-bottom: 35px;
                    }

                    @include media-breakpoint-up(lg) {
                        @include font-size(20);
                        line-height: 1.4;
                        letter-spacing: -0.4px;
                    }
                }

                .button {
                    font-weight: bold;

                    @include media-breakpoint-up(lg) {
                        margin-bottom: 64px;
                    }
                }
            }

            .right {
                color: $white;
                background-color: $black;
                padding: 80px 32px;
                height: fit-content;
                grid-column: 1/ span 4;
                display: grid;
                column-gap: 16px;
                grid-template-columns: repeat(4, 1fr);
                margin-left: -32px;

                @include media-breakpoint-up(md) {
                    padding-top: 99px;
                    padding-bottom: 110px;
                    padding-left: 0;
                    display: grid;
                    grid-column: 6/ span 4;
                    grid-template-columns: repeat(4, 1fr);
                    margin-right: -32px;
                    margin-left: 0;
                    align-content: start;
                    height: 100%; //95%;
                }

                @include media-breakpoint-up(lg) {
                    padding-top: 150px;
                    padding-bottom: 150px;
                    grid-column: 7/ span 5;
                    column-gap: 32px;
                    grid-template-columns: repeat(5, 1fr);
                }

                @include media-breakpoint-up(xl) {
                    padding-top: 208px;
                    padding-bottom: 208px;
                }

                .divider-line {
                    height: 6px;
                    opacity: 0.6;
                    background-color: $silver;
                    grid-column: 1/ span 4;

                    @include media-breakpoint-up(md) {
                        display: none;
                    }
                }

                .title {
                    @include font-size(36);
                    line-height: 1.11;
                    letter-spacing: -1.44px;
                    margin-top: 24px;
                    margin-bottom: 17px;
                    grid-column: 1/ span 3;

                    @include media-breakpoint-up(md) {
                        @include font-size(42);
                        line-height: 1;
                        letter-spacing: -1.68px;
                        margin-bottom: 41px;
                        grid-column: 2/ span 3;
                        width: 85%;
                    }

                    @include media-breakpoint-up(lg) {
                        @include font-size(58);
                        line-height: 1.09;
                        letter-spacing: -2.32px;
                        margin-bottom: 24px;
                    }

                    @include media-breakpoint-up(xl) {
                        @include font-size(76);
                        line-height: 1;
                        letter-spacing: -3.04px;
                        margin-bottom: 49px;
                    }
                }

                .desc {
                    @include font-size(16);
                    line-height: 1.44;
                    letter-spacing: -0.32px;
                    margin-bottom: 25px;
                    grid-column: 1/ span 4;

                    @include media-breakpoint-up(md) {
                        @include font-size(17);
                        line-height: 1.41;
                        letter-spacing: -0.34px;
                        margin-bottom: 33px;
                        grid-column: 2/ span 3;
                        width: 90%;
                    }

                    @include media-breakpoint-up(lg) {
                        @include font-size(18);
                        line-height: 1.44;
                        letter-spacing: -0.36px;
                        margin-bottom: 48px;
                    }

                    @include media-breakpoint-up(xl) {
                        margin-bottom: 61px;
                    }
                }

                .location {
                    @include font-size(16);
                    font-weight: bold;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.44;
                    letter-spacing: -0.32px;
                    margin-bottom: 32px;
                    grid-column: 1/ span 4;

                    @include media-breakpoint-up(md) {
                        @include font-size(17);
                        line-height: 1.41;
                        letter-spacing: -0.34px;
                        margin-bottom: 35px;
                        grid-column: 2/ span 3;
                    }

                    @include media-breakpoint-up(lg) {
                        @include font-size(20);
                        line-height: 1.4;
                        letter-spacing: -0.4px;
                    }
                }

                .button {
                    width: fit-content;
                    font-weight: bold;
                    grid-column: 1/ span 4;

                    @include media-breakpoint-up(md) {
                        grid-column: 2/ span 3;
                    }
                }
            }
        }

        &.oneitem {
            .divider-line {
                height: 6px;
                opacity: 0.6;
                background-color: $silver;
                grid-column: 1/ span 9;

                @include media-breakpoint-up(lg) {
                    grid-column: 2/ span 9;
                }
            }

            column-gap: 16px;
            padding-right: 32px;

            .outer-container {
                overflow: hidden;
                .left {
                    grid-column: 1/ span 4;

                    @include media-breakpoint-up(lg) {
                        grid-column: 2/ span 4;
                    }

                    .title {
                        @include font-size(36);
                        line-height: 1.11;
                        letter-spacing: -1.44px;
                        margin-top: 24px;
                        margin-bottom: 17px;
                        grid-column: 1/ span 3;

                        @include media-breakpoint-up(md) {
                            @include font-size(42);
                            line-height: 1;
                            letter-spacing: -1.68px;
                            grid-column: 1/ span 4;
                            margin-bottom: 0;
                        }

                        @include media-breakpoint-up(lg) {
                            @include font-size(58);
                            line-height: 1.09;
                            letter-spacing: -2.32px;
                        }

                        @include media-breakpoint-up(xl) {
                            @include font-size(76);
                            line-height: 1;
                            letter-spacing: -3.04px;
                        }
                    }
                }

                .right {
                    grid-column: 1/ span 4;

                    @include media-breakpoint-up(md) {
                        grid-column: 6/ span 4;
                    }

                    @include media-breakpoint-up(lg) {
                        grid-column: 7/ span 4;
                    }

                    .desc {
                        @include font-size(16);
                        line-height: 1.44;
                        letter-spacing: -0.32px;
                        margin-bottom: 25px;
                        grid-column: 1/ span 4;

                        @include media-breakpoint-up(md) {
                            @include font-size(17);
                            line-height: 1.41;
                            letter-spacing: -0.34px;
                            margin-bottom: 24px;
                            margin-top: 24px;
                        }

                        @include media-breakpoint-up(lg) {
                            @include font-size(18);
                            line-height: 1.44;
                            letter-spacing: -0.36px;
                            margin-bottom: 32px;
                        }

                        @include media-breakpoint-up(xl) {
                            margin-bottom: 52px;
                        }

                    }

                    .location {
                        @include font-size(16);
                        font-weight: bold;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: 1.44;
                        letter-spacing: -0.32px;
                        margin-bottom: 32px;
                        grid-column: 1/ span 4;

                        @include media-breakpoint-up(md) {
                            @include font-size(17);
                            line-height: 1.41;
                            letter-spacing: -0.34px;
                            margin-bottom: 35px;
                            grid-column: 2/ span 3;
                        }

                        @include media-breakpoint-up(lg) {
                            @include font-size(20);
                            line-height: 1.4;
                            letter-spacing: -0.4px;
                        }
                    }
                }
            }
        }
    }

    /* full black variants */
    &.two-item-full-black {
        .cmp-secpromo {
            .twoitem.outer-container {
                color: $white;
                background-color: $black;

                .divider-line {
                    height: 6px;
                    opacity: 0.6;
                    background-color: $white !important;
                    grid-column: 1/ span 4;

                    @include media-breakpoint-up(xl) {
                        width: 90%;
                    }
                }

                .left {
                    color: $white;
                    background-color: $black;

                    .title {
                        @include font-size(36);
                        line-height: 1.11;
                        letter-spacing: -1.44px;
                        margin-top: 24px;
                        margin-bottom: 17px;
                        grid-column: 1/ span 3;

                        @include media-breakpoint-up(md) {
                            @include font-size(42);
                            line-height: 1;
                            letter-spacing: -1.68px;
                            width: 90%;
                            margin-bottom: 29px;
                            grid-column: 1/ span 4;
                        }

                        @include media-breakpoint-up(lg) {
                            @include font-size(58);
                            line-height: 1.09;
                            letter-spacing: -2.32px;
                            margin-bottom: 24px;
                        }

                        @include media-breakpoint-up(xl) {
                            @include font-size(76);
                            line-height: 1;
                            letter-spacing: -3.04px;
                            width: 85%;
                            margin-bottom: 102px;
                        }
                    }
                }

                .right {
                    .divider-line {
                        @include media-breakpoint-up(md) {
                            display: block;
                            grid-column: 2 / span 3;
                            background-color: $white !important;
                        }
                    }
                }

            }
        }
    }

    &.one-item-full-black {
        .cmp-secpromo {
            &.oneitem {
                @include media-breakpoint-up(sm){
                    padding-top: 60px;   
                    padding-bottom: 60px;   
                }   
                @include media-breakpoint-up(md) {
                    padding-top: 50px;   
                    padding-bottom: 50px;
                }
                @include media-breakpoint-up(lg) {
                    padding-top: 70px;   
                    padding-bottom: 70px;
                }
                @include media-breakpoint-up(xl) {
                    padding-top: 100px;   
                    padding-bottom: 100px;
                }
                color: $white;
                background-color: $black;

                .divider-line {
                    background-color: $white;
                }

                 .outer-container {
                     overflow: hidden;
                    .left {
                        .title {
                            margin-bottom: 17px;
                        
                            @include media-breakpoint-up(md) {
                                margin-bottom: 29px;
                            }

                            @include media-breakpoint-up(lg) {
                                margin-bottom: 24px;
                            }

                            @include media-breakpoint-up(xl) {
                                margin-bottom: 102px;
                            }
                        }
                    }
                }
            }
        }
    }
}