.cmp-resource-center-video {
  @extend .component-bottom-spacing;

  .rcv-container {

    max-width: 100%;
    @extend .grid;

    @include media-breakpoint-up(md) {
      margin-right:0;
    }

    .heading {
      margin-bottom: 65px;
      @include font-size(36);
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.11;
      letter-spacing: -1.44px;
      color: #212121;


      grid-column: 1 / 5;



      @include media-breakpoint-up(md) {
        grid-column: 1 / 9;
      }

      @include media-breakpoint-up(lg) {
        grid-column: 2/ 12;

        margin-bottom: 151px;

        @include font-size(58);
        line-height: 1.09;
        letter-spacing: -2.32px;
        color: $black;
      }

      @include media-breakpoint-up(xl) {
        margin-bottom: 138px;
        @include font-size(76);
        line-height: 1;
        letter-spacing: -3.04px;
        color: #000000;
      }
    }

    .left {
      grid-column: 1 / span 4;

      background: radial-gradient(circle at center center,
          $green 0,
          $green 55%,
          $green 55%,
          $white 0,
          $white 0);

      @include media-breakpoint-up(md) {
        grid-column: 1 / span 4;
        background: none;
      }

      @include media-breakpoint-up(lg) {
        grid-column: 2 / span 4;
      }

      .video-heading-left-v3 {
        margin-bottom: 12px;
        display: none;

        @include media-breakpoint-up(md) {
          margin-bottom: 19px;
          display: block;
        }

        @include media-breakpoint-up(lg) {
          margin-bottom: 32px;
          display: block;
        }

        @include media-breakpoint-up(xl) {
          margin-bottom: 20px;
          display: block;
        }
      }

      .video-desc-left-v3 {
        margin-bottom: 48px;
        display: none;

        @include media-breakpoint-up(md) {
          display: block;
        }

        @include media-breakpoint-up(lg) {
          display: block;
        }
      }

      .subheading {
        margin-bottom: 14px;

        @include font-size(11);
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.27;
        letter-spacing: 1.98px;
        color: #212121;

        @include media-breakpoint-up(md) {
          margin-bottom: 30px;
          @include font-size(14);
          font-weight: 900;
          line-height: 1.21;
          letter-spacing: 2.52px;
          color: $black;
        }

        @include media-breakpoint-up(lg) {
          margin-bottom: 18px;
        }
      }

      .links {
        margin-bottom: 39px;
        font-stretch: normal;
        font-style: normal;

        @include font-size(14);
        font-weight: bold;
        line-height: 20px;
        letter-spacing: -0.16px;

        @include media-breakpoint-up(md) {
          font-weight: normal;
          @include font-size(14);
          line-height: 1.43;
          letter-spacing: -0.14px;
        }

        @include media-breakpoint-up(lg) {
          font-weight: normal;
          @include font-size(16);
          line-height: 1.44;
          letter-spacing: -0.32px;
        }

        @include media-breakpoint-up(xxl) {
          font-weight: normal;
          @include font-size(18);
          line-height: 1.44;
          letter-spacing: -0.36px;
        }

        a {
          color: $black !important;
          margin-bottom: 8px;

          @include media-breakpoint-up(md) {
            color: $gray-dark;
            margin-bottom: 11px;
          }
        }

        ul {
          list-style: none;
          padding-left: 0;
        }

        button {
          text-align: left;
          color: $gray-dark !important;

          @include font-size(14);
          font-weight: bold;
          line-height: 20px;
          letter-spacing: -0.16px;

          @include media-breakpoint-up(md) {
            font-weight: normal;
            @include font-size(14);
            line-height: 1.43;
            letter-spacing: -0.14px;
          }

          @include media-breakpoint-up(lg) {
            font-weight: normal;
            @include font-size(16);
            line-height: 1.44;
            letter-spacing: -0.32px;
          }

          @include media-breakpoint-up(xxl) {
            font-weight: normal;
            @include font-size(18);
            line-height: 1.44;
            letter-spacing: -0.36px;
          }
        }

        .icon-arrow {
          display: inline-block;

          @include media-breakpoint-up(md) {
            display: none;
          }

          &:before {
            padding-top: 1rem;
          }
        }
      }

      .desc {
        @include font-size(22);
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.09;
        letter-spacing: -0.66px;
        color: #212121;
        margin-bottom: 25px;
        display: none;

        @include media-breakpoint-up(md) {
          @include font-size(22);
          line-height: 1.09;
          letter-spacing: -0.66px;
          margin-bottom: 25px;
          display: block;
        }

        @include media-breakpoint-up(lg) {
          @include font-size(26);
          line-height: 1.15;
          letter-spacing: -0.52px;
          margin:65px 0px 43px 0px;
          display: block;
        }

        @include media-breakpoint-up(xl) {
          @include font-size(36);
          line-height: 1;
          letter-spacing: -0.72px;
          margin:90px 0px 43px 0px;
          display: block;
        }
      }

      .button-link {
        @include font-size(17);
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.12;
        letter-spacing: normal;
        display: none;

        @include media-breakpoint-up(md) {
          display: block;
        }
      }
    }

    .right {
      align-self: flex-start;
      background: none;
      @extend .grid;
      grid-template-columns: repeat(5, 1fr);

      padding: 0;
      grid-column: 1 / span 5;

      @include media-breakpoint-up(md) {
        grid-column: 5 / span 5;
        padding-right:2em;
      }

      @include media-breakpoint-up(lg) {
        grid-column: 7 / span 5;
      }


      .bg-circle {
        width: 100%;
        height: 100%;
        background-color: $jade;
        border-radius: 50%;
        display: inline-block;
        z-index: -999;
      }

      .media {
        height: 100%;
        grid-column: 1/ span 5;

        @include media-breakpoint-up(md) {
          grid-column: 1/ span 5;
        }

        @include media-breakpoint-up(lg) {
          grid-column: 1/ span 3;
        }

        .video-container {
          margin-bottom: 24px;

          @include media-breakpoint-up(sm) {
            max-height: 375px;
          }

          @include media-breakpoint-up(md) {
            margin-bottom: 30px;
            max-height: auto;
          }

          overflow: hidden;
          position: relative;
          width: 100%;

          &.add-video-padding {
            &:after {
              padding-top: 56.25%;
              display: block;
              content: "";
            }
          }

          iframe {
            width: 100%;
            height: 100%;

            position: absolute;
            top: 0;
            left: 0;
            display: none;
          }

          .img-vid {
            max-width: 100%;
            max-height: 100%;
            position: relative;
            display: flex;
            object-fit: cover;
            height: 195px;
            @include media-breakpoint-up(lg) {
              height: 233px;
            }
          }
        }
      }

      .video-heading {
        @include font-size(22);
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.09;
        letter-spacing: -0.66px;
        color: $black;
        margin-bottom: 12px;

        grid-column: 1/ span 4;

        @include media-breakpoint-up(md) {
          grid-column: 1/ span 4;

          @include font-size(30);
          line-height: 1.1;
          letter-spacing: -0.9px;
          margin-bottom: 19px;
        }

        @include media-breakpoint-up(lg) {
          grid-column: 1/ span 3;
          @include font-size(42);
          line-height: 1.1;
          letter-spacing: -0.9px;
          margin-bottom: 32px;
        }

        @include media-breakpoint-up(xl) {
          @include font-size(50);
          line-height: 1;
          letter-spacing: -1.5px;
          margin-bottom: 20px;
        }
        h2{
          @include media-breakpoint-up(md) {
            font-size: 30px;
            line-height: 1.1;

          }
          @include media-breakpoint-up(lg) {
            @include font-size(42);
            line-height: 1.1;
            letter-spacing: -0.9px;
          }

          @include media-breakpoint-up(xl) {
            @include font-size(50);
            line-height: 1;
            letter-spacing: -1.5px;
          }
        }

      }

      .video-desc {
        grid-column: 1/ span 5;
        @include font-size(16);
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.44;
        letter-spacing: -0.32px;
        color: rgba(0, 0, 0, 0.8);
        margin-bottom: 48px;

        @include media-breakpoint-up(md) {
          grid-column: 1/ span 5;
        }

        @include media-breakpoint-up(lg) {
          grid-column: 1/ span 4;
          @include font-size(18);
          line-height: 1.44;
          letter-spacing: -0.36px;
          color: $gray-dark;
        }
      }

      .video-heading-right-v3 {
        margin-bottom: 12px;
        display: block;

        @include media-breakpoint-up(md) {
          margin-bottom: 19px;
          display: none;
        }

        @include media-breakpoint-up(lg) {
          margin-bottom: 32px;
          display: none;
        }

        @include media-breakpoint-up(xl) {
          margin-bottom: 20px;
          display: none;
        }
      }

      .video-desc-right-v3 {
        margin-bottom: 48px;
        display: block;

        @include media-breakpoint-up(md) {
          display: none;
        }

        @include media-breakpoint-up(lg) {
          display: none;
        }
      }

      .desc {
        @include font-size(22);
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.09;
        letter-spacing: -0.66px;
        color: #212121;
        margin-bottom: 25px;
        margin-top: 48px;
        display: block;

        @include media-breakpoint-up(md) {
          @include font-size(22);
          line-height: 1.09;
          letter-spacing: -0.66px;
          margin-bottom: 25px;
          margin-bottom: 43px;
          margin-top: 80px;
          @include font-size(26);
          line-height: 1.15;
          letter-spacing: -0.52px;
          color: #212121;
          display: none;
        }

        @include media-breakpoint-up(lg) {
          @include font-size(26);
          line-height: 1.15;
          letter-spacing: -0.52px;
          margin-bottom: 43px;
          display: none;
        }

        @include media-breakpoint-up(xl) {
          @include font-size(36);
          line-height: 1;
          letter-spacing: -0.72px;
          margin-bottom: 43px;
          display: none;
        }
      }

      .desc-right-v3 {
        margin-bottom: 25px;

        @include media-breakpoint-up(md) {
          margin-bottom: 25px;
        }

        @include media-breakpoint-up(lg) {
          margin-bottom: 43px;
        }

        @include media-breakpoint-up(xl) {
          margin-bottom: 43px;
        }
      }

      .button-link-right-v3 {
        @include font-size(17);
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.12;
        letter-spacing: normal;
      }

      .button-link {
        @include font-size(17);
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.12;
        letter-spacing: normal;
        display: block;

        @include media-breakpoint-up(md) {
          display: none;
        }
      }

      .play-icon {
        z-index: 999;
        @include font-size(40);
        position: absolute;
        bottom: 0;

        top: 40%;
        left: 40%;

        @media all and (-ms-high-contrast: none),
        (-ms-high-contrast: active) {
          margin-left: 7rem;
        }

        @include media-breakpoint-up(md) {
          @include font-size(70);

        }

        @include media-breakpoint-up(lg) {
          @include font-size(70);
          top: 28%;
          left: 40%;
        }

        @include media-breakpoint-up(xl) {
          @include font-size(94);
        }

            .icon-play-btn {
                background-color: $white;
                border-radius: 50%;
                //position: relative;

                span:nth-child(1) {

                    &:before{
                       position: absolute;
                    }
                }

                span:nth-child(2) {

                    &:before{
                        margin-left: -59%;
                        position: absolute;
                    }
                }

                &.grey {
                  background-color: $gray-dark !important;
                }
              }
      }

      .close-icon {
        z-index: 999;
        @include font-size(40);
        position: absolute;
        display: none;

        @include media-breakpoint-up(lg) {
          @include font-size(70);
        }

        @include media-breakpoint-up(xl) {
          @include font-size(94);
        }
      }


    }
  }

  // container to play video fullscreen
  .modal {
    .modal-dialog {
      //max-width: 100%;

      .rcv-player-container {
        .video-container {
          height: 100%;
          max-height: 100%;
          width: 100%;
          max-width: 100%;

          @include media-breakpoint-up(sm) {
            height: 375px;
          }

          @include media-breakpoint-up(md) {
            height: 100%;
          }

          overflow: hidden;
          position: relative;
          width: 100%;

          &:after {
            padding-top: 56.25%;
            display: block;
            content: "";
          }

          iframe {
            width: 100%;
            height: 100%;

            position: absolute;
            top: 0;
            left: 0;
          }
        }

        .close-icon {
          z-index: 999;
          @include font-size(40);
          position: absolute;

          @include media-breakpoint-up(lg) {
            @include font-size(70);
          }

          @include media-breakpoint-up(xl) {
            @include font-size(94);
          }
        }

        .juniper-icon {
          background-color: $white;
          border-radius: 50%;

          span:nth-child(2) {
            margin-left: -1.1rem;

            @include media-breakpoint-up(lg) {
              margin-left: -2rem;
            }

            @include media-breakpoint-up(xl) {
              margin-left: -2.9rem;
            }
          }
        }
      }
    }
  }
}