@import '../../../styles/core/core-bundle';
@import '../../../styles/component/base/base-component';
@import '../logo-bar/logo-bar-vars';

$sw-marquee-aside-vertical-spacing-between: 1;
$sw-marquee-aside-horizontal-spacing-between: 3;
$sw-marquee-aside-item-padding: 3;
$sw-marquee-aside-item-width: 14;

$sw-marquee-default-min-height: sw-spacing(10); // 80px
$sw-marquee-condensed-min-height: sw-spacing(14); // 112px

$sw-marquee-default-density: 'regular';
$sw-marquee-condensed-density: 'condensed';

/** Root */

:host{
  @include type-body();
  margin: 0 auto;
  text-align: left;
  color: $c-txt-on-dark;
}

:host([sw-variant=primary]) {
  margin-left: -20px;
  margin-right: -20px;
}

:host([sw-variant=secondary]) {
  @include base-component-spacing();
  max-width: $base--page-max-width;
}

.wrapper {
  position: relative;
  display: block;
  overflow: hidden;
  background-color: $c-grey-10;

  &::before {
    content: '';
    z-index: 1;
    position: absolute;
    display: block;
    background: black;
    width: 100%;
    bottom: 0;
    left: 0;
    top: 0;
    opacity: 0.2;
  }
}

.inner {
  max-width: $base--page-max-width;
  margin-left: auto;
  margin-right: auto;
  padding: sw-spacing(5) 20px;
  z-index: 2;
  position: relative;

  :host([sw-density=#{$sw-marquee-default-density}]) & {
    @include media-width-up (map-get($breakpoint-map, md)) {
      padding: sw-spacing(12) 20px;
    }
  }
}

/** Main Layout */

.main, .main__layout {
  display: flex;
  flex-direction: column;
}

.main {
  max-width: round($base--page-max-width * (2/3));
  margin: 0 auto;
}

.main__layout {
  align-items: stretch;
  justify-content: center;
  padding-left: sw-spacing(3);
  padding-right: sw-spacing(3);
  min-height: $sw-marquee-condensed-min-height;

  @include media-width-up( map-get($breakpoint-map, sm) ) {
    text-align: center;
  }

  :host([sw-density=#{$sw-marquee-default-density}]) & {
    @include media-width-up( map-get($breakpoint-map, md) ) {
      min-height: $sw-marquee-default-min-height;
    }
  }
}

/** Main elements */

.eyebrow {
  @include type-head4($line-height: $base--line-height-consensed);
  margin-bottom: sw-spacing(1);
}

h1, h2, .eyebrow {
  color: $c-txt-on-dark;
}

h1, h2 {
  @include type-head1();
  margin: 0;
}

.main-headline + .main-body {
  margin-top: sw-spacing(1);
}

.main-body {
  @include type-head4($line-height: $base--line-height-consensed);

  p {
    margin-bottom: sw-spacing(1);

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.action-wrapper {
  display: block;

  .action__btn {
    white-space: normal;
    text-align: left;
  }
}

.action-wrapper:not(.no-projection) {
  margin-top: sw-spacing(3);
}

.action-wrapper > * {
  display: inline-block;
  vertical-align: middle;
}

.action--video-label {
  padding: 0 $sw-button-padding-vertical;
  text-align: left;
  max-width: calc( 100% - #{sw-spacing(6)} );
  white-space: normal;
}

/** Logo */

:host([sw-has-logo]) .inner {
  padding-top: sw-spacing(3);
}

@include media-width-up (map-get($breakpoint-map, md)) {
  .logo {
    margin-bottom: sw-spacing(2);
  }

  :host([sw-density=#{$sw-marquee-condensed-density}]) .logo {
    margin-bottom: sw-spacing(-2);
  }
}

@include media-width-down( map-get($breakpoint-map, sm) ) {
  :host([sw-has-logo]) .main {
    margin-top: sw-spacing(2);
  }

  :host([sw-density=#{$sw-marquee-default-density}][sw-has-logo]) .inner {
    padding-top: sw-spacing(6);
  }

  .logo {
    padding: 0 sw-spacing(3);
  }
}

/** Bg */

.bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  z-index: 0;
}


/** Aside */

:host([sw-density=#{$sw-marquee-default-density}][sw-has-aside]) .inner {
  @include media-width-up (map-get($breakpoint-map, md)) {
    padding-bottom: sw-spacing(6);
  }
}
:host([sw-density=#{$sw-marquee-condensed-density}][sw-has-aside]) .inner {
  padding-bottom: sw-spacing(3);
}

ul.aside {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  padding: sw-spacing(8) 0 0;

  :host([sw-density=#{$sw-marquee-condensed-density}]) & {
    padding: sw-spacing(4) 0 0;
  }

  @include media-respond-property(
    align-items,
    root, center,
    md, stretch
  );

  @include media-respond-property(
    flex-direction,
    root, column,
    md, row
  );

  & > li {
    display: inline-flex;
    flex: 1 1 auto;
    list-style: none;
    width: 100%;
    max-width: 480px;

    @include media-width-up( map-get($breakpoint-map, md) ) {
      flex-basis: 100%;
    }

    + li {
      @include media-respond-property(
        margin,
        root, sw-spacing($sw-marquee-aside-vertical-spacing-between) 0 0,
        md, 0 0 0 sw-spacing($sw-marquee-aside-horizontal-spacing-between)
      );
    }
  }
}

a.aside-item__action {
  display: inline-block;
  width: 100%;
  padding: sw-spacing($sw-marquee-aside-item-padding);
  color: #fff;
  background-color: transparentize($c-grey-darkest, 0.2);
  transition: background-color $sw-swift-ease-in-out-duration $sw-swift-ease-in-out-timing-function;

  &:hover, &:focus { background-color: transparentize($c-grey-darkest, 0.05); }
}

.aside-item__content {
  display: table;
}

.aside-item__detail, .aside-item__media {
  display: table-cell;
  vertical-align: top;
}

.aside-item__detail button {
  text-align: left;
  padding: 0;
  margin-top: sw-spacing(1);
  white-space: normal;
}

.aside-item-body {
  @include type-small($line-height: $base--line-height-normal);
}

.aside-item__media {
  width: sw-spacing($sw-marquee-aside-item-width);
  padding-right: sw-spacing($sw-marquee-aside-item-padding);

  @include media-width-down( map-get($breakpoint-map, sm) ) {
    display: none;
  }
}

.aside-item__thumb {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding-top: 100%;
}

button.aside-item__play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

.aside-item__eyebrow {
  @include type-head5();
  margin-bottom: sw-spacing(1);
}

/** Text shadow */

.eyebrow, h1, h2, .main-body-item, .action--video-label {
  @include type-over-image-shadow;
}
