<div class="wrapper" swAnimInView>
  <div class="bg" *ngIf="backgroundImage" [swBackgroundImage]="backgroundImage" [swBackgroundVideo]="backgroundVideo"></div>
  <div class="inner">
    <sw-logo-bar class="logo" *ngIf="_logoValid" [properties]="logo"></sw-logo-bar>
    <div class="main">
      <div class="main__layout">
        <div class="main__inner">
          <div class="eyebrow" *ngIf="_hasStrLen(eyebrow)" [innerHTML]="eyebrow"></div>
          <div class="main-headline" *ngIf="_hasStrLen(headline)">
            <h1 *ngIf="_isPrimary" [innerHTML]="headline"></h1>
            <h2 *ngIf="!_isPrimary" [innerHTML]="headline"></h2>
          </div>
          <div *ngIf="body?.length > 0" class="main-body">
            <p *ngFor="let bodyItem of body" class="main-body-item" [innerHTML]="bodyItem"></p>
          </div>
          <!--
          NOTE: Until there is a way to provide fallbacks for projected content,
          a double action-wrapper has to be used to measure projected content.
          See https://github.com/angular/angular/issues/12530.
          -->
          <div class="action-wrapper" #actionWrapper [ngClass]="{'no-projection': actionWrapper.children.length === 0}">
            <ng-content select="[sw-marquee-action]"></ng-content>
          </div>
          <div class="action-wrapper" *ngIf="actionWrapper.children.length === 0 && _hasStrLen(action?.url) && _hasStrLen(action?.label)">
            <ng-container *ngTemplateOutlet="actionButton; context:{ action: action }"></ng-container>
          </div>
        </div>
      </div>
    </div>

    <ul *ngIf="aside.length > 0" class="aside" role="complementary">
      <li *ngFor="let i of aside | slice:0:3">
        <ng-content *ngTemplateOutlet="asideItem; context:{item: i}"></ng-content>
      </li>
    </ul>
  </div>
</div>

<ng-template #asideItem let-i="item">
  <a class="aside-item__action" *ngIf="_hasStrLen(i.url) && _hasStrLen(i.label)"
      [href]="i.url | swPeripheralDialog" [target]="i.target || ''" (click)="_handleActionClick($event, i)" [swEval]="i.onclick">
    <div class="aside-item__content">

      <div class="aside-item__media" *ngIf="_hasStrLen(i.image)">
        <div class="aside-item__thumb" [swBackgroundImage]="i.image">
          <button class="aside-item__play" *ngIf="_actionIsVideo(i) || _actionIconOverride(i)" sw-mini-fab tabIndex="-1">
            <sw-icon>{{ _actionIconOverride(i) ? i.iconOverride : 'play_arrow' }}</sw-icon>
          </button>
        </div>
      </div>

      <div class="aside-item__detail">
        <div *ngIf="_hasStrLen(i.eyebrow)" class="aside-item__eyebrow" [innerHTML]="i.eyebrow"></div>
        <div class="aside-item-body" [innerHTML]="i.label"></div>
        <button *ngIf="_hasStrLen(i.cta)" sw-button tabIndex="-1" color="primary">
          <span [innerHTML]="i.cta"></span>&nbsp;<sw-icon size="xs">navigate_next</sw-icon>
        </button>
      </div>

    </div>
  </a>
</ng-template>

<ng-template #actionButton let-a="action">
  <ng-container *ngIf="_actionIsVideo(a) || _actionIconOverride(a)">
    <a sw-mini-fab [href]="a.url" [swEval]="a.onclick" [target]="a.target" (click)="_handleActionClick($event, a)">
      <sw-icon size="sm">{{ _actionIconOverride(a) ? a.iconOverride : 'play_arrow' }}</sw-icon>
    </a>
    <a sw-button class="action--video-label" color="invert"
        [href]="a.url" [swEval]="a.onclick" [target]="a.target" (click)="_handleActionClick($event, a)">
      <span [innerHTML]="_actionIconOverride(a) ? a.label : l10n?.watch_video"></span>
    </a>
  </ng-container>
  <a sw-raised-button class="action__btn" *ngIf="!(_actionIsVideo(a) || _actionIconOverride(a))" color="primary"
    [href]="a.url | swPeripheralDialog" [target]="a.target" [swEval]="a.onclick"
    (click)="_handleActionClick($event, a)"><span [innerHTML]="a.label"></span>
  </a>
</ng-template>
