<div data-sly-test="${wcmmode.edit && !wcmmode.preview}"
    class="aem-helper configure__container">[ Configure
    ${component.title}]</div>

<div class="button"
    data-sly-use.formFieldElementAttribute="com.juniper.aem.models.form.FormFieldElementAttributeModel">

<div class="submitErrorMessage">${formFieldElementAttribute.overridingErrorMessage}</div>

<button class="jnpr-submit-button juniper-btn juniper-btn--black" id="${formFieldElementAttribute.id}"
    target="${formFieldElementAttribute.newWindow ? '_blank' : '_self'}"
    type="submit">${formFieldElementAttribute.label}</button>
</div>