<div class="configure__container" data-sly-test="${wcmmode.edit}">[ Configure ${component.title} Component ]</div>

<div class="cmp-glance">
    <div class="statistics-container">
    <sly data-sly-use.glancemodel="com.juniper.aem.models.GlanceModel"></sly>
        <div class="glance-border-top"></div>
        <div class="glance-label">${glancemodel.label @context='html'}</div>
        <div class="statistics-wrapper">
            <sly data-sly-list.statistics="${glancemodel.statistics}">
               <div class="statistics-data-container">
                  <span class="statistics-presence"><h3 class="${statistics.textcolor}">${statistics.largeText}</h3></span>
                  <span class="statistics-players">${statistics.smallText}</span>
                  <div class="statistics-desc rte-content">${statistics.description @context='html'}</div>
               </div>
            </sly>
        </div>
    </div>
</div>

