<div data-sly-test="${wcmmode.edit && !wcmmode.preview}" class="aem-helper configure__container">
    [ Configure ${component.title} Component ]
</div>

<sly data-sly-use.tcm="com.juniper.aem.models.TableContainerModel"/>
<sly data-sly-use.templates="templates.html"/>
<div data-sly-test="${wcmmode.edit}" class="configure__container">
    <h4 class="c-gray-dark">${'Container to drop multiple table row or table row container components' @ i18n}</h4>
    <sly data-sly-resource="${@ path='table', resourceType='foundation/components/parsys'}"/>
</div>

<div class="cmp-table tables ${tcm.backgroundColor}">
    <div class="wrapper grid">
        <div class="tables__top content-grid-11 mb-5 mb-lg-10" data-sly-test="${tcm.header && tcm.description}">
            <h2 class="h2 header mb-5" data-sly-test="${tcm.header}">${tcm.header @ i18n}</h2>
            <div class="description large c-gray-dark w-80 rte-content" data-sly-test="${tcm.description}">${tcm.description @context='html'}</div>
        </div>
        <div class="tables__container content-grid-11">
            <table data-sly-list.row="${tcm.table}" class="tables__container__table theme-${tcm.themeColor}  alternate-${tcm.alternateColumnColor} w-100 ${tcm.oddEven}">
                <sly data-sly-test="${row.variantType == 'variant1'}" data-sly-call="${templates.variant1 @ row=row, list=rowList}" />
                <sly data-sly-test="${row.variantType == 'variant2'}" data-sly-call="${templates.variant2 @ row=row, list=rowList}" />
                <sly data-sly-test="${row.variantType == 'variant3'}" data-sly-call="${templates.variant3 @ row=row, list=rowList}" />
                <sly data-sly-test="${row.variantType == 'variant4'}" data-sly-call="${templates.variant4 @ row=row, list=rowList}" />
                <sly data-sly-test="${row.variantType == 'variant5'}" data-sly-call="${templates.variant5 @ row=row, list=rowList}" />
                <sly data-sly-test="${row.variantType == 'variant6'}" data-sly-call="${templates.variant6 @ row=row, list=rowList}" />
                <sly data-sly-test="${row.variantType == 'variant7'}" data-sly-call="${templates.variant7 @ row=row, list=rowList}" />
            </table>
        </div>
        <div class="tables__footnootes content-grid-11 rte-content">
            ${tcm.footnote @context="html"}
        </div>
    </div>
</div>

