<template data-sly-template.variant1="${ @ row, list}">

    <tr class="tables__container__table__row ${row.variant1RowProps.theme} ${row.variantType}">
        <sly data-sly-list.column="${row.variant1}">
            <td class="tables__container__table__row__column py-2 px-5  ${row.variant1RowProps.rowTextColor ? row.variant1RowProps.rowTextColor : 'text-black'} align-middle ${column.textAlignment} column-${column.labelBackgroundColor}">
                <div class="${column.textColor} rte-content">
                ${column.columnData @context="html"}
                </div>
            </td>
        </sly>
    </tr>

</template>
<template data-sly-template.variant2="${ @ row}">
    <tr class="tables__container__table__row ${row.variant2RowProps.theme}  ${row.variantType} border-${row.variant2RowProps.bottomBorderColor}">
        <sly data-sly-list.column="${row.variant2}">
            <td class="tables__container__table__row__column py-2 px-2 ${columnList.first ? 'w-30' : ''} ${row.variant2RowProps.rowTextColor ? row.variant2RowProps.rowTextColor : 'text-black'}  align-middle ${column.textAlignment} column-${column.labelBackgroundColor}">
                <div class="${column.textColor} rte-content">
                    ${column.columnData @context="html"}
                </div>
            </td>
        </sly>
    </tr>
</template>

<template data-sly-template.variant3="${ @ row}">
    <tr class="tables__container__table__row ${row.variant3RowProps.theme}  ${row.variantType}">
        <sly data-sly-list.column="${row.variant3}">
            <td class="tables__container__table__row__column py-2 px-3 align-middle ${row.variant3RowProps.rowTextColor ? row.variant3RowProps.rowTextColor : 'text-black'} column-${column.labelBackgroundColor} ${column.textAlignment} column-${column.labelBackgroundColor}">
                <div class="${column.verticalAlign ? 'verticalText d-flex justify-content-center' : ''} ${column.textColor} rte-content">
                    ${column.columnData @context="html"}
                </div>
            </td>
        </sly>
    </tr>
</template>

<template data-sly-template.variant4="${ @ row}">
    <!--/* Variant 4 standard*/-->
    <tr class="tables__container__table__row ${row.variant4RowProps.theme} ${row.variantType} border-${row.variant4RowProps.bottomBorderColor}">
        <sly data-sly-list.column="${row.variant4}">
            <td class="tables__container__table__row__column py-2 px-2 ${row.variant4RowProps.rowTextColor ? row.variant4RowProps.rowTextColor : 'text-black'} column-${column.labelBackgroundColor} ${column.textAlignment} align-middle ${column.groupLabel ? 'border-right': ''}"
                rowspan="${column.mergeRows != '0' ? column.mergeRows : ''}"
                colspan="${column.mergeColumns != '0' ? column.mergeColumns : ''}">
                <div class="${column.verticalAlign ? 'verticalText d-flex justify-content-center' : ''} ${column.textColor} rte-content">
                    ${column.columnData @context="html"}
                </div>
            </td>
        </sly>
    </tr>
</template>

<template data-sly-template.variant5="${ @ row}">
    <!--/* Variant 5 standard*/-->

    <tr class="tables__container__table__row ${row.variant5RowProps.theme} ${row.variantType}">
        <sly data-sly-list.column="${row.variant5}">
            <td class="tables__container__table__row__column py-2 px-3 ${row.variant5RowProps.rowTextColor ? row.variant5RowProps.rowTextColor : 'text-black'} column-${column.labelBackgroundColor} ${column.textAlignment} align-middle"
                rowspan="${column.mergeRows != '0' ? column.mergeRows : ''}">
                <div class="${column.textColor} rte-content">
                    ${column.columnData @context="html"}
                </div>
            </td>
        </sly>
    </tr>

</template>

<template data-sly-template.variant6="${ @ row}">
    <!--/* Variant 6 standard*/-->
    <tr class="tables__container__table__row ${row.variant6RowProps.theme} ${row.variantType}">
        <sly data-sly-list.column="${row.variant6}">
            <td class="tables__container__table__row__column py-2 px-2 ${row.variant6RowProps.rowTextColor ? row.variant6RowProps.rowTextColor : 'text-black'} column-${column.labelBackgroundColor} ${column.textAlignment} align-middle"
                colspan="${column.mergeColumns != '0' ? column.mergeColumns : ''}">
                <div class="${column.textColor} rte-content">
                    ${column.columnData @context="html"}
                </div>
            </td>
        </sly>
    </tr>
</template>



<!--/* Variant 7 table with image thumbnail*/-->
<template data-sly-template.variant7="${ @ row}">
    <tr class="tables__container__table__row ${row.variant7RowProps.theme}  ${row.variantType} border-${row.variant7RowProps.bottomBorderColor}">
        <sly data-sly-list.column="${row.variant7}">
            <td class="tables__container__table__row__column py-2 px-2 ${columnList.first ? 'w-30' : ''} ${row.variant7RowProps.rowTextColor ? row.variant7RowProps.rowTextColor : 'text-black'}  align-middle ${column.textAlignment} column-${column.labelBackgroundColor}">
                <div class="${column.textColor} rte-content" data-sly-test="${column.columnDataType == 'text'}">
                    ${column.columnData @context="html"}
                </div>
                <img src="${column.fileReference}" alt="${column.altText}" title="${column.altText}" data-sly-test="${column.columnDataType == 'thumbnail'}">
            </td>
        </sly>
    </tr>
</template>