.cmp-latest-news {
    margin-left: -2pc;
    margin-right: -2pc;

    @extend .component-bottom-spacing;

    .ln-container {
        max-width: 100%;

        .wrapper {
            display: -ms-grid;
            display: grid;
            padding: 0px 32px 60px 32px;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 16px;

           
            @include media-breakpoint-up(md) {
                grid-template-columns: repeat(9, 1fr);
                -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
                grid-gap: 24px;
                padding: 0px 32px 70px 32px;
            }

            @include media-breakpoint-up(lg) {
                -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
                grid-template-columns: repeat(11, 1fr);
                grid-gap: 32px;
                -ms-grid-gap: 32px;
                padding: 0px 32px 120px 32px;
            }

            @include color-theme($theme-colors) {
                background-color: $value;
            }

            .eyebrow {
                -ms-grid-column: 1;
                -ms-grid-column-span: 4;
                grid-column: 1 / span 4;
                -ms-grid-row: 1;

                font-size: 11px;
                font-weight: bold;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.27;
                letter-spacing: 1.98px;
                text-align: left;
                color: $black;
                padding-top: 50px;

                @include media-breakpoint-up(md) {
                    -ms-grid-column: 1;
                    -ms-grid-column-span: 2;
                    grid-column: 1 / span 2;
                    padding-top: 70px;
                }

                @include media-breakpoint-up(lg) {
                    -ms-grid-column: 2;
                    -ms-grid-column-span: 4;
                    grid-column: 2 / span 4;
                    padding-top: 100px;
                    font-size: 13px;
                    line-height: 1.23;
                    letter-spacing: 2.34px;
                }
                @include media-breakpoint-up(xl) {
                    padding-top: 120px;
                }
            }

            .title {
                -ms-grid-column: 1;
                -ms-grid-column-span: 4;
                grid-column: 1 / span 4;

                -ms-grid-row: 2;

                font-size: 36px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.11;
                letter-spacing: -1.44px;
                text-align: left;
                color: $black;

                padding-top: 10px;

                @include media-breakpoint-up(md) {
                    -ms-grid-column: 1;
                    -ms-grid-column-span: 6;
                    grid-column: 1 / span 6;
                    padding-top: 0px;
                    font-size: 42px;
                    line-height: 1;
                    letter-spacing: -1.68px;
                }

                @include media-breakpoint-up(lg) {
                    -ms-grid-column: 2;
                    -ms-grid-column-span: 6;
                    grid-column: 2 / span 6;
                    padding-top: 0px;
                    font-size: 58px;
                    line-height: 1.09;
                    letter-spacing: -2.32px;
                }

                @include media-breakpoint-up(xl) {
                    padding-top: 8px;
                }
            }

            .featured {
                
                -ms-grid-column: 1;
                -ms-grid-column-span: 4;
                grid-column: 1 / span 4;

                -ms-grid-row: 3;

                background-color: #ffffff;
                border-radius: 6px;

                display: -ms-grid;
                display: grid;
                -ms-grid-columns: 1fr 16px 1fr 16px 1fr 16px 1fr 16px;
                grid-template-columns: repeat(4, 1fr);

                grid-gap: 16px;

                margin-top: 40px;

                @include media-breakpoint-up(md) {
                    -ms-grid-column: 1;
                    -ms-grid-column-span: 9;
                    grid-column: 1 / span 9;
                    margin-top: 45px;

                    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
                    grid-template-columns: repeat(9, 1fr);
                    grid-gap: 24px;
                }

                @include media-breakpoint-up(lg) {
                    -ms-grid-column: 2;
                    -ms-grid-column-span: 9;
                    grid-column: 2 / span 9;
                    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
                    grid-template-columns: repeat(9, 1fr);
                    grid-gap: 32px;
                }

                .text-info {
                    cursor: pointer;
                    grid-column: 1 / span 4;
                    padding-left: 1.44rem;
                    padding-right: 1.44rem;
                    -ms-grid-row: 1;

                    @include media-breakpoint-up(md) {
                        -ms-grid-column: 1;
                        -ms-grid-column-span: 3;
                        grid-column: 1 / span 3;
                    }

                    @include media-breakpoint-up(lg) {
                        -ms-grid-column: 1;
                        -ms-grid-column-span: 3;
                        grid-column: 1 / span 3;
                        -ms-grid-row: 1;
                    }

                    .eyebrow {
                        font-size: 11px;
                        font-weight: bold;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: 1.27;
                        letter-spacing: 1.98px;
                        text-align: left;
                        color: $black;

                        padding-top: 24px;

                        @include media-breakpoint-up(lg) {
                            padding-top: 36px;
                            font-size: 13px;
                            line-height: 1.23;
                            letter-spacing: 2.34px;
                        }
                    }

                    .title {
                        padding-top: 24px;

                        h3 {
                            font-size: 22px;
                            font-weight: normal;
                            font-stretch: normal;
                            font-style: normal;
                            line-height: 1.09;
                            letter-spacing: -0.66px;
                            text-align: left;
                            color: $black;
                        }

                        @include media-breakpoint-up(lg) {
                            padding-top: 36px;

                            h3 {
                                font-size: 26px;
                                line-height: 1.15;
                                letter-spacing: -0.52px;
                            }
                        }
                    }

                    .desc {
                        padding-top: 15px;
                        font-size: 14px;
                        font-weight: normal;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: 1.43;
                        letter-spacing: -0.14px;
                        text-align: left;
                        color: $gray-dark;
                        padding-bottom: 50px;

                        @include media-breakpoint-up(md) {
                            padding-top: 15px;
                        }

                        @include media-breakpoint-up(lg) {
                            padding-top: 40px;

                            font-size: 16px;
                            line-height: 1.44;
                            letter-spacing: -0.32px;
                        }
                    }
                } //text-info

                .image {
                    -ms-grid-column: 1;
                    -ms-grid-column-span: 4;
                    grid-column: 1 / span 4;
                    -ms-grid-row: 1;

                    @include media-breakpoint-up(md) {
                        grid-column: 4 / span 6;
                        margin-left: -24px;
                        
                    }

                    @include media-breakpoint-up(lg) {
                        -ms-grid-column: 4;
                        -ms-grid-column-span: 6;
                        grid-column: 4 / span 6;
                        margin-left: -32px;
                    }
                    
                    img {
                        position: relative;
                        width: 100%;
                        height: 198px;
                        @include media-breakpoint-up(md) {
                            height: 394px;
                        }
                        @include media-breakpoint-up(lg) {
                            height: 450px;
                        }
                        @include media-breakpoint-up(xl) {
                            height: 615px;
                        }
                        border-bottom-left-radius: 6px;
                        border-bottom-right-radius: 6px;

                        @include media-breakpoint-up(md) {
                            border-bottom-left-radius: 0px;
                            border-top-right-radius: 6px;
                        }

                        @include media-breakpoint-up(lg) {
                            border-bottom-left-radius: 0px;
                            border-top-right-radius: 6px;
                        }
                    }

                    .play-icon {
                        z-index: 999;
                        @include font-size(40);
                        position: absolute;
                        bottom: 24px;
                        left: 24px;

                        @include media-breakpoint-up(md){
                            bottom: 30px;
                            left: 30px;
                        }

                        @include media-breakpoint-up(lg) {
                            @include font-size(70);
                            bottom: 40px;
                            left: 40px;
                        }

                        @include media-breakpoint-up(xl) {
                            @include font-size(94);
                        }
                    

                        .juniper-icon {
                            background-color: $white;
                            border-radius: 50%;

                            &.grey {
                                background-color: $gray-dark !important;
                            }
                        }

                        .icon-play-btn, .icon-play-btn-hover {

                            .path1, .path2{
                                position: absolute;
                                bottom:0;
                                left: 0;
                            }

                            .path2:before {
                                margin-left:0;
                            }
                        }
                    }
                }
            }

            .secondary {
                -ms-grid-column: 1;
                -ms-grid-column-span: 4;
                grid-column: 1 / span 4;
                -ms-grid-row: 4;

                display: -ms-grid;
                display: grid;
                -ms-grid-columns: 1fr 32px;
                grid-template-columns: repeat(1, 1fr);
                grid-gap: 15px;

                @include media-breakpoint-up(md) {
                    -ms-grid-column: 1;
                    -ms-grid-column-span: 9;
                    grid-column: 1 / span 9;

                    -ms-grid-columns: 1fr 1fr 1fr;
                    grid-template-columns: repeat(3, 1fr);
                    grid-gap: 24px;
                }

                @include media-breakpoint-up(lg) {
                    -ms-grid-column: 2;
                    -ms-grid-column-span: 9;
                    grid-column: 2 / span 9;

                    -ms-grid-columns: 1fr 32px 1fr 32px 1fr;
                    grid-template-columns: repeat(3, 1fr);
                    grid-gap: 32px;
                }

                .card {
                    display: -ms-grid;
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    background-color: #ffffff;
                    cursor: pointer;
                    padding-bottom: 36px;
                    border-radius: 6px;

                    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
                        &:nth-child(1) {
                            -ms-grid-column: 1;
                            -ms-grid-column-span: 1;
                        }

                        &:nth-child(2) {
                            -ms-grid-column: 2;
                            -ms-grid-column-span: 1;
                        }

                        &:nth-child(3) {
                            -ms-grid-column: 3;
                            -ms-grid-column-span: 1;
                        }
                    }

                    @include media-breakpoint-up(lg) {
                        padding-bottom: 90px;
                    }

                    .eyebrow {
                        padding-left: 1.44rem;
                        padding-right: 1.44rem;
                        -ms-grid-row: 1;

                        -ms-grid-column: 1;
                        -ms-grid-column-span: 3;
                        grid-column: 1 / span 3;

                        font-size: 11px;
                        font-weight: bold;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: 1.27;
                        letter-spacing: 1.98px;
                        text-align: left;
                        color: $black;

                        padding-top: 24px;

                        @include media-breakpoint-up(lg) {
                            padding-top: 36px;
                            font-size: 13px;
                            line-height: 1.23;
                            letter-spacing: 2.34px;
                        }
                    }

                    .title {
                        padding-left: 1.44rem;
                        padding-top: 24px;
                        padding-right: 1.44rem;

                        -ms-grid-column: 1;
                        -ms-grid-column-span: 3;
                        grid-column: 1 / span 3;
                        -ms-grid-row: 2;

                        h3 {
                            font-size: 22px;
                            font-weight: normal;
                            font-stretch: normal;
                            font-style: normal;
                            line-height: 1.09;
                            letter-spacing: -0.66px;
                            text-align: left;
                            color: $black;
                        }

                        @include media-breakpoint-up(lg) {
                            padding-top: 36px;

                            h3 {
                                font-size: 26px;
                                line-height: 1.15;
                                letter-spacing: -0.52px;
                            }
                        }
                    }

                    .desc {
                        padding-left: 1.44rem;
                        padding-top: 15px;
                        padding-right: 1.44rem;

                        -ms-grid-column: 1;
                        -ms-grid-column-span: 3;
                        grid-column: 1 / span 3;
                        -ms-grid-row: 3;

                        font-size: 14px;
                        font-weight: normal;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: 1.43;
                        letter-spacing: -0.14px;
                        text-align: left;
                        color: $gray-dark;

                        @include media-breakpoint-up(lg) {
                            -ms-grid-column: 1;
                            padding-top: 40px;

                            font-size: 16px;
                            line-height: 1.44;
                            letter-spacing: -0.32px;
                        }
                    } //desc end
                }
            }
        }
    }
}
