.cmp-specifications {

    @extend .component-bottom-spacing;

    .wrapper {
        max-width: 100%;
    }
     
    .grid {
        @media screen and (min-width: 721px) and (max-width: 1024px) {
            grid-template-columns: repeat(10,1fr);
        }
    }

    .image-container {
        grid-column: 1/6;
        background-color: #f2f7eb;
        margin-left: -32px;

        @include media-breakpoint-up(sm) {
            margin-right: -32px;
            padding: 20px 32px;
            grid-column: 1/5;
        }

        @include media-breakpoint-up(md) {
            margin-right: 0;
            grid-column: 1/6;
            padding: 38px 32px;
        }

        a.back-btn {
            margin-top: 38px;
            color: $black;

            & .icon-arrow-left {
                font-size: 1rem;
                @include media-breakpoint-down(md) {
                    font-size: 13px;
                }
            }

            & .btn-text {
                // Rahul change
                margin-left: 30px;
                font-size: 20px;
                line-height: 1.65;
                font-weight: 700;

                @include media-breakpoint-down(md) {
                    font-size: 1rem;
                    line-height: 20px;
                    margin-left: 25px;
                }
            }
        }

        .img-wrapper {
            background-color: #f2f7eb;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    
        .img-container {
            height: 568px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: 0 auto;
            background: radial-gradient(circle at center center,rgba(0,0,0,.05) 0,rgba(0,0,0,.05) 50%,rgba(0,0,0,.05) 50%,#f2f7eb 0,#f2f7eb 0);

            @include media-breakpoint-up(sm) {
                height: 257px;
                width: 257px;
            }

            @include media-breakpoint-up(md) {
                height: 300px;
                width: 300px;
            }

            @include media-breakpoint-up(lg) {
                height: 520px;
                width: 80%;
            }

            @include media-breakpoint-up(xl) {
                height: 568px;
                width: 568px;
            }
    
            img {
                max-width: 100%;
                max-height: 100%;
                margin: 0 auto;
            }
        }
    }

    .spec-table {

        @include media-breakpoint-up(sm) {
         grid-column: 1/5;
        }

        @include media-breakpoint-up(md) {
            grid-column: 6/-1;
            margin-left: 0;
        }

        @media screen and (min-width: 721px) and (max-width: 1024px) {
            margin-left: 22px;
        }
        

        @include media-breakpoint-up(lg) {
            grid-column: 6/-1;
            margin-left: 2em;
        }

        h1.prod-heading {
            @media screen and (max-width: 721px) {
                line-height: 40px;
            }
            @include media-breakpoint-up(sm) {
                margin-top: 32px;
                margin-bottom: 16px;
            }

            @include media-breakpoint-up(md) {
                margin-top: 0;
                margin-bottom: 24px;
            }
        }

        h3.sub-heading {
            color: $gray-dark !important;

            @include media-breakpoint-up(sm) {
                margin-bottom: 30px;
            }

            @include media-breakpoint-up(md) {
                font-size: 26px;
                line-height: 1.15;
                letter-spacing: -0.52px;
                margin-bottom: 36px;
            }
        }

        table.technical-features {
            width: 100%;
            border: 1px solid $silver;
            border-collapse: collapse;
            table-layout: fixed;
    
            tbody {
                display: block;
    
                tr {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    align-items: stretch;

                    &:nth-child(even) {
                        background-color: $silver;
                    }
                }
    
                td {
                    font-weight: 400;
                    color: $black;
                    width: 40%;
                    word-break: break-word;
                    
                    &:nth-child(even) {
                        width: 60%;
                    }

                    @include media-breakpoint-up(sm) {
                        font-size: 12px;
                        line-height: 1.25;
                        padding: 10px;
                    }

                    @include media-breakpoint-up(md) {
                        font-size: 14px;
                        letter-spacing: -0.14px;
                        line-height: 1.43;
                        padding: 14px;
                    }

                    @include media-breakpoint-up(lg) {
                        font-size: 16px;
                        letter-spacing: -0.32px;
                        padding: 18px 20px;
                    }
                }
            }
        }
    }
}