<div class="configure__container" data-sly-test="${wcmmode.edit}">
    [ Configure ${component.title} Component ]</div>

<sw-page></sw-page>
<jnpr-dc-selector properties = '{

 "introLinks": [
  
    {
      "url": "https://youtu.be/9ZVmjW5OQSM",
      "label": "Tutorial",
      "target": "_blank",
      "onclick": "",
      "showonMobile": true
    },
    {
      "url": "https://www.juniper.net/assets/us/en/local/pdf/whitepapers/2000751-en.pdf",
      "label": "Learn More",
      "target": "_blank",
      "onclick": "",
      "showonMobile": false
    }
  ],
  "introHeadline": "${properties.introHeadline}",
  "introBody": [
    "${properties.introBody}"
  ],
  "ctaDetails": {
    "colorTheme": "${properties.ctaStyle}",
    "label": "${properties.ctaText}"
  },
  "introBackgroundImage": "${properties.introBackground @context="uri"}",
  "api": {
    "results": "https://apps.juniper.net/product-selector/products",
    "survey": "${properties.jsonLink @context="uri"}",
    "lsresults": "https://www.juniper.net/json/npsResult.json"
  },
  "l10n": {
    "survey_title": "${properties.surveyTitle}",
    "reset_action": "${properties.resetAction}",
    "reset_prompt": "${properties.resetprompt}",
    "reset_accept": "${"Yes" @ i18n}",
    "reset_decline": "${"No" @ i18n}"
  }
}'></jnpr-dc-selector>

 