.text-family-wrapper {
    @extend .component-bottom-spacing;
    @include color-theme($theme-colors) {
        background-color: $value!important;
    }
    &.c-theme-black{
        
        h1, p{
            color: $white !important;
        }
    }
    .header-title {
        @extend .h1;
        background-color: $black;
        color: $white !important;
        display: grid;
        grid-gap: 32px;
        padding: 0 32px;
        overflow: auto;
        margin-bottom: 0;
        @include media-breakpoint-down(md) {
            grid-template-columns: repeat(4, 1fr);
        }
        @include media-breakpoint-up(md) {
            grid-template-columns: repeat(9, 1fr);
        }
        @include media-breakpoint-up(lg) {
            grid-template-columns: repeat(11, 1fr);
        }

        &.inverse {
            color: $black !important;
            background-color: $white;
        }

        h1 {
            color: inherit;
            @include media-breakpoint-down(md) {
                margin: 44px 0 52px;
                grid-column: 1/5;
            }
            @include media-breakpoint-up(md) {
                margin: 75px 0 86px;
                grid-column: 2/8;
            }
            @include media-breakpoint-up(lg) {
                margin: 104px 0 116px;
                grid-column: 2/9;
            }
            @include media-breakpoint-up(xl) {
                margin: 178px 0;
            }
        }
    }
}