<div data-sly-test="${wcmmode.edit && !wcmmode.preview}" class="aem-helper configure__container">[ Configure
    ${component.title} Component ]</div>
<sly data-sly-use.footer="com.juniper.aem.models.footer.FooterModel"></sly>
<sly data-sly-use.template="list.html"></sly>

<!--/* Navigation Component */-->
<div class="cmp-footer">
    <div class="footer bg-black d-flex" data-mod="footer">
        <div class="footer__container ">

            <div class="footer__container__top grid">
                <div class="left">
                    <div class="d-flex footer__container__top__logo" data-sly-test="${footer.logoPath}">
                        <sly
                            data-sly-use.imageHelper="${'com.juniper.aem.helpers.ImageHelper' @fileReference=data.fileReference}" />
                        <a href="${footer.logoDestination}" footer-navid="${imageHelper.altText}"  title="Juniper"> <img src="${footer.logoPath}"
                            alt="${imageHelper.altText}" />
                        </a>
                    </div>
                    <div class="d-flex flex-column">
                        <div class="d-block footer__container__top__contact-us mb-7" data-sly-test="${footer.signupUrl}">
                            <p class="c-silver large mb-3 mb-md-4 footer__container__top__contact-us--label"
                                data-sly-test="${footer.updateLabel}">${footer.updateLabel}</p>
                            <a
                                class="juniper-btn juniper-btn${footer.signupStyle} d-inline-block footer__container__top__contact-us--btn"
                                footer-navid="${footer.signupLabel}"
                                href="${footer.signupUrl}" target="${footer.openInNewWindow}"
                                title="${footer.signupLabel}">${footer.signupLabel}</a>
                        </div>
                        <div class="d-block footer__container__top__social">
                            <div class="footer__container__top__social__label c-silver"
                                data-sly-test="${footer.followUsLabel}">
                                <p class="large">${footer.followUsLabel}</p>
                            </div>
                            <div class="d-flex flex-row footer__container__top__social__list">
                                <sly data-sly-list.sociallink="${footer.socialLinks}">
                                <div class="d-flex footer__container__top__social__list--item">
                                    <a href="${sociallink.linkUrl}" target="${sociallink.openLinkInNewWindow}"> <span
                                        class="juniper-icon icon-${sociallink.linkType}-footer c-silver"></span>
                                    </a>
                                </div>
                                </sly>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="right" id="footer-links">
                    <sly data-sly-repeat.cols="${[1,2,3]}">
                    <div class="footer__container__top__col footer__container__top__col--col${cols}">
                        <sly data-sly-set.nav="nav${cols}"></sly>
                        <sly data-sly-call="${template.list @ nav=nav, footer=footer}"></sly>
                    </div>
                    </sly>
                </div>
            </div>

            <div class="footer__container__bottom grid mt-3 mt-md-0">

                <div class="footer__container__bottom__col0 c-grey-border">
                    <div class="d-block footer__container__bottom__copy extra-small mb-4 mb-md-0"
                        data-sly-test="${footer.copyright}">${footer.copyright @ context='html'}</div>
                </div>
                <div
                    class="footer__container__bottom__col1 c-silver">
                    <sly data-sly-list.mandatory="${footer.mandatoryLinks}">
                    <div class="no-padding extra-small mb-2 bottom-link-container" data-sly-test="${mandatoryList.index < 2}">
                        <a class="c-grey-border link-animation" footer-navid="${mandatory.linkLabel}" href="${mandatory.linkUrl}"
                            target="${mandatory.openLinkInNewWindow}">${mandatory.linkLabel}</a>
                    </div>
                    </sly>
                </div>
                <div
                    class="footer__container__bottom__col2 c-silver">
                    <sly data-sly-list.mandatory="${footer.mandatoryLinks}">
                    <div class="no-padding extra-small mb-2 bottom-link-container"
                        data-sly-test="${mandatoryList.index < 4 && mandatoryList.index >= 2}">
                        <a class="c-grey-border link-animation" footer-navid="${mandatory.linkLabel}" href="${mandatory.linkUrl}"
                            target="${mandatory.openLinkInNewWindow}">${mandatory.linkLabel}</a>
                    </div>
                    </sly>
                </div>
                <div
                    class="footer__container__bottom__col3 c-silver">
                    <sly data-sly-list.mandatory="${footer.mandatoryLinks}">
                    <div class="no-padding extra-small mb-2 bottom-link-container"
                        data-sly-test="${mandatoryList.index >= 4}">
                        <a class="c-grey-border link-animation" footer-navid="${mandatory.linkLabel}" href="${mandatory.linkUrl}"
                            target="${mandatory.openLinkInNewWindow}">${mandatory.linkLabel}</a>
                    </div>
                    </sly>
                    <!-- Start Cookie Consent -->
                    <div class="no-padding extra-small mb-2 bottom-link-container"><a class="c-grey-border link-animation" id="teconsent"></a></div>
                    <!-- End Cookie Consent -->
                </div>

            </div>
        </div>
    </div>
</div>
