<template data-sly-template.list="${@ nav, footer}">
	<sly data-sly-test="${nav =='nav1'}">
		<sly data-sly-set.column="${footer.nav1}"></sly>
	</sly>
	<sly data-sly-test="${nav =='nav2'}">
		<sly data-sly-set.column="${footer.nav2}"></sly>
	</sly>
	<sly data-sly-test="${nav =='nav3'}">
		<sly data-sly-set.column="${footer.nav3}"></sly>
	</sly>
	<div class="list-items d-flex flex-column ${nav =='nav1' ? 'border-top': ''}" data-sly-list.col="${column}">
		<div class="list-items__group">
			<div class=" list-items__group__label d-flex d-lg-none justify-content-between align-items-center" data-toggle="collapse" data-target="#footer${nav}${colList.index}"
			     aria-haspopup="true" aria-expanded="false">
				<div class="large c-silver"><p>${col.navLabel}</p></div>
				<div class="juniper-icon icon-arrow-down c-white"></div>
			</div>
			<div class=" list-items__group__label d-none d-lg-block">
				<p class="large c-silver">${col.navLabel}</p>
			</div>
			<div class="list-items__group__items collapse"
			     data-sly-list.item="${col.column1}"
			     id="footer${nav}${colList.index}"
			     aria-labelledby="${col.navLabel}"
			     data-parent="#footer-links">
				<div class="list-items__group__items--item mb-1">
					<a href="${item.itemUrl}" footer-navid="${item.itemLabel}" target="${item.openInNewWindow}" class="link-animation">${item.itemLabel}</a>
				</div>
			</div>
		</div>
	</div>
</template>