<div class="configure__container" data-sly-test="${wcmmode.edit}">
    [Configure ${component.title} Component ]
</div>
<div data-sly-use.resourcecentermodel="com.juniper.aem.models.ResouceCenterVideoModel"
     data-sly-use.utilityModel="${'com.juniper.aem.models.UtilityModel'}"
     data-sly-set.compId="resourceCenterVideo${utilityModel.uniqueId}"></div>
<template data-sly-template.category="${@ list}">
    <div data-sly-repeat.category="${list}">
        <div class="subheading">
            <h5>${category.subHeading @context='text'}</h5>
        </div>
        <div class="links">
            <ul>
                <li data-sly-repeat.resourcedetail="${category.documents}">
                <sly data-sly-test.elq="${'http:' in resourcedetail.link || 'https:' in resourcedetail.link ? ['_elq.trackEvent(\u0027', resourcedetail.link, '\u0027)'] : ['_elq.trackEvent(\u0027', request.getScheme,'://',request.getServerName, resourcedetail.link, '\u0027)'] @ join = '' }"/>                
                <a
                    href="${resourcedetail.link @ context='uri'}"
                    x-cq-linkchecker="valid" 
                    target="${'.html' in resourcedetail.link ? resourcedetail.target : '_blank'}"
                    onclick="${'.pdf' in resourcedetail.link || '.doc' in resourcedetail.link || '.xls' in resourcedetail.link ? elq : ''  @ context='attribute'}" >
                    <button class="juniper-btn juniper-btn--link">
                        ${resourcedetail.label @context='text'} <span class="juniper-icon icon-arrow pl-3"></span>
                    </button>
                </a>
                </li>
            </ul>
        </div>
    </div>
</template>

<div class="cmp-resource-center-video ${properties.removeglobalspacing == 'true' ? 'no-spacing-bottom' : ''}" data-mod="resource-center-video" data-video-modal-id="${compId}Modal">

    <div class="rcv-container">
        <div class="heading">
            <div>
                <h1>${resourcecentermodel.resourcecenterheading
                    @context="text"}
                </h1>
            </div>
        </div>
        <div class="left"
             data-bg-color="${resourcecentermodel.bgcircleColor @ context='text'}"
             cmp-variant="${resourcecentermodel.categories ? 'v2' : 'v3'}">
            <div>
                <sly data-sly-test="${resourcecentermodel.categories}">
                    <div data-sly-call="${category @ list=resourcecentermodel.categories}"></div>
                    <div class=" desc">
                        <h3>${resourcecentermodel.introductionText @context="text"}</h3>
                    </div>
                    <sly data-sly-test="${resourcecentermodel.ctaText}">
                        <div class=" button-link">
                            <a href="${resourcecentermodel.ctaLink @ context='uri'}"
                               target="${resourcecentermodel.ctatarget @context='html'}">
                                <button class="juniper-btn ${resourcecentermodel.ctaStyle}">
                                    ${resourcecentermodel.ctaText
                                    @context="text"}
                                </button>

                            </a>
                        </div>
                    </sly>
                </sly>

                <sly data-sly-test="${!resourcecentermodel.categories}">

                    <div class=" video-heading-left-v3">
                        <h2>${resourcecentermodel.videoTitle @context="text"}</h2>
                    </div>
                    <div class=" video-desc-left-v3 large rte-content">
                        ${resourcecentermodel.description @context="html"}
                    </div>
                </sly>
            </div>
        </div>
        <sly data-sly-test="${resourcecentermodel.videoLink}">
            <div class=" right" data-expandable="true">

                <div class=" media">
                    <div class="video-container">
                        <img class="img-vid" src="${resourcecentermodel.videothumbnailimagePath @context='uri'}"
                             alt="${resourcecentermodel.videoTitle @context='text'}"/>
                        <iframe class="vid" id="yt1" src="${resourcecentermodel.videoLink @context='uri'}"
                                frameborder="0"
                                allowfullscreen allow="autoplay" controls=0>
                        </iframe>
                        <a class="close-icon p-1 p-md-4" href="#" title="Stop Video">
                            <span class="juniper-icon icon-close"></span>
                        </a>
                        <a class="play-icon" href="#" title="Play Video">

<span
        class="${properties.playIconColor == 'grey' ? 'juniper-icon icon-play-btn-hover grey' : 'juniper-icon icon-play-btn'}">
<span class="path1"></span>
<span class="path2"></span>
</span>
                        </a>
                    </div>
                </div>
                <sly data-sly-test="${!resourcecentermodel.categories}">
                    <div class="video-heading-right-v3">
                        <div>
                            <h2>${resourcecentermodel.videoTitle @context="text"}</h2>
                        </div>
                    </div>
                    <div class=" video-desc-right-v3">
                        <div class="large rte-content">
                            ${resourcecentermodel.description @context="html"}
                        </div>
                    </div>
                    <div class=" desc-right-v3">
                        <div>
                            <h3>${resourcecentermodel.introductionText @context="text"}</h3>
                        </div>
                    </div>
                    <sly data-sly-test="${resourcecentermodel.ctaText}">
                        <div class=" button-link-right-v3">
                            <div>
                                <a href="${resourcecentermodel.ctaLink @ context='uri'}"
                                   target="${resourcecentermodel.ctatarget @context='html'}">
                                    <button class="juniper-btn ${resourcecentermodel.ctaStyle}">
                                        ${resourcecentermodel.ctaText
                                        @context="text"}
                                    </button>

                                </a>
                            </div>
                        </div>
                    </sly>
                </sly>
                <sly data-sly-test="${resourcecentermodel.categories}">
                    <div class=" video-heading">
                        <div>
                            <h2>${resourcecentermodel.videoTitle @context="text"}</h2>
                        </div>
                    </div>
                    <div class=" video-desc rte-content">
                        <div>
                            ${resourcecentermodel.description @context="html"}
                        </div>
                    </div>
                </sly>

            </div>
        </sly>
    </div>

    <!--/* Modal Video */-->
    <sly data-sly-use.modalTemplate="/apps/juniper/components/htl-templates/video-overlay.html"
         data-sly-set.videoModalId="${compId}Modal"
         data-sly-set.videoSrc="${resourcecentermodel.videoLink @ context='uri'}">
        <sly
                data-sly-call="${modalTemplate.modal @ modalId = videoModalId, containerClassName = 'rcv-player-container', videoUrl = videoSrc}"/>
    </sly>
    </sly>

</div>
