@mixin bgcolor($vertical, $horizontal) {
  @include color-theme($theme-colors) {
    background: linear-gradient(to #{$vertical}, transparent 80%, $white 20%),
    linear-gradient(to #{$horizontal},
      #{$value} 83%,
      $white 83%);
  }
}

.textimage {
  &__wrapper {
    @extend .grid;

    .textimage__img {
      grid-column: 1 / 5;
      @include media-breakpoint-up(md) {
        grid-column: 1 / 6;
        margin-left: -2pc;
        margin-right: 0;
      }

      @include media-breakpoint-up(lg) {
        grid-column: 2 / span 4;
        margin-left: -2pc;
        grid-row: 1;
      }
    }

    .textimage__desc {
      .icon-arrow {
        &::before {
          top: -2px;
        }
      }

      .juniper-btn--link:after {
        bottom: 5px;
      }

      @include media-breakpoint-up(sm) {
        grid-column: 1 / 5;
        padding: 0 0px;

        .large {
          padding-bottom: 24px;
          color: $gray-dark;

          @include media-breakpoint-up(md) {
            padding-bottom: 32px;
          }

          @include media-breakpoint-up(lg) {
            padding-bottom: 48px;
          }

          @include media-breakpoint-up(xl) {
            padding-bottom: 40px;
          }
        }

        .cta-introduction {
          font-size: 20px;
          line-height: 1.3;
          margin: 0 0 24px 0px;
          color: #000;

          @include media-breakpoint-up(sm) {
            font-size: 18px;
          }

          @include media-breakpoint-up(lg) {
            font-size: 20px;
            line-height: 26px;
            font-weight: 700;
          }
        }

        .icon-size-4 {
          font-size: 32px !important;
          margin-bottom: 10px;
        }
      }

      @include media-breakpoint-up(md) {
        grid-row: 1;
        grid-column: 6 / 10;
        padding: 0 10px 0 0;
      }

      @include media-breakpoint-up(lg) {
        grid-column: 7 / span 4;
        padding: 38px 0px 0px 0px;

        .icon-size-4 {
          font-size: 48px !important;
        }
      }
    }
  }

  &.inverse {
    .textimage__desc {
      @include media-breakpoint-up(md) {
        grid-column: 1 / 5;
      }

      @include media-breakpoint-up(lg) {
        grid-column: 2 / span 4;
        padding: 38px 0px 0px 0px;
        grid-row: 1;
      }
    }

    .textimage__img {
      @include media-breakpoint-up(md) {
        grid-column: 5 / 10;
      }

      @include media-breakpoint-up(lg) {
        grid-column: 7 / span 4;
        margin-left: -2pc;
        grid-row: 1;
      }
    }
  }

  &__col {
    .eyebrow {
      @include media-breakpoint-up(lg) {
        line-height: 16px;
      }

      >span:before {
        display: block;
        font-size: 2rem;
      }
    }

    h2 {
      @include media-breakpoint-down(lg) {
        padding: 2rem 0 1rem;
      }

      @include media-breakpoint-up(lg) {
        padding: 48px 0 32px;
      }
    }
  }

  &__desc {
    @include media-breakpoint-down(md) {
      font-size: 14px;
      line-height: 1.4;
    }

    @include media-breakpoint-up(md) {
      font-size: 15px;
      line-height: 1.4;
    }

    @include media-breakpoint-down(lg) {
      padding: 0 32px;
    }

    @include media-breakpoint-up(lg) {
      grid-column: 7 / 11;
      padding: 38px 160px 38px 119px;
      font-size: 18px;
      line-height: 1.44;
    }

    ul,
    ol {
      padding: 0 1.2rem;
      li {
        padding: 0.5rem 0;
      }

      li:first-child {
        padding-top: 0;
      }
    }

    ol {
      li{
        padding-left: 0.5rem;
      }
    }

    ul {
      li {
        color: $black;
        list-style: none;
        margin-left: 0.5rem;

        &:before {
          content: "\2022";
          color: $gray-light;
          font-weight: bold;
          display: inline-block;
          width: 1.4em;
          margin-left: -1.5em;
        }
      }
    }
  }

  &__without__bgcolor {
    .textimage__img {
      img {
        width: 100%;
        height: auto;
      }
    }

    &.small-image {
      .textimage__img {
        display: grid;
        align-items: baseline;
        @include media-breakpoint-down(md) {
          margin-top: 2rem;
        }

        @include media-breakpoint-up(md) {
          margin-top: 10rem;
        }

        img {
          width: 50%;
        }
      }
    }
  }

  &__with__bgcolor {
    .textimage__img {
      @include media-breakpoint-up(lg) {
        display: grid;
      }

      img {
        @include media-breakpoint-up(sm) {
          width: 50%;
        }

        width: 75%;
        height: 85%;
      }

      &__top {
        &__left {
          align-self: flex-start;
          justify-self: flex-start;
        }

        &__right {
          align-self: flex-start;
          justify-self: flex-end;
        }
      }

      &__bottom {
        &__left {
          align-self: flex-end;
          justify-self: flex-start;
        }

        &__right {
          align-self: flex-end;
          justify-self: flex-end;
        }
      }
    }

    .textimage__bgcolor {
      background-repeat: no-repeat;

      &__top {
        &__left {
          @include bgcolor("bottom", "right");
        }

        &__right {
          @include bgcolor("bottom", "left");
        }
      }

      &__bottom {
        &__left {
          @include bgcolor("top", "right");
        }

        &__right {
          @include bgcolor("top", "left");
        }
      }
    }
  }

  &.image-variant-v1 {
    h2 {
      @include media-breakpoint-down(lg) {
        padding: 2rem 0 0;
      }

      @include media-breakpoint-up(lg) {
        padding: 48px 0 32px;
      }
    }

    .textimage__img {
      margin: 0 -2rem;
      img {
        width: 100%;
        object-fit: contain;
          @include media-breakpoint-down(md) {
            height: 375px;
          }
          @include media-breakpoint-up(md) {
            height: 390px;
          }
          @include media-breakpoint-up(lg) {
            height: 794px;
          }
          @include media-breakpoint-up(xl) {
            height: 1045px;
          }
      }

      @include media-breakpoint-down(md) {
        grid-column: 1/5;
        grid-row: 1;
        margin-bottom: 2rem;
      }

      @include media-breakpoint-up(md) {
        grid-column: 1/6;
        padding-right: 2rem;
      }

      @include media-breakpoint-up(lg) {
        grid-column: 1/7;
        padding-right: 3rem;
      }
    }

    &.inverse {
      .textimage__desc {
        @include media-breakpoint-up(md) {
          grid-column: 1/5;
        }

        @include media-breakpoint-up(lg) {
          grid-column: 2/6;
        }
      }

      .textimage__img {
        padding: 0;

        @include media-breakpoint-up(md) {
          grid-column: 5/10;
          margin-left: 0;
          margin-right: -2pc;
          padding-left: 2rem;
        }

        @include media-breakpoint-up(lg) {
          grid-column: 6/12;
          padding-left: 3rem;
        }
      }
    }
  }

  &.image-variant-v2 {
    .textimage__img {
      margin: 0 -2rem;
      img {
        width: 100%;
        object-fit: contain;
          @include media-breakpoint-down(md) {
            height: 375px;
          }
          @include media-breakpoint-up(md) {
            height: 390px;
          }
          @include media-breakpoint-up(lg) {
            height: 794px;
          }
          @include media-breakpoint-up(xl) {
            height: 1045px;
          }
      }

      @include media-breakpoint-down(md) {
        grid-column: 1/5;
        grid-row: 1;
        margin-bottom: 2rem;
      }

      @include media-breakpoint-up(md) {
        grid-column: 1/6;
        padding-right: 2rem;
      }

      @include media-breakpoint-up(lg) {
        grid-column: 1/7;
        padding-right: 3rem;
      }
    }

    &.inverse {
      .textimage__desc {
        @include media-breakpoint-up(md) {
          grid-column: 1/5;
        }

        @include media-breakpoint-up(lg) {
          grid-column: 2/6;
        }
      }

      .textimage__img {
        padding: 0;

        @include media-breakpoint-up(md) {
          grid-column: 5/10;
          margin-left: 0;
          margin-right: -2pc;
          padding-left: 2rem;
        }

        @include media-breakpoint-up(lg) {
          grid-column: 6/12;
          padding-left: 3rem;
        }
      }
    }

    .textimage__desc {
      p {
        b {
          @include media-breakpoint-up(lg) {
            @include font-size(22);
            line-height: 26px;
          }
        }
      }

      ol,
      ul {
        li {
          color: $gray-dark;

          @include media-breakpoint-down(md) {
            @include font-size(14);
            line-height: 20px;
            color: $black;
          }

          @include media-breakpoint-up(lg) {
            @include font-size(16);
            line-height: 23px;
          }
        }

      }
      h3{
        @include media-breakpoint-up(lg) {
          @include font-size(22);
          line-height: 26px;
        }
      }
    }
  }

  &.image-variant-v3 {
    .textimage__desc {
      @include media-breakpoint-up(md) {
        padding: 0px;

        .icon-size-4 {
          margin-bottom: 8px;
        }
      }

      @include media-breakpoint-up(lg) {
        .icon-size-4 {
          margin-bottom: 19px;
        }
      }
    }
  }

  &.image-variant-v5 {
    @include media-breakpoint-down(lg) {
      padding-bottom: 76px;
    }

    @include media-breakpoint-up(lg) {
      padding-bottom: 100px;
    }

    background-color: $silver;

    &.inverse {
      @include media-breakpoint-up(md) {
        .textimage__desc {
          grid-column: 2/7;
        }

        .textimage__img {
          grid-column: 7/10;
        }
      }

      @include media-breakpoint-up(lg) {
        .textimage__desc {
          grid-column: 2/7;
        }

        .textimage__img {
          grid-column: 8/11;
        }
      }
    }

    @include media-breakpoint-down(md) {
      .textimage__wrapper {
        padding-bottom: 0px;
      }

      .textimage__img {

        img {
          height: auto;
        }
      }
    }

    .textimage__desc {
      @include media-breakpoint-down(sm) {
        grid-row: 2;
      }

      @include media-breakpoint-up(md) {
        grid-column: 4/10;
      }

      @include media-breakpoint-up(lg) {
        grid-column: 6/11;
      }

      h2 {
        padding-bottom: 0;

        @include media-breakpoint-down(md) {
          padding-top: 64px;
        }
      }

      .large {

        color: $black;
        &>div,
        &>p:first-child {
          font-size: 18px !important;
          padding-top: 24px !important;
          @include media-breakpoint-down(md) {
            line-height: 1.33;
          }
          @include media-breakpoint-up(md) {
            font-size: 20px !important;
          }

          @include media-breakpoint-up(lg) {
            font-size: 22px !important;
            padding-top: 32px;
          }
        }

        &>ul,
        ol {
          padding-top: 24px;

          @include media-breakpoint-up(md) {
            padding-top: 30px;
          }
        }
      }
    }

    .textimage__img {
      margin-left: inherit;
      margin-right: inherit;
      padding: 0;

      @include media-breakpoint-down(md) {
        grid-row: 1;
      }

      @include media-breakpoint-up(md) {
        grid-column: 1/4;
      }

      @include media-breakpoint-up(lg) {
        grid-column: 2/5;
      }

      img {
        width: 100%;
        object-fit: cover;

        @include media-breakpoint-down(md) {
          height: 180px;
        }

        @include media-breakpoint-up(md) {
          height: 138px;
        }

        @include media-breakpoint-up(lg) {
          height: 206px;
        }

        @include media-breakpoint-up(xl) {
          height: 288px;
        }
      }
    }
  }

  &.image-variant-v3 {
    & .textimage__desc {
      @include media-breakpoint-up(lg) {
        grid-column: 7 / span 4;
      }

      & h2 {
        padding-top: 20px;
        padding-bottom: 15px;

        @include media-breakpoint-up(lg) {
          padding-top: 40px;
        }

        @include media-breakpoint-up(xl) {
          padding-bottom: 25px;
        }
      }

      & .large {
        padding-bottom: 30px;

        @include media-breakpoint-down(md) {
          font-size: 14px;
          line-height: 20px;
        }
        @include media-breakpoint-up(md) {
          @include font-size(17);
          line-height: 1.41;
          padding-bottom: 40px;
        }

        @include media-breakpoint-up(lg) {
          @include font-size(18);
          line-height: 1.44;
          padding-bottom: 65px;
        }

        @include media-breakpoint-up(xl) {
          padding-bottom: 40px;
        }

      }
    }

    & .textimage__img {
      margin: 0 0 44px 0;
      padding: 0;

      @include media-breakpoint-up(md) {
        margin: 0;
      }

      img {
        background-repeat: no-repeat;
        object-fit: contain;
        width: 100%;
        object-position: top;

        @include media-breakpoint-down(md) {
          height: 199px;
        }

        @include media-breakpoint-up(md) {
          height: 374px;
        }

        @include media-breakpoint-up(lg) {
          height: 438px;
        }

        @include media-breakpoint-up(xl) {
          height: 574px;
        }
      }
    }

    &.inverse {
      & .textimage__desc {
        @include media-breakpoint-up(lg) {
          grid-column: 2 / span 4;
        }
      }
    }
  }

  &.image-variant-v4 {
    .textimage__wrapper {
      overflow: hidden;
    }


    .textimage__desc {
      .large{
        @include media-breakpoint-down(md) {
          font-size: 14px;
          line-height: 1.4;
        }
    
        @include media-breakpoint-up(md) {
          font-size: 15px;
          line-height: 1.4;
        }
  
        @include media-breakpoint-up(LG) {
          font-size: 18px;
          line-height: 1.44;
        }
      }
    }

    .textimage__img {
      display: grid;
      align-self: baseline;
      grid-column-gap: 32px;
      margin: 0 2rem 2rem -2rem;

      @include media-breakpoint-down(md) {
        grid-column: 1/5;
        grid-template-columns: repeat(4, 1fr);
        grid-row: 1;
        padding-bottom: 2rem;
        margin-right: -2rem;
      }

      @include media-breakpoint-up(md) {
        grid-column: 1/5;
        grid-template-columns: repeat(5, 1fr);
      }

      @include media-breakpoint-up(lg) {
        grid-column: 1/7;
        grid-template-columns: repeat(6, 1fr);
        padding-bottom: 2rem;
      }

      @include media-breakpoint-up(xl) {
        padding-bottom: 4rem;
      }

      img {
        width: auto;
        object-fit: contain;

        @include media-breakpoint-down(md) {
          grid-column: 1/5;
          height: 199px;
        }

        @include media-breakpoint-up(md) {
          grid-column: 2/7;
          height: 374px;
        }

        @include media-breakpoint-up(lg) {
          grid-column: 1/7;
          height: 396px;
        }

        @include media-breakpoint-up(xl) {
          height: 530px;
        }
      }
    }

    &.inverse {
      .textimage__img {
        margin: 0 -2rem 2rem 2rem;
        @include media-breakpoint-down(md) {
          margin-left: -2rem;
          img {
            grid-column: 1/5;
          }
        }
        @include media-breakpoint-up(md) {
          grid-template-columns: repeat(5, 1fr);
          grid-column: 6/10;
          img {
            grid-column: 1/5;
          }
        }

        @include media-breakpoint-up(lg) {
          grid-template-columns: repeat(6, 1fr);
          grid-column: 6/12;
          img {
            grid-column: 1/7;
          }
        }

        display: grid;
      }
    }
  }
}