<div data-sly-test="${wcmmode.edit && !wcmmode.preview}" class="aem-helper configure__container">
    [ Configure ${component.title} Component ]</div>

<sly data-sly-use.utilityModel="${'com.juniper.aem.models.UtilityModel'}"
    data-sly-set.compId="whatweoffer${utilityModel.uniqueId}"
    data-sly-use.solutionpanelmodel="com.juniper.aem.models.WhatWeOfferModel"></sly>

<div class="cmp-what-we-offer" data-mod="what-we-offer">
    <div class="container fs-container">
        <div class="wrapper grid">
            <div data-sly-test="${solutionpanelmodel.title}" class="header">
                <div class="eyebrow" data-sly-test="${solutionpanelmodel.eyebrow}">${solutionpanelmodel.eyebrow}</div>
                <h2 class="title" data-sly-test="${solutionpanelmodel.title}">${solutionpanelmodel.title}</h2>
            </div>
            <sly data-sly-list.solutionpanel="${solutionpanelmodel.solutions}">
                <div class="card grid ${solutionpanelmodel.themeColor}">
                    <div class="text-container">
                        <div class="title">
                            <h2>${solutionpanel.title}</h2>
                        </div>
                        <div data-sly-test="${solutionpanel.boldDescription}" class="desc rte-content bold">
                            ${solutionpanel.boldDescription @ context='html'}</div>
                        <div data-sly-test="${solutionpanel.description}" class="desc rte-content">${solutionpanel.description @
                            context='html'}</div>
                        <div class="links">
                            <div
                                data-sly-resource="${ 'wwo{0}' @ format=solutionpanelList.count , resourceType='wcm/foundation/components/parsys'}">
                            </div>
                        </div>
                    </div>

                    <div class="image-container">
                        <a data-sly-test="${solutionpanel.videoPath}" class="play-icon" href="#"
                            title="${'Play Video' @ i18n}"
                            data-video-modal-id="${compId}VideoModal-${solutionpanelList.index}">
                            <span
                                class="${solutionpanel.playIconColor == 'grey' ? 'juniper-icon icon-play-btn-hover grey' : 'juniper-icon icon-play-btn'}">
                                <span class="path1"></span>
                                <span class="path2"></span>
                            </span>
                        </a>

                        <sly data-sly-test="${solutionpanel.imagePath}"
                            data-sly-use.imageHelper="${'com.juniper.aem.helpers.ImageHelper' @ fileReference = solutionpanel.imagePath}">
                        </sly>

                        <img class="w-100 object-fit--cover" data-sly-test="${solutionpanel.imagePath}"
                            src="${solutionpanel.imagePath}" alt="${solutionpanel.imageAltText || imageHelper.altText}"
                            title="${solutionpanel.imageAltText || imageHelper.altText}" />

                        <div data-sly-test="${solutionpanel.ctaText}"
                            class="step ${solutionpanelmodel.themeColor ? solutionpanelmodel.themeColor : 'c-theme-white'}">
                            <div class="heading">
                                <a href="${solutionpanel.ctaLink}" target="${solutionpanel.target}"
                                    x-cq-linkchecker="valid" data-sly-unwrap="${!solutionpanel.ctaLink}">
                                    <button type="button" class="juniper-btn juniper-btn--link">
                                        ${solutionpanel.ctaText}</button> <span
                                        data-sly-unwrap="${!solutionpanel.ctaLink}"
                                        class="juniper-icon icon-arrow default"></span>
                                </a>
                            </div>
                            <div class="desc rte-content">${solutionpanel.solutionDescription @ context='html'}</div>
                        </div>
                    </div>
                </div>
            </sly>
        </div>

        <sly data-sly-list.solutionpanel="${solutionpanelmodel.solutions}">
            <!--/* Modal Video */-->
            <sly data-sly-test="${solutionpanel.videoPath}"
                data-sly-use.modalTemplate="/apps/juniper/components/htl-templates/video-overlay.html"
                data-sly-set.videoModalId="${compId}VideoModal-${solutionpanelList.index}"
                data-sly-set.videoSrc="${solutionpanel.videoPath}">
                <sly
                    data-sly-call="${modalTemplate.modal @ modalId = videoModalId, videoUrl = solutionpanel.videoPath}">
                </sly>
            </sly>
        </sly>
    </div>
</div>
