.primary-promo {
    
    @extend .component-bottom-spacing;
    width: 100%;

    
    .cmp-primary-promo {
        @include color-theme($theme-colors) {
            background-color: $value !important;
        }
        .primary-promo__container {
            display: flex;
            padding: 60px 0px 60px 0px;

            .primary-promo_image_icon {
                padding-left: 30px;
                text-align: right;
                font-size: 72px;
            }

            .primary-promo_info {
                padding-left: 21px;

                .primary-promo_title {
                    font-weight: 700;
                    line-height: 20px;
                    @include lato-bold;
                    padding-bottom: 8px;

                    @include media-breakpoint-up(lg) {
                        @include font-size(16);
                        @include lato-bold;
                    }

                    @include media-breakpoint-down(lg) {
                        @include lato-bold;
                        @include font-size(14);
                    }

                }

                .primary-promo_desc {
                    line-height: 23px;
                    max-width: 290px;
                    
                    color: $gray-dark;
                    @include font-size(16);
                    @include lato-regular;

                    & a {
                        text-decoration: underline;
                        line-height: 1.5;
                        color: #000;
                    }

                    @include media-breakpoint-up(md) {
                        max-width: 350px;
                    }

                    @include media-breakpoint-up(lg) {
                        @include font-size(16);
                        @include lato-regular;
                    }

                    @include media-breakpoint-down(lg) {
                        @include font-size(14);
                        @include lato-regular;
                    }
                }
            }
        }
    }
}

.primarypromo.analytics__primary-promo {
    column-gap: 2pc;
    grid-template-columns: repeat(11, 1fr);
    display: grid;
}

.primary-promo {
    grid-column: 1/-1;
}

.cmp-primary-promo {
    grid-template-columns: repeat(11, 1fr);
    display: grid;
}

.primary-promo .cmp-primary-promo .primary-promo__container {
    grid-column: 2/-1;
    @include media-breakpoint-down(md) {
        grid-column: 1/-1;
        padding-top: 27px;
        padding-bottom: 43px;
    }
    @include media-breakpoint-down(sm) {
        padding-bottom: 25px;
    }
}
.primary-promo .cmp-primary-promo .primary-promo__container .primary-promo_info {
    padding-left: 21px;
}

.primary-promo .cmp-primary-promo .primary-promo__container .primary-promo_image_icon {
    @include media-breakpoint-down(md) {
        font-size: 48px;
    }
}