.cards {
    padding-top: 80px;
    padding-bottom: 70px;
    .row {
        display: block;

        @include media-breakpoint-up(xl) {
            display: block;
        }
        .product-cards {
            display: flex;

            &.level-1 {
                background-color: $jade;

                @include media-breakpoint-up(lg) {
                    padding: 80px 0px;
                }
                @include media-breakpoint-up(xl) {
                    padding: 80px 0px;
                }
                
            }
            .product-card-section {
                padding-top: 48px;
                padding-bottom: 48px;
                @include media-breakpoint-up(md) {
                    padding: 16px 0px 64px 32px;
                    flex: 0 0 109%;
                    max-width: 109%;
                }
                @include media-breakpoint-up(lg) {
                    padding: 16px 0px 64px 32px;
                    flex: 0 0 94%;
                    max-width: 94%;
                }
                @include media-breakpoint-up(xl) {
                    padding: 0px;
                }
                .product-card {
                    background-color: $white;
                    display: inline-block;
                    padding: 0 0 0 24px !important;
                    margin-top: 16px;
                    border-radius: 6px;
                    @include media-breakpoint-up(md) {
                        min-height: 475px;
                        flex: 0 0 41.66667%;
                        max-width: 41.66667%;
                        margin-top: 32px;
                        &:nth-of-type(odd) {
                            margin-right: 16px;
                        }
                        &:nth-of-type(even) {
                            margin-left: 16px;
                        }
                    }
                    @include media-breakpoint-up(lg) {
                        min-height: 540px;
                        flex: 0 0 41.66667%;
                        max-width: 41.66667%;
                        margin-top: 32px;
                        padding: 0 0 0 36px !important;
                        &:nth-of-type(odd) {
                            margin-right: 20px;
                        }
                        &:nth-of-type(even) {
                            margin-left: 20px;
                        }
                    }
                    @include media-breakpoint-up(xl) {
                        min-height: 540px;
                        margin: 27px;
                    }
                    .card-info {
                        @include media-breakpoint-up(lg) {
                            height: 234px;
                        }
                        @include media-breakpoint-up(xl) {
                            height: 234px;
                        }
                        .card-short-info {
                            display: inline-block;
                            min-height: 192px;
                            max-width: 50%;
                            @include media-breakpoint-up(lg) {
                                min-height: 234px;
                            }
                            @include media-breakpoint-up(xl) {
                                min-height: 234px;
                            }
                            .tag {
                                @include lato-bold;
                                @include font-size(11);
                                letter-spacing: 1.98px;
                                height: 14px;
                                color: #000;
                                padding: 24px 0px 93px;
                                @include media-breakpoint-up(lg) {
                                    @include font-size(13);
                                    height: 16px;
                                    padding-bottom: 24px 0px 82px;
                                    max-width: 384px;
                                }
                                @include media-breakpoint-up(xl) {
                                    @include font-size(13);
                                    height: 16px;
                                    padding-bottom: 24px 0px 82px;
                                    max-width: 384px;
                                }
                            }
                            .title {
                                font-size: 30px !important;
                                line-height: 1.1 !important;
                                letter-spacing: -0.9px;
                                max-width: 150px;
                                text-align: left;
                                @include media-breakpoint-up(md) {
                                    font-size: 36px !important;
                                    line-height: 1.11;
                                    letter-spacing: -1.44px;
                                    max-width: 170.5px;
                                }
                                @include media-breakpoint-up(lg) {
                                    font-size: 46px !important;
                                    line-height: 1.04;
                                    letter-spacing: -1.38px;
                                    max-width: 185px;
                                }
                                @include media-breakpoint-up(xl) {
                                    font-size: 46px !important;
                                    line-height: 1.04;
                                    letter-spacing: -1.38px;
                                    max-width: 185px;
                                }
                            }
                        }
                        .card-image {
                            float: right;
        
                            & img {
                                width: 117px;
                                height: 192px;
                                
                                @include media-breakpoint-up(md) {
                                    width: 117.4px;
                                    height: 185.3px;
                                }
                                @include media-breakpoint-up(lg) {
                                    width: 156px;
                                    height: 234px;
                                }
                                @include media-breakpoint-up(xl) {
                                    width: 156px;
                                    height: 234px;
                                }
                            }
                        }
                        
                    }
                    .description {
                        @include lato-regular;
                        color: $gray-dark;
                        padding-top: 18px;
                        height: 200px;
                        width: 80%;
                        @include font-size(14);
                        @include media-breakpoint-up(md) {
                            height: 200px;
                        }
                        @include media-breakpoint-up(lg) {
                            padding-top: 20px;
                            min-height: 306px;
                            width: 60%;
                        }
                        @include media-breakpoint-up(xl) {
                            @include font-size(16);
                            padding-top: 20px;
                            min-height: 306px;
                            width: 60%;
                        }
                    }
                }
            }
            .no-filter {
                display: none;
            }
            .filter-section {
                background-color: $jade;
            }
            .products-section {
                display: flex;
                flex-flow: wrap;
                padding-left: 0px;
                padding-right: 0px;

                .primary-cta {
                    margin-bottom: 40px;
                    margin-top: -20px;

                    @include media-breakpoint-up(lg) {
                        margin-left: 68%;
                    }
                    @include media-breakpoint-up(xl) {
                        margin-left: 66%;
                    }
                    .primary-cta-btn {
                        margin-bottom: 65px;
                    }
                }
                .product-section {
                    .product-item {
                        float: left;
                        @include media-breakpoint-down(sm) {
                            padding-bottom: 20px;
                        }

                        .img-wrapper {
                            background-color: #f0f3f5;
                            height: 311px;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            @include media-breakpoint-up(md) {
                                height: 311px;
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                            }
                            @include media-breakpoint-up(lg) {
                                height: 352px;
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                            }
                            @include media-breakpoint-up(xl) {
                                height: 352px;
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                            }
                            .img-container {
                                width: 205px;
                                height: 207px;
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                margin: 0 auto;
                                background: radial-gradient(
                                    circle at center center,
                                    rgba(0, 0, 0, 0.03) 0,
                                    rgba(0, 0, 0, 0.03) 60%,
                                    rgba(0, 0, 0, 0.03) 60%,
                                    #f0f3f5 0,
                                    #f0f3f5 0
                                );
                                transition: transform 0.2s;
                                @include media-breakpoint-up(md) {
                                    width: 205px;
                                    height: 207px;
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: center;
                                    margin: 0 auto;
                                    background: radial-gradient(
                                        circle at center center,
                                        rgba(0, 0, 0, 0.03) 0,
                                        rgba(0, 0, 0, 0.03) 60%,
                                        rgba(0, 0, 0, 0.03) 60%,
                                        #f0f3f5 0,
                                        #f0f3f5 0
                                    );
                                    transition: transform 0.2s;
                                }
                                @include media-breakpoint-up(lg) {
                                    width: 235px;
                                    height: 235px;
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: center;
                                    margin: 0 auto;
                                    background: radial-gradient(
                                        circle at center center,
                                        rgba(0, 0, 0, 0.03) 0,
                                        rgba(0, 0, 0, 0.03) 60%,
                                        rgba(0, 0, 0, 0.03) 60%,
                                        #f0f3f5 0,
                                        #f0f3f5 0
                                    );
                                    transition: transform 0.2s;
                                }
                                @include media-breakpoint-up(xl) {
                                    width: 235px;
                                    height: 235px;
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: center;
                                    margin: 0 auto;
                                    background: radial-gradient(
                                        circle at center center,
                                        rgba(0, 0, 0, 0.03) 0,
                                        rgba(0, 0, 0, 0.03) 60%,
                                        rgba(0, 0, 0, 0.03) 60%,
                                        #f0f3f5 0,
                                        #f0f3f5 0
                                    );
                                    transition: transform 0.2s;
                                }
                                img {
                                    max-width: 100%;
                                    max-height: 100%;
                                    flex-shrink: 0;
                                }
                            }
                        }
                        .soft-details {
                            .title {
                                color: #000000;

                                @include media-breakpoint-up(lg) {
                                    @include font-size(22);
                                    letter-spacing: -0.44px;
                                    padding: 12px 0px;
                                }
                                @include media-breakpoint-up(xl) {
                                    @include font-size(22);
                                    letter-spacing: -0.44px;
                                    padding: 12px 0px;
                                }
                            }
                            .description {
                                color: $gray-dark;
                                @include media-breakpoint-up(md) {
                                    @include font-size(14);
                                }
                                @include media-breakpoint-up(lg) {
                                    @include font-size(16);
                                }
                                @include media-breakpoint-up(xl) {
                                    @include font-size(16);
                                }
                            }
                        }
                        .tech-details {
                            .prod-info {
                                margin-bottom: 20px;
                                @include media-breakpoint-up(md) {
                                    margin-bottom: 21px;
                                }
                                @include media-breakpoint-up(lg) {
                                    margin-bottom: 38px;
                                }
                                @include media-breakpoint-up(xl) {
                                    margin-bottom: 38px;
                                }
                                .prod-tag-wrapper {
                                    display: inline-block;
                                    align-self: flex-start;
                                    margin-top: 16px;
                                    margin-bottom: 0;
                                    margin-right: 7px;
                                    padding: 5px;
                                    height: 23px;
                                    .prod-tag {
                                        color: #000;
                                        background-color: $jade;
                                        font-size: 10px;
                                        font-weight: 400;
                                        line-height: 1.3;
                                        letter-spacing: 0.5px;
                                        border-radius: 3px;

                                        @include media-breakpoint-up(lg) {
                                            font-size: 10px;
                                            font-weight: 400;
                                            line-height: 1.3;
                                            letter-spacing: 0.5px;
                                        }
                                        @include media-breakpoint-up(xl) {
                                            font-size: 10px;
                                            font-weight: 400;
                                            line-height: 1.3;
                                            letter-spacing: 0.5px;
                                        }
                                    }
                                }
                                .product-name-wrapper {
                                    display: block;
                                    margin-top: 24px;
                                    margin-bottom: 5px;
                                    .h3 {
                                        margin: 0;
                                        font-size: 28px;
                                        font-weight: 400;
                                        line-height: 1.21;
                                        letter-spacing: -0.56px;
                                        color: #000;
                                    }
                                }
                                .description {
                                    font-size: 16px;
                                    font-weight: 400;
                                    line-height: 1.44;
                                    letter-spacing: -0.32px;
                                    color: $gray-dark;
                                    @include font-size(14);
                                    @include media-breakpoint-up(lg) {
                                        @include font-size(16);
                                    }
                                    @include media-breakpoint-up(xl) {
                                        @include font-size(16);
                                    }
                                }
                            }
                            .technical-features {
                                width: 100%;
                                border-collapse: collapse;
                                table-layout: fixed;
                                tbody {
                                    display: block;
                                    tr {
                                        width: 100%;
                                        display: flex;
                                        flex-direction: row;
                                        align-items: stretch;
                                    }
                                    td {
                                        @include font-size(14);
                                        color: $gray-dark;
                                        width: 50%;
                                        padding-top: 4px;
                                        padding-bottom: 4px;
                                        &.right-align {
                                            text-align: right;
                                            padding-right: 8px;
                                        }
                                        &.no-title {
                                            column-span: all;
                                            ul {
                                                list-style: disc;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        .viewing-pane {
                            margin-top: 39px;
                            margin-bottom: 24px;
                            flex-grow: 1;
                            display: flex;
                            flex-direction: column;
                            justify-content: flex-end;
                            .view-datasheet {
                                font-size: 16px;
                                font-weight: 400;
                                line-height: 2.06;
                                letter-spacing: -0.16px;
                                color: $black;
                                text-decoration: underline;
                                margin-right: 40px;
                            }
                            .view-product {
                                padding: 0 5px 0 0;
                                color: $black;
                                float: right;
                                .juniper-btn--link {
                                    padding-right: 10px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.card-image img {
    transition: transform .4s;
}

.card-info:hover img {
    transform: scale(1.3);
    transform-origin: 50% 50%;
}

.card-image {
    display: block;
    overflow: hidden;
}
