/*
 * SW-FONTAWESOME
 */

@import '../mixins/font-swmaterialicon';

@font-face {
  font-family: 'swmaterialicon';
  src:
    url('/etc.clientlibs/juniper/clientlibs/clientlib-angular/resources/fonts/swmaterialicon_20200513.woff') format('woff');
  // url('/assets/fonts/swmaterialicon.ttf') format('truetype'),
  // url('/assets/fonts/swmaterialicon.svg#swmaterialicon') format('svg');
  font-weight: 400;
  font-style: normal;
}

/*[class^="swmaterialicon"], [class*="swmaterialicon"] {*/
.swmaterialicon {
  @include swmaterialicon;
}