@import '../../../styles/core/core-bundle';
@import '../../../styles/component/base/base-component';

$notes-border-color: $c-grey-10;
$notes-image-height: 200px;
$notes-base-padding: sw-spacing(3);

:host {
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 0 1px $notes-border-color;
  width: 100%;
  flex: 0 0 auto;
  transition: sw-elevation-transition-property-value();
}

:host(.note--active) {
  user-select: none;

  &:hover {
    @include sw-elevation(6);
  }

  .note__main--content .note__title {
    color: $c-active-txtonlight-static;
  }
}

.note__main {
  @include type-body();
  flex-grow: 1;
  flex-shrink: 0;
}

.note__main--content {
  .note__title,
  .note__eyebrow,
  .note__body {
    color: $c-txt-body-on-light;
  }
}

.note__background {
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  height: $notes-image-height;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: $notes-base-padding;

  .note__title,
  .note__eyebrow {
    @include type-over-image-shadow();
    color: white;
  }
}

.note__background--opaque::before {
  content: '';
  position: absolute;
  display: block;
  pointer-events: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
}

.note__main {
  padding: $notes-base-padding;

  .note__background {
    margin: ($notes-base-padding * -1) ($notes-base-padding * -1) $notes-base-padding;
  }
}

.note__eyebrow {
  font-weight: $base--font-weight-bold;
  line-height: 1.4;
  letter-spacing: 0.025em;
  margin-bottom: sw-spacing(1);
}

.note__title {
  @include type-head4();
  margin: 0 0 sw-spacing(1) 0;
  max-width: 100%;
}

.note__footer {
  position: relative;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
  border-top: 1px solid $notes-border-color;
}

.note__body-action,
.btn--footer {
  position: relative;
  appearance: none;
  border: none;
  display: inline-block;
  padding-left: 0;
  padding-right: 0;
  line-height: 1.25;
  color: #0288d1;
  background-color: transparent;
}

.note__body-action {
  display: block;
}

.btn--footer {
  padding-left: $notes-base-padding;
  padding-right: $notes-base-padding;
  flex: 0 0 auto;
  width: 50%;
  text-align: center;
  white-space: normal;

  &:only-child {
    width: 100%;
  }
}

.note__body-action {
  margin-top: sw-spacing(1);
  padding-bottom: 0;
}
