<div class="wrapper">
  <div>
    <sw-grid-header class="notes-header" *ngIf="title.length > 0" [properties]="_headerProps"></sw-grid-header>  
   
    <div *ngIf="action.url.length > 0" class="header-link">
        <a [href]="action.url" [swEval]="action.onclick" [target]="action.target" color="primary">
            <span  [innerHTML]="action.label"></span><sw-icon>navigate_next</sw-icon> 
        </a>
    </div>
  </div>
  
  <div *ngIf="body.length > 0" class="card__body-wrapper">
      <div class="card__body">
        <p *ngFor="let p of body" [innerHTML]="p"></p>
      </div>
  </div>
  
  <sw-carousel [slidesPerViewWidth]="slidesByWidth" [inset]="true" [persistArrows]="true" [paginationMode]="paginationMode">
      <ng-container *ngFor="let i of _items">
        <ng-template swCarouselSlide [title]="i.label">
          <div class="notes-item-bg"></div>
          <sw-notes-item-legacy [properties]="i"></sw-notes-item-legacy>
        </ng-template>
      </ng-container>
  </sw-carousel>
  </div>
  