@import '../../../styles/core/core-bundle';
@import '../../../styles/component/base/base-component';

:host{
  @include base-component-spacing;
  max-width: $base--page-max-width;
  overflow: hidden;
}

.item-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  list-style: none;
  margin: -1px;

  & > * {
    display: inline-flex;
  }

}

@include media-width-up(map-get($breakpoint-map, md)) {
  .item-list[sw-alignment="center"] {
    justify-content: center;
  }
}

.item {
  @include media-respond-property (
    flex-basis,
    root, percentage(1),
    sm, percentage(1/2)
  );
  flex-grow: 0;
  flex-shrink: 0;
}

.notes-col-3 {
  @include media-width-up ( map-get($breakpoint-map, md) ) {
    flex-basis: percentage(1/3);
  }
}

.notes-col-4 {
  @include media-width-up ( map-get($breakpoint-map, md) ) {
    flex-basis: percentage(1/4);
  }
}

sw-notes-item-legacy {
  margin: $base--border-hairline-width * 0.5;
  max-width: calc( 100% - #{$base--border-hairline-width} );
  width: 100%;
}
