@import '../../../styles/core/core-bundle';
@import '../../../styles/component/base/base-component';

$notes-gutter: sw-spacing(2);

:host {
  @include base-component-spacing;
  max-width: $base--page-max-width;
  width: 100%;
}

.notes__grid-layout {
  position: relative;
  display: flex;
  margin-left: $notes-gutter * -0.5;
  margin-top: $notes-gutter * -1;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: calc(100% + #{$notes-gutter});
}

@include media-width-up(map-get($breakpoint-map, md)) {
  .notes__grid-layout[sw-alignment="center"] {
    justify-content: center;
  }
}

sw-grid-header:not([sw-theme="none"]) {
  margin-bottom: $notes-gutter;
}

sw-notes-item {
  margin: $notes-gutter ($notes-gutter / 2) 0;

  @include media-respond-property(
    width,
    root, calc(#{percentage(1)} - #{$notes-gutter}),
    sm, calc(#{percentage(1/2)} - #{$notes-gutter}),
    md, calc(#{percentage(1/4)} - #{$notes-gutter})
  );
}

:host([sw-theme="light"]) sw-notes-item {
  background-color: $c-grey-05;
}
