<div class="wrapper">
  <sw-grid-header *ngIf="title.length > 0" [properties]="_headerProps"></sw-grid-header>
  <div class="item-list" [attr.sw-alignment]="itemAlign">
    <div class="item" [ngClass]="_colClass" *ngFor="let i of _items">
      <sw-notes-item-legacy [properties]="i" [showIcons]="showIcons" [theme]="theme"></sw-notes-item-legacy>
    </div>
  </div>
</div>
