@import '../../../styles/core/core-bundle';
@import '../../../styles/component/base/base-component';

$notes-base-spacing: sw-spacing(3);
$notes-lateral-spacing-card: 2px;

:host-context([sw-variant="simple"]) {
  padding: ($notes-base-spacing * 0.25) $notes-base-spacing $notes-base-spacing;

  .item {
    @include media-respond-property(
      width,
      root, percentage(1),
      sm, percentage(1/2),
      md, percentage(1/4)
    );
    padding-left: $notes-base-spacing;
    padding-right: $notes-base-spacing;
  }

  .card__body-wrapper {
    padding: 0px;
    margin-top: sw-spacing(1);
  }

  .card__label {
    color: $c-txt-blue-headline-on-light;
  }
}

:host-context([sw-variant="card"][sw-theme="dark"]) {
  color: $c-txt-on-dark;

  &, .card__header {
    background-color: transparentize(white, 0.925);
  }
}

:host-context([sw-variant="card"][sw-theme="light"]) {
  &, .card__header {
    background-color: transparentize(black, 0.985);
  }
}

:host-context([sw-variant="card"]) {
  background-color: $c-grey-lightest;

  .card__header {
    background-color: $c-grey-05;
  }

  .wrapper:not(.has-background) {
    .card__header {
      display: table;
      padding: 0 $notes-base-spacing;
      width: 100%;
      height: 6em;
      table-layout: fixed;

      & > * {
        display: table-cell;
        vertical-align: middle;
      }
    }
  }

  .has-background, .has-fab {
    .card__header {
      width: 100%;
      max-height: 210px;
    }
  }

  .card__body-wrapper {
    padding: $notes-base-spacing;
  }

  sw-icon.card__icon {
    width: sw-spacing(4);
    max-width: sw-spacing(4);
    color: $c-grey-40;
    padding-right: sw-spacing(2);
  }
}

.card__header-link {
  display: block;

  &:focus {
    outline: dotted gray 1px;
  }
}

.card__header {
  // When there's a background, set an opaque overlay to support readability
  &::before {
    position: absolute;
    display: block;
    z-index: 1;
    pointer-events: none;
    width: 100%;
    height: 100%;
    transition: background ease-in-out .5s;
  }
}

.card__body {
  @include type-body();
  @include locale-based-hyphenation();
}

.card__actions {
  margin: ( -0.5 * $sw-button-padding-vertical ) ( -1 * $sw-button-padding-vertical );
  padding-top: ( $notes-base-spacing * 0.5);
}

.card__action-item {
  padding: ($sw-button-padding-vertical * 0.5) $sw-button-padding-vertical;
}

.card__label {
  vertical-align: middle;

  sw-icon {
    display: inline;
    margin-left: -0.2em;
    top: initial;
  }

  &, button {
    @include type-head4($line-height: $base--line-height-consensed);
  }

  button {
    text-align: left;
    padding: 0;
    white-space: normal;
  }
}

.card__label--over-body {
  margin-bottom: sw-spacing(1);

  a {
    @include type-head4();
    text-align: left;
    padding: 0;
    white-space: normal;
  }
}

.card__bg {
  position: relative;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding-top: percentage(9/16);
  z-index: 0;
}

.has-fab {
  .card__header {
    table-layout: initial;
    padding: 0px 0px;
    overflow: hidden;
  }

  .card__video-wrapper {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    width: 100%;
    text-align: center;
    z-index: 3;
    padding: $notes-base-spacing;
  }
}

.has-background {
  .card__header {
    padding: 0px 0px;
    overflow: hidden;

    // When there's a background, set an opaque overlay to support readability
    &::before {
      content: '';
      background: rgba(black, 0);
    }
  }

  a .card__header {
    &:hover::before {
      background: rgba(0, 0, 0, 0.1);
    }
  }
}
