<sw-grid-header *ngIf="title.length > 0" [properties]="_headerProps"></sw-grid-header>
<div class="notes__grid-layout" [attr.sw-alignment]="itemAlign">
  <sw-notes-item *ngFor="let i of _items" [properties]="i"></sw-notes-item>
</div>
