<div class="wrapper" [ngClass]="_wrapperClasses">
  <ng-container *ngIf="_hasUrl; then headerActionWrapper else headerCommon"></ng-container>
  <div *ngIf="body.length > 0" class="card__body-wrapper">
    <div *ngIf="label.length > 0 && _hasBackground" class="card__label card__label--over-body">
      <span *ngIf="!_hasUrl || _hasVideoUrl"  [innerHTML]="label"></span>
      <a *ngIf="_hasUrl && !_hasVideoUrl" sw-button color="primary" [href]="url" [swEval]="onclick" [target]="target">
        <span [innerHTML]="label"></span>
      </a>
    </div>
    <div class="card__body">
      <ng-container *ngFor="let p of _body">
        <ng-container [ngSwitch]="p.type">
          <ng-container *ngSwitchCase="'list'">
            <ng-container *ngTemplateOutlet="list; context:{ items: p.properties.items }"></ng-container>
          </ng-container>
          <p *ngSwitchCase="'paragraph'" [innerHTML]="p.properties.text"></p>
        </ng-container>
      </ng-container>
    </div>
    <div class="card__actions" *ngIf="actions.length > 0">
      <a class="card__action-item" sw-button
           *ngFor="let i of actions"
           [color]="_isDark ? 'invert' : 'primary'"
           [href]="i.url"
           [swEval]="i.onclick"
           [target]="i.target">
        <span [innerHTML]="i.label"></span>
      </a>
    </div>
  </div>
</div>

<ng-template #headerActionWrapper>
  <a class="card__header-link" [href]="url" (click)="_handleClick($event)" [swEval]="onclick" [target]="target || ''">
    <ng-container *ngTemplateOutlet="headerCommon"></ng-container>
  </a>
</ng-template>

<ng-template #headerCommon>
  <div class="card__header">
    <div class="card__bg" *ngIf="_hasBackground" [swBackgroundImage]="backgroundImage"></div>
    <ng-container *ngIf="(_hasVideoUrl || _validIconOverride); then videoHeader else regularHeader"></ng-container>
  </div>
</ng-template>

<ng-template #regularHeader>
  <sw-icon *ngIf="_shouldShowDots" size="sm" class="card__icon">dots_arrow_right</sw-icon>
  <div *ngIf="label.length > 0 && !_hasBackground" class="card__label">
    <span *ngIf="!_hasUrl"  [innerHTML]="label"></span>
    <button *ngIf="_hasUrl" sw-button [color]="_hasBackground || _isDark ? 'invert' : 'primary'" tabIndex="-1">
      <span [innerHTML]="label"></span>
    </button>
  </div>
</ng-template>

<ng-template #videoHeader>
  <div class="card__video-wrapper">
    <button sw-mini-fab tabIndex="-1">
      <sw-icon size="sm">{{ _validIconOverride ? iconOverride : 'play_arrow' }}</sw-icon>
    </button>
  </div>
</ng-template>

<ng-template #list let-items="items">
  <ul>
    <li *ngFor="let i of items">
      <span [innerHTML]="i.text"></span>
      <ng-container *ngIf="i.children.length > 0">
        <ng-container *ngTemplateOutlet="list; context:{ items: i.children }"></ng-container>
      </ng-container>
    </li>
  </ul>
</ng-template>
