@import '../../../styles/core/core-bundle';
@import '../../../styles/component/base/base-component';

$notes-base-spacing:24px;

:host{
  @include base-component-spacing;
  max-width: $base--page-max-width;
  margin-left: auto;
  margin-right: auto;
}

.notes-item-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $c-grey-lightest;
}

sw-notes-item-legacy {
  border-left: 1px solid white;
  border-right: 1px solid white;
}

sw-carousel {
  margin: 0 sw-spacing(-2);
}

.notes-header {
  display : inline-block;
}
.header-link{
  float : right;
  text-align: right;
  padding-top: 40px;
  padding-right: 35px;
  font-size: 16px;
}
.swmaterialicon {
  font-size: 16px !important;
}


:host-context([sw-variant="card"]) {

  .card__body-wrapper {
    padding: $notes-base-spacing;
  }

}

:host-context([sw-variant="simple"]) {

  .card__body-wrapper {
    padding: 0px;
    margin-top: 0.75rem;
  }

}

.card__body {
  @include type-body;
  @include locale-based-hyphenation;
  padding-top: 0px;
  padding-bottom: 24px;
  padding-left: 24px;
  padding-right: 60px;
}
