<ng-container *ngIf="body.length > 0">
  <div *ngIf="!_hasUrl" class="note__main note__main--content">
    <ng-container [ngTemplateOutlet]="cardInternals"></ng-container>
  </div>

  <a *ngIf="_hasUrl" class="note__main note__main--content"
      [href]="url"
      [swEval]="onclick"
      [target]="target || ''"
      (click)="_handleClick($event)">
    <ng-container [ngTemplateOutlet]="cardInternals"></ng-container>
  </a>

  <div *ngIf="actions.length > 0" class="note__footer">
    <a class="btn--footer" sw-button [color]="'primary'" *ngFor="let i of actions" [href]="i.url" [swEval]="i.onclick" [target]="i.target">
      <span [innerHTML]="i.label"></span>
    </a>
  </div>
</ng-container>

<ng-container *ngIf="body.length === 0">
  <div *ngIf="!_hasUrl" class="note__main note__main--video note__video note__background note__background--opaque"
      [swBackgroundImage]="backgroundImage">
    <div *ngIf="eyebrow.length > 0" class="note__eyebrow" [innerHTML]="eyebrow"></div>
    <h3 class="note__title" [innerHTML]="label"></h3>
    <button *ngIf="_hasVideoUrl || _validIconOverride" sw-mini-fab tabIndex="-1">
      <sw-icon size="sm">{{ _validIconOverride ? iconOverride : 'play_arrow' }}</sw-icon>
    </button>
  </div>

  <a *ngIf="_hasUrl" class="note__main note__main--video note__video note__background note__background--opaque"
      [swBackgroundImage]="backgroundImage"
      [href]="url"
      [swEval]="onclick"
      [target]="target || ''"
      (click)="_handleClick($event)">
    <div *ngIf="eyebrow.length > 0" class="note__eyebrow" [innerHTML]="eyebrow"></div>
    <h3 class="note__title" [innerHTML]="label"></h3>
    <button *ngIf="_hasVideoUrl || _validIconOverride" sw-mini-fab tabIndex="-1">
      <sw-icon size="sm">{{ _validIconOverride ? iconOverride : 'play_arrow' }}</sw-icon>
    </button>
  </a>
</ng-container>

<ng-template #cardInternals>
  <div *ngIf="_hasBackground" class="note__video note__background" [swBackgroundImage]="backgroundImage">
    <button *ngIf="_hasVideoUrl || _validIconOverride" sw-mini-fab tabIndex="-1">
      <sw-icon size="sm">{{ _validIconOverride ? iconOverride : 'play_arrow' }}</sw-icon>
    </button>
  </div>
  <div *ngIf="eyebrow.length > 0" class="note__eyebrow" [innerHTML]="eyebrow"></div>
  <h3 class="note__title" [innerHTML]="label"></h3>
  <div class="note__body">
    <ng-container *ngFor="let p of _body">
      <ng-container [ngSwitch]="p.type">
        <ng-container *ngSwitchCase="'list'">
          <ng-container *ngTemplateOutlet="list; context:{ items: p.properties.items }"></ng-container>
        </ng-container>
        <p *ngSwitchCase="'paragraph'" [innerHTML]="p.properties.text"></p>
      </ng-container>
    </ng-container>
    <div *ngIf="_hasUrl && callToAction.length > 0" class="note__body-action" [innerHTML]="callToAction"></div>
  </div>
</ng-template>

<ng-template #list let-items="items">
  <ul>
    <li *ngFor="let i of items">
      <span [innerHTML]="i.text"></span>
      <ng-container *ngIf="i.children.length > 0">
        <ng-container *ngTemplateOutlet="list; context:{ items: i.children }"></ng-container>
      </ng-container>
    </li>
  </ul>
</ng-template>
