.tables {
    @extend .component-bottom-spacing;

    position: relative;
    @include color-theme($theme-colors) {
        background-color: $value;
    }

    &__container {

        @include media-breakpoint-down(md) {
            overflow-x: scroll;
        }

        &__table {

            @-moz-document url-prefix() {
                border-collapse: separate !important;
            }

            $table: &;
            @include prefix-color-theme($theme-colors, 'alternate') {
                &.odd {
                    #{$table}__row:not(:first-child) {
                        #{$table}__row__column:nth-child(odd) {
                            background-color: $value;
                        }
                    }
                }
                &.even {
                    #{$table}__row:not(:first-child) {
                        #{$table}__row__column:nth-child(even) {
                            background-color: $value;
                        }
                    }
                }
            }

            @include prefix-color-theme($theme-colors, 'theme') {
                border-bottom: 2px solid $value;
            }

            &__row {
                $row: &;
                border-bottom: 1px solid $border-color;

                @include color-theme($theme-colors) {
                    #{$row}__column {
                        background-color: $value;
                    }
                }

                @include prefix-color-theme($theme-colors, 'border') {

                    border-bottom: 2px solid $value;

                    @-moz-document url-prefix() {
                        #{$row}__column {
                            border-bottom: 2px solid $value;
                        }
                    }
                }

                &:last-child {
                    border-bottom: 0;
                }

                &:first-child {
                    #{$row}__column {
                        border-left: 1px solid $silver;

                        &:first-child {
                            border-left: 0;
                        }
                    }
                }

                &__column {
                    @include prefix-color-theme($theme-colors, 'column') {
                        background-color: $value !important;
                    }

                    ul {
                        list-style: initial;
                        padding-left: 1.5rem;
                    }

                    .verticalText {
                        p {
                            transform: rotate(-180deg);
                            writing-mode: tb-rl;
                        }
                    }

                    &.border-right {
                        border-right: 1px solid $silver;
                    }


                    @-moz-document url-prefix() {
                        border-bottom: 1px solid $border-color;
                    }
                    @include media-breakpoint-down(md) {
                        p {
                            @include font-size(14);
                            line-height: 20px;
                        }
                        sup {
                            top: -0.4em;
                        }
                    }
                }
            }
        }
    }

    &__footnootes {
        margin-top: 0.5rem;
        @extend .extra-small;

        p {
            @extend .extra-small;
            margin-bottom: 0;
            color: $gray-dark;
        }
    }
}