<div class="colctl__container row">
  <div class="col-12 col-md-6" >
    <div data-sly-resource="${'col1' @ resourceType='wcm/foundation/components/parsys'}"
      class="colctl__items"></div>
  </div>
  
  <div class="col-12 col-md-6">
    <div data-sly-resource="${'col2' @ resourceType='wcm/foundation/components/parsys'}" 
      class="colctl__items"></div>
  </div>
</div>