.sticky {
    position: -webkit-sticky !important;
    position: sticky !important;
    top: 0 !important;
}

.solutionoverviewsticky {
    @extend .component-bottom-spacing;


    .cmp-solution-overview-sticky {

        .sos-container {

            max-width: 100%;
            padding: 30px 0;

            @include media-breakpoint-up(md) {
                padding: 0px 0;
            }

            .sticky-container {
                @extend .grid;
                overflow: unset;
                padding: 0;

                @include media-breakpoint-up(md) {
                    padding: 0 2em;
                }

                .right {
                    grid-column: 1/ -1;
                    padding-left: 0;
                    padding-right: 0;

                    position: relative;

                    @include media-breakpoint-up(md) {
                        grid-column: 6 / -1;
                    }


                    @include media-breakpoint-up(lg) {
                        grid-column: 7 / -1;
                    }

                    &.inline {

                        @include media-breakpoint-up(lg) {
                            grid-column: 8 / -1;
                        }
                    }

                    .container {
                        padding-right: 0;
                        padding-left: 0;

                        @include media-breakpoint-up(lg) {
                            padding-right: 2em;
                            padding-left: 2em;
                        }
                    }


                    .title {
                        @include font-size(36);
                        font-weight: normal;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: 1.11;
                        letter-spacing: -1.44px;
                        margin-bottom: 8px;
                        color: $black;

                        @include media-breakpoint-up(md) {
                            padding-top: 40px;
                            @include font-size(42);
                            line-height: 1;
                            letter-spacing: -1.68px;
                        }

                        @include media-breakpoint-up(lg) {
                            width: 79%;
                            padding-top: 104px;
                            @include font-size(58);
                            line-height: 1.09;
                            letter-spacing: -2.32px;
                        }

                        @include media-breakpoint-up(xl) {
                            width: 89%;
                            @include font-size(76);
                            line-height: 1;
                            letter-spacing: -3.04px;
                        }

                        a {
                            color: $black;
                        }

                    }

                    .subheading {
                        margin-bottom: 8px;
                        margin-top: 24px;

                        @include media-breakpoint-up(md) {
                            margin-bottom: 16px;
                            margin-top: 16px;

                        }

                    }

                    .desc {

                        @include font-size(16);
                        font-weight: normal;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: 1.44;
                        letter-spacing: -0.32px;
                        color: $gray-dark;
                        margin-bottom: 32px;

                        @include media-breakpoint-up(md) {
                            @include font-size(15);
                            line-height: 1.4;
                            letter-spacing: -0.3px;
                        }

                        @include media-breakpoint-up(lg) {
                            width: 80%;
                            @include font-size(18);
                            line-height: 1.44;
                            letter-spacing: -0.36px;
                        }

                        @include media-breakpoint-up(xl) {
                            @include font-size(18);
                            line-height: 1.44;
                            letter-spacing: -0.36px;
                        }

                        ul {
                            list-style: disc;
                            padding-left: 1rem;
                        }


                    }

                    .button-link {

                        @include font-size(17);
                        font-weight: bold;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: 1.12;
                        letter-spacing: normal;
                        max-width: 100%;


                        @include media-breakpoint-up(md) {
                            @include font-size(17);
                            line-height: 1.12;
                        }

                        button {
                            padding-left: 34px;
                            padding-right: 34px;

                            @include media-breakpoint-up(md) {
                                padding-left: 15px;
                                padding-right: 15px;
                            }

                            @include media-breakpoint-up(lg) {
                                padding-left: 34px;
                                padding-right: 34px;
                            }
                        }

                    }

                    .drop-cmp-container {

                        max-width: 100%;
                        margin-top: 47px;

                        @include media-breakpoint-up(md) {
                            margin-top: 101px;
                        }

                        .gartnerboilerplate {
                            margin-left: -4rem;
                            margin-right: -4rem;
                        }

                        .primarypromo {

                            margin-right: -2em;
                            margin-left: -2em;

                            @include media-breakpoint-up(md) {
                                --column-width: calc((#{get-column-width(md)} / 2));
                                margin-left: calc(var(--column-width) - var(--column-width) * 1.8 - 2em);
                                margin-right: -2em;
                            }

                            @include media-breakpoint-up(lg) {
                                --column-width: calc((#{get-column-width(lg)} / 2));
                                margin-left: calc(var(--column-width) - var(--column-width) * 2 - 2em);
                            }
                        }

                        .textdescription {
                            grid-template-columns: auto;
                            margin: 0;
                            padding: 0;
                            grid-column-gap: inherit;



                            @include media-breakpoint-up(lg) {
                                grid-template-columns: repeat(5, 1fr);
                            }

                            &>div {
                                @include media-breakpoint-up(lg) {
                                    grid-column: 1/ span 4;
                                }
                            }
                        }
                    }

                }

                .left {
                    grid-column: 1/ -1;
                    margin-left: -2em;
                    margin-right: -2em;
                    padding-bottom: 30px;

                    @include media-breakpoint-up(md) {
                        margin-right: 0;
                        grid-column: 1 / span 5;
                        padding-right: calc(#{get-column-width(md)} / 2);
                        padding-bottom: 0;
                    }

                    @include media-breakpoint-up(lg) {
                        grid-column: 1/ span 6;
                        padding-right: calc(#{get-column-width(lg)} / 2);
                    }

                    &.inline {

                        @include media-breakpoint-up(lg) {
                            grid-column: 1 / 8;
                        }
                    }

                    .container {
                        position: relative;
                        max-width: inherit;

                    }


                    .media {

                        .img-vid {
                            width: 100%;
                            max-width: 100%;
                        }

                        .play-icon {
                            z-index: 999;
                            @include font-size(40);
                            position: absolute;
                            bottom: 0;
                            right: 1rem;

                            @include media-breakpoint-up(lg) {
                                @include font-size(70);
                            }

                            @include media-breakpoint-up(xl) {
                                @include font-size(94);
                            }

                            .icon-play-btn, .icon-play-btn-hover {
                                position: initial;

                                .path1,
                                .path2 {
                                    position: absolute;
                                    bottom: 1rem;
                                    right: 1rem;
                                }
                                .path2 {
                                    &:before {
                                        margin-left: 0 !important;
                                    }
                                }
                            }
                        }

                        .close-icon {
                            z-index: 999;
                            @include font-size(40);
                            position: absolute;
                            display: none;

                            @include media-breakpoint-up(md) {
                                right: 1rem;
                            }

                            @include media-breakpoint-up(lg) {
                                @include font-size(70);
                                right: 1rem;
                            }

                            @include media-breakpoint-up(xl) {
                                @include font-size(94);
                                right: 1rem;
                            }
                        }

                        .juniper-icon {

                            background-color: $white;
                            border-radius: 50%;

                            span:nth-child(2) {
                                margin-left: -1.1rem;

                                @include media-breakpoint-up(lg) {
                                    margin-left: -2rem;
                                }

                                @include media-breakpoint-up(xl) {
                                    margin-left: -2.9rem;
                                }

                            }

                            &.grey {
                                background-color: $gray-dark !important;
                            }
                        }

                        .video-container {

                            display: none;
                            height: 100%;
                            max-height: 600px;
                            width: 100%;


                            @include media-breakpoint-up(sm) {
                                height: 375px;
                            }

                            @include media-breakpoint-up(md) {
                                height: 100%;
                            }

                            overflow: hidden;
                            position: relative;
                            width: 100%;

                            &:after {

                                padding-top: 56.25%;
                                display: block;
                                content: '';

                            }

                            iframe {

                                width: 100%;
                                height: 100%;

                                position: absolute;
                                top: 0;
                                left: 0;
                                z-index: 99;


                            }
                        }

                    }
                }
            }

        }

        // container to play video fullscreen
        .modal {

            .modal-dialog {

                .pfh-player-container {

                    .video-container {

                        height: 100%;
                        max-height: 100%;
                        width: 100%;
                        max-width: 100%;


                        @include media-breakpoint-up(sm) {
                            height: 375px;
                        }

                        @include media-breakpoint-up(md) {
                            height: 100%;
                        }

                        overflow: hidden;
                        position: relative;
                        width: 100%;

                        &:after {

                            padding-top: 56.25%;
                            display: block;
                            content: '';

                        }

                        iframe {

                            width: 100%;
                            height: 100%;

                            position: absolute;
                            top: 0;
                            left: 0;


                        }
                    }

                    .close-icon {
                        z-index: 999;
                        @include font-size(40);
                        position: absolute;

                        @include media-breakpoint-up(lg) {
                            @include font-size(70);
                        }

                        @include media-breakpoint-up(xl) {
                            @include font-size(94);
                        }
                    }

                    .juniper-icon {

                        background-color: $white;
                        border-radius: 50%;

                        span:nth-child(2) {
                            margin-left: -1.1rem;

                            @include media-breakpoint-up(lg) {
                                margin-left: -2rem;
                            }

                            @include media-breakpoint-up(xl) {
                                margin-left: -2.9rem;
                            }

                        }
                    }

                }

            }
        }

        //modal end

    }

}