// Button
//
// Buttons can and should be clicked.
//
// Markup:
// <button class="juniper-btn juniper-btn{{modifier_class}}">Primary button</button>
//
// --green  - Green button.
// --black  - Black button.
// --white  - White button.
// --grey-border  - Grey border button.
// --link  - link button.
//
// Styleguide Utils.button
.juniper-btn {
	color: $white !important;
	@include lato-regular;
	@include font-size(17);
	line-height: 1.12;
	padding: 16px 34px;
	background: linear-gradient(to right, $black 50%, $dark-green 50%);
	background-size: 200% 100%;
	background-position: right bottom;
	transition: all .5s ease-out;
	border: 0;
	position: relative;
	font-weight: bold;
    display: inline-block;
    min-height: 52px;

	&--small {
		padding: 10px 21px;
	}

	&:focus {
		outline: 0;
	}

	&:hover {
		background-position: left bottom;
		color: $white !important;
	}

	&--green {
		background: linear-gradient(to right, $black 50%, $dark-green 50%);
		background-size: 201% 100%;
		background-position: right bottom;
	}

	&--green-button {
		background: linear-gradient(to right, $black 50%, $dark-green-button 50%);
		background-size: 201% 100%;
		background-position: right bottom;
	}

	&--black {
		background: linear-gradient(to right, $dark-green 50%, $black 50%);
		background-size: 201% 100%;
		background-position: right bottom;

		&.disabled{
			background: lighten( $black, 60% )!important;
			background-position: initial;

			&:hover {
				background-position: initial;
			}
		}
	}

	&--white {
		background: $white;
		background: linear-gradient(to right, $black 50%, $white 50%);
		background-size: 201% 100%;
		background-position: right bottom;
		color: $black !important;
	}

	&--soft-gray {
		background: $soft-gray;
		background: linear-gradient(to right, $black 50%, $soft-gray 50%);
		background-size: 201% 100%;
		background-position: right bottom;
		color: $black !important;
	}

	&--grey-border {
		background: $white;
		color: $gray-light !important;
		border: 1px solid $grey-border;

		&:hover {
			background: $white;
			color: $black !important;
			border: 1px solid $black;
		}

		&.disabled{
			background: $grey-border;
			background-position: initial;
		}
	}

	&--link {
		@include font-size(16);
		line-height: 33px;
		color: $black !important;
		background: none;
		padding: 0 0 5px 0;
		letter-spacing: -0.16px;
		min-height: auto;

		&:after {
			content: '';
			position: absolute;
			width: 0;
			height: 2px;
			bottom: 0;
			left: 0;
			background-color: $black;
			z-index: 1;
			transition: all 1s;
		}

		&:hover {
			background-position: unset;
			color: $black !important;

			&:after {
				width: 100%;
			}
		}
	}

	&.disabled{
		background: lighten( $dark-green, 90% );
		background-position: initial;
	}
}


.link-animation {
	&:after {
		content: '';
		position: absolute;
		width: 0;
		height: 2px;
		bottom: -4px;
		left: 0;
		background-color: $white;
		z-index: 1;
		transition: all 1s;
	}

	&:hover {
		background-position: unset;
		color: inherit !important;

		&:after {
			width: 100%;
		}
	}
    &--header {
        text-decoration: none;
        background-image: linear-gradient($black, $black);
        background-position: 0% 100%;
        background-repeat: no-repeat;
        background-size: 0% 2px;
        transition: all 1s;
        color: inherit;
        &:hover {
            text-decoration: none;
            background-size: 100% 2px;
            color: $black;
        }
    }
}