$font-folder: '/etc.clientlibs/juniper/clientlibs/clientlib-site/resources/fonts';
/* Webfont: Lato-Black */
@font-face {
	font-family: 'lato-black';
	src: url('#{$font-folder}/lato/Lato-Black.eot'); /* IE9 Compat Modes */
	src: url('#{$font-folder}/lato/Lato-Black.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('#{$font-folder}/lato/Lato-Black.woff2') format('woff2'), /* Modern Browsers */
	url('#{$font-folder}/lato/Lato-Black.woff') format('woff'), /* Modern Browsers */
	url('#{$font-folder}/lato/Lato-Black.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
	text-rendering: optimizeLegibility;
}

/* Webfont: Lato-Bold */
@font-face {
	font-family: 'lato-bold';
	src: url('#{$font-folder}/lato/Lato-Bold.eot'); /* IE9 Compat Modes */
	src: url('#{$font-folder}/lato/Lato-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('#{$font-folder}/lato/Lato-Bold.woff2') format('woff2'), /* Modern Browsers */
	url('#{$font-folder}/lato/Lato-Bold.woff') format('woff'), /* Modern Browsers */
	url('#{$font-folder}/lato/Lato-Bold.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
	text-rendering: optimizeLegibility;
}

/* Webfont: Lato-Regular */
@font-face {
	font-family: 'lato-regular';
	src: url('#{$font-folder}/lato/Lato-Regular.eot'); /* IE9 Compat Modes */
	src: url('#{$font-folder}/lato/Lato-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('#{$font-folder}/lato/Lato-Regular.woff2') format('woff2'), /* Modern Browsers */
	url('#{$font-folder}/lato/Lato-Regular.woff') format('woff'), /* Modern Browsers */
	url('#{$font-folder}/lato/Lato-Regular.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
	text-rendering: optimizeLegibility;
}

// Mixins
@mixin lato-regular {
	font-family: 'lato-regular', Arial, Helvetica, sans-serif;
}

@mixin lato-bold {
	font-family: 'lato-bold', Arial, Helvetica, sans-serif;
}

@mixin lato-black {
	font-family: 'lato-black', Arial, Helvetica, sans-serif;
}


%lato-regular,
.lato-regular {
	@include lato-regular;
}

%lato-bold,
.lato-bold {
	@include lato-bold;
}

%lato-black,
.lato-black {
	@include lato-black;
}