// Custom functions for sass files

// Custom Size function
// Width and height with break points
@each $breakpoint in map-keys($grid-breakpoints) {
	@include media-breakpoint-up($breakpoint) {
		$infix: breakpoint-infix($breakpoint, $grid-breakpoints);
		@each $prop, $abbrev in (width: w, height: h) {
			@each $size, $length in $sizes {
				.#{$abbrev}#{$infix}-#{$size} {
					#{$prop}: $length !important;
				}
			}
		}
	}
}

@each $breakpoint in map-keys($grid-breakpoints) {
	@include media-breakpoint-up($breakpoint) {
		$infix: breakpoint-infix($breakpoint, $grid-breakpoints);
		@each $prop, $abbrev in (max-width: w, max-height: h) {
			@each $size, $length in $sizes {
				.max-#{$abbrev}#{$infix}-#{$size} {
					#{$prop}: $length !important;
				}
			}
		}
	}
}

// Custom viewport size function
// Width and height with break points with viewport support
@each $breakpoint in map-keys($grid-breakpoints) {
	@include media-breakpoint-up($breakpoint) {
		$infix: breakpoint-infix($breakpoint, $grid-breakpoints);
		@each $prop, $abbrev in (width: w, height: h) {
			@each $size, $length in $sizes {
				.v#{$abbrev}#{$infix}-#{$size} {
					#{$prop}: #{$size}v#{$abbrev} !important;
				}
			}
		}
	}
}

@each $breakpoint in map-keys($grid-breakpoints) {
	@include media-breakpoint-up($breakpoint) {
		$infix: breakpoint-infix($breakpoint, $grid-breakpoints);
		@each $prop, $abbrev in (max-width: w, max-height: h) {
			@each $size, $length in $sizes {
				.max-v#{$abbrev}#{$infix}-#{$size} {
					#{$prop}: #{$size}v#{$abbrev} !important;
				}
			}
		}
	}
}

// Custom color function
@each $color, $value in $colors {
	@include color-variant('.c-#{$color}', $value);
}

@each $gray, $value in $grays {
	@include color-variant('.c-gray-#{$gray}', $value);
}



// Custom Size function for icons in REM with $spacers array
// Width and height for icons with break points
@each $breakpoint in map-keys($grid-breakpoints) {
	@include media-breakpoint-up($breakpoint) {
		$infix: breakpoint-infix($breakpoint, $grid-breakpoints);
		@each $prop, $abbrev in (font-size: icon-size) {
			@each $sp, $length in $spacers {
				.#{$abbrev}#{$infix}-#{$sp} {
					#{$prop}: $length !important;
				}
			}
		}
	}
}

// Obtain max width for specific breakpoint
@function get-breakpoints($key: "md") {
    @return map-get($container-max-widths, $key);
}

// Obtain grid's column width for specific breakpoint
@function get-column-width($key: "md") {
    @return calc(
        (
            (
                100vw
                - (#{map-get($custom-grid-columns, $key)} - 1) * #{map-get($custom-grid-column-gap, $key)} )
                - #{$grid-side-margin} * 2
            )
            / #{map-get($custom-grid-columns, $key)}
        );
}







