.grid {
    display: grid;
    grid-column-gap: map-get($custom-grid-column-gap, "sm");
    padding: 0 $grid-side-margin;
    overflow: auto;
    grid-template-columns: repeat(#{map-get($custom-grid-columns, "sm")}, 1fr);
    @include media-breakpoint-up(md) {
        grid-column-gap: map-get($custom-grid-column-gap, "md");
        grid-template-columns: repeat(#{map-get($custom-grid-columns, "md")}, 1fr);
    }
    @include media-breakpoint-up(lg) {
        grid-column-gap: map-get($custom-grid-column-gap, "lg");
        grid-template-columns: repeat(#{map-get($custom-grid-columns, "lg")}, 1fr);
    }
}


.content-grid-9 {
    @include media-breakpoint-down(md) {
        grid-column: 1/5;
    }
    @include media-breakpoint-up(md) {
        grid-column: 1/10;
    }
    @include media-breakpoint-up(lg) {
        grid-column: 2/9;
    }
}
.content-grid-11 {
    @include media-breakpoint-down(md) {
        grid-column: 1/5;
    }
    @include media-breakpoint-up(md) {
        grid-column: 1/10;
    }
    @include media-breakpoint-up(lg) {
        grid-column: 2/11;
    }
}