$juniper-icon-font-family: "juniper" !default;
$juniper-icon-font-path: "/etc.clientlibs/juniper/clientlibs/clientlib-site/resources/fonts" !default;

$icon-demand-report: "\e937";
$icon-demand-video: "\e938";
$icon-demand-guide: "\e939";
$icon-log-out: "\e936";
$icon-calendar: "\e932";
$icon-contact: "\e933";
$icon-lock: "\e934";
$icon-login: "\e935";
$icon-close-modal: "\e930";
$icon-filter: "\e925";
$icon-link-up-download: "\e926";
$icon-link-secondary: "\e927";
$icon-link-inpage: "\e928";
$icon-link-download: "\e929";
$icon-link-external: "\e92a";
$icon-link-pdf: "\e92b";
$icon-link-audio: "\e92c";
$icon-link-video: "\e92d";
$icon-link-offsite: "\e92e";
$icon-link-slides: "\e92f";
$icon-ln-footer: "\e922";
$icon-twitter-footer: "\e923";
$icon-facebook-footer: "\e924";
$icon-instagram: "\e920";
$icon-youtube: "\e921";
$icon-menu: "\e91f";
$icon-arrow-down: "\e91e";
$icon-search: "\e91d";
$icon-language-selector: "\e91a";
$icon-log-in: "\e91b";
$icon-contact-us: "\e91c";
$icon-icons-solution-path1: "\e90c";
$icon-icons-solution-path2: "\e90d";
$icon-icons-solution-path3: "\e90e";
$icon-icons-promo-path1: "\e911";
$icon-icons-promo-path2: "\e912";
$icon-icons-outcome: "\e913";
$icon-icons-challenge: "\e919";
$icon-minus-button-large: "\e906";
$icon-plus-button-large: "\e907";
$icon-right: "\e908";
$icon-left: "\e909";
$icon-enlarge-button: "\e90a";
$icon-arrow: "\e90b";
$icon-play-btn-path1: "\e900";
$icon-play-btn-path2: "\e901";
$icon-play-btn-hover-path1: "\e902";
$icon-play-btn-hover-path2: "\e903";
$icon-pause-btn-hover-path1: "\e904";
$icon-pause-btn-hover-path2: "\e905";
$icon-pause-btn-path1: "\e90f";
$icon-pause-btn-path2: "\e910";
$icon-facebook: "\e914";
$icon-twitter: "\e915";
$icon-ln: "\e916";
$icon-mailbox: "\e917";
$icon-close: "\e918";
$icon-check: "\e931";



@font-face {
	font-family: '#{$juniper-icon-font-family}';
	src:  url('#{$juniper-icon-font-path}/#{$juniper-icon-font-family}.eot?9rqzpv');
	src:  url('#{$juniper-icon-font-path}/#{$juniper-icon-font-family}.eot?9rqzpv#iefix') format('embedded-opentype'),
	url('#{$juniper-icon-font-path}/#{$juniper-icon-font-family}.ttf?9rqzpv') format('truetype'),
	url('#{$juniper-icon-font-path}/#{$juniper-icon-font-family}.woff?9rqzpv') format('woff'),
	url('#{$juniper-icon-font-path}/#{$juniper-icon-font-family}.svg?9rqzpv##{$juniper-icon-font-family}') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

.juniper-icon {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: '#{$juniper-icon-font-family}' !important;
	speak: never;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	color: inherit;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

// Icon Report
//
//
// Markup:
// <span class="juniper-icon icon-demand-report"></span>
//
// Styleguide Icons.Report

.icon-demand-report {
	&:before {
		content: $icon-demand-report;

	}
}

// Icon Video
//
//
// Markup:
// <span class="juniper-icon icon-demand-video"></span>
//
// Styleguide Icons.Video
.icon-demand-video {
	&:before {
		content: $icon-demand-video;
	}
}

// Icon Guide
//
//
// Markup:
// <span class="juniper-icon icon-demand-guide"></span>
//
// Styleguide Icons.Guide
.icon-demand-guide {
	&:before {
		content: $icon-demand-guide;
	}
}


// Icon Calendar
//
//
// Markup:
// <span class="juniper-icon icon-calendar"></span>
//
// Styleguide Icons.Calendar
.icon-calendar {
	&:before {
		content: $icon-calendar;
	}
}

// Icon Contact
//
//
// Markup:
// <span class="juniper-icon icon-contact"></span>
//
// Styleguide Icons.Contact
.icon-contact {
	&:before {
		content: $icon-contact;
	}
}

// Icon Lock
//
//
// Markup:
// <span class="juniper-icon icon-lock"></span>
//
// Styleguide Icons.Lock
.icon-lock {
	&:before {
		content: $icon-lock;
	}
}

// Icon Login
//
//
// Markup:
// <span class="juniper-icon icon-login"></span>
//
// Styleguide Icons.Login

.icon-login {
	&:before {
		content: $icon-login;
	}
}

// Icon Log Out
//
//
// Markup:
// <span class="juniper-icon icon-log-out"></span>
//
// Styleguide Icons.LogOut

.icon-log-out {
	&:before {
		content: $icon-log-out;
	}
}

// Icon Close modal
//
//
// Markup:
// <span class="juniper-icon icon-close"></span>
//
// Styleguide Icons.CloseModal
.icon-close-modal {
	&:before {
		content: $icon-close-modal;
		color: $gray-dark;
	}
}

// Icon Filter
//
//
// Markup:
// <span class="juniper-icon icon-filter"></span>
//
// Styleguide Icons.Filter

.icon-filter {
	&:before {
		content: $icon-filter;
	}
}

// Icon Link Up Download
//
//
// Markup:
// <span class="juniper-icon icon-link-up-download"></span>
//
// Styleguide Icons.IconLinkUpDownload


.icon-link-up-download {
	&:before {
		content: $icon-link-up-download;
	}
}

// Icon Link Secondary
//
//
// Markup:
// <span class="juniper-icon icon-link-secondary"></span>
//
// Styleguide Icons.IconLinkSecondary

.icon-link-secondary {
	&:before {
		content: $icon-link-secondary;
	}
}

// Icon Link Inpage
//
//
// Markup:
// <span class="juniper-icon icon-link-inpage"></span>
//
// Styleguide Icons.IconInPage

.icon-link-inpage {
	&:before {
		content: $icon-link-inpage;
	}
}

// Icon Link Download
//
//
// Markup:
// <span class="juniper-icon icon-link-download"></span>
//
// Styleguide Icons.IconLinkDownload

.icon-link-download {
	&:before {
		content: $icon-link-download;
	}
}


// Icon Link External
//
//
// Markup:
// <span class="juniper-icon icon-link-external"></span>
//
// Styleguide Icons.IconLinkExternal

.icon-link-external {
	&:before {
		content: $icon-link-external;
	}
}


// Icon Link PDF
//
//
// Markup:
// <span class="juniper-icon icon-link-pdf"></span>
//
// Styleguide Icons.IconLinkPdf

.icon-link-pdf {
	&:before {
		content: $icon-link-pdf;
	}
}


// Icon Link Audio
//
//
// Markup:
// <span class="juniper-icon icon-link-audio"></span>
//
// Styleguide Icons.IconLinkAudio

.icon-link-audio {
	&:before {
		content: $icon-link-audio;
	}
}

// Icon Link Video
//
//
// Markup:
// <span class="juniper-icon icon-link-video"></span>
//
// Styleguide Icons.IconLinkVideo

.icon-link-video {
	&:before {
		content: $icon-link-video;
	}
}

// Icon Link OffSite
//
//
// Markup:
// <span class="juniper-icon icon-link-offsite"></span>
//
// Styleguide Icons.IconLinOffSite

.icon-link-offsite {
	&:before {
		content: $icon-link-offsite;
	}
}

// Icon Link Slides
//
//
// Markup:
// <span class="juniper-icon icon-link-slides"></span>
//
// Styleguide Icons.IconLinkSlides

.icon-link-slides {
	&:before {
		content: $icon-link-slides;
	}
}


// Icon Menu
//
//
// Markup:
// <span class="juniper-icon icon-menu"></span>
//
// Styleguide Icons.Menu

.icon-menu {
	&:before {
		content: $icon-menu;
	}
}


// Icon Arrow Down
//
//
// Markup:
// <span class="juniper-icon icon-arrow-down"></span>
//
// Styleguide Icons.ArrowDown

.icon-arrow-down {
	&:before {
		content: $icon-arrow-down;
	}
}

// Icon Arrow Up
//
//
// Markup:
// <span class="juniper-icon icon-arrow-up"></span>
//
// Styleguide Icons.ArrowUp

.icon-arrow-up {
	&:before {
		content: $icon-arrow-down;
		position: absolute;
        transform: rotate(180deg) translateX(1.5em);
	}
}

// Icon Search
//
//
// Markup:
// <span class="juniper-icon icon-search"></span>
//
// Styleguide Icons.Search

.icon-search {

	&:before {
		content: $icon-search;
	}
}

// Icon Language Selector
//
//
// Markup:
// <span class="juniper-icon icon-language-selector"></span>
//
// Styleguide Icons.IconLanguageSelector

.icon-language-selector {

	&:before {
		content: $icon-language-selector;
	}
}

// Icon Log In
//
//
// Markup:
// <span class="juniper-icon icon-log-in"></span>
//
// Styleguide Icons.IconLogIn
.icon-log-in {

	&:before {
		content: $icon-log-in;
	}
}

// Icon Contact US
//
//
// Markup:
// <span class="juniper-icon icon-contact-us"></span>
//
// Styleguide Icons.IconContactUs
.icon-contact-us {

	&:before {
		content: $icon-contact-us;
	}
}

.icon-linkedin-footer {
	&:before {
		content: $icon-ln-footer;
		color: #f0f3f5;
	}
}
.icon-twitter-footer {
	&:before {
		content: $icon-twitter-footer;
		color: #f0f3f5;
	}
}
.icon-facebook-footer {
	&:before {
		content: $icon-facebook-footer;
		color: #f0f3f5;
	}
}
.icon-instagram-footer {
	&:before {
		content: $icon-instagram;
		color: #f0f3f5;
	}
}
.icon-youtube-footer {
	&:before {
		content: $icon-youtube;
		color: #f0f3f5;
	}
}

// Icon solution
//
//
// Markup:
// <span class="juniper-icon icon-solution"><span class="path1"></span><span class="path2"></span><span class="path3"></span></span>
//
// Styleguide Icons.IconSolution

.icon-solution .path1 {
	&:before {
		content: $icon-icons-solution-path1;
		color: rgb(0, 150, 164);
	}
}
.icon-solution .path2 {
	&:before {
		content: $icon-icons-solution-path2;
		margin-left: -1.0830078125em;
		color: rgb(0, 150, 164);
		position: absolute;
	}
}
.icon-solution .path3 {
	&:before {
		content: $icon-icons-solution-path3;
		margin-left: -1.0830078125em;
		color: rgb(255, 255, 255);
		position: absolute;
	}
}

// Icon Promo
//
//
// Markup:
// <span class="juniper-icon icon-promo"><span class="path1"></span><span class="path2"></span></span>
//
// Styleguide Icons.IconPromo
.icon-promo{
	display: grid;
}
.icon-promo .path1 {
	grid-row: 1;
	&:before {
		content: $icon-icons-promo-path1;
		color: rgb(0, 150, 164);
		opacity: 0.3;
	}
}
.icon-promo .path2 {
	grid-row: 1;
	&:before {
		content: $icon-icons-promo-path2;
		margin-left: -1.00em;
		color: rgb(0, 150, 164);
		position: absolute;
	}
}

// Icon Outcome
//
//
// Markup:
// <span class="juniper-icon icon-outcome"></span>
//
// Styleguide Icons.IconOutCome
.icon-outcome {
	&:before {
		content: $icon-icons-outcome;
		color: #0096a4;
	}
}


// Icon challenge
//
//
// Markup:
// <span class="juniper-icon icon-challenge"></span>
//
// Styleguide Icons.iconChallenge
.icon-challenge {
	&:before {
		content: $icon-icons-challenge;
		color: #0096a4;
	}
}

// Icon Minus button
//
//
// Markup:
// <span class="juniper-icon icon-minus"></span>
//
// Styleguide Icons.iconMinus
.icon-minus {
	&:before {
		content: $icon-minus-button-large;
		color: $gray-dark;
	}
	&:hover{
		&:before {
			color: $black;
		}
	}
	&.disabled{
		color: $gray-light;
		&:hover{
			&:before {
				color: $gray-light;
			}
		}
	}
}

// Icon Plus button
//
//
// Markup:
// <span class="juniper-icon icon-plus"></span>
//
// Styleguide Icons.iconPlus
.icon-plus {
	&:before {
		content: $icon-plus-button-large;
		color: $gray-dark;
	}
	&:hover{
		&:before {
			color: $black;
		}
	}
	&.disabled{
		&:before {
			color: $grey-border!important;
		}
		&:hover{
			&:before {
				color: $grey-border!important;
			}
		}
	}
}

// Icon right
//
//
// Markup:
// <span class="juniper-icon icon-right"></span>
//
// Styleguide Icons.right
.icon-right {
	cursor: pointer;
	&:before {
		content: $icon-right;
		color: $gray-dark;
	}
	&:hover{
		&:before {
			color: $black;
		}
	}
}

// Icon left
//
//
// Markup:
// <span class="juniper-icon icon-left"></span>
//
// Styleguide Icons.left
.icon-left {
	cursor: pointer;
	&:before {
		content: $icon-left;
		color: $gray-dark;
	}
	&:hover{
		&:before {
			color: $black;
		}
	}
}

// Icon enlarge button
//
//
// Markup:
// <span class="juniper-icon icon-enlarge-button"></span>
//
// Styleguide Icons.enlargebutton
.icon-enlarge-button {
	cursor: pointer;
	&:before {
		content: $icon-enlarge-button;
		color: $gray-dark;
	}
	&:hover{
		&:before {
			color: $black;
		}
	}
}

// Icon arrow
//
//
// Markup:
// <span class="juniper-icon icon-arrow"></span>
//
// Styleguide Icons.arrow
.icon-arrow {
	&:before {
		content: $icon-arrow;
	}
}

// Icon arrow left
//
//
// Markup:
// <span class="juniper-icon icon-arrow-left"></span>
//
// Styleguide Icons.arrow-left
.icon-arrow-left {
	&:before {
		content: $icon-arrow;
		position: absolute;
        transform: rotate(180deg) translateY(calc(1em/2*-1));
	}
}

// Icon Play
//
//
// Markup:
// <span class="juniper-icon icon-play-btn"><span class="path1"></span><span class="path2"></span></span>
//
// Styleguide Icons.PLay
.icon-play-btn .path1 {
	&:before {
		content: $icon-play-btn-path1;
		color: rgb(255, 255, 255);
	}
}
.icon-play-btn .path2 {
	&:before {
		content: $icon-play-btn-path2;
		margin-left: -1em;
		color: rgb(77, 82, 89);
	}
}


// Icon Play hover
//
//
// Markup:
// <span class="juniper-icon icon-play-btn-hover"><span class="path1"></span><span class="path2"></span></span>
//
// Styleguide Icons.PLayHover
.icon-play-btn-hover .path1 {
	&:before {
		content: $icon-play-btn-hover-path1;
		color: rgb(77, 82, 89);
	}
}
.icon-play-btn-hover .path2 {
	&:before {
		content: $icon-play-btn-hover-path2;
		margin-left: -1em;
		color: rgb(255, 255, 255);
	}
}

// Icon Pause
//
//
// Markup:
// <span class="juniper-icon icon-pause-btn"><span class="path1"></span><span class="path2"></span></span>
//
// Styleguide Icons.Pause
.icon-pause-btn .path1 {
	&:before {
		content: $icon-pause-btn-path1;
		color: rgb(255, 255, 255);
	}
}
.icon-pause-btn .path2 {
	&:before {
		content: $icon-pause-btn-path2;
		margin-left: -1em;
		color: rgb(77, 82, 89);
	}
}

// Icon Pause Hover
//
//
// Markup:
// <span class="juniper-icon icon-pause-btn-hover"><span class="path1"></span><span class="path2"></span></span>
//
// Styleguide Icons.PauseHover
.icon-pause-btn-hover .path1 {
	&:before {
		content: $icon-pause-btn-hover-path1;
		color: rgb(77, 82, 89);
	}
}
.icon-pause-btn-hover .path2 {
	&:before {
		content: $icon-pause-btn-hover-path2;
		margin-left: -1em;
		color: rgb(255, 255, 255);
	}
}


// Icon facebook
//
//
// Markup:
// <span class="juniper-icon icon-facebook"></span>
//
// Styleguide Icons.facebook
.icon-facebook {
	&:before {
		content: $icon-facebook;
		color: $gray-dark;
	}
}

// Icon twitter
//
//
// Markup:
// <span class="juniper-icon icon-twitter"></span>
//
// Styleguide Icons.twitter
.icon-twitter {
	&:before {
		content: $icon-twitter;
		color: $gray-dark;
	}
	&:hover{
		&:before {
			color: $black;
		}
	}
}

// Icon linkedin
//
//
// Markup:
// <span class="juniper-icon icon-ln"></span>
//
// Styleguide Icons.linkedin
.icon-ln {
	&:before {
		content: $icon-ln;
		color: $gray-dark;
	}
}

// Icon Mail
//
//
// Markup:
// <span class="juniper-icon icon-mailbox"></span>
//
// Styleguide Icons.mailbox
.icon-mailbox {
	&:before {
		content: $icon-mailbox;
		color: $gray-dark;
	}
	&:hover{
		&:before {
			color: $black;
		}
	}
}

// Icon Close
//
//
// Markup:
// <span class="juniper-icon icon-close"></span>
//
// Styleguide Icons.Close
.icon-close {
	&:before {
		content: $icon-close;
		color: $gray-dark;
	}
	&:hover{
		&:before {
			color: $black;
		}
	}
}

// Icon Check
//
//
// Markup:
// <span class="juniper-icon icon-check"></span>
//
// Styleguide Icons.Check
.icon-check {
	&:before {
		content: $icon-check;
	}
}
