@mixin font-size($size, $base: 16) {
	font-size: '#{$size}px'; // fallback for old browsers
	font-size: ($size / $base) * 1rem;
}


@mixin color-variant($parent, $color) {
	#{$parent} {
		color: $color !important;
	}
}

@mixin color-theme($themes-map) {
	@each $theme, $map in $themes-map {
		&.c-theme-#{$theme} {
			$theme-map: () !global;
			@each $key, $submap in $map {
				$value: map-get($themes-map, $theme) !global;
				$theme: $theme !global;
			}
			@content;
		}
	}
}

@mixin prefix-color-theme($themes-map,$prefix) {
	@each $theme, $map in $themes-map {
		&.#{$prefix}-c-theme-#{$theme} {
			$theme-map: () !global;
			@each $key, $submap in $map {
				$value: map-get($themes-map, $theme) !global;
			}
			@content;
		}
	}
}

@mixin modifier-bg-color($themes-map) {
	@each $theme, $map in $themes-map {
		&--#{$theme} {
			$theme-map: () !global;
			@each $key, $submap in $map {
				$value: map-get($themes-map, $theme) !global;
			}
			@content;
		}
	}
}
