.tags {
    .tag {
        @include lato-regular;
        @include font-size(14);
        line-height: 1.57;
        letter-spacing: -0.28px;
        color: $gray-dark;
        padding: 5px 9px;
        cursor: pointer;
        display: inline-flex;
        align-items: center;
        text-transform: none;


        @include modifier-bg-color($theme-colors) {
            background-color: $value;
        }

        &:hover {
            color: $white;
            background-color: $gray-dark !important;

            .icon-close {
                &:before {
                    color: $white;
                }
            }
        }

        .icon-close {
            @include font-size(16);
        }
    }
}