// H1
//
// Use this class for a H1
//
// Markup:
// <h1 class="h1">Title </h1>
//
// Styleguide Typography.h1
.h1, h1 {
	@include lato-regular;
	@include font-size(36);
	line-height: 42px;
	letter-spacing: -1.6px;
	color: inherit!important;

	@include media-breakpoint-up(md) {
		@include font-size(42);
		line-height: 42px;
		letter-spacing: -1.68px;
	}
	@include media-breakpoint-up(lg) {
		@include font-size(58);
		line-height: 63px;
		letter-spacing: -2.8px;
	}
	@include media-breakpoint-up(xl) {
		@include font-size(76);
		line-height: 76px;
		letter-spacing: -3.04px;
	}
}

// H2
//
// Use this class for a H2
//
// Markup:
// <h2 class="h2">Sub Title </h2>
//
// Styleguide Typography.h2

.h2, h2 {
	@include lato-regular;
	@include font-size(30);
	line-height: 33px;
	letter-spacing: -0.9px;
	color: inherit!important;

	@include media-breakpoint-up(md) {
		@include font-size(36);
		line-height: 36px;
		letter-spacing: -1.08px;

	}
	@include media-breakpoint-up(lg) {
		@include font-size(42);
		line-height: 44px;
		letter-spacing: -1.26px;
	}
	@include media-breakpoint-up(xl) {
		@include font-size(50);
		line-height: 50px;
		letter-spacing: -1.5px;
	}
}


// H3
//
// Use this class for a H3
//
// Markup:
// <h3 class="h3">Title </h3>
//
// Styleguide Typography.h3

.h3, h3 {
	@include lato-regular;
	@include font-size(22);
	line-height: 24px;
	letter-spacing: -0.66px;
	color: inherit!important;

	@include media-breakpoint-up(md) {
		@include font-size(26);
		line-height: 30px;
		letter-spacing: -0.78px;
	}
	@include media-breakpoint-up(lg) {
		@include font-size(26);
		line-height: 30px;
		letter-spacing: -0.52px;
	}
	@include media-breakpoint-up(xl) {
		@include font-size(36);
		line-height: 36px;
		letter-spacing: -0.72px;
	}
}

// H4
//
// Use this class for a H4
//
// Markup:
// <h4 class="h4">Title </h4>
//
// Styleguide Typography.h4

.h4, h4 {
	@include lato-regular;
	@include font-size(18);
	line-height: 24px;
	letter-spacing: -0.36px;
	color: inherit!important;

	@include media-breakpoint-up(md) {
		@include font-size(20);
		line-height: 25px;
		letter-spacing: -0.4px;
	}
	@include media-breakpoint-up(lg) {
		@include font-size(22);
		line-height: 26px;
		letter-spacing: -0.52px;
	}
	@include media-breakpoint-up(xl) {
		@include font-size(28);
		line-height: 34px;
		letter-spacing: -0.56px;
	}
}
// H5
//
// Use this class for a H5
//
// Markup:
// <h3 class="h5">Title </h5>
//
// Styleguide Typography.h5


.h5, h5 {
	@include lato-black;
	@include font-size(14);
	line-height: 17px;
	letter-spacing: 2.52px;
	text-transform: uppercase;
	color: inherit!important;
}

ul {
    list-style: disc;
}
ol {
    list-style: decimal;
}

// Large body text
//
// Use this class for a H5
//
// Markup:
// <p class="large">Title </p>
//
// Styleguide Typography.LargeText

@mixin large {
	@include lato-regular;
	@include font-size(16);
	line-height: 23px;
	letter-spacing: -0.32px;

	@include media-breakpoint-up(md) {
		@include font-size(17);
		line-height: 24px;
		letter-spacing: -0.34px;
	}
	@include media-breakpoint-up(lg) {
		@include font-size(18);
		line-height: 26px;
		letter-spacing: -0.36px;
	}
}

%large,
.large {
	@include large;
}

// Small body text
//
// Use this class for a H5
//
// Markup:
// <p class="small">Title </p>
//
// Styleguide Typography.smallText

@mixin small {
	@include lato-regular;
	@include font-size(14);
	line-height: 20px;
	letter-spacing: -0.28px;

	@include media-breakpoint-up(md) {
		@include font-size(15);
		line-height: 21px;
		letter-spacing: -0.3px;
	}
	@include media-breakpoint-up(lg) {
		@include font-size(16);
		line-height: 23px;
		letter-spacing: -0.32px;
	}
	@include media-breakpoint-up(xl) {
		@include font-size(16);
		line-height: 24px;
	}
}
%small,
.small {
	@include small;
}

// Extra Small body text
//
// Use this class for a H5
//
// Markup:
// <p class="extra-small">Title </p>
//
// Styleguide Typography.extraSmallText
@mixin extra-small {
	@include lato-regular;
	@include font-size(12);
	line-height: 15px;
	letter-spacing: -0.12px;


	@include media-breakpoint-up(md) {
		line-height: 18px;
	}
	@include media-breakpoint-up(lg) {
		@include font-size(14);
		line-height: 20px;
	}
}
%extra-small,
.extra-small {
	@include extra-small;
}

// Link Large
//
// Use this class for a Link Large
//
// Markup:
// <a class="link-large">Link </a>
//
// Styleguide Typography.linkLarge

.link-large{
	@include lato-regular;
	@include font-size(16);
	line-height: 23px;
	letter-spacing: -0.32px;

	@include media-breakpoint-up(md) {
		@include font-size(17);
		line-height: 24px;
		letter-spacing: -0.3px;
	}
	@include media-breakpoint-up(lg) {
		@include font-size(20);
		line-height: 28px;
		letter-spacing: -0.4px;
	}
	@include media-breakpoint-up(xl) {
		@include font-size(20);
		line-height: 26px;
	}
}

// Link Small
//
// Use this class for a Link Small
//
// Markup:
// <a class="link-small">Link </a>
//
// Styleguide Typography.linkSmall

@mixin link-small {
	@include lato-regular;
	@include font-size(14);
	line-height:19px;
	letter-spacing: -0.28px;

	@include media-breakpoint-up(md) {
		@include font-size(15);
		line-height: 20px;
		letter-spacing: -0.3px;
	}
	@include media-breakpoint-up(lg) {
		@include font-size(16);
		line-height: 20px;
		letter-spacing: -0.32px;
	}
}
%link-small,
.link-small {
	@include link-small;
}
// Eyebrow
//
// Use this class for a Eyebrow
//
// Markup:
// <p class="eyebrow">text </p>
//
// Styleguide Typography.eyebrow


@mixin eyebrow {
	@include lato-regular;
	@include font-size(11);
	line-height: 14px;
	letter-spacing: 1.98px;
	text-transform: uppercase;
	font-weight: 900;

	@include media-breakpoint-up(lg) {
		@include font-size(13);
		line-height: 26px;
		letter-spacing: 2.34px;
	}
}
%eyebrow,
.eyebrow {
	@include eyebrow;
}
// Tag
//
// Use this class for a Tag
//
// Markup:
// <p class="tag">text </p>
//
// Styleguide Typography.Tag
.tag{
	@include lato-regular;
	@include font-size(10);
	line-height: 13px;
	text-transform: uppercase;
}
.component-top-spacing{
	/* Common padding space between components */
    @include media-breakpoint-down(md) {
        margin-top: 75px;
    }
    @include media-breakpoint-up(md) {
        margin-top: 100px;
    }
    @include media-breakpoint-up(xl) {
        margin-top: 150px;
    }
}
.component-bottom-spacing{
	/* Common padding space between components */
    @include media-breakpoint-down(md) {
        margin-bottom: 75px;
    }
    @include media-breakpoint-up(md) {
        margin-bottom: 100px;
    }
    @include media-breakpoint-up(xl) {
        margin-bottom: 150px;
    }
}

.no-spacing-bottom{
	margin-bottom: 0 !important;
}