<div class="configure__container" data-sly-test="${wcmmode.edit}">[
    Configure ${component.title} Component ]</div>
<sly data-sly-use.textProps="com.juniper.aem.models.form.FormTextModel" />
<sly data-sly-use.templates="template/variations.html"></sly>

<!--/* Text Header */-->
<sly data-sly-test="${textProps.layoutType == 'header'}">
<div class="text-family-wrapper">
    <sly data-sly-call="${templates.version1 @ data=textProps.header}"></sly>
</div>
</sly>

<!--/* Description */-->
<sly data-sly-test="${textProps.layoutType == 'description'}">
<div class="text-family-wrapper">
    <sly
        data-sly-call="${templates.version2 @ data=textProps.description}"></sly>
</div>
</sly>

<!--/* Text Header with Background Circle */-->
<sly data-sly-test="${textProps.layoutType == 'thwbc'}">
<div class="text-family-wrapper">
    <sly
        data-sly-call="${templates.version3 @ data=textProps.thwbc, theme=textProps.formTheme }"></sly>
</div>
</sly>

<!--/*  Image */-->
<sly data-sly-test="${textProps.layoutType == 'formimage'}">
<div class="text-family-wrapper">
    <sly
        data-sly-call="${templates.version4 @ data=textProps.formimage}"></sly>
</div>
</sly>

<!--/*  Video */-->
<sly data-sly-test="${textProps.layoutType == 'formvideo'}">
<div class="text-family-wrapper">
    <sly
        data-sly-call="${templates.version5 @ data=textProps.formvideo}"></sly>
</div>
</sly>

