<sly data-sly-test.empty="${wcmmode.edit && !properties.columnOpts}" />

<div class="configure__container" data-sly-test="${empty}">[ Configure ${component.title  @ i18n} Component ]</div>

<sly data-sly-test="${properties.columnOpts}" data-sly-use.colCtl="com.juniper.aem.models.ColumnControlModel">
  <div data-sly-attribute.id="${properties.id}" class="colctl__container ${properties.backgroundColors} row">
    <div class="${colCtl.firstColumnClass}" >
      <div data-sly-resource="${'col1' @ resourceType='wcm/foundation/components/parsys'}"
        class="colctl__items 
          ${properties.columnPadding ? properties.padding : ''}
          ${properties.columnRule ? 'colctl__items-rule' : ''}"></div>
    </div>
    
    <div class="${colCtl.secondColumnClass}">
      <div data-sly-resource="${'col2' @ resourceType='wcm/foundation/components/parsys'}" 
        class="colctl__items 
          ${properties.columnPadding ? properties.padding : ''}
          ${properties.columnRule ? 'colctl__items-rule' : ''}"></div>
    </div>
    
    <div data-sly-test="${colCtl.hasThirdColumn}" class="${colCtl.thirdColumnClass}">
      <div data-sly-resource="${'col3' @ resourceType='wcm/foundation/components/parsys'}" 
        class="colctl__items 
          ${properties.columnPadding ? properties.padding : ''}
          ${properties.columnRule ? 'colctl__items-rule' : ''}"></div>
    </div> 

    <div data-sly-test="${colCtl.hasFourthColumn}" class="col-12 col-md-3">
      <div data-sly-resource="${'col4' @ resourceType='wcm/foundation/components/parsys'}" 
        class="colctl__items 
          ${properties.columnPadding ? properties.padding : ''}
          ${properties.columnRule ? 'colctl__items-rule' : ''}"></div>
    </div> 
  </div>
</sly>