@import '../../../styles/core/core-bundle';
@import '../../../styles/component/base/base-component';

:host {
  text-align: left;
  padding: sw-spacing(3);
  margin-bottom: $base--border-hairline-width;
}

.wrapper {
  max-width: 100ch;
}

.title {
  @include type-head3();
  color: $c-txt-blue-headline-on-light;
  margin-bottom: 0;
}

.body {
  @include type-body;
  margin-top: sw-spacing(2);
}

@include media-width-up(map-get($breakpoint-map, md)) {
  :host([sw-text-align="center"]) {
    text-align: center;

    .wrapper {
      max-width: 100ch;
      margin: 0 auto;
    }
  }
}

:host([sw-theme="light"]) {
  background-color: $c-grey-05;
}

:host([sw-theme="dark"]) {
  &, .title {
    color: $c-active-txtondark-static;
  }
  background-color: $c-custom-dark-mute-blue;
}
