<div class="wrapper">
    <h2 *ngIf="title?.length > 0" class="title" [innerHTML]="title"></h2>
    <div *ngIf="body?.length > 0" class="body">
      <p *ngFor="let p of body" [innerHTML]="p"></p>
   </div>
</div>


