.cmp-product-overview {
    @extend .component-bottom-spacing;
    .product-overview {
        &__carousel {
            @include color-theme($theme-colors) {
                background-color: $value
            }

            .overview-video {
                .video-wrapper {
                    .icon-close {
                        &:before {
                            color: $white;
                        }

                        &:hover {
                            &:before {
                                cursor: pointer;
                                color: $gray-dark;
                            }
                        }
                    }
                }
            }
        }

        &__info {
            padding-top: 32px;

            @include media-breakpoint-up(md) {
                padding-left: 46px;
            }

            @include media-breakpoint-up(lg) {
                padding-left: 80px;
            }

            @include media-breakpoint-up(xl) {
                padding-right: 175px;
                padding-left: 102px;
            }

            &__title {
                margin-bottom: 16px;

                @include media-breakpoint-up(lg) {
                    margin-bottom: 32px;
                }

                @include media-breakpoint-up(xl) {
                    margin-bottom: 38px;
                }

                h1 {
                    @include media-breakpoint-down(md) {
                        font-size: 36px;
                        line-height: 40px;
                    }
                }
            }

            &__features-benefits__title {
                margin-bottom: 30px;

                @include media-breakpoint-up(lg) {
                    margin-bottom: 65px;
                }
            }

            &__description {
                @include lato-regular;
                @include font-size(16);
                line-height: 23px;
                letter-spacing: -0.32px;
                color: $gray-dark;
                margin-bottom: 48px;

                @include media-breakpoint-up(md) {
                    margin-bottom: 40px;
                }

                @include media-breakpoint-up(lg) {
                    @include font-size(18);
                    line-height: 26px;
                    letter-spacing: -0.36px;
                    margin-bottom: 80px;
                }

                @include media-breakpoint-up(xl) {
                    margin-bottom: 114px;
                }

                .rte-content p:last-child {
                    margin-bottom: 0;
                }
            }

            &__technical-features {
                .table_features {
                    &_item {
                        margin-bottom: 14px;

                        @include media-breakpoint-up(lg) {
                            margin-bottom: 11px;
                        }

                        &_title {
                            width: 30%;
                            min-width: 30%;
                        }

                        &_description {

                            ul,
                            ol {
                                padding-inline-start: 1.5rem;
                                padding-left: 1.5rem;
                            }

                            ul {
                                list-style-type: disc;
                                li{
                                    @include media-breakpoint-up(md) {
                                        @include font-size(14);
                                        line-height: 20px;
                                    }
                                    @include media-breakpoint-up(lg) {
                                        @include font-size(16);
                                        line-height: 24px;
                                    }
                                }
                            }

                            ol {
                                list-style-type: number;
                            }
                        }
                    }
                }
            }

            &__datasheet {
                .datasheet {
                    &_header {
                        .small {
                            line-height: 23px;
                            font-size: 1rem;
                        }
                    }

                    &__links {
                        &--item {
                            display: block;
                        }

                        ​​ &--link {
                            @include lato-bold;
                            @include font-size(16);
                            line-height: 2.0625;
                            letter-spacing: -0.16px;
                            text-align: left;
                            height: auto;
                        }

                        .icon-arrow {
                            @include font-size(16);
                        }
                    }

                    .juniper-btn--link {
                        background-image: linear-gradient(black, #000);
                        background-position: 0 100%;
                        background-repeat: no-repeat;
                        background-size: 0 2px;
                        transition: background-size 0.5s;

                        &:hover {
                            background-size: 100% 2px;
                        }
                    }
                }
            }

            &__buttons {
                .juniper-btn {
                    display: inline-block;
                    width: fit-content;

                    @include media-breakpoint-up(md) {
                        display: block;
                        width: fit-content;
                    }

                    @include media-breakpoint-up(lg) {
                        display: inline-block;
                        width: auto;
                    }
                }
            }

            .hr {
                background-color: $silver;
                border-top: 6px solid $silver;
                margin-top: 9px;
                margin-bottom: 20px;

                @include media-breakpoint-up(md) {
                    margin-top: 11px;
                }

                @include media-breakpoint-up(lg) {
                    margin-top: 12px;
                }
            }

            .primary-cta {
                .h3 {
                    font-size: 22px;
                    margin-bottom: 24px;
                    line-height: 1.09;
                    color: $black;

                    @include media-breakpoint-up(lg) {
                        font-size: 26px;
                        margin-bottom: 32px;
                        line-height: 1.15;
                    }

                    @include media-breakpoint-up(xl) {
                        margin-bottom: 34px;
                    }
                }
            }
        }

        &__col {
            transition: all 0.3s ease-in-out;
        }
    }
}



.product-overview__container{
    .js-carousel-sticky {
        position: sticky;
        top: 66px;
        max-height: 5000px;

        .cmp-carousel {
            top: 50px;
        }
    }

    .drag-container{
        .cmp-primary-cta{
            .text-left{
                margin-left: 0;
            }
            .text-right{
                margin-right: 0;
            }
        }
    }
}