<div data-sly-test="${wcmmode.edit}">[ Configure ${component.title} Component ]</div>

<div data-sly-test="${wcmmode.edit}" style="padding-top: 10px;">
	<sly data-sly-test="${properties.title}">
		<h4><font color="red">Edit ${properties.title} Item.</font></h4>
	</sly>
	<ul>
		<div data-sly-test="${wcmmode.edit}" style="padding-top: 25px; padding-left: 25px;">
			<h4><font color="blue">${'Container to drop carousel image/video item.' @ i18n}</font></h4>
			<sly data-sly-resource="${@ path='imageorvideos', resourceType='foundation/components/parsys'}"/>
		</div>
	</ul>
</div>
