.cmp-footer {
	.footer {
		&__container {
			width: 100%;
			margin-bottom: 50px;
			margin-top: 40px;
			@include media-breakpoint-up(md) {
				margin-top: 80px;
				margin-bottom: 90px;
			}


			.icon {
				&-facebook, &-twitter, &-ln, &-instagram, &-youtube {
					&:before {
						color: inherit;
					}
				}
			}

			&__top {
				.left{
					grid-column: 1/ span 5;
					@include media-breakpoint-up(lg) {
						grid-column: 2/ span 3;
					}
				}

				.right{
					grid-column: 1/ span 5;
					@include media-breakpoint-up(md) {
						grid-column: 6/ span 4;
					}

					@include media-breakpoint-up(lg) {
						grid-column: 5/ span 6;
						grid-template-columns: repeat(3,2fr);
						column-gap: 32px;
						display: grid;
					}
				}

				@include media-breakpoint-up(md) {
					padding-bottom: 64px;
				}

				&__logo {
					margin-bottom: 26px;
					@include media-breakpoint-up(xl) {
						margin-bottom: 148px;
					}
					a {
						img {
							width: 109px;

							@include media-breakpoint-up(md) {
								width: 128px;
								padding-top: 20px;
							}
							@include media-breakpoint-up(lg) {
								width: 138px;
								padding-top:8px;
							}
						}
					}
				}

				&__social{
					margin-bottom: 15px;
					@include media-breakpoint-up(md){
						margin-bottom: 0;
					}
					&__list{
						&--item{
							padding: 10px 15px;
							&:first-child{
								padding-left:0!important;
							}
						}
					}
					&__label{
						p.large{
							@include font-size(14);
							line-height: 1.43;
							letter-spacing: -0.14px;
							@include media-breakpoint-up(md){
								font-size: 15px;
								line-height: 1.4;
								letter-spacing: -0.3px;
							}
							@include media-breakpoint-up(lg){
								font-size: 18px;
								line-height: 1.44;
								letter-spacing: -0.36px;
							}
						}
					}
				}
				&__contact-us {
					&--label {
						@include lato-regular;
						@include font-size(14);
						line-height: 20px;
						letter-spacing: -0.28px;

						@include media-breakpoint-up(md) {
							@include font-size(17);
							line-height: 24px;
							letter-spacing: -0.34px;
						}
						@include media-breakpoint-up(lg) {
							@include font-size(18);
							line-height: 26px;
							letter-spacing: -0.36px;
						}
					}
				}

				&__col {
					.list-items {
						width: 100%;

						&.border-top{
							border-top:1px solid rgba($gray-dark, .6) !important;
							@include media-breakpoint-up(md) {
								border-top: 0!important;
							}
						}
						&__group {
							border-bottom:1px solid rgba($gray-dark, .6);
							padding-bottom: 15px;
							padding-top: 15px;
							@include media-breakpoint-up(lg) {
								min-height: 175px;
								border: 0;
								padding: 0;
								margin-bottom: 15px;
							}
							a {
								@extend .small;
								color: $grey-border!important;

								&.link-animation{
									&:after{
										background-color: $white!important;
									}
								}
								&:hover {
									color: $white!important;
								}
							}

							&__label {
								@include media-breakpoint-up(lg) {
									margin-bottom: 10px;
								}
								&[aria-expanded="true"]{
									.icon-arrow-down{
										transform: rotate(180deg);
									}
								}
							}

							&__items{
								@include media-breakpoint-up(lg) {
									display: block;
								}
							}
						}
					}
				}
			}

			&__bottom {
				@include media-breakpoint-up(md) {
					padding-top: 19px;
					border-top: 1px solid rgba($gray-dark, .6);
				}
				&__col0 {
					grid-column: 1/ span 5;
					@include media-breakpoint-up(md) {
						grid-column: 1/ span 3;
					}
					@include media-breakpoint-up(lg) {
						grid-column: 2/ span 3;
					}
				}
				&__col1 {
					grid-column: 1/ span 5;
					@include media-breakpoint-up(md) {
						grid-column: 4/ span 2;
					}
					@include media-breakpoint-up(lg) {
						grid-column: 5/ span 2;
					}
				}
				&__col2 {
					grid-column: 1/ span 5;
					@include media-breakpoint-up(md) {
						grid-column: 6/ span 2;
					}
					@include media-breakpoint-up(lg) {
						grid-column: 7/ span 2;
					}
				}
				&__col3 {
					grid-column: 1/ span 5;
					@include media-breakpoint-up(md) {
						grid-column: 8/ span 2;
					}
					@include media-breakpoint-up(lg) {
						grid-column: 9/ span 2;
					}
				}

				.bottom-link-container{
					float: left;
					width: 50%;
					@include media-breakpoint-up(md) {
						width: 100%;
					}
				}
			}
		}
	}
}
