<template data-sly-template.multiple="${ @ compId, filterName, filterHeader, filterList}">
    <div class="search__filters__${filterName} js-filter-container">
        <h4 class="search__filters__section-header">
            ${filterHeader}
            <span class="juniper-icon icon-close js-filter-clear-btn"></span>
            <div class="search__filters__section-header__expander js-toggle-box" data-target-id="${compId}${filterName}Filter">
                <span class="search__filters__section-header__expander--expand juniper-icon icon-arrow-down js-icon js-expand"></span>
                <span class="search__filters__section-header__expander--collapse juniper-icon icon-arrow-up js-icon js-collapse"></span>
            </div>
        </h4>
        <div class="search__filters__${filterName}__container collapse  js-filter-${filterName}" id="${compId}${filterName}Filter">
            <div class="custom-control custom-checkbox js-filter-level-1" data-sly-repeat.section="${filterList}">
                <!--/* Filter Section Level 1 */-->
                <a class="search__filters__button js-filter-toggle js-multiple-selection" role="button" aria-expanded="false" aria-controls="${filterName}FilterSubsection_${section.value}"
                   data-is-secure="${section.isSecure}" data-target-id="${filterName}FilterSubsection_${section.value}">
                    <input class="custom-control-input js-filter-checkbox" type="checkbox" name="${filterName}Filter_${section.value}" id="${filterName}Filter_${section.value}" value="${section.value}">
                    <label class="custom-control-label" for="${filterName}Filter_${section.value}">
                        ${section.name}     <span data-sly-test="${section.isSecure}" class="juniper-icon icon-lock"></span>
                    </label>
                </a>
                <div data-sly-test="${section.items}" class="search__filters__expander d-inline js-toggle-box" data-target-id="${filterName}FilterSubsection_${section.value}">
                    <span class="search__filters__expander--expand juniper-icon icon-arrow-down js-icon js-expand"></span>
                    <span class="search__filters__expander--collapse juniper-icon icon-arrow-up js-icon js-collapse"></span>
                </div>
                <!--/* ./ Filter Section Level 1 */-->
                <!--/* Filter Section Level 2 */-->
                <div data-sly-test="${section.items}" class="collapse js-filter-collapsable" id="${filterName}FilterSubsection_${section.value}">
                    <div class="custom-control custom-checkbox js-filter-level-2" data-sly-repeat.subSection="${section.items}">
                        <a class="search__filters__button js-filter-toggle js-multiple-selection" role="button" aria-expanded="false" aria-controls="${filterName}FilterSubsection_${subSection.value}"
                           data-is-secure="${subSection.isSecure}" data-target-id="${filterName}FilterSubsection_${subSection.value}">
                            <input class="custom-control-input" type="checkbox" name="${filterName}Filter_${subSection.value}" id="${filterName}Filter_${subSection.value}" value="${subSection.value}">
                            <label class="custom-control-label" for="${filterName}Filter_${subSection.value}">
                                ${subSection.name}  <span data-sly-test="${subSection.isSecure}" class="juniper-icon icon-lock"></span>
                            </label>
                        </a>
                        <div data-sly-test="${subSection.items}" class="search__filters__expander d-inline js-toggle-box" data-target-id="${filterName}FilterSubsection_${subSection.value}">
                            <span class="search__filters__expander--expand juniper-icon icon-arrow-down js-icon js-expand"></span>
                            <span class="search__filters__expander--collapse juniper-icon icon-arrow-up js-icon js-collapse"></span>
                        </div>
                        <!--/* ./ Filter Section Level 2 */-->
                        <!--/* Filter Section Level 3 */-->
                        <div data-sly-test="${subSection.items}" class="collapse js-filter-collapsable" id="${filterName}FilterSubsection_${subSection.value}">
                            <div class="custom-control custom-checkbox js-filter-level-3" data-sly-repeat.subSubSection="${subSection.items}">
                                <a class="search__filters__button js-filter-toggle js-multiple-selection" data-is-secure="${subSubSection.isSecure}" role="button">
                                    <input class="custom-control-input" type="checkbox" name="${filterName}Filter_${subSubSection.value}" id="${filterName}Filter_${subSubSection.value}" value="${subSubSection.value}">
                                    <label class="custom-control-label" for="${filterName}Filter_${subSubSection.value}">
                                        ${subSubSection.name}   <span data-sly-test="${subSubSection.isSecure}" class="juniper-icon icon-lock"></span>
                                    </label>
                                </a>
                            </div>
                        </div>
                        <!--/* ./ Filter Section Level 3 */-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<template data-sly-template.simple="${ @ compId, filterName, filterHeader, filterList}">
    <div class="search__filters__${filterName} js-filter-container">
        <h4 class="search__filters__section-header">
            ${filterHeader}
            <span class="juniper-icon icon-close js-filter-clear-btn"></span>
            <div class="search__filters__section-header__expander js-toggle-box" data-target-id="${compId}${filterName}Filter">
                <span class="search__filters__section-header__expander--expand juniper-icon icon-arrow-down js-icon js-expand"></span>
                <span class="search__filters__section-header__expander--collapse juniper-icon icon-arrow-up js-icon js-collapse"></span>
            </div>
        </h4>
        <div class="search__filters__${filterName}__container collapse js-filter-${filterName}" id="${compId}${filterName}Filter">
            <div class="custom-control custom-radio" data-sly-repeat.filterItem="${filterList}">
                <a class="search__filters__button js-filter-toggle js-simple-selection" role="button">
                    <input class="custom-control-input" type="radio" name="${compId}${filterName}Radio" id="${filterName}Filter_${filterItem.value}" value="${filterItem.value}" data-code="${filterItem.code}">
                    <label class="custom-control-label" for="${filterName}Filter_${filterItem.value}">
                        ${filterItem.name}
                    </label>
                </a>
            </div>
        </div>
    </div>
</template>
