<div data-sly-test="${wcmmode.edit && !wcmmode.preview}" class="configure__container">
    [ Configure ${component.title} Component ]
</div>
<sly data-sly-use.model="com.juniper.aem.models.globalsearch.GlobalSearchModel"
     data-sly-use.utilityModel="com.juniper.aem.models.UtilityModel"
     data-sly-use.filterTemplate="filter-template.html"
     data-sly-set.compId="globalSearch${utilityModel.uniqueId}">
</sly>
<div class="cmp-global-search" data-mod="global-search"
     data-servlet-path="${resource.path @ selectors='results', extension='json'}"
     data-language="${currentPage.language.language}"
     data-coveo-suggest-endpoint="${model.coveoSuggestEndpoint}"
     data-public-search-key="${model.publicSearchKey}"
     data-page-size="${model.pageSize}"
     data-results-count-msg="${model.resultsMessage}"
     data-welcome-msg="${model.welcomeMessage}"
     data-login-link="${model.loginLink @ extension='html'}">
    <div class="search grid">
        <div class="search__search-box">
            <input name="query" class="search__search-box__input form-control js-search-input" type="text" pattern=".{3,}" required="required">
            <span class="search__search-box__icon juniper-icon icon-close js-search-clear-icon"></span>
            <span class="search__search-box__icon juniper-icon icon-search js-search-icon"></span>
            <a class="search__search-box__filters-toggle js-mobile-filters-toggle" role="button" aria-expanded="false" aria-controls="${compId}Filters">
                <span class="juniper-icon icon-filter"></span>
            </a>
        </div>
        <div class="search__filters collapse js-filters-container" id="${compId}Filters">
            <div class="search__filters__header">
                <h3 class="search__filters__header__h3">${model.filtersHeader}</h3>
                <hr class="my-1 my-lg-3">
                <a class="search__filters__header__reset-button float-right js-filter-reset-all" role="button">
                    ${model.resetFiltersLabel}
                    <span class="juniper-icon icon-close"></span>
                </a>
            </div>
            <!--/* Site Section filters */-->
            <sly data-sly-test="${model.siteSectionFilters}">
                <sly data-sly-call="${filterTemplate.multiple @ compId = compId, filterName = 'site-section', filterHeader = model.siteSectionFilterHeader, filterList = model.siteSectionFilters}"></sly>
            </sly>
            <!--/* ./ Site Section filters */-->
            <!--/* Product filters */-->
            <sly data-sly-test="${model.productFilters}">
                <sly data-sly-call="${filterTemplate.multiple @ compId = compId, filterName = 'product', filterHeader = model.productFilterHeader, filterList = model.productFilters}"></sly>
            </sly>
            <!--/* ./ Product filters */-->
            <!--/* Format filters */-->
            <sly data-sly-test="${model.formatFilters}">
                <sly data-sly-call="${filterTemplate.multiple @ compId = compId, filterName = 'format', filterHeader = model.formatFilterHeader, filterList = model.formatFilters}"></sly>
            </sly>
            <!--/* ./ Format filters */-->
            <!--/* Language filters */-->
            <sly data-sly-test="${model.languageFilters}">
                <sly data-sly-call="${filterTemplate.simple @ compId = compId, filterName = 'language', filterHeader = model.languageFilterHeader, filterList = model.languageFilters}"></sly>
            </sly>
            <!--/* ./ Language filters */-->
            <hr class="d-block d-lg-none">
        </div>
        <div class="search__overlay js-results-overlay">
            <div class="search__overlay__loader js-loader">
                <div class="search__overlay__loader__wrapper">
                    <div class="circle circle--breath"></div>
                    <div class="circle circle--expand"></div>
                    <div class="circle circle--exterior"></div>
                </div>
            </div>
        </div>
        <div class="search__results js-results-container">
            <div class="search__results__summary js-results-summary">
                <h3 class="js-results-count"></h3>
                <h3 class="js-no-results">${model.noResultsMessage}</h3>
            </div>
            <div class="search__results__links">
                <div class="search__results__links--public js-links-public">
                    <a class="js-login-link" href="#">
                        ${model.loginLabel}
                        <span class="juniper-icon icon-lock"></span>
                    </a>
                    |
                    <a class="js-feedback-link" href="${model.feedbackLink @ extension = 'html'}">${model.feedbackLabel}</a>
                </div>
                <div class="search__results__links--secure js-links-secure">
                    <span class="search__results__links__welcome-msg js-welcome-msg"></span>
                    |
                    <a class="js-feedback-link" href="${model.feedbackLink @ extension = 'html'}">${model.feedbackLabel}</a>
                    |
                    <a class="js-logout-link" href="#">${model.logoutLabel}</a>
                </div>
            </div>
            <div class="search__results__featured-results js-featured-results">
                <h3 data-sly-test="${model.featuredResultsHeader}" class="search__results__featured-results__header">
                    ${model.featuredResultsHeader}
                </h3>
                <div class="js-featured-results-container"></div>
            </div>
            <div class="search__results__all-results js-coveo-results">
                <div class="js-coveo-results-container"></div>
            </div>
            <div class="search__results__pagination js-pagination">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        <li class="page-item js-previous-page">
                            <a class="page-link" href="#" aria-label="Previous">
                                <div class="juniper-icon icon-left"></div>
                                <span class="sr-only">Previous</span>
                            </a>
                        </li>
                        <li class="page-item js-next-page">
                            <a class="page-link" href="#" aria-label="Next">
                                <div class="juniper-icon icon-right"></div>
                                <span class="sr-only">Next</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="search__error p-5 js-error-message">
            <h3 class="mb-3">${model.errorModalHeader}</h3>
            <p>${model.errorMessage}</p>
        </div>
    </div>
</div>
