@import '../../../styles/core/core-bundle';

:host {
  position: relative;
  display: block;
}

.panel__content {
  background-color: white;
  border: 1px solid transparent;
  border-top-width: 0;
  overflow: hidden;
}

:host(.state--expanded) .panel__content {
  border-color: $c-grey-10;
}
