<ng-content select="sw-accordion-panel-header"></ng-content>
<div class="panel__content"
     role="region"
     [@bodyExpansion]="_getExpandedState()"
     (@bodyExpansion.done)="_bodyAnimation($event)"
     [attr.aria-labelledby]="_headerId"
     [id]="id"
     #body>
  <div class="panel__body">
    <ng-content></ng-content>
    <ng-template [cdkPortalOutlet]="_portal"></ng-template>
  </div>
</div>
