@import '../../../styles/core/core-bundle';

:host {
  @include type-head4($font-weight: $base--font-weight-bolder);
  position: relative;
  display: flex;
  align-items: center;
  padding: sw-spacing(1) sw-spacing(2);
  border: 1px solid $c-grey-10;
  text-align: left;
  user-select: none;
  color: $c-txt-body-on-light;
  cursor: pointer;

  &:hover {
    color: $c-brand-green-dark;
  }
}

:host(:not(.cdk-keyboard-focused):not(.cdk-program-focused)) {
  outline: none;
}

.panel__expansion-indicator {
  margin-right: 8px;
}
