<sly data-sly-use.caseStudy="com.juniper.aem.models.CaseStudyModel"
    data-sly-use.utilityModel="${'com.juniper.aem.models.UtilityModel'}"
    data-sly-set.compId="caseStudy${utilityModel.uniqueId}"
    data-sly-test="${properties.fragmentPath}">
<section class="product-casestudy" data-mod="product-case-study"
    data-video-modal-id="${compId}Modal">
    <div class="product-casestudy-container">
        <div class="product-casestudy-details">
            <div class="product-casestudy-eyebrow">
                <p>${properties.eyebrow @context='html'}</p>
            </div>
            <div class="title">
                <a data-sly-test="${caseStudy.titleLink != '#'}" href="${caseStudy.titleLink}" target="_self">
                    <h2>${caseStudy.title}</h2>
                </a>
                   <h2 data-sly-test="${caseStudy.titleLink == '#'}">${caseStudy.title}</h2>
            </div>
            <div class="product-casestudy-main-body rte-content">
                <p>${caseStudy.introduction @context='html'}</p>
            </div>
            <div class="cta">
                <a href="${properties.ctaLink @ extension = 'html'}" target="_self">
                    <button class="juniper-btn ${properties.ctaColor}">${properties.ctaLabel}
                    </button>
                </a>
            </div>
        </div>
        <div class="product-casestudy-image">
            <sly
                data-sly-use.imageHelper="${'com.juniper.aem.helpers.ImageHelper' @fileReference=caseStudy.image}" />
            <img class="bgimg"
                alt="${caseStudy.imageAltText || imageHelper.altText}"
                src="${caseStudy.image}" /> <span
                data-sly-test="${caseStudy.videoURL}"
                class="js-play-video-button case-study__image__icon juniper-icon icon-play-btn"
                data-video-modal-id="${compId}VideoModal"> <span
                class="path1"></span><span class="path2"></span>
            </span>
        </div>
        <div class="casestudy-carousel js-caseStudy-carousel"
            data-simplebar data-simplebar-auto-hide="false">
            <div class="casestudy-heading ng-star-inserted"><h3>${properties.otherCustomersTitle
                @context='html'}</h3></div>
            <section class="case-items">
                <sly
                    data-sly-use.caseStudiesModel="com.juniper.aem.models.CaseStudiesModel"
                    data-sly-unwrap>
                <div
                    data-sly-test="${!caseStudiesModel && wcmmode.edit}"
                    class="cq-dd-contentfragment">Add related case
                    studies using the component dialog</div>
                <div data-sly-test="${caseStudiesModel.caseStudiesList}">
                    <div
                        data-sly-list.caseStudy="${caseStudiesModel.caseStudiesList}">
                        <div class="casestudy-items">
                            <sly
                                data-sly-use.imageHelper="${'com.juniper.aem.helpers.ImageHelper' @fileReference=caseStudy.logo}" />
                            <a href="${caseStudy.pageLink}"
                                target="${'.pdf' in caseStudy.pageLink ? '_blank' : '_self'}"> <img
                                alt="${caseStudy.logoAltText || imageHelper.altText}"
                                src="${caseStudy.logo}" />
                                <div class="title">${caseStudy.company
                                    @context='html'}</div>
                            </a>
                        </div>
                    </div>
                </div>
                </sly>
            </section>
        </div>
        <!--/* Modal Video */-->
        <sly data-sly-test="${caseStudy.videoURL}"
            data-sly-use.modalTemplate="/apps/juniper/components/htl-templates/video-overlay.html"
            data-sly-set.videoModalId="${compId}Modal"
            data-sly-set.videoSrc="${caseStudy.videoURL}"> <sly
            data-sly-call="${modalTemplate.modal @ modalId = videoModalId, containerClassName = 'pfh-player-container', videoUrl = videoSrc}"></sly>
        </sly>
        <!--/* ./Modal Video */-->
    </div>
</section>
</sly>


<sly
    data-sly-use.template="core/wcm/components/commons/v1/templates.html"
    data-sly-call="${template.placeholder @ isEmpty=!properties.fragmentPath, classAppend='cq-dd-contentfragment'}">
<div class="configure__container" data-sly-test="${wcmmode.edit}">[
    Configure ${component.title} Component ]</div>
</sly>
