.cmp-flexible-cta{

	margin: 1rem 0px;

	.juniper-btn--link{

		font-size: 16px !important;
		font-weight: bold;
		font-stretch: normal;
		font-style: normal;
		line-height: 2.06;
		letter-spacing: -0.16px;
		color: $black;

		@include media-breakpoint-up(lg) {
			font-size : 20px !important;
			line-height: 1.65;
			letter-spacing: -0.2px;
		}
	}

	.juniper-icon{

		color: $black;

		@include font-size(16);

		&:before {
			@include font-size(16);
		}

		@include media-breakpoint-up(lg) {
			@include font-size(16);

			&:before {
				@include font-size(16);
			}
		}

	}

	.default{

		&:before{
			top: 0.25rem;
		}
	}

	.down {

		&:before {
			display:inline-block;
			transform: rotate(90deg);
			top: 0.25rem;
		}
	}

	.inpage {

		&:before {
			display:inline-block;
			transform: rotate(-90deg);
			bottom: 0.25rem;
		}
	}

	.ext {

		&:before {
			display:inline-block;
			transform: rotate(-45deg);
			bottom: 0.25rem;
		}
	}

	.icon-link-pdf, .icon-link-audio, .icon-link-video, .icon-link-slides, .icon-link-offsite, .icon-link-up-download {

		&:before {
			top: 0.25rem;
			@include font-size(24);
		}

		@include media-breakpoint-up(lg) {
			&:before {
				top: 0.5rem;
				@include font-size(36);
			}
		}		
	}

	
}