.cmp-stacked-statements-with-image {
    @extend .component-bottom-spacing;
    .statements {
        margin-bottom: 100px;
        &.alignment-right {
            .statements__image {
                order: 2;
                @include media-breakpoint-up(md) {
                    grid-column: 5/10;
                    margin-left: calc(#{get-column-width("md")} / 2);
                    margin-right: calc(#{$grid-side-margin} * -1);
                }
                @include media-breakpoint-up(lg) {
                    grid-column: 6/12;
                    margin-left: calc(#{get-column-width("lg")} / 2);
                }
                @include media-breakpoint-up(xl) {
                    margin-left: calc(#{get-column-width("xl")} / 2);
                }
            }
            .statements__container {
                order: 1;
                @include media-breakpoint-up(md) {
                    grid-column: 2/6;
                }
                @include media-breakpoint-up(lg) {
                    grid-column: 2/6;
                }
            }
        }
        &__text {
            grid-column: 1/5;
            margin-bottom: 56px;
            @include media-breakpoint-up(md) {
                grid-column: 1/8;
                margin-bottom: 80px;
            }
            @include media-breakpoint-up(lg) {
                grid-column: 2/9;
                margin-bottom: 104px;
            }
            @include media-breakpoint-up(xl) {
                margin-bottom: 123px;
            }
            &--header {
                color: $black;
                font-size: 30px;
                line-height: 1.1;
                letter-spacing: -0.9px;
                margin-bottom: 24px;
                @include media-breakpoint-up(md) {
                    font-size: 36px;
                    line-height: 1;
                    letter-spacing: -1.08px;
                }
                @include media-breakpoint-up(lg) {
                    font-size: 58px;
                    line-height: 1.09;
                    letter-spacing: -2.32px;
                }
                @include media-breakpoint-up(xl) {
                    font-size: 76px;
                    line-height: 1;
                    letter-spacing: -3.04px;
                    margin-bottom: 37px;
                }
            }
            &--description {
                color: $gray-dark;
                font-size: 16px;
                letter-spacing: -0.32px;
                line-height: 1.44;
                @include media-breakpoint-up(md) {
                    font-size: 17px;
                    letter-spacing: -0.34px;
                    line-height: 1.41;
                }
                @include media-breakpoint-up(lg) {
                    font-size: 18px;
                    letter-spacing: -0.36px;
                }
            }
        }
        &__image {
            display: none;
            img{
                object-fit: cover;
                width: 100%;
               
                @include media-breakpoint-up(md) {
                  height: 399px !important;
                }
                @include media-breakpoint-up(lg) {
                  height: 794px !important;
                }
                @include media-breakpoint-up(xl) {
                  height: 960px !important;
                }
            }
            @include media-breakpoint-up(md) {
                display: block;
                grid-column: 1/6;
                margin-right: calc(#{get-column-width("md")} / 2);
                margin-left: calc(#{$grid-side-margin} * -1);
            }
            @include media-breakpoint-up(lg) {
                grid-column: 1/7;
                margin-right: calc(#{get-column-width("lg")} / 2);
            }
            @include media-breakpoint-up(xl) {
                margin-right: calc(#{get-column-width("xl")} / 2);
            }
        }
        &__container {
            grid-column: 1/5;
            @include media-breakpoint-up(md) {
                grid-column: 6/10;
            }
            @include media-breakpoint-up(lg) {
                grid-column: 7/11;
            }
            &__statement {
                &__headline {
                    align-items: center;
                    display: flex;
                    margin-bottom: 16px;
                    @include media-breakpoint-up(lg) {
                        margin-bottom: 24px;
                    }
                    &--icon {
                        background-color: $jade;
                        border-radius: 50%;
                        height: 32px;
                        margin-right: 8px;
                        width: 32px;
                        @include media-breakpoint-up(xl) {
                            margin-right: 22px
                        }
                        @include color-theme($theme-colors) {
                            background-color: $value;
                        }
                    }
                    &--text {
                        font-size: 22px;
                        line-height: 1.09;
                        letter-spacing: -0.66px;
                        color: $black;
                        @include media-breakpoint-up(md) {
                            font-size: 20px;
                            line-height: 1.25;
                            letter-spacing: -0.4px;
                        }
                        @include media-breakpoint-up(lg) {
                            font-size: 22px;
                            line-height: 1.18;
                            letter-spacing: -0.44px;

                        }
                        @include media-breakpoint-up(xl) {
                            font-size: 28px;
                            line-height: 1.21;
                            letter-spacing: -0.56px;
                        }
                    }
                }
                &__text {
                    color: $gray-dark;
                    font-size: 17px;
                    line-height: 1.41;
                    letter-spacing: -0.34px;
                    margin-bottom: 40px;
                    @include media-breakpoint-up(lg) {
                        font-size: 18px;
                        line-height: 1.44;
                        letter-spacing: -0.36px;
                        margin-bottom: 44px;
                    }
                    @include media-breakpoint-up(xl) {
                        margin-bottom: 66px;
                    }
                }
            }
        }
    }
}