.textsplitcolumn{
    @extend .grid;
    h2{
        @extend .content-grid-9;
        padding: 0 0 1rem;
        @include media-breakpoint-down(md) {
            padding: 0 0 3.625rem;
        }
        @include media-breakpoint-up(md) {
            padding: 0 0 3rem;
        }
        @include media-breakpoint-up(lg) {
            padding: 0 0 3.125rem;
        }
        @include media-breakpoint-up(xl) {
            padding: 0 0 2.75rem;
        }
    }
    .block{
        display: grid;
        grid-gap: 32px;     
        @extend .content-grid-11;
        @include media-breakpoint-down(md) {
            grid-auto-flow: row;
        }
        @include media-breakpoint-up(md) {
            grid-auto-flow: column;
            grid-template-columns: repeat(2,1fr);
        }
        &__item{
            .header{
                padding: 0 0 1rem;
                margin: 0 0 1rem;
                border-bottom: 1px solid $grey-border;
                display: grid;
                
                @include media-breakpoint-down(md) {
                    display: block;
                }
                @include media-breakpoint-up(md) {
                    display: block;
                }
                grid-template-columns: 1fr 1fr;
                img{
                    justify-self: end;
                }
            }
            .header-no-border{
                padding: 0 0 1rem;
                display: grid;
                
                @include media-breakpoint-down(md) {
                    display: block;
                }
                @include media-breakpoint-up(md) {
                    display: block;
                }
                grid-template-columns: 1fr 1fr;
                img{
                    justify-self: end;
                }
            }
            p{
                color: $gray-dark;
                @include media-breakpoint-down(md) {
                    @include font-size(16);
                    line-height: 1.44;
                }
                @include media-breakpoint-up(md) {
                    @include font-size(17);
                    line-height: 1.41;
                }
                @include media-breakpoint-up(lg) {
                    @include font-size(18);
                    line-height: 1.44;
                } 
            }
            ul{
                li{
                  list-style: none;
                  margin-left: 1.5rem;
                  &:before {
                    content: "\2022";
                    color: $gray-light;
                    font-weight: bold;
                    display: inline-block;
                    width: 1.4em;
                    margin-left: -1.5em;
                  }
                }
            }
            ul li, ol li{
                color: $gray-dark;
            }
            ol {
                li{
                  padding-left: 0.5rem;
                }
            }
            .align-items-center {
                @include media-breakpoint-up(md) {
                    margin-top: 17px;
                }
                @include media-breakpoint-down(md) {
                    margin-top: 23px;
                }
                .juniper-btn {
                    padding-bottom: 0;
                    text-decoration: none;
                }
            }
        }
    }
    &.split-variant-v1{
        h2{
            @include media-breakpoint-between(sm, md) {
                grid-column: 1/10
            }
        }
        .block{
            @extend .grid;
            @include media-breakpoint-between(sm, md) {
                grid-column: 1/10
            }
            @include media-breakpoint-up(lg) {
                grid-template-columns: repeat(9, 1fr);
            }
            padding: 0;
            &__item{
                @include media-breakpoint-down(md) {
                    grid-column: 1/5;
                }
                @include media-breakpoint-up(md) {
                    &:first-child{
                        grid-column: 1/5;
                    }
                    &:last-child{
                        grid-column: 6/10;
                    }
                }
                @include media-breakpoint-up(xl) {
                    &:first-child{
                        grid-column: 1/4;
                    }
                    &:last-child{
                        grid-column: 6/9;
                    }
                }
            }
        }
    }
    &.split-variant-v2{
        .block{
            @extend .grid;
            @include media-breakpoint-between(md, lg) {
                grid-column: 1/10
            }
            @include media-breakpoint-up(lg) {
                grid-template-columns: repeat(9, 1fr);
                grid-column: 2/11
            }
            @include media-breakpoint-up(xl) {
                grid-template-columns: repeat(10, 1fr);
                grid-column: 1/11
            }
            grid-row-gap: 0;
            padding: 0;
            @include media-breakpoint-down(sm) {
                @include color-theme($theme-colors) {
                    background: radial-gradient(circle at 46% 25%, #{$value} 0%, #{$value} 25%, $white 25%, $white);
                }
            }
            &__item{
                @include media-breakpoint-down(md) {
                    grid-column: 1/5;
                }
                @include media-breakpoint-up(md) {
                    &:first-child{
                        grid-column: 1/5;
                    }
                    &:last-child{
                        grid-column: 6/10;
                    }
                }
                @include media-breakpoint-up(xl) {
                    &:first-child{
                        grid-column: 1/6;
                        left: 4rem;
                    }
                }
                display: grid;
                align-content: center;
                &.bg__circle{
                    @include color-theme($theme-colors) {
                        padding: 2rem;
                        @include media-breakpoint-down(md) {
                            padding: 1rem;
                        }
                        @include media-breakpoint-up(md) {
                            background: radial-gradient(circle at 50% 50%, #{$value} 0%, #{$value} 40%, $white 40%, $white);
                        }
                        @include media-breakpoint-up(lg) {
                            background: radial-gradient(circle at 50% 50%, #{$value} 0%, #{$value} 15.5vw, $white 15.5vw, $white);
                            padding: 10rem 2rem;
                        }
                        @include media-breakpoint-up(xl) {
                            background: radial-gradient(circle at 42% 50%, #{$value} 0%, #{$value} 52%, $white 52%, $white);
                            padding: 14rem 4.3rem;
                            margin-left: 0;
                        }
                    }
                }
                h4{
                    @include media-breakpoint-down(md) {
                        @include font-size(36);
                        line-height: 40px;
                    }
                    @extend .h3;
                    line-height: 1;
                    @include media-breakpoint-down(md) {
                        font-size: 2.25rem;
                    }
                    @include media-breakpoint-up(md) {
                        font-size: 2.25rem;
                    }
                    @include media-breakpoint-up(lg) {
                        padding-left: 2rem;
                        font-size: 3.625rem;
                    }
                    @include media-breakpoint-up(xl) {
                        font-size: 4.75rem;
                    }
                }
                .large{
                    @include media-breakpoint-down(md) {
                        padding-bottom: 1.5rem;
                    }
                    @include media-breakpoint-up(md) {
                        padding-bottom: 1.688rem;
                    }
                    @include media-breakpoint-up(lg) {
                        padding-bottom: 1.5rem;
                    }
                    @include media-breakpoint-up(xl) {
                        padding-bottom: 2.063rem;
                    }
                }
            }
        }
    }
    &.split-variant-v3, &.split-variant-v4 {
        .block{
            grid-auto-flow: row;
            @include color-theme($theme-colors) {
                
                @include media-breakpoint-down(md) {
                    background: radial-gradient(circle at 50% 20%, #{$value} 0%, #{$value} 23%, $white 23%, $white);
                    padding: 1rem 0rem;
                }
                
                @include media-breakpoint-up(md) {
                    background: radial-gradient(circle at 28% 39%, #{$value} 0%, #{$value} 30%, $white 30%, $white);
                    padding: 3rem 1rem;
                    grid-column: 1/10;
                }
                @include media-breakpoint-up(lg) {
                    background: radial-gradient(circle at 12% 40%, #{$value} 0%, #{$value} 12%, $white 12%, $white);
                    grid-column: 2/11;
                    padding: 1rem 0rem;
                    grid-column-gap: 8rem;
                }
                @include media-breakpoint-up(xl) {
                    grid-column-gap: 10rem;
                }
            }
            &__item{
                .header{
                    border-bottom: 1px solid $grey-border;
                    @include font-size(30);
                    line-height: 33px;
                    letter-spacing: -0.9px;

                    @include media-breakpoint-up(md) {
                        @include font-size(36);
                        line-height: 36px;
                        letter-spacing: -1.08px;
                    }

                    @include media-breakpoint-up(lg) {
                        @include font-size(42);
                        line-height: 44px;
                        letter-spacing: -1.26px;
                    }

                    @include media-breakpoint-up(xl) {
                        @include font-size(50);
                        line-height: 50px;
                        letter-spacing: -1.5px;
                    }
                }

                p {
                    @include media-breakpoint-up(lg) {
                        @include font-size(18);
                        line-height: 26px;
                        letter-spacing: -0.36px;
                    }
                }
            }
            .eyebrow {
                @include font-size(11);
                line-height: 14px;
                letter-spacing: 1.98px;
                margin: 59px 0 0px -20px;
                grid-column: 1/3;
                @include media-breakpoint-up(sm) {
                    grid-column: 1/2;
                    margin: 0px 0 0px 0px;
                }
                @include media-breakpoint-up(md) {
                    grid-column: 1/3;
                    margin: 0px 0 0px 0px;
                }   
                @include media-breakpoint-up(lg) {
                    @include font-size(13);
                    line-height: 16px;
                    letter-spacing: 2.34px;
                }
            }
            .heading--link{
                color: $black  !important;
            }
        }
    }
    &.split-variant-v4 {
        .block {
            &__item {
                .header {
                    display: block;
                    padding: 0 0 1.25rem;
                    margin: 0 0 1.25rem;

                    @include media-breakpoint-up(lg) {
                        @include font-size(96);
                        line-height: 70px;
                        letter-spacing: -2.88px;
                    }

                    span {
                        @include media-breakpoint-up(lg) {
                            @include font-size(42);
                            line-height: 44px;
                            letter-spacing: -1.26px;
                        }
                    }
                }
            }
        }
    }
}