.modal.video-overlay {
    .modal-content {
        border-radius: 0;
        height: 75vh;
        iframe {
            height: 100%;
            z-index: 1;
        }
    }
    a.close-icon {
        right: 0;
        .icon-close-modal {
            font-size: 51px;
            &:before {
                color: $white;
            }
            &:hover{
                &:before {
                    color: $gray-dark;
                }
            }
        }
    }
}