.relatedproducts {
    @extend .component-bottom-spacing;

    @include media-breakpoint-up(xl) {
        display: block;
    }
    .product-cards {
        display: flex;
        .products-section {
            @extend .grid;
            padding-left: 0px;
            padding-right: 0px;

            .heading {
                width: 100%;
                padding-bottom: 30px;
                grid-column: 1/ span 4;

                @include media-breakpoint-up(md) {
                    grid-column: 1/ span 8;
                }

                @include media-breakpoint-up(lg) {
                    padding-bottom: 32px;
                    grid-column: 2/ span 5;
                }
                @include media-breakpoint-up(xl) {
                    padding-bottom: 24px;
                }
            }
            .description {
                grid-column: 1/ span 4;
                @include font-size(16);
                background-color: #fff;

                @include media-breakpoint-up(md) {
                    grid-column: 1/ span 8;
                }

                @include media-breakpoint-up(lg) {
                    grid-column: 2/ span 7;
                    @include font-size(18);
                    line-height: 26px;
                }

                @include media-breakpoint-up(xl) {
                    
                    @include font-size(18);
                }

                &.rte-content p{
                    &:first-child{
                        padding-top: 0px;
                    }
                    &:last-child{
                        margin-bottom: 0px;
                    }
                }
            }
            .primary-cta {
                margin-bottom: 40px;
                margin-top: -20px;

                @include media-breakpoint-up(lg) {
                    margin-left: 68%;
                }
                @include media-breakpoint-up(xl) {
                    margin-left: 66%;
                }
                .primary-cta-btn {
                    margin-bottom: 65px;
                }
            }
            .product-section {
                @extend .grid;
                grid-auto-columns: auto;
                padding: 0;
                grid-column: 1/ span 4;
                grid-template-columns: 1fr;
                @include media-breakpoint-down(sm) {
                    row-gap: 48px;
                    padding-top: 42px;
                }
                @include media-breakpoint-up(md) {
                    grid-template-columns: repeat(2, 1fr);
                    grid-column: 1/ span 9;
                    row-gap: 75px;
                    padding-top: 42px;
                }
                

                @include media-breakpoint-up(lg) {
                    grid-template-columns: repeat(3, 1fr);
                    grid-column: 2/ span 9;
                    padding-top: 106px;
                    row-gap: 100px;
                }
                .product-item {
                    grid-column: auto;
                    .img-wrapper {
                        height: 280px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;

                        @include media-breakpoint-up(md) {
                            height: 285px;
                        }

                        
                        .img-container {
                            width: 280px;
                            height: 280px;
                            display: -webkit-box;
                            flex-direction: column;
                            justify-content: center;
                            margin: 0px auto;
                            transition: transform 0.2s ease 0s;
                            object-fit: cover;
                            overflow: hidden;
                            -webkit-box-pack: center;
                            -webkit-box-align: center;

                            @include color-theme($theme-colors) {
                                background: radial-gradient(circle at center center, $value 0, $value 60%, $value 60%, $white 0, $white 0) !important;
                            }

                            @include media-breakpoint-up(md) {
                                width: 260px;
                                height: 285px;
                            }

                            @include media-breakpoint-up(lg) {
                                width: 280px;
                                height: 285px;
                            }

                            @include media-breakpoint-up(xl) {
                                width: 280px;
                                height: 285px;
                            }
                            img {
                                max-width: 100%;
                                max-height: 100%;
                                flex-shrink: 0;
                                transition: transform 0.4s ease 0s;
                            }
                        }
                    }
                    .hr-wrapper {
                        .hr {
                            text-align: left;
                            height: 5px;
                            background: #f0f3f5;
                            margin-top: 0px;
                        }
                    }
                    .tech-details {
                        .prod-info {
                            margin-bottom: 20px;
                            margin-top: 20px;

                            @include media-breakpoint-up(md) {
                                margin-bottom: 21px;
                            }

                            @include media-breakpoint-up(lg) {
                                margin-bottom: 38px;
                            }

                            @include media-breakpoint-up(xl) {
                                margin-bottom: 38px;
                            }
                            .eyebrow {
                                display: inline-block;
                                align-self: flex-start;
                                margin-bottom: 0;
                                line-height: 16px;
                                font-weight: 700;
                                color: $gray-dark;
                                
                                @include media-breakpoint-up(lg) {
                                    height: 20px !important;
                                    margin-bottom: 0;
                                }

                                @include media-breakpoint-up(xl) {
                                    margin-bottom: 0;
                                }
                            }
                            .eyebrow-noimage {
                                display: inline-block;
                                align-self: flex-start;
                                @include font-size(13);
                                line-height: 16px;
                                margin-bottom: 0;
                                letter-spacing: 2.34px;
                                font-weight: 700;
                                color: $gray-dark;
                                margin-bottom: 32px;
                                
                                @include media-breakpoint-up(lg) {
                                    height: 20px !important;
                                    margin-bottom: 41px;
                                }
                            }
                            .title {
                                display: block;
                                margin-bottom: 15px;
                                height: auto;
                                line-height: 40px;
                                @include media-breakpoint-up(lg) {
                                    margin-bottom: 12px;
                                }

                                .product-title {
                                    margin: 0;
                                    text-align: left;
                                    @include font-size(30);
                                    line-height: 33px;
                                    font-weight: 400;
                                    letter-spacing: -.56px;
                                    color: #000;


                                    background-image: linear-gradient(black, #000);
                                    background-position: 0 100%;
                                    background-repeat: no-repeat;
                                    background-size: 0 2px;
                                    transition: background-size 0.3s;
                   
                                    &:hover {
                                      background-size: 100% 2px;
                                    }

                                    @include media-breakpoint-up(md) {
                                        @include font-size(36);
                                        line-height: 36px;
                                    }
                                    @include media-breakpoint-up(lg) {
                                        @include font-size(42);
                                        line-height: 44px;
                                    }
                                    @include media-breakpoint-up(xl) {
                                        @include font-size(50);
                                        line-height: 50px;
                                    }
                                }
                            }
                            .title-noimage {
                                display: block;
                                height:auto;
                                line-height: 40px;

                                .product-title {
                                    margin: 0;
                                    margin-bottom: 8px;
                                    text-align: left;
                                    @include font-size(30);
                                    line-height: 33px;
                                    font-weight: 400;
                                    letter-spacing: -.56px;
                                    color: #000;

                                    background-image: linear-gradient(black, #000);
                                    background-position: 0 100%;
                                    background-repeat: no-repeat;
                                    background-size: 0 2px;
                                    transition: background-size 0.3s;
                   
                                    &:hover {
                                      background-size: 100% 2px;
                                    }

                                    @include media-breakpoint-up(md) {
                                        @include font-size(36);
                                        line-height: 36px;
                                    }
                                    @include media-breakpoint-up(lg) {
                                        @include font-size(46);
                                        line-height: 48px;
                                    }
                                    @include media-breakpoint-up(xl) {
                                        @include font-size(50);
                                        line-height: 50px;
                                    }
                                }
                            }
                            .description {
                                @include font-size(16);
                                font-weight: 400;
                                line-height: 23px;
                                letter-spacing: -.32px;
                                color: $gray-dark;
                                
                                @include media-breakpoint-up(md) {
                                    @include font-size(15);
                                    line-height: 21px;
                                }

                                @include media-breakpoint-up(lg) {
                                    @include font-size(16);
                                    line-height: 23px;
                                }

                                @include media-breakpoint-up(xl) {
                                    @include font-size(20);
                                    line-height: 26px;
                                }
                            }
                        }
                    }
                    .viewing-pane {
                        margin-top: 39px;
                        margin-bottom: 10px;
                        flex-grow: 1;
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-end;

                        @include media-breakpoint-up(md) {
                            margin-top: 30px;
                            margin-bottom: 19px;
                        }
                        @include media-breakpoint-up(lg) {
                            margin-top: 19px;
                            margin-bottom: 19px;
                        }

                        @include media-breakpoint-up(xl) {
                            margin-top: 19px;
                            margin-bottom: 19px;
                        }

                        .view-product {
                            padding: 0 5px 0 0;
                            color: #000;

                            .view-details {
                                padding-right: 10px;
                                line-height: 33px;
                                @include font-size(16);
                                @include media-breakpoint-up(md) {
                                    @include font-size(16);
                                }
                                @include media-breakpoint-up(lg) {
                                    @include font-size(16);    
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}