<div data-sly-test="${wcmmode.edit && !wcmmode.preview}" class="configure__container">
    [ Configure ${component.title} Component ]
</div>
<sly data-sly-use.model="com.juniper.aem.models.StackedStatementsWithImageModel">
</sly>
<div class="cmp-stacked-statements-with-image" data-mod="stacked-statements-with-image">
    <div class="statements grid alignment-${model.imageAlignment}">
        <div class="statements__text">
            <h2 class="statements__text--header">${model.header}</h2>
            <div class="statements__text--description rte-content">
                ${model.description @ context = 'html'}
            </div>
        </div>
        <div class="statements__image">
            <sly data-sly-use.imageHelper="${'com.juniper.aem.helpers.ImageHelper' @fileReference=model.imagePath}"/>
            <img class="d-block w-100 h-100 object-fit--cover lazyload" alt="${model.imageAltText || imageHelper.altText}" data-src="${model.imagePath}">
        </div>
        <div class="statements__container" data-sly-list.statement="${model.statements}">
            <div class="statements__container__statement">
                <div class="statements__container__statement__headline">
                    <span data-sly-test="${statement.iconColor}" class="statements__container__statement__headline--icon ${statement.iconColor}"></span>
                    <h4 class="statements__container__statement__headline--text">
                        ${statement.headline}
                    </h4>
                </div>
                <div class="statements__container__statement__text rte-content">
                    ${statement.text @ context = 'html'}
                </div>
            </div>
        </div>
    </div>
</div>
