<div class="configure__container" data-sly-test="${wcmmode.edit}">
[ Configure ${component.title} Component ]</div>

<sly data-sly-use.model="com.juniper.aem.models.SitemapModel"></sly>

<div class="cmp-sitemap">
    <div class="wrapper grid">        
        <ul data-sly-test="${model.level1PageList}" class="first-level" data-sly-list.level1="${model.level1PageList}">
            <li class="first-level-text"><a href="${level1.pageLink}">${level1.title}</a>
                <ul data-sly-test="${model.level2Map[level1.name]}"class="second-level" data-sly-list.level2="${model.level2Map[level1.name]}">
                    <li class="second-level-text"><a href="${level2.pageLink}">${level2.title}</a></li>
                        <sly data-sly-test.lev3name="${[level2.name,level1.name] @ join = '-'}"/>
                        <ul data-sly-test="${model.level3Map[lev3name]}"class="third-level" data-sly-list.level3="${model.level3Map[lev3name]}">
                            <li><a href="${level3.pageLink}">${level3.title}</a></li>                            
                        </ul>                    
                </ul>
            </li>
        </ul>
    </div>
</div>