.primary-cta {

    &__container {
        &.text-left {
           margin-left: 32px;
        }

        &.text-right {
            margin-right: 32px;
        }

        h3.h3 {
            font-size: 22px;
            margin-bottom: 24px;
            line-height: 1.09;

            @include media-breakpoint-up(lg) {
                font-size: 26px;
                margin-bottom: 32px;
                line-height: 30px;
            }

            @include media-breakpoint-up(xl) {
                margin-bottom: 34px;
            }
        }
    }
}