.product-casestudy {
    @extend .component-bottom-spacing;

    // IE fix
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        .product-casestudy-container{
            display: flex !important;
            padding-left: 7%;
        }
        .product-casestudy-details, .product-casestudy-image{
            display: flex !important;
            flex-direction: column;
            width: 50%;
        }
    }

    .casestudy-link {
        grid-column: 2/5;
        margin-top: -40px;
    }

    .casestudy-details {
        grid-column: 2/6;
        grid-row: 2/5;
    }

    .casestudy-details-down {
        margin-top: 200px;
    }

    .product-casestudy-image {
        grid-column: 7/12;
        grid-row: 1/4;
        min-width: 44vw;
        display: grid;
        margin-right: -32px;
    }

    .casestudy-carousel {
        grid-column: 7/12;
        grid-row: 4/6;
        margin-right: -32px;

        .case-items{
            display:flex;
            white-space: nowrap;

            .casestudy-items{
                display:inline-block;
                padding:13px 13px 0px 0px;
                vertical-align:top;
                margin-bottom: 10px;



                img{
                    border: 1px solid #e0e0e0;
                    padding:20px;
                    width:127px;
                    height:127px;
                    object-fit:contain;
                    @include media-breakpoint-up(lg) {
                        width:182px;
                        height:182px;
                      }
                }

                .title{
                    padding:5px 0 0 0px;
                    white-space:normal;
                    color:#000;
                    font-size: 16px;
                    line-height:1.44;
                    letter-spacing: -0.32px;
                    @include media-breakpoint-down (sm) {
                        font-size:16px;
                        line-height:1.42;
                    }
                    @include media-breakpoint-up(lg) {
                        width:182px;
                      }
                }
            }

        }
    }

    .product-casestudy-container {
        display: grid;
        grid-template-columns: repeat(11, 1fr);
        grid-template-rows: repeat(5, auto);
        grid-row-gap: 100px;
        grid-column-gap: 32px;
        margin: 0 32px 80px 32px;
        @include media-breakpoint-up(md) {
            margin: 0 32px 110px 32px;
        }
    }

    .bgimg {
        width: 100%;
        object-fit: cover;
        height: 100%;

    }
    .case-study__image__icon {
        left: 24px;
        bottom: 24px;
        cursor: pointer;
        font-size: 40px;
        position: absolute;
        @include media-breakpoint-up(md) {
            left: 24px;
        }
        @include media-breakpoint-up(lg) {
            bottom: 38px;
            font-size: 70px;
            left: 38px;
        }
        @include media-breakpoint-up(xl) {
            bottom: 43px;
            left: 42px;
        }
    }
    .close-icon {
        z-index: 999;
        @include font-size(40);
        position: absolute;

        @include media-breakpoint-up(lg) {
          @include font-size(70);
        }

        @include media-breakpoint-up(xl) {
          @include font-size(94);
        }
      }

    .product-casestudy-eyebrow {
        font-size: 13px;
        font-weight: 700;
        line-height: 1.23;
        letter-spacing: 2.52px;
        margin-bottom: 33px;
        color: $gray-dark;

        @media only screen and (max-width:639px) {
            padding: 0px 32px 0px 0px;
        }

        @include media-breakpoint-between (md, lg) {
            line-height: 1.1;
        }
        @include media-breakpoint-up(lg) {
            line-height: 1.27;
        }
    }

    .title {
        height: auto;
        font-size: 48px;
        line-height: 1;
        letter-spacing: -2.8px;
        color: #000;

        h2 {
            color: $black;
            margin-block-start: .2em;
            margin-block-end: .2em;
            font-size: 50px;
            line-height: 1;
            letter-spacing: -1.5px
        }
        a{
            color: #000;
            h2{
                background-image: linear-gradient(black, #000);
                background-position: 0 100%;
                background-repeat: no-repeat;
                background-size: 0 2px;
                transition: background-size 0.3s;

                &:hover {
                    background-size: 100% 2px;
                    display: inline;
                }
            }
        }
    }

    .product-casestudy-main-body {
        height: auto;
        font-size: 18px;
        line-height: 1.44;
        letter-spacing: -.4px;
        color: rgba(0, 0, 0, .8);
        padding: 10px 0;
    }

    .cta {
        padding: 30px 0;
        a button{
            transform: translate3d(0,0,0);
            font-size: 17px;
            line-height: 19px;
            font-weight: 700;
            color: #fff;
        }
    }

    .casestudy-heading {
        width: auto;
        height: auto;
        line-height: 1.09;
        letter-spacing: -.64px;
        margin-bottom: 10px;
    }

    .simplebar-track.simplebar-horizontal {
        background-color: #f0f3f5;
        height: 6px !important;
        .simplebar-scrollbar{
            background: #554545;
            border-radius: 7px;
            height: 4px !important;
        }
    }

    .simplebar-scrollbar.simplebar-visible {
        &:before {
            background-color: #554545;
            opacity: 1;
        }
    }

    @media only screen and (max-width:639px) {
        .casestudy-link {
            grid-row: 1/2;
            grid-column: 1/5;
            margin-top: 0;
        }

        .product-casestudy-details {
            grid-column: 1/5;
            grid-row: 3/4;
        }

        .casestudy-items{
            margin-bottom: 10px;
        }

        .casestudy-details-down {
            margin-top: 0;
        }

        .product-casestudy-image {
            grid-column: 1/5;
            grid-row: 1/3;
            margin-left: -32px;
            height: auto;
        }

        .casestudy-carousel {
            grid-column: 1/5;
            grid-row: 4/5;
        }

        .product-casestudy-container {
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(4, auto);
            grid-row-gap: 30px;
            grid-column-gap: 16px;
            margin: 0 32px;
        }

        .title {
            h2 {
                line-height: 1.11;
                font-size: 36px;
                letter-spacing: -1.44px;
            }
            padding: 0 32px 16px 0;
        }

        .product-casestudy-main-body {
            padding: 0 32px 0 0;
            font-size: 16px;
            line-height: 23px;
        }

        .casestudy-heading {
            line-height: 1.11;
        }
    }

    @media only screen and (min-width:640px) and (max-width:719px) {
        .casestudy-link {
            grid-column: 1/6;
        }

        .product-casestudy-details {
            grid-column: 1/6;
        }

        .title {
            h2 {
                font-size: 36px;
                line-height: 1.11;
                letter-spacing: -1.44px;
                }

            font-size: 28px;
        }

        .product-casestudy-main-body {
            font-size: 16px;
        }

    }

    @include media-breakpoint-between(md, lg) {
        .casestudy-link {
            grid-row: 1/3;
            grid-column: 1/5;
            margin-top: -40px;
        }

        .product-casestudy-details {
            grid-column: 1/5;
            grid-row: 3/6;
        }

        .product-casestudy-image {
            grid-column: 6/10;
            grid-row: 2/5;
            height: 315px;
        }

        .casestudy-carousel {
            grid-column: 6/10;
            grid-row: 5/7;
        }

        .product-casestudy-container {
            grid-template-columns: repeat(9, 1fr);
            grid-template-rows: repeat(6, auto);
            grid-row-gap: 40px;
            grid-column-gap: 24px;
        }

        .title {
            h2 {
                font-size: 36px;
                line-height: 1.11;
                letter-spacing: -1.44px;
            }

            font-size: 36px;
        }

        .product-casestudy-main-body {
            font-size: 18px;
        }

        .cta {
            padding: 20px 0;
        }
    }

    @include media-breakpoint-between(lg, xl) {
        .product-casestudy-details {
            grid-row: 2/5;
        }

        .product-casestudy-image {
            grid-row: 1/4;
            height: 648px;
        }

        .casestudy-carousel {
            grid-row: 4/6;
        }

        .product-casestudy-container {
            grid-template-columns: repeat(11, 1fr);
            grid-template-rows: repeat(5, auto);
            grid-row-gap: 100px;
        }

        .casestudy-heading {
            font-size: 24px;
        }
    }

    @media only screen and (min-width:960px) and (max-width:1440px) {
        .title {
            h2 {
                font-size: 50px;
                line-height: 1;
                letter-spacing: -2.32px;
            }
        }
    }

    @include media-breakpoint-up(lg) {
        .casestudy-link {
            grid-column: 2/5;
            margin-top: -40px;
        }

        .product-casestudy-details {
            grid-column: 2/6;
            grid-row: 2/5;
        }

        .product-casestudy-image {
            grid-column: 7/12;
            grid-row: 1/4;
            min-width: 44vw;
            display: grid;
            margin-right: -32px;
            height: 856px;
        }

        .casestudy-carousel{
            grid-column: 7/12;
            margin-right: -32px;
            margin-top: 40px;
        }
    }
}

.simplebar-track.simplebar-horizontal {
    background-color: #f0f3f5;

}

.simplebar-scrollbar.simplebar-visible:before {
    background-color: #554545;
    opacity: 1;
}
