@import '../../../styles/core/core-bundle';
@import '../../../styles/component/base/base-component';

$carousel-max-slides: 6;
$carousel-inset: sw-spacing(5);
$carousel-dots-height: sw-spacing(1);
$carousel-dots-active-area: sw-spacing(2);

:host {
  position: relative;
  display: block;
}

:host([sw-carousel-span-height]) {
  .carousel-view, .sw-carousel-item {
    height: 100%;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;

  &.inset {
    margin: 0 $carousel-inset;
  }
}

.carousel-view {
  flex-grow: 1;
  flex-shrink: 1;
  overflow: hidden;

  &:not(.sw-focus-ring):focus { outline: 0; }
}

.main {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  height: 100%;
}

.arrows {
  position: absolute;
  top: 50%;
  width: 100%;
  z-index: 1;
  height: 0px;
  overflow: visible;
}
.arrows button {
  position:relative;
  transform: translate(0,-50%);
}
.arrows .next {
  float:right;
}
.arrows .previous {
  float:left;
}

@mixin carouselItemWidth($numberofSlides) {
  [swSlidesShown="#{ $numberofSlides }"] & {
    width: percentage( 1 / $numberofSlides );
  }
}

.sw-carousel-item {
  position: relative;
  display: block;
  flex-shrink: 0;

  @while $carousel-max-slides > 0 {
    @include carouselItemWidth( $carousel-max-slides );
    $carousel-max-slides: $carousel-max-slides - 1;
  }
}

.liveregion, .visually-hidden {
  @include sw-ally-visually-hidden;
}

.aside-item__action {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin: 1px;
  text-indent: -999px;
  cursor: pointer;
  background: $c-grey-20;
  border: 1px solid #fff;
  border-radius: 10px;
}

.aside-item__action.active {
  width: 15px;
  height: 15px;
  background: #fff;
  border: 1px solid $c-grey-20;
}

ul.dots {
  display: inline-flex;
  flex-grow: 0;
  flex-shrink: 0;
  flex-wrap: nowrap;
  justify-content: center;
  margin: 0;
  width: 100%;
  padding: sw-spacing(2) 0 0;

  li {
    display: inline-block;
    list-style: none;
    width: $carousel-dots-active-area;
    height: $carousel-dots-active-area;
  }

  button {
    width: $carousel-dots-active-area;
    height: $carousel-dots-active-area;
    padding: $carousel-dots-height / 2;
    border: none;
    background-color: transparent;
    cursor: pointer;

    &::before {
      content: '';
      position: relative;
      display: block;
      width: $carousel-dots-height;
      height: $carousel-dots-height;
      background-color: $c-grey-40;
      border-radius: $carousel-dots-height;
    }

    &.active::before {
      background-color: $c-active-bg-static;
    }
  }
}
