<div class="wrapper" [ngClass]="{inset:inset}">
  <div class="carousel-view" id="{{uid}}" swFocusRingHelper tabIndex="0"
        [attr.role]="role" [attr.aria-label]="_mainAnnounce" (keydown)="_handleKeyDown($event)">
    <div #liveRegion class="liveregion" [attr.aria-live]="announcePoliteness" aria-atomic="true"></div>
    <div class="main" #carouselContainer [attr.swSlidesShown]="_attrSlidesPerView">
      <div *ngFor="let slide of slides" swCarouselSlide class="sw-carousel-item"
          role="tabpanel"
          [attr.aria-label]="slide.title"
          [visible]="slide.visible"
          [class.active]="slide.active"
          [attr.aria-expanded]="slide.visible"
          [attr.aria-hidden]="!slide.visible"
          [attr.id]="slide.id">
        <ng-template [ngTemplateOutlet]="slide.tplRef"></ng-template>
      </div>
    </div>
  </div>
  <ng-container *ngIf="_paginationState$|async as pages">
    <ul role="tablist" class="dots" *ngIf="_shouldShowPagination(pages.mode)" [attr.aria-controls]="uid">
      <li role="presentation" *ngFor="let p of pages.groups; index as i; trackBy: _paginationTrackByIdx">
        <button role="tab" [class.active]="p" [attr.aria-selected]="p" (click)="goToSlideGroup(i)">
          <span class="visually-hidden">{{i+1}} of {{pages.groups.length}}.{{ p?' Active.':''}}</span>
        </button>
      </li>
    </ul>
  </ng-container>
</div>

<div class="arrows" *ngIf="_shouldDisplayNav" [attr.aria-controls]="uid">
  <button sw-icon-button #prevButton color="primary" class="previous" (click)="arrowPrev()"
      *ngIf="_shouldDisplayPrev" [disabled]="_shouldDisablePrev">
    <sw-icon [size]="arrSize">navigate_before</sw-icon>
  </button>
  <button sw-icon-button #nextButton color="primary" class="next" (click)="arrowNext()"
      *ngIf="_shouldDisplayNext" [disabled]="_shouldDisableNext">
    <sw-icon [size]="arrSize">navigate_next</sw-icon>
  </button>
</div>
