<div class="configure__container" data-sly-test="${wcmmode.edit}">[ Configure ${component.title} Component ]</div>
<div class="cmp-horizontalrule">
    <div class="horizontalrule__container">
        <hr class="${properties.addGutterMargin ? 'hr-gutter' : ''}"/>
    </div>
</div>
