$sw-editorial-component-spacing-selector: ':host( [sw-editorial-item]:not(:last-child) )';
// Based on sw-spacing(2)
$sw-editorial-component-spacing: 16px;

@mixin sw-editorial-component-block ($margin: null) {
  @include base-component-block($margin: $margin)
}

@mixin sw-editorial-component-spacing ($scale-bottom: 1, $scale-top: null, $selector: $sw-editorial-component-spacing-selector) {
  #{$selector} {
    margin-top: if(type-of($scale-top) == 'number', $sw-editorial-component-spacing * $scale-top, null);
    margin-bottom: if(type-of($scale-bottom) == 'number', $sw-editorial-component-spacing * $scale-bottom, null);
  }
}

@include media-width-up( map-get($breakpoint-map, sm) ) {
  :host-context([sw-text-align="center"]) {
    text-align: center;
  }
}
