@import '../../../../styles/core/core-bundle';
@import './editorial-item-base';

:host {
  display: block;
  clear: both;
}

@include sw-editorial-component-spacing();

.wrapper {
  display: inline-flex;
  max-width: 100%;
  width: 100%;

  @include media-width-up( map-get($breakpoint-map, sm) ) {
    :host-context([sw-text-align="center"]) & {
      justify-content: center;
      align-items: center;
    }
  }

  & > sw-editorial-item-profile {
    flex: 1 1 320px;
    max-width: 320px;
  }

  &.sw-dir-row {
    flex-wrap: wrap;
  }

  &.sw-dir-column {
    flex-direction: column;

    & > sw-editorial-item-profile {
      flex: 0 0 auto;
    }
  }
}

sw-editorial-item-profile {
  padding: sw-spacing(1);
  width: 100%;
}
