@import '../../../../styles/core/core-bundle';
@import './editorial-item-base';

:host {
  @include sw-editorial-component-block();
  max-width: $base--content-column-max-width;
}

@include sw-editorial-component-spacing();

p {
  @include type-body();
}

:host-context([sw-group-line-height="normal"]) {
  p {
    line-height: $base--line-height-normal;
  }
}
