@import '../../../../styles/core/core-bundle';
@import './editorial-item-base';

$link-list-segment-width: 240px; // ~1/6 of max page width
@include sw-editorial-component-spacing();

:host {
  @include sw-editorial-component-block();
  max-width: $base--content-column-max-width;
}

ul {
  list-style: none;
  padding: 0;
  position: relative;
  columns: $link-list-segment-width - sw-spacing(4);
  column-gap: sw-spacing(3);
}

.link-list-item a {
  min-width: 0;
  white-space: normal;
  text-align: left;
  padding: ($sw-button-padding-vertical / 2) 0;

  &:not([sw-theme='invert']) {
    color: $sw-button-theme-regular-static-text;
  }

  &:not(:last-child) {
    margin-bottom: sw-spacing(1);
  }
}
