<sw-blockarrow-tabset
    [activeId]="activeId"
    [id]="id"
    [orientation]="orientation"
    [persistToQuery]="persistToQuery"
    [staggerOnMobile]="staggerOnMobile"
    [theme]="groupTheme"
    [variant]="variant">
  <sw-tab *ngFor="let item of items; let idx = index;" [id]="item.tabId">
    <ng-template swTabTitle>
      <span [innerHTML]="item.tabTitle"></span>
    </ng-template>
    <ng-template swTabContent>
      <ng-container swEditorialOutlet [items]="items[idx].children" [theme]="theme"></ng-container>
    </ng-template>
  </sw-tab>
</sw-blockarrow-tabset>
