@import '../../../../styles/core/core-bundle';
@import './editorial-item-base';

:host {
  display: inline-block;
  max-width: 350px;
}

:host(.sw-empty) {
  display: none;
}

figure {
  margin: 0;
}

.attribution {
  display: table;
}

.attribution__thumb, .attribution__details {
  display: table-cell;
  text-align: left;
}

.attribution__thumb + .attribution__details {
    padding-left: sw-spacing(2);
}

.attribution__thumb {
  width: sw-spacing(10);
  min-width: sw-spacing(10);
  vertical-align: top;

  img {
    width: 100%;

    &.circle {
      border-radius: 100%;
      overflow: hidden;
    }

    &.rounded {
      border-radius: sw-spacing(1);
      overflow: hidden;
    }
  }

  & > a {
    display: block;
  }
}

.attribution__subject {
  text-align: left;
  padding: 0;

  & + .attribution__description {
    margin-top: sw-spacing(1);
  }

  sw-icon {
    margin-left: -0.25em;
  }
}

.attribution__details {
  vertical-align: middle;
}

.attribution__description {
  @include type-small();
}
