@import '../../../../styles/core/core-bundle';
@import './editorial-item-base';

:host {
  @include sw-editorial-component-block();
  max-width: $base--content-column-max-width;

  &:not(.wrap) {
    overflow: hidden;

    ul {
      margin-left: sw-spacing(3);
    }
  }
}

@include sw-editorial-component-spacing();

:host(.wrap) {
  li {
    left: sw-spacing(3);
    margin-right: sw-spacing(3);
  }
}

:host-context([sw-text-align="center"]) > ul {
  display: inline-block;
}

ul {
  list-style-position: outside;
  padding: 0;
  list-style: none
}

li {
  @include type-body();
  text-align: left;
}

:host-context([sw-group-line-height="normal"]) {
  li {
    line-height: $base--line-height-normal;
  }
}

ul li::before {
  content: '\2022';
  font-family: Courier, monospace;
  display: inline;
  padding-right: sw-spacing(1);
  margin-left: sw-spacing(3) * -1;
}
ul li ul li::before { content: '\25E6' }
ul li ul li ul li::before { content: '\25AA' }
