<div class="attribution">
  <div *ngIf="img?.length > 0" class="attribution__thumb">
    <ng-container *ngIf="_hasUrl; then quoteByLineImageLink else quoteByLineImage"></ng-container>
  </div>
  <div class="attribution__details">
    <ng-container *ngIf="subject?.length > 0; then quoteByLineSubject"></ng-container>
    <div class="attribution__description" *ngIf="description?.length > 0" [innerHTML]="description"></div>
  </div>
</div>

<ng-template #quoteByLineImageLink>
  <a *ngIf="img?.length > 0" [href]="url" [title]="subject" [target]="target || ''" [swEval]="onclick">
    <ng-container *ngTemplateOutlet="quoteByLineImage"></ng-container>
  </a>
</ng-template>

<ng-template #quoteByLineImage>
  <img [swImage]="img" [alt]="subject" [ngClass]="imgStyle" />
</ng-template>

<ng-template #quoteByLineSubject>
  <div class="attribution__subject" *ngIf="!_hasUrl" [innerHTML]="subject"></div>
  <a class="attribution__subject" *ngIf="_hasUrl" sw-button wrap="true"
    [color]="_linkTheme" [href]="url" [target]="target" [swEval]="onclick">
    <span [innerHTML]="subject"></span>&nbsp;<sw-icon size="xs">navigate_next</sw-icon>
  </a>
</ng-template>
