<div class="wrapper">
  <ul *ngIf="items?.length > 0">
    <li *ngFor="let link of items" class="link-list-item">
      <a sw-button
         [href]="link.url"
         [target]="link?.target"
         [swEval]="link?.onclick"
         [color]="_linkTheme">
        <span [innerHTML]="link.label"></span>
      </a>
    </li>
  </ul>
</div>
