@import '../../../../styles/core/core-bundle';
@import './editorial-item-base';

:host {
  @include sw-editorial-component-block();
  max-width: $base--content-column-max-width;
}

:host([sw-editorial-item]:not([sw-editorial-prev-type="headline"]):not(:first-child)) {
  margin-top: sw-spacing(4);
}

#{$sw-editorial-component-spacing-selector} {
  margin-bottom: sw-spacing(1);
}

:host([sw-group-theme]:not([sw-group-theme="dark"])) { color: $c-txt-blue-headline-on-light }

:host([aria-level="1"]) { @include type-head1(); }
:host([aria-level="2"]) { @include type-head2(); }
:host([aria-level="3"]) { @include type-head3(); }
:host([aria-level="4"]) { @include type-head4(); }
:host([aria-level="5"]) { @include type-head5(); }
:host([aria-level="6"]) { @include type-head5(); }
span ::ng-deep > small { @include type-head5(); display: block; }
