@import '../../../../styles/core/core-bundle';
@import './editorial-item-base';

:host {
  @include sw-editorial-component-block();
}

@include sw-editorial-component-spacing();

sw-accordion {
  position: relative;
  display: block;
}

sw-accordion-panel + sw-accordion-panel {
  margin-top: 8px;
}
