<figure>
  <ng-container *ngIf="url.length > 0; then clickableMedia else imageMedia"></ng-container>
  <figcaption *ngIf="caption.length > 0" [innerHTML]="caption"></figcaption>
</figure>

<ng-template #clickableMedia>
  <a class="media__trigger" [href]="url" [title]="label" [target]="target || ''" [swEval]="onclick" (click)="_handleClick($event)">
    <ng-content *ngTemplateOutlet="imageMedia"></ng-content>
    <button *ngIf="_urlIsVideo || _validIconOverride" class="media__play" sw-mini-fab tabIndex="-1">
      <sw-icon  size="sm">{{ _validIconOverride ? iconOverride : 'play_arrow' }}</sw-icon>
    </button>
  </a>
</ng-template>

<ng-template #imageMedia>
  <img [swImage]="img" [alt]="label" />
</ng-template>
