@import '../../../../styles/core/core-bundle';
@import './editorial-item-base';

$sw-editorial-item-size-sm: 280px;
$sw-editorial-item-size-md: 420px;
$sw-editorial-item-size-lg: 840px;

:host {
  @include sw-editorial-component-block(sw-spacing(1) auto 0);
  clear: both;
  z-index: 1;
}

@include media-width-up( map-get($breakpoint-map, xs) ) {
  :host { max-width: 80%; }
}

@include sw-editorial-component-spacing();

@include media-width-up( map-get($breakpoint-map, sm) ) {
  :host[sw-size="sm"] {
    max-width: sw-spacing(40);
    width: 60%;
  }

  :host[sw-size="md"] {
    max-width: sw-spacing(55);
    width: 60%;
  }

  :host[sw-size="lg"] {
    max-width: round(($base--page-max-width - ($base--spacing-base-unit * 10)) * (8/12));
    width: 80%;
  }

  :host([sw-size="auto"]) {
    max-width: 80%;
  }

  :host([sw-size="auto"]:not([sw-float="none"])) {
    max-width: 60%
  }

  :host[sw-size="auto"] {

    img {
      width: auto;
      max-width: 100%;
    }
    figure {
      display: table;
    }
    figcaption {
      display: table-caption;
      caption-side: bottom;
    }

  }

  :host[sw-float="left"] {
    float: left;
    margin-right: sw-spacing(5);
  }

  :host[sw-float="right"] {
    float: right;
    margin-left: sw-spacing(5);
  }
}

:host[sw-size="lg"]:not(:first-child) {
  margin-bottom: 4%
}
:host[sw-size="lg"]:not(:last-child) {
  margin-top: 4%
}

figure {
  margin: 0 auto;
}

figcaption {
  @include type-small();
  padding-top: sw-spacing(2);
  text-align: left;
}

img {
  width: 100%;
}

[role="button"] {
  cursor: pointer;
}

.media__trigger {
  display: block;
}

button.media__play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
