@import './editorial-item-paragraph.component.scss';

:host {
  @include sw-editorial-component-block();
  columns: 420px 2;
  column-gap: sw-spacing(3);
  clear: both;
}

@include sw-editorial-component-spacing();
