<ng-container *ngTemplateOutlet="list; context:{ items: _items }"></ng-container>

<ng-template #list let-items="items">
  <ul>
    <li *ngFor="let i of items">
      <span [innerHTML]="i.text"></span>
      <ng-container *ngIf="i.children.length > 0">
        <ng-container *ngTemplateOutlet="list; context:{ items: i.children }"></ng-container>
      </ng-container>
    </li>
  </ul>
</ng-template>
