<figure>
    <blockquote>
      <span class="open-quote" aria-hidden="true"><span>&ldquo;</span></span>&nbsp;<span [innerHTML]="text"></span>&nbsp;<span class="close-quote" aria-hidden="true"><span>&rdquo;</span></span>
    </blockquote>
    <sw-editorial-item-profile [properties]="profile" [groupTheme]="groupTheme"></sw-editorial-item-profile>
</figure>
