<ng-container *ngIf="url.length > 0" [ngSwitch]="style">
  <a *ngSwitchCase="'raised'"
    sw-raised-button color="primary"
    [href]="url" [target]="target" [swEval]="onclick">
      <ng-container *ngIf="pre.length > 0">
        <sw-icon size="xs">{{ pre }}</sw-icon>&nbsp;
      </ng-container>
      <span [innerHTML]="label"></span>
  </a>
  <a *ngSwitchCase="'outlined'"
    sw-outlined-button color="primary"
    [href]="url" [target]="target" [swEval]="onclick">
      <ng-container *ngIf="pre.length > 0">
        <sw-icon size="xs">{{ pre }}</sw-icon>&nbsp;
      </ng-container>
      <span [innerHTML]="label"></span>
  </a>
  <a *ngSwitchDefault
    sw-button [color]="_linkTheme"
    [href]="url" [target]="target"
    [swEval]="onclick">
    <ng-container *ngIf="pre.length > 0">
      <sw-icon size="xs">{{ pre }}</sw-icon>&nbsp;
    </ng-container>
    <span [innerHTML]="label"></span>
    <ng-container *ngIf="pre.length === 0">
      &nbsp;<sw-icon size="xs">navigate_next</sw-icon>
    </ng-container>
  </a>
</ng-container>
