@import '../../../../styles/core/core-bundle';
@import './editorial-item-base';

:host {
  @include sw-editorial-component-block();
  clear: both;
  max-width: $base--content-column-max-width;
}

:host([sw-text-align="center"]) {
  text-align: left;
}

@include sw-editorial-component-spacing();
