@import '../../../../styles/core/core-bundle';
@import './editorial-item-base';

:host {
  @include sw-editorial-component-block();
}

@include sw-editorial-component-spacing();

[sw-button] {
  padding-left: 0;
  padding-right: 0;
}

[sw-button], [sw-raised-button] {
  white-space: normal;
  text-align: left;
}
