<sw-accordion [multi]="multi" [id]="id">
  <sw-accordion-panel *ngFor="let item of items; index as idx" [expanded]="item.expanded">
    <sw-accordion-panel-header >
      <span [innerHTML]="item.title"></span>
    </sw-accordion-panel-header>
    <ng-container swEditorialOutlet [items]="item.children"></ng-container>
  </sw-accordion-panel>
</sw-accordion>
