@import '../../../../styles/core/core-bundle';
@import './editorial-item-base';

:host {
  @include sw-editorial-component-block($margin: 0 auto);
  max-width: $base--content-column-max-width;
}

@include sw-editorial-component-spacing();

figure, blockquote {
  margin: 0;
}

:host-context([sw-editorial-item]:not(:first-child)) figure {
  margin-top: sw-spacing(7);
}
:host-context([sw-editorial-item]:not(:last-child)) figure {
  margin-bottom: sw-spacing(7);
}

figure {
  @include media-width-up( map-get($breakpoint-map, sm) ) {
    margin-left: 8%;
    margin-right: 8%;
  }
}

blockquote {
  @include type-head4($line-height: $base--line-height-loose);

  .open-quote, .close-quote {
    position : relative;
    display: inline;
    padding-left: 0.75em;
    user-select: none;

    span {
      position: absolute;
      top: 0;
      font-family: inherit;
      font-size: 2em;
      line-height: 1;
      height: 0.5em;
    }
  }

  .open-quote span { right: 0 }
  .close-quote span { left: 0 }

  & + sw-editorial-item-profile {
    margin-top: sw-spacing(3);
  }
}

:host-context([sw-group-line-height="normal"]) {
  blockquote {
    line-height: $base--line-height-normal;
  }
}
