.breadcrumb {
    margin-bottom: 0;
    background-color: #fff;
    border-radius: 0;
    padding: 1.5rem 0;
    .icon-right:hover:before {
        color: $gray-dark;
    }
    .cmp-breadcrumb {
        &__list {
            @include lato-regular;
            padding-left: 0;
        }
        &__item {
            box-shadow: none;
            font-size: 12px;
            line-height: 18px;
            padding: 4px 5px 0 0;
           
            &:nth-child(n) {
                display: none !important;
            }
            &:nth-last-child(1) {
                display: inline-block !important;
            }
            &:nth-last-child(2) {
                display: inline-block !important;
            }
            @include media-breakpoint-up(md) {
                padding: 0 12px 0 0;
            }
            @include media-breakpoint-up(lg) {
                padding: 0 12px 0 0;
                &:nth-child(n) {
                    display: inline-block !important;
                }
            }
            @include media-breakpoint-up(xl) {
                padding: 0 12px 0 0;
                &:nth-child(n) {
                    display: inline-block !important;
                }
            }
            @media only screen and (min-device-width: 768px) 
            and (max-device-width: 1024px) 
            and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
               
                &:nth-child(n) {
                    display: none !important;
                }
                &:nth-last-child(1) {
                    display: inline-block !important;
                }
                &:nth-last-child(2) {
                    display: inline-block !important;
                }
            }
            &--active {
                text-decoration: none;
                color: $gray-dark;
                line-height: 18px;
                font-weight: 400;
                @include media-breakpoint-up(sm) {
                    line-height: 15px;
                }
                @include media-breakpoint-up(md) {
                    @include font-size(14);
                    padding: 0 12px 0 0;
                }
                @include media-breakpoint-up(lg) {
                    @include font-size(14);
                    padding: 0 12px 0 0;
                }
                @include media-breakpoint-up(xl) {
                    @include font-size(14);
                    padding: 0 12px 0 0;
                }
            }
            &-link {
                position: static;
                @include font-size(12);
                font-weight: 400;
                line-height: 15px;
                letter-spacing: normal;
                color: $gray-dark;
                padding: 0 2px 0 0;
                @include media-breakpoint-up(md) {
                    @include font-size(14);
                    line-height: 18px;
                    padding: 0 12px 0 0;
                }
                @include media-breakpoint-up(lg) {
                    @include font-size(14);
                    line-height: 18px;
                    padding: 0 12px 0 0;
                }
                @include media-breakpoint-up(xl) {
                    @include font-size(14);
                    line-height: 18px;
                    padding: 0 12px 0 0;
                }
                &:hover {
                    text-decoration: none !important;
                }
            }
            .icon-right {
                padding-top: 2px;
                @include font-size(8);
            }
        }
    }
}