.cmp-standalone-video {

    @extend .component-bottom-spacing;

    .standalone-video {
        &__container{
            
            @extend .grid;
            &__image{
                grid-column: 1/5;
                @include media-breakpoint-up(md) {
                    grid-column: 1/10;
                }
                @include media-breakpoint-up(lg) {
                    grid-column: 2/11;
                }
                
                img{
                    object-fit: cover;
                    max-height: 375px;                    
                    @include media-breakpoint-up(md) {
                        max-height: 482px;
                    }                     
                    @include media-breakpoint-up(lg) {
                        max-height: 493px;
                    }                    
                }

                .play-icon {
                    z-index: 999;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    @-moz-document url-prefix() {
                        top: 40%;
                    }
                    transform: translate(-50%, -50%);
                    @include font-size(40);

                    @include media-breakpoint-up(lg) {
                        @include font-size(70);
                    }

                    @include media-breakpoint-up(xl) {
                        @include font-size(94);
                    }
                    .icon-play-btn .path2:before {
                        margin-left: -1.5em;
                        @-moz-document url-prefix() {
                            margin-left: 0;
                        }
                    }
                    .icon-play-btn-hover .path2:before {
                        margin-left: -1.5em;
                        @-moz-document url-prefix() {
                            margin-left: 0;
                        }
                    }
                    
                    @-moz-document url-prefix() {
                        .icon-play-btn {
                        position: absolute;
                        top: 0;
                        left: 0;
                        transform: translate(-50%, -50%);
                        
                        .path1, .path2 {
                            position: absolute;
                            top: 0;
                            left: 0;
                            }
                        }
                    }

                }


                .juniper-icon {
                    &.grey{
                        background-color: $gray-dark !important;
                    }
                }
            }
            &__caption{
                color: $gray-dark;
                margin-top: 24px;
                grid-column: 1/5;
                @include media-breakpoint-up(md) {
                    grid-column: 1/8;
                }
                @include media-breakpoint-up(lg) {
                    grid-column: 2/6;
                }
                @include media-breakpoint-up(xl) {
                    grid-column: 2/6;
                }

                &.right{
                    @include media-breakpoint-up(md) {
                        grid-column: 3/10;
                    }
                    @include media-breakpoint-up(lg) {
                        grid-column: 7/11;
                    }
                }
                &.center{
                    text-align: center;
                    @include media-breakpoint-up(md) {
                        grid-column: 2/9;
                    }
                    @include media-breakpoint-up(lg) {
                        grid-column: 4/9;
                    }
                    @include media-breakpoint-up(xl) {
                        grid-column: 5/8;
                    }
                }
            }
        }
    }
}
