.gartnerboilerplate {
    background-color: $silver;
    .gartner-boilerplate__container {
        .gartner-boilerplate_body {
            @include font-size(10);
            line-height: 16px;
            margin: 15px 0;
            grid-column: 1/5;

            @include media-breakpoint-up(md) {
                grid-column: 1/10;
            }

            @include media-breakpoint-up(lg) {
                grid-column: 1/12;
                margin: 35px 0;
            }

            @include media-breakpoint-up(xl) {
                grid-column: 2/11;
            }
        }
    }
}
