.text-expandable {
    @extend .grid;

    &__header {
        @extend .content-grid-11;
        margin-bottom: 100px;

        &--grid {
            @extend .grid;
            padding: 0px 10px;
            overflow-y: hidden;
        }

        &__title {
            grid-column: 1/9;
        }

        &__description {
            grid-column: 1/9;
        }
    }

    &__items {
        @extend .content-grid-11;
        
        &__list{
            // @extend .grid;
            padding: 0;
            overflow: hidden;
            grid-template-columns: repeat(9, 1fr);
            grid-column-gap: 32px;
            @include media-breakpoint-down(md) {
                grid-template-columns: repeat(4, 1fr) ;
            }
            @include media-breakpoint-up(md) {
            grid-template-columns: repeat(9, 1fr);
            display: grid;
            }
            .left{
                grid-column: 1/5;
                @include media-breakpoint-down(md) {
                    grid-column: 1/2;
                    padding: 0 10px;
                }
                @include media-breakpoint-up(md) {
                    grid-column: 1/4;
                }
            }
            .right{
                grid-column: 5/10;
                @include media-breakpoint-down(md) {
                    grid-column: 2/5;
                }
                @include media-breakpoint-up(md) {
                    grid-column: 5/10;
                }
                p{
                    @include media-breakpoint-up(md) {
                        @include font-size(15);
                        line-height: 21px;
                    }
                }
            }
            .eyebrow{
                padding: 2rem 0 0;
            }
            ul{
                margin: 0;
                padding: 0;

                li{
                    list-style: none;
                    margin: 0;
                    padding: 1rem 0;
                    @include media-breakpoint-up(md) {
                        @include font-size(15);
                        line-height: 21px;
                    }
                    h5{
                        padding: 1rem 0;
                        
                        a{
                            color: inherit;
                            
                            &:hover{
                              text-decoration: underline;
                              text-underline-offset: 1px;
                            }
                        }
                    }
                }
            }
        }

        &__item {
            @extend .content-grid-11;
            padding: 30px 0;
            border-top: 1px solid $gray-light;
            @include media-breakpoint-up(md) {
                padding: 63px 0;
            }

            &--wrapper {
                display: grid;
                grid-template-columns: repeat(4, 1fr) ;
                grid-column-gap: 16px;
                padding: 0;
                @include media-breakpoint-up(md) {
                    padding: 10px;
                    grid-template-columns: repeat(9, 1fr) ;
                    grid-column-gap: 24px;
                }
                @include media-breakpoint-up(lg) {
                    grid-column-gap: 32px;
                }
            }

            &:last-child {
                border-bottom: 1px solid $gray-light;
            }

            &__image {
                grid-column: 1/1;
                @include media-breakpoint-up(md) {
                    grid-column: 1/ span 2;
                }
                @include media-breakpoint-up(lg) {
                    grid-column: 1/ span 1;
                }
            }

            &__title-subtitle {
                grid-column: 2/4;
                @include media-breakpoint-up(md) {
                    grid-column: 3/ span 2;
                }
                @include media-breakpoint-up(lg) {
                    grid-column: 2/ span 3;
                }

                &--subtitle {
                    line-height: normal;
                    margin-top: 10px;
                    @include media-breakpoint-up(md) {
                        margin-top: 7px;
                    }
                }
                    h4{
                        @include media-breakpoint-up(lg) {
                            @include font-size(28);
                            line-height: 34px;
                        }
                    }
            }

            &__description {
                padding-top: 32px;
                padding: 32px 0;
                @include media-breakpoint-up(md) {
                    padding: unset;
                    grid-column: 6/span 3;
                }
                @include media-breakpoint-up(lg) {
                    grid-column: 5/ span 4;
                }
                &__intro{
                    @include media-breakpoint-down(md) {
                        @include font-size(16);
                        line-height: 1.44;
                    }
                    @include media-breakpoint-up(md) {
                        @include font-size(17);
                        line-height: 24px;
                    }
                    @include media-breakpoint-up(lg) {
                        @include font-size(18);
                        line-height: 1.44;
                    }
                    p{
                        padding-top: 0 !important;
                    }
                }
                &__fullIntro{
                    @include media-breakpoint-down(md) {
                        @include font-size(16);
                        line-height: 1.44;
                    }
                    @include media-breakpoint-up(md) {
                        @include font-size(17);
                        line-height: 1.41;
                    }
                    @include media-breakpoint-up(lg) {
                        @include font-size(18);
                        line-height: 1.44;
                    }
                }
            }
            .disable-expand {
                pointer-events: none;
                opacity: 0.5;
            }

            &__icons {
                grid-column: 4/4;
                @include media-breakpoint-up(md) {
                    grid-column: 9/10;
                }
                @include media-breakpoint-up(lg) {
                    grid-column: 9/ span 1;
                }
                display: flex;
                justify-content: flex-end;

                .icon-plus {
                    display: block;
                    cursor: pointer;
                    @include font-size(36);
                    @include media-breakpoint-down(md) {
                        @include font-size(24);    
                    }
                }

                .icon-minus {
                    display: none;
                    cursor: pointer;
                    @include font-size(36);
                    @include media-breakpoint-down(md) {
                        @include font-size(24);    
                    }
                }

                &.show {
                    .icon-plus {
                        display: none;
                    }

                    .icon-minus {
                        display: block;
                    }
                }
            }
        }
    }
}