.cmp-content-header-text {
  @extend .component-bottom-spacing;
  .textheadernoimage {
    @extend .h1;
    background-color: $black;
    color: $white;
    overflow: unset;
    padding-bottom: 1rem;


    &.inverse {
      color: $black;
      background-color: $white;
    }

    h1 {
      color: $white !important;
      grid-column: 1/5;

      @include media-breakpoint-down(md) {
        margin: 44px 0 0;
      }

      @include media-breakpoint-up(md) {
        margin: 61px 0 0;
        grid-column: 2/8;
      }

      @include media-breakpoint-up(lg) {
        margin: 94px 0 0;
        grid-column: 2/11;
      }

      @include media-breakpoint-up(xl) {
        margin: 133px 0 0;
      }
    }

    .textheadernoimage-description {
      color: $white !important;
      grid-column: 1/5;

      @include media-breakpoint-up(md) {
        margin: 16px 0 0;
        grid-column: 2/9;
      }

      @include media-breakpoint-up(lg) {
        margin: 24px 0 0;
        grid-column: 2/8;
      }
    }

    a {
      grid-column: 1/5;
      @include font-size(17);
      width: fit-content;
      line-height: 1.12;
      letter-spacing: normal;
      font-weight: bold;

      @include media-breakpoint-down(md) {
        margin: 36px 0 73px;
      }

      @include media-breakpoint-up(md) {
        margin: 24px 0 74px;
        grid-column: 2/8;
      }

      @include media-breakpoint-up(lg) {
        margin: 48px 0 102px;
        grid-column: 2/5;
      }

      @include media-breakpoint-up(xl) {
        margin: 48px 0 115px;
      }
    }
    .juniper-btn--link{
      color:$white !important;
      &:hover{
        color:$white !important;
      }
      &:after{
        background-color:$white !important;
      }

    }
  }
}

.cmp-content-header {
  @extend .component-bottom-spacing;
  margin-left: -2pc;
  margin-right: -2pc;

  .lhc-container {
    max-width: 100%;

    .wrapper {
      margin-left: -2pc;
      margin-right: -2pc;

      @include media-breakpoint-up(md) {
        grid-template-rows: 1fr 2fr 2fr 1fr;
      }

      .img-container {
        grid-column: 1 / span 4;
        @include color-theme($theme-colors) {
          background-color: $value;
        }
        height: 375px;

        img {
          width: 100%;
          height: inherit;
          object-fit: cover;
          @include media-breakpoint-up(lg) {
            vertical-align: top;
          }
        }

        @include media-breakpoint-up(md) {
          grid-column: 1 / span 9;
          grid-row: 1 / span 3;
          height: 470px;
        }
        @include media-breakpoint-up(lg) {
          grid-column: 1 / span 11;
          height: 773px;
        }
        @include media-breakpoint-up(xl) {
          height: 893px;
        }
      }

      .text-container {
        grid-column: 1 / span 4;
        background-color: $black;

        grid-template-columns: repeat(4, 1fr);
        grid-template-rows:  1fr;
        grid-row-gap: 0;

        @include media-breakpoint-up(md) {
          grid-column: 1 / span 6;
          grid-row: 2 / span 3;
          grid-template-columns: repeat(6, 1fr);
          grid-template-rows: repeat(3, 1fr);
        }

        @include media-breakpoint-up(lg) {
          grid-column: 1 / span 5;
          grid-template-columns: repeat(5, 1fr);
          max-height: 950px;
        }

        .content {
          grid-column: 1 / span 4;

          grid-row: 1/span 1;
          margin-top: 44px;
          margin-bottom: 81px;

          @include media-breakpoint-up(md) {
            grid-row: 2 / span 1;
            grid-column: 1 / span 5;
            margin-top: 0;
            margin-bottom: 0;
          }

          @include media-breakpoint-up(lg) {
            grid-column: 2 / span 3;
            grid-row: 1 / span 1;
            margin-top: 230px;
            margin-bottom: 189px;
          }
          @include media-breakpoint-up(xl) {
            margin-top: 269px;
            margin-bottom: 225px;
          }

          .title {
            h1 {
              color: $white !important;
            }
          }

          .desc {
            font-size: 16px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.44;
            letter-spacing: -0.32px;
            color: $white;
            padding-top: 1.5rem;
            padding-bottom: 2.25rem;

            @include media-breakpoint-up(md) {
              font-size: 17px;
              line-height: 1.41;
              letter-spacing: -0.34px;
              padding-top: 	3.32rem;
            }

            @include media-breakpoint-up(lg) {
              font-size: 18px;
              line-height: 1.44;
              letter-spacing: -0.36px;
              padding-top: 2.69rem;
            }
          }

          .cta {
            a {
              color: inherit;
              @include font-size(17);
              width: fit-content;
              line-height: 1.12;
              letter-spacing: normal;
              font-weight: bold;
            }
            .juniper-btn--link{
              color:$white !important;
              &:hover{
                color:$white !important;
              }
              &:after{
                background-color:$white !important;
              }

            }
          }
        }
      }

      &.variant2 {
        grid-template-rows: max-content;
        margin-bottom: 0;
        @include media-breakpoint-up(md) {
          grid-template-rows: repeat(3, 1fr) 0.5fr;
        }
        .text-container {
          grid-column: 1 / span 4;
          background-color: $black;
          grid-row: auto;

          @include media-breakpoint-up(md) {
            grid-column: 1 / span 9;
            grid-row: 1/ span 3;
            grid-template-columns: repeat(9, 1fr);
          }

          @include media-breakpoint-up(lg) {
            grid-column: 1 / span 11;
            grid-template-columns: repeat(11, 1fr);
            grid-row: 1 / span 3;
            max-height: 707px;
          }

          grid-template-columns: repeat(4, 1fr);
          grid-template-rows: none;

          .content {
            grid-column: 1 / span 4;
            padding-top: 44px;
            margin-top:0;
            margin-bottom: 0;
            grid-row: 1/span 1;

            @include media-breakpoint-up(md) {
              grid-column: 2 / span 7;
              padding-top: 75px;
            }

            @include media-breakpoint-up(lg) {
              grid-column: 2 / span 4;
              padding-top: 8rem;
            }

            .desc {
              padding-bottom: 57px;
              @include media-breakpoint-up(md) {
                padding-top: 26px;
                padding-bottom: 11rem;
              }

              @include media-breakpoint-up(lg) {
                padding-top: 43px;
                padding-bottom: 100px;
              }
            }
          }
        }

        .img-container {
          grid-column: 1 /-1;
          grid-row: 1/span 2;
          z-index: 999;
          height: 375px;

          @include media-breakpoint-up(md) {
            grid-column: 6 / span 4;
            grid-row: 3 /  -1;
            height: 273px;
            align-self: end;
          }

          @include media-breakpoint-up(lg) {
            padding-left: calc(#{get-column-width(lg)} / 2);
            grid-column: 6 / span 6;
            grid-row: 2 /  -1;
            height: 480px;
          }

          @include media-breakpoint-up(xl) {
            padding-left: calc(#{get-column-width(xl)} / 2);
            height: 641px;
          }

          img {
            width: 100%;
            top: 50%;
            transform: translateY(-50%);
            height: inherit;
            object-fit: cover;

            @include media-breakpoint-up(lg) {
              top: 0;
              transform: translateY(0);
            }
          }
        }
        &.inverse{
          .text-container {
            .content{
              @include media-breakpoint-up(md) {
                grid-column: 2 / span 7;
              }
              @include media-breakpoint-up(lg) {
                grid-column: 7 / span 4;
              }
            }
          }
          .img-container {
            overflow: hidden;
            @include media-breakpoint-up(md) {
              grid-column: 1 / span 4;
              grid-row: 3 / -1;
              padding-top: 42px;
            }
            @include media-breakpoint-up(lg) {
              padding-right: calc(#{get-column-width(lg)} / 2);
              padding-left: 0;
              grid-column: 1 / span 6;
              grid-row: 2 / -1;
            }
          }
        }
      }
    }
  }
}