.back-to-top {
	.back-to-top-container{
		margin-bottom:20px;
		grid-column: 1/5;
		display: flex;
		@include media-breakpoint-up(md){
			margin-bottom: 15px;
		}
		@include media-breakpoint-up(lg){
			margin-bottom: 25px;
		}
		@include media-breakpoint-up(xl) {
			grid-column: 2/6;
			margin-bottom: 30px;
		}
		button{
			@include font-size(16);
			@include lato-bold;
			font-weight: 700;
			line-height: 2.06;
			letter-spacing: -0.16px;
			padding-right: 12px;
			height: 33px;
			@include media-breakpoint-up(lg) {
				@include font-size(20);
				line-height: 1.65;
  				letter-spacing: -0.2px;
			}
		}
	}
	.juniper-icon {
		transform: rotate(-90deg) !important;
	}
	.icon-arrow {
		@include font-size(14);
		margin-bottom: 5px;
		margin-left: 12px;;
		cursor: pointer;
	}
}
