.productcomparison {
    @extend .component-bottom-spacing;
    .cmp-product-comparison {

        @include lato-regular;
        // margin-top: 55px;
        // margin-bottom: 40px;
        overflow-x: auto;
        overflow-y: visible;

        @include color-theme($theme-colors) {
            background-color: $value !important
        }

        .product-comparison-wrapper {

            min-width: 650px;
            .top-banner {
                @media all and (-ms-high-contrast: none),
                (-ms-high-contrast: active) {
                    margin-bottom: 84px;
                }

                padding-top: 80px;
                padding-bottom: 78px;
                display: flex;

                @include media-breakpoint-up(md) {
                    display: grid;
                    padding-top: 80px;
                    padding-bottom: 60px;
                    width: 100%;
                }

                @include media-breakpoint-up(lg) {
                    padding-top: 120px;
                    padding-bottom: 108px;
                    width: 100%;
                }

                @include media-breakpoint-up(xl) {
                    padding-top: 120px;
                    padding-bottom: 108px;
                    width: 100%;
                }

                h1 {
                    font-weight: 400;
                    line-height: 40px;
                    letter-spacing: -1.44px;
                    color: $black;
                    width: 65%;
                    margin-right: 100px;
                    
                    @include media-breakpoint-up(md) {
                        line-height: 40px;
                        letter-spacing: -1.44px;
                        @include font-size(36);
                        grid-column: 1/4;
                        width: 100%;
                        margin-right: 0;
                    }

                    @include media-breakpoint-up(lg) {
                        line-height: 1.09;
                        letter-spacing: -2.32px;
                        grid-column: 2/5;
                        @include font-size(58);
                    }

                    @include media-breakpoint-up(xl) {
                        line-height: 1;
                        letter-spacing: -3.04px;
                        @include font-size(76);
                    }
                }

                .product-compare {
                    grid-column: 6/10;

                    @include media-breakpoint-up(lg) {
                        grid-column: 8/11;
                    }

                    .compare-heading {
                        color: $black;
                        letter-spacing: -0.32px;
                        font-weight: 400;
                        line-height: 1.33333;
                        margin-bottom: 20px;

                        @include media-breakpoint-up(md) {
                            line-height: 1.18;
                            letter-spacing: -0.44px;
                            @include font-size(22);
                            margin-bottom: 48px;
                        }

                        @include media-breakpoint-up(lg) {
                            line-height: 1.18;
                            margin-bottom: 24px;
                        }

                        @include media-breakpoint-up(xl) {
                            @include font-size(26);
                            line-height: 30px;
                            margin-bottom: 24px;
                        }
                    }
                    .compare-btn{
                        font-weight: bold;
                    }
                }
            }

            .product-section {
                width: fit-content;
                @include media-breakpoint-up(md) {
                    width: 100%;
                }
                .product-items {
                    display: flex;
                    width: fit-content;

                    @include media-breakpoint-up(md) {
                        grid-template-columns: repeat(4, 1fr);
                        grid-column: 1 / 10;
                        display: grid;
                        column-gap: 24px;
                        width: 100%;
                    }

                    @include media-breakpoint-up(lg) {
                        grid-column: 2 / 11;
                        grid-template-columns: repeat(3, 1fr);
                        column-gap: 32px;
                    }

                    .product-item {
                        padding-right: 42px;
                        @include media-breakpoint-up(md) {
                            padding-right: 0;
                        }

                        display: grid;
                        grid-template-rows: .5fr .8fr .2fr;
                        height: fit-content;
                    }
                }

                .img-container {

                    display: -webkit-box;
                    flex-direction: column;
                    justify-content: center;
                    margin: 0px auto;
                    transition: transform 0.2s ease 0s;
                    object-fit: cover;
                    overflow: hidden;
                    -webkit-box-pack: center;
                    -webkit-box-align: center;

                    width: 184px;
                    height: 184px;

                    @include color-theme($theme-colors) {
                        background: radial-gradient(circle at center center, rgba(0, 0, 0, .05) 0, rgba(0, 0, 0, .05) 65%, rgba(0, 0, 0, .05) 65%, $value 0, $value 0) !important;
                    }

                    @include media-breakpoint-up(md) {
                        width: 236px;
                        height: 236px;
                    }

                    @include media-breakpoint-up(lg) {
                        width: 280px;
                        height: 280px;
                    }

                    @include media-breakpoint-up(xl) {
                        width: 350px;
                        height: 350px;
                    }

                    img {
                        max-width: 100%;
                        max-height: 100%;
                        flex-shrink: 0;
                        transition: transform 0.4s ease 0s;
                    }
                }

                .tech-details {

                    min-width: 250px;
                    margin-top: 50px;

                    @include media-breakpoint-up(md) {

                        min-width: 300px;
                        margin-top: 58px;
                    }

                    @include media-breakpoint-up(lg) {
                        min-width: 250px;
                        margin-top: 77px;
                    }

                    @include media-breakpoint-up(xl) {
                        min-width: 250px;
                        margin-top: 77px;
                    }

                    .prod-info {
                        display: flex;
                        flex-direction: column;
                        flex: 1;

                        .product-name {

                            display: inline-block;
                            margin-bottom: 16px;
                            margin-bottom: 16px;
                            line-height: 40px;
                            
                            .product-title {
                                color: $black;
                                letter-spacing: -0.9px;
                                font-weight: 400;
                                @include font-size(30);
                                line-height: 33px;

                                background-image: linear-gradient(black, #000);
                                background-position: 0 100%;
                                background-repeat: no-repeat;
                                background-size: 0 2px;
                                transition: background-size 0.3s;
               
                                &:hover {
                                  background-size: 100% 2px;
                                }  

                                @include media-breakpoint-up(md) {
                                    @include font-size(36);
                                    line-height: 36px;
                                }
                                @include media-breakpoint-up(lg) {
                                    @include font-size(46);
                                    line-height: 48px;
                                }
                                @include media-breakpoint-up(xl) {
                                    @include font-size(50);
                                    line-height: 50px;
                                }
                            }
                           
                        }

                        .description p {

                            @include font-size(14);
                            color:$gray-dark;


                            @include media-breakpoint-up(md) {

                                @include font-size(14);
                                line-height: 20px;
                                letter-spacing: -.14px;
                            }

                            @include media-breakpoint-up(lg) {
                                @include font-size(16);
                                line-height: 1.44;
                                letter-spacing: -0.32px;
                            }
                        }
                    }

                    .technical-features {
                        width: 100%;
                        border-collapse: collapse;
                        table-layout: fixed;
                        margin-top: 15px;

                        thead {
                            display: block;
                            font-weight: 400;
                            letter-spacing: -0.32px;
                            color: $black;
                            border-bottom: 6px solid $grey-border;

                            td {
                                padding-top: 4px;
                                padding-bottom: 4px;
                                font-weight: 700;
                                padding-top: 4px;
                                padding-bottom: 4px;
                                @include font-size(16);

                                @include media-breakpoint-up(md) {
                                    @include font-size(15);
                                }

                                @include media-breakpoint-up(lg) {
                                    @include font-size(16);
                                }

                                @include media-breakpoint-up(xl) {
                                    @include font-size(16);
                                }
                            }
                        }

                        tbody {
                            display: block;
                            padding-top: 11px;

                            tr {
                                width: 100%;
                                vertical-align: top;
                            }

                            td:first-child {
                                font-weight: 700;

                            }

                            td {
                                font-weight: 400;
                                color: $black;
                                padding-top: 14px;
                                padding-bottom: 14px;
                                letter-spacing: -0.32px;
                                @include font-size(14);

                                &.left-align{
                                    @include font-size(14);
                                    font-weight: 400 !important; 

                                    ul {
                                        list-style: disc;
                                        list-style-position: inside;
                                        li{
                                            text-indent: -19px;
                                            padding-left: 18px;
                                        }
                                    }
                                }

                                &.right-align {
                                    @include font-size(14);
                                    text-align: right;
                                    width: 60%;
                                }

                                @include media-breakpoint-up(md) {
                                    padding-top: 4px;
                                    padding-bottom: 4px;
                                    letter-spacing: -0.32px;
                                    @include font-size(14);

                                    &.left-align{
                                        @include font-size(14);
                                    }
                                    &.right-align {
                                        @include font-size(14);
                                        text-align: right;
                                        width: 60%;
                                    }

                                }

                                @include media-breakpoint-up(lg) {
                                    padding-top: 4px;
                                    padding-bottom: 4px;
                                    letter-spacing: -0.32px;
                                    @include font-size(16);

                                    &.left-align{
                                        @include font-size(16);
                                    }
                                    &.right-align {
                                        @include font-size(16);
                                        text-align: right;
                                        width: 60%;
                                    }
                                }

                                @include media-breakpoint-up(xl) {
                                    padding-top: 4px;
                                    padding-bottom: 4px;
                                    letter-spacing: -0.32px;
                                    @include font-size(16);

                                    &.left-align{
                                        @include font-size(16);
                                    }

                                    &.right-align {
                                        @include font-size(16);
                                        text-align: right;
                                        width: 60%;
                                    }
                                }
                            }
                        }
                    }
                }

                .viewing-pane {

                    flex-grow: 1;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    margin-top: 20px;

                    @include media-breakpoint-up(md) {
                        margin-top: 34px;
                    }

                    @include media-breakpoint-up(lg) {
                        margin-top: 34px;
                    }

                    @include media-breakpoint-up(xl) {
                        margin-top: 34px;
                    }
                }
            }

            .show-series {

                padding-top: 96px;
                padding-bottom: 106px;
                padding-top: 64px;
                padding-bottom: 64px;
                display: flex;
                flex-direction: column;

                @include media-breakpoint-up(md) {
                    padding-top: 80px;
                    padding-bottom: 80px;
                    display: grid;
                }

                @include media-breakpoint-up(lg) {
                    padding-top: 96px;
                    padding-bottom: 106px;
                }

                @include media-breakpoint-up(xl) {
                    padding-top: 96px;
                    padding-bottom: 106px;
                }

                .show-all-heading {
                    width: 310px;
                    font-weight: 400;
                    letter-spacing: -0.66px;
                    color: #212121;
                    margin-bottom: 24px;

                    @include media-breakpoint-up(md) {
                        letter-spacing: -0.72px;
                        margin-bottom: 36px;
                        grid-column: 1/4;
                    }

                    @include media-breakpoint-up(lg) {
                        letter-spacing: -0.72px;
                        margin-bottom: 36px;
                        grid-column: 2/4;
                    }

                    @include media-breakpoint-up(xl) {
                        letter-spacing: -0.72px;
                        margin-bottom: 36px;
                    }

                }

                .show-all-btn {
                    
                    font-weight: bold;

                    @include media-breakpoint-up(md) {
                        grid-column: 1/4;
                    }

                    @include media-breakpoint-up(lg) {
                        grid-column: 2/4;
                    }
                }
            }
        }

    }
}