.cmp-carousel {
    .carousel {
        &__container {
            position: relative;

            &__custom-nav {
                position: relative;

                .carousel__arrows {

                    &--prev,
                    &--next {
                        &[aria-disabled="true"] {
                            position: relative;

                            &.slick-arrow {
                                &.slick-hidden {
                                    display: inline-block;
                                }
                            }

                            .juniper-icon {
                                cursor: default;

                                &:before {
                                    color: $gray-light;
                                }
                            }
                        }

                        @include font-size(20);
                        visibility: hidden;

                        @include media-breakpoint-up(md) {
                            visibility: visible;
                        }
                    }
                }

                &__expandable {
                    @include font-size(33);
                }

                &__dots {
                    .slick-dots {
                        display: flex !important;
                        padding: 0;

                        li {
                            position: relative;
                            display: flex;
                            margin-left: 0.5rem;
                            margin-right: 0.5rem;
                            @include font-size(11);
                            color: $gray-dark;

                            button {
                                visibility: hidden;
                                position: absolute;
                            }

                            &:before {
                                content: '';
                                margin: auto;
                                width: 11px;
                                height: 11px;
                                @include font-size(11);
                                border-radius: 100%;
                                border: 1.3px solid $gray-dark;
                                color: $gray-dark;
                                cursor: pointer;
                            }

                            &:hover {
                                &:before {
                                    background: $gray-dark;
                                }
                            }

                            &.slick-active {
                                &:before {
                                    background: $gray-dark;
                                }
                            }
                        }
                    }
                }
            }


            &__image {
                display: flex !important;
                justify-content: center;

                img {
                    max-width: 70%;
                }

                &--wrapper {
                    @include color-theme($theme-colors) {
                        background: radial-gradient(circle at center center, rgba(0, 0, 0, .03) 0, rgba(0, 0, 0, .03) 45%, rgba(0, 0, 0, .03) 45%, $value 0, $value 0) !important;
                    }

                   

                    .card__image {
                        margin: 0 auto;
                        max-height: 263px;

                        @include media-breakpoint-up(lg) {
                            max-height: 70vh;
                        }
                    }
                }
            }

            .slick-track {
                display: flex !important;

                .slick-slide {
                    height: inherit !important;
                    min-height: 263px;

                    &>div {
                        height: 100%;

                        .carousel__container {
                            &__image {
                                height: 100%;


                                &--wrapper {
                                    height: 100%;
                                    width: 100%;

                                    @include media-breakpoint-up(lg){
                                        min-height:300px;
                                    }
                                    @include media-breakpoint-up(xl){
                                        min-height: 450px;
                                    }
                                    
                                    .card__image {
                                        margin: auto;
                                        top: 50%;
                                        transform: translate(0, -50%);
                                        object-fit: contain;
                                    }
                                }
                            }
                        }
                    }


                }
            }

        }

        &__content-wrapper,
        &__image-wrapper {
            display: flex;
            flex-direction: column;
            position: relative;
            width: 100%;
        }

        &__content-wrapper {
            align-items: center;

            &__content {
                width: 100%;
                display: flex;
                flex-direction: column;
            }

        }

    }
}

.modal.zoom-modal {
    z-index: $zindex-modal;

    @include color-theme($theme-colors) {
        background-color: $value;

        .carousel__container__image--wrapper {

            background: radial-gradient(circle at center center, rgba(0, 0, 0, .03) 0, rgba(0, 0, 0, .03) 60%, rgba(0, 0, 0, .03) 60%, $value 0, $value 0) !important;

            @include media-breakpoint-up(md) {
                background: radial-gradient(circle at center center, rgba(0, 0, 0, .03) 0, rgba(0, 0, 0, .03) 55%, rgba(0, 0, 0, .03) 55%, $value 0, $value 0) !important;
            }

            @include media-breakpoint-up(lg) {
                background: radial-gradient(circle at center center, rgba(0, 0, 0, .03) 0, rgba(0, 0, 0, .03) 45%, rgba(0, 0, 0, .03) 45%, $value 0, $value 0) !important;
            }

            @include media-breakpoint-up(xl) {
                background: radial-gradient(circle at center center, rgba(0, 0, 0, .03) 0, rgba(0, 0, 0, .03) 35%, rgba(0, 0, 0, .03) 35%, $value 0, $value 0) !important;
            }

        }
    }

    a.close-icon {
        right: 0;
        z-index: $zindex-modal + 10;

        .icon-close-modal {
            font-size: 51px;

            &:before {
                color: $gray-dark;
            }

            &:hover {
                &:before {
                    color: $black;
                }
            }
        }
    }

    .slick-track {
        display: flex !important;

        .slick-slide {

            height: inherit !important;
            min-height: 100vw;

            @include media-breakpoint-up(md) {
                min-height: 45vw;
            }

            @include media-breakpoint-up(lg) {
                min-height: 35vw;
            }

            &>div {
                height: 100%;

                .carousel__container {
                    &__image {
                        height: 100%;

                        &--wrapper {
                            height: 100%;
                            width: 100%;

                            .card__image {
                                margin: auto;
                                top: 50%;
                                transform: translate(0, -50%);
                                object-fit: contain;
                                max-height: 70vh;
                            }
                        }
                    }
                }
            }
        }
    }

    .modal-dialog {
        pointer-events: unset;
    }
}