.cmp-what-we-offer {
    margin-left: -2pc;
    margin-right: -2pc;

    @extend .component-bottom-spacing;

    .fs-container {
        max-width: 100%;
        .wrapper {
            .header{
                grid-column: 1 / span 4;
                grid-template-columns: repeat(4, 1fr);
                margin-bottom:65px;

                @include media-breakpoint-up(md){
                    grid-column: 1 / span 7;
                    grid-template-columns: repeat(9, 1fr);
                    margin-bottom:80px;
                }

                @include media-breakpoint-up(lg){
                    grid-column: 2 / span 8;
                    grid-template-columns: repeat(11, 1fr);
                    margin-bottom:80px;
                }

                @include media-breakpoint-up(xl){
                    grid-column: 2 / span 7;
                    margin-bottom:80px;
                }

                .eyebrow{
                    @include eyebrow;
                    padding-bottom: 14px;
                    font-size: 11px;
                    line-height: 14px;
                    @include media-breakpoint-up(md) {
                        padding-bottom:20px;
                    }
                    @include media-breakpoint-up(lg){
                        padding-bottom:50px;
                        font-size: 13px;
                        line-height: 16px;
                    }
                    @include media-breakpoint-up(xl){
                        padding-bottom:40px;
                    }
                }

                .title{
                    font-size: 30px;
                    line-height: 1.1;
                    @include media-breakpoint-up(md) {
                        font-size: 26px;
                        line-height: 1.15;
                    }
                    @include media-breakpoint-up(lg){
                        font-size: 42px;
                        line-height: 1.05;
                    }
                    @include media-breakpoint-up(xl){
                        font-size: 50px;
                        line-height: 1;
                    }
                }
            }

            .card {
                grid-column: 1 / span 4;
                grid-template-columns: repeat(4, 1fr);
                margin-bottom: 20px;
                padding: 0 -2pc;
                border: solid 0.5px $grey-border;
                @include color-theme($theme-colors) {
                    background-color: $value;
                }

                @include media-breakpoint-up(md) {
                    grid-column: 1 / span 9;
                    grid-template-columns: repeat(9, 1fr);
                    margin-bottom: 25px;
                    height: 380px;
                }

                @include media-breakpoint-up(lg) {
                    grid-column: 2 / span 9;
                    grid-template-columns: repeat(9, 1fr);
                    margin-bottom: 30px ;
                    height: 440px;
                }

                @include media-breakpoint-up(xl,) {
                    margin-bottom: 55px;
                }

                &:last-child {
                    margin-bottom: 0px;
                }

                .text-container {
                    grid-column: 1 / span 4;
                    max-height: inherit;

                    @include media-breakpoint-up(md) {
                        grid-column: 1 / span 4;
                    }

                    .title {
                        padding-top: 20px;

                        @include media-breakpoint-up(md) {
                            padding-top: 25px;
                        }

                        @include media-breakpoint-up(lg) {
                            padding-top: 41px;
                        }

                        h2 {
                            font-size: 22px;
                            font-weight: normal;
                            font-stretch: normal;
                            font-style: normal;
                            line-height: 1.09;
                            letter-spacing: -0.66px;
                            text-align: left;
                            color: $black !important;

                            @include media-breakpoint-up(md) {
                                font-size: 26px;
                                line-height: 1.15;
                                letter-spacing: -0.78px;
                            }

                            @include media-breakpoint-up(lg) {
                                font-size: 36px;
                                line-height: 1;
                                letter-spacing: -1.08px;
                            }

                            @include media-breakpoint-up(xl) {
                                font-size: 42px;
                                line-height: 1.05;
                                letter-spacing: -1.26px;
                            }
                        }
                    }

                    .desc {
                        padding-top: 20px;
                        font-size: 14px;
                        line-height: 1.43;
                        letter-spacing: -0.14px;
                        text-align: left;
                        color: $gray-dark;

                        @include media-breakpoint-up(md) {
                            font-size: 14px;
                            line-height: 1.43;
                            letter-spacing: -0.14px;
                            padding-top: 15px;
                        }

                        @include media-breakpoint-up(lg) {
                            font-size: 16px;
                            line-height: 1.44;
                            letter-spacing: -0.32px;
                            padding-top: 20px;
                        }

                        @include media-breakpoint-up(xl) {
                            font-size: 18px;
                            line-height: 1.44;
                            letter-spacing: -0.36px;
                        }

                        &.bold {
                            color: $black;
                            font-weight: bold;
                            padding-top: 20px;
                            margin-bottom: -20px;
                            padding-bottom: 0;

                            @include media-breakpoint-up(md) {
                                padding-top: 15px;
                                margin-bottom: -15px;
                            }

                            @include media-breakpoint-up(lg) {
                                padding-top: 20px;
                                margin-bottom: -20px;
                            }
                        }

                        &.rte-content 
                            p, ul li, ol li{
                            margin-bottom: 0;
                            &:first-child{
                                padding-top: 0;
                            }
                        }
                    }

                    .links {
                        position: relative;
                        padding-top: 30px;

                        @include media-breakpoint-down(sm) {
                            margin-left: -2pc;
                        }

                        @include media-breakpoint-up(md) {
                            position: absolute;
                            bottom: 14px;
                            padding-top: 0;
                        }

                        @include media-breakpoint-up(lg) {
                            bottom: 29px;
                        }

                        .cmp-flexible-cta {
                            margin-top: .5rem;

                            .juniper-btn--link {
                                padding-bottom: 0px;
                            }
                        }
                    }
                }

                .image-container {
                    grid-column: 1 / span 4;
                    margin-right: -2pc;
                    position: relative;
                    height: 270px;
                    overflow: hidden;
                    max-height: inherit;

                    @include media-breakpoint-down(sm) {
                        margin-left: -2pc;
                    }

                    @include media-breakpoint-up(md) {
                        grid-column: 5 / span 6;
                        padding-left: calc(#{get-column-width(md)} / 2);
                        height: 100%;
                    }

                    @include media-breakpoint-up(lg) {
                        padding-left: calc(#{get-column-width(lg)} / 2);
                    }

                    @include media-breakpoint-up(xl) {
                        padding-left: calc(#{get-column-width(xl)} / 2);
                    }

                    .play-icon {
                        z-index: 999;
                        @include font-size(40);
                        position: absolute;
                        left: 9vw;
                        top: 3vw;

                       
                        @include media-breakpoint-up(md) {
                            left: 6.5vw;
                        }

                        @include media-breakpoint-up(lg) {
                            @include font-size(70);
                        }

                        @include media-breakpoint-up(xl) {
                            @include font-size(94);
                        }
                    }

                    .juniper-icon {
                        background-color: $white;
                        border-radius: 50%;
                        position: relative;

                        span:nth-child(1) {
                            &:before {
                                position: absolute;
                            }
                        }

                        span:nth-child(2) {
                            &:before {
                                margin-left: -59%;
                                position: absolute;
                            }
                        }

                        &.grey {
                            background-color: $gray-dark !important;
                        }
                    }

                    .icon-play-btn {
                        .path1, .path2 {
                            position: absolute;
                            top: 0;
                            left: 0;
                        }

                        .path2 {
                            &:before {
                                margin-left: 0 !important;
                            }
                        }
                    }

                    .icon-play-btn-hover {
                        .path1, .path2 {
                            position: absolute;
                            top: 0;
                            left: 0;
                        }

                        .path2 {
                            &:before {
                                margin-left: 0 !important;
                            }
                        }
                    }

                    img {
                        width: 100%;
                        position: relative;
                        object-fit:cover;
                        height: 270px;
                        @include media-breakpoint-up(md) {
                            height: 380px;
                        }
                        @include media-breakpoint-up(lg) {
                            height: 440px;
                        }
                        
                    }

                    .step {
                        @include color-theme($theme-colors) {
                            background-color: $value;
                        }

                        width: 75%;
                        left: 25%;
                        bottom:0;
                        z-index: 999;
                        border-top-left-radius: 3px;

                        .heading {
                            font-size: 16px;
                            font-weight: bold;
                            font-stretch: normal;
                            font-style: normal;
                            line-height: 2.06;
                            letter-spacing: -0.16px;
                            text-align: left;
                            color: $black;
                            padding: 1.5vw 1.5vw 0 2.3vw;

                            a, span {
                                font-size: 16px;
                                color: $black;
                            }

                            a .juniper-btn--link {
                                padding-bottom: 0;
                            }
                        }

                        .desc {
                            font-size: 12px;
                            font-weight: normal;
                            font-stretch: normal;
                            font-style: normal;
                            line-height: normal;
                            letter-spacing: normal;
                            text-align: left;
                            color: $gray-dark;
                            padding: 0.5vw 1.5vw 2vw 2.3vw;

                            @include media-breakpoint-up(lg) {
                                font-size: 14px;
                            }

                            @include media-breakpoint-up(xl) {
                                font-size: 16px;
                                line-height: 1.44;
                                letter-spacing: -0.32px;
                            }
                        }
                    }
                }
            }
        }
    }
}


@-moz-document url-prefix() { 
    .cmp-what-we-offer .fs-container .wrapper .card .image-container .play-icon {
        top: 6vw !important;
    }
}
