<template data-sly-template.navitemv2="${ @ columnListData,topnavlabel}">
    <div class="row" data-sly-list.column="${columnListData}">
        <sly data-sly-test="${columnList.first}">
            <div class="col-12 subnav__wrapper--title" data-sly-test="${column.title}">
                ${column.title}
                <span class="juniper-icon icon-arrow-down float-right pt-2 js-v2-toggle-button" role="button"></span>
                <span class="juniper-icon icon-arrow-up float-right pt-2 js-v2-toggle-button" role="button"></span>
            </div>
            <div class="col-12 subnav__wrapper--descriptor ${column.title ? 'descriptor--with-title' : ''}" data-sly-test="${column.descriptor}">${column.descriptor}</div>
        </sly>
        <div class="col-12 col-md-6 col-lg-12 subnav__wrapper__category-bucket ${column.title ? 'has-title' : ''} js-category-bucket-v2">
            <ul class="subnav__list">
                <li class="subnav__list--label no-link">
                    <a href="#">${column.categoryLabel}</a>
                    <span class="juniper-icon icon-arrow-down float-right pt-2 js-v2-category-toggle-button" role="button"></span>
                    <span class="juniper-icon icon-arrow-up float-right pt-2 js-v2-category-toggle-button" role="button"></span>
                </li>
                <sly data-sly-list.columnChild="${column.items}">
                    <li class="subnav__list--item js-v2-list-item">
                        <a class="link-animation" data-navid="${topnavlabel} > ${column.categoryLabel} > ${columnChild.itemLabel}" href="${columnChild.itemUrl}">${columnChild.itemLabel} <sly
                        data-sly-test="${columnChild.enableArrow == 'true'}">
                    <span class="juniper-icon icon-arrow"></span></sly></a>
                    </li>
                </sly>
            </ul>
        </div>
    </div>
</template>
