<template data-sly-template.topnavItem="${ @ navItemId, navItemData, dropdownTemplate}">
    <div class="nav-item navigation__container__nav__items--item  has-megamenu dropdown-toggle js-item-dropdown"
         id="${navItemId}" data-navid="${navItemData.navLabel}" data-target="#${navItemId}Dropdown"
         aria-haspopup="true" aria-expanded="false">
        <div class="navigation__container__nav__items--item-title link-animation js-topnav-title">${navItemData.navLabel}</div>
        <div class="dropdown-menu megamenu container-fluid collapse js-megamenu" id="${navItemId}Dropdown"
             aria-labelledby="${navItemData.navLabel}"
             data-parent="#mainNav">
            <div class="col-12 no-padding">
                <sly data-sly-call="${dropdownTemplate @ data=navItemData}"/>
            </div>
        </div>
    </div>
</template>
