<template data-sly-template.dropdown="${@ data}">
    <div class="cmp-sub-navigation" data-mod="sub-navigation">
        <div class="close js-close d-none d-lg-block">
            <span class="juniper-icon icon-close"></span>
        </div>
        <sly data-sly-test="${data.subNavType == 'v1'}">
            <div class="sub-navigation v1 row no-gutters" data-sly-test="${data.v1.v1subnav}">
                <div class="subnav subnav__wrapper subnav--col1 col-12 col-md-6 col-lg-4 pl-0 pr-lg-9 js-nav-level-1">
                    <sly data-sly-list.subnav="${data.v1.v1subnav}">
                        <ul class="subnav__list">
                            <li class="subnav__list--label subnav__list__category no-link">
                                <a href="#">${subnav.categoryLabel}</a>
                            </li>
                            <sly data-sly-list.tierOne="${subnav.column1}">
                                <li class="subnav__list--item js-nav-level-1-item" data-sly-test="${tierOne.column2.size}">
                                    <a class="link-animation" href="#" data-navid="${data.navLabel} > ${subnav.categoryLabel} > ${tierOne.itemLabel}" data-target-id="${subnavList.count}-${tierOneList.count}">
                                        ${tierOne.itemLabel}
                                    </a>
                                </li>
                                <li class="subnav__list--link js-nav-level-1-item" data-sly-test="${!tierOne.column2.size}">
                                    <a class="link-animation" data-navid="${data.navLabel} > ${subnav.categoryLabel} > ${tierOne.itemLabel}" href="${tierOne.itemUrl}">
                                        ${tierOne.itemLabel} <span class="juniper-icon icon-arrow"></span>
                                    </a>
                                </li>
                            </sly>
                        </ul>
                    </sly>
                </div>
                <div class="subnav subnav__wrapper subnav--col2 col-12 col-md-6 col-lg-4 js-nav-level-2 hidden">
                    <sly data-sly-list.subnav="${data.v1.v1subnav}">
                        <sly data-sly-list.tierOne="${subnav.column1}">
                            <div class="subnav__list--item mt-0 hidden js-nav-level-2-item" data-subnav-id="${subnavList.count}-${tierOneList.count}"
                                 data-sly-test="${tierOne.column2.size}">
                                <div class="subnav__wrapper">
                                    <a href="${tierOne.itemUrl}" data-navid="${data.navLabel} > ${subnav.categoryLabel} > ${tierOne.itemLabel}" data-sly-test="${!tierOne.hideLabel}" class="subnav__wrapper--title ${tierOne.itemUrl ? 'link-animation' : ''}">
                                        ${tierOne.itemLabel}
                                        <sly data-sly-test="${tierOne.itemUrl}">
                                            <span class="juniper-icon icon-arrow ml-2"></span>
                                        </sly>
                                    </a>
                                    <p class="subnav__wrapper__descriptor subnav__wrapper__descriptor${!tierOne.hideLabel ? '--small mt-2' : ''}">
                                        ${tierOne.itemDescriptor}
                                    </p>
                                    <ul class="subnav__list pl-lg-0" data-sly-list.tierTwo="${tierOne.column2}">
                                        <li class="subnav__list--label">
                                            <a class="link-animation" data-navid="${data.navLabel} > ${subnav.categoryLabel} > ${tierTwo.itemLabel}" href="${tierTwo.itemUrl}">
                                                ${tierTwo.itemLabel}
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </sly>
                    </sly>
                </div>
                <div class="subnav subnav__wrapper subnav--col3 subnav--recommended col-12 col-lg-4 js-recommended-section">
                    <sly data-sly-list.subnav="${data.v1.v1subnav}">
                        <sly data-sly-list.tierOne="${subnav.column1}">
                            <sly data-sly-set.primaryContent="${tierOne.recommendedContent.primary}"></sly>
                            <sly data-sly-set.secondaryContent="${tierOne.recommendedContent.secondary}"></sly>
                            <div class="row js-recommended-content" data-subnav-id="${subnavList.count}-${tierOneList.count}" data-sly-test="${primaryContent.title || secondaryContent}">
                                <div class="recommended__title">${tierOne.recommendedContent.title || 'Recommended for you' @ i18n}</div>
                                <div data-sly-test="${primaryContent.imagePath}" class="recommended__image col-12 col-md-6 col-lg-12 mb-3">
                                    <sly data-sly-use.imageHelper="${'com.juniper.aem.helpers.ImageHelper' @ fileReference = primaryContent.imagePath}"></sly>
                                    <a class="recommended__image--link" href="${primaryContent.link}" data-navid="${data.navLabel} > ${subnav.categoryLabel} > ${primaryContent.title}" style="background: url(${primaryContent.imagePath @ context='uri'}); background-size: cover;"></a>
                                </div>
                                <div class="recommended__list col-12 col-md-6 col-lg-12">
                                    <div class="recommended__list__item row" data-sly-test="${primaryContent.title}">
                                        <div class="col-12">
                                            <a class="link-animation pt-lg-4 recommended__list__item--title" data-navid="${data.navLabel} > ${subnav.categoryLabel} > ${primaryContent.title}" href="${primaryContent.link}">${primaryContent.title} <span class="juniper-icon icon-arrow ml-2"></span></a>
                                            <p class="recommended__list__item--text">${primaryContent.description}</p>
                                        </div>
                                    </div>
                                    <sly data-sly-test="${secondaryContent}">
                                        <div class="recommended__list__item row" data-sly-repeat.contentItem="${secondaryContent}">
                                            <div class="col-12">
                                                <a class="link-animation recommended__list__item--title" data-navid="${data.navLabel} > ${subnav.categoryLabel} > ${contentItem.title}" href="${contentItem.link}">${contentItem.title} <span class="juniper-icon icon-arrow ml-2"></span></a>
                                                <p class="recommended__list__item--text">${contentItem.description}</p>
                                            </div>
                                        </div>
                                    </sly>
                                </div>
                            </div>
                        </sly>
                    </sly>
                </div>
            </div>
        </sly>
        <sly data-sly-test="${data.subNavType == 'v2'}">
            <sly data-sly-use.navItemV2Template="htl-templates/level1-item-v2.html"/>
            <div class="sub-navigation v2 row no-gutters" data-sly-test.subnav="${data.v2.v2subnav}">
                <div class="subnav subnav__wrapper subnav--col1 col-12 col-lg-4 pl-0 pr-lg-9">
                    <sly data-sly-call="${navItemV2Template.navitemv2 @ columnListData = subnav.column1, topnavlabel=data.navLabel}"/>
                </div>
                <div class="subnav subnav__wrapper subnav--col2 col-12 col-lg-4 pt-5 pb-3 pb-md-0 py-lg-0">
                    <sly data-sly-call="${navItemV2Template.navitemv2 @ columnListData = subnav.column2, topnavlabel=data.navLabel}"/>
                </div>
                <div class="subnav subnav__wrapper subnav--col3 col-12 col-lg-4 pt-5 pb-3 pb-md-0 py-lg-0">
                    <sly data-sly-call="${navItemV2Template.navitemv2 @ columnListData = subnav.column3, topnavlabel=data.navLabel}"/>
                </div>
            </div>
        </sly>
    </div>
</template>
