<div data-sly-test="${wcmmode.edit && !wcmmode.preview}"
    class="aem-helper configure__container">[ Configure
    ${component.title} ]</div>


<div class="text"
    data-sly-use.formFieldElementAttribute="com.juniper.aem.models.form.FormFieldElementAttributeModel">

<div class="label">
    ${formFieldElementAttribute.label}<sly data-sly-test="${formFieldElementAttribute.isRequired}">*</sly>
</div>

<input
    data-sly-test="${formFieldElementAttribute.overridingErrorMessage}"
    data-sly-attribute.required="${formFieldElementAttribute.isRequired == 'true'}"
    name="${formFieldElementAttribute.name}" type="text"
    id="${formFieldElementAttribute.id}" placeholder=""
    data-error-label="${formFieldElementAttribute.overridingErrorMessage}" />
<input
    data-sly-test="${!formFieldElementAttribute.overridingErrorMessage}"
    data-sly-attribute.required="${formFieldElementAttribute.isRequired == 'true'}"
    name="${formFieldElementAttribute.name}" type="text"
    id="${formFieldElementAttribute.id}" placeholder=""
    data-error-label="*${formFieldElementAttribute.label} ${formFieldElementAttribute.errorMessage}" />

</div>