<sly data-sly-resource="${'emergencybanner' @ resourceType='/apps/juniper/components/emergencyalertbanner'}"></sly>
<sly data-sly-test=${inheritedPageProperties.headerNavFragment}
     data-sly-resource="${@path=inheritedPageProperties.headerNavFragment, selectors='content', wcmmode='disabled'}"></sly>