<!--/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  ~
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/-->
<sly data-sly-use.promoModel="com.juniper.aem.models.PromoModel" data-sly-test="${properties.fragmentPath}">
    <div class="primary-promo">
        <div class="cmp-primary-promo ${properties.backgroundColor}" data-mod="primary-promo">
            <div class="primary-promo__container">
                <div class="primary-promo_image">
                    <span class="juniper-icon primary-promo_image_icon ${promoModel.iconClass}">
                        <sly data-sly-test="${promoModel.iconClass == 'icon-promo'}">
                            <span class="path1"></span>
                            <span class="path2"></span>
                        </sly>
                        <sly data-sly-test="${promoModel.iconClass == 'icon-solution'}">
                            <span class="path1"></span>
                            <span class="path2"></span>
                            <span class="path3"></span>
                        </sly>
                    </span>
                </div>
                <div class="primary-promo_info">
                    <div class="primary-promo_title">${promoModel.heading @ i18n}</div>
                    <div class="primary-promo_desc rte-content no-para">${promoModel.body @ context='html'}</div>
                </div>
            </div>
        </div>
    </div>
</sly>

<sly data-sly-use.template="core/wcm/components/commons/v1/templates.html"
    data-sly-call="${template.placeholder @ isEmpty=!properties.fragmentPath, classAppend='cq-dd-contentfragment'}">
    <div class="configure__container" data-sly-test="${wcmmode.edit}">[ Configure ${component.title} Component ]</div>
</sly>
