.cmp-sitemap {
    .wrapper {
        @extend .component-bottom-spacing;
    }

    h1.heading {
        margin-bottom: 32px;

        @include media-breakpoint-up(md) {
            margin-bottom: 54px;
        }

        @include media-breakpoint-up(lg) {
            margin-bottom: 70px;
        }
    }

    ul {
        padding-left: 40px;

        &.first-level {
            padding-left: 20px;
        }

        & li {
            margin-top: 8px;
            @include font-size(14);
            line-height: 20px;
            letter-spacing: -0.14px;

            @include media-breakpoint-up(lg) {
                @include font-size(16);
                line-height: 23px;
                letter-spacing: -0.32px;
            }

            @include media-breakpoint-up(xl) {
                margin-top: 1rem;
            }

            &.first-level-text {
                @include font-size(18);
                line-height: 24px;
                margin-bottom: 2rem !important;

                @include media-breakpoint-up(md) {
                    @include font-size(20);
                    line-height: 25px;
                }

                @include media-breakpoint-up(lg) {
                    @include font-size(22);
                    line-height: 26px; 
                }
                
                @include media-breakpoint-up(xl) {
                    @include font-size(28);
                    line-height: 34px;
                }
            }

            &.second-level-text {
                @include font-size(16);
                line-height: 23px;

                @include media-breakpoint-up(md) {
                    @include font-size(17);
                    line-height: 24px;
                }
                @include media-breakpoint-up(lg) {
                    @include font-size(20);
                    line-height: 26px; 
                }
                
                @include media-breakpoint-up(xl) {
                    @include font-size(20);
                    line-height: 28px;
                }
            }
        }
    }

    h1.heading,
    ul.first-level {
        grid-column: 1/5;

        @include media-breakpoint-up(md) {
            grid-column: 1/10;
        }

        @include media-breakpoint-up(lg) {
            grid-column: 2/12;
        }
    }

    a {
        color: $gray-dark;
        cursor: pointer;
        margin-right: 10px;
        border-bottom: 2px solid $white;
        text-decoration: none;
        background-image: linear-gradient($gray-dark, $gray-dark);
        background-position: 0% 100%;
        background-repeat: no-repeat;
        background-size: 0% 1px;
        transition: background-size cubic-bezier(0, 0.5, 0, 1) 0.3s;
    }

    a:hover {
        text-decoration: none;
        color: $black;
        background-size: 100% 1px;
    }
}