<div class="demo-button">
  <h1>Button Colors</h1>
  <section>
    <table>
      <tr>
        <td></td>
        <td>Green Base</td>
        <td>Teal Base</td>
      </tr>
      <tr>
        <td>Raised Button</td>
        <td><button sw-raised-button color="greenBase">Learn More</button></td>
        <td><button sw-raised-button color="tealBase">Learn More</button></td>
      </tr>
      <tr>
        <td>Outlined Button</td>
        <td><button sw-outlined-button color="greenBase">Learn More</button></td>
        <td><button sw-outlined-button color="tealBase">Learn More</button></td>
      </tr>
      <tr>
        <td>Text without caret</td>
        <td><button sw-button color="greenBase">Learn More</button></td>
        <td><button sw-button color="tealBase">Learn More</button></td>
      </tr>
      <tr>
        <td>Text with caret</td>
        <td><a href="https://www.google.com" sw-button color="greenBase">Learn More<sw-icon>navigate_next</sw-icon></a>
        </td>
        <td><a href="https://www.google.com" sw-button color="tealBase">Learn More<sw-icon>navigate_next</sw-icon></a>
        </td>
      </tr>
    </table>
  </section>
  <section>
    <button sw-button>flat</button>
    <button sw-button (click)="open()" [disabled]="dialogRef">open<br>dialog</button>
    <button sw-outlined-button>outlined</button>
    <button sw-raised-button>raised</button>
    <button sw-fab>
      <sw-icon>check</sw-icon>
    </button>
    <button sw-mini-fab>
      <sw-icon>check</sw-icon>
    </button>
  </section>
  <section>
    <a href="https://www.google.com" sw-button color="primary">SEARCH<sw-icon>navigate_next</sw-icon></a>
    <a href="https://www.google.com" sw-raised-button>SEARCH<sw-icon>search</sw-icon></a>
    <a href="https://www.google.com" sw-raised-button>SEARCH</a>
    <a href="https://www.google.com" sw-fab>
      <sw-icon>check</sw-icon>
    </a>
    <a href="https://www.google.com" sw-mini-fab>
      <sw-icon>check</sw-icon>
    </a>
  </section>

  <section>
    <button sw-button color=''>regular</button>
    <button sw-button color="primary">primary</button>
    <button sw-button color="accent">accent</button>
    <button sw-button color="warn">warn</button>
    <button sw-button color="invert">invert</button>
    <button sw-button disabled color=''>regular</button>
    <button sw-button disabled color="primary">primary</button>
    <button sw-button disabled color="accent">accent</button>
    <button sw-button disabled color="warn">warn</button>
    <button sw-button disabled color="invert">invert</button>
  </section>

  <section>
    <a href="https://example.com" sw-button color=''>regular</a>
    <a href="https://example.com" sw-button color="primary">primary</a>
    <a href="https://example.com" sw-button color="accent">accent</a>
    <a href="https://example.com" sw-button color="warn">warn</a>
    <a href="https://example.com" sw-button color="invert">invert</a>
    <a href="https://example.com" sw-button disabled color=''>regular</a>
    <a href="https://example.com" sw-button disabled color="primary">primary</a>
    <a href="https://example.com" sw-button disabled color="accent">accent</a>
    <a href="https://example.com" sw-button disabled color="warn">warn</a>
    <a href="https://example.com" sw-button disabled color="invert">invert</a>
  </section>

  <section>
    <button sw-raised-button>primary</button>
    <button sw-raised-button color="primary">primary</button>
    <button sw-raised-button color="accent">accent</button>
    <button sw-raised-button color="warn">warn</button>
    <button sw-raised-button disabled>regular</button>
    <button sw-raised-button disabled color="primary">primary</button>
    <button sw-raised-button disabled color="accent">accent</button>
    <button sw-raised-button disabled color="warn">warn</button>
  </section>

  <section>
    <a href="https://example.com" sw-raised-button>primary</a>
    <a href="https://example.com" sw-raised-button color="primary">primary</a>
    <a href="https://example.com" sw-raised-button color="accent">accent</a>
    <a href="https://example.com" sw-raised-button color="warn">warn</a>
    <a href="https://example.com" sw-raised-button disabled>regular</a>
    <a href="https://example.com" sw-raised-button disabled color="primary">primary</a>
    <a href="https://example.com" sw-raised-button disabled color="accent">accent</a>
    <a href="https://example.com" sw-raised-button disabled color="warn">warn</a>
  </section>

  <section>
    <button sw-outlined-button>primary</button>
    <button sw-outlined-button color="primary">primary</button>
    <button sw-outlined-button color="accent">accent</button>
    <button sw-outlined-button color="warn">warn</button>
    <button sw-outlined-button disabled>regular</button>
    <button sw-outlined-button disabled color="primary">primary</button>
    <button sw-outlined-button disabled color="accent">accent</button>
    <button sw-outlined-button disabled color="warn">warn</button>
  </section>

  <section>
    <a href="https://example.com" sw-outlined-button>primary</a>
    <a href="https://example.com" sw-outlined-button color="primary">primary</a>
    <a href="https://example.com" sw-outlined-button color="accent">accent</a>
    <a href="https://example.com" sw-outlined-button color="warn">warn</a>
    <a href="https://example.com" sw-outlined-button disabled>regular</a>
    <a href="https://example.com" sw-outlined-button disabled color="primary">primary</a>
    <a href="https://example.com" sw-outlined-button disabled color="accent">accent</a>
    <a href="https://example.com" sw-outlined-button disabled color="warn">warn</a>
  </section>

  <section>
    <button sw-fab>
      <sw-icon>menu</sw-icon>
    </button>
    <button sw-fab color="primary">
      <sw-icon>home</sw-icon>
    </button>
    <button sw-fab color="accent">
      <sw-icon>favorite</sw-icon>
    </button>
    <button sw-fab color="warn">
      <sw-icon>feedback</sw-icon>
    </button>
    <button sw-fab disabled>
      <sw-icon>menu</sw-icon>
    </button>
    <button sw-fab disabled color="primary">
      <sw-icon>home</sw-icon>
    </button>
    <button sw-fab disabled color="accent">
      <sw-icon>favorite</sw-icon>
    </button>
    <button sw-fab disabled color="warn">
      <sw-icon>feedback</sw-icon>
    </button>
  </section>

  <section>
    <a href="https://example.com" sw-fab>
      <sw-icon>menu</sw-icon>
    </a>
    <a href="https://example.com" sw-fab color="primary">
      <sw-icon>home</sw-icon>
    </a>
    <a href="https://example.com" sw-fab color="accent">
      <sw-icon>favorite</sw-icon>
    </a>
    <a href="https://example.com" sw-fab color="warn">
      <sw-icon>feedback</sw-icon>
    </a>
    <a href="https://example.com" sw-fab disabled>
      <sw-icon>menu</sw-icon>
    </a>
    <a href="https://example.com" sw-fab disabled color="primary">
      <sw-icon>home</sw-icon>
    </a>
    <a href="https://example.com" sw-fab disabled color="accent">
      <sw-icon>favorite</sw-icon>
    </a>
    <a href="https://example.com" sw-fab disabled color="warn">
      <sw-icon>feedback</sw-icon>
    </a>
  </section>

  <section>
    <button sw-icon-button>
      <sw-icon>menu</sw-icon>
    </button>
    <button sw-icon-button color="primary">
      <sw-icon>home</sw-icon>
    </button>
    <button sw-icon-button color="accent">
      <sw-icon>favorite</sw-icon>
    </button>
    <button sw-icon-button color="warn">
      <sw-icon>feedback</sw-icon>
    </button>
    <button sw-icon-button disabled>
      <sw-icon>menu</sw-icon>
    </button>
    <button sw-icon-button disabled color="primary">
      <sw-icon>home</sw-icon>
    </button>
    <button sw-icon-button disabled color="accent">
      <sw-icon>favorite</sw-icon>
    </button>
    <button sw-icon-button disabled color="warn">
      <sw-icon>feedback</sw-icon>
    </button>
  </section>

  <section>
    <a href="https://example.com" sw-icon-button>
      <sw-icon>menu</sw-icon>
    </a>
    <a href="https://example.com" sw-icon-button color="primary">
      <sw-icon>home</sw-icon>
    </a>
    <a href="https://example.com" sw-icon-button color="accent">
      <sw-icon>favorite</sw-icon>
    </a>
    <a href="https://example.com" sw-icon-button color="warn">
      <sw-icon>feedback</sw-icon>
    </a>
    <a href="https://example.com" sw-icon-button disabled>
      <sw-icon>menu</sw-icon>
    </a>
    <a href="https://example.com" sw-icon-button disabled color="primary">
      <sw-icon>home</sw-icon>
    </a>
    <a href="https://example.com" sw-icon-button disabled color="accent">
      <sw-icon>favorite</sw-icon>
    </a>
    <a href="https://example.com" sw-icon-button disabled color="warn">
      <sw-icon>feedback</sw-icon>
    </a>
  </section>

  <section>
    <div>
      <p>isDisabled: {{isDisabled}}, clickCounter: <span>{{clickCounter}}</span></p>
      <button sw-raised-button>
        Multi<br>line
      </button>
      <button sw-raised-button (click)="isDisabled=!isDisabled">
        Disable<br>buttons
      </button>
      <button sw-raised-button (click)="button1.focus()">Focus 1</button>
      <button sw-raised-button (click)="button2.focus()">Focus 2</button>
      <button sw-raised-button (click)="button3.focus()">Focus 3</button>
    </div>
    <button sw-button #button1 [disabled]="isDisabled" (click)="clickCounter=clickCounter+1">off</button>
    <button sw-button color="primary" [disabled]="isDisabled">off</button>
    <a href="https://www.google.com" #button2 sw-button color="accent" [disabled]="isDisabled">off</a>
    <a href="https://www.google.com" #button3 sw-button color="accent" [disabled]="isDisabled">off<br>on</a>
    <button sw-raised-button #button3 color="primary" [disabled]="isDisabled">off</button>
    <button sw-mini-fab [disabled]="isDisabled">
      <sw-icon>check</sw-icon>
    </button>

    <button sw-icon-button color="accent" [disabled]="isDisabled">
      <sw-icon>favorite</sw-icon>
    </button>
  </section>

  <section>
    <div>
      <table>
        <tr>
          <th>
            <h1>Button and Link Variants for Product Detail Pages</h1>
          </th>
          <br>
          <br>
          <br>
          <br>
        </tr>
        <tr>
          <td></td>
          <td>Jnpr Green Base</td>
          <td>Jnpr Black Base</td>
          <td>Jnpr White Base</td>
          <td>Jnpr Filter Gray</td>
        </tr>

        <tr>
          <td>Primary CTA</td>
          <td><a jnpr-primary-cta href="https://www.juniper.net" color="jnprGreenBase">Primary Button</a></td>
          <td><a jnpr-primary-cta href="https://www.juniper.net" color="jnprBlackBase">Primary Button</a></td>
          <td><a jnpr-primary-cta href="https://www.juniper.net" color="jnprWhiteGreen">Primary Button</a></td>
          <td><a jnpr-primary-cta href="https://www.juniper.net" color="jnprFilterGray">
              <sw-icon size="xs">cta_primary_filter</sw-icon>Primary Button
            </a></td>
        </tr>
        <br>
        <br>
        <tr>
          <td>Secondary Link with icon</td>
          <td><a href="https://www.juniper.net" jnpr-secondary-cta size="lg" color="Black"><span
                class="sec-link-text">Secondary Link</span>
              <sw-icon>
                horizontal_right_arrow</sw-icon>
            </a></td>
          <td><a href="https://www.juniper.net" jnpr-secondary-cta size="sm" color="Black"><span
                class="sec-link-text">Secondary in-page Link</span>
              <sw-icon>
                vertical_up_arrow</sw-icon>
            </a></td>
          <td><a href="https://www.juniper.net" jnpr-secondary-cta size="lg" color="Black"><span
                class="sec-link-text">Secondary download Link</span>
              <sw-icon>
                vertical_up_arrow</sw-icon>
            </a></td>
        </tr>
      </table>
    </div>
  </section>

</div>