@import "../../../styles/core/core-bundle";
@import "./styles/button-vars";
@import "./styles/button-focus";
@import "./styles/button-reset";
@import "./styles/button-base";
@import "./styles/button-raised";
@import "./styles/button-fab";
@import "./styles/_button-raised-jnpr.scss";

// Secondary link related
$jnpr-anchor-width: 100%;
// $jnpr-padding-left: 26px;
$jnpr-padding-left-safariOnly: 10px;

@function button-icon-padding-adjust($padding: $sw-fab-padding, $icon-size: $sw-default-icon-size) {
  @return $padding - (($icon-size - $sw-default-icon-size) / 2);
}

@function sw-outlined-button-box-shadow($color) {
  @if type-of($color) != color {
    @error 'Expected color but got `#{type-of($color)}`.';
  }
  @return inset 0 0 0 2px $color;
}

@mixin shadow-dom-icon-styling($padding) {
  & ::ng-deep i,
  & ::ng-deep sw-icon {
    padding: $padding 0;
    // Forcing `content-box` here explained on below issue.
    // https://github.com/angular/material2/issues/1490
    box-sizing: content-box;

    &[#{$sw-icon-size-attr}="xs"] {
      padding: button-icon-padding-adjust($padding, $sw-xs-icon-size) 0;
    }
    &[#{$sw-icon-size-attr}="md"] {
      padding: button-icon-padding-adjust($padding, $sw-md-icon-size) 0;
    }
    &[#{$sw-icon-size-attr}="lg"] {
      padding: button-icon-padding-adjust($padding, $sw-lg-icon-size) 0;
    }
    &[#{$sw-icon-size-attr}="xl"] {
      padding: button-icon-padding-adjust($padding, $sw-xl-icon-size) 0;
    }
  }
}

/** Direct Color Input by publisher */
@mixin direct-color-input($theme-color, $button-type) {
  $color-map: get-color-map($theme-color);
  @if $button-type== "raised" {
    background: map-get($color-map, "dark");
    color: map-get($color-map, "light");
    &.sw-button-hover:hover,
    &.sw-button-focus {
      background: map-get($color-map, "hover");
      color: map-get($color-map, "light");
    }
  }
  // style added by rahul
  @if $button-type== "juniper-raised" {
    background: linear-gradient(to right, map-get($color-map, "hover") 50%, map-get($color-map, "dark") 50%);
    transition: all 0.3s ease-out;
    background-size: 210% 100%;
    background-position: right bottom;
    padding: 15.5px 34px;
    color: map-get($color-map, "light");
    border: map-get($color-map, "border") 1px solid;
    &.sw-button-hover:hover {
      background-position: left bottom;
      color: map-get($color-map, "light");
      border: map-get($color-map, "hoverBorder") 1px solid;
      color: map-get($color-map, "hoverText");
    }

    // giving some padding next to icon in primary cta
    @if $theme-color == "jnprFilterGray" {
      & ::ng-deep sw-icon.swmaterialicon {
        padding-right: 5px;
      }
    }
  }
  // secondary link
  @if $button-type== "jnpr-sec-link" {
    background: none;
    box-shadow: none;
    border: none;
    padding: 0px;
    padding-right: 5px;
    font-size: 16px;

    line-height: 2.06;
    letter-spacing: -0.16px;
    color: map-get($color-map, "dark");
    &.sw-button-hover:hover,
    &.sw-button-focus {
      color: map-get($color-map, "dark");
    }

    & ::ng-deep sw-icon {
      padding-left: 10px;
      font-size: 0.75rem;
      vertical-align: baseline;
    }

    ::ng-deep span.sec-link-text {
      background-image: linear-gradient(black, black);
      background-position: 0% 100%;
      background-repeat: no-repeat;
      background-size: 0% 2px;
      -webkit-transition: background-size 0.3s;
      -o-transition: background-size 0.3s;
      -ms-transition: background-size 0.3s;
      -ms-transition: background-size 0.3s;
      transition: background-size 0.3s;
      padding-bottom: 5px;
      &:hover {
        background-size: 100% 2px;
      }
    }
    &[size="lg"] {
      font-size: 20px;
      line-height: 1.65;
      & ::ng-deep sw-icon {
        font-size: 1rem;
      }
    }
    &[size="sm"] {
      font-size: 16px;
    }
  }

  // style added by rahul ends here

  @if $button-type== "outlined" {
    box-shadow: sw-outlined-button-box-shadow(map-get($color-map, "dark"));
    color: darken(map-get($color-map, "dark"), 20);
    &.sw-button-hover:hover,
    &.sw-button-focus {
      box-shadow: sw-outlined-button-box-shadow(map-get($color-map, "hover"));
      background-color: transparentize(map-get($color-map, "hover"), 0.95);
      color: darken(map-get($color-map, "dark"), 50);
    }
  }
  @if $button-type== "text" {
    color: map-get($color-map, "dark");
    &.sw-button-hover:hover,
    &.sw-button-focus {
      color: map-get($color-map, "hover");
    }
  }
}

:host{
  @extend %sw-button-base;

  &:focus {
    outline: none;
  }
}

:host[sw-button],
:host[sw-raised-button],
:host[jnpr-primary-cta],
:host[jnpr-secondary-cta] {
  & ::ng-deep sw-icon {
    display: inline-block;
    vertical-align: $sw-button-icon-vertical-align;
    line-height: 0;
    height: 0;
    top: $sw-button-icon-vertical-offset;
  }

  &[sw-wrap] {
    @include type-wrap-hyphenation;
    & ::ng-deep * {
      display: inline;
    }
  }
}

:host[sw-icon-button],
:host[sw-mini-fab] {
  @include shadow-dom-icon-styling($sw-mini-fab-padding);
}

:host[sw-button],
:host[sw-outlined-button],
:host[sw-icon-button] {
  &.sw-button-focus {
    outline: none;
    background-color: transparentize($sw-button-theme-regular-static-text, 0.95);
  }

  /** Regular */
  color: $sw-button-theme-regular-static-text;
  &.sw-button-hover:hover,
  &.sw-button-focus {
    color: $sw-button-theme-regular-focus-text;
  }

  /** Primary */
  &[#{$sw-button-theme-attr}="primary"] {
    color: $sw-button-theme-primary-static-text;
    &.sw-button-hover:hover,
    &.sw-button-focus {
      color: $sw-button-theme-primary-focus-text;
    }
  }

  /** Accent */
  &[#{$sw-button-theme-attr}="accent"] {
    color: $sw-button-theme-accent-static-text;
    &.sw-button-hover:hover,
    &.sw-button-focus {
      color: $sw-button-theme-accent-focus-text;
    }
  }

  /** Warn */
  &[#{$sw-button-theme-attr}="warn"] {
    color: $sw-button-theme-warn-static-text;
    &.sw-button-hover:hover,
    &.sw-button-focus {
      color: $sw-button-theme-warn-focus-text;
    }
  }

  /** Invert */
  &[#{$sw-button-theme-attr}="invert"] {
    color: $sw-button-theme-invert-static-text;
    &.sw-button-hover:hover,
    &.sw-button-focus {
      color: $sw-button-theme-invert-focus-text;
    }
  }

  @each $themecolor in $theme-colors {
    &[#{$sw-button-theme-attr}="#{$themecolor}"] {
      @include direct-color-input(#{$themecolor}, "text");
    }
  }

  /** Disabled */
  &[disabled] {
    &,
    &[#{$sw-button-theme-attr}],
    &.sw-button-hover:hover,
    &.sw-button-focus {
      color: $sw-button-theme-disabled-button-txt;
      background-color: transparent;
    }
  }
}

:host[sw-outlined-button] {
  box-shadow: sw-outlined-button-box-shadow($sw-button-theme-regular-static-text);

  & >>> sw-icon {
    vertical-align: top;
    height: 1rem;
  }

  &.sw-button-hover:hover {
    color: $sw-button-theme-regular-static-text;
    background-color: transparentize($sw-button-theme-regular-static-text, 0.9);
  }

  /** Primary */
  &[#{$sw-button-theme-attr}="primary"] {
    box-shadow: sw-outlined-button-box-shadow($sw-button-theme-primary-static-text);
    &.sw-button-hover:hover,
    &.sw-button-focus {
      background-color: lighten($sw-button-theme-primary-static-background, 50);
    }
  }

  /** Accent */
  &[#{$sw-button-theme-attr}="accent"] {
    box-shadow: sw-outlined-button-box-shadow($sw-button-theme-accent-static-text);
    &.sw-button-hover:hover,
    &.sw-button-focus {
      background-color: lighten($sw-button-theme-accent-static-background, 50);
    }
  }

  /** Warn */
  &[#{$sw-button-theme-attr}="warn"] {
    box-shadow: sw-outlined-button-box-shadow($sw-button-theme-warn-static-text);
    &.sw-button-hover:hover,
    &.sw-button-focus {
      background-color: lighten($sw-button-theme-warn-focus-background, 50);
    }
  }

  /** Invert */
  &[#{$sw-button-theme-attr}="invert"] {
    box-shadow: sw-outlined-button-box-shadow($sw-button-theme-invert-static-text);
    &.sw-button-hover:hover,
    &.sw-button-focus {
      color: $sw-button-theme-invert-static-text;
      background-color: transparentize($sw-button-theme-invert-static-text, 0.8);
    }
  }

  @each $themecolor in $theme-colors {
    &[#{$sw-button-theme-attr}="#{$themecolor}"] {
      color: $sw-button-theme-regular-static-text;
      @include direct-color-input(#{$themecolor}, "outlined");
    }
  }

  /** Disabled */
  &[disabled] {
    &,
    &[#{$sw-button-theme-attr}],
    &.sw-button-hover:hover,
    &.sw-button-focus {
      box-shadow: sw-outlined-button-box-shadow($sw-button-theme-disabled-button-txt);
    }
  }
}

:host[sw-raised-button] {
  @extend %sw-raised-button;
  background: $sw-raised-button-background;

  @each $themecolor in $theme-colors {
    &[#{$sw-button-theme-attr}="#{$themecolor}"] {
      @include direct-color-input(#{$themecolor}, "raised");
    }
  }
}

// Styles by rahul for latest design

:host[jnpr-primary-cta] {
  @extend %jnpr-raised-button;
  @each $themecolor in $theme-colors {
    &[#{$sw-button-theme-attr}="#{$themecolor}"] {
      @include direct-color-input(#{$themecolor}, "juniper-raised");
    }
  }
}

:host[jnpr-secondary-cta] {
  @extend %jnpr-raised-button;
  @each $themecolor in $theme-colors {
    &[#{$sw-button-theme-attr}="#{$themecolor}"] {
      @include direct-color-input(#{$themecolor}, "jnpr-sec-link");
    }
  }
}
// End of latest design styles

:host[sw-fab] {
  @include sw-fab($sw-fab-size, $sw-fab-padding);
  @include shadow-dom-icon-styling($sw-fab-padding);
}

:host[sw-mini-fab] {
  @include sw-fab($sw-mini-fab-size, $sw-mini-fab-padding);
}

:host[sw-raised-button],
:host[sw-fab],
:host[sw-mini-fab] {
  /** Regular */
  &.sw-button-hover:hover,
  &.sw-button-focus {
    color: $c-txt-on-dark;
    background: $sw-button-theme-primary-focus-background;
  }
  &.sw-button-focus {
    outline: none;
  }

  /** Primary */
  &[#{$sw-button-theme-attr}="primary"] {
    color: $c-txt-on-dark;
    background: $sw-button-theme-primary-static-background;
    &.sw-button-hover:hover,
    &.sw-button-focus {
      background: $sw-button-theme-primary-focus-background;
    }
  }

  /** Accent */
  &[#{$sw-button-theme-attr}="accent"] {
    color: $c-txt-on-dark;
    background: $sw-button-theme-accent-static-text;
    &.sw-button-hover:hover,
    &.sw-button-focus {
      background: $sw-button-theme-accent-focus-background;
    }
  }

  /** Warn */
  &[#{$sw-button-theme-attr}="warn"] {
    color: $c-txt-on-dark;
    background: $sw-button-theme-warn-static-background;
    &.sw-button-hover:hover,
    &.sw-button-focus {
      background: $sw-button-theme-warn-focus-background;
    }
  }

  /** Invert */
  &[#{$sw-button-theme-attr}="invert"] {
    color: $sw-button-theme-primary-static-text;
    &.sw-button-hover:hover,
    &.sw-button-focus {
      color: $sw-button-theme-primary-focus-text;
      background: $sw-button-theme-disabled-button-background;
    }
  }

  /** Disabled */
  &[disabled] {
    &,
    &[#{$sw-button-theme-attr}],
    &.sw-button-hover:hover,
    &.sw-button-focus {
      color: $sw-button-theme-disabled-button-txt;
      background: $sw-button-theme-disabled-button-background;
    }
  }
}

:host[sw-icon-button] {
  min-width: 0;
  padding: 0;
  flex-shrink: 0;

  width: $sw-icon-button-size;
  height: $sw-icon-button-size;

  line-height: $sw-icon-button-size;
  border-radius: $sw-icon-button-border-radius;

  .sw-button-wrapper > * {
    vertical-align: middle;
  }
}

// Applies a clearer border for high-contrast mode (a11y)
@media screen and (-ms-high-contrast: active) {
  .sw-raised-button,
  .sw-fab,
  .sw-mini-fab {
    border: 1px solid #fff;
  }
}
