$nav-height-sm: 50px;
$nav-height-lg: 76px;
.cmp-navigation {
    height: $nav-height-sm;
    z-index: $zindex-navigation;
    @include media-breakpoint-up(lg) {
        height: $nav-height-lg;
    }
    &.mobile-menu-expanded {
        @include media-breakpoint-down(lg) {
            bottom: 0;
            height: auto;
            left: 0;
            right: 0;
            overflow-y: scroll;
            position: fixed;
            top: 0;
            .navigation__container {
                &.fixed-nav {
                    &.show {
                        position: relative;
                    }
                }
            }
        }
    }
    .navigation {
        &__container {
            &.fixed-nav {
                position: fixed;
                width: 100%;
                z-index: $zindex-navigation;
                top: calc(#{$nav-height-sm} * -1);
                transition: top 0.5s ease;
                @include media-breakpoint-up(lg) {
                    top: calc(#{$nav-height-lg} * -1);
                }
                &.show {
                    top: 0;
                }
            }
            @include media-breakpoint-up(lg) {
                border-top: 2px solid rgba($grey-border, 0.5);
            }

            &__nav {
                padding: 0;

                &__brand {
                    .navbar-brand {
                        width: 84px;
                        @include media-breakpoint-up(lg) {
                            width: 105px;
                            padding: 5px 0 0;
                        }

                    }
                }

                &__mobile {
                    button.navbar-toggler {
                        border-radius: 0;
                        height: $nav-height-sm;
                        outline-style: none;
                        width: 50px;
                        &.expanded {
                            background-color: $black;
                        }
                        .icon-close {
                            width: 25px;
                            display: none;
                            &:before {
                                content: $icon-close;
                                color: $white;
                            }
                            &:hover{
                                &:before {
                                    color: $white;
                                }
                            }
                        }
                        .juniper-icon{
                            font-size: initial;
                        }
                    }
                    &__search, &__language {
                        padding-left: 8px;
                        padding-right: 8px;
                        &.selected, &:hover {
                            color: $white;
                            background-color: $black;
                            .juniper-icon {
                                color: $white;
                            }
                        }
                        .juniper-icon {
                            text-align: center;
                            width: 32px;
                        }
                        .icon-close {
                            display: none;
                            &:before {
                                color: $white;
                            }
                            &:hover{
                                &:before {
                                    color: $white;
                                }
                            }
                        }
                    }
                    &__language {
                        &.selected {
                            color: $silver;
                            .juniper-icon {
                                &.icon-close {
                                    display: block;
                                }
                                &.icon-language-selector {
                                    display: none;
                                }
                                &.icon-arrow-down {
                                    transform: rotate(-180deg);
                                }
                                @include media-breakpoint-up(md) {
                                    &.icon-close {
                                        display: none;
                                    }
                                    &.icon-language-selector {
                                        display: block;
                                    }
                                }
                            }
                        }
                        &--label {
                            display: none;
                            font-size: 12px;
                            line-height: 1.17;
                            @include media-breakpoint-up(md) {
                                display: block;
                            }
                        }
                        .juniper-icon.icon-arrow-down {
                            display: none;
                            font-size: 10px;
                            @include media-breakpoint-up(md) {
                                display: block;
                            }
                        }
                    }
                    &__search {
                        &.selected {
                            .juniper-icon {
                                &.icon-close {
                                    display: block;
                                }
                                &.icon-search {
                                    display: none;
                                }
                            }
                        }
                    }
                }

                &__items {
                    background-color: $black;
                    border-top: $black 1px solid;
                    min-height: 100vh;
                    position: relative;
                    width: 100%;
                    @include media-breakpoint-up(lg) {
                        background-color: $white;
                        border-top: none;
                        min-height: auto;
                    }

                    .navbar-nav {
                        flex: 0 0 100%;
                        max-width: get-breakpoints("sm");
                        @include media-breakpoint-up(md) {
                            max-width: get-breakpoints("md");
                        }
                        @include media-breakpoint-up(lg) {
                            max-width: 100%;
                            margin-left: 0;
                        }

                        &__container {
                            display: flex;
                            flex: auto;
                            &__top-panel {
                                margin-top: 80px;
                                display: block;
                                @include media-breakpoint-up(lg) {
                                    display: none;
                                }
                                &__item {
                                    border-top: 1px solid rgba($gray-light, 0.25);
                                    display: flex;
                                    font-size: 16px;
                                    justify-content: space-between;
                                    line-height: 1.44;
                                    letter-spacing: -0.32px;
                                    padding: 18px 0;
                                    width: 100%;
                                    @include media-breakpoint-up(md) {
                                        font-size: 17px;
                                        line-height: 1.41;
                                        letter-spacing: -0.34px;
                                    }
                                    &__link {
                                        color: $silver;
                                    }
                                    .juniper-icon {
                                        color: $silver;
                                    }
                                    &.account-item {
                                        display: none;
                                        .account-item {
                                            &__toggle {
                                                display: flex;
                                                justify-content: space-between;
                                            }
                                            &__links {
                                                display: none;
                                                &__header {
                                                    color: $gray-light;
                                                    font-size: 15px;
                                                    line-height: 1.4;
                                                    letter-spacing: -0.3px;
                                                    margin-top: 20px;
                                                    margin-bottom: 8px;
                                                    @include media-breakpoint-up(md) {
                                                        margin-top: 16px;
                                                    }
                                                }
                                                &__links {
                                                    .account-links-list {
                                                        list-style: none;
                                                        padding-left: 0;
                                                        &__item {
                                                            color: $silver;
                                                            margin-bottom: 8px;
                                                            &__link {
                                                                color: $silver;
                                                                font-size: 16px;
                                                                line-height: 1.44;
                                                                letter-spacing: -0.32px;
                                                                text-transform: none;
                                                                @include media-breakpoint-up(md) {
                                                                    font-size: 17px;
                                                                    line-height: 1.41;
                                                                    letter-spacing: -0.34px;
                                                                }
                                                                &:hover{
                                                                    color: $silver;
                                                                    text-decoration: none;
                                                                }
                                                            }
                                                            &--logout {
                                                                margin-top: 20px;
                                                                @include media-breakpoint-up(md) {
                                                                    margin-top: 18px;
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                            &__collapse {
                                                display: none;
                                            }
                                            &__expand {
                                                display: block;
                                            }
                                        }
                                        &.expanded {
                                            .account-item {
                                                &__links {
                                                    display: block;
                                                }
                                                &__collapse {
                                                    display: block;
                                                }
                                                &__expand {
                                                    display: none;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        &__search {
                            @include media-breakpoint-up(md) {
                                padding-left: 32px;
                                padding-right: 32px;
                            }

                            .juniper-icon {
                                font-size: 21px;
                            }
                            &.selected, &:hover {
                                color: $white;
                                background-color: $black;
                                .juniper-icon {
                                    color: $white;
                                }
                            }
                        }
                    }

                    .three {
                        justify-content: space-between;
                    }

                    .left {
                        justify-content: flex-start;
                    }

                    .right {
                        justify-content: flex-end;
                    }

                    &--item {
                        color: $silver;
                        margin: 10px 0;
                        @include media-breakpoint-up(lg) {
                            color: $black;
                            margin: 0;
                            padding: 26px 16px;
                            transition: background-color 0.25s ease-out, color 0.25s ease-out;
                            &.selected {
                                color: $silver;
                                background-color: $black;
                            }
                            &-title.link-animation {
                                &:after {
                                   background-color: $black;
                                   transition: all 0.5s;
                                }
                            }
                        }


                        &.has-megamenu {
                            position: static !important;
                            &[aria-expanded="true"] {
                                color: $white;
                                background-color: $black;
                                .juniper-icon {
                                    color: $white;
                                    &.icon-arrow-down {
                                        transform: rotate(-180deg) !important;
                                    }
                                }
                            }
                            &.dropdown-toggle:after {
                                display: none;
                            }
                            .megamenu {
                                color: $silver;
                                border: 0;
                                margin: 0;
                                padding: 0;
                                cursor: auto;
                                border-radius: 0;
                                position: static;
                                transition: height 1s ease;
                                @include media-breakpoint-up(lg) {
                                    position: absolute;
                                    width: 100vw;
                                }
                                .close {
                                    opacity: 1;
                                    text-shadow: none;
                                    cursor: pointer;
                                    position:absolute;
                                    right: 25px;
                                    top: 58px;
                                    z-index: 1;
                                }
                                .juniper-icon {
                                    &.icon-close {
                                        @include font-size(30);
                                    }
                                    &:before {
                                        color: $white;
                                    }
                                }
                                &.collapse:not(.show) {
                                    display: none;
                                }
                            }
                        }
                    }
                    &--item-title {
                        color: $silver;
                        font-size: 18px;
                        line-height: 1.33;
                        @include media-breakpoint-up(md) {
                            font-size: 20px;
                            line-height: 1.25;
                        }
                        @include media-breakpoint-up(lg) {
                            color: inherit;
                            cursor: pointer;
                            font-size: 16px;
                            line-height: 1.44;
                        }
                    }
                    &__back-btn {
                        display: none;
                        font-size: 14px;
                        left: -10%;
                        margin: 10px 0;
                        position: static;
                        z-index: 1;
                        @include media-breakpoint-up(md) {
                           position: absolute;
                        }
                    }
                }
                &__language {
                    display: flex;
                    width: auto;
                    @include media-breakpoint-up(md) {
                        margin: 0 -32px;
                    }
                    @include media-breakpoint-up(lg) {
                        display: none;
                    }
                    &__container {
                        border: 0;
                        background-color: $black;
                        margin: 0;
                        overflow-y: hidden;
                        padding: 0;
                        width: 100%;
                        &.collapse {
                            &:not(.show) {
                                display: none;
                            }
                            &.show {
                                display: grid;
                            }
                        }
                        &__languages {
                            grid-column: 1/5;
                            @include media-breakpoint-up(md) {
                                grid-column: 1/10;
                                display: grid;
                                grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
                            }
                            &__region {
                                line-height: 1.44;
                                letter-spacing: -0.32px;
                                @include media-breakpoint-up(md) {
                                    &:not(:first-child) {
                                       padding-left: 20px;
                                    }
                                    &:not(:last-child) {
                                       border-right: 1px solid rgba($gray-light, 0.5);
                                    }
                                }
                                &--label {
                                    color: $gray-light;
                                    font-size: 16px;
                                    line-height: 1.44;
                                    letter-spacing: -0.32px;
                                    margin-bottom: 9px;
                                     @include media-breakpoint-up(md) {
                                         font-size: 15px;
                                         line-height: 1.4;
                                         letter-spacing: -0.3px;
                                     }
                                }
                                .languages-list {
                                    list-style: none;
                                    padding-left: 0;
                                    &__item {
                                        color: $silver;
                                        margin-bottom: 9px;
                                        &:last-child {
                                            margin-bottom: 30px;
                                        }
                                        &__link {
                                            color: $silver;
                                            font-size: 16px;
                                            line-height: 1.44;
                                            letter-spacing: -0.32px;
                                            @include media-breakpoint-up(md) {
                                                font-size: 15px;
                                                line-height: 1.4;
                                                letter-spacing: -0.3px;
                                            }
                                            &:hover{
                                                color: $silver;
                                                text-decoration: none;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                &__search {
                    display: flex;
                    width: 100%;
                    @include media-breakpoint-up(lg) {
                        display: block;
                        width: 0;
                    }
                    &__container {
                        border: 0;
                        background-color: $black;
                        margin: 0;
                        overflow-y: hidden;
                        padding: 0;
                        width: 100%;
                        @include media-breakpoint-up(lg) {
                            padding: 0 $grid-side-margin;
                            transition: height 1s ease;
                            width: 100vw;
                            min-height: 560px;
                        }

                        @include media-breakpoint-up(xl){
                          min-height: 615px;
                        }

                        &.collapse {
                            &:not(.show) {
                                display: none;
                            }
                            &.show {
                                display: grid;
                            }
                        }
                        .close {
                            opacity: 1;
                            text-shadow: none;
                            cursor: pointer;
                            position:absolute;
                            right: 25px;
                            top: 58px;
                            z-index: 1;
                            .juniper-icon {
                                &.icon-close {
                                    @include font-size(30);
                                }
                                &:before {
                                    color: $white;
                                }
                            }
                        }
                    }
                    &__form {
                        grid-column: 1/5;
                        height: 50vh;
                        margin-top: 30px;
                        @include media-breakpoint-up(md) {
                            grid-column: 2/10;
                            margin-top: 0px;
                        }
                        @include media-breakpoint-up(lg) {
                            grid-column: 2/11;
                            margin-top:90px;
                        }
                        @include media-breakpoint-up(xl) {
                            grid-column: 3/10;
                            margin-top:123px;
                        }
                        &__input {
                            background-color: $black;
                            border: 0;
                            border-bottom: 1px solid $gray-dark;
                            color: $silver;
                            font-size: 18px;
                            line-height: 1.33;
                            letter-spacing: -0.36px;
                            padding-right: 2rem;
                            padding-bottom: 8px;
                            width: 100%;
                            @include media-breakpoint-up(md) {
                                font-size: 26px;
                                line-height: 1.15;
                                letter-spacing: -0.78px;
                            }
                            @include media-breakpoint-up(lg) {
                                padding-bottom: 14px;
                                font-size: 42px;
                                line-height: 1.05;
                                letter-spacing: -1.26px;
                                padding-right: 3rem;
                            }
                            @include media-breakpoint-up(xl) {
                                font-size: 42px;
                                line-height: 1.05;
                                letter-spacing: -1.26px;
                            }
                            &:focus {
                                outline: none;
                                &~.icon-search {
                                    color: $white;
                                }
                            }
                        }
                        &__search-icon {
                            color: $gray-dark;
                            cursor: pointer;
                            position: absolute;
                            right: 0;
                            top: 0;
                            z-index: 1;
                            font-size: 18px;
                            @include media-breakpoint-up(md) {
                                font-size: 19.6px;

                            }
                            @include media-breakpoint-up(lg) {
                                font-size: 28px;
                                right: 1rem;
                                top: 1rem;
                                @include font-size(26);
                            }
                            @include media-breakpoint-up(xl) {
                                @include font-size(30);
                            }
                            @include media-breakpoint-up(xl) {
                                font-size: 31.5px;
                                top: 10px;
                            }
                        }
                        .suggestions-wrapper {
                            background-color: $black;
                            color: $grey-border;
                            margin-top: 12px;
                            position: initial;
                            top: 100%;
                            z-index: 1;
                            width: calc(100% - 2rem);
                            @include media-breakpoint-up(lg) {
                                margin-top: 17px;
                                width: 100%;
                            }
                            @include media-breakpoint-up(xl) {
                                margin-top: 18px;
                            }
                            .suggestions {
                                border: 0;
                                list-style: none;
                                padding-left: 0;
                                li {
                                    font-weight: normal;
                                    line-height: 1.44;
                                    letter-spacing: -0.32px;
                                    margin-top: 8px;
                                    padding-left: 0;
                                    @include media-breakpoint-up(md) {
                                        font-size: 17px;
                                        line-height: 1.42;
                                        letter-spacing: -0.34px;
                                        margin-top: 9px;
                                    }
                                    @include media-breakpoint-up(lg) {
                                        font-size: 18px;
                                        line-height: 1.44;
                                        letter-spacing: -0.36px;
                                        margin-top: 10px;
                                    }
                                    // &.active {
                                    //     color: $silver;
                                    // }
                                    a {
                                        cursor: pointer;
                                        text-decoration: none;
                                        &:hover {
                                            color: $silver;
                                            text-decoration: none;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .link-animation {
                &:after {
                   display: none;
                   @include media-breakpoint-up(lg) {
                      display: block;
                      position: absolute;
                   }
                }
            }
        }
    }

    .recommended__image--link{
        display: block;
        height: 120px;
        width: 164px;
        @include media-breakpoint-up(md) {
            height: 140px;
            width: 100%;
        }
        @include media-breakpoint-up(lg) {
            height: 170px;
        }
        @include media-breakpoint-up(xl) {
            height: 233px;
        }
    }
}
