<div data-sly-test="${wcmmode.edit && !wcmmode.preview}" class="aem-helper configure__container">[ Configure ${component.title} Component ]</div>

<div class="cmp-solutions-list container-fluid ${relatedsolutions.theme}" data-sly-use.relatedsolutions="com.juniper.aem.models.RelatedInformationModel" data-mod="solutionlist">
    <div class="solutions-list__container">
        <section class="solutions-list-wrapper">
            <div class="solutions-list-intro"  data-sly-test="${relatedsolutions.heading}">
                <div class="h1 solutions-list-heading">${relatedsolutions.heading}</div>
            </div>
            <div class="solutions-list-card-items" data-sly-list.relatedProductDataItem="${relatedsolutions.pagePathContainer}" >
                <sly data-sly-list.propertiesModel="${relatedProductDataItem.pagePropertiesModelList}">
                    <div class="solutions-list-card-item" data-sly-test="${!propertiesModel.pageProperties.productDataPath}">
                        <a class="title" href="${relatedProductDataItem.pagePath @ extension = 'html'}" target="${propertiesModel.pageProperties.cardTarget}">
                            <span class="product-title h3">${propertiesModel.pageProperties.cardTitle}</span>
                        </a>
                        <div class="solution-description rte-content">${propertiesModel.pageProperties.cardDescription @context='html'}</div>
                        <a class="links" href="${relatedProductDataItem.pagePath @ extension = 'html'}" target="${propertiesModel.pageProperties.cardTarget}">
                            <button class="juniper-btn juniper-btn--link readmore-link">${propertiesModel.pageProperties.cardCtaText} </button><span class="juniper-icon icon-arrow"></span>
                        </a>
                    </div>
                </sly>
            </div>
        </section>
    </div>
</div>
