<div data-sly-test="${wcmmode.edit && !wcmmode.preview}" class="configure__container">[ Configure ${component.title}
    Component ]</div>
<sly data-sly-use.model="com.juniper.aem.models.HeroCarouselModel"
    data-sly-use.utilityModel="${'com.juniper.aem.models.UtilityModel'}"
    data-sly-set.compId="heroCarousel${utilityModel.uniqueId}">

    <div class="cmp-hero-carousel" data-mod="hero-carousel" data-auto-rotation="${model.autoRotation}"
        data-slider-time="${model.sliderTime || '8000'}">
        <!--/* Slides */ -->
        <div class="hero-carousel__slides js-slides-container" role="listbox" data-sly-list.slide="${model.slides}">
            <div class="hero-carousel__slides__item ${slideList.first ? 'active' : 'position-absolute'} js-item"
                data-slide-index="${slideList.index}">
                <div class="hero-carousel__slides__item__content js-item-content ${model.themeColor}">
                    <div class="hero-carousel__slides__item__content--text js-item-content-text">
                        <span data-sly-test="${slide.eyebrow}"
                            class="hero-carousel__slides__item__content--text--eyebrow d-inline-flex">${slide.eyebrow}</span>
                        <h1>
                            <a class="slide-headline" href="${slide.ctaLink}"
                                data-banner-heading="${pageProperties.headerNavFragment ? 'Home' : pageProperties.pageTitle}"
                                target="${slide.openInNewTab ? '_blank' : '_self'}" data-sly-unwrap="${!slide.headlineLink}">
                                ${slide.headline} </a>
                        </h1>
                        <p>${slide.description}</p>
                        <a href="${slide.ctaLink}" class="link-animation"
                           data-banner-heading="${pageProperties.headerNavFragment ? 'Home' : pageProperties.pageTitle}"
                            target="${slide.openInNewTab ? '_blank' : '_self'}">
                            ${slide.ctaLabel} <span class="juniper-icon icon-arrow"></span>
                        </a>
                    </div>
                    <div class="hero-carousel__slides__item__content--image no-padding js-item-content-image">
                        <img class="d-block w-100 h-100 object-fit--contain object-position--top ${slideList.first ? '' : 'lazyload'}"
                            alt="${slide.imageAltText}"
                            data-sly-attribute.src="${slideList.first ? slide.imagePath : ''}"
                            data-sly-attribute.data-src="${!slideList.first ? slide.imagePath : ''}">
                        <span data-sly-test="${slide.videoUrl}"
                            class="juniper-icon ${slide.playIconColor == 'grey' ? 'icon-play-btn-hover' : 'icon-play-btn'} js-play-video-btn"
                            data-video-modal-id="${compId}Modal${slideList.index}">
                            <span class="path1"></span><span class="path2"></span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="hero-carousel__slides__video-modal">
                <!--   /* Modal Video */ -->
                <sly data-sly-test="${slide.videoUrl}"
                    data-sly-use.modalTemplate="/apps/juniper/components/htl-templates/video-overlay.html"
                    data-sly-set.videoModalId="${compId}Modal${slideList.index}"
                    data-sly-set.videoSrc="${slide.videoUrl @ context='uri'}">
                    <sly data-sly-call="${modalTemplate.modal @ modalId = videoModalId, videoUrl = videoSrc}"></sly>
                </sly>
            </div>
        </div>
        <!--  /* /.Slides */ -->
        <!-- /*  Tablet and Desktop Controls * /-->
        <div class="hero-carousel__controls container-fluid position-absolute js-controls-container">
            <div
                class="hero-carousel__controls__container ${model.controlsThemeColor ? model.controlsThemeColor : 'c-theme-soft-gray'}">
                <div class="grid">
                    <div class="progress_bar pr-0">
                        <div class="hero-carousel__controls__progress-bar--background c-theme-silver w-100"></div>
                        <div
                            class="hero-carousel__controls__progress-bar ${model.controlsThemeColorline ? model.controlsThemeColorline : 'c-theme-dark-green'} js-progress-bar">
                        </div>
                    </div>
                    <div class=" hero-carousel__controls__control js-carousel-control ${slideList.first ? 'active' : ''}"
                        data-slide-to="${slideList.index}" data-sly-repeat.slide="${model.slides}">
                        <h3 class="hero-carousel__controls__control--index">0${slideList.count}</h3>
                        <p class="hero-carousel__controls__control--description">${slide.shortDescription}</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- /* /. Tablet and Desktop Controls */ -->
        <!-- /* Mobile Controls */ -->
        <div class="hero-carousel__controls--mobile position-absolute js-controls-container-mobile">
            <div class="hero-carousel__controls--mobile__container d-block d-md-none col-12">
                <ol>
                    <li data-slide-to="${slideList.index}"
                        class="${slideList.first ? 'active' : ''} js-mobile-carousel-control"
                        data-sly-repeat.slide="${model.slides}"></li>
                </ol>
            </div>
        </div>
        <!--/* /.Mobile Controls */ -->
    </div>
</sly>
