@import '../variables/variables';

@mixin base-component-block ($margin: 0 auto) {
  position: relative;
  display: block;
  margin: $margin;
}

@mixin base-component-formatted-block () {
  @include base-component-block;
  @include base--font-family-normal();
  color: $c-txt-body-on-light;
}

@mixin base-component-spacing ($scale-bottom: 1, $scale-top: 1) {
  margin-top: if(type-of($scale-top) == 'number', $base--component-spacing * $scale-top, null);
  margin-bottom: if(type-of($scale-bottom) == 'number', $base--component-spacing * $scale-bottom, null);
}

// new branding type headings
@mixin base-heading1(){
  font-size: $base-heading1;
  font-weight: 400;
}

@mixin base-heading2(){
  font-size: $base-heading2;
  font-weight: 400;
}

@mixin base-heading3(){
  font-size: $base-heading3;
  font-weight: 700;
}

@mixin base-heading4(){
  font-size: $base-heading4;
  font-weight: 700;
}

@mixin base-heading5(){
  font-size: $base-heading5;
  font-weight: 700;
}

@mixin base-body1(){
  font-size: $base-body1;
  font-weight: 400;
}

@mixin base-body2(){
  font-size: $base-body2;
  font-weight: 400;
}