// A collection of mixins and CSS classes that can be used to apply elevation to a material
// element.
// See: https://www.google.com/design/spec/what-is-material/elevation-shadows.html
// Examples:
//
//
// .sw-foo {
//   @include $sw-elevation(2);
//
//   &:active {
//     @include $sw-elevation(8);
//   }
// }
//
// <div id="external-card" class="sw-elevation-z2"><p>Some content</p></div>
//
// For an explanation of the design behind how elevation is implemented, see the design doc at
// https://goo.gl/Kq0k9Z.

// Colors for umbra, penumbra, and ambient shadows. As described in the design doc, each elevation
// level is created using a set of 3 shadow values, one for umbra (the shadow representing the
// space completely obscured by an object relative to its light source), one for penumbra (the
// space partially obscured by an object), and one for ambient (the space which contains the object
// itself). For a further explanation of these terms and their meanings, see
// https://en.wikipedia.org/wiki/Umbra,_penumbra_and_antumbra.

$_umbra-alpha: 0.2;
$_penumbra-alpha: 0.14;
$_ambient-alpha: 0.12;
$_text-elevation-alpha-multiple: 1.5;

$_umbra-color: rgba(black, $_umbra-alpha);
$_penumbra-color: rgba(black, $_penumbra-alpha);
$_ambient-color: rgba(black, $_ambient-alpha);

$_text-umbra-color: rgba($c-custom-dark-mute-blue, $_umbra-alpha * $_text-elevation-alpha-multiple);
$_text-penumbra-color: rgba($c-custom-dark-mute-blue, $_penumbra-alpha * $_text-elevation-alpha-multiple);
$_text-ambient-color: rgba($c-custom-dark-mute-blue, $_ambient-alpha * $_text-elevation-alpha-multiple);

// Maps for the different shadow sets and their values within each z-space. These values were
// created by taking a few reference shadow sets created by Google's Designers and interpolating
// all of the values between them.

$_umbra-elevation-map: (
  0: '0px 0px 0px 0px',
  1: '0px 2px 1px -1px',
  2: '0px 3px 1px -2px',
  3: '0px 3px 3px -2px',
  4: '0px 2px 4px -1px',
  5: '0px 3px 5px -1px',
  6: '0px 3px 5px -1px',
  7: '0px 4px 5px -2px',
  8: '0px 5px 5px -3px',
  9: '0px 5px 6px -3px',
  10: '0px 6px 6px -3px',
  11: '0px 6px 7px -4px',
  12: '0px 7px 8px -4px',
  13: '0px 7px 8px -4px',
  14: '0px 7px 9px -4px',
  15: '0px 8px 9px -5px',
  16: '0px 8px 10px -5px',
  17: '0px 8px 11px -5px',
  18: '0px 9px 11px -5px',
  19: '0px 9px 12px -6px',
  20: '0px 10px 13px -6px',
  21: '0px 10px 13px -6px',
  22: '0px 10px 14px -6px',
  23: '0px 11px 14px -7px',
  24: '0px 11px 15px -7px'
);

$_penumbra-elevation-map: (
  0: '0px 0px 0px 0px',
  1: '0px 1px 1px 0px',
  2: '0px 2px 2px 0px',
  3: '0px 3px 4px 0px',
  4: '0px 4px 5px 0px',
  5: '0px 5px 8px 0px',
  6: '0px 6px 10px 0px',
  7: '0px 7px 10px 1px',
  8: '0px 8px 10px 1px',
  9: '0px 9px 12px 1px',
  10: '0px 10px 14px 1px',
  11: '0px 11px 15px 1px',
  12: '0px 12px 17px 2px',
  13: '0px 13px 19px 2px',
  14: '0px 14px 21px 2px',
  15: '0px 15px 22px 2px',
  16: '0px 16px 24px 2px',
  17: '0px 17px 26px 2px',
  18: '0px 18px 28px 2px',
  19: '0px 19px 29px 2px',
  20: '0px 20px 31px 3px',
  21: '0px 21px 33px 3px',
  22: '0px 22px 35px 3px',
  23: '0px 23px 36px 3px',
  24: '0px 24px 38px 3px'
);

$_ambient-elevation-map: (
  0: '0px 0px 0px 0px',
  1: '0px 1px 3px 0px',
  2: '0px 1px 5px 0px',
  3: '0px 1px 8px 0px',
  4: '0px 1px 10px 0px',
  5: '0px 1px 14px 0px',
  6: '0px 1px 18px 0px',
  7: '0px 2px 16px 1px',
  8: '0px 3px 14px 2px',
  9: '0px 3px 16px 2px',
  10: '0px 4px 18px 3px',
  11: '0px 4px 20px 3px',
  12: '0px 5px 22px 4px',
  13: '0px 5px 24px 4px',
  14: '0px 5px 26px 4px',
  15: '0px 6px 28px 5px',
  16: '0px 6px 30px 5px',
  17: '0px 6px 32px 5px',
  18: '0px 7px 34px 6px',
  19: '0px 7px 36px 6px',
  20: '0px 8px 38px 7px',
  21: '0px 8px 40px 7px',
  22: '0px 8px 42px 7px',
  23: '0px 9px 44px 8px',
  24: '0px 9px 46px 8px'
);

// Maps for the different text-shadow sets and their values within each z-space. These values
// were created as a modification of the above maps to adapt for the intricacies of text as
// well as adjust for the lack of a spread distance on the text-shadow spec.

$_text-umbra-elevation-map: (
  0: '0px 0px 0px',
  1: '0px 2px 1px',
  2: '0px 3px 1px',
  3: '0px 3px 3px',
  4: '0px 2px 4px',
  5: '0px 3px 5px',
  6: '0px 3px 5px',
  7: '0px 4px 5px',
  8: '0px 5px 5px',
  9: '0px 5px 6px'
);

$_text-penumbra-elevation-map: (
  0: '0px 0px 0px',
  1: '0px 0px 1px',
  2: '0px 1px 2px',
  3: '0px 1px 4px',
  4: '0px 2px 5px',
  5: '0px 2px 8px',
  6: '0px 3px 10px',
  7: '0px 3px 10px',
  8: '0px 4px 10px',
  9: '0px 4px 12px'
);

$_text-ambient-elevation-map: (
  0: '0px 0px 0px',
  1: '0px 1px 3px',
  2: '0px 1px 5px',
  3: '0px 1px 8px',
  4: '0px 1px 10px',
  5: '0px 1px 14px',
  6: '0px 1px 18px',
  7: '0px 2px 16px',
  8: '0px 3px 14px',
  9: '0px 3px 16px'
);

// The css properties used for elevation. In most cases this should not be changed. They are exposed
// as a variable for abstraction / easy use when needing to reference the property directly, for
// example in a will-change rule.
$sw-elevation-property: box-shadow !default;
$sw-text-elevation-property: text-shadow !default;

// The default duration value for elevation transitions.
$sw-elevation-transition-duration: 280ms !default;

// The default easing value for elevation transitions.
$sw-elevation-transition-timing-function: $sw-fast-out-slow-in-timing-function;

// Applies the correct css rules to an element to give it the elevation specified by $zValue.
// The $zValue must be between 0 and 24.
@mixin sw-elevation($zValue, $c-umbra: $_umbra-color, $c-penumbra: $_penumbra-color, $c-ambient: $_ambient-color) {
  @if type-of($zValue) != number or not unitless($zValue) {
    @error '$zValue must be a unitless number';
  }
  @if $zValue < 0 or $zValue > 24 {
    @error '$zValue must be between 0 and 24';
  }

  #{$sw-elevation-property}: #{ map-get($_umbra-elevation-map, $zValue) + ' ' + $c-umbra },
                             #{ map-get($_penumbra-elevation-map, $zValue) + ' ' + $c-penumbra },
                             #{ map-get($_ambient-elevation-map, $zValue) + ' ' + $c-ambient };
}

// Applies the correct css rules to a text element to give it the elevation specified by $zValue.
// The $zValue must be between 0 and 9.
@mixin sw-text-elevation($zValue, $c-umbra: $_text-umbra-color, $c-penumbra: $_text-penumbra-color, $c-ambient: $_text-ambient-color) {
  @if type-of($zValue) != number or not unitless($zValue) {
    @error '$zValue must be a unitless number';
  }
  @if $zValue < 0 or $zValue > 9 {
    @error '$zValue must be between 0 and 9';
  }

  #{$sw-text-elevation-property}: #{ map-get($_text-umbra-elevation-map, $zValue) + ' ' + $c-umbra },
                                  #{ map-get($_text-penumbra-elevation-map, $zValue) + ' ' + $c-penumbra },
                                  #{ map-get($_text-ambient-elevation-map, $zValue) + ' ' + $c-ambient };
}

// Returns a string that can be used as the value for a transition property for elevation.
// Calling this function directly is useful in situations where a component needs to transition
// more than one property.
//
// .foo {
//   transition: sw-elevation-transition-property-value(), opacity 100ms ease;
//   will-change: $sw-elevation-property, opacity;
// }
@function sw-elevation-transition-property-value(
    $duration: $sw-elevation-transition-duration,
    $easing: $sw-elevation-transition-timing-function) {
  @return #{$sw-elevation-property} #{$duration} #{$easing};
}

// Applies the correct css rules needed to have an element transition between elevations.
// This mixin should be applied to elements whose elevation values will change depending on their
// context (e.g. when active or disabled).
@mixin sw-elevation-transition(
    $duration: $sw-elevation-transition-duration,
    $easing: $sw-elevation-transition-timing-function) {
  transition: sw-elevation-transition-property-value($duration, $easing);
  will-change: $sw-elevation-property;
}
