@function _fluid-font-sizing-linear-eq($map) {
  $keys: map-keys($map);

  @if (length($keys) != 2) {
    @error "_fluid-font-sizing-linear-eq() expects a 2-entry map.";
  }

  // Point A
  $x1: strip-unit(nth($keys, 1));
  $y1: strip-unit(map-get($map, nth($keys, 1)));

  // Point B
  $x2: strip-unit(nth($keys, 2));
  $y2: strip-unit(map-get($map, nth($keys, 2)));

  // Slope
  $m: ($y2 - $y1) / ($x2 - $x1);

  // Y-intercept
  $b: $y1 - ($m * $x1);

  // Determine if the sign should be positive or negative
  $sign: '+';
  @if ($b < 0) {
    $sign: '-';
    $b: abs($b);
  }

  // Unit to use
  $unit: unit(map-get($map, nth($keys, 1)));

  @return calc(#{$m * 100}vw #{$sign} #{$b}#{$unit});
}

@mixin fluid-sizing($prop, $map, $lower-cap: true, $upper-cap: true) {
  $keys: map-keys($map);

  @if (length($keys) != 2) {
    @error "fluid-font-sizing() expects a 2-entry map.";
  }

  @each $unit in join($keys, map-values($map)) {
    @if unit($unit) != 'px' {
      @error "fluid-font-sizing() expects pixel-based key-value pairs.";
    }
  }

  // Lower cap
  @if ($lower-cap) {
    $lower-key: min($keys...);

    @media (max-width: $lower-key) {
      #{$prop}: map-get($map, $lower-key);
    }
  }

  #{$prop}: _fluid-font-sizing-linear-eq($map);

  // Upper cap
  @if ($upper-cap) {
    $upper-key: max($keys...);

    @media (min-width: $upper-key) {
      #{$prop}: map-get($map, $upper-key);
    }
  }
}
