
@mixin base--font-family-base ($_base-font-family: $base--font-family) {
  font-family: $_base-font-family;
}

@mixin base--font-family-normal() {
    @include base--font-family-base();
    font-weight: 500;
}

@mixin base--font-family-bold() {
    @include base--font-family-base();
    font-weight: 700;
}

@mixin base--font-family-bolder() {
    @include base--font-family-base();
    font-weight: 800;
}
