// Mixins — Responsive

@mixin media-width-up ($breakpoint) {
  @media only screen and (min-width: $breakpoint) {
    @content;
  }
}

@mixin media-width-down ($breakpoint) {
  @media only screen and (max-width: $breakpoint - 1) {
    @content;
  }
}

@mixin media-width-between ($breakpoint-min, $breakpoint-max) {
  @media only screen and (min-width: $breakpoint-min) and (max-width: $breakpoint-max - 1) {
    @content;
  }
}

@mixin media-high-contrast () {
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    @content;
  }
}

@mixin media-respond-property ($propertyName, $breakValueList...) {
    @for $breakValueCount from 1 through length($breakValueList) {
        @if $breakValueCount % 2 != 0 {
            $breakpoint: root;
            @if map_has_key($breakpoint-map, nth($breakValueList, $breakValueCount)) == true {
              $breakpoint: map-get($breakpoint-map, nth($breakValueList, $breakValueCount));
            }
            $breakpointValue: nth($breakValueList, $breakValueCount + 1);

            @if $breakpoint == root {
                 #{$propertyName}: $breakpointValue;
            } @else {
                @include media-width-up ($breakpoint) {
                    #{$propertyName}: $breakpointValue;
                }
            }
        }
    }
}
