/*
 * Implementation of themes
 */
 @mixin themify($themes, $themes-map) {
    @each $theme, $map in $themes-map {
        :host-context([sw-theme-color=#{$theme}]) & {
            $theme-map: () !global;
            @each $key, $submap in $map {
               
            $value: map-get(map-get($themes-map, $theme), '#{$key}');
            $theme-map: map-merge($theme-map, ($key: $value)) !global;
            }
            @content;
            $theme-map: null !global;
        }
    }
  }
  
  @function themed($key) {
    @return map-get($theme-map, $key);
  }
  