@import '../variables/variables';

@mixin type-body($font-weight: null, $line-height: $base--line-height-loose) {
  @include base--font-family-base();
  font-size: 1rem;
  font-weight: $font-weight;
  line-height: $line-height;
}

@mixin type-small($font-weight: $base--font-weight-base, $line-height: $base--line-height-normal) {
  @include base--font-family-base();
  font-weight: $font-weight;
  font-style: inherit;
  font-size: $base--font-size-small;
  line-height: $line-height;
  letter-spacing: 0.025em;
}

@mixin type-forms($font-weight: null, $line-height: $base--line-height-consensed) {
  @include type-body($font-weight: $font-weight, $line-height: $line-height);
}

@mixin type-head1($font-weight: $base--font-weight-bold, $line-height: $base--line-height-consensed) {
  font-family: inherit;
  font-weight: $font-weight;
  @include fluid-sizing(
    font-size,
    (
      $base--page-min-width: ceil($base--font-size-body * 1.602),
      $base--page-max-width: ceil($base--font-size-body * 2.441)
    ),
    $lower-cap: false
  );
  line-height: $line-height;
}

@mixin type-head2($font-weight: $base--font-weight-bold, $line-height: $base--line-height-consensed) {
  font-family: inherit;
  font-weight: $font-weight;
  @include fluid-sizing(
    font-size,
    (
      $base--page-min-width: ceil($base--font-size-body * 1.424),
      $base--page-max-width: ceil($base--font-size-body * 1.953)
    ),
    $lower-cap: false
  );
  line-height: $line-height;
}

@mixin type-head3($font-weight: $base--font-weight-bold, $line-height: $base--line-height-normal) {
  font-family: inherit;
  font-weight: $font-weight;
  @include fluid-sizing(
    font-size,
    (
      $base--page-min-width: ceil($base--font-size-body * 1.266),
      $base--page-max-width: ceil($base--font-size-body * 1.563)
    ),
    $lower-cap: false
  );
  line-height: $line-height;
}

@mixin type-head4($font-weight: $base--font-weight-bold, $line-height: $base--line-height-normal) {
  font-family: inherit;
  font-weight: $font-weight;
  @include fluid-sizing(
    font-size,
    (
      $base--page-min-width: ceil($base--font-size-body * 1.125),
      $base--page-max-width: ceil($base--font-size-body * 1.250)
    ),
    $lower-cap: false
  );
  line-height: $line-height;
}

@mixin type-head5($font-weight: $base--font-weight-bold, $line-height: $base--line-height-normal) {
  @include type-body($font-weight: $font-weight, $line-height: $line-height);
  letter-spacing: 0.025em;
}

@mixin type-head6($font-weight: $base--font-weight-bold, $line-height: $base--line-height-normal) {
  @include type-body($font-weight: $font-weight, $line-height: $line-height);
  letter-spacing: 0.025em;
}

@mixin type-wrap-hyphenation {
  white-space: normal;
  word-break: normal;
  hyphens: manual;
  hyphens: auto;
  max-width: 100%;
}

@mixin locale-based-hyphenation () {
  :host-context([sw-locale^="de-"]), :host-context([sw-locale^="fr-"]) {
    hyphens: manual;
    hyphens: auto;
  }
}

@mixin type-over-image-shadow {
  @include sw-text-elevation(4);
}

@mixin type-over-image-shadow-extra {
  @include sw-text-elevation(4, $c-umbra: opacify($_text-umbra-color, 0.3), $c-penumbra: opacify($_text-penumbra-color, 0.3), $c-ambient: opacify($_text-ambient-color, 0.3));
}

/* mixins for beyond branding style */

@mixin get-font-lineheight($size:$size, $element:$element) {
  font-family: $base--font-family;
  $elem: map-get($size, $element);
  font-size: map-get($elem, "font-size")/16 * 1rem;
  line-height: map-get($elem, "line-height") / map-get($elem, "font-size");
}
