<template data-sly-template.contentFragment="${@ fragment='The content fragment', fragmentPath='', wcmmode='WCM mode'}">
    <sly data-sly-use.utils="com.juniper.aem.models.SecondaryPromoModel"></sly>

    <div class="${properties.promotype == 'oneitem' ? 'cmp-secpromo oneitem' : 'cmp-secpromo'}"
        data-mod="secondary-promo">
        <div class="twoitem outer-container grid" data-sly-test="${properties.promotype == 'twoitem'}">

            <!--  Two Item -->
            <div class="left">
                <div data-sly-test="${fragment.exportedElements['left-column-title'].value}" class="divider-line">
                </div>

                <div data-sly-test="${fragment.exportedElements['left-column-title'].value}" class="title">
                    <div class="">${fragment.exportedElements['left-column-title'].value}</div>
                </div>
                <div data-sly-test="${fragment.exportedElements['left-column-desc'].value}" class="desc">
                    <div class="2">${fragment.exportedElements['left-column-desc'].value}</div>
                </div>
                <div data-sly-test="${fragment.exportedElements['left-column-location'].value}"
                    class="location rte-content">
                    <div>${fragment.exportedElements['left-column-location'].value @ context='html'}</div>
                </div>
                <div data-sly-test="${fragment.exportedElements['left-button-link'].value}" class="button">
                    <div class="">
                        <a href="${utils.leftButtonLink}" x-cq-linkchecker="valid">
                            <button
                                class="juniper-btn juniper-btn--${fragment.exportedElements['left-button-color'].value}">${fragment.exportedElements['left-button-label'].value}</button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="right">

                <div data-sly-test="${fragment.exportedElements['left-column-title'].value}" class="divider-line">
                </div>

                <div data-sly-test="${fragment.exportedElements['right-column-title'].value}" class="title">
                    <div class="">${fragment.exportedElements['right-column-title'].value}</div>
                </div>
                <div data-sly-test="${fragment.exportedElements['right-column-desc'].value}" class="desc">
                    <div class="">${fragment.exportedElements['right-column-desc'].value}</div>
                </div>
                <div data-sly-test="${fragment.exportedElements['right-column-location'].value}"
                    class="location rte-content">
                    <div class="">${fragment.exportedElements['right-column-location'].value @ context='html'}</div>
                </div>
                <div data-sly-test="${fragment.exportedElements['right-button-link'].value}" class="button">
                    <div class="">
                        <a href="${utils.rightButtonLink}" x-cq-linkchecker="valid">
                            <button
                                class="juniper-btn juniper-btn--${fragment.exportedElements['right-button-color'].value}">${fragment.exportedElements['right-button-label'].value}</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>


        <!--  One Item -->
        <div data-sly-test="${properties.promotype == 'oneitem'}">

            <div class="grid">
                <div class="divider-line"></div>
            </div>

            <div class="grid outer-container">
                <div class="left">

                    <div data-sly-test="${fragment.exportedElements['left-column-title'].value}" class="title">
                        <div class="">${fragment.exportedElements['left-column-title'].value}</div>
                    </div>

                </div>

                <div class="right">

                    <div data-sly-test="${fragment.exportedElements['left-column-desc'].value}" class="desc">
                        <div>${fragment.exportedElements['left-column-desc'].value}</div>
                    </div>

                    <div data-sly-test="${fragment.exportedElements['left-column-location'].value}"
                        class="location rte-content">
                        <div>${fragment.exportedElements['left-column-location'].value @ context='html'}</div>
                    </div>

                    <div data-sly-test="${fragment.exportedElements['left-button-link'].value}" class="button">
                        <div class="">
                            <a href="${utils.leftButtonLink}" x-cq-linkchecker="valid">
                                <button
                                    class="juniper-btn juniper-btn--${fragment.exportedElements['left-button-color'].value}">${fragment.exportedElements['left-button-label'].value}</button>
                            </a>
                        </div>
                    </div>

                </div>
            </div>

        </div>
        <!-- One Item end -->

    </div>

</template>
