.cmp-filters {
    .filters {
        &__container {
            position: relative;

            padding-bottom: 48px;

            @include media-breakpoint-up(lg) {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr .5fr;
                grid-column-gap: 32px;
                padding-left: 2rem;
                padding-bottom: 0;
            }
            @include media-breakpoint-up(xl){
                grid-template-columns: repeat(4, 1fr);
            }


            &__show-filters{
                grid-column: 1/5;
                & .juniper-btn--grey-border{
                    width: 100%;
                    cursor: pointer;

                    @include media-breakpoint-up(md){
                        width: 19.38rem;
                    }
                }
            }

            &__tags{
                @include media-breakpoint-up(md) {
                    padding-bottom: 5px;
                }

                &.hidden{
                    display: none !important;
                }
            }

            &__wrapper {
                @include media-breakpoint-down(md) {
                    display: none;
                    position: fixed;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    z-index: $zindex-modal;
                    background-color: $white;
                    overflow-y: auto;
                    margin-left: 0;
                    margin-right: 0;
                    width:100vw;
                }
                @include media-breakpoint-up(lg) {
                    grid-column: 2/5;
                    margin-left: 0;
                    margin-right: calc(#{get-column-width("lg")} / 2);;
                }

                @include media-breakpoint-up(xl){
                    margin-left: 2pc;
                    margin-right: 2pc;
                }
            }

            .close-wrapper {
                .close {
                    font-weight: normal;
                    text-shadow: none;
                    opacity: 1;

                    .icon-close {
                        @include font-size(25);

                        &:before {
                            color: $black;
                        }
                    }
                }
            }

            &__header {
                margin-bottom: 25px;

                &__title {
                    font-size:16px;
                    line-height:23px;

                    @include media-breakpoint-up(md) {
                        font-size:16px;
                        line-height:23px;
                    }
                    @include media-breakpoint-up(lg) {
                        font-size: 18px;
                        line-height:26px;
                    }
                }

                &__clear {
                    color: $gray-dark;
                    text-decoration: underline;
                    cursor: pointer;
                    @include media-breakpoint-up(md) {
                        line-height: 1.36;
                        font-size: 14px;
                    }

                    @include media-breakpoint-up(lg) {
                        line-height: 1.4;
                        font-size: 16px;
                    }

                    &.disabled{
                        cursor: not-allowed;
                    }
                }
            }

            &__filters-wrapper {
                position: relative;

                .filters__categories {
                    .list-items {
                        &__group {
                            &__label {
                                @extend .lato-bold;
                                @include font-size(10);
                                border-top: 1px solid $gray-light;
                                text-transform: uppercase;
                                color: $black;
                                padding-top: 12px;
                                padding-bottom: 5px;
                                margin-top: 19px;
                                line-height: 1.4;
                                letter-spacing: 1.8px;

                                @include media-breakpoint-up(md){
                                    font-size: 13px;
                                    line-height: 1.23;
                                    font-weight: 700;
                                    div p {
                                        font-weight: inherit;
                                    }
                                }

                                @include media-breakpoint-up(lg){
                                    padding-bottom: 25px;
                                }

                                &.show {
                                    .icon-arrow-down {
                                        transform: rotate(180deg);
                                    }
                                }

                                &.pointer {
                                    cursor: pointer;
                                }
                            }

                            &__items {
                                @include media-breakpoint-down(md) {
                                    display: block;
                                }

                                &--item {
                                    color: $gray-dark;


                                    &:hover {
                                        color: $black;
                                    }
                                    @include media-breakpoint-down(md) {
                                        @include extra-small;
                                        margin-right: 20px;
                                    }
                                    @include media-breakpoint-up(md) {
                                        font-size: 16px;
                                        line-height: 1.44;
                                    }

                                    .item--title-container {
                                        display:inline-block;
                                        width: calc(100% - 40px);
                                    }
                                    .item-title {
                                        cursor: pointer;
                                        padding-right:5px;
                                        display: inline;

                                        @include media-breakpoint-up(md) {
                                            font-size: 16px;
                                            line-height: 1.44;
                                        }

                                        background-image: linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0));
                                        background-position: 0px 100%;
                                        background-repeat: no-repeat;
                                        background-size: 0px 2px;
                                        transition: background-size 0.5s ease 0s;
                                        padding-bottom: 3px;

                                        &:hover{
                                            background-size: 100% 2px;

                                        }


                                    }

                                    .item-remove {
                                        display: none;
                                        cursor: pointer;
                                        @include media-breakpoint-down(md) {
                                            margin-left: 5px;
                                        }
                                        .icon-close:before{
                                            color: $black;
                                        }

                                        width: 30px;
                                        text-align: right;
                                        vertical-align: top;
                                    }

                                    .item-count {
                                        display: inline-block;
                                        width: 30px;
                                        text-align: right;
                                        padding-right: 3px;
                                        color: $grey-border;
                                        @include media-breakpoint-down(md) {
                                            display: none;
                                        }
                                        vertical-align: top;
                                    }

                                    &[data-active="true"] {
                                        .item-title {
                                            color: $black;
                                            background-size: 100% 2px;
                                        }

                                        .item-remove {
                                            display: inline-block
                                        }

                                        .item-count {
                                            display: none;
                                        }
                                    }



                                }

                                .link-animation {
                                    &:after {
                                        background-color: $gray-dark;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            &__compare-content{
                display: none;
                @include media-breakpoint-up(lg) {
                    display: block;
                    margin-top: 79px
                }

                .compare-label{
                    @include media-breakpoint-up(lg) {
                        display: block;
                        font-size: 22px;
                        line-height: 1.18;
                        letter-spacing: -0.44px;
                        text-align: left;
                        color: $black;
                        margin-bottom: 40px;
                    }
                    a{
                        @include media-breakpoint-down(lg) {
                            margin-top: 30px;
                        }
                    }
                }
            }
        }
    }
}