.clienttestimonial {
  @extend .component-bottom-spacing;

  .c-theme-white {
    .client-testimonial__container {
      padding: 0 !important;
    }
  }

  .cmp-client-testimonial {
    @include color-theme($theme-colors) {
      background-color: $value !important;
    }

    .client-testimonial__container {
      padding: 48px 0 40px;

      @include media-breakpoint-up(md) {
        padding: 104px 0;
      }

      @include media-breakpoint-up(lg) {
        padding: 184px 0 182px;
      }

      @include media-breakpoint-up(xl) {
        padding: 144px 0 150px;
      }

      .client-testimonial_body {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 32px;
        @include lato-regular;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;

        @include media-breakpoint-up(md) {
          grid-template-columns: repeat(9, 1fr);
          column-gap: 24px;
        }

        @include media-breakpoint-up(lg) {
          grid-template-columns: repeat(11, 1fr);
          column-gap: 32px;
        }

        img.image {
          width: 120px;
          height: 120px;
          object-fit: cover;
          grid-column: 1/3;
          border-radius: 50%;
          max-width: none !important;

          @include media-breakpoint-up(md) {
            grid-column: 2/4;
          }

          @include media-breakpoint-up(lg) {
            grid-column: 2/3;
          }

          &.h-in {
            height: inherit;
          }

          &.img-container-ht {
            // height: inherit;
            @include media-breakpoint-up(lg) {
              height: 120px;
            }

            @include media-breakpoint-up(xl) {
              height: 120px;
            }
          }
        }

        div.client-testimonial_video {
          grid-column: 1/3;
          object-fit: cover;
          width: 100%;
          max-width: 120px;
          max-height: 80px;

          img {
            object-fit: cover;
            width: 100%;
            height: inherit;
            max-width: inherit;
            max-height: inherit;
          }

          grid-column: 1/3;
          @include media-breakpoint-up(md) {
            grid-column: 2/4;
            max-width: 127px;
            max-height:85px;
          }
          @include media-breakpoint-up(lg){
            max-width: 225px;
            max-height: 150px;
          }

          &.vid-container-ht {
            height: 80px;

            @include media-breakpoint-up(sm) {
              margin-bottom: 1.5rem;
            }

            @include media-breakpoint-up(md) {
              height: 85px;
              margin-bottom: unset;
            }

            @include media-breakpoint-up(lg) {
              height: 150px;
            }
          }
        }

        .client-testimonial-quote {
          grid-column: 1/5;

          @include media-breakpoint-up(md) {
            grid-column: 4/9;
            @include font-size(30);
            line-height: 1.1;
            letter-spacing: -0.9px;
          }

          @include media-breakpoint-up(lg) {
            @include font-size(30);
            line-height: 1.1;
            letter-spacing: -0.9px;
            grid-column: 4/11;
            &.image-variant {
              grid-column: 3/11;
            }
          }

          @include media-breakpoint-up(xl) {
            @include font-size(50);
            line-height: 1;
            letter-spacing: -1.5px;
          }

          a,
          span {
            color: #000;
          }
          .h2 {
            @include media-breakpoint-down(md) {
              font-size: 30px;
              line-height: 1.1;
            }
          }

          .client-testimonial_info {
            padding-top: 32px;

            @include media-breakpoint-up(sm) {
              @include font-size(14);
              line-height: 1.43;
              letter-spacing: -0.14px;
            }

            @include media-breakpoint-up(md) {
              @include font-size(15);
              line-height: 1.4;
              letter-spacing: -0.3px;
            }

            @include media-breakpoint-up(lg) {
              @include font-size(15);
              line-height: 1.44;
              letter-spacing: -0.32px;
            }

            @include media-breakpoint-up(xl) {
              @include font-size(16);
              line-height: 1.44;
              letter-spacing: -0.32px;
              padding-top: 48px;
            }

            span {
              display: flex;
              line-height: 1.44;
              letter-spacing: -0.32px;
            }
          }
        }
      }
    }

    .play-icon {
      z-index: 999;
      @include font-size(40);
      position: absolute;
      grid-column: 3/3;
      top: calc(50% - 20px);
      left: calc(50% - 20px);
      width: 40px;
      height: 40px;

      .path1, .path2{
        position: absolute;
        top: 0;
        left: 0;
      }

      @include media-breakpoint-down(md) {
        @include font-size(25);
        top: 30%;
        left: 36%;
      }
    }

    .icon-play-btn .path2:before {
      margin-left: 0;
      left: 0;
    }
  }
}
