.sticky-row--wrapper{
	position: sticky;
	z-index: $zindex-sticky;
	top: 0;
}
.sticky-row{
	z-index: $zindex-sticky;
	background-color: $white;
	width: 100%;
    padding: 0 1pc;
	margin: 0 auto;

	@include media-breakpoint-up(lg) {
		padding: 0 2pc;
	}
	@media only screen and (min-device-width: 768px) 
    and (max-device-width: 1024px) 
    and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
		padding: 0 1pc;
	}
	.sr-container {
		max-width: 100%;
		padding-left: 0px;
		padding-right: 0px;
		@extend .grid;
		.left{
			align-self: start;
			grid-column: 1/-1;
			grid-row: 1;
			grid-column-end: 8;
			@include media-breakpoint-down(sm) {
				grid-row: 2;
			}
			@include media-breakpoint-down(md){
				grid-column-end: 7;
			}
		}
		.right{
			align-self: center;
			grid-column: 1/-1;
			grid-row: 1;
			grid-column-start: 8;
			@include media-breakpoint-down(md){
				grid-column-start: 7;
			}
		}
	}
}