.explainerwithimages {
  @extend .component-bottom-spacing;
  padding-bottom: 0px;

  @include media-breakpoint-up(md) {
    padding-bottom: 50px;
  }

  @include media-breakpoint-up(lg) {
    padding-bottom: 100px;
  }

  .cmp-explainer {
    @extend .grid;
    padding: 0;
    overflow: inherit;
    .no-margin {
      margin-left: 0px;
      margin-right: 0px;
    }

    .content {
      width: 100%;
    }

    .heading {
      grid-column: 1/ span 4;
      margin-bottom: 8px;
      padding:0 2em;

      @include media-breakpoint-up(md) {
        grid-column: 1/ span 8;
        margin-bottom: 16px;
      }

      @include media-breakpoint-up(lg) {
        grid-column: 2/ span 9;
        margin-bottom: 28px;
        padding:0;
      }

      @include media-breakpoint-up(xl) {
        margin-bottom: 24px;
      }

      & h2 {
        color: $black;
      }
    }

    .description {
      grid-column: 1/ span 4;
      margin-bottom: 48px;
      padding:0 2em;
      @include media-breakpoint-up(md) {
        grid-column: 1/ span 8;
        margin-bottom: 56px;
      }

      @include media-breakpoint-up(lg) {
        grid-column: 2/ span 7;
        margin-bottom: 104px;
        padding:0;
      }

      @include media-breakpoint-up(xl) {
        margin-bottom: 174px;
      }
    }

    .bgvariant {
      height: auto;
      position: relative;
      grid-column: 1/ span 4;

      @include media-breakpoint-up(md) {
        grid-column: 1/ span 9;
        max-width: 100%;
      }

      @include media-breakpoint-up(lg) {
        grid-column: 1/ span 11;
      }

      &:before {
        @include media-breakpoint-up(md) {
          content: "";
          width: 36.5%;
          background-color: $green;
          height: 100%;
          max-height: 100%;
          position: absolute;
          margin-top: 48px;
        }

        @include media-breakpoint-up(lg) {
          width: 44%;
          margin-top: 96px;
        }
      }
    }

    .bg-color-green {
      &::before {
        background: $green;
      }
    }

    .bg-color-blue {
      &::before {
        background: $blue;
      }
    }

    .bg-color-orange {
      &::before {
        background: $orange;
      }
    }

    .bg-color-purple {
      &::before {
        background: $purple;
      }
    }

    .bg-color-jade {
      &::before {
        background: $jade;
      }
    }

    .bg-color-teal {
      &::before {
        background: $teal;
      }
    }

    .explainer {
      &__container {
        @extend .grid;
        padding: 0;
        z-index: 10;

        .content-wrapper {
          grid-column: 1/ span 4;
          @extend .grid;
          padding: 0 2em;
          margin-bottom: 48px;
          overflow-x: hidden;
      

          @include media-breakpoint-up(md) {
            grid-column: 1/ span 9;
            margin-bottom: 60px;
          }

          @include media-breakpoint-up(lg) {
            grid-template-columns: repeat(9, 1fr);
            padding: 0;
            grid-column: 2/ span 9;
            margin-bottom: 136px;
          }
          &:last-child {
            margin-bottom: auto;
          }
        }

        &__image {
          grid-column: 1/ span 4;

          @include media-breakpoint-up(md) {
            grid-column: 1/ span 4;
            padding-right: 20px;
          }

          @include media-breakpoint-up(lg) {
            grid-column: 1/ span 5;
            padding-right: 20px;
          }

          @include media-breakpoint-up(xl) {
            padding-right: 67px;
          }

          & img {
            max-width: 100%;
            max-height: 100%;
            min-height: 235px;
            height: auto;
            width: 100%;
            height: 235px;
            object-fit: cover;

            @include media-breakpoint-up(md) {
              min-height: 280px;
            }

            @include media-breakpoint-up(lg) {
              min-height: 396px;
            }

            @include media-breakpoint-up(xl) {
              min-height: 396px;
            }
          }
        }

        &__details {
          grid-column: 1/ span 4;
          margin-top: 24px;

          @include media-breakpoint-up(md) {
            grid-column: 5/ span 5;
            align-items: center;
            margin-top: auto;
            margin-bottom: auto;
          }

          @include media-breakpoint-up(lg) {
            grid-column: 6/ span 4;
            align-items: center;
            margin-top: auto;
            margin-bottom: auto;
          }

          @include media-breakpoint-up(xl) {
            align-items: center;
            margin-top: auto;
            margin-bottom: auto;
          }

          & .title {
            color: $black;

            .heading--link {
              text-decoration: none;
              background-image: linear-gradient($black, $black);
              background-position: 0% 100%;
              background-repeat: no-repeat;
              background-size: 0% 1px;
              transition: background-size cubic-bezier(0, 0.5, 0, 1) 0.3s;
              color: inherit;

              &:hover {
                text-decoration: none;
                background-size: 100% 2px;
                color: $black;
              }
            }
          }

          & .shortdescription {
            margin-top: 8px;
            color: $gray-dark;

            @include media-breakpoint-up(lg) {
              margin-top: 24px;
            }
          }

          & .viewmore-pane {
            margin-top: 24px;

            @include media-breakpoint-up(md) {
              margin-top: 32px;
            }

            @include media-breakpoint-up(lg) {
              margin-top: 40px;
            }

            @include media-breakpoint-up(xl) {
              margin-top: 48px;
            }

            .readmore-link {
              @include lato-bold;
              @include font-size(16);
              line-height: 2.06;
              letter-spacing: -0.16px;

              @include media-breakpoint-up(md) {
                line-height: 2.06;
                letter-spacing: -0.16px;
                @include font-size(16);
              }

              @include media-breakpoint-up(lg) {
                line-height: 1.65;
                letter-spacing: -0.2px;
                @include font-size(20);
                margin-right: 5px;
              }

              @include media-breakpoint-up(xl) {
                line-height: 1.65;
                letter-spacing: -0.2px;
                @include font-size(20);
              }
            }

            .icon-arrow {
              @include font-size(16);

              @include media-breakpoint-up(md) {
                @include font-size(16);
              }

              @include media-breakpoint-up(lg) {
                @include font-size(20);
              }

              @include media-breakpoint-up(xl) {
                @include font-size(20);
              }
            }
          }
        }
      }
    }
  }
}