.textitemlist{
    @extend .grid;
    & .intro-section{
        grid-column: 1/5;
        @include media-breakpoint-up(lg) {
            grid-column: 2/6;
        }
        h2{ 
            border-top: 6px solid $silver;
            padding-top: 15px;
            line-height: 1;
            margin: 16px 0 29px;
            font-size: 2.25rem;
            @include media-breakpoint-up(md) {
                margin: 110px 0 24px;
                font-size: 2.625rem;
            }
            @include media-breakpoint-up(lg) {
                margin: 158px 0 62px;
                font-size: 3.625rem;
            }
            @include media-breakpoint-up(xl) {
                margin: 190px 0 36px;
                font-size: 4.75rem;
            }
        }
        .large{
            padding-bottom: 24px;
            @include media-breakpoint-up(md) {
                padding-bottom: 18px;
            }
            @include media-breakpoint-up(lg) {
                padding-bottom: 52px;
            }
            @include media-breakpoint-up(xl) {
                padding-bottom: 40px;
            }
        }
        .juniper-btn{
            @include media-breakpoint-down(md) {
                margin-bottom: 46px;
            }
        }
    }
    & .list-section{
        grid-column: 1/5;
        grid-row: 2;
        @include media-breakpoint-up(md) {
            grid-column: 5/10;
            margin-right: -32px;
            grid-row: 1;
        }
        @include media-breakpoint-up(lg) {
            grid-column: 7/12;
        }
        background-color: $black;
        color: $white;
        ul{
            list-style: none;
            padding: 16px 32px 40px;
            @include media-breakpoint-up(md) {
                padding: 16px 32px 64px;
            }
            @include media-breakpoint-up(lg) {
                padding: 16px 70px 92px 90px;
            }
            
            li{
                padding-top: 32px;
                font-size: 1rem;
                @include media-breakpoint-up(md) {
                    padding-top: 64px;
                    font-size: 1.063rem;
                }
                @include media-breakpoint-up(lg) {
                    padding-top: 86px;
                    font-size: 1.125rem;
                }
                @include media-breakpoint-up(xl) {
                    font-size: 1.375rem;
                }
                img{
                    margin-bottom: 20px;
                    display: block;
                    width: 5vw;
                }
                span{
                    display: block;
                    border-top: 1px solid $silver;
                    margin: 10px 0;
                    padding-top: 8px;
                    font-size: 0.875rem;
                    @include media-breakpoint-up(md) {
                        font-size: 0.938rem;
                    }
                    @include media-breakpoint-up(lg) {
                        font-size: 1rem;
                    }
                }
            }
        }
    }
}