.cmp-horizontalrule {
	@extend .component-bottom-spacing;

	.horizontalrule {
		&__container {
			hr {
				border-top: 1px solid $gray-light;
				&.hr-gutter {
					margin-left: 32px;
					margin-right: 32px;
				}
			}
		}
	}
}