html,
body {
    margin: 0;
    font-size:   $font-size;
    @include lato-regular;
    line-height: $font-height;
    color:       $black;
    background:  $white;
    /*overflow-x: hidden;*/
    &.suspend-scroll {
        overflow-y: hidden;
    }
}
img.object-fit {
    &--cover {
        object-fit: cover;
        font-family: 'object-fit: cover;'; // Workaround for <= IE11
    }
    &--contain {
        object-fit: contain;
        font-family: 'object-fit: contain;'; // Workaround for <= IE11
    }
    &--fill {
        object-fit: fill;
        font-family: 'object-fit: fill;'; // Workaround for <= IE11+
    }
}

a {
    color: $color-link;
    &:hover{
        color: darken($color-link,  10%);
        text-decoration: none;
    }
}

.rte-content{
    a {        
        color: $dark-green !important;       
        
        &:hover{
            text-decoration: underline;
            text-underline-offset: 1px;
        }
    }
    p:first-child, li:first-child, ol li:first-child{
        padding-top: 1rem;
    }
    p,h1,h2,h3,h4,h5{        
        margin-bottom: 1rem;        
    }  
       
    ul{
      list-style-position:inside;  
    }
    ol {
        padding-left: 1rem;
    }
    ol li{
      list-style-position:inherit;   
      padding-left: 0.5em
    }
    p:last-child, ul li:last-child, ol li:last-child{
        margin-bottom: 0.5rem;
    }
    b, strong{
        font-weight: bold;
        font-size: inherit;
    }
    i{
        font-style: italic;
        font-size: inherit;
        font-weight: normal;
    }
    
    table {
        width: 80%;
        
        th{
            font-weight: bold;   
            padding: 1rem 0;         
        }
        
        tr{
            border-bottom: 1px solid #b5b8b9;
            
            &:first-child{
                border-color: #888d90;
            }
            
            td{
                padding: 1rem 0;
            }
        }
    }   
        
    &.no-table {
        table {
            width: initial;
            
            th{
                font-weight: initial;   
                padding: initial;         
            }
            
            tr{
                border-bottom: initial;
                
                &:first-child{
                    border-color: initial;
                }
                
                td{
                    padding: initial;
                }
            }
        }   
    }
    
    &.no-list {
        
        ul li, ol li{        
          margin-bottom: initial;        
        }
            
        ul, ol{
          list-style-position: initial;  
        }        
    }
    
    &.no-para {
        
        p:first-child {
            padding-top: initial;
        }
        p{        
            margin-bottom: initial;        
        }     
    }
    
    &.no-table-list{
     
        table {
            width: initial;
            
            th{
                font-weight: initial;   
                padding: initial;         
            }
            
            tr{
                border-bottom: initial;
                
                &:first-child{
                    border-color:initial;
                }
                
                td{
                    padding: initial;
                }
            }
        }   
        
        ul li, ol li{        
                margin-bottom: initial;        
            }
            
        ul, ol{
          list-style-position: initial;  
        }    
        
    }
    
}

.heading--link {
    text-decoration: none !important;
    background-image: linear-gradient($black, $black);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 1px;
    transition: background-size cubic-bezier(0, 0.5, 0, 1) 0.3s;
    color: $black !important;
    display: inline;

    &:hover {
      text-decoration: none;
      background-size: 100% 2px;
      color: $black;
    }
}

button,
input,
optgroup,
select,
textarea {
    font: inherit;
}

.configure__container {
    color: $gray-500;
    margin: 10px 0;
    text-align: center;
}

.maxWidth{
    max-width:1920px;
}

.full-width{
    max-width: 100%;
}

.no-padding{
    padding-left: 0;
    padding-right: 0;
}

.normal_padding{
    padding-left:$grid-gutter-width/4;
    padding-right:$grid-gutter-width/4;
}


img{
    max-width:100%;
}
.hover_underline{
    &:hover{
        text-decoration: underline;
    }
}

.sticky{
    @extend .sticky;
    top: 140px!important;
}

.main-content{
    @include media-breakpoint-down(md){
        overflow-x: hidden;
    }
}

body{
    &.open-modal{
        @include media-breakpoint-down(md){
            overflow-y: hidden;
        }
    }
}