@import './node_modules/bootstrap/scss/functions';
//== Font

$font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-size: 16px;
$font-height: 1.5;

//== Color

// Normal mode
$color-foreground: #202020;
$color-background: #ECECEC;


// Dark mode
$color-foreground-dark: invert($color-foreground);
$color-background-dark: invert($color-background);



// Variables for BS4
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.

// Color system

$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;
$gray-16: #f8f8f8 !default;


$grays: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$grays: map-merge(
    (
            "100": $gray-100,
            "200": $gray-200,
            "300": $gray-300,
            "400": $gray-400,
            "500": $gray-500,
            "600": $gray-600,
            "700": $gray-700,
            "800": $gray-800,
            "900": $gray-900
    ),
    $grays
);

//BS4 default colors
$yellow: #ffc107 !default;

//Juniper colors


// Colors
//
// The colors for branding.
//
// $dark-green      -  #448500;  Dark green
// $jade     -  #e5f5f1; Jade tint
// $teal       -  #0096a4; Teal Base
// $green      -  #f2f7eb; Green Tint
// $blue      -  #e5f2f8; Blue Tint
// $purple      -  #e4e1e8; Purple Tint
// $orange      -  #fcf0e5; Orange Tint
// $black - #000000; Black Tint
// $gray-dark      -  #4d5259; Dark Grey
// $gray-light     -  #888d90; light grey
// $silver     -  #f0f3f5; Silver
// $white  -  #ffffff; White
//
// Styleguide Colors.colors

$dark-green-button: #437c0d!default;
$dark-green: #448500!default;
$jade: #e5f5f1!default;
$teal: #0096a4 !default;
$cyan : $teal!default;
$green: #f2f7eb!default;
$blue: #e5f2f8 !default;
$purple: #e4e1e8 !default;
$orange: #fcf0e5 !default;
$gray-dark: #4d5259!default;
$gray-light: #888d90!default;
$silver: #f0f3f5!default;
$grey-border:#b5b8b9!default;
$gray-label: #595959!default;
$border-color: #B5B8B9!default;
$green2: #749734!default;
$green3: #84b135!default;
$gray-table: #F1F2F1!default;
$red: #C83528!default;
$soft-gray: #fafafa!default;
$gray-black: #212121!default;

$color-link:$dark-green;
$color-link-dark: darken($color-link,  60%);


$colors: () !default;
$colors: map-merge(
    (
        "blue": $blue,
        "purple": $purple,
        "orange": $orange,
        "green": $green,
        "teal": $teal,
        "cyan": $cyan,
        "black": $black,
        "white": $white,
        "silver": $silver,
        "gray-dark": $gray-dark,
        "gray-light": $gray-light,
        "grey-border": $grey-border,
        "dark-green": $dark-green,
        "dark-green-button": $dark-green-button,
        "dark-green3": $green3,
        "jade": $jade
    ),
    $colors
);




$primary: $dark-green !default;
$secondary: $teal !default;
$success: $dark-green !default;
$info: $teal !default;
$warning: $yellow !default;
$danger: $red !default;
$light: $gray-100 !default;
$dark: $gray-800 !default;

$theme-colors: () !default;
$theme-colors: map-merge(
    (
        "primary": $primary,
        "secondary": $secondary,
        "success": $success,
        "info": $info,
        "warning": $warning,
        "danger": $danger,
        "light": $light,
        "dark": $dark,
        "blue": $blue,
        "purple": $purple,
        "orange": $orange,
        "green": $green,
        "teal": $teal,
        "cyan": $cyan,
        "white": $white,
        "black": $black,
        "silver": $silver,
        "gray-dark": $gray-dark,
        "gray-light": $gray-light,
        "dark-green": $dark-green,
        "dark-green-button": $dark-green-button,
        "dark-green3": $green3,
        "jade": $jade,
        "green-table":$green2,
        "gray-table":$gray-table,
        "soft-gray": $soft-gray
    ),
    $theme-colors
);


// Backgrounds colors
//
// Markup:
// <div class="jumbotron bg{{modifier_class}}">Container</div>
//
// -green  - Green background.
// -blue  - Blue background.
// -purple  - Purple background.
// -orange  - Orange background.
// -jade  - Jade background.
// -gray-light  - Light gray background.
// -silver  - Silver background.
//
// Styleguide Colors.backgrounds



// Spacing
//
// Control the default styling of most Bootstrap elements by modifying these
// variables. Mostly focused on spacing.
// You can add more entries to the $spacers map, should you need more variation.

$spacer: 1rem !default;
$spacers: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$spacers: map-merge(
    (
        0: 0,
        1: ($spacer * .25),
        2: ($spacer * .5),
        3: $spacer,
        4: ($spacer * 1.5),
        5: ($spacer * 2),
        6: ($spacer * 2.5),
        7: ($spacer * 3),
        8: ($spacer * 3.5),
        9: ($spacer * 4),
        10: ($spacer * 4.5),
        11: ($spacer * 5),
        12: ($spacer * 5.5),
        13: ($spacer * 6),
        14: ($spacer * 6.5),
        15: ($spacer * 7),
        16: ($spacer * 7.5),
        17: ($spacer * 8),
        18: ($spacer * 8.5),
        19: ($spacer * 9),
        20: ($spacer * 9.5),
        21: ($spacer * 10),
        22: ($spacer * 10.5),
        23: ($spacer * 11),
        24: ($spacer * 11.5),
        25: ($spacer * 12),
        26: ($spacer * 12.5),
        27: ($spacer * 13),
        28: ($spacer * 13.5),
        29: ($spacer * 14),
        30: ($spacer * 14.5),
        40: ($spacer * 19.5),
        50: ($spacer * 24.5)
    ),
    $spacers
);
// This variable affects the `.h-*` and `.w-*` classes.
$sizes: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$sizes: map-merge(
    (
        10: 10%,
        15: 15%,
        20: 20%,
        25: 25%,
        30: 30%,
        50: 50%,
        75: 75%,
        80: 80%,
        90: 90%,
        95: 95%,
        100: 100%,
        auto: auto
    ),
    $sizes
);

// Body
//
// Settings for the `<body>` element.

$body-bg: $white !default;
$body-color: $gray-900 !default;

// Links
//
// Style anchor elements.

$link-color: theme-color("primary") !default;
$link-decoration: none !default;
$link-hover-color: darken($link-color, 15%) !default;
$link-hover-decoration: underline !default;
// Darken percentage for links with `.text-*` class (e.g. `.text-success`)
$emphasized-link-hover-darken-percentage: 15% !default;

// Paragraphs
//
// Style p element.

$paragraph-margin-bottom: 1rem !default;


// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
    xs: 0,
    sm: 320px,
    md: 720px,
    lg: 1024px,
    xl: 1441px,
    xxl: 1921px
) !default;

@include _assert-ascending($grid-breakpoints, "$grid-breakpoints");
@include _assert-starts-at-zero($grid-breakpoints, "$grid-breakpoints");


// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
    sm: 540px,
    md: 640px,
    lg: 960px,
    xl: 1140px
) !default;

@include _assert-ascending($container-max-widths, "$container-max-widths");


// Grid columns
//
// Set the number of columns and specify the width of the gutters.

$grid-columns: 12 !default;
$grid-gutter-width: 64px !default;
$grid-row-columns: 6 !default;


// Components
//
// Define common padding and border radius sizes and more.

$line-height-lg: 1.5 !default;
$line-height-sm: 1.5 !default;

$border-width: 1px !default;
$border-color: $gray-300 !default;

$border-radius: .25rem !default;
$border-radius-lg: .3rem !default;
$border-radius-sm: .2rem !default;

$rounded-pill: 50rem !default;

$box-shadow-sm: 0 .125rem .25rem rgba($black, .075) !default;
$box-shadow: 0 .5rem 1rem rgba($black, .15) !default;
$box-shadow-lg: 0 1rem 3rem rgba($black, .175) !default;

$component-active-color: $white !default;
$component-active-bg: theme-color("primary") !default;

$caret-width: .3em !default;
$caret-vertical-align: $caret-width * .85 !default;
$caret-spacing: $caret-width * .85 !default;

$transition-base: all .2s ease-in-out !default;
$transition-fade: opacity .15s linear !default;
$transition-collapse: height .35s ease !default;

$embed-responsive-aspect-ratios: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$embed-responsive-aspect-ratios: join(
(
    (21 9),
    (16 9),
    (4 3),
    (1 1),
),
$embed-responsive-aspect-ratios
);

// Modals

// Padding applied to the modal body
$modal-inner-padding: 0;
$modal-backdrop-bg: $jade;
$modal-backdrop-opacity: .9;
$modal-dark-backdrop-bg: #000000;
$modal-dark-backdrop-opacity: 1;
$modal-sm: 311px;
$modal-md: 430px;
$modal-lg: 928px;
$modal-xl: 1184px;

// Z-index master list
//
// Warning: Avoid customizing these values. They're used for a bird's eye view
// of components dependent on the z-axis and are designed to all work together.

$zindex-sticky: 1000 !default;
$zindex-dropdown: 1020 !default;
$zindex-fixed: 1030 !default;
$zindex-modal-backdrop: 1040 !default;
$zindex-modal: 1050 !default;
$zindex-popover: 1060 !default;
$zindex-tooltip: 1070 !default;
$zindex-navigation:1010 !default;
$zindex-secondary-nav: 1001 !default;

// Juniper custom grid
$grid-side-margin: 32px;
$custom-grid-column-gap: (
    sm: 16px,
    md: 24px,
    lg: 32px,
    xl: 32px
);
$custom-grid-columns: (
    sm: 4,
    md: 9,
    lg: 11,
    xl: 11
);

// Forms
$input-border-radius: 0;
$input-focus-width: 0;
$input-focus-box-shadow: none;
$input-focus-border-color: inherit;
