<div data-sly-test="${wcmmode.edit && !wcmmode.preview}"
    class="aem-helper configure__container">[ Configure
    ${component.title} Component ]</div>
<div class="cmp-cards container-fluid"
    data-sly-use.relatedproducts="com.juniper.aem.models.RelatedInformationModel" data-mod="relatedproducts">
    <div class="cards__container">
        <section class="product-cards">
            <div class="products-section">
                <div class="heading"
                    data-sly-test="${relatedproducts.heading}">
                    <h1>${relatedproducts.heading}</h1>
                </div>
                <div class="description rte-content"
                    data-sly-test="${relatedproducts.description}">
                    ${relatedproducts.description @context='html'}</div>
                <div class="product-section"
                    data-sly-list.relatedProductDataItem="${relatedproducts.pagePathContainer}">
                    <sly
                        data-sly-list.propertiesModel="${relatedProductDataItem.pagePropertiesModelList}">
                    <div class="product-item"
                        data-sly-test="${!propertiesModel.pageProperties.productDataPath}">
                        <div class="img-wrapper"
                            data-sly-test="${relatedProductDataItem.showImage}">
                            <a
                                href="${relatedProductDataItem.pagePath @ extension = 'html'}"
                                target="_self">
                                <div
                                    class="img-container ${relatedproducts.theme}">
                                    <sly
                                        data-sly-use.imageHelper="${'com.juniper.aem.helpers.ImageHelper' @fileReference=propertiesModel.pageProperties.cardImagePath}" />
                                    <img
                                        src="${imageHelper.imageRenditionPath}"
                                        alt="${propertiesModel.pageProperties.altText || imageHelper.altText}">
                                </div>
                            </a>
                        </div>
                        <div class="hr-wrapper"
                            data-sly-test="${!relatedProductDataItem.showImage}">
                            <hr class="hr" />
                        </div>
                        <div class="tech-details">
                            <div class="prod-info">
                                <sly data-sly-test="${relatedProductDataItem.showImage}">
                                    <div class="eyebrow">
                                        ${propertiesModel.pageProperties.cardEyebrow}
                                    </div>
                                    <a class="title" href="${relatedProductDataItem.pagePath @ extension = 'html'}" target="_Self">
                                        <span class="product-title">${propertiesModel.pageProperties.cardTitle}</span>
                                    </a>
                                </sly>
                                <sly data-sly-test="${!relatedProductDataItem.showImage}">
                                    <a class="title-noimage" href="${relatedProductDataItem.pagePath @ extension = 'html'}" target="_Self">
                                        <span class="product-title">${propertiesModel.pageProperties.cardTitle}</span>
                                    </a>
                                    <div class="eyebrow-noimage">
                                        ${propertiesModel.pageProperties.cardEyebrow}
                                    </div>
                                </sly>
                                
                                <div class="description">${propertiesModel.pageProperties.cardDescription
                                    @context='html'}</div>
                            </div>
                        </div>
                        <div class="viewing-pane">
                            <div class="viewing-container">
                                <a class="view-product"
                                    href="${relatedProductDataItem.pagePath @ extension = 'html'}"
                                    target="_self">
                                    <button
                                        class="juniper-btn juniper-btn--link view-details">${inheritedPageProperties.viewDetailsLabel}</button> <span
                                    class="juniper-icon icon-arrow"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="product-item"
                        data-sly-test="${propertiesModel.pageProperties.productDataPath}"
                        data-sly-list.productItem="${relatedProductDataItem.productModelList}">
                        <div class="img-wrapper"
                            data-sly-test="${relatedProductDataItem.showImage}">
                            <a
                                href="${relatedProductDataItem.pagePath @ extension = 'html'}"
                                target="_self">
                                <div
                                    class="img-container ${relatedproducts.theme}">
                                    <sly
                                        data-sly-use.imageHelper="${'com.juniper.aem.helpers.ImageHelper' @fileReference=productItem.imagePath}" />
                                    <img
                                        data-sly-test="${productItem.imagePath}"
                                        src="${productItem.imagePath}"
                                        alt="${productItem.altText || imageHelper.altText}">
                                </div>
                            </a>
                        </div>
                        <div class="hr-wrapper"
                            data-sly-test="${!relatedProductDataItem.showImage}">
                            <hr class="hr" />
                        </div>
                        <div class="tech-details">
                            <div class="prod-info">
                                <sly data-sly-test="${relatedProductDataItem.showImage}">
                                    <div class="eyebrow">
                                        <sly
                                            data-sly-use.tagHelper="${'com.juniper.aem.helpers.TagHelper' @tagId=productItem.eyebrow}">
                                        ${tagHelper.tagTitle} </sly>
                                    </div>
                                    <a class="title"
                                        href="${relatedProductDataItem.pagePath @ extension = 'html'}"
                                        target="_self">
                                        <span class="product-title">${productItem.productNameShort}</span>
                                    </a> 
                                </sly>
                                <sly data-sly-test="${!relatedProductDataItem.showImage}">
                                     <a class="title-noimage"
                                        href="${relatedProductDataItem.pagePath @ extension = 'html'}"
                                        target="_self">
                                        <span class="product-title">${productItem.productNameShort}</span>
                                    </a>
                                    <div class="eyebrow-noimage">
                                    <sly
                                        data-sly-use.tagHelper="${'com.juniper.aem.helpers.TagHelper' @tagId=productItem.eyebrow}">
                                    ${tagHelper.tagTitle} </sly>
                                    </div>
                                </sly>
                                <div class="description">${productItem.shortDescription
                                    @context='html'}</div>
                            </div>
                        </div>
                        <div class="viewing-pane">
                            <div class="viewing-container">
                                <a class="view-product"
                                    href="${relatedProductDataItem.pagePath @ extension = 'html'}"
                                    target="_self">
                                    <button
                                        class="juniper-btn juniper-btn--link view-details">${inheritedPageProperties.viewDetailsLabel}</button> <span
                                    class="juniper-icon icon-arrow"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    </sly>
                </div>
            </div>
        </section>
    </div>
</div>
