<div class="configure__container" data-sly-test="${wcmmode.edit}">[ Configure ${component.title} Component ]</div>
<sly data-sly-use.ctaModel="com.juniper.aem.models.CtaModel" />

<sly data-sly-set.mt="mt-${properties.topMargin}"></sly>
<sly data-sly-set.mb="mb-${properties.bottomMargin}"></sly>
<div class="cmp-primary-cta primary-cta ${properties.backgroundColor} ${properties.topMargin ? mt : ''} ${properties.bottomMargin ? mb : ''}">
	<div class="primary-cta__container ${properties.alignment} ">
		<h3 class="h3 mb-5" data-sly-test="${properties.introductionText}">${properties.introductionText  @ i18n}</h3>
		<a class="juniper-btn ${ctaModel.ctaStyle == 'Select Cta Color' ? 'juniper-btn--link' : ctaModel.ctaStyle} d-inline-block" href="${ctaModel.ctaLink}" target="${properties.target == 'true' ? '_blank' :'_self'}">
			${properties.ctaText  @ i18n}
          <sly   
              data-sly-test="${ctaModel.ctaStyle=='juniper-btn--link' || ctaModel.ctaStyle=='Select Cta Color'}">
                <span class="juniper-icon icon-arrow icon-size-2 ml-2"></span></sly>   
		</a>
	</div>
</div>
