.cmp-stacked-statements {
    @extend .component-bottom-spacing;
    .statements {
       
        &__eyebrow {
            grid-column: 1/5;
            margin-bottom: 22px;
            @include media-breakpoint-down(md) {
                font-weight: 700;
            }
            @include media-breakpoint-up(md) {
                grid-column: 1/6;
            }
            @include media-breakpoint-up(lg) {
                grid-column: 2/6;
                margin-bottom: 48px;
                line-height: 16px;
                font-weight: 700;
            }
            @include media-breakpoint-up(xl) {
                grid-column: 2/5;
            }
        }
        &__text {
            display: grid;
            grid-auto-rows: min-content;
            grid-column: 1/5;
            grid-column-gap: map-get($custom-grid-column-gap, sm);
            grid-template-columns: repeat(4, 1fr);
            margin-bottom: 72px;
            @include media-breakpoint-up(md) {
                grid-column: 1/5;
                grid-column-gap: map-get($custom-grid-column-gap, md);
                margin-bottom: 0;
            }
            @include media-breakpoint-up(lg) {
                grid-column: 2/6;
                grid-column-gap: map-get($custom-grid-column-gap, lg);
            }
            @include media-breakpoint-up(xl) {
                grid-column: 2/6;
                grid-column-gap: map-get($custom-grid-column-gap, xl);
            }
            &__header {
                grid-column: 1/5;
                @include media-breakpoint-down(md) {
                    color: #212121;
                    margin-bottom: 16px;
                }
                @include media-breakpoint-up(md) {
                    grid-column: 1/5;
                    margin-bottom: 22px;
                }
                @include media-breakpoint-up(lg) {
                    grid-column: 1/5;
                    margin-bottom: 32px;
                }
                &--h2 {
                    font-size: 30px;
                    line-height: 1.1;
                    letter-spacing: -0.9px;
                    @include media-breakpoint-up(md) {
                        font-size: 36px;
                        line-height: 1;
                        letter-spacing: -1.08px;
                    }
                    @include media-breakpoint-up(lg) {
                        font-size: 42px;
                        line-height: 1.05;
                        letter-spacing: -1.26px;
                        margin-bottom: 32px;
                    }
                    @include media-breakpoint-up(xl) {
                        font-size: 50px;
                        line-height: 1;
                        letter-spacing: -1.5px;
                    }
                }
            }
            &__description {
                color: $gray-dark;
                font-size: 16px;
                grid-column: 1/5;
                letter-spacing: -0.32px;
                line-height: 1.44;
                margin-bottom: 32px;
                @include media-breakpoint-up(md) {
                    font-size: 17px;
                    grid-column: 1/5;
                    letter-spacing: -0.34px;
                    line-height: 1.41;
                    margin-bottom: 23px;
                }
                @include media-breakpoint-up(lg) {
                    grid-column: 1/5;
                    font-size: 18px;
                    letter-spacing: -0.36px;
                    margin-bottom: 40px;
                }
                @include media-breakpoint-up(xl) {
                    grid-column: 1/4;
                }
            }
            &__cta {
                grid-column: 1/5;
                @include media-breakpoint-up(md) {
                    grid-column: 1/5;
                }
                @include media-breakpoint-up(lg) {
                    grid-column: 1/5;
                }
                @include media-breakpoint-up(xl) {
                    grid-column: 1/4;
                }
            }
        }
        &__container {
            grid-column: 1/5;
            @include media-breakpoint-up(md) {
                grid-column: 6/10;
            }
            @include media-breakpoint-up(lg) {
                grid-column: 7/11;
            }
            &__statement {
                &__headline {
                    align-items: center;
                    display: flex;
                    margin-bottom: 16px;
                    @include media-breakpoint-down(md) {
                        margin-bottom: 20px;
                    }
                    @include media-breakpoint-up(md) {
                        margin-bottom: 18px;
                    }
                    @include media-breakpoint-up(lg) {
                        margin-bottom: 22px;
                    }
                    &--icon {
                        background-color: $jade;
                        border-radius: 50%;
                        height: 32px;
                        margin-right: 6px;
                        width: 32px;
                       
                        @include color-theme($theme-colors) {
                            background-color: $value;
                        }
                    }
                    &--text {
                        font-size: 22px;
                        line-height: 1.09;
                        letter-spacing: -0.66px;
                        color: $black;
                        @include media-breakpoint-up(md) {
                            font-size: 26px;
                            line-height: 1.15;
                            letter-spacing: -0.78px;
                        }
                        @include media-breakpoint-up(lg) {
                            font-size: 26px;
                            letter-spacing: -0.52px;
                        }
                        @include media-breakpoint-up(xl) {
                            font-size: 36px;
                            line-height: 1;
                            letter-spacing: -0.72px;
                        }
                    }
                }
                &__text {
                    color: $gray-dark;
                    font-size: 17px;
                    line-height: 1.41;
                    letter-spacing: -0.34px;
                    @include media-breakpoint-up(lg) {
                        font-size: 18px;
                        line-height: 1.44;
                        letter-spacing: -0.36px;
                    }
                }
            }
        }
    }
}