<div data-sly-test="${wcmmode.edit && !wcmmode.preview}"
    class="aem-helper configure__container">[ Configure
    ${component.title}]</div>

<sly data-sly-use.formFieldElementAttribute="com.juniper.aem.models.form.FormFieldElementAttributeModel">
<!-- recaptcha -->
<script src="${formFieldElementAttribute.captchaServiceURL}"
    async defer></script>
<!-- recaptcha -->

<script type="text/javascript">


//recaptcha
    function onRecaptchaClick(response) { 
        document.getElementById('g-recaptcha-custom').value = response; 
        $("#invalid-cap").hide();
        $("#error-form-submit").hide();
    } 
    
//recaptcha
    

</script>
<div class="captcha">
<div class="g-recaptcha" data-callback="onRecaptchaClick"
    data-sitekey="6LdSLUcUAAAAAJjjfjpbivqpgKFHOFhVnbx_dMTE"></div>
<br />
<input type="hidden" id="g-recaptcha-custom" name="g-recaptcha-custom"
    value="">
<div id="invalid-cap" class="paragraph paragraph-small">
    ${formFieldElementAttribute.captchaErrorMessage}</div>
</div>
</sly>