<div data-sly-test="${wcmmode.edit && !wcmmode.preview}"
    class="aem-helper configure__container">[ Configure
    ${component.title}]</div>

<div class="privacytext"
    data-sly-use.formFieldElementAttribute="com.juniper.aem.models.form.FormFieldElementAttributeModel">

    <div id="${formFieldElementAttribute.name}"
        class="${formFieldElementAttribute.name} rte-content">
        <p>${formFieldElementAttribute.label @context='html'}</p>
        <sly
            data-sly-test="${formFieldElementAttribute.name == 'opt-in-out'}">
        <div class="checkbox">
            <input name="opt_in_out" class="checkbox-input" id="opt_in"
                type="checkbox"> <label for="opt_in"
                class="checkLabel rte-content">&#10003;</label>${formFieldElementAttribute.optinoutlabel
                @context='html'}
        </div>
        </sly>
    </div>
</div>