<div data-sly-test="${wcmmode.edit && !wcmmode.preview}" class="aem-helper configure__container">
    [ Configure ${component.title} Component ]
</div>
<sly data-sly-use.pdm="com.juniper.aem.models.ProductDetailModel"></sly>
<sly data-sly-use.carousel="com.juniper.aem.models.CarouselModel" />
<sly data-sly-test.uuId="${carousel.uniqueId}" />


<div class="cmp-carousel">
    <div class="carousel__container px-5 mt-15" style="width: 100%;" data-mod="carousel">
        <div
            class="carousel-outer-${uuId} carousel__inner js-carousel ${carousel.imageorvideos ? 'component-images' : ''}">
            <sly data-sly-list.item="${carousel.imageorvideos}">
                <div class="carousel__container__image" data-sly-test="${item.carouselItemType == 'image'}">
                    <div class="carousel__container__image--wrapper js-theme  justify-content-center">
                        <img class="card__image fluidimage" id="${uuId}" src="${item.image.imagePath}"
                            alt="${item.image.altText}">
                    </div>
                </div>
            </sly>
            <sly data-sly-test="${pdm.productModel.assets}" data-sly-list.asset="${pdm.productModel.assets}">
                <div class="carousel__container__image">
                    <div class="carousel__container__image--wrapper js-theme  justify-content-center">
                        <img class="card__image fluidimage" src="${asset.fileReference}"
                            alt="${asset.altText ? asset.altText : 'image alt'}">
                    </div>
                </div>
            </sly>
        </div>
        <div class="carousel__container__custom-nav d-flex justify-content-between align-items-center mt-6">
            <div class="carousel__arrows  d-flex">
                <div class="carousel__arrows--prev slick-prev js-prev-arrow mr-4">
                    <div class="juniper-icon icon-left icon-h-10"></div>
                </div>
                <div class="carousel__arrows--next slick-next js-next-arrow">
                    <div class="juniper-icon icon-right"></div>
                </div>
            </div>
            <div class="carousel__container__custom-nav__dots js-custom-dots">

            </div>
            <div class="carousel__container__custom-nav__expandable js-expandable">
                <div class="juniper-icon icon-enlarge-button"></div>
            </div>
        </div>

        <div class="modal zoom-modal js-modal-zoom" id="zoom-modal" tabindex="-1" aria-hidden="true">
            <a class="close-icon p-5 p-md-4 position-absolute" href="#" title="${'Close' @ i18n}" data-dismiss="modal"
                aria-label="Close">
                <span class="juniper-icon icon-close-modal js-modal-close-button"></span>
            </a>
            <div class="modal-dialog modal-dialog-centered max-vw-90 js-modal-content" role="document">

                <div class="carousel__container" style="width: 100%;" data-mod="carousel">
                    <div
                        class="carousel-outer-${uuId} carousel__inner js-carousel-zoom ${carousel.imageorvideos ? 'component-images' : ''}">
                        <sly data-sly-list.item="${carousel.imageorvideos}">
                            <div class="carousel__container__image" data-sly-test="${item.carouselItemType == 'image'}">
                                <div class="carousel__container__image--wrapper js-theme  justify-content-center">
                                    <img class="card__image fluidimage js-image-zoom" id="${uuId}"
                                        src="${item.image.imagePath}" alt="${item.image.altText}">
                                </div>
                            </div>
                        </sly>
                        <sly data-sly-test="${pdm.productModel.assets}"
                            data-sly-list.asset="${pdm.productModel.assets}">
                            <div class="carousel__container__image">
                                <div class="carousel__container__image--wrapper js-theme  justify-content-center">
                                    <img class="card__image fluidimage js-image-zoom" src="${asset.fileReference}"
                                        alt="${asset.altText ? asset.altText : 'image alt'}">
                                </div>
                            </div>
                        </sly>
                    </div>
                    <div class="carousel__container__custom-nav d-flex justify-content-between align-items-center mt-6">
                        <div class="carousel__arrows  d-flex">
                            <div class="carousel__arrows--prev slick-prev js-prev-arrow-zoom mr-4">
                                <div class="juniper-icon icon-left icon-h-10"></div>
                            </div>
                            <div class="carousel__arrows--next slick-next js-next-arrow-zoom">
                                <div class="juniper-icon icon-right"></div>
                            </div>
                        </div>
                        <div class="carousel__container__custom-nav__dots js-custom-dots-zoom"></div>
                        <div class="carousel__container__custom-nav__expandable invisible">
                            <div class="juniper-icon icon-enlarge-button"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ul data-sly-unwrap>
    <div data-sly-test="${wcmmode.edit}" class="configure__container">
        <p>Container to drop multiple carousel image/video item.</p>
        <sly data-sly-resource="${@ path='imageorvideos', resourceType='foundation/components/parsys'}" />
    </div>
</ul>
