<div class="configure__container" data-sly-test="${wcmmode.edit}">[ Configure ${component.title} Component ]</div>

<div  class="overview-video" data-mod="overview-video">
    <div  class="thumbnail" >
        <sly data-sly-use.imageHelper="${'com.juniper.aem.helpers.ImageHelper' @fileReference=properties.imagePath}"/>
    
        <img  data-sly-test="${properties.fileReference}" class="img" alt="${properties.alttext || imageHelper.altText}" src="${properties.fileReference}">
        
        <span class="juniper-icon icon-play-btn play-icon js-expandable">
        	<span class="path1"></span><span class="path2"></span>
        </span>
    </div>
 
    <div class="video-wrapper">
  
    	<iframe class="youtube-video" 
		    	frameborder="0" allowfullscreen="1"  
		    	allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
		    	title="${properties.videocaption @context='html'}" 
		    	src="${properties.videoURL}">
    	</iframe>
    
    	<span class="juniper-icon icon-close overview-close-icon js-expandable"></span>
    </div>
    
</div>