<div class="tabset__wrapper" *ngIf="!(staggerOnMobile && _mobileView)" [attr.sw-orientation]="orientation">
  <div class="tablist" role="tablist" [attr.sw-variant]="variant">
    <div class="tab" *ngFor="let tab of tabs; index as idx"
        [class.sw-tab-hover]="_shouldHover"
        [class.active]="tab.id === activeId"
        [style.z-index]="tabs.length-idx"
        (keydown)="_onKeyDown($event)">
      <a class="tab__trigger" [id]="tab.id" href role="tab" (click)="!!select(tab.id)"
          [attr.aria-selected]="tab.id === activeId"
          [attr.aria-expanded]="tab.id === activeId"
          attr.aria-controls="{{tab.id}}-panel">
        <span class="tab__content">
          {{tab.title}}<ng-template [ngTemplateOutlet]="tab.titleTpl?.templateRef"></ng-template>
        </span>
      </a>
    </div>
  </div>
  <div class="tab-content">
    <ng-template ngFor let-tab [ngForOf]="tabs">
      <div class="tab-pane {{tab.id === activeId ? 'active' : null}}"
           role="tabpanel"
           id="{{tab.id}}-panel"
           [attr.aria-labelledby]="tab.id"
           [attr.aria-expanded]="tab.id === activeId"
           [attr.aria-hidden]="tab.id !== activeId">
        <ng-template [ngTemplateOutlet]="tab.contentTpl.templateRef"></ng-template>
      </div>
    </ng-template>
  </div>
</div>

<div class="staggered__wrapper" role="tablist" *ngIf="staggerOnMobile && _mobileView">
  <div class="staggered__item" *ngFor="let tab of tabs">
    <div class="staggered__tab" role="tab" [id]="tab.id"
        attr.aria-selected="true"
        attr.aria-expanded="true"
        attr.aria-controls="{{tab.id}}-panel">
      {{tab.title}}<ng-template [ngTemplateOutlet]="tab.titleTpl?.templateRef"></ng-template>
    </div>
    <div class="staggered__panel"
        role="tabpanel"
        id="{{tab.id}}-panel"
        [attr.aria-labelledby]="tab.id"
        attr.aria-expanded="true">
      <ng-template [ngTemplateOutlet]="tab.contentTpl.templateRef"></ng-template>
    </div>
  </div>
</div>
