@import '../../../styles/core/core-bundle';
@import '../../../styles/component/base/base-component';

$sw-tabset-active-color: $c-custom-dark-mute-blue;
$sw-tabset-background-active: lighten($c-light-blue-600, 50);
$sw-tabset-border-static-color: $c-grey-10;
$sw-tabset-border-active-color: $c-light-blue-500;
$sw-tabset-border-static: 2px solid $sw-tabset-border-static-color;
$sw-tabset-border-active: 2px solid $sw-tabset-border-active-color;
$sw-tabset-border-transparent: 2px solid transparent;
$sw-tabset-vertical-tabs-width: 240px; // ~1/6 max page width

[aria-hidden='true'] {
  display: none;
}

/* Universal styles for both block and arrow */
:host {
  max-width: $base--page-max-width;
  margin-bottom: 0;
}

.tab-pane,
.staggered__panel {
  border: $sw-tabset-border-static;
}

.tablist {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
}

.tab {
  display: inline-block;
  flex-grow: 1;
  flex-shrink: 0;
  text-align: center;
}

.staggered__item:not(:last-child) {
  margin-bottom: sw-spacing(1);
}

.tab__trigger {
  cursor: pointer;
  user-select: none;
}

.tab__trigger,
.staggered__tab {
  position: relative;
  display: block;
  overflow: hidden;
  padding: sw-spacing(2) sw-spacing(4);
  transition: color 250ms cubic-bezier(0.35, 0, 0.25, 1);

  &:focus {
    outline-offset: -2px;
  }
}

.staggered__tab {
  border: $sw-tabset-border-static;
  border-color: $sw-tabset-border-active-color;
  background-color: $sw-tabset-background-active;
}

.tab__content {
  z-index: 1;
  color: black;
}

.tab,
.tab__trigger::before,
.tab__trigger::after {
  transition-timing-function: $sw-swift-ease-in-out-timing-function;
  transition-duration: 300ms;
  transition-property: background-color, border-color;
}

[sw-orientation='vertical'] [sw-variant='arrow'],
[sw-orientation] [sw-variant='block'] {
  .tab {
    border: $sw-tabset-border-transparent;
    background-color: white;

    &.active,
    &.sw-tab-hover:hover {
      border-color: $sw-tabset-border-active-color;
    }

    &.active {
      background-color: $sw-tabset-background-active;
    }
  }
}

[sw-orientation='horizontal'] [sw-variant='block'] {
  .tab {
    border-top-color: $sw-tabset-border-static-color;
    border-right-color: $sw-tabset-border-static-color;

    &:first-child:not(.active):not(:hover) {
      border-left-color: $sw-tabset-border-static-color;
    }
  }
}

[sw-orientation='horizontal'] [sw-variant='arrow'] {
  .tab {
    flex-grow: 0;
    text-align: left;

    &:first-child {
      .tab__trigger {
        &::before,
        &::after {
          border-left: $sw-tabset-border-static;
        }
      }
    }

    &:not(:first-child) {
      margin-left: -20px;
    }

    &:last-child {
      .tab__trigger {
        border-top: 0;
      }
    }

    &.active,
    &.sw-tab-hover:hover {
      .tab__trigger {
        &::before,
        &::after {
          border-right-color: $sw-tabset-border-active-color;
          border-left-color: $sw-tabset-border-active-color;
        }
        &::before {
          border-top-color: $sw-tabset-border-active-color;
        }
        &::after {
          border-bottom-color: $sw-tabset-border-active-color;
        }
      }
    }

    &.active .tab__trigger {
      &::before,
      &::after {
        background-color: $sw-tabset-background-active;
      }
    }
  }

  .tab__trigger {
    padding-left: sw-spacing(5);
    padding-right: sw-spacing(5);

    &::before,
    &::after {
      content: '';
      position: absolute;
      z-index: 0;
      // This value skifts the arrow forward to compensate for the arrow skewing
      right: 12px;
      // The width offset here is also related to skewing plus accounting for the border widths
      width: calc(100% - 20px);
      background-color: white;
      border-left: $sw-tabset-border-transparent;
      border-right: $sw-tabset-border-static;
    }

    &::before {
      top: 0;
      height: calc(50% + 1px);
      transform: skewX(0.5rad);
      border-top: $sw-tabset-border-static;
    }

    &::after {
      bottom: 0;
      height: 50%;
      transform: skewX(-0.5rad);
      border-bottom: $sw-tabset-border-transparent;
    }
  }
}

[sw-orientation='horizontal'] .tablist {
  overflow-x: auto;
  overflow-y: hidden;
}

[sw-orientation='vertical'] {
  @include media-width-down(map-get($breakpoint-map, md)) {
    .tablist {
      overflow-x: auto;
      overflow-y: hidden;
    }

    [sw-variant] .tab {
      border-top-color: $sw-tabset-border-static-color;
      border-right-color: $sw-tabset-border-static-color;

      &:first-child:not(.active):not(:hover) {
        border-left-color: $sw-tabset-border-static-color;
      }
    }
  }

  @include media-width-up(map-get($breakpoint-map, md)) {
    display: flex;

    .tab-content {
      flex: 1 1 75%;
    }

    .tab-pane {
      border: 0;
    }

    .tablist {
      flex-direction: column;
      flex: 1 0 25%;
      min-width: $sw-tabset-vertical-tabs-width;
      border-right: $sw-tabset-border-static;
    }

    .tab.active:after {
      content: '';
      position: absolute;
      z-index: 1;
      width: 16px;
      height: 16px;
      right: -1px;
      top: 50%;
      transform: translate(50%, -50%) rotateZ(45deg);
      background-color: $sw-tabset-background-active;
      border-top: $sw-tabset-border-active;
      border-right: $sw-tabset-border-active;
    }

    .tab {
      text-align: left;
      flex-grow: 0;
    }
  }
}
