<div class="tablist" role="tablist">
  <div class="tab" *ngFor="let tab of tabs" (keydown)="_onKeyDown($event)" [class.active]="tab.id === activeId">
    <a [id]="tab.id" href role="tab" (click)="!!select(tab.id)"
       [class.active]="tab.id === activeId"
       [attr.aria-expanded]="tab.id === activeId"
       [attr.aria-controls]="tab.id + '-panel'">
      {{tab.title}}<ng-template [ngTemplateOutlet]="tab.titleTpl?.templateRef"></ng-template>
    </a>
  </div>
</div>
<div class="tab-content">
  <ng-template ngFor let-tab [ngForOf]="tabs">
    <div [hidden]="tab.id !== activeId"
         class="tab-pane {{tab.id === activeId ? 'active' : null}}"
         role="tabpanel"
         [attr.aria-labelledby]="tab.id" id="{{tab.id}}-panel"
         [attr.aria-expanded]="tab.id === activeId"
         [attr.aria-hidden]="tab.id !== activeId">
      <ng-template [ngTemplateOutlet]="tab.contentTpl.templateRef"></ng-template>
    </div>
  </ng-template>
</div>
