<div class="configure__container" data-sly-test="${wcmmode.edit}">[ Configure ${component.title} Component ]</div>
<div class="text-family-wrapper">
<div class="textdescription" role="textdescription"
         data-mod="textdescription">
        <div class="textheader__title">
            <h1 data-sly-test="${properties.heading}">${properties.heading}</h1>
        </div>
        <div class="large" data-sly-test="${properties.description @context='html'}">
            ${properties.description @ context='html'}
        </div>
    </div>
</div>
