<div data-sly-test="${wcmmode.edit && !wcmmode.preview}" class="configure__container">
    [ Configure ${component.title} Component ]
    <p>Drop components in the following container so as to control the PDF generation of it.</p>
</div>
<div class="cmp-datasheet-content-container" data-sly-test="${wcmmode.edit || !properties.hideOnWeb}">
    <sly data-sly-resource="${'container' @ resourceType='wcm/foundation/components/parsys'}"></sly>
</div>
