<div data-sly-test="${wcmmode.edit && !wcmmode.preview}" class="aem-helper configure__container">[ Configure
    ${component.title} Component ]
</div>
<sly data-sly-use.demandOverlay="com.juniper.aem.models.DemandOverlayModel"></sly>

<div class="cmp-demand-overlay demand-overlay w-100 ${demandOverlay.backgroundColor} ${demandOverlay.textColor ? demandOverlay.textColor : 'text-white'}"
     data-mod="demand-overlay">
    <div class="demand-overlay__top">
        <div class="demand-overlay__top__title js-icon-expandable">
            <p class="title">${demandOverlay.title}</p>
            <span class="juniper-icon icon-arrow-up"></span>
        </div>
    </div>
    <div class="demand-overlay__items js-expandable-target collapse">
        <div class="demand-overlay__items__carousel">
            <div class="demand-overlay__items__carousel__items js-slick-carousel"
                 data-sly-list="${demandOverlay.assets}">
                <div class="demand-overlay__items__carousel__items--item">
                    <div class="item__content d-flex flex-column">
                        <div class="item__head d-flex align-items-center">
                            <div class="item__head__icon">
                                <div class="juniper-icon ${item.icon} icon-size-6"></div>
                            </div>
                            <div class="item__head__title">
                                <h5>${item.title}</h5>
                            </div>
                        </div>
                        <div class="item__text">
                            <p>${item.text}</p>
                        </div>
                    </div>
                    <a class="item__link" href="${item.assetPath @ context='uri'}" target="_blank"></a>
                </div>
            </div>
            <div class="demand-overlay__items__carousel__custom-nav">
                <div class="carousel__container__custom-nav__dots js-custom-dots">

                </div>
            </div>
        </div>
    </div>
</div>
