<template data-sly-template.modal="${ @ modalId, containerClassName, videoUrl}">
    <!-- Modal -->
    <div class="modal fade video-overlay" id="${modalId}" tabindex="-1" role="dialog" aria-hidden="true" data-keyboard="false" data-backdrop="static">
        <a class="close-icon p-5 p-md-4 position-absolute" href="#" title="${'Close Video' @ i18n}">
            <span class="juniper-icon icon-close-modal js-modal-close-button"></span>
        </a>
        <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
            <div class="w-100 ${containerClassName}">
                <div class="video-container modal-content">
                    <iframe class="vid" id="${modalId}-VideoIframe" src="${videoUrl}" frameborder="0" allowfullscreen allow="autoplay" controls="0" autohide="0"> </iframe>
                </div>
            </div>
        </div>
    </div>
</template>
