.edit__formcontainer{
	font-weight: bold;  
  }
  
  .cmp-formcontainer {
	  padding-top: 13.375em;
	  padding-bottom: 9.375em;
	  grid-template-rows: auto 1fr;
	  @include media-breakpoint-down(md) {
		padding-top: 2em;
	  }
	.left-top {
	  grid-column: 2/6;
	  grid-row:1/2;
	  
	  @include media-breakpoint-down(md) {
		grid-column: 1/5;
	  }
	  @include media-breakpoint-down(sm) {
		grid-column: 1/5;
		grid-row: 1/2;
	  }
	  .form-description{
		  margin-top:28px;
		  font-size: 18px;
		  line-height: 26px;
		  color: $gray-dark;
		  @include media-breakpoint-down(md) {
		   @include font-size(17);
		   line-height: 24px;
			 }
		 @include media-breakpoint-down(sm) {
		   @include font-size(16);
		   line-height: 23px;
		 }
		 @include media-breakpoint-up(lg) {
		  margin-top:24px;
		}
		@include media-breakpoint-up(xl) {
		  margin-top:28px;
		 }
	  }
	  .form-container-heading{
		  line-height: 1.11;
		  color: #212121 !important;
		  @include media-breakpoint-up(lg) {
			  color: #000000 !important;
		  }
		  @include media-breakpoint-down(md) {
			  margin-top: 40px;
		  }
	  }
	  .form-container-image{
		  margin:20px 0px 70px 0px;
	   }
	  
	}
   .right {
	  grid-column: 7/11;
	  grid-row:1/3;
	  @include media-breakpoint-down(md) {
		grid-column: 6/9;
	  }
	  @include media-breakpoint-down(sm) {
		grid-column: 1/5;
		grid-row: 2/3;
	  }
	 
   }
   
   .left-bottom {
	  grid-column: 2/6;
	  grid-row:2/3;
  
	  @include media-breakpoint-down(md) {
		  grid-column: 1/5;
	  }
	  
	  @include media-breakpoint-down(sm) {
		display:grid;
		grid-template-rows: 1fr 1fr;
		grid-template-columns: 1fr;
		grid-column: 1/5;
		grid-row: 3/4;
		:nth-child(1) {
			grid-row:2/3;
		}
		:nth-child(2) {
			grid-row:1/2;
		}
	  }
	  
	  .form-description{
		  margin-top:24px;
		  font-size: 18px;
		  line-height: 26px;
		  color: $gray-dark;
		  @include media-breakpoint-down(md) {
		   @include font-size(17);
		   line-height: 24px;
			 }
		 @include media-breakpoint-down(sm) {
		   @include font-size(16);
		   line-height: 23px;
		 }
		 @include media-breakpoint-up(lg) {
		  margin-top:24px;
		}
		@include media-breakpoint-up(xl) {
		  margin-top:28px;
		 }
	   }
	  .form-container-heading{
		  line-height: 1.11;
		  color: #212121 !important;
		  @include media-breakpoint-up(lg) {
			  color: #000000 !important;
		  }
		  @include media-breakpoint-down(md) {
			  margin-top: 40px;
		  }
	  }
  
	  .form-container-image{
		 margin:20px 0px 70px 0px;
	  }
	}
	
	 .left {
		  grid-column: 2/6;
		  grid-row:1/3;
		  @include media-breakpoint-down(md) {
			grid-column: 1/5;
		  }
		  @include media-breakpoint-down(sm) {
			grid-column: 1/5;
			grid-row: 2/3;
		  }
	  }
	  .right-top { 
		  grid-column: 7/11;
		  grid-row:1/2;
		  
		  @include media-breakpoint-down(md) {
			grid-column: 6/10;
		  }
		  @include media-breakpoint-down(sm) {
			grid-column: 1/5;
			grid-row: 1/2;
		  }
		  .form-description{
			 margin-top:28px;
			 font-size: 18px;
			 line-height: 26px;
			 color: $gray-dark;
			 @include media-breakpoint-down(md) {
			  @include font-size(17);
			  line-height: 24px;
				}
			@include media-breakpoint-down(sm) {
			  @include font-size(16);
			  line-height: 23px;
			}
			@include media-breakpoint-up(lg) {
			  margin-top:24px;
			}
			@include media-breakpoint-up(xl) {
			  margin-top:28px;
			 }
		  }
		  .form-container-heading{
			  line-height: 1.11;
			  color: #212121 !important;
			  @include media-breakpoint-up(lg) {
				  color: #000000 !important;
			  }
			  @include media-breakpoint-down(md) {
				  margin-top: 40px;
			  }
		  }
		  .form-container-image{
			  margin:20px 0px 70px 0px;
		   }
		  
	  }
	   
	  .right-bottom {
		  grid-column: 7/11;
		  grid-row:2/3;
  
		  @include media-breakpoint-down(md) {
			  grid-column: 6/10;
		  }
		  @include media-breakpoint-down(sm) {
			display:grid;
			grid-template-rows: 1fr 1fr;
			grid-template-columns: 1fr;
			grid-column: 1/5;
			grid-row: 3/4;
			:nth-child(1) {
				grid-row:2/3;
			}
			:nth-child(2) {
				grid-row:1/2;
			}
		  }
  
		  .form-description{
			  margin-top:28px;
			  font-size: 18px;
			  line-height: 26px;
			  color: $gray-dark;
			  @include media-breakpoint-down(md) {
			   @include font-size(17);
			   line-height: 24px;
				 }
			 @include media-breakpoint-down(sm) {
			   @include font-size(16);
			   line-height: 23px;
			 }
			 @include media-breakpoint-up(lg) {
			  margin-top:24px;
			}
			@include media-breakpoint-up(xl) {
			  margin-top:28px;
			 }
		   }
		   
		  .form-container-heading{
			  line-height: 1.11;
			  color: #212121 !important;
			  @include media-breakpoint-up(lg) {
				  color: #000000 !important;
			  }
			  @include media-breakpoint-down(md) {
				  margin-top: 40px;
			  }
		  }
  
		  .form-container-image{
			  margin:20px 0px 70px 0px;
		  }
	  }
	  
	 @include media-breakpoint-down(sm) {
		grid-row-gap:30px;
	  }
   
	@include color-theme($theme-colors) {
	  background-color: $value!important;
	}
	.overview-video {
			  margin:38px 0px 70px 0px;
			  .thumbnail {
				  
				  .img {
					  height: 100%;
					  width: 100%;
					  object-fit: cover;
					  @include media-breakpoint-down(md) {
						  width:279px;
						  height:373px;
					  }
					  @include media-breakpoint-up(lg) {
						  height: 396px;
					  }
					  @include media-breakpoint-up(xl) {
						  height: 530px;
					  }
					  @include media-breakpoint-down(sm) {
						  height:200px;
						  width:277px;
					  }
				  }
				  .play-icon {
					  position: absolute;
					  top: 48%;
					  right: 7%;
					  font-size: 35px;
					  @include media-breakpoint-up(md) {
						  top: 75%;
						  font-size: 40px;
						  right: 20%;
					  }
					  @include media-breakpoint-up(lg) {
						  top: 75%;
						  font-size: 70px;
						  right: 7%;
					  }
					  @include media-breakpoint-up(xl) {
						  top: 75%;
						  font-size: 70px;
						  right: 7%;
					  }
					  @include media-breakpoint-down(sm) {
						  top:75%;
						  right:25%;
					  }
				  }
			  }
			  .video-wrapper {
				  display: none;
				  .youtube-video {
					  width: 100%;
					  height: 100%;
					  padding: 35px 0px;
					  background: #000;
					  @include media-breakpoint-up(md) {
						  padding: 70px 0px;
						  height: 373px;
					  }
					  @include media-breakpoint-up(lg) {
						  padding: 90px 0px;
						  height: 530px;
					  }
					  @include media-breakpoint-up(xl) {
						  padding: 90px 0px;
						  height: 530px;
					  }
				  }
				  .overview-close-icon {
					  cursor: pointer;
					  position: absolute;
					  top: 1%;
					  right: 2%;
					  font-size: 35px;
					  z-index: 10;
					  @include media-breakpoint-up(md) {
						  font-size: 40px;
					  }
					  @include media-breakpoint-up(lg) {
						  font-size: 50px;
					  }
					  @include media-breakpoint-up(xl) {
						  font-size: 50px;
					  }
					  &:focus{
						  color:#fff !important;
					  }
					  &:active{
						  color:#fff !important;
					  }
					  
				  }
				  .icon-close {
					  &:hover{
						  &:before {
							  color:$white;
						  }
					  }
				  }
			  }
	  }
	  
	  .left-top .background-shade{
				  width: 100%;
				  height: 396px;
				  position:absolute;
				  opacity: 0.4;
				  background-color: #ffffff;
				  bottom:100px;
				  right:35%;
				  @include media-breakpoint-up(xl) {
					  height: 540px;
				  }
				  @include media-breakpoint-down(lg) {
					  height: 403px;
				  }
				  @include media-breakpoint-down(md) {
					  width:259px;
					  height:427px;
					  bottom:5px;
				  }
				  @include media-breakpoint-down(sm) {
					  width:310px;
					  height:232px;
					  bottom:35px;
				  }
			  }
	  .right-top .background-shade{
				  width: 100%;
				  height: 396px;
				  position:absolute;
				  opacity: 0.4;
				  background-color: #ffffff;
				  bottom:100px;
				  left:30%;
				  @include media-breakpoint-up(xl) {
					  height: 540px;
				  }
				  @include media-breakpoint-down(lg) {
					  height: 403px;
				  }
				  
				  @include media-breakpoint-down(md) {
					  width:259px;
					  height:427px;
				  }
				  @include media-breakpoint-down(sm) {
					  width:310px;
					  height:232px;
				  }
			  }
			  
	  .bg__circlee{
		  h1{
			 color: #212121 !important;
			 @include media-breakpoint-up(lg) {
				 color:#000000 !important;
			 }
		  }
		   div{
			   font-size:17px;
			   color:#4d5259;
		   }
		   @include color-theme($theme-colors) {
			  @include media-breakpoint-down(md) {
				   background: radial-gradient(circle at 45% 50%, rgba(255, 255, 255,0.4) 0%, rgba(255, 255, 255,0.4) 55%, $value 16%, $value);
				   height:230px;
			  }
			  @include media-breakpoint-up(md) {
				  background: radial-gradient(circle at 50% 50%, rgba(255, 255, 255,0.4) 0%, rgba(255, 255, 255,0.4) 60%, $value 16%, $value);
				  height:436px;
			  }
			  @include media-breakpoint-up(lg) {
				  background: radial-gradient(circle at 50% 50%, rgba(255, 255, 255,0.4) 0%, rgba(255, 255, 255,0.4) 60%, $value 16%, $value);
				  height:580px;
			  }
		  }
		  
	  }
	  .text-family-wrapper{
		margin-bottom: 0;
	  } 
	  .captcha{
		  overflow: hidden;
		@media only screen 
		and (min-device-width: 768px) 
		and (max-device-width: 1024px) 
		and (orientation: landscape) 
		and (-webkit-min-device-pixel-ratio: 1) {
			overflow: inherit;
		}
	  }
  }