.textblocks{
    @extend .grid;
    h2{
        padding: 0 0 1rem;
        @include media-breakpoint-down(md) {
            font-size: 2.25rem;
            line-height: 1.11;
        }
        @include media-breakpoint-up(md) {
            font-size: 2.625rem;
            line-height: 1;
        }
        @include media-breakpoint-up(lg) {
            font-size: 3.625rem;
            line-height: 1.09;
        }
    }
    & > div.header__block{
        @extend .content-grid-9;
        grid-row: 1;
        .description{
            @include media-breakpoint-down(md) {
                font-size: 0.875rem;
            }
            @include media-breakpoint-up(md) {
                font-size: 1.063rem;
            }
            @include media-breakpoint-up(lg) {
                font-size: 1.125rem;
            }
        }
        & .juniper-btn{
            margin-top: 1rem;
            display: inline-block;
        }
    }
    & .button__wrapper{
        grid-row: 3;
        @extend .content-grid-9;
        margin: 3.5rem 0 5rem;
        font-size: 1.063rem;
    }
    .block{
        grid-row: 2;
        display: grid;
        grid-gap: 32px;
        margin-top: 2rem;        
        @extend .content-grid-11;
        @include media-breakpoint-down(md) {
            grid-auto-flow: row;
        }
        @include media-breakpoint-up(md) {
            grid-template-columns: repeat(3,1fr);
            margin-top: 4rem; 
        }
        @include media-breakpoint-up(lg) {
            margin-top: 5rem; 
        }
        @include media-breakpoint-up(xl) {
            margin-top: 7rem; 
        }
        &__item{
            border-top: 5px solid $black;
            h3{
                @include media-breakpoint-down(md) {
                    margin: 0.625rem 0 1.125rem;
                }
                @include media-breakpoint-up(md) {
                    margin: 1.125rem 0 1.625rem;
                }
                @include media-breakpoint-up(lg) {
                    margin: 1rem 0 1.5rem;
                }
            }
            p{
                @include media-breakpoint-down(md) {
                    font-size: 0.875rem;
                }
                @include media-breakpoint-up(md) {
                    font-size: 1rem;
                }
                @include media-breakpoint-up(xl) {
                    font-size: 1.125rem;
                }
            }
            &__ctalink{
                align-self: flex-end;
            }
        }
    }
    &.block-variant-v1{
        .block{
            &__item{
            height: 100%;
            padding-bottom: 1rem;
            @include media-breakpoint-down(md) {
                height: 100%;
                padding-bottom: 0rem;
            }
            a{
                text-decoration: none;
            }
            .juniper-btn{
                color: $black !important;
            }
           h3{
               a{
                   color: $black !important;
               }
           }
            }
        }
        .button__wrapper{
            margin: 0;
            }
        }
    &.block-variant-v2{
        .header__block{
            @include media-breakpoint-up(md) {
                grid-column: 1 / span 6;
            }
            @include media-breakpoint-up(lg) {
                grid-column: 2 / span 5;
            }
            .large{
                padding-bottom: 28px;
                a{
                    @include font-size(20);
                    margin-bottom: 32px;
                    margin-top: 0;
                    .icon-arrow{
                        @include font-size(17.5);
                    }
                }
                    ol, ul{
                        li{
                            color: $gray-dark;

                            @include media-breakpoint-down(md) {
                            @include font-size(14);
                            line-height: 20px;
                            color: $black;
                            }
                            @include media-breakpoint-up(lg) {
                                @include font-size(16);
                                line-height: 23px;
                            }
                    }
                
                }
            }
            
               
        }
        .block{
            margin-top: 44px;
            grid-row-gap: 24px;
            @include media-breakpoint-up(md) {
                grid-auto-flow: unset;
                grid-template-columns: repeat(2,1fr);
                grid-column: 1 / 10;
                @include media-breakpoint-up(lg) {
                    grid-column: 2 / span 9;
                    grid-template-columns: repeat(3,1fr);
                }
                grid-row-gap: 80px;
            }
            &__item{
                border: none;
                grid-template-rows: 0.1fr .2fr 0.1fr;
                height: 100%;
                display: grid;
                @include media-breakpoint-up(md) {
                    grid-template-rows: 0.1fr .75fr 0.2fr;
                    &:nth-child(odd){
                        padding-right: 36px;
                    }
                    &:nth-child(even){
                        padding-left: 36px;
                    }
                }
                @include media-breakpoint-up(lg) {
                    grid-template-rows: 0.1fr 1fr 0.2fr;
                    padding-left: 0!important;
                    padding-right: 0!important;
                }
                
                .header{
                    border-bottom: 1px solid $black;
                    display: grid;
                    grid-template-columns: .6fr .4fr;
                    align-items: center;
                    align-content: flex-start;
                    padding-bottom: 20px;
                    img{
                        justify-self: end;
                        height: 3rem;
                        object-fit: contain;    
                        @include media-breakpoint-up(lg) {
                            padding-right: 18px;
                        }
                    }
                    a{
                        display: contents;
                        justify-self: end;
                        img{
                            height: 3rem;
                            object-fit: contain;
                            @include media-breakpoint-up(lg) {
                                padding-right: 18px;
                            }
                        }
                    }
                }

                div.large{
                    padding-top: 30px;
                }

                .icon-enlarge-button{
                    top: 6px;
                    font-weight: 700;
                }

                &__ctalink{
                    padding-top: 18px;
                }
            }
        }
        .heading--link{
            display: initial !important;
        }
    }
}