<div data-sly-test="${wcmmode.edit && !wcmmode.preview}" class="configure__container">[ Configure ${component.title}
    Component ]</div>

    <div class="cmp-login-redirect" data-mod="login-redirect">

    	<div id="query-param" data-param="${properties.param}">&nbsp;&nbsp;</div>

    </div>