$sw-xs-icon-size: 18px !default;
$sw-sm-icon-size: 24px !default;
$sw-md-icon-size: 32px !default;
$sw-lg-icon-size: 48px !default;
$sw-xl-icon-size: 64px !default;
$sw-default-icon-size: $sw-sm-icon-size !default;
$sw-icon-size-attr: 'sw-icon-size' !default;
