@import '../../../../styles/core/core-bundle';

sw-video {
  width: 65vw;
  min-width: $base--page-min-width * 0.8;
  max-width: 100%;
  // max-height: 50vh;

  @media all and (orientation: landscape) {
    height: 65vmin;

    & > .sw-video__el {
      height: 100%;
    }
  }
}
