<sly data-sly-use.model="com.juniper.aem.models.SolutionOverviewModel"
	data-sly-use.utilityModel="${'com.juniper.aem.models.UtilityModel'}"
	data-sly-set.compId="solutionOverviewSticky${utilityModel.uniqueId}">
</sly>

<div class="configure__container" data-sly-test="${wcmmode.edit}">[
	Configure ${component.title} Component ]</div>

<div class="cmp-solution-overview-sticky" data-video-modal-id="${compId}Modal" data-mod="solution-overview-sticky"
	data-path="${properties.pagePath}">
	<div class="container sos-container">
		<div class="sticky-container">

			<div class="left" data-expandable="true">
				<div class="container sticky">
					<div data-sly-test="${properties.fileReference}" class="row media">

						<a data-sly-test="${properties.videoUrl}" class="close-icon p-5 p-md-4" href="#"
							title="${'Stop Video' @ i18n}">
							<span class="juniper-icon icon-close"></span>
						</a>


						<a data-sly-test="${properties.videoUrl}" class="play-icon p-5 p-md-4" href="#"
							title="${'Play Video' @ i18n}">
							<span
								class="${properties.playIconColor == 'grey' ? 'juniper-icon icon-play-btn-hover grey' : 'juniper-icon icon-play-btn'}">
								<span class="path1"></span>
								<span class="path2"></span>
							</span>
						</a>

						<sly
							data-sly-use.imageHelper="${'com.juniper.aem.helpers.ImageHelper' @fileReference=properties.fileReference}" />
						<img class="img-vid " src="${imageHelper.imageRenditionPath}"
							title="${properties.imageAltText || imageHelper.altText}"
							alt="${properties.imageAltText || imageHelper.altText}">

						<div data-sly-test="${properties.videoUrl}" class="video-container"
							data-video-target="${properties.videoTarget}">

							<iframe class="vid" id="yt" src="${properties.videoUrl}" frameborder="0" allowfullscreen
								allow="autoplay">

							</iframe>
						</div>

					</div>
				</div>

			</div>


			<div class="right">
				<div class="right-text">
					<div class="">
						<div class="">
							<div data-sly-test="${properties.heading}" class=" title">

								<a data-sly-test="${properties.headingLink}" x-cq-linkchecker="valid"
									href="${model.finalHeadingLink}" target="${properties.headingLinkTarget}">
									<h1>${properties.heading}</h1>
								</a>
								<h1 data-sly-test="${!properties.headingLink}">${properties.heading}</h1>

							</div>

							<div data-sly-test="${properties.subheading}" class=" subheading">
								<h4>${properties.subheading}</h4>
							</div>

							<div data-sly-test="${properties.desc}" class=" desc">
								<div class="w-100 pl-0 rte-content">
									<p>${properties.desc @ context='html'}</p>
								</div>
							</div>

							<div data-sly-test="${properties.buttonLabel}" class=" button-link">
								<div class="col pl-0">
									<a href="${model.finalButtonLink}" target="${properties.buttonTarget}">
										<button
											class="juniper-btn ${properties.buttonColor}">${properties.buttonLabel}</button>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- container to drop other components -->
				<div class="container drop-cmp-container pl-md-0 pr-md-0">
					<div data-sly-resource="${'solutionscontainer' @ resourceType='wcm/foundation/components/parsys'}">
					</div>
				</div>
			</div>


		</div>
	</div>

	<!--/* Modal Video */-->
	<sly data-sly-test="${properties.videoTarget == 'overlay'}"
		data-sly-use.modalTemplate="/apps/juniper/components/htl-templates/video-overlay.html"
		data-sly-set.videoModalId="${compId}Modal" data-sly-set.videoSrc="${properties.videoUrl}">
		<sly
			data-sly-call="${modalTemplate.modal @ modalId = videoModalId, containerClassName = 'pfh-player-container', videoUrl = videoSrc}">
		</sly>
	</sly>

</div>
