<div data-sly-test="${wcmmode.edit && !wcmmode.preview}" class="aem-helper configure__container">[ Configure
    ${component.title} Component ]
</div>

<div class="cmp-cs-cards" data-mod="case-study-cards" data-sly-use.cards="com.juniper.aem.models.CaseStudyCardsModel">

    <div class="container csc-container">
        <div class="wrapper filteradd ${cards.theme}">

            <div class="filters-section">

                <div data-sticky-wrap
                     data-sly-resource="${'filter' @ resourceType='/apps/juniper/components/filter'}"></div>

            </div>
            <!-- filters end -->
            <!-- cards start -->
            <div class="cards" data-sly-list.caseStudy="${cards.caseStudyModelList}">

                <div class="card js-cards-item" data-card-link="${caseStudy.caseStudyPagePath @ extension = 'html' }">
                    <div class="card__content">
                        <div class="card__content__top ${!caseStudy.industries ? 'justify-content-end' : ''}">
                            <div class="eyebrow-list" data-sly-list.industry="${caseStudy.industries}"
                                 data-sly-test="${caseStudy.industries}">
                                <div class="eyebrow">
                                    ${industry}
                                </div>
                            </div>
                            <div class="card-image">
                                <div class="img-wrapper">
                                    <sly data-sly-use.imageHelper="${'com.juniper.aem.helpers.ImageHelper' @fileReference=caseStudy.image}"/>
                                    <img src="${caseStudy.image}" alt="${caseStudy.imageAltText}"
                                         title="${caseStudy.imageAltText || imageHelper.altText}">
                                </div>
                            </div>
                        </div>
                        <div class="card__content__bottom">
                            <div class="cardtitle">
                                <h2>${caseStudy.company}</h2>
                                <!--productCategory is saved as a solution in node -->
                                <div class="cardsubtitle"><sly data-sly-list.productCategory="${caseStudy.solutions}">
                                      ${productCategory @context='text'}<sly data-sly-test="${!productCategoryList.last}">,</sly>
                                </sly></div>
                            </div>
                            <div class="invisible">
                                <sly data-sly-list.pageTag="${caseStudy.caseStudyFilterTags}">
                                    <div class="js-tag-filter" data-tag="${pageTag}"></div>
                                </sly>
                            </div>
                        </div>
                    </div>
                </div>

            </div>    <!--  cards  end-->
        </div>

    </div>
</div>
