.share-page {
	.social-share {
		float: right;
		display: flex;
		.label {
			display: none;
			@include media-breakpoint-up(md) {
				display: block;
				position: relative;
				color: $gray-label !important;
				@include font-size(14);
				font-weight: 400;
			}
		}
		ul {
			margin-right: 18px;
			overflow: hidden;
			li {
				display: inline-block;
				transition: transform .2s;
				&:hover {
					transform: scale(1.5);
				}
				a:hover {
					text-decoration: none;
				}
				span.juniper-icon {
					width: 18px;
					height: 18px;
					@include font-size(36);
				}
			}
		}
	}
}