<div data-sly-test="${wcmmode.edit}">[ Configure ${component.title} Component ]</div>

<div data-sly-test="${wcmmode.edit}" style="padding-top: 10px;">
    <sly data-sly-test="${properties.title}">
        <h4><font color="red">Edit ${properties.title} Item.</font></h4>
    </sly>
</div>