<script src="https://siteintercept.allegiancetech.com/dist/jn1si001/MCX_Juniper.js" type="text/javascript"></script>
<script src="https://siteintercept.allegiancetech.com/InterceptScripts/mcxSiteIntercept-1.9.1.js" type="text/javascript"></script>
<div id="mcxInvitationModal">
    <div id="mcxFloating">
        <div id="mcxInfo2">
            <div id="mcxNoButton">
                <button id="mcxNo" onclick="McxSiteInterceptOnExit.declineSurvey();mcxDisplay();">X</button>
            </div>
            <div id="mcxLogos">
                <img src="https://junipernetworks.allegiancetech.com/surveys/images/MRVCXM/juniper_logo.jpg"></div>
            <div class="clearfix">
                <p id="mcxHeading">Help us improve your experience.</p>
                <p id="mcxText1">Let us know what you think. </p>
                <p id="mcxText2">Do you have time for a two-minute survey?</p>
            </div>
            <div id="mcxYesButton" onClick="McxSiteInterceptOnExit.acceptSurvey();mcxDisplay();" class="clearfix">
                <button id="mcxYes">Yes</button>
            </div>
            <div>
                <button id="noLater" onclick="McxSiteInterceptOnExit.declineSurvey();mcxDisplay();">Maybe Later</button>
            </div>
        </div>
    </div>
</div>
<script>
    window.addEventListener('message', function(e) {
        var key = e.message ? 'message' : 'data';
        var data = e[key];
      //  console.log(data); // show message recieved from iframe in browser console
        if (data === 'MaritzCX Survey Close') {
            McxSiteInterceptOnExit.closeSurveyModal(); //close iframe
        }
    }, false);

</script>