<!--/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  ~ Copyright 2016 Adobe
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/-->
<template data-sly-template.footer="${ @ page}">
    <sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"
         data-sly-test.clientlibCategoriesJsBody="${page.clientLibCategoriesJsBody}"
         data-sly-call="${clientlib.js @ categories=clientlibCategoriesJsBody}"></sly>
    <sly data-sly-include="customfooterlibs.html"></sly>
    <sly data-sly-resource="${'cloudservices' @ resourceType='cq/cloudserviceconfigs/components/servicecomponents'}"></sly>
    <sly data-sly-test="${page.hasCloudconfigSupport}" data-sly-resource="${'cloudconfig-footer' @ resourceType='cq/cloudconfig/components/scripttags/footer'}"></sly>
    <!--IXF: For Juniper, the location is above "sw-primary-footer" -->
    <div class="be-ix-link-block">
        <sly data-sly-test="${wcmmode.edit || wcmmode.preview}">
            ${'Related Information will display here' @ i18n}
        </sly>
        <!--Link Equity Target Div-->
    </div>
    <!--IXF: end -->
    <!-- Start CCM Banner -->
    <div id="consent_blackbar"></div>
    <!-- End CCM Banner -->
</template>
