<!--/* Generic modal to be used through a JS call to GlobalOverlay.show(bodyElement, modalId, darkMode, closeCallback). */-->
<div class="cmp-global-overlay modal fade" id="globalOverlayModal" role="dialog">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg">
        <div class="modal-content">
            <button aria-label="${'Close' @ i18n}" class="close position-absolute" data-dismiss="modal" type="button">
                <span class="juniper-icon icon-close"></span>
            </button>
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>