<!--/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  ~ Copyright 2016 Adobe
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/-->
<template data-sly-template.head="${ @ page }"
          data-sly-use.headlibRenderer="headlibs.html"
          data-sly-use.headResources="head.resources.html"
          data-sly-use.seo="${'com.juniper.aem.models.SeoModel'}">
    <meta charset="UTF-8">
    <title>${seo.pageTitle}</title>
    <link rel="canonical" href="${seo.canonicalUrl}" />
    <meta data-sly-test.description="${seo.description}" name="description" content="${description}"/>
    
    <meta data-sly-test.keywords="${seo.keywords}" name="keywords" content="${keywords}"/>
    <meta data-sly-test.templateName="${page.templateName}" name="template" content="${templateName}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex" data-sly-unwrap="${properties['hideFromSearch'] != 'true'}">
    
    <!-- /* eloqua tracking script */ -->
    <script class="trustecm" trackertype="functional" type="text/plain">
     var _elqQ = _elqQ || [];
     _elqQ.push(['elqSetSiteId', '1229']);
     _elqQ.push(['elqTrackPageView', window.location.href]);  

     (function () {
     function async_load() {
     var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true;
     s.src = '//img.en25.com/i/elqCfg.min.js';
     var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x);
     }
     if (window.addEventListener) window.addEventListener('DOMContentLoaded', async_load, false);
     else if (window.attachEvent) window.attachEvent('onload', async_load);
     })();
    </script>
     <!-- /* eloqua tracking script */ -->
                
    <sly data-sly-include="head.socialmedia.html"></sly>
    <sly data-sly-include="customheaderlibs.html"></sly>
    <sly data-sly-call="${headlibRenderer.headlibs @
            designPath                = page.designPath,
            staticDesignPath          = page.staticDesignPath,
            clientLibCategories       = page.clientLibCategories,
            clientLibCategoriesJsHead = page.clientLibCategoriesJsHead,
            hasCloudconfigSupport     = page.hasCloudconfigSupport}"></sly>
    <sly data-sly-test.appResourcesPath=${page.appResourcesPath} data-sly-call="${headResources.favicons @ path = appResourcesPath}"></sly>
    <!--/* SEO Breadcrumb Include */-->
    <sly data-sly-list.navItem="${seo.breadcrumbSchemalist}">
	    <sly data-sly-test="${navItemList.first}">
            <script type="application/ld+json" data-sly-use.seoTemplate="/apps/juniper/components/breadcrumb/seo-breadcrumb.html" data-sly-call="${seoTemplate.breadcrumb @ seoModel=seo}"></script>
	    </sly>
	</sly>
    <sly data-sly-test="${properties.cq:template=='/conf/juniper/settings/wcm/templates/product-detail'}">
        <script type="application/ld+json" data-sly-use.seoTemplate="/apps/juniper/components/productoverview/seo-productoverview.html" data-sly-call="${seoTemplate.productoverview @ seoModel=seo}"></script>
        <script type="application/ld+json" data-sly-include="/apps/juniper/components/productoverview/seo-productoverview.html"></script>
    </sly>

    <script type="application/ld+json" data-sly-use.seoTemplate="/apps/juniper/components/structure/base/seo-json-ld-page.html" data-sly-call="${seoTemplate.page @ seoModel=seo}"></script>
    <script type="application/ld+json" data-sly-use.seoTemplate="/apps/juniper/components/structure/base/seo-json-ld-site.html" data-sly-call="${seoTemplate.site @ seoModel=seo}"></script>
    <script type="application/ld+json" data-sly-include="/apps/juniper/components/structure/base/seo-json-ld-organization.html"></script>
    <script type="application/ld+json" data-sly-use.seoTemplate="/apps/juniper/components/structure/base/seo-json-ld-image.html" data-sly-call="${seoTemplate.image @ seoModel=seo}"></script>
	<sly data-sly-list.video="${seo.videoModelList}">
        <sly data-sly-test="${videoList.first}">
            <script type="application/ld+json" data-sly-use.seoTemplate="/apps/juniper/components/structure/base/seo-json-ld-video.html" data-sly-call="${seoTemplate.video @ seoModel=seo}"></script>
        </sly>
    </sly>
    <sly data-sly-list.faq="${seo.faqModelList}">
        <sly data-sly-test="${faqList.first}">
            <script type="application/ld+json" data-sly-use.seoTemplate="/apps/juniper/components/structure/base/seo-json-ld-faq.html" data-sly-call="${seoTemplate.faq @ seoModel=seo}"></script>
        </sly>
    </sly>
    
    <!--/* Facebook */-->
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Juniper Networks" />
    <meta property="og:locale" content="${seo.ogLocale}_${seo.country}" />
    <meta property="og:url" content="${seo.canonicalUrl}">
    <meta property="og:title" content="${seo.ogTitle}" />
    <meta property="og:description" content="${seo.ogDescription}" />
    <meta property="og:image" content="${seo.ogImage}" />

    <!--/* Twitter */-->
    <meta name="twitter:card" content="${seo.twitterCard}" />    
    <meta name="twitter:site" content="@JuniperNetworks" />
    <meta name="twitter:title" content="${seo.twitterTitle}" />
    <meta name="twitter:description" content="${seo.twitterDescription}" />
    <meta name="twitter:image" content="${seo.twitterImage}" />
    
    
    <sly data-sly-use.imageHelper="${'com.juniper.aem.helpers.ImageHelper' @fileReference=seo.twitterImage}"/>
    <meta name="twitter:image:alt" content="${seo.twitterImageAltText || imageHelper.altText}" />
    
    <sly data-sly-list.key="${seo.languageMap}">
        <link rel="alternate" hreflang="${key}" href="${seo.languageMap[key]}"/>
    </sly>
    
    <!--/* Additional Metadata */-->
    ${seo.additionalMetadata @ context='unsafe'}
    
</template>