<template data-sly-template.image="${@ seoModel}">
    [
    <sly data-sly-list.image="${seoModel.seoImageList}">
        <sly data-sly-use.imageHelper="${'com.juniper.aem.helpers.ImageHelper' @fileReference=image.imagePath}" />
        <sly data-sly-test="${image.imagePath}">
            {
            "@context": "https://schema.org",
            "@type": "ImageObject",
            "url":"${image.imagePath}",
            "caption": "${image.altText || imageHelper.altText}"
            }<sly data-sly-test="${!imageList.last}">,</sly>
        </sly>
    </sly>
    ]
</template>