<template data-sly-template.video="${@ seoModel}">

    <sly data-sly-list.video="${seoModel.videoModelList}">
        {
            "@context": "https://schema.org",
            "@type": "VideoObject",
            "name":"${video.name}",
            "description": "${video.description}",
            "thumbnailUrl": [
                <sly data-sly-list.videoUrl="${video.urls}">
                    "${videoUrl.thumbnailUrl}"
                    <sly data-sly-test="${!videoUrlList.last}">,</sly>
                </sly>
            ],
            "uploadDate": "${video.uploadedDate}",
            "duration": "${video.duration}",
            "embedUrl": "${video.embedUrl}"
        }<sly data-sly-test="${!videoList.last}">,</sly>
    </sly>
</template>