<template data-sly-template.faq="${@ seoModel}">
    {
    "@context": "https://schema.org",
    "@type": "FAQPage",
    "mainEntity": [{
    <sly data-sly-list.faq="${seoModel.faqModelList}">
        "@type": "Question",
        "name":"${faq.title @context='html'}",
        "acceptedAnswer": {
        "@type": "Answer",
        "text": "${faq.description}"
        }
        <sly data-sly-test="${!faqList.last}">},{</sly>
    </sly>


    }]
    }
</template>