.cmp-editorial {
  @include color-theme($theme-colors) {
    background-color: $value;
    margin-top: 41px;
    @include media-breakpoint-up(md) {
      margin-top: 88px;
    }
  }

  .text-header {
    background-color: $black;
    color: $white;
    display: grid;
    grid-gap: 32px;
    padding: 0 32px;
    overflow: auto;

    @include media-breakpoint-down(md) {
      grid-template-columns: repeat(4, 1fr);
    }

    @include media-breakpoint-up(md) {
      grid-template-columns: repeat(9, 1fr);
    }

    @include media-breakpoint-up(lg) {
      grid-template-columns: repeat(11, 1fr);
    }

    &__title {
      @include media-breakpoint-down(md) {
        grid-column: 1/5;
      }

      @include media-breakpoint-up(md) {
        grid-column: 1/9;
      }

      @include media-breakpoint-up(lg) {
        grid-column: 2/9;
      }

      a {
        color: $black;
      }

      h2 {
        color: inherit;
        margin-top: 8px;
        margin-bottom: 8px;
      }
      h3 {
        color: inherit;
        margin-top: 28px;
        margin-bottom: 8px;

        @include media-breakpoint-up(sm) {
          margin-top: 0.5rem;
        }
      }

      h4 {
        margin-top: 28px;
        margin-bottom: 8px;

        @include media-breakpoint-up(sm) {
          margin-top: 0.5rem;
        }
      }

      .h5 {
        @include lato-regular;
        text-transform: none;
        font-weight: 700;
        margin-top: 28px;
        margin-bottom: 8px;

        @include media-breakpoint-up(sm) {
          margin-top: 0.5rem;
        }
      }
      .heading-top-padding{
        @include media-breakpoint-up(sm) {
          margin-top: 2rem;
        }
        @include media-breakpoint-up(md) {
          margin-top: 64px;
        }
        @include media-breakpoint-up(lg) {
          margin-top: 104px;
        }
      }
      .heading-bottom-padding{
        @include media-breakpoint-up(sm) {
          margin-bottom: 1rem;
        }
        @include media-breakpoint-up(md) {
          margin-bottom: 1rem;
        }
        @include media-breakpoint-up(lg) {
          margin-bottom: 30px;
        }
      }
    }
  }

  & > div {
    @extend .content-grid-11;

    @include media-breakpoint-up(md) {
      grid-column: 1/9;
    }

    @include media-breakpoint-up(lg) {
      grid-column: 2/10;
    }

    p {
      padding-top: 0px;

      &:last-child {
      }
     
    }

  }

  & > div.table-wrapper {
    @include media-breakpoint-up(md) {
      grid-column: 1/10;
    }

    @include media-breakpoint-up(lg) {
      grid-column: 2/11;
    }
  }

  .textdesc {
    color: $gray-dark;

    & p {
      margin-bottom: 16px;
     & b{
        @include lato-bold;
        color: $black;
      }
      & i{
        font-style: italic;
      }
    }

    & ul {
      @include media-breakpoint-up(sm) {
        margin-left: 20px;
      }

      @include media-breakpoint-up(md) {
        margin-left: 32px;
      }
    }
  
    ul li::marker {
      color: $gray-light;

      @include media-breakpoint-up(md) {
        font-size: 32px;
      }
    }

    ul li {
      padding-bottom: 8px;
      & b{
        @include lato-bold;
        color: $black;
      }
      & i{
        font-style: italic;
      }
    }
    li:first-child{
      padding-top: 0;
    }
  }
  
  .table-wrapper {
    table tr:first-child {
      border-color: #ccc;
    }
    @include media-breakpoint-down(sm) {
      overflow-x: auto;
      overflow-y: visible;
    }
    ul{
      padding-left: 16px;
    }
    margin-top: 8px;
    margin-bottom: 8px;
  }
  .table-top-padding{
    margin-top: 36px;
    @include media-breakpoint-up(sm) {
      margin-top: 79px;
    }
  }
  .table-bottom-padding{
      margin-bottom:36px;
      @include media-breakpoint-up(sm) {
        margin-bottom: 79px;
      }
  }
  .footernote-section{
    font-size: .75rem;
    font-weight: 500;
    padding-top: 10px;
  }
  sup,sub{
    font-size:75%;
  }
  div[variant="variant1"] {
   
    table {
      position: relative;
      border-collapse: collapse;
      font-weight: 500;
      width: 100% !important;

      & thead {
        border: none;
        padding: 0;
        background-color: $dark-green;
        color: $white;
        height: 100%;

        & td {
          font-size: 1rem;
          font-weight: 500;
          line-height: 1.25;
          letter-spacing: 0.025em;
          border-right: 2px solid $white;
          background-clip: padding-box;
          text-align: left;
          vertical-align: middle;
          padding: 10px;

          &:last-child {
            border-right: none;
          }
        }
      }

      & tbody {
        border-top: 1px solid $dark-green;

        & tr {
          padding: 20px;
          border-bottom: 1px solid #ccc;

          &:last-child {
            border-bottom: 1px solid $dark-green;
          }

          & td {
            font-size: 13.6px;
            padding: 10px;
            background-clip: padding-box;
            position: relative;
            background-size: 100% 100%;
            box-sizing: border-box;
            table-layout: auto;
            width: 100px !important;

            &:nth-child(odd) {
              background-color: darken(white, 5%);
            }

            &:last-child {
              border-right: none;
            }
          }
        }
      }

      & tfoot {
        font-size: 0.75rem;
        font-weight: 500;
        padding-top: 10px;
      }
    }
  }

  div[variant="variant2"] {
    table {
      position: relative;
      border-collapse: collapse;
      font-weight: 500;
      width: 100% !important;

      & thead {
        border: none;
        padding: 0;
        background-color: $dark-green;
        color: $white;
        height: 100%;

        & td {
          font-size: 1rem;
          font-weight: 500;
          line-height: 1.25;
          letter-spacing: 0.025em;
          border-right: 2px solid $white;
          background-clip: padding-box;
          text-align: left;
          vertical-align: middle;
          padding: 10px;

          &:last-child {
            border-right: none;
            width: 65%;
          }
        }
      }

      & tbody {
        border-top: 1px solid $dark-green;

        & tr {
          padding: 20px;
          border-bottom: 1px solid #ccc;

          &:last-child {
            border-bottom: 1px solid $dark-green;
          }

          & td {
            font-size: 13.6px;
            padding: 10px;
            background-clip: padding-box;
            position: relative;
            background-size: 100% 100%;
            box-sizing: border-box;
            table-layout: auto;
            width: 100px !important;

            &:nth-child(odd) {
              background-color: darken(white, 5%);
            }

            &[colspan] {
              background-color: white !important;
              color: $black;
              border-top: 1px solid $dark-green;
              font-weight: 600;
            }

            &.colspan-content {
              color: #595959 !important;
              border-top: 1px dotted gray !important;
              font-weight: 500 !important;
            }

            &.sub-headline {
              background-color: white !important;
              color: $dark-green;
              border-top: 1px solid $dark-green;
              font-weight: 600;
            }

            &:last-child {
              border-right: none;
            }
          }
        }
      }

      & tfoot {
        font-size: 0.75rem;
        font-weight: 500;
      }
    }
  }

  div[variant="variant3"] {
    table {
      position: relative;
      border-collapse: collapse;
      font-weight: 500;
      width: 100% !important;

      & tr td {
        vertical-align: middle;
        &:first-child {
          background-color: gray !important;
          color: white;
          padding: 25px 0;
          font-weight: 600;
          width: 1% !important;
          overflow: hidden;

          & div {
            transform: rotate(-90deg);
            -moz-transform: rotate(-90deg);
            -o-transform: rotate(-90deg);
            -webkit-transform: rotate(-90deg);
            filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083);
            -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083)";
            text-align: center;
          }
        }
      }

      & thead {
        border: none;
        padding: 0;
        background-color: $dark-green;
        color: $white;
        border-bottom: 2px solid $white !important;

        & td {
          font-size: 1rem;
          font-weight: 500;
          line-height: 1.25;
          letter-spacing: 0.025em;
          border-right: 2px solid $white;
          background-clip: padding-box;
          text-align: left;
          vertical-align: middle;
          padding: 10px;
          &:last-child {
            border-right: none;
          }
        }
      }

      & tbody {
        border-top: 1px solid $dark-green;

        & tr {
          padding: 20px;
          border-bottom: 1px solid #ccc;

          &:last-child {
            border-bottom: 1px solid $dark-green;
          }

          & td {
            font-size: 13.6px;
            padding: 10px;
            background-clip: padding-box;
            position: relative;
            background-size: 100% 100%;
            box-sizing: border-box;
            vertical-align: middle;
            &:nth-child(odd) {
              background-color: darken(white, 5%);
            }

            &:last-child {
              border-right: none;
            }
          }
        }
      }

      & tfoot {
        font-size: 0.75rem;
        font-weight: 500;
      }
    }
  }

  div[variant="variant4"] {
    table {
      position: relative;
      border-collapse: collapse;
      font-weight: 500;
      width: 100% !important;

      & thead {
        border: none;
        padding: 0;
        background-color: $dark-green;
        color: $white;
        height: 100%;

        & td {
          font-size: 1rem;
          font-weight: 500;
          line-height: 1.25;
          letter-spacing: 0.025em;
          border-right: 2px solid $white;
          background-clip: padding-box;
          text-align: left;
          vertical-align: middle;
          padding: 10px;

          &:last-child {
            border-right: none;
          }
        }
      }

      & tbody {
        border-top: 1px solid $dark-green;

        & tr {
          padding: 20px;
          border-bottom: 1px solid #ccc;

          &:first-child {
            border-bottom: none;
          }

          &:last-child {
            border-bottom: 1px solid $dark-green;
          }

          & td {
            font-size: 13.6px;
            padding: 10px;
            background-clip: padding-box;
            position: relative;
            background-size: 100% 100%;
            box-sizing: border-box;
            & div {
              writing-mode: vertical-rl;
              transform: scale(-1);
              text-align: center;
              font-weight: 700;
            }

            &:nth-child(even) {
              background-color: darken(white, 5%);
            }

            &[rowspan] {
              border-right: 1px solid #9a9ea5;
              background-color: darken(white, 5%);
              white-space: nowrap;
              padding: 10px;
              vertical-align: middle;

              @include media-breakpoint-down(sm) {
                padding: 20px;
              }

              &:first-child {
                border-top: 1px solid $dark-green;
                width: 4% !important;
              }

              &::before {
                position: absolute;
                content: "";
                top: 1px;
                left: 0;
                border-bottom: 1px solid $dark-green;
                width: 100%;
                height: 100%;
              }

              & ~ td {
                border-top: 1px solid $dark-green;

                &:nth-child(odd) {
                  background-color: darken(white, 5%);
                }

                &:nth-child(even) {
                  background-color: white;
                }
              }
            }
          }
        }
      }

      & tfoot {
        font-size: 0.75rem;
        font-weight: 500;
      }
    }
  }

  div[variant="variant5"] {
    table {
      position: relative;
      border-collapse: collapse;
      font-weight: 500;
      width: 100% !important;

      & thead {
        border: none;
        padding: 0;
        background-color: $dark-green;
        color: $white;
        height: 100%;

        & td {
          font-size: 1rem;
          font-weight: 500;
          line-height: 1.25;
          letter-spacing: 0.025em;
          border-right: 2px solid $white;
          background-clip: padding-box;
          text-align: left;
          vertical-align: middle;
          padding: 10px;

          &:last-child {
            border-right: none;
          }
        }
      }

      & tbody {
        border-top: 1px solid $dark-green;

        & tr {
          padding: 20px;
          border-bottom: 1px solid #ccc;

          &:last-child {
            border-bottom: 1px solid $dark-green;
          }

          & td {
            font-size: 13.6px;
            padding: 10px;
            background-clip: padding-box;
            position: relative;
            background-size: 100% 100%;
            box-sizing: border-box;

            &.bg-grey {
              background-color: darken(white, 5%);
            }

            &[rowspan] {
              border-top: 1px solid $dark-green;

              & ~ td {
                border-top: 1px solid $dark-green;
              }
            }

            &[rowspan]::before {
              position: absolute;
              content: "";
              top: 1px;
              left: -0px;
              border-bottom: 1px solid $dark-green;
              width: 100%;
              height: 100%;
            }

            &:last-child {
              border-right: none;
            }
          }
        }

        & tr:not(:first-child) {
          &[rowspan] ~ td {
            border-top: 1px solid $dark-green;
          }
        }
      }

      & tfoot {
        font-size: 0.75rem;
        font-weight: 500;
      }
    }
  }

  div[variant="variant6"] {
    table {
      position: relative;
      border-collapse: collapse;
      font-weight: 500;
      width: 100% !important;

      & thead {
        border: none;
        padding: 0;
        background-color: $dark-green;
        color: $white;
        height: 100%;

        & td {
          font-size: 1rem;
          font-weight: 500;
          line-height: 1.25;
          letter-spacing: 0.025em;
          border-right: 2px solid $white;
          background-clip: padding-box;
          text-align: left;
          vertical-align: middle;
          padding: 10px;

          &:last-child {
            border-right: none;
          }
        }
      }

      & tbody {
        border-top: 1px solid $dark-green;

        & tr {
          padding: 20px;
          border-bottom: 1px solid #ccc;

          &:last-child {
            border-bottom: 1px solid $dark-green;
          }

          & td {
            font-size: 13.6px;
            padding: 10px;
            background-clip: padding-box;
            position: relative;
            background-size: 100% 100%;
            box-sizing: border-box;

            &:nth-child(odd) {
              background-color: #f2f2f2;
            }

            &:last-child {
              border-right: none;
            }
          }
        }
      }

      & tfoot {
        font-size: 0.75rem;
        font-weight: 500;
      }
    }
  }
}
