.productfamilyoverview {

    .cmp-product-family-overview {
        padding: 0;
        @extend .component-bottom-spacing;

        .pfh-container {
            @extend .grid;

            margin: 0;
            padding: 0;

            @include media-breakpoint-up(md) {
                padding: 0 2em;
            }

            @include media-breakpoint-up(lg) {
                padding: 0 32px;
            }

            // without image variant
            &.variant2 {
                .left {
                    padding-bottom: 0;

                    .title {
                        padding-top: 0;
                    }
                }
            }

            .left {
                margin: 0 2em;
                grid-column: 1 / span 4;

                @include media-breakpoint-up(md) {
                    margin: 0;
                }

                @include media-breakpoint-up(lg) {
                    grid-column: 2 / span 4;
                }

                &.inline {
                    @include media-breakpoint-up(md) {
                        grid-column: 1 / span 3;
                        margin: 0;
                    }

                    @include media-breakpoint-up(lg) {
                        grid-column: 2 / span 3;
                    }
                }

                .title {

                    @include font-size(36);
                    font-weight: normal;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.12;
                    letter-spacing: -1.44px;
                    margin-bottom: 8px;
                    color: $black;
                    padding-top: 30px;

                    @include media-breakpoint-up(md) {
                        margin-bottom: 1.5rem;
                        @include font-size(42);
                        line-height: 1;
                        letter-spacing: -1.68px;
                    }

                    @include media-breakpoint-up(lg) {
                        padding-top: 75px;
                        @include font-size(58);
                        line-height: 1.09;
                        letter-spacing: -2.32px;
                    }

                    @include media-breakpoint-up(xl) {
                        padding-top: 139px;
                        @include font-size(76);
                        line-height: 1;
                        letter-spacing: -3.04px;
                    }

                    h1 {
                        line-height: inherit !important;
                    }

                    a {
                        color: $black;
                    }

                }

                .subheading {
                    margin-bottom: 8px;
                    margin-top: 24px;

                    @include media-breakpoint-up(md) {
                        margin-bottom: 16px;
                        margin-top: 16px;

                    }

                }

                .desc {

                    @include font-size(16);
                    font-weight: normal;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.44;
                    letter-spacing: -0.32px;
                    color: $gray-dark;

                    @include media-breakpoint-up(md) {
                        @include font-size(17);
                        line-height: 24px;
                        letter-spacing: -0.3px;
                    }

                    @include media-breakpoint-up(lg) {
                        @include font-size(20);
                        line-height: 28px;
                        letter-spacing: -0.36px;
                    }

                    @include media-breakpoint-up(xl) {
                        @include font-size(20);
                        line-height: 28px;
                        letter-spacing: -0.36px;
                    }

                }

                .button-link {
                    display: flex;
                    justify-content:space-between;
                    @include font-size(17);
                    font-weight: bold;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.12;
                    letter-spacing: normal;
                    max-width: 100%;
                    margin-top: 32px;


                    @include media-breakpoint-up(md) {
                        @include font-size(17);
                        line-height: 1.12;
                    }

                    @include media-breakpoint-up(lg) {
                        display: grid;
                        row-gap: 1em;
                        grid-template-columns: 1fr 1fr;
                        margin-top: 48px;
                    }


                    button {
                        padding-left: 34px;
                        padding-right: 34px;

                        @include media-breakpoint-up(md) {
                            padding-left: 15px;
                            padding-right: 15px;
                        }

                        @include media-breakpoint-up(lg) {
                            padding-left: 34px;
                            padding-right: 34px;
                        }
                    }

                    &--item{
                        margin-right:18px;

                        &:last-child{
                            margin-right:0;
                        }
                    }

                }
            }

            .right {

                grid-column: 1 / span 4;
                grid-row-start: 1;
                margin-bottom: 3em;
                align-self: start;
                

                @include media-breakpoint-up(md) {
                    grid-row-start: auto;
                    margin-bottom: 0;
                    grid-column: 5 / span 5;
                    align-self: start;
                    padding-left: calc(#{get-column-width(md)} / 2);
                    margin-right: -2em;
                }

                @include media-breakpoint-up(lg) {
                    grid-column: 6 / span 6;
                    padding-left: 0;
                    margin-right: -2em;
                    padding-left: calc(#{get-column-width(lg)} / 2);
                }

                @include media-breakpoint-up(xl) {

                    padding-left: calc(#{get-column-width(xl)} / 2);
                }

                &.inline {

                    @include media-breakpoint-up(md) {
                        grid-column: 5 / span 5;
                    }

                    @include media-breakpoint-up(lg) {
                        grid-column: 5 / span 7;
                    }
                }


                &.align-self-center{
                    align-self: center;
                    .media{
                        .img-vid{
                            object-position: center;
                            height:auto;
                        }
                    }
                }

                &.align-self-top{
                    align-self: top;
                    .media{
                        .img-vid{
                            object-position: top;
                        }
                    }
                }

                .media {
                    height: 100%;
                    // position: relative;

                    .img-vid {
                        width: 100%;
                        max-width: 100%;
                    }

                    .play-icon {
                        z-index: 999;
                        @include font-size(40);
                        position: absolute;
                        bottom: 27px;
                        left: 31px;
                        cursor: pointer;

                        @include media-breakpoint-up(lg) {
                            bottom: 13px;
                            left: 15px;
                        }

                        @include media-breakpoint-up(lg) {
                            @include font-size(70);
                            bottom: 25px;
                            left: 79px;
                        }

                        @include media-breakpoint-up(xl) {
                            @include font-size(94);
                            bottom: 35px;
                            left: 94px;
                        }

                        
                        &.icon-play-btn .path2 {
                            &:before {
                                margin-left: 0 !important;
                            }
                        }

                        &.icon-play-btn-hover .path2 {
                            &:before {
                                margin-left: 0em !important;
                            }
                        }

                        span.path1{
                            position: absolute;
                            bottom: 1rem;
                            left: 1rem;
                        }

                        span.path2{
                            position: absolute;
                            bottom: 1rem;
                            left: 1rem;
                        }
                    }

                    .close-icon {
                        z-index: 999;
                        @include font-size(40);
                        position: absolute;
                        display: none;
                        top: 2rem;
                    }


                    .video-container {

                        display: none;
                        height: 100%;
                        max-height: 600px;
                        width: 100%;


                        @include media-breakpoint-up(sm) {
                            height: 375px;
                        }

                        @include media-breakpoint-up(md) {
                            height: 100%;
                        }

                        overflow: hidden;
                        position: relative;
                        width: 100%;

                        &:after {

                            padding-top: 56.25%;
                            display: block;
                            content: '';

                        }

                        iframe {

                            width: 100%;
                            height: 100%;

                            position: absolute;
                            top: 0;
                            left: 0;
                            z-index: 99;


                        }
                    }

                }
            }
        }

        &.variant-prdt-hw{

        }

        // container to play video fullscreen
        .modal {

            .modal-dialog {

                .pfh-player-container {

                    .video-container {

                        height: 100%;
                        max-height: 100%;
                        width: 100%;
                        max-width: 100%;


                        @include media-breakpoint-up(sm) {
                            height: 375px;
                        }

                        @include media-breakpoint-up(md) {
                            height: 100%;
                        }

                        overflow: hidden;
                        position: relative;
                        width: 100%;

                        &:after {

                            padding-top: 56.25%;
                            display: block;
                            content: '';

                        }

                        iframe {

                            width: 100%;
                            height: 100%;

                            position: absolute;
                            top: 0;
                            left: 0;


                        }
                    }

                    .close-icon {
                        z-index: 999;
                        @include font-size(40);
                        position: absolute;

                        @include media-breakpoint-up(lg) {
                            @include font-size(70);
                        }

                        @include media-breakpoint-up(xl) {
                            @include font-size(94);
                        }
                    }

                    .juniper-icon {

                        background-color: $white;
                        border-radius: 50%;

                        span:nth-child(2) {
                            margin-left: -1.1rem;

                            @include media-breakpoint-up(lg) {
                                margin-left: -2rem;
                            }

                            @include media-breakpoint-up(xl) {
                                margin-left: -2.9rem;
                            }

                        }
                    }

                }

            }
        }

        //modal end
    }

}