.edit__thankyou {
  background-color: $green;
}

.cmp-thankyou {
  @include color-theme($theme-colors) {
    background-color: $value !important;
  }

  padding: 87px 0 75px;
  @include media-breakpoint-up(sm) {
    padding: 50px 0 80px;
  }
  @include media-breakpoint-up(md) {
    padding: 88px 0 88px;
  }
  @include media-breakpoint-up(lg) {
    padding: 166px 0;
  }
  @include media-breakpoint-up(xl) {
    padding: 166px 0;
  }
 

  .thankyou-form-wrapper {
    @extend .grid;
    margin-left: 0;
    overflow: hidden;

    @include media-breakpoint-up(sm) {
      margin-top: 0;
      margin-bottom: 0;
    }
    @include media-breakpoint-up(lg) {
      margin-left: -32px;
    }

    .thankyou-form-image {
      height: 232px;
      top: 80px;
      background-color: rgba(255, 255, 255, 0.6);
      margin-left: -32px;
      grid-column: 1 / span 4;
      top: 0px;
      width: 100%;
      
      @include media-breakpoint-up(md) {
        top: 100px;
        height: 427px;
        grid-column: 2 / span 4;
      }
      @include media-breakpoint-up(xl) {
        height: auto;
        padding-bottom: 128px;
        grid-column: 1 / span 6;

        @include color-theme($theme-colors) {
          background: linear-gradient(to top, transparent 80%, #{$value} 20%),
            linear-gradient(
              to left,
              #{$value} 20%,
              rgba(255, 255, 255, 0.6) 20%,
              rgba(255, 255, 255, 0.6) 80%
            );
        }

        display: grid;
        grid-template-columns: repeat(6, 1fr);
        column-gap: 32px;
        margin: 0;
      }

      img {
        height: 200px;
        object-fit: contain;
        float: right;
        margin-right: -2px;
        left: 64px;

        @include media-breakpoint-up(md) {
          height: auto;
          margin-right: -80px;
          top: -80px;
          left: unset;
        }

        @include media-breakpoint-up(xl) {
          width: 90%;
          grid-column: 2 / span 5;
          clear: both;
          margin-right: unset;
        }
      }
    }

    .thankyou-form-content {
      padding: 60px 0 75px;
      grid-column: 1 / span 4;

      @include media-breakpoint-up(md) {
        padding: 17px 0 32px;
        grid-column: 7 / span 4;
      }

      @include media-breakpoint-up(xl) {
        grid-column: 7 / span 4;
      }

      .eyebrow {
        @include font-size(11);
        line-height: 1.27;
        letter-spacing: 1.98px;
        font-weight: bold;
        @include media-breakpoint-up(md) {
          @include font-size(13);
          line-height: 1.23;
          letter-spacing: 2.34px;
        }
      }

      h1 {
        margin: 24px 0 16px;
        line-height: 1.11;
        letter-spacing: -1.44px;

        @include media-breakpoint-up(md) {
          line-height: 1;
          letter-spacing: -1.68px;
          margin: 24px 0;
        }
        @include media-breakpoint-up(lg) {
          line-height: 63px;
          margin: 16px 0;
        }
        @include media-breakpoint-up(xl) {
          line-height: 76px;
          letter-spacing: -2.32px;
          margin: 28px 0;
        }
      }

      .large {
        margin: 16px 0 20px;
        @include font-size(18);
        line-height: 1.33;
        letter-spacing: -0.36px;
        @include media-breakpoint-up(sm) {
          margin: 16px 0 0px;
        }
        @include media-breakpoint-up(md) {
          @include font-size(20);
          line-height: 25px;
          letter-spacing: -0.4px;
          margin: 24px 0 20px;
        }
        @include media-breakpoint-up(lg) {
          font-size: 22px;
          line-height: 1.18;
        }
        @include media-breakpoint-up(xl) {
          @include font-size(28);
          line-height: 1.21;
          letter-spacing: -0.44px;
          margin: 24px 0 40px;
        }
      
      }

      .cta-button {
        margin: 40px 0 32px;

        button {
          @include font-size(17);
          font-weight: bold;
          line-height: 1.12;
        }
      }
    }

    .thankyou-form-circle {
      @include color-theme($theme-colors) {
        background: radial-gradient(
          circle at 50% 50%,
          rgba(255, 255, 255, 0.4) 0px,
          rgba(255, 255, 255, 0.4) 60%,
          #{$value} 0px,
          #{$value}
        );
      }

      min-height: 288px;
      grid-column: 1 / span 4;

      @include media-breakpoint-up(sm) {
        width: 288px;
        height: 288px;
      }
      @include media-breakpoint-up(lg) {
        width: 436px;
        height: 436px;
        grid-column-start: 2;
      }
      @include media-breakpoint-up(xl) {
        min-height: 580px;
        grid-column: 2 / span 4;
        width: 580px;
        height: 580px
      }

      h2 {
        margin-top: 35%;
        @include media-breakpoint-up(sm) {
          @include font-size(36);
          line-height: 40px;
          margin-left: 32px;
        }
        @include media-breakpoint-up(md) {
          @include font-size(42);
          line-height: 1;
          letter-spacing: -1.68px;
          margin-top: 32%;
          padding-left: 1em;
          margin-left: 0px;
        }
        @include media-breakpoint-up(lg) {
          font-size: 58px;
          line-height: 63px;
          padding: 0px !important;
          margin-left: -20px !important;
        }
        @include media-breakpoint-up(xl) {
          font-size: 76px !important;
          padding-left: 0px !important;
          margin-left: -10px;
          margin-top: 45%;
          padding-top: 18px;
          line-height: 76px !important;
          letter-spacing: -3.04px;
        }
        
       
      }
    }

    .thankyou-form-circle-content {
      grid-column: 1 / span 4;
      @include media-breakpoint-up(md) {
        grid-column: 6 / span 4;
        margin-top: 30%;
      }
      @include media-breakpoint-up(lg) {
        grid-column-start: 7;
      }
      @include media-breakpoint-up(xl) {
        grid-column: 7 / span 4;
        margin-top: 30%;
      }

      .eyebrow {
        padding-top: 45px;
        line-height: 16px;
        font-weight: bold;
        @include media-breakpoint-up(md) {
          padding-top: 0;
        }

        @include media-breakpoint-up(xl) {
          @include font-size(13);
          line-height: 1.23;
          letter-spacing: 2.34px;
        }
      }

      .h3 {
        padding: 18px 0 40px;
        @include media-breakpoint-up(md) {
          @include font-size(26);
          padding: 16px 0 40px;
          line-height: 1.15;
          letter-spacing: -0.78px;
        }

        @include media-breakpoint-up(xl) {
          @include font-size(36);
          padding: 24px 0 40px;
          line-height: 1;
          letter-spacing: -0.72px;
        }
      }
    }
  }
}