@import './icon-vars';

:host{
  position: relative;
  background-repeat: no-repeat;
  display: inline-block;
  fill: currentColor;
  font-size: $sw-default-icon-size;
  line-height: 1;
  height: $sw-default-icon-size;
  width: auto;

  svg {
    position: relative;
    height: 100%;
    width: auto;
    display: block;
    margin: 0 auto;
  }

  &[#{$sw-icon-size-attr}="xs"] {
    font-size: $sw-xs-icon-size;
    line-height: 1;
    height: $sw-xs-icon-size;
  }
  &[#{$sw-icon-size-attr}="md"] {
    font-size: $sw-md-icon-size;
    line-height: 1;
    height: $sw-md-icon-size;
  }
  &[#{$sw-icon-size-attr}="lg"] {
    font-size: $sw-lg-icon-size;
    line-height: 1;
    height: $sw-lg-icon-size;
  }
  &[#{$sw-icon-size-attr}="xl"] {
    font-size: $sw-xl-icon-size;
    line-height: 1;
    height: $sw-xl-icon-size;
  }
}
