
Hi,

Deployment failed.Please try again.

Page Link: <a href="${payload}">${payload}</a>

View the overview in your  <a href="${hostPrefix}aem/inbox">${hostPrefix}aem/inbox</a>

Regards,
${senderName}