
Hi,

Please review the content and provide your feedback.

Page Link: <a href="${payload}">${payload}</a>

View the overview in your  <a href="${hostPrefix}aem/inbox">${hostPrefix}aem/inbox</a>

Regards,
${senderName}