<div data-sly-test="${wcmmode.edit}" class="configure__container">[ Configure ${component.title} Component ]</div>

<sly data-sly-use.model="com.juniper.aem.models.globalnav.NavigationTopPanelItemModel"></sly>

<div class="cmp-top-panel d-none d-lg-block" data-mod="top-panel">
    <div class="top-panel">
        <div class="row top-panel__container">
            <div class="col-12 top-panel__container__nav d-flex justify-content-end">
                <div class="top-panel__container__nav__backdrop js-backdrop"></div>
                <div class="top-panel__container__nav__item">
                    <div class="top-panel__container__nav__item__btn px-3 js-contact-us-btn" role="button" data-link="${model.contactUsCtaLink @ extension='html'}">
                        <span class="juniper-icon icon-contact-us"></span>
                        <span>${model.contactUsCtaLabel}</span>
                    </div>
                </div>
                <div class="top-panel__container__nav__item">
                    <div class="top-panel__container__nav__item--separator">
                    </div>
                </div>
                <!--/* Account / Login START */-->
                <div class="top-panel__container__nav__item has-megamenu">
                    <div class="top-panel__container__nav__item__btn px-3 js-login-btn" role="button" data-link="${model.loginCtaLink @ extension='html'}">
                        <span class="juniper-icon icon-log-in"></span>
                        <span class="login-label--login js-login-label">${model.loginCtaLabel}</span>
                        <span class="login-label--username js-username-label"></span>
                        <span class="login-label--toggle js-username-toggle-icon juniper-icon icon-arrow-down"></span>
                    </div>
                    <div class="top-panel__menu dropdown-menu collapse js-account-menu">
                        <div class="top-panel__menu__wrapper grid">
                            <div class="close js-account-close">
                                <span class="juniper-icon icon-close"></span>
                            </div>
                            <div class="top-panel__menu__wrapper__account">
                                <div class="top-panel__menu__wrapper__account__header">
                                    ${model.accountSubtitle}
                                </div>
                                <div class="top-panel__menu__wrapper__account__links">
                                    <ul class="account-links-list">
                                        <li class="account-links-list__item">
                                            <a class="account-links-list__item__link link-animation" title="${model.partnerCenterCtaLabel}"
                                               href="${model.partnerCenterCtaLink}">${model.partnerCenterCtaLabel}</a>
                                        </li>
                                        <li class="account-links-list__item">
                                            <a class="account-links-list__item__link link-animation" title="${model.accountInformationCtaLabel}"
                                               href="${model.accountInformationCtaLink}">${model.accountInformationCtaLabel}</a>
                                        </li>
                                        <li class="account-links-list__item">
                                            <a class="account-links-list__item__link link-animation" title="${model.newProductCtaLabel}"
                                               href="${model.newProductCtaLink}">${model.newProductCtaLabel}</a>
                                        </li>
                                        <li class="account-links-list__item">
                                            <a class="account-links-list__item__link link-animation" title="${model.createAccountCtaLabel}"
                                               href="${model.createAccountCtaLink}">${model.createAccountCtaLabel}</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="top-panel__menu__wrapper__account__links">
                                    <ul class="account-links-list">
                                        <li class="account-links-list__item">
                                            <a class="account-links-list__item__link link-animation js-logout-link" href="#"
                                               title="${model.logoutLabel}">
                                                <span class="juniper-icon icon-log-out"></span> ${model.logoutLabel}
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/* Account / Login END */-->
                <div class="top-panel__container__nav__item">
                    <div class="top-panel__container__nav__item--separator">
                    </div>
                </div>
                <!--/* Languages START */-->
                <div class="top-panel__container__nav__item has-megamenu">
                    <div class="top-panel__container__nav__item__btn px-3 js-language-selector" role="button">
                        <span class="juniper-icon icon-language-selector"></span>
                        <span class="selected-language">${model.currentLocaleLabel}</span>
                        <span class="juniper-icon icon-arrow-down"></span>
                    </div>
                    <div class="top-panel__menu dropdown-menu collapse js-language-menu">
                        <div class="top-panel__menu__wrapper grid">
                            <div class="close js-language-close">
                                <span class="juniper-icon icon-close"></span>
                            </div>
                            <div data-sly-list.regionItem="${model.countriesList}" class="top-panel__menu__wrapper__languages">
                                <div class="top-panel__menu__wrapper__languages__region">
                                    <div class="top-panel__menu__wrapper__languages__region--label">
                                        ${regionItem.region}
                                    </div>
                                    <sly data-sly-list.lang="${regionItem.listChildren}">
                                        <ul class="languages-list" data-sly-list.languages="${lang.listChildren}">
                                            <li class="languages-list__item">
                                                <a class="languages-list__item__link link-animation"
                                                   href="${languages.pagePath @ extension='html'}"
                                                   title="${languages.language}">${languages.language}</a>
                                            </li>
                                        </ul>
                                    </sly>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/* Languages END */-->
                <div class="top-panel__how-to-buy top-panel__container__nav--item d-flex align-items-center">
                    <a class="juniper-btn ${model.ctaStyle ? model.ctaStyle : 'juniper-btn--green'} juniper-btn--small top-panel__how-to-buy--btn d-block"
                       href="${model.howToBuyCtaLink @ extension = 'html'}">
                        ${model.howToBuyCtaLabel}
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>