<template data-sly-template.version1="${@ data}">
    <div class="" role="header" data-mod="header">
        <h1 class="form-container-heading">${data.headerTextTitle
            @context='html'}</h1>
        <div class="form-description rte-content">${data.intro @context='html'}</div>
    </div>
</template>

<template data-sly-template.version2="${@ data}">
    <div class="form-description rte-content">${data.intro @context='html'}</div>
</template>

<template data-sly-template.version3="${@ data , theme}">
    <div
        class="${data.showBackgroundCircle ? 'bg__circlee' : ''} ${theme}">
        <h1>${data.headerTextTitle @context='html'}</h1>
        <div class="rte-content">${data.intro @context='html'}</div>
    </div>
</template>

<template data-sly-template.version4="${@ data}">
    <div class="form-container-image">
        <sly
            data-sly-use.imageHelper="${'com.juniper.aem.helpers.ImageHelper' @ fileReference = data.fileReference}"></sly>
        <img src="${imageHelper.imageRenditionPath}"
            alt="${data.altText || imageHelper.altText }"
            class="w-100 h-auto"
            target="${data.imageLinkTarget == 'true' ? '_blank' :'_self'}" />
    </div>
</template>

<template data-sly-template.version5="${@ data}">
 <div class="overview-video" data-expandable="true">
    <div  data-mod="form-video">
        <div class="background-shade"></div>
        <div class="thumbnail">
            <sly
                data-sly-use.imageHelper="${'com.juniper.aem.helpers.ImageHelper' @fileReference=data.fileReference}" />
            <img data-sly-test="${data.fileReference}" class="img"
                alt="${data.altText || imageHelper.altText}"
                src="${imageHelper.imageRenditionPathe}"> <span
                class="juniper-icon icon-play-btn play-icon js-expandable">
                <span class="path1"></span><span class="path2"></span>
            </span>
        </div>

        <div class="video-wrapper">

            <iframe class="youtube-video" frameborder="0"
                allowfullscreen="1"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                title="${data.headerTextTitle @context='html'}"
                src="${data.imageLink}"> </iframe>

            <span
                class="juniper-icon icon-close overview-close-icon js-expandable"></span>
        </div>
    </div>
	</div>
</template>