.edit__formfieldcontainer {
	width: 100%;
}

.cmp-formfieldcontainer {
	form {
		display: grid;
		.label {
			color: $black;
			line-height: 1.44;
			margin-bottom: 8px;
			font-family: lato;
			@include media-breakpoint-down(md) {
				font-size: 16px;
				margin-bottom: 10px;
			}
			@include media-breakpoint-up(md) {
				font-size: 17px;
			}
			@include media-breakpoint-up(lg) {
				font-size: 18px;
			}
		}
		.text,
		.email,
		.hidden,
		.select,
		.textarea,
		.label,
		.button {
			padding: 0;
			input[type=text],
			textarea,
			select {
				margin-bottom: 28px;
				background-color: rgba(255, 255, 255, 0.4);
				border: 1px solid $gray-light;
				width: 100%;
				@include media-breakpoint-down(md) {
					font-size: 16px;
					line-height: 23px;
					padding: 15px 24px 14px;
				}
				@include media-breakpoint-up(md) {
					font-size: 17px;
					padding: 14px 24px;
				}
				@include media-breakpoint-up(lg) {
					font-size: 18px;
					line-height: 26px;
					padding: 13px 20px;
				}
			}
			input[type=text] {
				height: 52px;
				font-family: lato!important;
			}
			input:focus, select:focus{
				background-color: $white;
				border: 1px solid $grey-border;
				outline:none;
			}
			button {
				height: 52px;
				background-color: $black;
				font-size: 17px;
				font-weight: bold;
				font-stretch: normal;
				font-style: normal;
				line-height: 1.12;
				letter-spacing: normal;
				color: $white;
				padding: 16.5px 34px;
			}
			textarea {
				height: 220px;
			}
			input.sw-input-invalid {
				color: $red;
				border-color: $red;
			}
		}
		@supports (-webkit-touch-callout: none) {
			#opt_in{
				visibility: hidden;
				width: 0;
				height: 0;
			}
		}

		.email .errorMessage {
			display: none;
		}
		.opt-in-out, .opt-in-out p{
			font-family: lato;
			@include font-size(16);
			line-height: 23px;
			@include media-breakpoint-up(md) {
				@include font-size(17);
				line-height: 24px;
            }
            @include media-breakpoint-up(lg) {
                @include font-size(18);
				line-height: 26px;
            } 
		}

		.opt-in-out .checkbox .checkLabel {
			float: left !important;
			margin-right:16px;
			cursor:pointer;
			@include media-breakpoint-up(md) {
				margin-right:15px;
			}
			@include media-breakpoint-up(lg) {
				margin-right:25px;
			}
		}
		.opt-in-out .checkbox p {
			display: inline !important;
			@include font-size(16);
			line-height: 23px;
			@include media-breakpoint-up(md) {
				@include font-size(17);
				line-height: 24px;
				float:right;
				width: 250px;
            }
            @include media-breakpoint-up(lg) {
                @include font-size(18);
				line-height: 26px;
				float:none;
				width:auto;
            } 
		}
		
		.opt-in-out .checkbox {
			padding-top: 30px;
		}
		
		.errorMessage,
		.label-error {
			font-family: lato;
			font-weight: 500;
			font-style: inherit;
			font-size: 1.125rem;
			line-height: 1.44;
			letter-spacing: .025em;
			color: $red;
			margin-top: -18px;
			margin-bottom: 9px;
		}
		.errorMessage{
			padding-bottom: 10px;
		}
		.submitErrorMessage {
			display: none;
			font-family: lato;
			font-weight: 500;
			font-style: inherit;
			font-size: .857rem;
			line-height: 21px;
			letter-spacing: .025em;
			color: $red;
			margin-top: -18px;
			margin-bottom: 9px;
		}
		.privacytext, .privacytext p {
			font-family: lato;
			@include font-size(16);
			line-height: 23px;
			@include media-breakpoint-up(md) {
				@include font-size(17);
				line-height: 24px;
            }
            @include media-breakpoint-up(lg) {
                @include font-size(18);
				line-height: 26px;
            } 
		}
		
		.C_Country,
		.C_State_Prov {
			position: relative;
			font-family: lato;
			margin-bottom: 25px;
		}
		.C_State_Prov {
			display: none;
		}
		.C_Country select,
		.C_State_Prov select,
        .C_Common select{
			display: none !important;
		}
		.select .errorMessage,
		.select .label-error {
			margin-top: 10px;
		}
		.select-selected {
			background-color: rgba(255, 255, 255, 0.4);
			border: 1px solid $grey-border;
			height: 52px;
		}
		.select-selected:after {
			position: absolute;
			content: "";
			top: 23px;
			right: 10px;
			width: 0;
			height: 0;
			border: solid black;
			border-width: 0 2px 2px 0;
			display: inline-block;
			padding: 3px;
			transform: rotate(45deg);
			-webkit-transform: rotate(45deg);
		}
		.select-arrow-active{
			background-color: #ffffff;
		}
		.select-selected.select-arrow-active:after {
			transform: rotate(-135deg);
  			-webkit-transform: rotate(-135deg);
		}
		.select-items div,
		.select-selected {
			color: $black;
			padding: 12px 16px;
			cursor: pointer;
			user-select: none;
			font-family: lato;
			@include font-size(16);
			line-height: 23px;
			font-weight: normal;
			outline:none;

			@include media-breakpoint-up(md) {
				@include font-size(17);
				line-height: 24px;
			}
			@include media-breakpoint-up(lg) {
				@include font-size(18);	
				line-height: 26px;		
			}
		}
		.select-items {
			position: absolute;
			background-color: $white;
			top: 100%;
			left: 0;
			right: 0;
			z-index: 99;
			height: 260px;
			overflow-y: scroll;
			margin-top: 10px;
		}
		.select-hide {
			display: none;
		}
		.select-items div:hover,
		.same-as-selected {
			background-color: $jade;
			margin:0 0 0 5px;
		}
		.select-items::-webkit-scrollbar {
			width: 15px;
		}
		.select-items::-webkit-scrollbar-track {
			background: $white;
		}
		.select-items::-webkit-scrollbar-thumb {
			background: $jade;
			border: 4px solid rgba(0, 0, 0, 0);
			background-clip: padding-box;
			min-height: 30px;
		}
		.select-items::-webkit-scrollbar-thumb:hover {
			background: $jade;
		}
		
		.radioLabel, .checkboxLabel{
		    margin-bottom: 30px;
			font-family: lato;
			font-size: 22px;
		}
		.radiobutton, .checkbox{
		    margin-bottom: 20px;
		}
		.container {
		  display: block;
		  position: relative;
		  padding-left: 35px;
		  margin-bottom: 12px;
		  cursor: pointer;
		  font-size: 22px;
		  -webkit-user-select: none;
		  -moz-user-select: none;
		  -ms-user-select: none;
		  user-select: none;
		}

		.container input {
		  position: absolute;
		  opacity: 0;
		  cursor: pointer;
		}

		.checkmark {
			position: absolute;
			top: 7px;
			left: 0;
			height: 20px;
			width: 20px;
			background-color: transparent;
			border-radius: 50%;
			border: 1px solid $gray-light;
		}

		.container:hover input ~ .checkmark {
		  background-color: transparent;
		}

		.container input:checked ~ .checkmark {
			background-color: $white;
			border: 1px solid $teal;
		}

		.checkmark:after {
		  content: "";
		  position: absolute;
		  display: none;
		}

		.container input:checked ~ .checkmark:after {
		  display: block;
		}

		.container .checkmark:after {
			top: 2px;
			left: 2px;
			width: 14px;
			height: 14px;
			border-radius: 50%;
			background: $teal;
		}
		.checkbox span{
		    font-family:lato;
			font-size:18px;
		}
		.checkItem{
		    margin-bottom:15px;
		}
		.checkLabel{
		  padding: 2px 2px 2px 10px;
		  border:2px solid $gray-light;
		  color:transparent;
		  float:right;
		  width:36px;
		  height:36px;
		}
		input:checked + .checkLabel {
		 background:$teal;
		 color:$white;
		}
		#invalid-cap{
		 display: none; 
		 font-weight: bold; 
		 color: $red !important;
		}

		.html-code {
			display: none;
		}
		.g-recaptcha{
			padding-bottom: 40px;
			margin-top:50px;
			@include media-breakpoint-up(lg) {
				transform:scale(1.5);
				-webkit-transform:scale(1.5);
				transform-origin:0 0;
				-webkit-transform-origin:0 0;
			}	
		}	
	}
	@include color-theme($theme-colors) {
		background-color: $value!important
	}
}

