<div data-sly-test="${wcmmode.edit}">[ Configure ${component.title} Component ]</div>

<div data-sly-test="${wcmmode.edit}" style="padding-top: 10px;">
	<sly data-sly-test="${properties.navLabel}">
		<h3><font color="red">Edit ${properties.navLabel  @ i18n} Item.</font></h3>
	</sly>
</div>