<div class="back-to-top grid" data-mod="back-to-top"
    data-sly-use.template="core/wcm/components/commons/v1/templates.html">
    <div class="back-to-top-container scrolltop--link js-scroll-top" data-sly-test="${inheritedPageProperties.backtotopLabel}">
        <button type="button" class="juniper-btn juniper-btn--link">${inheritedPageProperties.backtotopLabel}</button>
        <div class="juniper-icon icon-arrow"></div>
    </div>
</div>

<sly data-sly-call="${template.placeholder @ isEmpty=!inheritedPageProperties.backtotopLabel}"></sly>