.cmp-faq-container{
    @extend .component-bottom-spacing;
    @extend .grid;
    padding-bottom: 40px;
    grid-template-rows: repeat(2, auto);

    @include color-theme($theme-colors) {
        background-color: $value
    }

    .faq-heading{
        grid-column: 1/4;
        grid-row: 1;
        margin-top: 56px;
        margin-bottom: 26px;
        color: $black;
        @include media-breakpoint-up(md) {
            grid-column: 1/7;
            margin-top: 5rem;
            margin-bottom: 2.125rem;
        }
        @include media-breakpoint-up(lg) {
            grid-column: 2/9;
            margin-top: 6.4375rem;
            grid-column-gap: 32px;
            margin-bottom: 2.875rem;
        }
    }
    .faq-introduction{
        grid-column: 1/5;
        grid-row: 2;
        @include font-size(16);
        line-height: 1.44;
        letter-spacing: -0.32px;
        text-align: left;
        margin-bottom: 36px;
        @include media-breakpoint-up(md) {
            grid-column: 1/7;
            font-size: 18px;
            line-height: 1.44;
            letter-spacing: -0.36px;
            text-align: left;
        }
        @include media-breakpoint-up(lg) {
            grid-column: 2/9;
        }
    }
    .faq-list-container{
        grid-column: 1/5;
        grid-row: 3;
        margin-right: -32px;
        &:last-child{
            border-bottom: 0.3px solid $gray-light;
        }
        @include media-breakpoint-up(md) {
            grid-column: 1/9;
            grid-row: 3;
        }
        @include media-breakpoint-up(lg) {
            grid-column: 2/11;
            grid-row: 3;
        }
            h3 {
                color: $black;
                padding-top: 2.062rem;
                border-top: 0.3px solid $gray-light;
                margin-bottom: 20px;
                padding-right: 32px;
                @include media-breakpoint-up(md) {
                   margin-bottom: 14px;
                   padding-right: 0px;
                }
                @include media-breakpoint-up(lg) {
                   margin-bottom: 20px;
                   padding-right: 0px;
                }
            }

        .faq-description{
            font-size: 16px;
            line-height: 1.44;
            letter-spacing: -0.32px;
            text-align: left;
            margin-bottom: 36px;
            color: $black;
            padding-right: 32px;
            @include media-breakpoint-up(md) {
                font-size: 18px;
                line-height: 1.44;
                letter-spacing: -0.36px;
                text-align: left;
                padding-right: 0px;
            }
            ul{
                padding:1rem;
            }
        }
    }
}