<div data-sly-test="${wcmmode.edit && !wcmmode.preview}" class="configure__container">
    [ Configure ${component.title} Component ]
</div>
<sly data-sly-use.model="com.juniper.aem.models.GraphsModel">
</sly>
<div class="cmp-graphs" data-mod="graphs">
    <div class="graphs grid">
        <div class="graphs__text pl-md-0">
            <h2 class="graphs__text--header">${model.header}</h2>
            <div class="graphs__text--description rte-content">
                ${model.description @ context = 'html'}
            </div>
        </div>
        <div class="graphs__container pr-md-0" data-sly-list.graph="${model.graphs}">
            <div class="graphs__container--wrapper js-graph" data-left-side-amount="${graph.leftSideAmount}" data-right-side-amount="${graph.rightSideAmount}">
                <h3 class="graphs__container__title size--${graph.size}">${graph.title}</h3>
                <p class="graphs__container__descriptive-text">${graph.descriptiveText}</p>
                <div class="graphs__container__graph">
                    <div class="graphs__container__graph__bars">
                        <div class="graphs__container__graph__bars--background size--${graph.size} bg-silver w-100"></div>
                        <div class="graphs__container__graph__bars--foreground size--${graph.size} bg-teal js-left-bar"></div>
                    </div>
                    <div class="graphs__container__graph__data">
                        <!--/* Left side */-->
                        <div class="d-inline">
                            <span class="graphs__container__graph__data--label">
                                ${graph.leftSideLabel}
                            </span>
                            <span class="graphs__container__graph__data--amount">
                                <span data-sly-test="${graph.unit && graph.unitPosition == 'left'}">${graph.unit}</span><!--/*
                                Comment as a workaround for stripping out trailing spaces.
                            */-->${'#,###' @ format=graph.leftSideAmount}<!--/*
                                Comment as a workaround for stripping out trailing spaces.
                            */--><span data-sly-test="${graph.unit && graph.unitPosition == 'right'}">${graph.unit}</span>
                            </span>
                        </div>
                        <!--/* ./Left side */-->
                        <!--/* Right side */-->
                        <div class="float-right d-inline">
                            <span class="graphs__container__graph__data--label">
                                ${graph.rightSideLabel}
                            </span>
                            <span class="graphs__container__graph__data--amount">
                                <span data-sly-test="${graph.unit && graph.unitPosition == 'left'}">${graph.unit}</span><!--/*
                                Comment as a workaround for stripping out trailing spaces.
                            */-->${'#,###' @ format=graph.rightSideAmount}<!--/*
                                Comment as a workaround for stripping out trailing spaces.
                            */--><span data-sly-test="${graph.unit && graph.unitPosition == 'right'}">${graph.unit}</span>
                            </span>
                        </div>
                        <!--/* ./Right side */-->
                    </div>
                </div>
                <div data-sly-test="${graph.size == 'big'}" class="graphs__container__line">
                    <hr/>
                </div>
            </div>
        </div>
    </div>
</div>
