@import '../../core/core-bundle';
// Workaround: Reference files directly due to sass-loader bug
// https://github.com/webpack-contrib/sass-loader/issues/566
@import '@angular/cdk/_overlay.scss';
@import '@angular/cdk/_a11y.scss';

$cdk-overlay-dark-backdrop-background: transparentize($c-grey-darkest, 0.4);

$cdk-z-index-overlay-container: $base--zindex-modal;
$cdk-z-index-overlay: $base--zindex-modal;
$cdk-z-index-overlay-backdrop: $base--zindex-modal;

// Note: Default 400ms
$backdrop-animation-duration: 400ms;
// Note: Default cubic-bezier(0.25, 0.8, 0.25, 1)
$backdrop-animation-timing-function: $sw-ease-in-out-curve-function;

@include cdk-overlay();

.cdk-overlay-pane {
  @include cdk-a11y();

  // Use a transform to create a new stacking context.
  transform: translate3d(0, 0, 0);
}
