$gray-dark:                 #373a3c;
$gray:                      #55595c;
$gray-light:                #818a91;
$gray-lighter:              #eceeef;
$gray-lightest:             #f7f7f9;

$brand-primary:             #1976D2;
$brand-success:             #43A047;
$brand-info:                #039BE5;
$brand-warning:             #FF8F00;
$brand-danger:              #e53935;
$brand-inverse:             $gray-dark;

$link-color:            $brand-primary;
$link-decoration:       none;
$link-hover-color:      darken($link-color, 15%);
$link-hover-decoration: none;

$body-color: $gray-dark;
$spacer:   1em;
$border-width: 1px;

$font-family-base: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$font-family-monospace:  'Source Code Pro', Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$font-size-root: 16px;
$font-size-base: 1rem;

$line-height-base: 1.8;

$font-size-h1: 3.157rem;
$font-size-h2: 2.369rem;
$font-size-h3: 1.777rem;
$font-size-h4: 1.333rem;
$font-size-h5: 1rem;
$font-size-h6: 0.75rem;

$headings-margin-bottom: ($spacer / 2);
$headings-font-family:   inherit;
$headings-font-weight:   600;
$headings-line-height:   1.1;
$headings-color:         inherit;


$code-font-size:              86%;
$code-padding-x:              .4rem;
$code-padding-y:              .2rem;
$code-color:                  #263238;
$code-bg:                     rgba(0,0,0,.03);

$pre-bg:                      rgba(0,0,0,.03);
$pre-color:                   $gray-dark;
$pre-border-color:            #ccc;


$table-cell-padding:            .5rem .75rem;
$table-sm-cell-padding:         .3rem;

$table-bg:                      transparent;
$table-bg-accent:               rgba(0,0,0,.05);
$table-bg-hover:                rgba(0,0,0,.02);
$table-bg-active:               $table-bg-hover;

$table-border-width:            $border-width;
$table-border-color:            $gray-lighter;
