<div class="configure__container" data-sly-test="${wcmmode.edit}">[ Configure ${component.title} Component ]</div>
<div class="container">
<div class="row">
    <div class="col-md-4">
     <img src="${properties.juniperLogo}" />
    </div>
    <div class="col-md-4">
    </div>
    <div class="col-md-4" style="background-image:url(${properties.datasheetImagePath @ context='uri'});background-repeat: no-repeat;">
    </div>
</div>
<hr>
<div class="row" style="height:200px;">
</div>
<hr>
<div class="row">
    <div class="col-md-4">
     ${properties.address @context='html'}
     ${properties.phonenumber @context='html'}
    </div>
    <div class="col-md-4">
    ${properties.apacemeaAddress @context='html'}
     ${properties.apacemeaPhonenumber @context='html'}
    </div>
    <div class="col-md-4">
    <img src="${properties.juniperLogo}" />
    </div>
</div>
<br></br>
<div class="row" style="height:200px;">
<div class="col-md-12 verysmall">
${properties.copyrightText @context='html'}
</div>
</div>
</div>
