<div data-sly-test="${wcmmode.edit && !wcmmode.preview}" class="aem-helper configure__container">[ Configure
    ${component.title} Component ]</div>

<div class="cmp-cards" data-sly-use.cardInformation="com.juniper.aem.models.RelatedInformationModel"
    data-mod="cardslevel1">
    <div class="cards__container">
        <div class="cards-row">
            <section class="product-cards-section ${cardInformation.theme}">
                <div class="product-cards" data-sly-list.cardItem="${cardInformation.pagePathContainer}">
                    <sly data-sly-list.propertiesModel="${cardItem.pagePropertiesModelList}">
                        <div class="product-card" data-sly-test="${!propertiesModel.pageProperties.productDataPath}">
                            <div class="card-info">
                                <div class="card-short-info">
                                    <div class="eyebrow">
                                        ${propertiesModel.pageProperties.cardEyebrow
                                        @context='html'}</div>
                                    <a class="prod-title" href="${cardItem.pagePath @ extension = 'html'}"
                                        target="_self">
                                        <span class="title">${propertiesModel.pageProperties.cardTitle
                                            @context='html'}</span>
                                    </a>
                                </div>
                                <div class="card-image ${cardItem.imageType == 'landscape' ? 'non-prod':''}"
                                    data-sly-test="${cardItem.showImage}">
                                    <sly
                                        data-sly-use.imageHelper="${'com.juniper.aem.helpers.ImageHelper' @fileReference=propertiesModel.pageProperties.cardImagePath}" />
                                    <img src="${imageHelper.imageRenditionPath}"
                                        alt="${propertiesModel.pageProperties.altText || imageHelper.altText}">
                                </div>
                                <div class="description rte-content">
                                    ${propertiesModel.pageProperties.cardDescription
                                    @context='html'}</div>
                                <div class="viewing-pane">
                                    <a class="view-datasheet" data-sly-test="${cardItem.primaryDataSheet}"
                                        href="${cardItem.primaryDataSheet}" target="_self"> ${'Datasheets' @
                                        i18n} </a>
                                </div>
                            </div>
                        </div>

                        <div class="product-card" data-sly-test="${propertiesModel.pageProperties.productDataPath}"
                            data-sly-list.productItem="${cardItem.productModelList}">
                            <div class="card-info">
                                <div class="card-short-info">
                                    <div class="eyebrow">
                                        <sly
                                            data-sly-use.tagHelper="${'com.juniper.aem.helpers.TagHelper' @tagId=productItem.eyebrow}">
                                            ${tagHelper.tagTitle} </sly>
                                    </div>
                                    <a class="prod-title" href="${cardItem.pagePath @ extension='html'}" target="_self">
                                        <span class="title">${productItem.title}</span>
                                    </a>
                                </div>
                                <div class="card-image ${cardItem.imageType == 'landscape' ? 'non-prod':''}"
                                    data-sly-test="${cardItem.showImage}" data-sly-list.assets="${productItem.assets}">
                                    <sly data-sly-test="${assetsList.first}"
                                        data-sly-use.imageHelper="${'com.juniper.aem.helpers.ImageHelper' @fileReference=assets.fileReference}">
                                        <img src="${assets.fileReference}"
                                            alt="${productItem.altText || imageHelper.altText}">
                                    </sly>
                                </div>
                                <div class="description rte-content">
                                    ${productItem.shortDescription
                                    @context='html'}</div>
                                <sly data-sly-test="${productItem.primaryDataSheet}">
                                    <sly
                                        data-sly-test.datasheetPagePath="${productItem.primaryDataSheet @ extension='html'}">
                                        <sly
                                            data-sly-test.elq="${'http:' in productItem.primaryDataSheet || 'https:' in productItem.primaryDataSheet ? ['_elq.trackEvent(\u0027', productItem.primaryDataSheet, '\u0027)'] : ['_elq.trackEvent(\u0027', request.getScheme,'://',request.getServerName, productItem.primaryDataSheet, '\u0027)'] @ join = '' }" />
                                        <div class="viewing-pane">
                                            <a class="view-datasheet"
                                                href="${'.pdf' in productItem.primaryDataSheet ? productItem.primaryDataSheet : datasheetPagePath}"
                                                onclick="${'.pdf' in productItem.primaryDataSheet ? elq : '' @ context='attribute'}"
                                                target="${'.pdf' in productItem.primaryDataSheet ? '_blank' : '_self'}">
                                                ${'Datasheets' @
                                                i18n} </a>
                                        </div>
                                    </sly>
                                </sly>
                            </div>
                        </div>
                    </sly>
                </div>
            </section>
        </div>
    </div>

</div>