<sly data-sly-use.socialshare="com.juniper.aem.models.SocialShareModel" />
    <div class="social-share align-items-center"
        data-sly-use.template="core/wcm/components/commons/v1/templates.html">
        <span data-sly-test="${socialshare.label}" class="label">${socialshare.label}</span>
            <ul data-sly-test="${socialshare.socialMediaLinksModelList}" data-sly-list.link="${socialshare.socialMediaLinksModelList}">
                <li data-sly-test="${link.linkUrl}">
                    <a class="social" data-sly-test="${link.linkUrl != 'mailto:?subject='}" x-cq-linkchecker="valid"
                        href="${link.linkUrl}${request.scheme}://${request.serverName}${socialshare.sharePageURL}"    title="${link.altText}" target="_blank">
                        <span   class="juniper-icon icon-${link.icon}"></span>
                    </a>
                    <a data-sly-test="${link.linkUrl == 'mailto:?subject='}"    x-cq-linkchecker="valid" 
                        href="${link.linkUrl}${currentPage.title}&body=${request.scheme}://${request.serverName}${socialshare.sharePageURL}"  
                        title="${link.altText}" target="_blank"> 
                        <span class="juniper-icon icon-${link.icon}"></span>
                    </a>
                </li>
            </ul>
    </div>
</sly>