.cmp-emergency-alert-banner {

    .emergency-alert-banner {
        background-color: $black;
        color: $silver;
        padding: 15px 32px 18px 32px;
        grid-template-rows: repeat(1, 1fr);

        @include color-theme($theme-colors) {
            background-color: $value;
        }

        &__text {
            line-height:17px;

            &.rte-content{ 
                p{
                    line-height:inherit;
                    &:first-child{
                        padding-top: 0px;
                    }
                    &:last-child{
                        margin-bottom: 0px;
                    }
                }
                a{
                    color:inherit !important;
                    &:hover{
                        color: inherit;
                    }
                }
            }
            @include font-size(12);
            grid-column: 1/ span 4;
            grid-row: 1;

            @include media-breakpoint-up(md) {
                grid-column: 1/ span 8;
            }

            @include media-breakpoint-up(lg) {
                @include font-size(14);
                grid-column: 1/ span 10;
            }

            a {
                color: $white;
                text-decoration: underline;
            }
        }

        .close {
            text-shadow: none;
            opacity: 1;
            margin-right: -15px;
            cursor: pointer;
            text-align: end;
            grid-column: 4/ span 1;
            top: 0px;
            left: 15%;
            grid-row: 1;
            position: absolute;
            right: 0;
            top: 0;

            @include media-breakpoint-up(md) {
                margin-right: 0;
                grid-column: 9/ span 1;
                left: 20%;
                top: unset;
            }

            @include media-breakpoint-up(lg) {
                grid-column: 11/ span 1;
                left: 10%;
            }

            .icon-close {
                
                @include font-size(21);

                @include media-breakpoint-up(md) {
                    @include font-size(16);
                }

                @include media-breakpoint-up(lg) {
                    @include font-size(18);
                    line-height:17px;
                }

                &:before {
                    color: $white;
                }
            }
        }
    }
}