$mobile-text-height: 352px;
$mobile-image-height: 267px;

.cmp-hero-carousel {
  min-height: 100px;
  @extend .component-bottom-spacing;

  .hero-carousel {
    &__controls {
      @extend .grid;
      padding-left: 0;
      bottom: -1px;
      z-index: 1;

      &__container {
        @extend .grid;
        display: none;
        grid-template-columns: repeat(10, 1fr);
        grid-column: 1/-1;
        padding-right: 0;

        @include color-theme($theme-colors) {
          background-color: $value;
        }

        @include media-breakpoint-up(md) {
          display: grid;
          padding-left: 2em;
        }

        @include media-breakpoint-up(lg) {
          padding-left: 2em;
          grid-column: 1 / span 10;
        }

        .grid {
          grid-template-columns: repeat(9, 1fr);
          grid-column: 1/ -1;
          padding-left: 0;
          padding-right: 0;

          @include media-breakpoint-up(lg) {
            grid-column: 2 / -1;
          }

          .progress_bar {
            grid-column: 1/-1;
          }
        }
      }

      &__control {
        grid-column-start: auto;
        grid-column-end: span 3;
        cursor: pointer;

        &--index {
          @include media-breakpoint-up(md) {
            font-size: 20px;
            line-height: 1.25;
            letter-spacing: -0.4px;
            margin-bottom: 8px;
            margin-top: 12px;
          }

          @include media-breakpoint-up(lg) {
            font-size: 26px;
            line-height: 1.15;
            letter-spacing: -0.52px;
            margin-bottom: 8px;
            margin-top: 22px;
          }

          @include media-breakpoint-up(xl) {
            margin-bottom: 12px;
            margin-top: 30px;
          }
        }

        &--description {
          font-size: 12px;
          line-height: 1.25;
          letter-spacing: normal;
          margin-bottom: 6px;

          @include media-breakpoint-up(lg) {
            font-size: 16px;
            line-height: 1.44;
            letter-spacing: -0.32px;
            margin-bottom: 22px;
          }

          @include media-breakpoint-up(xl) {
            font-size: 18px;
            line-height: 1.44;
            letter-spacing: -0.36px;
            margin-bottom: 41px;
          }
        }

        &--index,
        &--description {
          transition: color 0.5s ease;
        }

        &:not(.active) {
          h3,
          p {
            color: $gray-light;
          }
        }
      }

      &__progress-bar {
        height: 3px;
        top: -3px;
        width: 0;

        @include color-theme($theme-colors) {
          background-color: $value;
        }

        @include media-breakpoint-up(lg) {
          height: 6px;
          top: -6px;
        }

        &--background {
          height: 3px;

          @include media-breakpoint-up(lg) {
            height: 6px;
          }
        }
      }

      &--mobile {
        height: auto;
        width: 100%;
        bottom: calc(#{$mobile-image-height} + 2rem);
        z-index: 1;

        &__container {
          ol {
            display: flex;
            justify-content: left;
            padding-left: 0;
            list-style: none;

            li {
              box-sizing: content-box;
              border-radius: 50%;
              border: 1px solid black;
              width: 8px;
              height: 8px;
              margin: 0 6px;
              cursor: pointer;
              transition: opacity 0.6s ease;

              &.active {
                background-color: $gray-dark;
                opacity: 1;
              }
            }
          }
        }
      }
    }

    &__slides {
      &__item {
        transition: opacity 1s ease;

        //min-height: 620px;
        @include media-breakpoint-up(md) {
          height: 494px;
        }

        @include media-breakpoint-up(lg) {
          height: 690px;
        }

        @include media-breakpoint-up(xl) {
          height: 920px;
        }

        &.active {
          opacity: 1;
          z-index: 1;

          &__content {
            &--text,
            &--image {
              opacity: 1;

              @include media-breakpoint-up(md) {
                transform: translateX(0);
              }
            }
          }

          .hero-carousel__slides__item__content {
            background-color: $white;
            color: $black;
            .slide-headline {
                background-image: linear-gradient(black, #000);
                color: $black;
            }

            a.link-animation {
              color: $black;
              &:after {
                  background-color: $black;
              }
            }

            @include color-theme($theme-colors) {
              background-color: $value;

              @if $theme== "black" {
                color: $white;
              } @else {
                color: $black;
              }

              .slide-headline,
              a.link-animation {
                @if $theme== "black" {
                  color: $white;
                } @else {
                  color: $black;
                }
              }

              .slide-headline {
                @if $theme == "black" {
                  background-image: linear-gradient(white, #fff);
                } @else {
                  background-image: linear-gradient(black, #000);
                }
              }

              a.link-animation {
                &:after {
                  @if $theme== "black" {
                    background-color: $white;
                  } @else {
                    background-color: $black;
                  }
                }
              }
            }
          }
        }

        &:not(.active) {
          opacity: 0;

          .hero-carousel__slides__item__content {
            &--text,
            &--image {
              opacity: 0;
              transition: transform 1s ease, opacity 2s ease;
            }

            &--text {
              @include media-breakpoint-up(md) {
                transform: translateX(-100%);
              }
            }

            &--image {
              @include media-breakpoint-up(md) {
                transform: translateX(100%);
              }
            }
          }
        }

        &__content {
          @extend .grid;
          background-color: $white;
          height: inherit;
          overflow-x: hidden;
          padding-right: 0;
          padding-left: 0;

          @include media-breakpoint-up(md) {
            padding-right: 2em;
            padding-left: 2em;
          }

          &--text,
          &--image {
            transition: transform 1s ease 0.5s, opacity 2s ease;
          }

          &--text {
            grid-column: 1/5;
            padding: 32px 2em 62px 2em;

            @include media-breakpoint-up(md) {
              height: inherit;
              padding: 75px 0;
              padding-right: 0;
              padding-left: 0;
              grid-column: 1 / span 4;
              margin-bottom: unset;
            }

            @include media-breakpoint-up(lg) {
              grid-column: 2 / span 4;
              padding: 103px 0 103px 0;
            }

            &--eyebrow {
              font-weight: 700;
              margin-bottom: 16px;
              @include font-size(11);
              line-height: 14px;
              letter-spacing: 1.98px;

              @include media-breakpoint-up(md) {
                margin-bottom: 23.7px;
              }

              @include media-breakpoint-up(lg) {
                margin-bottom: 38px;
                @include font-size(13);
                line-height: 16px;
                letter-spacing: 2.34px;
              }
            }

            .slide-headline {
              letter-spacing: -1.44px;
              line-height: 1.11;
              background-size: 100% 2px;
               
              background-position: 0 100%;
              background-repeat: no-repeat;
              background-size: 0 2px;
              transition: background-size 0.3s;
              color: inherit;

              @include media-breakpoint-up(md) {
                line-height: 42px;
                letter-spacing: -1.6px;
              }

              @include media-breakpoint-up(lg) {
                line-height: 1.09;
                letter-spacing: -2.32px;
              }

              &:hover {
                background-size: 100% 2px;
              }
            }

            p {
              margin-top: 1rem;
              margin-bottom: 1rem;
              font-size: 14px;
              line-height: 1.43;
              letter-spacing: -0.14px;

              @include media-breakpoint-up(md) {
                margin-bottom: 1rem;
              }

              @include media-breakpoint-up(lg) {
                font-size: 16px;
                margin-top: 2rem;
                margin-bottom: 2rem;
                letter-spacing: -0.32px;
              }

              @include media-breakpoint-up(xl) {
                font-size: 18px;
              }
            }

            a {
              &.link-animation {
                font-weight: bold;
                color: $black;

                .icon-arrow {
                  font-size: 12px;
                }
              }
            }
          }

          &--image {
            height: $mobile-image-height;
            grid-column: 1/5;
            margin-right: -2em;
            width: 100%;

            @include media-breakpoint-up(md) {
              width: auto;
              grid-column: 5 / span 5;
              padding-left: calc(#{get-column-width(md)} / 2);
            }

            @include media-breakpoint-up(lg) {
              grid-column: 6 / span 6;
              padding-left: calc(#{get-column-width(lg)} / 2);
            }

            @include media-breakpoint-up(xl) {
              padding-left: calc(#{get-column-width(xl)} / 2);
            }

            @include media-breakpoint-up(md) {
              height: inherit;
              position: relative;
              top: unset;
            }

            .icon-play-btn,
            .icon-play-btn-hover {
              cursor: pointer;
              font-size: 3rem;
              position: absolute;
              top: calc(50% - 1.5rem);
              left: calc(50% - 1.5rem);

              @include media-breakpoint-up(lg) {
                font-size: 4rem;
                top: calc(50% - 2rem);
                left: calc(50% - 2rem);
              }

              @include media-breakpoint-up(lg) {
                font-size: 5rem;
                top: calc(50% - 2.5rem);
                left: calc(50% - 2.5rem);
              }
            }

            & .object-position--top {
              object-position: top;
            }
          }
        }

        &.position-absolute {
          top: 0;
        }
      }

      &__video-modal {
        .video-container {
          height: 75vh;

          iframe {
            height: 100%;
          }
        }
      }
    }
  }
}
