.cmp-expand-directory{
    @extend .grid;
    @extend .component-bottom-spacing;
    @include color-theme($theme-colors) {
        background-color: $value!important;
    }
    grid-template-rows: repeat(2, auto);
    grid-column: 1/4;
    grid-row: 1/2;

    .heading{
        margin-top: 64px;
        grid-column: 1/4;
        grid-row: 1/2;
        margin-bottom: 65px;
        @include media-breakpoint-up(md) {
            grid-column: 1/9;
            grid-row: 1/2;
            margin-bottom: 57px;
        }
        @include media-breakpoint-up(lg) {
            grid-column: 2/11;
            grid-row: 1/2;
            margin-bottom: 60px;
            margin-top: 81px;
        }
        @include media-breakpoint-up(xl) {
            grid-column: 2/11;
            grid-row: 1/2;
            margin-bottom: 54px;
            margin-top: 114px;
        }
    }

    .exp-dir-cards-wrapper {
            grid-row: 2/2;
            grid-column: 1/5;
            grid-row-gap: 28px;
            grid-column-gap: 16px;
            padding-bottom: 20px;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            > :nth-child(1n){
                grid-column: 1/5;
            }
            > .exp-dir-cards-details > .expanded {
                display:none
            }

            @include media-breakpoint-up(md) {
                grid-column: 1/10;
                grid-row: 2/2;
                display: grid;
                grid-template-columns: repeat(9, 1fr);
                grid-row-gap: 41px;
                grid-column-gap: 32px;
                padding-bottom: 100px;
                > :nth-child(odd){
                    grid-column: 1/5;
                }
                > :nth-child(even){
                    grid-column: 6/10;
                }
                > :nth-child(2n) > .exp-dir-cards-details {
                    left: calc(-148% - 32px)!important ;
                    width: calc(228% + 32px);
                }
                > :not(:nth-child(2n)) > .exp-dir-cards-details {
                    width: calc(228% + 32px);
                    left: 0!important;
                }
            }
            @include media-breakpoint-up(lg) {
                > :nth-child(2n) > .exp-dir-cards-details {
                    left: calc(-100% - 32px)!important ;
                    width: calc(200% + 32px);
                }
                > :not(:nth-child(2n)) > .exp-dir-cards-details {
                    width: calc(200% + 32px);
                    left: 0!important;
                }
            }

            @include media-breakpoint-up(lg) {
                grid-row: 2/2;
                grid-column: 2/11;
                display: grid;
                grid-template-columns: repeat(9, 1fr);

                grid-row-gap: 68px;
                grid-column-gap: 32px;
                padding-bottom: 100px;
                > :nth-child(1n){
                    grid-column: auto/ span 3;
                }
                > :nth-child(3n) > .exp-dir-cards-details {
                    left: calc(-100% - 32px)!important;
                    width: calc(200% + 32px);
                }
                > :not(:nth-child(3n)) > .exp-dir-cards-details {
                    width: calc(200% + 32px);
                    left: 0!important;
                }
            }

        .exp-dir-cards-container {
            min-height: 358px;
            height: auto;

            @include media-breakpoint-up(md) {
                min-height: 460px;
                background-color: #fff;
            }
            @include media-breakpoint-up(lg) {
                background-color: #fff;
            }
            .exp-dir-cards{
                display: grid;
                opacity: .99;
                grid-template-columns: repeat(4, 1fr);
                grid-template-rows: 2fr 1fr 1fr;
                background-color: #fff;
                padding-left: 20px;
                cursor: pointer;
                @include media-breakpoint-up(md) {
                    bottom: 0;
                    top: 0;
                    right: 0;
                    left: 0;
                    min-height: 460px;
                    padding-left: 23px;
                    grid-template-columns: repeat(4, 1fr);
                    grid-template-rows: 2fr 1fr 1fr;
                }
                @include media-breakpoint-up(lg) {
                    min-height: 460px;
                    grid-template-columns: repeat(3, 1fr);
                    grid-template-rows: 2fr 1fr 1fr;

                }
                &.expanded {
                    display: none;
                }

                .eyebrow {
                    margin-top: 31px;
                    grid-column: 1/2;
                    grid-row: 1;
                    font-size: 11px;
                    font-weight: bold;
                    line-height: 1.27;
                    letter-spacing: 1.98px;
                    padding-right: 0px;
                    color: $black;
                    @include media-breakpoint-up(md) {
                        font-size: 11px;
                        text-align: left;
                        line-height: 1.27;
                        padding-right: 10px;
                    }
                    @include media-breakpoint-up(lg) {
                        margin-top: 36px;
                        grid-column: 1/2;
                        grid-row: 1;
                        font-size: 13px;
                        font-weight: bold;
                        line-height: 1.23;
                        letter-spacing: 2.34px;
                        padding-right: 0px;
                    }
                }
                .cards-image {
                    grid-column: 4/4;
                    grid-row: 1;
                    width: 138px;
                    height: 201px;
                    @include media-breakpoint-up(md) {
                        grid-column: auto/span2;
                        object-fit: cover;
                        max-width: 128px;
                        max-height: 209px;
                    }
                    @include media-breakpoint-up(lg) {
                        grid-column: 3/3;
                        max-width: 156px;
                        max-height: 234px;
                    }

                }
                .title {
                    grid-column: 1/3;
                    grid-row: 2;
                    color: $black;
                    margin-bottom: 16px;
                    @include media-breakpoint-up(md) {
                        grid-column: 1/3;
                        line-height: 1;
                        letter-spacing: -1.08px;
                        text-align: left;
                    }
                    @include media-breakpoint-up(lg) {
                        line-height: 1.05;
                        letter-spacing: -1.5px;
                    }
                }
                .short-desc {
                    grid-column: 1/4;
                    grid-row: 3;
                    color: $gray-dark;
                    font-size: 16px;
                    line-height: 1.43;
                    letter-spacing: -0.14px;
                    padding-bottom: 69px;
                    @include media-breakpoint-up(md) {
                        font-size: 15px;
                        line-height: 1.4;
                        letter-spacing: -0.3px;
                        text-align: left;
                        margin-right: 32px;
                        padding-bottom: 0px;
                    }
                    @include media-breakpoint-up(lg) {
                        grid-column: 1/4;
                        font-size: 16px;
                        line-height: 1.4;
                        letter-spacing: -0.3px;
                        text-align: left;
                        margin-right: 40px;
                        padding-bottom: 0px;
                    }
                }
                .long-desc {
                    display: none;
                }
            }

            .exp-dir-cards-details{
                display: none;
                opacity: 0;
                &.expanded {
                    background-color: #fff;
                    opacity: .99;
                    display: grid;
                    padding: 23px 23px 70px 23px;
                    grid-template-columns: repeat(4, 1fr);
                    grid-template-rows: auto auto auto auto auto;
                    z-index: 2;
                    @include media-breakpoint-up(md) {
                        min-height: 460px;
                        grid-template-columns: repeat(6, 1fr);
                        padding: 0 0 70px 49px;
                        bottom: 0;
                        top: 0;
                        right: 0;
                        left: 0;
                    }
                    .eyebrow {
                        margin-top: 36px;
                        grid-column: 1/5;
                        font-size: 11px;
                        font-weight: bold;
                        line-height: 1.23;
                        letter-spacing: 2.34px;
                        color: $black;
                        display: none;
                        @include media-breakpoint-up(md) {
                            display: block;
                            grid-row: 1;
                            margin-top: 27px;
                            font-size: 13px;
                            line-height: 1.27;
                            letter-spacing: 1.98px;
                            text-align: left;
                        }

                        }
                        .cards-image {
                            grid-column: 3/5;
                            grid-row: 1/4;
                            display: none;
                            @include media-breakpoint-up(md) {
                                grid-row: 1/3;
                                grid-column: 6/7;
                                display: block;
                                width: 128px;
                                height: 209px;
                            }
                            @include media-breakpoint-up(lg) {
                                width: 156px;
                                height: 234px;
                            }
                        }
                        .title {
                            grid-column: 1/5;
                            grid-row: 1;
                            margin-bottom: 14px;
                            @include media-breakpoint-up(md) {
                                grid-column: 1/5;
                                grid-row: 2;
                            }
                        }
                        .short-desc {
                            grid-column: 1/5;
                            grid-row: 2;
                            margin-bottom: 23px;
                            @include media-breakpoint-up(md) {
                                grid-column: 1/5;
                                grid-row: 3;
                            }
                            p{
                            font-size: 16px;
                            line-height: 1.44;
                            letter-spacing: -0.32px;
                            color: $gray-dark;
                            }
                        }
                        .long-desc {
                            grid-column: 1/5;
                            grid-row: 3;
                            margin-bottom: 23px;
                            font-size: 16px;
                            line-height: 1.44;
                            letter-spacing: -0.32px;
                            color: $gray-dark;
                            @include media-breakpoint-up(md) {
                                grid-column: 1/5;
                                grid-row: 4;
                            }
                        }
                        .exp-dir-scial-links{
                            grid-column: 1/5;
                            grid-row: 5;
                            @include media-breakpoint-up(md) {
                                grid-column: 1/9;
                            }
                            .social-share{
                                display: flex;
                                float: left;
                                ul {
                                    list-style: none;
                                    li {
                                        display: inline-block;
                                        span{
                                            font-size: 2.25rem;
                                            color:$gray-dark;
                                        }
                                    }
                                }
                            }
                            .juniper-icon.icon-close{
                                margin-right: 25px;
                                font-size: 22.8px;
                                top: 7px;
                                float: right;
                                cursor: pointer;
                            }

                        }
                }

            }

        }
    }

}