<div class="configure__container" data-sly-test="${wcmmode.edit}">[
    Configure ${component.title} Component ]
</div>
<sly data-sly-use.utilityModel="${'com.juniper.aem.models.UtilityModel'}"
    data-sly-set.compId="caseStudyOverviewSticky${utilityModel.uniqueId}"></sly>
<sly data-sly-use.caseStudy="com.juniper.aem.models.CaseStudyModel"></sly>
<div class="cmp-case-study-overview" data-mod="case-study-overview" data-video-modal-id="${compId}Modal"
    data-path="${properties.pagePath}">
    <div class="content alignment ${properties.imageAlignment}">
        <div class="left">
            <div class="company-logo" data-sly-test="${caseStudy.logo}">
                <sly
                    data-sly-use.imageHelper="${'com.juniper.aem.helpers.ImageHelper' @fileReference=caseStudy.logo}" />
                <figure>
                    <img class="img-company-logo" src="${caseStudy.logo @context='uri'}"
                        title="${caseStudy.logoAltText}" alt="${caseStudy.logoAltText || imageHelper.altText}" />
                </figure>
            </div>
            <div class="title" data-sly-test="${caseStudy.title}">
                <h1>${caseStudy.title @context="text"}</h1>
            </div>
            <div class="desc">
                <div class="large rte-content">
                    <sly data-sly-test="${caseStudy.introduction}">${caseStudy.introduction
                        @context='html'}
                    </sly>
                    <sly data-sly-test="${caseStudy.introductionLong}">${caseStudy.introductionLong
                        @context='html'}
                    </sly>
                </div>
            </div>
            <div class="overview-section" data-sly-test="${caseStudy.company}">
                <div class="details">
                    <div class="header">
                        <p class="small">${inheritedPageProperties.overviewLabel}</p>
                    </div>
                    <hr class="hr" />
                    <div class="table-content">
                        <table class="company-details small">
                            <tbody>
                                <tr data-sly-test="${caseStudy.company}">
                                    <td>${inheritedPageProperties.companyLabel}</td>
                                    <td class="right-align">${caseStudy.company
                                        @context='text'}
                                    </td>
                                </tr>
                                <tr data-sly-test="${caseStudy.industries}">
                                    <td>${inheritedPageProperties.industryLabel}</td>
                                    <td class="right-align">
                                    <sly data-sly-list.industry="${caseStudy.industries}">
                                       ${industry @context='text'}<sly data-sly-test="${!industryList.last}">,</sly>
                                    </sly>
                                    </td>
                                </tr>
                                <tr data-sly-test="${caseStudy.productModelList.size > 0}">
                                    <td class="products">${inheritedPageProperties.productsUsedLabel}</td>
                                    <td class="right-align products-right">
                                        <sly data-sly-list.product="${caseStudy.productModelList}">
                                            <sly data-sly-test="${product.productNameShort}">
                                                <a href="${product.pagePath @ extension = 'html'}"
                                                    class="juniper-btn--link product-link">${product.productNameShort
                                                    @context='text'}</a><sly data-sly-test="${!productList.last}">,&nbsp;</sly>
                                            </sly>
                                        </sly>
                                    </td>
                                </tr>
                                <tr data-sly-test="${caseStudy.regions}">
                                    <td>${inheritedPageProperties.regionLabel }</td>
                                    <td class="right-align">
                                        <sly data-sly-list.region="${caseStudy.regions}">
                                            ${region @context='text'}<sly data-sly-test="${!regionList.last}">,</sly>
                                        </sly>
                                    </td>
                                </tr>
                                <tr data-sly-test="${caseStudy.size}">
                                    <td>${inheritedPageProperties.orgSizeLabel}</td>
                                    <td class="right-align">${caseStudy.size @context='text'}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div data-sly-test="${properties.ctaLabel}" class="button">
                <a href="${properties.ctaLink}" target="${properties.ctaTarget}">
                    <button class="juniper-btn ${properties.ctaStyle}">
                        ${properties.ctaLabel}</button>
                </a>
            </div>
        </div>
        <div class="right" data-sly-test="${caseStudy.image}" data-video-target="${properties.videoTarget}"
            data-expandable="true">
            <div class="overview-video">
                <div class="thumbnail">
                    <sly
                        data-sly-use.imageHelper="${'com.juniper.aem.helpers.ImageHelper' @fileReference=caseStudy.image}" />
                    <img data-sly-test="${caseStudy.image}" class="img" title="${caseStudy.imageAltText}"
                        alt="${caseStudy.imageAltText || imageHelper.altText}" src="${caseStudy.image}"> <span
                        data-sly-test="${properties.imageOrVideo =='video'}"
                        class="juniper-icon ${properties.playicon} play-icon play-icon-${properties.playiconAlignment} js-expandable">
                        <span class="path1"></span><span class="path2"></span>
                    </span>
                </div>
                <div class="video-wrapper" data-sly-test="${caseStudy.videoURL !=''}">
                    <iframe class="youtube-video" frameborder="0" allowfullscreen="1"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        title="${properties.videocaption @context='html'}" src="${caseStudy.videoURL}"> </iframe>
                    <span class="juniper-icon icon-close overview-close-icon js-expandable"></span>
                </div>
            </div>
        </div>
        <!--/* Modal Video */-->
        <sly data-sly-test="${properties.videoTarget == 'overlay'}"
            data-sly-use.modalTemplate="/apps/juniper/components/htl-templates/video-overlay.html"
            data-sly-set.videoModalId="${compId}Modal" data-sly-set.videoSrc="${caseStudy.videoURL}">
            <sly
                data-sly-call="${modalTemplate.modal @ modalId = videoModalId, containerClassName = 'pfh-player-container', videoUrl = videoSrc}">
            </sly>
        </sly>
    </div>
</div>
