<div data-sly-test="${wcmmode.edit && !wcmmode.preview}" class="aem-helper configure__container">[ Configure ${component.title} Component ]</div>
<sly data-sly-use.model="com.juniper.aem.models.ProductSpecSheetModel"/>

<div class="cmp-specifications">
    <div class="wrapper grid">
        <div class="image-container">
            <a data-sly-test="${model.backButtonLabel}" class="back-btn" href="${model.backButtonLink}">
                <span class="juniper-icon icon-arrow-left"></span>
                <span class="btn-text">${model.backButtonLabel}</span>
            </a>
            <div class="img-wrapper">
                <div class="img-container">
                    <sly data-sly-use.imageHelper="${'com.juniper.aem.helpers.ImageHelper' @fileReference=model.fileReference}"/>
                    <img data-sly-test="${model.fileReference}" src="${model.fileReference}" title="${model.imageAltText || imageHelper.altText}" alt="${model.imageAltText || imageHelper.altText}" />
                </div>
            </div>
        </div>
        <div class="spec-table">
            <h1 data-sly-test="${model.heading}" class="prod-heading">${model.heading}</h1>
            <h3 data-sly-test="${model.specLabel}" class="sub-heading">${model.specLabel}</h3>
            <table class="technical-features">
                <tbody data-sly-list.speckey="${model.productModel.specsMap}">
                    <tr>
                        <td>${speckey}</td>
                        <td>${model.productModel.specsMap[speckey] @ context='html'}</td>
                    </tr>                    
                </tbody>
            </table>
        </div>
    </div>
</div>