<div data-sly-test="${wcmmode.edit && !wcmmode.preview}" class="aem-helper configure__container">
	[ Configure ${component.title} Component ]
</div>

<!--/* Navigation Component */-->
<sly data-sly-use.subnav="htl-templates/subnavigation.html"/>
<!--/* Top Nav Item HTL Template*/-->
<sly data-sly-use.topnavItemTemplate="htl-templates/level0-item.html"/>
<!--/* Global Search Model */-->
<sly data-sly-use.searchModel="com.juniper.aem.models.globalsearch.GlobalSearchModel"/>

<!--/* Top Panel */-->
<div data-sly-resource="${'top_panel' @ resourceType='juniper/components/navigationtoppanelitem'}"></div>

<!--/*  Main Navigation */-->
<div data-sly-use.header="com.juniper.aem.models.globalnav.HeaderNavigationModel"
		class="cmp-navigation" data-mod="navigation"
		data-search-results-path="${header.searchResultsPath @ extension='html'}"
		data-coveo-suggest-endpoint="${searchModel.coveoSuggestEndpoint}"
		data-public-search-key="${searchModel.publicSearchKey}">
	<div class="navigation__container js-navigation-container">
		<nav class="navbar navbar-expand-lg bg-white navigation__container__nav">

			<div class="navigation__container__nav__brand">
				<a class=" mx-5" href="${header.logoLink @ extension='html'}" target="${header.logoLinkTarget}">
					<div class="logo navbar-brand">
					   <sly data-sly-use.imageHelper="${'com.juniper.aem.helpers.ImageHelper' @fileReference=header.logoImagePath}"/>
						<img src="${header.logoImagePath}" alt="${header.logoImageAltText || imageHelper.altText}" class="js-navbar-logo"/>
					</div>
				</a>
			</div>

			<!--/* Mobile */-->
			<div class="navigation__container__nav__mobile d-flex d-lg-none">
				<div class="navigation__container__nav__mobile__language align-items-center d-flex js-language-btn-mobile" role="button">
					<span class="juniper-icon icon-language-selector js-icon-language-mobile"></span>
					<span class="navigation__container__nav__mobile__language--label">${header.topPanelModel.currentLocaleLabel}</span>
					<span class="juniper-icon icon-arrow-down"></span>
					<span class="juniper-icon icon-close icon-size-5 js-icon-close"></span>
				</div>
				<div class="navigation__container__nav__mobile__search align-items-center d-flex js-search-btn-mobile" role="button">
					<span class="juniper-icon icon-search js-icon-search-mobile"></span>
					<span class="juniper-icon icon-close icon-size-5 js-icon-close"></span>
				</div>
				<button class="navbar-toggler p-0 js-navbar-toggler" type="button" aria-controls="mainNav" aria-expanded="false" aria-label="${'Main Nav' @ i18n}">
					<span class="juniper-icon icon-menu js-icon-menu"></span>
					<span class="juniper-icon icon-close icon-size-5 js-icon-close"></span>
				</button>
			</div>

			<div class="collapse navbar-collapse navigation__container__nav__items" id="mainNav">
				<div class="navbar-nav justify-content-between my-5 my-md-10 my-lg-0 mx-auto px-5 px-lg-0">
					<div class="flex-column flex-lg-row  ${header.navLayout} navbar-nav__container js-navbar-container">
						<div class="d-flex flex-column flex-lg-row js-left-nav">
							<div class="navigation__container__nav__items__back-btn d-lg-none mb-5 js-mobile-back" role="button">
								<span class="juniper-icon icon-arrow-left c-silver"></span>
							</div>
							<sly data-sly-call="${topnavItemTemplate.topnavItem @ navItemId='nav1', navItemData = header.nav1, dropdownTemplate = subnav.dropdown}">
							</sly>
							<sly data-sly-call="${topnavItemTemplate.topnavItem @ navItemId='nav2', navItemData = header.nav2, dropdownTemplate = subnav.dropdown}">
							</sly>
							<sly data-sly-call="${topnavItemTemplate.topnavItem @ navItemId='nav3', navItemData = header.nav3, dropdownTemplate = subnav.dropdown}">
							</sly>
						</div>
						<div class="d-flex flex-column flex-lg-row js-right-nav">
							<sly data-sly-call="${topnavItemTemplate.topnavItem @ navItemId='nav4', navItemData = header.nav4, dropdownTemplate = subnav.dropdown}">
							</sly>
							<sly data-sly-call="${topnavItemTemplate.topnavItem @ navItemId='nav5', navItemData = header.nav5, dropdownTemplate = subnav.dropdown}">
							</sly>
							<sly data-sly-call="${topnavItemTemplate.topnavItem @ navItemId='nav6', navItemData = header.nav6, dropdownTemplate = subnav.dropdown}">
							</sly>
						</div>
						<!--/* Top Panel section START */-->
						<div class="d-lg-none navbar-nav__container__top-panel col-md-6 px-0 js-top-panel-section" data-sly-test="${header.topPanelModel}">
							<div class="navbar-nav__container__top-panel__item login-item js-account-login" data-target="${header.topPanelModel.loginCtaLink @ extension='html'}">
								<a class="navbar-nav__container__top-panel__item__link" href="${header.topPanelModel.loginCtaLink @ extension='html'}">
									<span class="juniper-icon icon-log-in mr-2"></span>
									<span>${header.topPanelModel.loginCtaLabel}</span>
								</a>
								<span class="juniper-icon icon-arrow login-item--link"></span>
							</div>
							<div class="navbar-nav__container__top-panel__item account-item js-account-links">
								<div class="account-item__toggle">
									<a class="navbar-nav__container__top-panel__item__link">
										<span class="juniper-icon icon-log-in mr-2"></span>
										<span class="account-item__account--username js-account-username"></span>
									</a>
									<span class="juniper-icon icon-arrow-down account-item__expand"></span>
									<span class="juniper-icon icon-arrow-up account-item__collapse"></span>
								</div>
								<div class="account-item__links">
									<div class="account-item__links__header">
										${header.topPanelModel.accountSubtitle}
									</div>
									<div class="account-item__links__links">
										<ul class="account-links-list">
											<li class="account-links-list__item">
												<a class="account-links-list__item__link" data-loginid="${header.topPanelModel.partnerCenterCtaLabel}"
												   href="${header.topPanelModel.partnerCenterCtaLink}">${header.topPanelModel.partnerCenterCtaLabel}</a>
											</li>
											<li class="account-links-list__item">
												<a class="account-links-list__item__link"
												   href="${header.topPanelModel.accountInformationCtaLink}">${header.topPanelModel.accountInformationCtaLabel}</a>
											</li>
											<li class="account-links-list__item">
												<a class="account-links-list__item__link" data-loginid="${header.topPanelModel.newProductCtaLabel}"
												   href="${header.topPanelModel.newProductCtaLink}">${header.topPanelModel.newProductCtaLabel}</a>
											</li>
											<li class="account-links-list__item">
												<a class="account-links-list__item__link" data-loginid="${header.topPanelModel.createAccountCtaLabel}"
												   href="${header.topPanelModel.createAccountCtaLink}">${header.topPanelModel.createAccountCtaLabel}</a>
											</li>
											<li class="account-links-list__item account-links-list__item--logout">
												<a class="account-links-list__item__link js-logout-link" data-loginid="${header.topPanelModel.logoutLabel || 'Logout'}"
                                                href="#"><span class="juniper-icon icon-log-out"></span> ${header.topPanelModel.logoutLabel || 'Logout'}
												</a>
											</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="navbar-nav__container__top-panel__item js-contact-us" data-target="${header.topPanelModel.contactUsCtaLink @ extension='html'}">
								<a class="navbar-nav__container__top-panel__item__link" href="${header.topPanelModel.contactUsCtaLink @ extension='html'}">
									<span class="juniper-icon icon-contact-us mr-2"></span>
									<span>${header.topPanelModel.contactUsCtaLabel}</span>
								</a>
								<span class="juniper-icon icon-arrow"></span>
							</div>
							<div class="navbar-nav__container__top-panel__item js-how-to-buy" data-target="${header.topPanelModel.howToBuyCtaLink @ extension='html'}">
								<a class="navbar-nav__container__top-panel__item__link" href="${header.topPanelModel.howToBuyCtaLink @ extension='html'}">
									<span>${header.topPanelModel.howToBuyCtaLabel}</span>
								</a>
								<span class="juniper-icon icon-arrow"></span>
							</div>
						</div>
						<!--/* Top Panel section END */-->
					</div>
					<div class="navigation__container__nav__search js-search-nav">
						<div class="navigation__container__nav__search__container collapse dropdown-menu grid js-megamenu">
							<div class="close js-close d-none d-lg-block">
								<span class="juniper-icon icon-close"></span>
							</div>
							<div class="navigation__container__nav__search__form">
								<input class="navigation__container__nav__search__form__input js-search-input" type="text" placeholder="${header.searchPlaceholder}"
									   pattern="[A-Za-z0-9Ç-üÁ-ú -]{3,}" required="required">
								<span class="navigation__container__nav__search__form__search-icon juniper-icon icon-search js-search-icon"></span>
							</div>
						</div>
					</div>
					<!--/* Language Selector section START */-->
					<div class="navigation__container__nav__language js-language-nav" data-sly-test="${header.topPanelModel}">
						<div class="navigation__container__nav__language__container collapse dropdown-menu grid js-megamenu">
							<div data-sly-list.regionItem="${header.topPanelModel.countriesList}" class="navigation__container__nav__language__container__languages">
								<div class="navigation__container__nav__language__container__languages__region">
									<div class="navigation__container__nav__language__container__languages__region--label">
										${regionItem.region}
									</div>
									<sly data-sly-list.lang="${regionItem.listChildren}">
										<ul class="languages-list" data-sly-list.languages="${lang.listChildren}">
											<li class="languages-list__item">
												<a class="languages-list__item__link link-animation"
												   href="${languages.pagePath @ extension='html'}"
												   title="${languages.language}">${languages.language}</a>
											</li>
										</ul>
									</sly>
								</div>
							</div>
						</div>
					</div>
					<!--/* Language Selector section END */-->
					<div class="navbar-nav__search align-items-center d-none d-lg-flex js-search-btn" role="button">
						<span class="juniper-icon icon-search"></span>
					</div>
				</div>
			</div>
		</nav>
	</div>
</div>
