.cardslevel1 {
    @extend .component-bottom-spacing;

    .cards-row {
        display: block;
        .product-cards-section {
            display: flex;

            @include color-theme($theme-colors) {
                background-color: $value !important;
            }

            @include media-breakpoint-up(lg) {
                padding: 80px 0px;
            }
            .product-cards {
                padding-top: 48px;
                padding-bottom: 48px;
                grid-row-gap: 32px;
                @include media-breakpoint-up(md) {
                    padding-bottom: 2.5pc;
                }
                @extend .grid;
                
                @include media-breakpoint-up(lg) {
                    grid-row-gap: 40px;
                }
                @include media-breakpoint-up(xl) {
                    grid-row-gap: 52px;
                }
                .product-card {
                    min-height: 490px;
                    padding: 0 0 0 24px !important;
                   
                    border-radius: 6px;
                    background-color: #fff;
                    grid-column: 1 / 5;
                    @include media-breakpoint-up(md) {
                        min-height: 475px;
                    
                        &:nth-of-type(odd) {
                            @include media-breakpoint-up(md) {
                                margin-right: -5vw;
                                grid-column: 1 / 5;
                            }
                            @include media-breakpoint-up(lg) {
                                margin-right: -64px;
                                grid-column: 2 / 6;
                            }
                        }
                        &:nth-of-type(even) {
                            @include media-breakpoint-up(md) {
                                margin-left: -5vw;
                                grid-column: 6 / 10;
                            }
                            @include media-breakpoint-up(lg) {
                                
                                margin-right: -32px;
                                margin-left: 0px;
                                grid-column: 7 / 11;
                            }
                        }
                    }
                    @include media-breakpoint-up(lg) {
                        min-height: 540px;
                        padding: 0 0 0 36px !important;
                    }
                
                    .card-info {
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        .card-short-info {
                            grid-row: 1;
                            grid-column: 1 /-1;
                            display: grid;
                            height: auto !important;

                            @include media-breakpoint-up(md){
                                grid-column: 1;
                                min-height: 192px;
                            }

                            @include media-breakpoint-up(lg) {
                                min-height: 234px;
                            }
                            @include media-breakpoint-up(xl) {
                                min-height: 234px;
                            }
                            & > a {
                                 align-self: end;
                                 & .juniper-btn {
                                    height: auto;
                                }
                            }
                            .eyebrow {
                                @include lato-bold;
                                @include font-size(11);
                                letter-spacing: 1.98px;
                                color: #000;
                                padding: 24px 0px;

                                @include media-breakpoint-up(md) {
                                    padding: 36px 0px 71px;
                                }
                                @include media-breakpoint-up(lg) {
                                    @include font-size(13);
                                    line-height: 16px;
                                    padding: 34px 0px 82px;
                                }
                            }
                            .title {
                                color: $black;
                                font-size: 28px !important;
                                line-height: 1.1;
                                letter-spacing: -0.9px;
                                text-align: left;

                                background-image: linear-gradient(black, #000);
                                background-position: 0 100%;
                                background-repeat: no-repeat;
                                background-size: 0 2px;
                                transition: background-size 0.3s;
                
                                &:hover {
                                    background-size: 100% 2px;
                                }

                                @include media-breakpoint-up(md) {
                                    font-size : 36px !important;
                                    line-height: 1.11;
                                    letter-spacing: -1.44px;
                                }

                                @include media-breakpoint-up(lg) {
                                    font-size: 46px !important;
                                    line-height: 1.04;
                                    letter-spacing: -1.38px;
                                }
                                @media only screen 
                                and (min-device-width: 768px) 
                                and (max-device-width: 1024px) 
                                and (orientation: landscape) 
                                and (-webkit-min-device-pixel-ratio: 1) {
                                    font-size: 36px !important;
                                }
                                @include media-breakpoint-up(xl) {
                                    font-size: 50px !important;
                                    line-height: 1.03;
                                    letter-spacing: -1.5px;
                                }
                            }
                        }
                        .card-image {
                            grid-row: 1;
                            grid-column: 2;
                            justify-self: end;
                            display: flex;
                            width: 192px;
                            height: 192px;


                            @include media-breakpoint-up(sm) {
                                width: 117px;
                                height: 117px;
                                display: none;
                            }

                            @include media-breakpoint-up(md) {
                                display: flex;
                                width: 120px;
                                height: 120px;
                            }
                           
                            @include media-breakpoint-up(lg) {
                                width: 234px;
                                height: 234px;
                            }
                                @media only screen 
                                and (min-device-width: 768px) 
                                and (max-device-width: 1024px) 
                                and (orientation: landscape) 
                                and (-webkit-min-device-pixel-ratio: 1) {
                                    width: 180px;
                                    height: 180px;
                                }
                        }
                        & .non-prod {
                            align-items: center;
                        }
                    }
                    .description {
                        grid-column: 1/3;
                        @include lato-regular;
                        color: $gray-dark;
                        padding-top: 20px;
                        min-height: 262px;

                        width: 90%;
                        @include media-breakpoint-up(md) {
                            width: 90%;
                        }
                        @include media-breakpoint-up(lg) {
                            width: 60%;
                            line-height: 1.38;
                        }
                        @include media-breakpoint-up(xl) {
                            width: 60%;
                        }
                        p {
                            @include font-size(14);
                            @include media-breakpoint-up(md) {
                                @include font-size(15);
                            }
                            @include media-breakpoint-up(lg) {
                                @include font-size(16);
                            }
                            @include media-breakpoint-up(xl) {
                                @include font-size(16);
                                line-height: 22px;
                            }
                        }
                        & ol,
                        ul {
                            list-style: inside;
                            li {
                                padding-left: 20px;
                                text-indent: -20px;
                                @include media-breakpoint-up(xl) {
                                    @include font-size(14);
                                    line-height: 20px;
                                }
                            }
                        }
                    }

                    .viewing-pane {
                        height: 20px;
                        margin-bottom: 24px;
                        flex-grow: 1;
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-end;
                        .view-datasheet {
                            font-size: 16px;
                            font-weight: 400;
                            line-height: 2.06;
                            letter-spacing: -0.16px;
                            color: #000;
                            text-decoration: underline;
                            margin-right: 40px;
                        }
                    }
                }
            }

            .products-section {
                display: flex;
                flex-flow: wrap;
                padding-left: 0px;
                padding-right: 0px;

                .primary-cta {
                    margin-bottom: 40px;
                    margin-top: -20px;

                    @include media-breakpoint-up(lg) {
                        margin-left: 68%;
                    }
                    @include media-breakpoint-up(xl) {
                        margin-left: 66%;
                    }
                    .primary-cta-btn {
                        margin-bottom: 65px;
                    }
                }
            }
        }
    }
}

