@import '../../../styles/core/core-bundle';

$sw-editorial-padding-breakpoint: sm;

:host {
  @include base-component-formatted-block();
  max-width: $base--page-max-width;
  background-color: white;

  @include media-respond-property(
    padding,
    root, sw-spacing(1) 0,
    $sw-editorial-padding-breakpoint, sw-spacing(3)
  );
}

:host:not([sw-nested]) {
  @include base-component-spacing();
}

:host([sw-nested]) {
  padding: sw-spacing(3);
}

:host([sw-theme]:not([sw-theme="none"]):not([sw-nested])) {
  @include media-respond-property(
    padding,
    root, sw-spacing(3),
    $sw-editorial-padding-breakpoint, sw-spacing(5)
  );
}

.wrapper {
  @include clearfix;
  margin: 0;
}

:host([sw-width="condensed"]) {
  .wrapper {
    margin: 0 auto;
    max-width: $base--content-column-max-width;
  }
}

:host([sw-theme="light"]) {
  background-color: $c-grey-05;
}

:host([sw-theme="dark"]) {
  background-color: $c-custom-dark-mute-blue;
  color: $c-txt-on-dark;
}
