<div class="configure__container" data-sly-test="${wcmmode.edit}">[ Configure ${component.title} Component ]</div>
<sly data-sly-use.pdm="com.juniper.aem.models.ProductDetailModel"></sly>
<div class="cmp-product-overview container-fluid product-overview" data-mod="product-overview"
    data-path="${properties.pagePath}">
    <div class="product-overview__container">
        <div class="row">
            <div class="col-12 col-md-6 product-overview__carousel product-overview__col no-padding ${properties.theme ? properties.theme : 'c-theme-green'} pb-10"
                data-sticky-container data-expandable="true"
                data-theme="${properties.theme ? properties.theme : 'c-theme-green'}">
                <div class="js-carousel-sticky"
                    data-sly-resource="${'carousel' @ resourceType='wcm/foundation/components/parsys'}"></div>
            </div>
            <div class="col-12 col-md-6 product-overview__info product-overview__col js-overview-info">
                <div class="row product-overview--section product-overview__info__title"
                    data-sly-test="${pdm.productModel.title}">
                    <div class="col-12">
                        <h1 class="h1">${pdm.productModel.title}</h1>
                    </div>
                </div>
                <div class="row product-overview--section product-overview__info__description"
                    data-sly-test="${pdm.productModel.description}">
                    <div class="col-12 rte-content">
                        ${pdm.productModel.description @context='html'}
                    </div>
                </div>
                <div class="row product-overview--section product-overview__info__technical-features mb-5"
                    data-sly-test="${pdm.productModel.features}">
                    <div class="col-12">
                        <div class="header">
                            <p class="small">${'Key Features' @ i18n}</p>
                        </div>
                        <hr class="hr">
                        <div class="table_features" data-sly-list.feature="${pdm.productModel.features}">
                            <div class="table_features_item d-flex">
                                <sly data-sly-test="${feature.title}">
                                    <div class="table_features_item_title"><sly data-sly-call="${locale @ key=feature.title}"/></div>
                                </sly>
                                <div class="table_features_item_description">${feature.value @context='html'}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <sly data-sly-unwrap data-sly-list.linkslist="${resource.getChildren}">
                    <div data-sly-test="${linkslist.name == 'links'}"
                        class="row product-overview--section product-overview__info__datasheet mb-5">
                        <div class="col-12 datasheet">
                            <div class="datasheet_header">
                                <p class="small">${properties.title}</p>
                            </div>
                            <hr data-sly-test="${linkslist.name == 'links'}" class="hr">
                            <sly data-sly-unwrap data-sly-test="${linkslist.name == 'links'}"
                                data-sly-list.links="${linkslist.getChildren}">
                                <div class="datasheet__links">
                                    <span class="datasheet__links--item">
                                     <sly data-sly-test.datasheetPagePath="${links.linkUrl @ extension='html'}"/>
                                     <sly data-sly-test.elq="${'http:' in links.linkUrl || 'https:' in links.linkUrl ? ['_elq.trackEvent(\u0027', links.linkUrl, '\u0027)'] : ['_elq.trackEvent(\u0027', request.getScheme,'://',request.getServerName, links.linkUrl, '\u0027)'] @ join = '' }"/>
                                        <a class="view-product"
                                            href="${'.pdf' in links.linkUrl ? links.linkUrl : datasheetPagePath}"
                                            target="${'.pdf' in links.linkUrl ? '_blank' : links.target }"
                                            onclick="${'.pdf' in links.linkUrl ? elq : '' @ context='attribute'}">
                                            <span class="datasheet__links--link juniper-btn--link ">
                                                ${links.linkText}
                                                <span class="juniper-icon icon-arrow ml-1"></span>
                                            </span>

                                        </a>
                                    </span>
                                </div>
                            </sly>
                        </div>
                    </div>
                </sly>

                <div class="row product-overview--section product-overview__info__buttons pb-5">
                    <div class="col-12">
                        <a class="juniper-btn juniper-btn--green mr-2 mr-md-4 mb-3"
                            href="${inheritedPageProperties.howToBuyPagePath @ extension='html'}"
                            data-sly-test="${inheritedPageProperties.howToBuyPagePath}">
                            ${inheritedPageProperties.howToBuyCtaLabel}
                        </a>
                        <a data-sly-test="${properties.comparePagePath}" class="juniper-btn juniper-btn--black mb-3"
                            href="${properties.comparePagePath @ extension='html'}">
                            ${inheritedPageProperties.compareCtaLabel}
                        </a>
                    </div>
                </div>
                <div
                    class="row product-overview--section product-overview__info__features-benefits cmp-accordion mt-5 mb-5">
                    <div class="col-12">
                        <div class="product-overview__info__features-benefits__title">
                            <h2 class="h2">${'Features + Benefits' @ i18n}</h2>
                        </div>
                        <div class="accordion__overview accordion" id="accordion__overview"
                            data-sly-list.benefit="${pdm.productModel.benefits}">
                            <div class="accordion__item d-flex flex-column">
                                <div class="accordion__item__header_container">
                                    <div class="mb-0 d-flex justify-content-between accordion__item__title ${!benefitList.first ? 'collapsed' : ''}"
                                        id="#benefits${benefitList.index}"
                                        data-sly-test="${benefit.longDescription || benefit.imagePath}">
                                        <div class="accordion__item__title--title juniper-btn juniper-btn--link">
                                            <h3 class="h3">${benefit.title}</h3>
                                        </div>
                                        <div class="accordion__item__title--icons">
                                            <span class="juniper-icon icon-plus"></span>
                                            <span class="juniper-icon icon-minus"></span>
                                        </div>
                                    </div>
                                    <div class="mb-0 d-flex justify-content-between accordion__item__title"
                                        data-sly-test="${!benefit.longDescription && !benefit.imagePath}">
                                        <div class="accordion__item__title--title">
                                            <h3 class="h3 disabled">${benefit.title}</h3>
                                        </div>
                                        <div class="accordion__item__title--icons">
                                            <span class="juniper-icon icon-plus disabled d-block"></span>
                                        </div>
                                    </div>
                                    <div class="accordion__item__short-description pr-3 pr-lg-6"
                                        data-sly-test="${benefit.shortDescription}">
                                        <div class="large  rte-content">${benefit.shortDescription @context='html'}</div>
                                    </div>
                                </div>
                                <div id="benefits${benefitList.index}"
                                    class="collapse ${benefitList.first ? 'show' : ''} accordion__item__description pr-3 pr-lg-6"
                                    aria-labelledby="${benefit.title}" data-parent="#accordion__overview"
                                    data-sly-test="${benefit.longDescription || benefit.imagePath}">
                                    <div class="accordion__item__description--text mt-3"
                                        data-sly-test="${benefit.longDescription}">
                                        <div class="large rte-content">${benefit.longDescription @context='html'}</div>
                                    </div>
                                    <div class="accordion__item__description--image full-width mt-5"
                                        data-sly-test="${benefit.imagePath}">
                                        <sly data-sly-test="${benefit.imageLink}">
                                            <a href="${benefit.imageLink @ extension='html'}">
                                                <img src="${benefit.imagePath}"
                                                    alt="${benefit.altText ? benefit.altText : 'benefits image alt'}"
                                                    class="full-width" />
                                            </a>
                                        </sly>
                                        <sly data-sly-test="${!benefit.imageLink}">
                                            <sly
                                                data-sly-use.imageHelper="${'com.juniper.aem.helpers.ImageHelper' @fileReference=benefit.imagePath}" />
                                            <img src="${benefit.imagePath}"
                                                alt="${benefit.altText || imageHelper.altText}" class="full-width" />
                                        </sly>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div data-sly-resource="${'info-parsys' @ resourceType='wcm/foundation/components/parsys'}"
                    class="drag-container"></div>
            </div>
        </div>
    </div>
</div>
<template data-sly-template.locale="${@ key}">
    ${key @ i18n}
</template>
