<template data-sly-template.productoverview="${@ seoModel}">
    <sly data-sly-use.pdm="com.juniper.aem.models.ProductDetailModel"/>
        {
          "@context": "https://schema.org",
          "@type": "Product",
          "name": "${pdm.productModel.title}",
          "image": [
                    <sly data-sly-list="${pdm.productModel.assets}">
                        "https://www.juniper.net${item.fileReference}"<sly data-sly-test="${!itemList.last}">,</sly>
                    </sly>
                    ],
            "description": "${seoModel.description}"
        }
</template>