<div data-sly-test="${wcmmode.edit && !wcmmode.preview}" class="configure__container">
    [ Configure ${component.title} Component ]
</div>
<sly data-sly-use.model="com.juniper.aem.models.StackedStatementsModel">
</sly>
<div class="cmp-stacked-statements" data-mod="stacked-statements">
    <div class="statements grid">
        <div data-sly-test="${model.eyebrow}" class="statements__eyebrow eyebrow">
            ${model.eyebrow}
        </div>
        <div class="statements__text">
            <div class="statements__text__header">
                <a data-sly-unwrap="${!model.headerLink}" class="link-animation--header" href="${model.headerLink @ extension='html'}" target="${model.headerLinkTarget}">
                    <span class="statements__text__header--h2">${model.header}</span>
                </a>
            </div>
            <div data-sly-test="${model.description}" class="statements__text__description rte-content">
                ${model.description @ context = 'html'}
            </div>
            <div data-sly-test="${model.ctaLink && model.ctaLabel}" class="statements__text__cta primary-cta">
                <a class="primary-cta-btn" href="${model.ctaLink @ extension='html'}" target="${model.ctaLinkTarget}">
                    <button class="juniper-btn juniper-btn--black">${model.ctaLabel}</button>
                </a>
            </div>
        </div>
        <div class="statements__container" data-sly-list.statement="${model.statements}">
            <div class="statements__container__statement">
                <div class="statements__container__statement__headline">
                    <span data-sly-test="${statement.iconColor}" class="statements__container__statement__headline--icon ${statement.iconColor}"></span>
                    <h4 class="statements__container__statement__headline--text">
                        ${statement.headline}
                    </h4>
                </div>
                <div class="statements__container__statement__text rte-content">
                    ${statement.text @ context = 'html'}
                </div>
            </div>
        </div>
    </div>
</div>
