<div data-sly-test="${wcmmode.edit && !wcmmode.preview}" class="configure__container">[
    Configure ${component.title} Component ]
</div>
<sly data-sly-use.utilityModel="${'com.juniper.aem.models.UtilityModel'}"
     data-sly-set.compId="StandAloneVideo${utilityModel.uniqueId}"
     data-sly-use.standAloneVideo="com.juniper.aem.models.StandAloneVideoModel"
     data-sly-use.imageHelper="${'com.juniper.aem.helpers.ImageHelper' @ fileReference = standAloneVideo.imagePath}"></sly>
<div class="cmp-standalone-video ${properties.removeglobalspacing == 'true' ? 'no-spacing-bottom' : ''}" data-mod="standalone-video">
    <div class="standalone-video">
        <div class="standalone-video__container">
            <div class="standalone-video__container__image text-center">
                <a data-sly-test="${standAloneVideo.videoPath}" class="play-icon" href="#" title="${'Play Video' @ i18n}"
                   data-video-modal-id="${compId}">
                             <span class="${standAloneVideo.playIconColor == 'grey' ? 'juniper-icon icon-play-btn-hover' : 'juniper-icon icon-play-btn'}">
                                 <span class="path1"></span>
                                 <span class="path2"></span>
                            </span>
                </a>
                <img src="${standAloneVideo.imagePath}" alt="${standAloneVideo.altText || imageHelper.altText }"
                     class="w-100 h-auto"/>
            </div>
            <div data-sly-test="${standAloneVideo.description}" class="standalone-video__container__caption rte-content ${standAloneVideo.descriptionAlignment} extra-small">
                ${standAloneVideo.description @ context='html'}
            </div>
        </div>
    </div>
    <!--/* Modal Video */-->
    <sly
            data-sly-test="${standAloneVideo.videoPath}"
            data-sly-use.modalTemplate="/apps/juniper/components/htl-templates/video-overlay.html"
            data-sly-set.videoModalId="${compId}"
            data-sly-set.videoSrc="${standAloneVideo.videoPath}">
        <sly data-sly-call="${modalTemplate.modal @ modalId = videoModalId, videoUrl = standAloneVideo.videoPath}"></sly>
    </sly>
</div>