<div class="configure__container" data-sly-test="${wcmmode.edit}">[ Configure
    ${component.title} Component ]</div>
<div class="cmp-related-content container-fluid bg-black ${properties.removeglobalspacing == 'true' ? 'no-spacing-bottom' : ''}"
    data-sly-use.relatedcontent="com.juniper.aem.models.RelatedContentModel">
    <div class="related-content__container">
        <section class="related-content-wrapper">
            <div class="related-content-intro rte-content ">
                <div class="h1 related-content-heading" data-sly-test="${relatedcontent.title}">
                    <a data-sly-test="${relatedcontent.titleLink}" href="${relatedcontent.titleLink}" target="${relatedcontent.titleLinkTarget}">${relatedcontent.title}</a>
                    <sly data-sly-test="${!relatedcontent.titleLink}">${relatedcontent.title}</sly>
                 </div>
                <span class="large related-content-desc"
                    data-sly-test="${relatedcontent.description}">${relatedcontent.description
                    @context='html'}</span>
            </div>
            <div class="related-content-card-items"
                data-sly-list.relatedContentDataItem="${relatedcontent.relatedCards}">
                <div class="related-content-card-item"
                    data-sly-test="${relatedContentDataItem.layoutType == 'static'}">
                    <a href="${relatedContentDataItem.staticcontent.cardCtaLink}"
                        target="${relatedContentDataItem.staticcontent.cardTarget}">
                        <div class="thumbnail">
                            <span class="card-title"
                                data-sly-test="${relatedContentDataItem.staticcontent.cardEyebrow}">${relatedContentDataItem.staticcontent.cardEyebrow}</span>
                        </div> <span class="customer-name"
                        data-sly-test="${relatedContentDataItem.staticcontent.cardTitle}">${relatedContentDataItem.staticcontent.cardTitle}</span>
                        <div class="customer-description rte-content"
                            data-sly-test="${relatedContentDataItem.staticcontent.cardDescription}">${relatedContentDataItem.staticcontent.cardDescription
                            @context='html'}</div>
                        <div class="links">
                            <button class="juniper-btn juniper-btn--link readmore-link"
                                data-sly-test="${relatedContentDataItem.staticcontent.cardCtaText}">${relatedContentDataItem.staticcontent.cardCtaText}</button>
                            <span data-sly-test="${relatedContentDataItem.staticcontent.cardCtaText}" class="juniper-icon icon-arrow"></span>
                        </div>
                    </a>
                </div>
                <div class="related-content-card-item"
                    data-sly-test="${relatedContentDataItem.layoutType == 'dynamic'}">
                    <a href="${relatedContentDataItem.dynamic.assetCtaLink}"
                        target="${relatedContentDataItem.dynamic.assetTarget}">
                        <div class="thumbnail">
                            <span class="card-title">${relatedContentDataItem.dynamic.assetEyebrow}</span>
                            <img alt="${relatedContentDataItem.caseStudyModel.logoAltText}"
                                src="${relatedContentDataItem.caseStudyModel.logo}" />
                        </div> <span class="customer-name">${relatedContentDataItem.caseStudyModel.company}</span>
                        <div class="customer-description rte-content">${relatedContentDataItem.caseStudyModel.Description
                            @context='html'}</div>
                        <div class="tags">
                            <sly data-sly-list.tag="${relatedContentDataItem.dynamic.assetTags}">
                            <span
                                data-sly-use.tagHelper="${'com.juniper.aem.helpers.TagHelper' @tagId=tag}">${tagHelper.tagTitle}</span></sly>
                        </div>
                    </a>
                </div>
            </div>
        </section>
    </div>
</div>