<div class="wrapper">
  <div class="bg" *ngIf="backgroundImage" [swBackgroundImage]="backgroundImage"></div>
  <div class="inner">
    <div class="main">
      <div class="eyebrow" *ngIf="_hasStrLen(eyebrow)" [innerHTML]="eyebrow"></div>
      <div class="main-headline" *ngIf="_hasStrLen(headline)">
        <h2 [innerHTML]="headline"></h2>
      </div>
      <div *ngIf="body?.length > 0" class="main-body">
        <p *ngFor="let bodyItem of body" class="main-body-item" [innerHTML]="bodyItem"></p>
      </div>
      <div class="action-wrapper" *ngIf="_hasStrLen(action?.url) && _hasStrLen(action?.label)">
        <a sw-raised-button color="primary" [href]="action.url" [attr.target]="action.target"
          [swEval]="action.onclick"><span [innerHTML]="action.label"></span>
        </a>
      </div>
    </div>
  </div>
</div>
