@import '../../../styles/core/core-bundle';
@import '../../../styles/component/base/base-component';

:host {
  overflow: hidden;
}

.end-card {
  height: 100%;

  &::before {
    content: '';
    display: block;
    position: relative;
    padding-top: percentage(9 / 16);
  }

  & ::ng-deep {
    & sw-video-end-card {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }
  }
}

.video-wrapper {
  height: 100%;

  &::before {
    content: '';
    display: block;
    position: relative;
    padding-top: percentage( 9 / 16 );
  }

  & ::ng-deep {
    & iframe, & video {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}
