@import '../../../styles/core/core-bundle';
@import '../../../styles/component/base/base-component';

:host {
  @include type-body;
  text-align: left;
  color: $c-txt-on-dark;
  background-color: $c-grey-10;
  height: 100%;
}

.eyebrow {
  @include type-head4();
  margin-bottom: (2/3) + rem;
}

h2, .eyebrow {
  color: $c-txt-on-dark;
}

h2 {
  @include type-head1();
  margin: 0;
}

.wrapper {
  position: relative;
  display: block;
  overflow: hidden;
  height: 100%;

  &::before {
    content: '';
    z-index: 1;
    position: absolute;
    display: block;
    background: black;
    width: 100%;
    bottom: 0;
    left: 0;
    top: 0;
    opacity: 0.2;
  }
}

.bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  z-index: 0;
}

.main {
  @include media-respond-property(
    padding,
    root, sw-spacing(7) 0,
    sm, (sw-spacing(10) sw-spacing(5)),
    lg, (sw-spacing(14) sw-spacing(10))
  );

  @include media-width-up( map-get($breakpoint-map, sm) ) {
    text-align: center;
  }
}

.inner {
  max-width: $base--page-max-width;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
  z-index: 2;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.main-headline + .main-body {
  margin-top: sw-spacing(2);
}

.main-body {
  @include type-head4($line-height: $base--line-height-consensed);
  @include media-width-down( map-get($breakpoint-map, sm) ) {
    display: none;
  }
}

.action-wrapper { margin-top: sw-spacing(2) }

// Text items that use a text-shadow
h2, .main-body-item, .video-label {
  @include type-over-image-shadow;
}
