.explainerwithoutimages {
  margin-top: 48px;
  margin-bottom: 0px;

  @include media-breakpoint-up(md) {
    margin-top: 56px;
    margin-bottom: 64px;
  }

  @include media-breakpoint-up(lg) {
    margin-top: 104px;
    margin-bottom: 160px;
  }

  @include media-breakpoint-up(xl) {
    margin-top: 140px;
    margin-bottom: 140px;
  }

  .cmp-explainer {
    @extend .grid;
    padding: 0;
    overflow: inherit;
    .no-margin {
      margin-left: 0px;
      margin-right: 0px;
    }

    .content {
      width: 100%;
    }

    .heading {
      grid-column: 1/ span 4;
      margin-bottom: 8px;
      padding:0;

      @include media-breakpoint-up(md) {
        grid-column: 1/ span 8;
        margin-bottom: 16px;
      }

      @include media-breakpoint-up(lg) {
        grid-column: 1/ span 9;
        margin-bottom: 28px;
        padding:0;
      }

      @include media-breakpoint-up(xl) {
        margin-bottom: 24px;
      }

      & h2 {
        color: $black;
      }
    }

    .description {
      grid-column: 1/ span 4;
      //margin-bottom: 48px;
      padding:0;
      color: $gray-dark;
      @include media-breakpoint-up(md) {
        grid-column: 1/ span 8;
       // margin-bottom: 56px;
      }

      @include media-breakpoint-up(lg) {
        grid-column: 1/ span 9;
        //margin-bottom: 74px;
        padding:0;
      }

      @include media-breakpoint-up(xl) {
        //margin-bottom: 50px;
      }
    }

    .tiles {
      height: auto;
      position: relative;
      grid-column: 1/ span 4;

      @include media-breakpoint-up(md) {
        grid-column: 1/ span 8;
        max-width: 100%;
      }

      @include media-breakpoint-up(lg) {
        grid-column: 1/ span 9;
      }

      .hr {
        height: 0.3px;
        margin: 63.8px 0 0;
        background-color: #888d90;
      }
    

    .explainer__details {
      
          margin-top: 24px;

          @include media-breakpoint-up(md) {
            margin-top: 44px;
            align-items: center;
            margin-bottom: auto;
          }

          @include media-breakpoint-up(lg) {
            margin-top: 64px;
            align-items: center;
            margin-bottom: auto;
          }

          @include media-breakpoint-up(xl) {
            margin-top: 64px;
            align-items: center;
            margin-bottom: auto;
          }

          &:last-child {
            margin-bottom: auto;
          }

          .tiles-title {
            color: $black;
            font-size: 4.75rem;
            line-height: 1;
            letter-spacing: -0.19pc;

            @include media-breakpoint-up(md) {
              @include font-size(22);
            }
  
            @include media-breakpoint-up(lg) {
              @include font-size(26);
            }
  
            @include media-breakpoint-up(xl) {
              @include font-size(26);
            }

            h2 {
              @include media-breakpoint-up(lg) {
                @include font-size(26);
                line-height: 30px;
              }
    
              @include media-breakpoint-up(xl) {
                @include font-size(36);
                line-height: 36px;
              }
            }

            .heading--link {
              text-decoration: none;
              background-image: linear-gradient($black, $black);
              background-position: 0% 100%;
              background-repeat: no-repeat;
              background-size: 0% 1px;
              transition: background-size cubic-bezier(0, 0.5, 0, 1) 0.3s;
              color: inherit;

              &:hover {
                text-decoration: none;
                background-size: 100% 2px;
                color: $black;
              }
            }
          }

          & .shortdescription {
            margin-top: 8px;
            color: $gray-dark;

            @include media-breakpoint-up(lg) {
              margin-top: 24px;
            }
          }

          & .viewmore-pane {
            margin-top: 24px;

            @include media-breakpoint-up(md) {
              margin-top: 32px;
            }

            @include media-breakpoint-up(lg) {
              margin-top: 40px;
            }

            @include media-breakpoint-up(xl) {
              margin-top: 48px;
            }

            .readmore-link {
              @include lato-bold;
              @include font-size(16);
              line-height: 2.06;
              letter-spacing: -0.16px;

              @include media-breakpoint-up(md) {
                line-height: 2.06;
                letter-spacing: -0.16px;
                @include font-size(16);
              }

              @include media-breakpoint-up(lg) {
                line-height: 1.65;
                letter-spacing: -0.2px;
                @include font-size(20);
              }

              @include media-breakpoint-up(xl) {
                line-height: 1.65;
                letter-spacing: -0.2px;
                @include font-size(20);
              }
            }

            .icon-arrow {
              @include font-size(16);

              @include media-breakpoint-up(md) {
                @include font-size(16);
              }

              @include media-breakpoint-up(lg) {
                @include font-size(20);
              }

              @include media-breakpoint-up(xl) {
                @include font-size(20);
              }
            }
          }
    }
  }
  }
}