<sly
    data-sly-use.imageHelper="${'com.juniper.aem.helpers.ImageHelper' @ fileReference = model.imagePath}"></sly>

<template data-sly-template.version1="${@ data}">
<div
    class="textheadernoimage grid ${data.inverse == 'true' ? 'inverse' : ''}"
    role="textheadernoimage" data-mod="textheadernoimage">
    <h1 data-sly-test="${data.headerTextTitle}">${data.headerTextTitle @context='html'}</h1>
    <div class="textheadernoimage-description large rte-content"
        data-sly-test="${data.description}">${data.description
        @context='html'}</div>
    <sly data-sly-test.elq="${'http:' in data.ctaLink || 'https:' in data.ctaLink ? ['_elq.trackEvent(\u0027', data.ctaLink, '\u0027)'] : ['_elq.trackEvent(\u0027', request.getScheme,'://',request.getServerName, data.ctaLink, '\u0027)'] @ join = '' }"/>
    <a data-sly-test="${data.ctaText}" href="${data.ctaLink}"
        target="${'.html' in data.ctaLink ? data.target : '_blank'  @context='html' }" 
        onclick="${'.pdf' in data.ctaLink || '.doc' in data.ctaLink || '.xls' in data.ctaLink ? elq : ''  @ context='attribute'}"
        class="juniper-btn ${data.buttonColor == 'Select Cta Color' ? 'juniper-btn--link' : data.buttonColor} ">
        ${data.ctaText}
         <sly
            data-sly-test="${data.buttonColor=='juniper-btn--link' || data.buttonColor=='Select Cta Color'}">
            <span class="juniper-icon icon-arrow icon-size-2 ml-2"></span></sly>
        </a>
</div>
</template>

<template data-sly-template.version2="${@ data}"> <sly
    data-sly-use.imageHelper="${'com.juniper.aem.helpers.ImageHelper' @ fileReference = data.fileReference}"></sly>
<div class="container lhc-container">
    <div
        class="wrapper grid ${data.layoutType == 'chwi' ? 'variant2' : ''}">
        <div class="img-container ${data.backgroundColor}">
            <img src="${data.fileReference}" data-sly-test="${data.fileReference}"
                title="${data.imageAltText || imageHelper.altText}"
                alt="${data.imageAltText || imageHelper.altText}" />
        </div>
        <div class="text-container grid">
            <div class="content">
                <div class="title">
                    <h1>${data.headerTextTitle}</h1>
                </div>
                <div class="desc rte-content">${data.description @
                    context='html'}</div>
                <div class="cta" data-sly-test="${data.ctaText}">
                <sly data-sly-test.elq="${'http:' in data.ctaLink || 'https:' in data.ctaLink ? ['_elq.trackEvent(\u0027', data.ctaLink, '\u0027)'] : ['_elq.trackEvent(\u0027', request.getScheme,'://',request.getServerName, data.ctaLink, '\u0027)'] @ join = '' }"/>
                    <a href="${data.ctaLink}" 
                    target="${'.html' in data.ctaLink ? data.target : '_blank'  @context='html' }" 
        			onclick="${'.pdf' in data.ctaLink || '.doc' in data.ctaLink || '.xls' in data.ctaLink ? elq : ''  @ context='attribute'}"
                        class="juniper-btn ${data.buttonColor == 'Select Cta Color' ? 'juniper-btn--link' : data.buttonColor} ">
                        ${data.ctaText} 
                        <sly
                            data-sly-test="${data.buttonColor=='juniper-btn--link' || data.buttonColor=='Select Cta Color'}">
                            <span class="juniper-icon icon-arrow icon-size-2 ml-2"></span></sly>
                        </a>
                </div>
            </div>
        </div>
    </div>
</div>
</template>

<template data-sly-template.version3="${@ data}"> <sly
    data-sly-use.imageHelper="${'com.juniper.aem.helpers.ImageHelper' @ fileReference = data.fileReference}"></sly>
<div class="container lhc-container">
    <div class="wrapper grid variant2 ${data.imagePosition == 'left' ? 'inverse' : ''}">
        <div class="text-container grid ${data.backgroundColor}">
            <div class="content">
                <div class="title">
                    <h1>${data.headerTextTitle}</h1>
                </div>
                <div class="desc rte-content">${data.description @
                    context='html'}</div>
            </div>
        </div>
        <div class="img-container">
            <img src="${data.fileReference}" data-sly-test="${data.fileReference}"
                title="${data.imageAltText || imageHelper.altText}"
                alt="${data.imageAltText || imageHelper.altText}" />
        </div>
    </div>
</div>
</template>

