// Fonts
@import './core/fonts/fonts';

// Component bundle
@import './component/component-bundle';


.cdk-overlay-dark-backdrop {
    background: rgba(26, 26, 26, 0.6);
}

.cdk-overlay-backdrop.cdk-overlay-backdrop-showing {
    opacity: 1;
}

.tm-file-preview-dialog-panel {
    width: 780px;

    @include media-width-down(map-get($breakpoint-map, md)) {
        width: 720px;
    }

    @include media-width-down(map-get($breakpoint-map, sm)) {
        width: 320px;
    }
}

.cdk-global-overlay-wrapper {
    display: -ms-inline-grid;
    display: inline-grid;

    @media screen and (-ms-high-contrast: active),
    (-ms-high-contrast: none) {
        display: inline-flex;
    }
}

sw-datasheet-editorial sup {
    font-size: 10.75px;
}

sw-primary-nav,
.footer__top,
.be-related-link-container {
    max-width: 100% !important;

    & a.main-nav__logo {
        padding-left: 16px !important;
    }
}

body {
    overflow-x: hidden
}
