.cmp-graphs {
    
    @extend .component-bottom-spacing;

    .graphs {
        
        &__text {
            grid-column: 1/ span 4;
            @include media-breakpoint-up(lg) {
                grid-column: 2/ span 4;
            }
            &--header {
                color: $black;
                margin-bottom: 23px;
                @include media-breakpoint-up(md) {
                    margin-bottom: 16px;
                }
                @include media-breakpoint-up(lg) {
                    margin-bottom: 20px;
                }
                @include media-breakpoint-up(xl) {
                    margin-bottom: 24px;
                }
            }
            &--description {
                color: $gray-dark;
                font-size: 16px;
                letter-spacing: -0.32px;
                line-height: 1.44;
                @include media-breakpoint-up(md) {
                    font-size: 17px;
                    letter-spacing: -0.34px;
                    line-height: 1.41;
                }
                @include media-breakpoint-up(lg) {
                    font-size: 18px;
                    letter-spacing: -0.36px;
                    width: 90%;
                }
            }
        }
        &__container {
            margin-top: 64px;
            grid-column: 1/ span 4;
            @include media-breakpoint-up(md) {
                margin-top: 0;
                grid-column: 6/ span 4;
            }
            @include media-breakpoint-up(lg) {
                grid-column: 7/ span 4;
            }
            &--wrapper {
                &:not(:first-child) {
                    margin-top: 48px;
                    @include media-breakpoint-up(lg) {
                        margin-top: 65px;
                    }
                }
            }
            &__graph {
                &__bars {
                    &--background, &--foreground {
                        height: 17px;
                        &.size--big {
                            height: 55px
                        }
                    }
                    &--background {
                        position: absolute;
                        top: 0;
                    }
                }
                &__data {
                    color: $gray-dark;
                    font-size: 14px;
                    line-height: 1.43;
                    letter-spacing: -0.14px;
                    margin-top: 16px;
                    @include media-breakpoint-up(md) {
                        font-size: 15px;
                        line-height: 1.4;
                        letter-spacing: -0.3px;
                    }
                    @include media-breakpoint-up(lg) {
                        font-size: 16px;
                        line-height: 1.44;
                        letter-spacing: -0.32px;
                    }
                }
            }
            &__title {
                color: $black;
                font-size: 18px;
                line-height: 1.33;
                letter-spacing: -0.36px;
                margin-bottom: 16px;
                @include media-breakpoint-up(md) {
                    font-size: 20px;
                    line-height: 1.25;
                    letter-spacing: -0.4px;
                    margin-bottom: 13px;
                }
                @include media-breakpoint-up(lg) {
                    font-size: 18px;
                    line-height: 1.44;
                    letter-spacing: -0.36px;
                    margin-bottom: 16px;
                }
                &.size--big {
                    font-size: 22px;
                    line-height: 1.09;
                    letter-spacing: -0.66px;
                    @include media-breakpoint-up(md) {
                        font-size: 26px;
                        line-height: 1.15;
                        letter-spacing: -0.78px;
                    }
                    @include media-breakpoint-up(lg) {
                        font-size: 26px;
                        line-height: 1.15;
                        letter-spacing: -0.52px;
                    }
                    @include media-breakpoint-up(xl) {
                        font-size: 36px;
                        line-height: 1;
                        letter-spacing: -0.72px;
                    }
                }
            }
            &__descriptive-text {
                color: $gray-dark;
                font-size: 14px;
                line-height: 1.43;
                letter-spacing: -0.14px;
                margin-bottom: 24px;
                @include media-breakpoint-up(md) {
                    font-size: 15px;
                    line-height: 1.4;
                    letter-spacing: -0.3px;
                }
                @include media-breakpoint-up(lg) {
                    font-size: 16px;
                    line-height: 1.44;
                    letter-spacing: -0.32px;
                    margin-bottom: 30px;
                }
                @include media-breakpoint-up(xl) {
                    font-size: 16px;
                    line-height: 1.44;
                    letter-spacing: -0.32px;
                    margin-bottom: 31px;
                }
            }
            &__line {
                margin-top: 23px;
                margin-bottom: 48px;
                @include media-breakpoint-up(lg) {
                    margin-top: 24px;
                }
            }
        }
    }
}