.cmp-global-overlay {
    button.close {
        right: 0;
        z-index: $zindex-modal;
    }
}

.modal-backdrop {
    background-color: $modal-dark-backdrop-bg;
    }
    
.modal-backdrop.dark-mode {
    background-color: $modal-dark-backdrop-bg;
    &.show {
        opacity: $modal-dark-backdrop-opacity;
    }
}