<div data-sly-test="${wcmmode.edit && !wcmmode.preview}"
    class="aem-helper edit__formcontainer">[ Configure
    ${component.title} Component ]</div>

<div class="cmp-formcontainer grid ${properties.theme}"
    data-mod="formcontainer">

    <sly data-sly-test="${properties.variant == 'form-on-right'}">
    <div class="left-top">
        <div class="edit__formcontainer"
            data-sly-test="${wcmmode.edit && !wcmmode.preview}">[
            Top Container ]</div>
        <div data-sly-unwrap
            data-sly-resource="${'heading' @ resourceType='wcm/foundation/components/parsys'}" />
    </div>

    <div class="right">
        <div class="edit__formcontainer"
            data-sly-test="${wcmmode.edit && !wcmmode.preview}">[
            Form Container ]</div>
        <div data-sly-unwrap
            data-sly-resource="${'formfieldcontainer' @ resourceType='wcm/foundation/components/parsys'}" />
    </div>

    <div class="left-bottom">
        <div class="edit__formcontainer"
            data-sly-test="${wcmmode.edit && !wcmmode.preview}">[
            Bottom Container ]</div>
        <div data-sly-unwrap
            data-sly-resource="${'content' @ resourceType='wcm/foundation/components/parsys'}" />
    </div>

    </sly>

    <sly data-sly-test="${properties.variant == 'form-on-left'}">
    <div class="right-top">
        <div class="edit__formcontainer"
            data-sly-test="${wcmmode.edit && !wcmmode.preview}">[
            Top Container ]</div>
        <div data-sly-unwrap
            data-sly-resource="${'heading' @ resourceType='wcm/foundation/components/parsys'}" />
    </div>

    <div class="left">
        <div class="edit__formcontainer"
            data-sly-test="${wcmmode.edit && !wcmmode.preview}">[
            Form Container ]</div>
        <div data-sly-unwrap
            data-sly-resource="${'formfieldcontainer' @ resourceType='wcm/foundation/components/parsys'}" />
    </div>

    <div class="right-bottom">
        <div class="edit__formcontainer"
            data-sly-test="${wcmmode.edit && !wcmmode.preview}">[
            Bottom Container ]</div>
        <div data-sly-unwrap
            data-sly-resource="${'content' @ resourceType='wcm/foundation/components/parsys'}" />
    </div>
    </sly>
</div>

<!--/* Externals Forms JS files */-->
<sly
    data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html"
    data-sly-call="${clientlib.js @ categories=['juniper.formsExternals', 'juniper.forms' ]}" />

<script type="text/javascript" src="//sfc.leadspace.com/SmartForms.js"
    data-token="31391"></script>
