@import '../../../styles/core/core-bundle';
@import '../../../styles/component/base/base-component';

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  border-bottom: 1px solid $c-grey-30;
  white-space: nowrap;

  &:last-of-type {
    border-bottom: 0;
  }
}

a {
  height: 100%;
  line-height: $base--line-height-normal;
  text-align: left;
  padding: sw-spacing(2) 0;
  white-space: normal;

  sw-icon {
    display: inline;
    margin-left: -0.25em;
  }
}
span {
  height: 100%;
  line-height: $base--line-height-normal;
  text-align: left;
  padding: sw-spacing(2) 0;
  white-space: normal;
}
a.no_padding{
  padding-top:0px;
  padding-bottom:0px;
  min-width:0px;
  color:#0277BD;
}
div.padding{
  padding-bottom: 16px;
}
