<div class="wrapper">
    <ul>
      <li *ngFor="let i of items">
        
        <a *ngIf="_hasLength(i.label) && !_hasLength(i.description)" [href]="i.url" sw-button [color]="buttonColor" [target]="i.target"
           (click)="handleClick($event, i)" [swEval]="i.onclick">
          <span class="list__label" [innerHTML]="i.label"></span>&nbsp;<sw-icon size="xs">navigate_next</sw-icon>
        </a>
        <div *ngIf="_hasLength(i.label) && _hasLength(i.description)" class="padding">
        <a  class="no_padding" [href]="i.url" sw-button [color]="buttonColor" [target]="i.target"
           (click)="handleClick($event, i)" [swEval]="i.onclick">
           <sw-icon size="xs">navigate_next</sw-icon>
          <span class="list__label" [innerHTML]="i.label"></span>
        </a>&nbsp;
        <span class="list__label" [innerHTML]="i.description"></span>
      </div>
      <span *ngIf="_hasLength(i.description) && !_hasLength(i.label)" class="list__label" [innerHTML]="i.description"></span>
      </li>
    </ul>
  </div>
  